<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-general.ejs %>

                    <section class="blade wrapper content">
                        <!-- section -->

                    <div>
                      <h1>Remote Access</h1>
                      <h4>Access your INSTAR IP Camera over the Internet</h4>
                    </div>

                    <div class="row">

                      <a href="/Internet_Access/The_DDNS_Service/">
                        <div class="mediaObject six columns shadow">
                            <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_IA-DDNS_white.png"></amp-img>
                          <div>
                            <h3>DDNS Service</h3>
                            <p>The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                          </div>
                        </div>
                      </a>

                      <a href="/Internet_Access/Port_Forwarding/">
                        <div class="mediaObject six columns shadow">
                            <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_IA-Port-Forwarding_white.png"></amp-img>
                          <div>
                            <h3>Forwarding</h3>
                            <p>The IN-2905 v2 is the successor of the popular IN-2905. Dozens of Upgrades makes this camera on par with the more high-end line of INSTAR cameras.</p>
                          </div>
                        </div>
                      </a>

                    </div>
                    <!-- /row -->

                    <div class="row">

                      <a href="/Internet_Access/DDNS_Provider/">
                        <div class="mediaObject six columns shadow">
                            <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_IA-Third-Party_white.png"></amp-img>
                          <div>
                            <h3>DDNS Provider</h3>
                            <p>The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                          </div>
                        </div>
                      </a>

                    </div>
                    <!-- /row -->

                  </section>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
