<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="action">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Mobile Access</h1>
                                    <p class="intro">
                                      Access your camera with your smartphone or tablet - when you are at home, or over the internet. Our P2P and DDNS Service enables you to keep an eye on your belongings - whether you are at home or on the road.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article class="blade wrapper content">
                      <!-- article -->

                      <div>
                          <h3>III.	Access your Camera over it´s DDNS Address</h3>
                          <p>Please read <a href="/Internet_Access/The_DDNS_Service/">Step I</a> on how to configure your camera. And <a href="/Internet_Access/Port_Forwarding/">Step II</a> for the necessary router configuration. In the following we will use our web browser as well as our InstarVision smartphone app to access the INSTAR IP camera remotely.</p>
                          <p>Please open your camera´s Web User Interface and navigate to <strong>Network > DDNS</strong> (<a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">1080p Series</a> / <a href="/Web_User_Interface/720p_Series/Network/DDNS/">720p Series</a>). Copy your personal DDNS address into your browser´s address bar amd add your camera´s external port- e.g test12.ddns3-instar.de:8081. This address will guide you to your camera´s user interface. <strong>Some routers don´t allow you to use your camera´s DDNS address from inside your local network! (e.g. Telekom Speeport)</strong></p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <amp-img
                              on="tap:ddns_address_in_browser"
                              role="button"
                              tabindex="0"
                              src="/images/Internet_Access/ddns_address_in_browser.png" width="325" height="75" layout="responsive" class="shadow">
                          </amp-img>
                      </div>

                      <div class="margin">
                        <p>To access your camera you can always use the same DDNS address. So if you have more then one camera you only need to remember one address. Most important is that you change the port behind the DDNS number. The reason behind it is that your internet service provider is assigning you a new IP address every 24 hours. Once the address is changed the camera notices this and sents it to the server in order to connect it to our DDNS address. This way you can always access your camera with one address even so the IP behind it changes. So even if you are using different DDNS addresses they all link to one address. So with every address you will access your router. And because of the port forwarding your router then knows to which device you want to be forwarded to. So for example we type the following to access the cameras:</p>
                        <ul>
                          <li>Camera 1: http://d2908.ddns-instar.com:8081</li>
                          <li>Camera 2: http://d2908.ddns-instar.com:8082</li>
                          <li>Camera 3: http://d2908.ddns-instar.com:8082 and so on...</li>
                        </ul>
                        <p><strong>Remark</strong>: It can take up to half an hour for your DDNS address to activate. If your connection fails, wait for 30min (restart your router as it might have cached the earlier failed attempt) and then try again.</p>
                      </div>

                      <div class="margin">
                        <h3>InstarVision Mobile Apps</h3>
                        <p>To add your camera to our free mobile app InstarVision, use the network scanner to find cameras on your local network. Or open the DDNS menu (<a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">1080p Series</a> / <a href="/Web_User_Interface/720p_Series/Network/DDNS/">720p Series</a>) to scan your camera´s QRcode:</p>
                        <ul>
                          <li><a href="/Software/Windows/InstarVision/Windows_Phone/DDNS/">Windows Phone</a></li>
                          <li><a href="/Software/Windows/InstarVision/Metro/DDNS/">Windows 8/10 (Metro)</a></li>
                          <li><a href="/Software/iOS/InstarVision/iPhone/DDNS/">iPhone</a></li>
                          <li><a href="/Software/iOS/InstarVision/iPad/DDNS/">iPad</a></li>
                          <li><a href="/Software/Android/InstarVision/DDNS/">Android</a></li>
                        </ul>
                      </div>

                </article>
                <!-- /article -->

                <amp-image-lightbox id="ddns_address_in_browser" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
