<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Der P2P Service</h1>
                                    <p class="intro">
                                      Wenn Sie mit dem Smartphone auf Ihre Kamera zugreifen möchten, ist Point2Point (P2P) die unkomplizierteste Verbindungsart. In der WebUI der Kamera finden Sie unter Netzwerk – P2P einen QR-Code (diesen finden Sie auch auf der Packung der Kamera). Wenn Sie diesen QR-Code mit der Instar-Smartphone-App einscannen, haben Sie die Kamera schon hinzugefügt und können auf diese, egal wo Sie sich selbst befinden, per Internet zugreifen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article class="blade wrapper content">
                      <!-- article -->

                    <div>
                        <h1 class="post-title">Der P2P Fernzugriff</h1>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Eine Point2Point-Verbindung mit der Kamera einrichten</h3>
                        <p class="desktop-up">Wenn Sie mit dem Smartphone auf Ihre Kamera zugreifen möchten, ist Point2Point (P2P) die unkomplizierteste Verbindungsart. In der WebUI der Kamera finden Sie unter Netzwerk – P2P einen QR-Code (diesen finden Sie auch auf der Packung der Kamera). Wenn Sie diesen QR-Code mit der Instar-Smartphone-App einscannen, haben Sie die Kamera schon hinzugefügt und können auf diese, egal wo Sie sich selbst befinden, per Internet zugreifen. Ein genaue Anleitung dazu finden Sie HIER.</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <h3>InstarVision Mobil-App</h3>
                      <h4>Nutzen Sie Ihr Smartphone oder Tablet um Ihre Kamera zu kontrollieren:</h4>
                      <ul>
                        <li><a href="/Software/Windows/InstarVision/Windows_Phone/P2P/">Windows Phone</a></li>
                        <li><a href="/Software/Windows/InstarVision/Metro/P2P/">Metro</a></li>
                        <li><a href="/Software/iOS/InstarVision/iPhone/P2P/">iPhone</a></li>
                        <li><a href="/Software/iOS/InstarVision/iPad/P2P/">iPad</a></li>
                        <li><a href="/Software/Android/InstarVision/P2P/">Android</a></li>
                      </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Sie sollten aber bedenken, dass Sie per P2P technisch bedingt keine Bilder von der SD-Karte abspielen können, und dass die Verbindung per P2P generell langsamer ist als eine Verbindung per DDNS. Außerdem kommen Sie per P2P nicht auf die Weboberfläche der Kamera.</p>
                        <p>DDNS bietet viele Vorteile gegenüber P2P und die Einrichtung einer Portweiterleitung ist nicht schwer, wenn Sie unserer Anleitung folgen. Falls möglich, raten wir Ihnen also zur Verbindung per DDNS. Eine Anleitung wie Sie diese Verbindung einrichten, finden Sie <a href="/Internet_Access/The_DDNS_Service/">HIER</a></p>
                        <p>Falls Ihnen Ihr Internetanbieter nur eine IPv6, aber keine IPv4 Adresse zuweisen kann, können Sie allerdings keine DDNS-Verbindung herstellen und sind für den Fernzugriff auf die Kamera auf P2P angewiesen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                      <div class="onecard">
                        <amp-youtube data-videoid="FjE95bL7_p4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
