<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/Vodafone_Easybox/">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Port Forwarding</h1>
                                    <h3>Setting up port forwarding in your Vodafone Easybox</h3>
                                    <p class="intro">
                                      To access your camera through the internet you will need a portforwarding service inside your router. For more general information about the ddns access please refer to <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HERE</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-ia.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Step 1</h3>
                        <br>
                        <amp-youtube data-videoid="CF8W5N4Q8Ws" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                        <br>
                        <p>To access the user interface of your router open the following address with your internet browser <a href="http://192.168.2.1">192.168.2.1</a>. The <strong>default login</strong> is username = root or admin and password = 123456. Navigate to the <strong>Port Mapping</strong> in the <em>Data</em> tab and click on the <strong>Edit</strong> symbol under Configure.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Easybox_01en.jpg" width="680" height="257" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Go to Data/Portmapping to configure a new port forwarding rule for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>Type your cameras IP address into the field <em>LAN IP</em>. You can find your cameras IP address using our IP Camera Tool. Set both the <strong>LAN</strong> and <strong>Public Port</strong> to the port you want to operate your camera on. The cameras default port ist 80. Click on <strong>Enter</strong> Symbol under Configure to save the service.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Easybox_02en.jpg" width="680" height="280" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Add the camera's IP address and adjust the forwarded port to the LAN port of your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>The service is now active.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Easybox_03en.jpg" width="680" height="275" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Adjust the forwarding rule.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 4</h3>
                        <p>Your camera can now be reached via the ddns address that can be found under <a href="/Web_User_Interface/HD_Series/Network/DDNS/">Network/DDNS</a> in your cameras user interface. In case the port 80 is already taken in your network you will have to change the camera port under Network/Basic Network Settings and of course adjust the portforwarding service to the new port.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Use your personal internet address under System/Info in the camera's web user interface to your camera from the road.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Adding More Cameras</h2>
                        <p>If you are using more then one camera you have to also create another Port rule for each camera.Please make sure that the <strong>Öffentliche Port</strong> is always different for each port forwarding. For example if you are using Port 8081 for the first camera then the second camera should have the Port 8082 and the third camera Port 8083 and so on.</p>
                        <p>To access each camera you would type in something like this:</p>
                        <ul>
                          <li><strong>Camera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Camera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>and so on...</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-ia-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
