<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Port Forwarding :: AVM Fritzbox</h1>
                                    <p class="intro">
                                      To access your camera through the internet you will need a portforwarding service inside your router. For more general information about the ddns access please refer to <a href="/Internet_Access/The_DDNS_Service/">HERE</a>. The following text will show you how to set up an AVM Fritzbox to allow you to access your camera when you are not at home.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                  <div>
                      <h1>Port-Forwarding :: AVM Fritzbox</h1>
                      <p> <i>This is the 2nd step of the Port Forwarding, click <a href="/Fernzugriff/Der_DDNS_Dienst/">here</a> to get to the beginning of the manual.</i></p>
                      <br>
                      <amp-youtube data-videoid="pgHhCcSAV2w" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      <br>
                                          </div>
                  <!-- /margin -->

                  <div class="margin">
                      <h2>Fritzbox 7490 &amp; 7390</h2>
                  </div>
                  <!-- /margin -->
                  <p>Open the WebUI of your FritzBox Router by typing „fritz.box“ in your browser, or by alternatively typing its IP-address (by default: 192.168.178.1). Log-in and you will find yourself in the main menu of your FritzBox. In the menu, head to <strong>Internet > Freigaben</strong> and click on <strong>Gerät für Freigaben hinzufügen</strong>. (In older WebUI it might be called "Neue Portfreigabe")</p>
                  <div class="margin">
                    <amp-img
                        on="tap:Portforwarding-Fritzbox-7490de_new_01"
                        role="button"
                        tabindex="0"
                        src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_new_01.png" width="993" height="526" layout="responsive" class="shadow">
                    </amp-img>
                  </div>
                    <p>In this new window under <strong>Gerät</strong> choose your camera. Check if the IP-address is correct and then click on <strong>Neue Freigabe</strong> in the bottom right.</p>

                  <div class="margin">
                    <amp-img
                        on="tap:Portforwarding-Fritzbox-7490de_new_02"
                        role="button"
                        tabindex="0"
                        src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_new_02.png" width="1343" height="736" layout="responsive" class="shadow">
                    </amp-img>
                  </div>
                  <!-- /margin -->
                  <div class="margin">
                    <p>Here you have to apply the settings as follows:</p>
                    <table>
                      <tr>
                          <td width="30%">
                              <strong>Anwendung</strong>
                          </td>
                          <td>Here you choose <strong>Andere Anwendung</strong>.
                      </tr>
                        <tr>
                            <td width="30%">
                                <strong>Bezeichnung</strong>
                            </td>
                            <td>Choose a name for your camera, for example <strong>Camera Entrance</strong>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Protokoll</strong>
                            </td>
                            <td>Here you choose TCP</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Port an Gerät</strong>
                            </td>
                            <td>Here you set the port for your camera, which you already set in step 1. So for camera 1 it´s <strong>8081</strong>, for your 2nd camera it´s <strong>8082</strong> etc.</tr>
                        <tr>
                            <td width="20%">
                                <strong>Bis Port</strong>
                            </td>
                            <td>Here you set the same port as in the array before (8081 etc.)</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Port extern gewünscht</strong>
                            </td>
                            <td>Here you set the same port as in the arrays before (8081 etc.)</tr>
                            </table>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                    <amp-img
                        on="tap:Portforwarding-Fritzbox-7490de_new_03"
                        role="button"
                        tabindex="0"
                        src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_new_03.png" width="992" height="448" layout="responsive" class="shadow">
                    </amp-img>
                  </div>
                  <!-- /margin -->
                  <p>By clicking on <strong>OK</strong> and then <strong>Übernehmen</strong>, the settings will be saved and the camera is listed in the Port Forwardings.</p>
                  <p>To be able to access the Flash-Video as well, there has to be set a second Port Forwarding. Therefore just follow the manual of this step, with the only difference to to set the Flash-Port instead. So for your first camera all ports are set to 1935, for your second camera it´s 1936, etc.</p>
                  <div class="margin">
                    <amp-img
                        on="tap:Portforwarding-Fritzbox-7490de_new_0"
                        role="button"
                        tabindex="0"
                        src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_new_04.png" width="992" height="448" layout="responsive" class="shadow">
                    </amp-img>
                  </div>

                    <p>Now all Port Forwarings for your camera are set in the router. You can now continue with the next step, therefore follow this Link:</a>.</p>

                    <div class="margin">
                      <h3>Step III : The Camera´s DDNS-Address and the Remote-Access</h3>
                        <br>
                        <a href="/Internet_Access/Mobile_Access/"><button type="button" class="btn">Step III</button></a>
                    </div>
                    <!-- /margin -->
                  <br>
                  <div class="margin">
                      <h2>Trouble Shooting</h2>
                      <p><strong>Mobile Accesspoints</strong> - 3G / LTE Router which use a SIM-card often don´t get an IP-Address which is needed for the DDNS-Service. If you use a mobile internet connection on the network of your camera and you´re not able to access it through the internet, you should ask your provider if it is possible to get a WAN IP. Most of the bussiness contracts usually offer this option. A public IP-Address is needed to access the camera by using DDNS.</p>
                      <p>Another problem cause could be a <strong>DS-Lite</strong> (Dual Stack Lite) connection. It is not possible to access your camera via DDNS if you are using DS-Lite. This is the case if your provider is using IPv6-addresses instead of IPv4-addresses. You can check <a href="http://www.wieistmeineip.de/">here</a>, if you have an IPv4-address.</p>
                      <p>If you´re using a <strong>mobile Accesspoint</strong> or <strong>IPv6</strong> with your camera, there is only one solution for the remote access. All of our HD-Cameras have a Point-2-Point UserID (P2P UID), which makes remote access possible no matter which internet conection you use with your camera.</p>
                      <p>Another reason why you can´t remotely access your camera via DDNS might be the <strong>Kindersicherung (child safety device)</strong> of your FritzBox. You can check in the list for the child safety for your camera and grant it <strong>unbeschränkt (unlimited)</strong> access.</p>
                  <!-- /margin -->

              </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_06" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_07" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_08" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_09" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
