<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/Netgear/">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Port Forwarding</h1>
                                    <h3>Setting up port forwarding in your Netgear Router</h3>
                                    <p class="intro">
                                      To access your camera through the internet you will need a portforwarding service inside your router. For more general information about the ddns access please refer to <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HERE</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h3>Step 1</h3>
                        <p>To access the user interface of your router open the following address with your internet browser <a href="http://192.168.1.1">192.168.1.1</a>. The default login is username = admin and password = password. Navigate to the <strong>Port Forwarding/Port Triggering</strong> in the <strong>Advanced</strong> menu. Type your cameras IP address into the field <strong>Server IP Address</strong>. You can find your cameras IP address using our IP Camera Tool. Click on <strong>Add</strong> to save the service.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Netgear_01en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Netgear_01en.jpg" width="480" height="313" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Go to Advanced/Portforwarding and type in your cameras IP address to set a new port forwarding rule for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>You will need to change both the start and end port to the port you want to operate your camera on. Click on <strong>Edit Service</strong> to customize the service.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Netgear_02en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Netgear_02en.jpg" width="480" height="317" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Click on edit service to adjust the forwarded port to the LAN port of your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>You can now choose a service name, set the protocol to TCP and choose your camera port for both the starting port and ending port. The default port for your camera is the port 80.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Netgear_03en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Netgear_03en.jpg" width="480" height="312" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Adjust the forwarding rule.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 4</h3>
                        <p>Click <strong>Apply</strong> to activate the service.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Netgear_04en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Netgear_04en.jpg" width="480" height="315" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>The rule is active after you applied the settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Adding More Cameras</h2>
                        <p>If you are using more then one camera you have to also create another Port rule for each camera.Please make sure that the <strong>Öffentliche Port</strong> is always different for each port forwarding. For example if you are using Port 8081 for the first camera then the second camera should have the Port 8082 and the third camera Port 8083 and so on.</p>
                        <p>To access each camera you would type in something like this:</p>
                        <ul>
                          <li><strong>Camera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Camera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>and so on...</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Netgear_01en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Netgear_02en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Netgear_03en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Netgear_04en" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
