<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/Pirelli/">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Port Forwarding</h1>
                                    <h3>Setting up port forwarding in your Pirelli Router (A1 Austria)</h3>
                                    <p class="intro">
                                      To access your camera through the internet you will need a portforwarding service inside your router. For more general information about the ddns access please refer to <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HERE</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-ia.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Step 1</h3>
                        <p>To access the user interface of your router open the following address with your internet browser (click <a href="http://portforward.com/networking/routers_ip_address.htm">HERE</a> for more information). Type in your login credentials (click <a href="http://portforward.com/default_username_password/Pirelli.htm">HERE</a> for more information). Navigate to the <strong>Portforwarding</strong> in the <strong>Sicherheit</strong> menu. Click on <strong>Neuer Eintrag</strong> to add a port forwarding rule for your camera. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Pirelli-A1-Port-forwarding_01.png" width="600" height="423" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Go to Sicherheit/Portforwarding and click on Neuer Eintrag to set a new port forwarding rule for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>Type your cameras IP address into the field <strong>Lokaler Rechner</strong>. You can find your cameras IP address using our IP Camera Tool. Click on Ok to save your settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Pirelli-A1-Port-forwarding_02.png" width="600" height="407" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Type in your cameras IP address to set a new port forwarding rule for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>Set the protocol to user defined <strong>Benutzerdefiniert</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Pirelli-A1-Port-forwarding_03.png" width="600" height="424" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Set the protocol to user defined <strong>Benutzerdefiniert</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 4</h3>
                        <p>Name the service and click on <strong>Neue Server Ports</strong> to add your camera´s web port (http port - see camera WebUI <a href="/Web_User_Interface/HD_Series/Network/IP_Configuration/">Network/IP Configuration</a>).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Pirelli-A1-Port-forwarding_04.png" width="600" height="359" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Name the rule and click on <strong>Neue Serverports</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 5</h3>
                        <p>Choose TCP as your service protocol and set the <strong>Quellport</strong> to <strong>Beliebig</strong>. The destination Port <strong>Zielport</strong> is your camera´s webport/internal port/http port (see camera webUI - Network/IP Configuration). We recommend using a port higher then 8081 - note if you have to change the port, you have to change it here <strong>and</strong> in the cameras webUI! Your camera can now be reached via the ddns address that can be found under System/Info in your cameras user interface (s. above). In case the port 80 is already taken in your network you will have to change the camera port under Network/Basic Network Settings and of course adjust the portforwarding service to the new port. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/Pirelli-A1-Port-forwarding_05.png" width="600" height="370" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Type in your camera´s webPort and use your personal internet address under <a href="/Web_User_Interface/HD_Series/Network/DDNS/">Network/DDNS</a> in the camera's web user interface to your camera from the road.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Adding More Cameras</h2>
                        <p>If you are using more then one camera you have to also create another Port rule for each camera.Please make sure that the <strong>Öffentliche Port</strong> is always different for each port forwarding. For example if you are using Port 8081 for the first camera then the second camera should have the Port 8082 and the third camera Port 8083 and so on.</p>
                        <p>To access each camera you would type in something like this:</p>
                        <ul>
                          <li><strong>Camera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Camera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>and so on...</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Updated User Interface</h3>
                        <p>The user interface for Pirelli router was recently updated and might look like this:</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/Pirelli-A1-Port-forwarding_06.png" width="600" height="348" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-ia-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
