<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Port Forwarding :: AVM Fritzbox</h1>
                                    <p class="intro">
                                      To access your camera through the internet you will need a portforwarding service inside your router. For more general information about the ddns access please refer to <a href="/Internet_Access/The_DDNS_Service/">HERE</a>. The following text will show you how to set up an AVM Fritzbox to allow you to access your camera when you are not at home.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h3>General Recommendation</h3>
                        <br>
                        <amp-youtube data-videoid="pgHhCcSAV2w" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                        <br>
                        <p>INSTAR VGA camera live streams can only be accessed via the HTTP port (default 80) that is also used by the web user interface (webUI). In case of an INSTAR HD camera you can also use the RTSP stream that is transported via a different port (default 554).<br/><br/>It is recommended not to open the default ports to the internet - as this can make your local network vulnerable against attacks. There is also a problem that default ports might be used by different services and not be available. Some internet provider even block all ports from 1 - 1024, forcing you to use a much higher port for your camera. Fortunately, there are plenty of ports to choose from - <strong>65536</strong> ( 2<sup>16</sup> ) to be specific. We recommend you try using a port that is bigger than 8080 - the last port that is regularly used by web based services. Please keep in mind that changing the default HTTP port of your camera forces you to add this new port to the IP address of your camera separated by a ":" if you want to access the web user interface with your browser locally - e.g. 192.168.178.199:<strong>8081</strong>. It might, therefore, be more convenient to forward the RTSP port instead and access the camera through our smartphone app as "RTSP" camera. This way you will not be able to access the cameras webUI - but this can be an advantage from a security point of view. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Fritzbox 7490</h2>
                        <h3>Set your Camera Ports</h3>
                        <p>First, take a look at your cameras HTTP and - in case of a HD model - RTSP port. As mentioned above, they can be changed to non-default port. Remember the port you have chosen and open your router in a new tab - the default IP address is 192.168.178.1, alternatively, you can type fritz.box to navigate to the user interface. The default login is username = admin and the password is provided on a sticker at the back of your FritzBox.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_01"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_00.png" width="482" height="599" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>You HD cameras live stream is accessible via two ports that can be forwarded. For VGA cameras you only have to worry about the HTTP port.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_02"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_01.png" width="1000" height="617" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Open the router web user interface via the default IP address 192.168.178.1 or by typing fritz.box into the address bar of your browser.</p>
                        <h3>Setup a Portforwarding Rule</h3>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_03"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_02.png" width="993" height="526" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Go to Internet/Freigaben and click on <strong>Neue Portfreigabe</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_04"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_03.png" width="994" height="420" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Choose <strong>Andere Anwendung</strong> from the drop down menu.</p>
                        <p>To forward a port open Internet / Freigaben and click on <strong>Neue Portfreigabe</strong>. Now fill out the following dialogue:</p>
                        <ul>
                          <li><strong>Portfreigabe aktiv für</strong>: Choose <em>Andere Anwendung</em>.</li>
                          <li><strong>Bezeichnung</strong>: Here you can choose a name for the port forwarding. If you have more then one port forwarding we recommend you to use a unique name.</li>
                          <li><strong>Protokoll</strong>: Please select <em>TCP</em>.</li>
                          <li><strong>von Port</strong>: Choose the port you set inside your camera - HTTP or RTSP. Remember that every camera needs a unique port - you cannot use the same port for different cameras. Remember to add the Port at the end of your cameras internet address if you want to access it from another place. For example if your camera uses <em>Port 8081</em> you have to type (xxx.ddns-instar.com:8081).</li>
                          <li><strong>bis Port</strong>: Here you can fill in the same Port as in <em>von Port</em> or you can leave it blank.</li>
                          <li><strong>an IP Adresse</strong>: Please fill in the IP address which your camera is using. This is the same address which you are using to access your camera through the web browser in your local network. It should start with 192.168.178.x. If you cannot find the camera´s IP in the drop-down menu, choose <em>Manuelle Eingabe</em> and type it in manually.</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_05"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_04.png" width="992" height="448" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Fill out the remaining fields according to the information above.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_06"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_05.png" width="990" height="559" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Repeat those steps for the second port if you choose to forward both the HTTP and RTSP port for your camera.<br/><br/>In the example above, the HD camera can now be reached from the internet via the HTTP port 8081 - just type in your camera´s DDNS address (XXXXXX.ddns-instar.com) - you can find it in the camera´s webUI under <a href="/Web_User_Interface/HD_Series/Network/DDNS/">Network/DDNS</a> - into our smartphone app and add the web port 8081 in the field underneath. If you choose to add the camera via it´s RTSP stream - choose the camera model with the added (RTSP) from the drop down menu - type in the RTSP port 51001 instead. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Fritzbox 7390</h2>
                        <p>To access the user interface of your router open the following address with your internet browser <a href="http://192.168.178.1" target="_blank">192.168.178.1</a> . The default login is username = admin and the password is provided on a sticker at the back of your FritzBox. Navigate to the menu <em>Internet</em> and then <em>Freigaben</em> as shown below to fill in the following data:</p>
                        <ul>
                          <li><strong>Portfreigabe aktiv für</strong>: Either you choose <em>Portfreigabe aktiv für</em> or <em>Andere Anwendung</em>.</li>
                          <li><strong>Bezeichnung</strong>: Here you can choose a name for the port forwarding. If you have more then one port forwarding we recommend you to use a unique name.</li>
                          <li><strong>Protokoll</strong>: Please select <em>TCP</em>.</li>
                          <li><strong>von Port</strong>: lease choose "80" as the Port. If you are already using this Port for another camera or Server you can also choose another Port. If you are using more then one Port you have to remember to add the Port at the end of your cameras Internet address if you want to access it from another place. For example if your camera uses Port 81 you have to type (xxx.ddns-instar.com:81).</li>
                          <li><strong>bis Port</strong>: Here you can fill in the same Port as in von Port or you can leave it blank. </li>
                          <li><strong>an IP Adresse</strong>: Please fill in the IP address which your camera is using. This is the same address which you are using to access your camera through the web browser in your local network. It should start with 192.168.178.x.</li>
                          <li><strong>an Port</strong>: Please fill in Port 80.</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Troubleshooting</h2>
                        <p>As mentioned above, choosing the right port for your camera is vital. The default ports work most of the time - but if they don´t, it can be very difficult to figure out who the culprit is. It is best to choose a port outside of the regular range of web ports if you run into problems. Especially, mobile internet providers often block ports up to 1024 or even to 8080.</p>
                        <p>Mobile access points - <strong>3G / LTE</strong> routers that are operated via SIM cards - often do not provide a public IP address that is needed for the DDNS service. If you are using mobile internet and you cannot connect to your camera from external network, check if your contract offers a static WAN IP address. This is often provided with Business Packages but not available for lower priced contracts. A public address for your router is mandatory for the DDNS access to work!</p>
                        <p>Another problem are so called <strong>DS-Lite (Dual Stack Lite)</strong> connections - it is, in general impossible, to access your camera via DDNS if your provider assigns you a DSLite connection. You can check if this is the case by checking if you have an IPv6 address next to your normal IPv4 address <a href="http://www.wieistmeineip.de/">>>Click Me<<</a>.</p>
                        <p>The solution for both the missing public IP and DSLite tunnels is a new technology that was added to the HD camera line. All INSTAR HD cameras come with a <a href="/Web_User_Interface/HD_Series/Network/P2P/">Point-2-Point UserID</a> (P2P UID) that allows you to connect our mobile app to the camera without the need of a port forwarding. This technology will work behind mobile access points without a public IP as well as behind DSLite IPv6 connections.</p>
                        <p>Another Problem might be the parental control settings inside your router. Please check if your camera is allowed to connect to the internet in the Kindersicherung (<strong>Parental Control</strong>) section: </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_07"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/PC-Fritzbox-7490de_01.png" width="1000" height="617" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Click on Kindersicherung on the main page, or....</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_08"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/PC-Fritzbox-7490de_02.png" width="993" height="526" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>...go to Internet/Filter and check if there are any restrictions active for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Portforwarding-Fritzbox-7490de_09"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/PC-Fritzbox-7490de_03.png" width="994" height="420" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>If yes, click on the pencil button to lift the restriction (choose <em>Unbeschränkt</em>).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Adding More Cameras</h2>
                        <p>If you are using more then one camera you have to also create another Port rule for each camera.Please make sure that the <strong>Öffentliche Port</strong> is always different for each port forwarding. For example if you are using Port 8081 for the first camera then the second camera should have the Port 8082 and the third camera Port 8083 and so on.</p>
                        <p>To access each camera you would type in something like this:</p>
                        <ul>
                          <li><strong>Camera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Camera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>and so on...</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><u><strong>Note</strong>:</u><br/></br/> You can access all cameras with only one internet address. Only the Port at the end has to be changed. Therefore, you do not have to remember all DDNS addresses of the camera. You only need to remember one address.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_06" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_07" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_08" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Portforwarding-Fritzbox-7490de_09" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
