<!DOCTYPE html>
<html ⚡ lang="de">

<head>
  <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
</head>

<body class="home">
  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>
  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>
  <div class="wrap mobile-down">
    <div class="content">
      <section class="hero internetAccess">
        <div class="container">
          <div class="row">
            <div class="six columns">
              <div class="intro-container">
                <h1>The INSTAR DDNS Service</h1>
                <p class="intro justify">In general, we have to differentiate between two types of connections. You can access your camera's WebUI over its internal IP address - which usually starts with 192.168.x.x or 10.0.x.x. This means that the computer as well as the camera are running in the same network and are most likely connected to the same router. You can then connect to the camera using the private IP address of the camera. The other connection is the external access from outside your network. In this case you need to use your camera's DDNS address ta access the WebUI from anywhere in the world. No matter if you are sitting in the train using a smartphone or if you are on holidays using a laptop. To make this possible a few settings are necessary in the camera as well as in your router. This tutorial shows you step by step how to set up the external connection.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="wrap">
    <div class="container main">
      <% include ../_partials/content/_bluenav-general.ejs %>
        <article class="blade wrapper content">
          <div>
            <h1 class="post-title desktop-up">The INSTAR DDNS Service</h1>
            <h2>Three Easy Steps to access your Camera through the Internet</h2></div>
            <div class="margin desktop up">
              <h4>The basic concept of remote access</h4>
              <p class="desktop-up">In general, we have to differentiate between two types of connections. You can access your camera's WebUI over its internal IP address - which usually starts with 192.168.x.x or 10.0.x.x. This means that the computer as well as the camera are running in the same network and are most likely connected to the same router. You can then connect to the camera using the private IP address of the camera. The other connection is the external access from outside your network. In this case you need to use your camera's DDNS address ta access the WebUI from anywhere in the world. No matter if you are sitting in the train using a smartphone or if you are on holidays using a laptop. To make this possible a few settings are necessary in the camera as well as in your router. This tutorial shows you step by step how to set up the external connection.</p>
              <p>Ports are numbered connections, which are used by the computer to connect different types of network traffic. Services such as FTP on Port 21 or HTTP on Port 80 are already determined, many operating systems can even choose the right ports for their respective services on their own. For security reasons, all ports to the internet are closed inside your router by default. This is the reason, why you cannot access your camera through the internet without forwarding a port. To make this possible, there have to be applied some settings. In the following will be explained how to establish the remote access to your camera step-by-step.</p>
            </div>

            <div class="card-container margin">
              <div class="onecard">
                <amp-youtube data-videoid="FjE95bL7_p4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
              </div>
            </div>

            <div class="margin">
              <h3>I. Static IP Address</h3>
              <p>First of all, connect to your camera in your local network. Then, inside the WebUI, choose <strong>Network > IP Configuration</strong> (1st Image: <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/" target="_blank">1080p Series</a> / 2nd Image <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/" target="_blank">720p Series</a> / 3rd Image: <a href="#">VGA Series</a>), whereupon the following window appears:</p>
            </div>

          <amp-carousel id="carousel-with-preview"
            class="shadow"
            width="480"
            height="400"
            layout="responsive"
            type="slides">
            <amp-img src="/images/Internet_Access/IP-Configuration_FHD.png"
              width="596"
              height="549"
              layout="responsive"
              alt="1080p FHD Web User Interface"></amp-img>
            <amp-img src="/images/Internet_Access/IP-Configuration_HD.png"
              width="472"
              height="650"
              layout="responsive"
              alt="720p FHD Web User Interface"></amp-img>
            <amp-img src="/images/Internet_Access/IP-Configuration_VGA.png"
              width="409"
              height="203"
              layout="responsive"
              alt="VGA FHD Web User Interface"></amp-img>
          </amp-carousel>
          <div class="carousel-preview">
            <button on="tap:carousel-with-preview.goToSlide(index=0)">
              <amp-img src="/images/Internet_Access/IP-Konfiguration_FHD-thumb.jpg"
                width="60"
                height="40"
                alt="1080p FHD Web User Interface"></amp-img>
            </button>
            <button on="tap:carousel-with-preview.goToSlide(index=1)">
              <amp-img src="/images/Internet_Access/IP-Konfiguration_HD-thumb.jpg"
                width="60"
                height="40"
                alt="720p FHD Web User Interface"></amp-img>
            </button>
            <button on="tap:carousel-with-preview.goToSlide(index=2)">
              <amp-img src="/images/Internet_Access/IP-Konfiguration_VGA-thumb.jpg"
                width="60"
                height="40"
                alt="VGA FHD Web User Interface"></amp-img>
            </button>
          </div>

          <div class="margin">
            <table>
              <tr>
                <td width="20%"> <strong>IP-Address</strong></td>
                <td>Here you have to choose an IP-Address for your camera. But be aware, that the IP Address has to relate to your router! Taking the Fritzbox as an example, the beginning of the IP-Address is <strong>192.168.178.XXX</strong> by default, for a Telekom Speedport Router it is <strong>192.168.2.XXX</strong>. To avoid mistakes in your local network, we recommend to choose the last number higher than 200 (outside of the default DHCP range). If you own a FritzBox, then you take the 192.168.178.201 for your first camera, for your second camera you choose 192.168.178.202, and so on.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>Subnetmask</strong></td>
                <td>Enter <strong>255.255.255.0</strong> by default.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>Gateway</strong></td>
                <td>In most cases the gateway is the IP Address of your router, for example 192.168.178.1 if you own a FritzBox, or 192.168.2.1 if you own a Telekom Speedport Router.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>DNS Server</strong></td>
                <td>In most cases it is your router that handles DNS on your network - just enter the IP Address of your router.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>HTTP Port</strong></td>
                <td>Here you have to enter a different port for each of your camera, starting at <strong>8081</strong> ascending. Meaning for camera 1 enter 8081, for camera 2 enter 8082, etc. (In case of a <strong>Full HD Camera</strong> leave this Port on 80)</td>
              </tr>
              <tr>
                <td width="20%"> <strong>HTTPS Port</strong></td>
                <td>This is <strong>only for the FullHD-Cameras</strong> - Here you have to enter a different port for each of your cameras, starting at <strong>8081</strong> ascending, meaning for camera 1 enter 8081, for camera 2 enter 8082, etc. <a href="/Software/Mobile_Access_Over_HTTPS" target="_blank">Click here</a> if you don't have audio inside our mobile app InstarVision.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>RTMP Port</strong></td>
                <td>Here you have to enter a port starting at <strong>1935</strong> ascending. Thus for camera 1 should be set to port 1935, for camera 2 port it´s 1936, etc. This is only important, if you want to access your camera over the internet inside a web browser. You don't need to configure or forward the RTMP/Flash Port in case you only use our smartphone app InstarVision.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>RTSP Port</strong></td>
                <td>Here you have to enter a port starting at <strong>554</strong> ascending. Thus for camera 1 it´s port 554, for camera 2 port it´s 555, etc. Only configure and forward this port, if you plan to access your cameras RTSP stream over the internet. The RTSP stream is needed for certain 3rd Party Software - as well as - when you are having difficulties with audio <a href="/Software/Mobile_Access_Over_HTTPS" target="_blank">difficulties with audio</a> with your Full HD Camera.</td>
              </tr>
            </table>
            <br><p>Then click on submit to apply the settings.</p>
          </div>

          <div class="margin">
              <h4>No Audio with your 1080p Camera?<a href="/Software/Mobile_Access_Over_HTTPS/">&nbsp;&nbsp;&nbsp;<button type="button" class="navGo navGoRed">HTTPS &amp; Audio</button></a></h4>
          </div>
          <!-- /margin -->

          <div class="margin">
            <p>Now navigate to <strong>System > Info</strong> (<a href="/Web_User_Interface/1080p_Serie/System/Info/" target="_blank">1080p Serie</a> / <a href="/Web_User_Interface/720p_Series/System/Info/" target="_blank">720p Serie</a>). There you can see the current DDNS-Status. When the status is "successful", your camera registered on our server and <strong>you can continue with Step 2</strong>, where we will set up your router for the remote access. (Otherwise follow the (red) Troubleshooting below.)</p>
          </div>

          <div class="margin">
            <h3>II. Forward a Port inside your Router</h3><br> <a href="/Internet_Access/Port_Forwarding/"><button type="button" class="btn">Step II</button></a>
          </div>

          <div class="primarycard">
            <p class="justify"><strong><u>Excursus:</u></strong><br/><br/>Please be reminded, that the first 3 numbers of the IP address define the IP subnet of your LAN (local area network). In our sample we used an AVM Fritz!Box router, which uses the 192.168.178.X subnet, and the Telekom Speedport from T-Mobile, which uses the 192.168.2.X subnet by default. Most other common routers such as TP-Link or others are using the 192.168.1.x subnet.</p>
            <p>The "x" can be a number between 1 and 254. Routers, usually, use the number "1". In our sample above, we used 201 as the IP address for the camera. This avoids conflicts induced by the router´s DHCP Server. If the address is too low (for example 100), then there is chance that the same IP is already assigned to a different device - which would lead to an IP address conflict. If you are experiencing troubles accessing the IP address of your camera, you should try changing the IP Address - using our <a href="/Quick_Installation/Alternative_IP_Scanner/">Camera Tool</a> - and see if it works then.</p>
            <p>After you have set the IP address of the camera, you can then access it - from a computer or phone/tablet inside the same network - in any web browser and the web interface of the camera should open. If you don´t know the IP address of your router, you can check it in the MS-Dos Command window, by typing in "ipconfig", this will show you your computer´s and the router´s IP address.</p>
          </div>
          <div class="dangercard">
            <h4>Trouble Shooting:</h4>
            <p>If the DDNS Status in your camera is being displayed as "Not successful", reboot your camera and check again, also check the settings applied in step 1. Especially if you receive an Error that there is something wrong with your network configuration</p>
            <p>Please keep in mind, that it takes a while to register your camera. Also the status might be unsuccessful but accessing your camera is still possible. Also, some routers - especially Telekom Speedports - don't allow you to access your DDNS address from inside your local network. You will have to deactivate WiFi on your phone and try accessing the DDNS address through your phone providers Data network!</p>
            <p>If after one day you are still unable to connect to your camera via it's DDNS address, it might be possible that your internet connection doesn´t have a public IPv4 Address. In that case you would have to use the <a href="/Internet_Access/Point_to_Point/">P2P Function</a> for remote access.</p>
            <p>If the entry of the Domain is missing, please <a href="https://www.instar.de/contact_us/" target="_blank">contact our Support</a> so that we can give you a new Domain.</p>
            </li> <a href="/Internet_Access/The_DDNS_Service/Test_DDNS_Address/"><button type="button" class="btn">DDNS Test</button></a></div>
        </article>

    </div>
  </div>
  <% include ../_partials/content/_bluenav-general-mobile.ejs %>
    <footer>
      <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>
</body>

</html>
