<!DOCTYPE html>
<html ⚡ lang="de">

<head>
  <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
</head>

<body class="home">
  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>
  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>
  <div class="wrap mobile-down">
    <div class="content">
      <section class="hero internetAccess">
        <div class="container">
          <div class="row">
            <div class="six columns">
              <div class="intro-container">
                <h1>The INSTAR DDNS Service</h1>
                <p>In general we have to differentiate between two types of connections. One connection is the internal access which with we access the WebUI of the camera. This means that the computer as well as the camera are running in the same network and are most likely connected to the same router. You can then connect to the camera using the private IP address of the camera. The other connection is the external access to open the WebUI of the camera from outside your network. With this connection you can allow the access from anywhere in the world to your camera. No matter if you are sitting in the train using a smartphone or if you are on holidays using a laptop to access. To make this possible a few settings are necessary in the camera as well as in your router. This tutorial shows you step by step how to set up the external connection.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="wrap">
    <div class="container main">
      <% include ../_partials/content/_bluenav-general.ejs %>
        <article class="blade wrapper content">
          <div>
            <h1 class="post-title">The INSTAR DDNS Service</h1>
            <h4>Three Easy Steps to access your Camera through the Internet</h4></div>
          <div>
            <h3>The basic concept of remote access</h3>
            <p>Software-Ports are numbered connections, which are used by the computer to connect different types of network traffic. Services such as FTP on Port 21 or HTTP on Port 80 are already determined, many operating systems can even choose the right
              ports for their respective services on their own. When a port in the router is being opened, a service will be assigned to that port, such as an IP-camera. For security reasons, all ports to the internet are closed in the router by default.
              This is the reason, why you can not access your camera through the internet without port forwarding.</p>
          </div>
          <div class="margin desktop up">
            <p class="intro"> There are two types of connections to your camera. The first type of connection is the internal access to get to the Web-UI of the camera. This requires, that the computer and the camera are in the same local network, connected by the same
              router. The second type of connection is the remote access, which allows to access the Web-UI of the camera through the internet from all over the world. Thereby it doesn´t matter if you´re sitting in the train using your smartphone, or
              if you are in your holiday resort using a laptop. To make this possible, there have to be applied some settings. In the following will be explained how to establish the remote access to your camera step-by-step.</p>
          </div>
          <div class="card-container margin">
            <div class="onecard">
              <amp-youtube data-videoid="FjE95bL7_p4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
            </div>
          </div>
          <div class="margin">
            <h3>I. Static IP Address</h3>
            <p>First of all, connect to your camera in your lcoal network. Then, in the Web-UI choose <strong>Network > IP-Configuration</strong> (<a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/" target="_blank">1080p Serie</a> / <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/"
                target="_blank">720p Serie</a>), whereupon the following window appears:</p>
          </div>
          <div class="margin">
            <figure>
              <amp-img on="tap:Port_Forwarding_EN_01" role="button" tabindex="0" src="/images/Internet_Access/Port_Forwarding_EN_01.png" width="584" height="452" layout="responsive" class="shadow"></amp-img>
              <figcaption>In this window should already be deactivated the "Obtaining the IP-Address from the DHCP Server“. The data below have to be adjusted as follows:</figcaption>
            </figure>
          </div>
          <div class="margin">
            <table>
              <tr>
                <td width="20%"> <strong>IP-Adress</strong></td>
                <td>Here you have to choose an IP-Address for your camera. But be aware, that the IP-Adress has to relate to your router! Taking the Fritzbox as an example, the beginning of the IP-Address is <strong>192.168.178.XXX</strong> by default, for
                  a Telekom Speedport Router it is <strong>192.168.2.XXX</strong>. To avoid mistakes in your lcoal network, we recommend to choose a last number higher than 200. If you own a FritzBox, then you take the 192.168.178.201 for your first camera,
                  for your second camera you choose 192.168.178.202, and so on.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>Subnetmask</strong></td>
                <td>Here you enter <strong>255.255.255.0</strong> by default.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>Gateway</strong></td>
                <td>Here you enter the IP-Address of your router, for example 192.168.178.1 if you own a FritzBox, or 192.168.2.1 if you own a Telekom Speedport Router.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>DNS Server</strong></td>
                <td>Here you have to enter the IP-Adress of your router as well.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>HTTP Port</strong></td>
                <td>Here you have to enter a different port for each of your camera, starting at <strong>8081</strong> ascending. Meaning for camera 1 enter 8081, for camera 2 enter 8082, etc.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>HTTPS Port</strong></td>
                <td>(This is only for the FHD-cameras) Here you have to enter a different port for each of your cameras, starting at <strong>9091</strong> ascending, meaning for camera 1 enter 9091, for camera 2 enter 9092, etc.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>RTMP Port</strong></td>
                <td>Here you have to enter a port starting at <strong>1935</strong> ascending. Thus for camera 1 it´s port 1935, for camera 2 port it´s 1936, etc.</td>
              </tr>
              <tr>
                <td width="20%"> <strong>RTSP Port</strong></td>
                <td>Here you have to enter a port starting at <strong>554</strong> ascending. Thus for camera 1 it´s port 554, for camera 2 port it´s 555, etc.</td>
              </tr>
            </table>
          </div>
          <div class="margin">
            <p>Then click on submit to apply the settings.</p><br>
            <p>Now navigate to <strong>System > Info</strong> (<a href="/Web_User_Interface/1080p_Serie/System/Info/" target="_blank">1080p Serie</a> / <a href="/Web_User_Interface/720p_Series/System/Info/" target="_blank">720p Serie</a>). There you can
              see the current DDNS-Status. When here is written "succesful", your camera succesfully registered on our server and <strong>you can continue with Step 2</strong>, in which will be set up your router for the remote access. (Otherwise follow
              the instructions below.)</p>
          </div>
          <div class="margin">
            <h3>II. Port Forwarding in the Router</h3><br> <a href="/Internet_Access/Port_Forwarding/"><button type="button" class="btn">Step II</button></a></div>
          <div class="primarycard">
            <p class="justify"><strong><u>Excursus:</u></strong><br/><br/>Please be reminded, that the first 3 numbers of the IP-address define the IP-area of the router. In our sample we used the AVM Fritz!Box, which uses the spectrum 192.168.178.X, and the Telekom Speedport
              from T-Mobile, which uses the IP area 192.168.2.X by default. Most other common routers such as TP-Link or others are using the IP area 192.168.1.x. The "x" can be a number between 1 and 256. All routers are usually using the number "1".
              In our sample above, we used 201 as the IP address for the camera. This avoids conflicts induced by the router´s DHCP Server. If the address is too low (for example 100), then the chance that the same number is given to two different devices
              is high (once by you and once by the DHCP Server). If you are experiencing troubles accessing the IP address of your camera, you might change the IP-Address and see if it works then. After you have set the IP address of the camera, you can
              then access it in any webbrowser and the web interface of the camera should open. It is necessay, that your device to access the camera is connected to your local network. If you don´t know the IP address of your router, you can check it
              in the MS-Dos Command window, by typing in "ipconfig", this will show you the computer´s and the router´s IP address.</p>
          </div>
          <div class="dangercard">
            <h4>Trouble Shooting:</h4>
            <p>If the DDNS-Service in your camera is being displayed as "Not succesful", reboot your camera and check again, also check the settings applied in step 1. It´s possible, that it takes a while to establish the connection. If after one day there
              is still no connection, it might be possible that your internet connection doesn´t have an IPv4-Address. In that case you would have to use the <a href="/Internet_Access/Point_to_Point/">P2P Function</a> for remote access.</p>
            <p>If the entry of the Domain is missing, please <a href="https://www.instar.de/contact_us/" target="_blank">contact our Support</a> so that we can give you a new Domain.</p>
            </li> <a href="/Internet_Access/The_DDNS_Service/Test_DDNS_Address/"><button type="button" class="btn">DDNS Test</button></a></div>
        </article>
        <!-- ###################### Lightboxes ######################## -->
        <amp-image-lightbox id="Port_Forwarding_EN_01" layout="nodisplay"></amp-image-lightbox>
    </div>
  </div>
  <% include ../_partials/content/_bluenav-general-mobile.ejs %>
    <footer>
      <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>
</body>

</html>
