<footer><section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
				<h5 class="footer-heading">INFORMATIONEN</h5>
				<ul class="footer-items">
				<li><a href="www.instar.de/news/index">Aktuelle Meldungen</a></li>
				<li><a href="www.instar.de/impressum">Impressum</a></li>
				<li><a href="www.instar.de/agb">Allg. Geschäftsbedingungen</a></li>
				<li><a href="www.instar.de/revocation">Widerrufsrecht</a></li>
				<li><a href="www.instar.de/privacy">Datenschutz</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5 class="footer-heading">WARUM BEI UNS KAUFEN</h5>
				<ul class="footer-items">
				<li><a href="www.instar.de/news/index">Kundenservice</a></li>
				<li><a href="www.instar.de/impressum">Sichere Zahlungsarten</a></li>
				<li><a href="www.instar.de/agb">Sicheres Einkaufen</a></li>
				<li><a href="www.instar.de/revocation">Internationaler Versand</a></li>
				<li><a href="www.instar.de/privacy">Händler &amp; Partner</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5 class="footer-heading">KONTAKT</h5>
				<ul class="footer-items">
				<li>RAIFFEISENSTRASSE 12</li>
				<li>65510 HÜNSTETTEN</li>
				<li>Deutschland</li>
				<li>TEL: +49 (6438) 9198992</li>
        <li><p class="text-muted"><small><i class="fa fa-copyright"></i> 2016 INSTAR Deutschland GmbH</small></p></li>
				</ul>
			</div>
			<div class="offset-md-1 col-md-2">
				<h5 class="footer-heading">INSTAR APPS</h5>
        <table class="table table-inverse table-hover">
          <tbody>
            <tr>
              <td>
                <a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8"><img class="app-links" src="/images/appstore_iphone.png" class="img-fluid shadow"/>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de"><img class="app-links" src="/images/appstore_android.png" class="img-fluid shadow"/></a>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp"><img class="app-links" src="/images/appstore_windows.png" class="img-fluid shadow"/></a></td>
            </tr>
          </tbody>
        </table>
			</div>
        </div> <!-- /row -->
    </div> <!-- /container -->
</section></footer>
