<nav class="navbar navbar-fixed-top navbar-dark bg-inverse shadow">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#CollapsingNav">
        &#9776;
    </button>
    <!-- Logo -->
    <a class="hidden-lg-up pull-right" href="/">
        <img src="http://wiki.instar.de/instar_245x77.png" class="img-fluid glow" style="max-height: 30px;" alt="INSTAR Deutschland GmbH"/>
    </a>
    <div class="collapse navbar-toggleable-md" id="CollapsingNav">
        <a class="navbar-brand hidden-md-down" href="/">
            <img src="http://wiki.instar.de/instar_245x77.png" class="img-fluid glow" style="max-height: 30px;" alt="INSTAR Deutschland GmbH"/>
        </a>
        <!-- Inline List Navigation -->
        <ul class="nav navbar-nav hidden-md-down impact">
            <li class="nav-item" style="padding-left: 15px;">
                <a class="nav-link" href="/Products"><i class="fa fa-shield" aria-hidden="true">&nbsp; Products</i></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Quick_Installation"><i class="fa fa-bolt" aria-hidden="true">&nbsp; Installation</i></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Internet_Access"><i class="fa fa-cloud" aria-hidden="true">&nbsp; Internet Access</i></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Motion_Detection"><i class="fa fa-user-secret" aria-hidden="true">&nbsp; Motion Detection</i></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Advanced_User"><i class="fa fa-code" aria-hidden="true"></i>&nbsp; Advanced User</i></a>
            </li>
        </ul>
        <!-- Button Navigation for Mobile -->
        <div class="container hidden-lg-up mt">
            <a href="/">
                <button class="btn btn-primary btn-lg btn-block" type="button">Home</button>
            </a>
            <br/>
            <a href="/Search">
                <button class="btn btn-primary btn-lg btn-block" type="button">Search</button>
            </a>
            <br/>
            <a href="/Products">
                <button class="btn btn-primary btn-lg btn-block" type="button">Products</button>
            </a>
            <br/>
            <a href="/Quick_Installation">
                <button class="btn btn-primary btn-lg btn-block" type="button">Quick-Installation</button>
            </a>
            <br/>
            <a href="/Internet_Access">
                <button class="btn btn-primary btn-lg btn-block" type="button">Internet Access</button>
            </a>
            <br/>
            <a href="/Motion_Detection">
                <button class="btn btn-primary btn-lg btn-block" type="button">Motion Detection</button>
            </a>
            <br/>
            <a href="/Advanced_User">
                <button class="btn btn-primary btn-lg btn-block" type="button">Advanced User</button>
            </a>
            <br/>
        </div>
        <!-- Search -->
        <form method="get" action="/Search/Results" class="form-inline pull-right hidden-lg-down ">
            <input type="text" name="q" autocomplete="off" class="form-control" type="text" placeholder="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</nav>
