<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ######################### Breadcrumbs ############################ -->

        <div class="container">
          <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
            <li class="breadcrumb-item"><a href="/Products/">Products</a></li>
            <li class="breadcrumb-item"><a href="/Indoor_Cameras/">Indoor Cameras</a></li>
            <li class="breadcrumb-item active">IN-3011</li>
            <li class="breadcrumb-item"><a href="/Indoor_Cameras/IN-3011/Technical_Specifications">Technical Specifications</a></li>
            <li class="breadcrumb-item"><a href="http://www.instar.de/downloads/indoor/dl_3011">Downloads</a></li>
          </ol>
        </div>

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-12 mb">
                    <h1>IN-3011</h1>
                    <h3 class="text-muted">Product Overview</h3>
                </div>

                <div class="col-12">
                  <img src="/images/IN-3011_Overview_width1650.png" alt="IN-3011 Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-12 mb">
                  <p class="text-justify"><strong>1.)</strong> Photodiode for twilight switch, <strong>2.)</strong> Standard 6mm F/2.0 infrared lense, <strong>3.)</strong>  Infrared LED´s for night vision, <strong>4.)</strong> Loudspeaker, <strong>5.)</strong> High quality ABS housing and Internal microphone, <strong>6.)</strong> Audio-out for external Speaker, <strong>7.)</strong> RJ45 ethernet connector, <strong>8.)</strong> Wifi antenna, <strong>9.)</strong> Alarm I/O connector for external devices, <strong>10.)</strong> DC power supply connector</p>
                </div>

                <div class="col-12">
                  <p class="text-justify">The IN-3011 is an all round solution for indoor surveillance. The camera head is remotely controllable and equipped with infrared diodes to utilize night vision in pitch dark environments. It features integrated speakers and a microphone which makes the perfect camera for monitoring your baby or toddler. Any device (i.e. smartphones) can connect to the cameras web interface and allows you to control the pan &amp; tilt feature. With 280 degree horizontally and 120 degree vertically the pan and tilt feature basically covers the whole area in front of the camera. Thanks to its compact size and its modern design you won't be just limited to use it as a surveillance camera but also for your personal projects. The <a href="/Motion_Detection/Alarm_FTP_Upload">FTP support</a> allows you to use the IN-3011 as a multi-functional webcam for <a href="/Advanced_User/Website_Integration">integration on your website</a>. The difference between the IN-3010 and the IN-3011 is that this camera allows you to manually switch off the infrared lights. This enables you to see through windows at night without being troubled by reflections from the IR LEDs. </p>
                </div>

            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-3011</h4>
                  <h6 class="card-subtitle text-muted">Indoor IP Camera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/INSTAR_IN-3011_Infobox.png" alt="IN-6001 HD" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Indoor_Cameras/IN-3011/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Specifications</a>
                    <a href="/Indoor_Cameras/IN-3011/Downloads" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                  <a href="http://www.instar.de/indoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Compare</a>
                  <a href="http://www.instar.de/ip-innenkameras/in-3011-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  Go to Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Remote controlled Pan&amp;Tilt - 288° pan and 120° tilt</li>
                <li>2-Way audio via an integrated microphone and speakers</li>
                <li>Alarm I/O for external sensors (e.g. <a href="/Products/IN-Motion">motion</a> or smoke detectors) and receivers (e.g. house automations)</li>
                <li>Detachable wallmount with a standard 1/4 inch thread (compatible with regular camera tripods, e.g. GorillaPods)</li>
              </ul>

              <h3>Network</h3>

              <ul>
                <li>RJ-45 Ethernet port for an easy integration into your 100Mbit home network</li>
                <li>DHCP and UPnP support for an automatic network integration</li>
                <li>Compatible with <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi IEEE 802.11 b/g</a> up to 54Mbit networks with WEP, WPA and WPA2 security</li>
                <li>Integrated individual <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") address</a> to access your camera through the Internet</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> and <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Web user interface allows an easy configuration and canera control through your default web browser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Manage all your cameras from your PC with the integrated multi view for up to 9 cameras (only IE)</li>
                <li>Software-based motion and audio detection and email notification with attached snapshots</li>
                <li>Record videos directly on your PC (only IE)</li>
              </ul>
            </div>

          </div>
          <!-- /row -->
              <div class="row mt">

                  <div class="col-12">
                    <p class="text-justify">TThe IN-3011 is the perfect camera for indoor surveillance inside your office or house - light, compact and versatile with a camera module that is less then 10cm in height. It is designed to be used as a tabletop camera but can be attached to walls or ceilings by it´s stand. The camera can easily be controlled through your smartphone from inside your network and also over the internet - via the free-of-charge <a href="/Internet_Access/The_DDNS_Service">integrated DDNS service</a>. Thanks to the integrated microphone the camera can also be used for audio surveillance - transforming this model into the baby monitor of your choice. The IN-3011 can easily be connected to your network by using its 54MBit (802.11b/g) <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi module (WPA/WPA2)</a> or through the 100MBit network interface to ensure a fluid videostream. The camera can also see during the night thanks to 8 infrared LEDs operating at a wavelength of 850nm. The max. indoor range for the cameras night vision is around 5-8 meters. If an alarm is triggered the camera can send an <a href="/Motion_Detection/Alarm_Notification">email to notify you</a>. Each email also has 4-6 pictures attached. This way it will be very easy to check quickly what caused the alert to make sure your home is safe. </p>
                  </div>

              </div>
              <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
