<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">

                  <div>
                    <h2>IN-6001 HD</h2>
                    <h4>Indoor surveillance in 720p resolution</h4>

                    <div class="card-container margin">
                        <div class="onecard">
                            <div class="title">
                            <h3>Product Overview</h3>
                            </div>
                            <div class="image">
                                <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-6001_Overview_width1650.png" width="1246" height="629" layout="responsive"></amp-img>
                            </div>
                            <div class="action">
                                <p class="justify"><strong>1.)</strong> Integrated Microphone, <strong>2.)</strong> Photodiode twilight switch, <strong>3.)</strong>  4.3mm wide angle F/2 infrared lense, <strong>4.)</strong> Infrared LED´s for night vision, <strong>5.)</strong> Loudspeaker, <strong>6.)</strong> Wall Mount, <strong>7.)</strong> RJ45 Ethernet connector, <strong>8.)</strong> DC power supply connector, <strong>9.)</strong> MicroSD card slot, <strong>10.)</strong> Reset button, <strong>11.)</strong> Status LEDs</p>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <p class="justify">The IN-6001 HD is the smallest INSTAR HD 720p camera for indoor surveillance inside your office or house. The camera can easily be controlled through your smartphone from inside your network and also over the internet. The camera can easily be connected to your network by using its 108MBit (802.11b/g/n) Wi-Fi module (WPA/WPA2) or through the 100MBit network interface to ensure a fluid video stream. The camera can also see during the night thanks to 8 Infrared LEDs operating at a wavelength of 850nm. The max. indoor range for the cameras night vision is around 5-10 meters. The spiritual successor of the IN-3001 will bring you all the features that you are used to from our VGA series, combined with a superior resolution of 1280x720 Pixel and the possibility to record videos on an integrated SD card. If an alarm is triggered the camera can send an email to notify you. Each email also has 4 pictures attached. This way it will be very easy to check quickly what caused the motion to make sure your home is safe.</p>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up margin">
                    <div class="six columns margin">
                      <h4>Nightvision (Minimum / Maximum) [m]</h4>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-6001_HD/Nightvision_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns margin">
                      <h4>Angle of View (Diagonal, Horizontal, Vertical) [°]</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-6001_HD/Angle_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                  <div class="margin">
                    <h3>Hardware</h3>

                    <ul>
                      <li>Wide Dynamic Range (WDR) HD 720p colour CMOS Sensor</li>
                      <li>Automatic IRcut filter for natural colours</li>
                      <li>8 Infrared LEDs (850nm) for nightvision</li>
                      <li>2-Way audio via an integrated microphone and speakers</li>
                    </ul>

                    <h3>Network</h3>

                    <ul>
                      <li>RJ-45 Ethernet port for an easy integration into your 100Mbit home network</li>
                      <li>Compatible with <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g/n up to 54Mbit networks with WEP, WPA and WPA2 security</li>
                      <li>DHCP and UPnP support for an automatic network integration</li>
                      <li>Integrated individual <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") address</a> to access your camera through the Internet</li>
                    </ul>

                    <h3>Software</h3>

                    <ul>
                      <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> and <a href="/Software/Windows">Windows Phone 8</a> App</li>
                      <li>Web user interface allows an easy configuration and canera control through your default web browser (Chrome, Safari, Firefox, Internet Explorer)</li>
                      <li>Multi user management and simultaneous login for 3 users</li>
                      <li>Software-based motion and audio detection and email notification with attached snapshots</li>
                      <li>Record videos directly on your PC (only IE)</li>
                    </ul>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up margin">
                    <div class="six columns">
                      <h3>IN-6001 HD vs. IN-8015 HD</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-6001_HD/6001v8015/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns">
                      <h3>IN-6001 HD vs. IN-3011</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-6001_HD/6001v3011/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                </section>
                <!-- /blade -->

        </div>
        <!-- /container main -->
    </div>
    <!-- /wrap-->

    <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

    <footer>
        <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>

</body>

</html>
