<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6012_HD/Point2Point">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-6012 HD Point2Point Setup</h1>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Attach the wifi antenna to the cameras antenna connector as shown here (<a href="/Indoor_Cameras/IN-6012_HD/Product_Features">#11</a>). (only for the non-PoE Version!)</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"> In case you are installing the PoE model, plug in the LAN cable (<a href="/Indoor_Cameras/IN-6012_HD/Product_Features">#10</a>), connect it to your router and skip the WiFi section below.<br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Plug in the power supply (<a href="/Indoor_Cameras/IN-6012_HD/Product_Features">#12</a>) to start the camera.<br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">If your router supports the WPS (Wireless Protected Setup) function, please press the WPS button on the router, which looks similar to the example above. (only for the non-PoE Version!)</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Press the cameras reset button for 3 seconds to activate the cameras WPS service (<a href="/Indoor_Cameras/IN-6012_HD/Product_Features">#13</a>). Wait for max. 5min for the camera to connect to your Wifi network. If you press it for 10s, the camera will be reset to it´s factory defaults!</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Start our <a href="/Software/Android/InstarVision">Android</a>, <a href="/Software/iOS/InstarVision">iOS</a> or <a href="/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a> app Instar Vision. Choose to add a new p2p camera and start the QR code scanner. Your QR code is located on a lable on the camera case (s. above).<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_07.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">The QR code contains all the necessary information to add your camera. Please be aware that the default login credentials will be used. If you want to change the default password please check the <a href="/Indoor_Cameras/IN-6012_HD/Quick_Installation">Quick Installation Guide</a>. The password can only be changed in the web user interface.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_08.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">The app will now connect to your cameras live stream and you will be able to pan &amp; tilt the device, as well as to activate the audio stream of the internal microphone and to take snapshots.<br><br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_09.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">The wps / p2p method allows you to quickly connect your camera and check the cameras live stream. Please refer to the <a href="/Indoor_Cameras/IN-6012_HD/Quick_Installation">Quick Installation Guide</a> for instruction on how to access additional camera features.</p>
                                </div>
                            </div>
                            <div class="twocard invisible">
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
