<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
        <meta name="author" content="Mike Polinowski">
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    </head>

  <body>

    <canvas id="nightvision6001" width="600" height="400" style="margin-bottom: 50px;"></canvas>
    <script src="/javascripts/chartjs/overview6001_nightvision.js"></script>

  </body>

</html>
