<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6012_HD/Lense_Adjustment">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title desktop-up">IN-6012 HD Manual Lense Adjustment</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>Adjust the Focus of your IN-6012 HD<br><br></h3>
                                        <p class="justify">The IN-6012 HD’s lense offers a limited field depth that was adjusted to a field between 1m to 8m. In case the object you want to observe lies outside of this area, you will have to adjust the lense accordingly.</p>
                                      </div>
                                        <amp-img role="button" tabindex="0" src="/images/IN-6014_Lense-Adjustments.png" width="899" height="504" layout="responsive"></amp-img>
                                      <div class="action">
                                          <p class="justify mt">Fig. 1/2 Connect the camera to the powersupply and the network cable. Open the web interface and turn the lense until you can see a clear and sharp picture.</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
