<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6014_HD/Product_Features">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-6014 HD Product Features</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>IN-6014 HD - Camera Overview</h3>
                                      </div>
                                      <a href="/Indoor_Cameras/IN-6014_HD/Technical_Specifications">
                                        <amp-img role="button" tabindex="0" src="/images/IN-6014HD_Product-Overview.png" width="1000" height="334" layout="responsive"></amp-img>
                                      </a>
                                      <div class="action">

                                          <p class="justify">The IN-6014 HD is the successor of the IN-6012 HD camera solution for indoor surveillance and the first indoor camera with integrated passive-infrared motion detection. The camera head is remotely controllable and equipped with infrared diodes to utilize night vision in pitch dark environments. The integrated IR cut filter on the other hand allows for the capturing of native colours, as seen by the human eye. Through the use of an efficient h.264 compression codec it is able of recording video files on a SD memory card with comparably small size but best picture results. Any device (i.e. smartphones) can connect to the cameras web interface and allows you to control the pan &amp; tilt feature. With 350 degree horizontally and 100 degree vertically the pan and tilt feature basically covers the whole area in front of the camera. Thanks to its compact size and its modern design you won't be just limited to use it as a surveillance camera but also for your personal projects. The FTP support allows you to use the IN-6014 HD as a multi-functional webcam for integration on your website.</p>

                                          <table class="table margin">
                                            <tr>
                                              <th>#</th>
                                              <th>Component</th>
                                              <th>Function</th>
                                            </tr>

                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Photosensor</td>
                                              <td>Twilight-Switch for IR LEDs</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Lense</td>
                                              <td>Wideangle-lense (focal length: 4.2mm / field of view: 75.3º hor.)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Infrared-LEDs</td>
                                              <td>12 IR LEDs (nightvision @ 850nm)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>PIR Detector</td>
                                              <td>Integrated passive Infrared Motion Detector</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Loudspeaker</td>
                                              <td>Integrated Loudspeaker</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">6</th>
                                              <td>Microphone</td>
                                              <td>Audio transmission</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">7</th>
                                              <td>Power Connector</td>
                                              <td>5V / 1.5 A DC - Plug Ø : 1.35mm (in) / 3.5mm (out)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">8</th>
                                              <td>LED Indicator</td>
                                              <td>Red: power LED; blue: Status-LED for network traffic</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">9</th>
                                              <td>Reset Button</td>
                                              <td>Reset your camera settings to the factory defaults</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">10</th>
                                              <td>MicroSD Card Slot</td>
                                              <td>Slot for SD/SDHC cards (up to 32 GB - 4 GB included)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">11</th>
                                              <td>Antenna Connector</td>
                                              <td>SMA WiFi antenna connector (Not available in case of the IN-6014 HD PoE model!)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">12</th>
                                              <td>Network Port</td>
                                              <td>RJ45 LAN-port for the provided CAT5e LAN cable (For the power supply according to IEEE802.3af only in case of the IN-6014 HD PoE!)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">13</th>
                                              <td>Audio Out</td>
                                              <td>3.5mm earphone / active speaker jack</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">14</th>
                                              <td>Camera ID</td>
                                              <td>MAC address LAN and QR for the P2P connection</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">15</th>
                                              <td>Stand Mount</td>
                                              <td>Standard camera thread for provided stand support</td>
                                            </tr>
                                          </table>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
