<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6014_HD/Lense_Adjustment">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-6014.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title desktop-up">IN-6014 HD Manual Lense Adjustment</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>Adjust the Focus of your IN-6014 HD<br><br></h3>
                                        <p class="justify">The IN-6014 HD’s lense offers a limited field depth that was adjusted to a field between 1m to 8m. In case the object you want to observe lies outside of this area, you will have to adjust the lense accordingly.</p>
                                      </div>
                                        <amp-img role="button" tabindex="0" src="/images/IN-6014_Lense-Adjustments.png" width="899" height="504" layout="responsive"></amp-img>
                                      <div class="action">
                                          <p class="justify mt">Fig. 1/2 Connect the camera to the powersupply and the network cable. Open the web interface and turn the lense until you can see a clear and sharp picture.</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Introduction</h1>
                    </div>
                </div>

                <div class="tab-container">

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Safety_Warnings">
                      <h3>Safety Warnings</h3>
                      <div class="subtitle">Intermediate</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Product_Features">
                      <h3>Product Features</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Quick_Installation">
                      <h3>Quick Installation</h3>
                      <div class="subtitle">Advanced</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Point2Point">
                      <h3>P2P &amp; WPS</h3>
                      <div class="subtitle">Intermediate</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/720p_Series">
                      <h3>Web User Interface</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                  <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                      <h3>Software Update</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Video_Streaming">
                      <h3>Video Streaming</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Camera_Reset">
                      <h3>Camera Reset</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Lense_Adjustment">
                      <h3>Lense Adjustment</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Technical_Specifications">
                      <h3>Technical Specifications</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                  <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Warranty">
                      <h3>Warranty &amp; Disposal</h3>
                      <div class="subtitle">Easy</div>
                  </a>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
