<% include ../_partials/template/_head_chart.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ######################### Breadcrumbs ############################ -->

        <div class="container">
          <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
            <li class="breadcrumb-item"><a href="/Products/">Products</a></li>
            <li class="breadcrumb-item"><a href="/Indoor_Cameras/">Indoor Cameras</a></li>
            <li class="breadcrumb-item active">IN-6012 HD</li>
            <li class="breadcrumb-item"><a href="/Indoor_Cameras/IN-6012_HD/Usermanual">Usermanual</a></li>
            <li class="breadcrumb-item"><a href="/Indoor_Cameras/IN-6012_HD/Technical_Specifications">Technical Specifications</a></li>
            <li class="breadcrumb-item"><a href="http://www.instar.de/downloads/indoor/dl_6012hd">Downloads</a></li>
          </ol>
        </div>

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-12 mb">
                    <h1>IN-6012 HD</h1>
                    <h3 class="text-muted">Product Overview</h3>
                </div>

                <div class="col-12">
                  <img src="/images/IN-6012_Overview_width1650.png" alt="IN-6012 HD Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-12 mb">
                  <p class="text-justify"><strong>1.)</strong> Photodiode for twilight switch, <strong>2.)</strong> Infrared LED´s for night vision, <strong>3.)</strong>  Standard 8mm F/1.2 infrared lense, <strong>4.)</strong> Remote controlled camera head,, <strong>5.)</strong> High quality ABS housing and Internal microphone, <strong>6.)</strong> SD card, <strong>7.)</strong> DC power supply connector, <strong>8.)</strong> WiFi antenna, <strong>9.)</strong> Camera Reset, <strong>10.)</strong> RJ45 ethernet connector, <strong>11.)</strong> Audio In/Out for external Speaker and Microphones, <strong>12.)</strong> Alarm I/O connector for external devices</p>
                  <br/>
                  <a href="/Indoor_Cameras/IN-6012_HD/Technical_Specifications"><button type="button" class="btn btn-primary">Technical Specifications</button></a>
                </div>

                <div class="clearfix"></div>

            <!-- #############################################  Chart JS ############################################# -->

                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Nightvision (Minimum / Maximum) [m]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="nightvision6012" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Angle of View (Diagonal, Horizontal, Vertical) [°]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="angleofview6012" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>

                <script src="/javascripts/chartjs/overview6012_angleofview.js"></script>
                <script src="/javascripts/chartjs/overview6012_nightvision.js"></script>

            <!-- #############################################  Chart JS ############################################# -->

            <div class="clearfix"></div>

                <div class="col-12">
                    <div class="col-sm-12 embed-responsive embed-responsive-16by9 mb">
                        <iframe src="https://www.youtube.com/embed/qh4-5yQBXlo" class="shadow" alt="INSTAR IN-6012 HD IP Camera - HD Indoor Pan&amp;Tilt Camera"></iframe>
                    </div>
                </div>

                <div class="col-12 mb">
                  <p class="text-justify">The IN-6012HD is an all round solution for indoor surveillance. The camera head is remotely controllable and equipped with infrared diodes to utilize night vision in pitch dark environments. The integrated IR cut filter on the other hand allows for the capturing of native colours, as seen by the human eye. Through the use of an efficient h.264 compression codec it is able of recording video files on a SD memory card with comparably small size but best picture results. Any device (i.e. smartphones) can connect to the cameras web interface and allows you to control the pan &amp; tilt feature. With 350 degree horizontally and 100 degree vertically range of movement. Thanks to its compact size and its modern design you won't be just limited to use it as a surveillance camera but also for your personal projects. The FTP support allows you to use the IN-6012 HD as a multi functional webcam for integration on your website.</p>
                </div>

            <div class="clearfix"></div>

            <!-- #############################################  Chart JS ############################################# -->

                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>IN-6014 HD vs. IN-8015 HD</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="radar6014_8015" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>IN-6014 HD vs. IN-3011</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="radar6014_3011" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>


                <script src="/javascripts/chartjs/overview6014_radar8015.js"></script>
                <script src="/javascripts/chartjs/overview6014_radar3011.js"></script>

            <!-- #############################################  Chart JS ############################################# -->

            <div class="clearfix"></div>

            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-6012 HD</h4>
                  <h6 class="card-subtitle text-muted">Indoor IP Camera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/INSTAR_IN-6012_Infobox.png" alt="IN-6012 HD" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Indoor_Cameras/IN-6012_HD/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Specifications</a>
                    <a href="/Indoor_Cameras/IN-6012_HD/Downloads" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                  <a href="http://www.instar.de/indoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Compare</a>
                  <a href="http://www.instar.de/ip-innenkameras/in-6012hd-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  Go to Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Wide Dynamic Range (WDR) HD 720p colour CMOS Sensor</li>
                <li>Remote controlled Pan&amp;Tilt - 350° pan and 100° tilt</li>
                <li>2-Way audio via an integrated microphone and speakers</li>
                <li>Alarm I/O for external sensors (e.g. <a href="/Products/IN-Motion">motion</a> or smoke detectors) and receivers (e.g. house automations)</li>
                <li>Detachable wallmount with a standard 1/4 inch thread (compatible with regular camera tripods, e.g. GorillaPods)</li>
              </ul>

              <h3>Network</h3>

              <ul>
                <li>RJ-45 Ethernet port for an easy integration into your 100Mbit home network</li>
                <li>Compatible with <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g/n up to 54Mbit networks with WEP, WPA and WPA2 security</li>
                <li>DHCP and UPnP support for an automatic network integration</li>
                <li>Integrated individual <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") address</a> to access your camera through the Internet</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> and <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Web user interface allows an easy configuration and canera control through your default web browser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Multi user management and simultaneous login for 3 users</li>
                <li>Software-based motion and audio detection and email notification with attached snapshots</li>
                <li>Record videos directly on your PC (only ActiveX)</li>
              </ul>
            </div>

          </div>
          <!-- /row -->

          <div class="row mt">

              <div class="col-12 mt">
                  <h2 class="text-muted">Lense Adjustment</h2>
              </div>

              <div class="col-12 mt">
                  <div class="col-sm-12 embed-responsive embed-responsive-16by9 mb">
                      <iframe src="https://www.youtube.com/embed/f3Xz5vfFrXM" class="shadow" alt="INSTAR IN-6012 HD IP Camera - HD Indoor Pan&amp;Tilt Camera"></iframe>
                  </div>
              </div>

              <div class="col-12">
                <p class="text-justify">The 1/3 inch WDR sensor is built on a 4.3 micron OmniPixel3-HS™ Pixel enabling 720p HD at unparalleled low-light sensitivity and a dynamic range in colour of 115 dB – compared to the 60 db of a regular VGA IP Camera. WDR allows you to capture high detailed colour videos even in high-contrast environmental lighting conditions.</p>
              </div>

          </div>
          <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
