<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <link rel="canonical" href="/Indoor_Cameras/IN-6001_HD/Product_Features">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-6001 HD Product Features</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>Camera Overview</h3>
                                      </div>
                                      <a href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications">
                                        <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-6001HD_Product-Overview.png" width="1000" height="334" layout="responsive"></amp-img>
                                      </a>
                                      <div class="action">

                                          <p class="justify">The IN-6001 HD is the smallest INSTAR HD 720p camera for indoor surveillance inside your office or house. The camera can easily be controlled through your smartphone from inside your network and also over the internet. The camera can easily be connected to your network by using its 108MBit (802.11b/g/n) Wi-Fi module (WPA/WPA2) or through the 100MBit network interface to ensure a fluid video stream. The camera can also see during the night thanks to 8 Infrared LEDs operating at a wavelength of 850nm. The max. indoor range for the cameras night vision is around 5-10 meters. The spiritual successor of the IN-3001 will bring you all the features that you are used to from our VGA series, combined with a superior resolution of 1280x720 Pixel and the possibility to record videos on an integrated SD card. If an alarm is triggered the camera can send an email to notify you. Each email also has 4 pictures attached. This way it will be very easy to check quickly what caused the motion to make sure your home is safe.</p>

                                          <table class="table margin">
                                            <tr>
                                              <th>#</th>
                                              <th>Component</th>
                                              <th>Function</th>
                                            </tr>

                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Microphone</td>
                                              <td>For talk function in webUI, smartphone apps, etc.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Photosensor</td>
                                              <td>Twilight-Switch for IR LEDs</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Lense</td>
                                              <td>Standard-lense (focal length: 4.2mm / field of view: appx. 75.3º dia.)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Infrared LEDs</td>
                                              <td>8 IR LEDs 5-10m nightvision @850nm</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Loudspeaker</td>
                                              <td>For talk function in webUI, smartphone apps, etc.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">6</th>
                                              <td>Wall Mount</td>
                                              <td>Platic Wall Mount</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">7</th>
                                              <td>Network Port</td>
                                              <td>RJ45 LAN Port for the provided CAT5e Ethernet Cable</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">8</th>
                                              <td>Power Connector</td>
                                              <td>5V / 1.5 A dc - Plug Ø 1.35mm (in) / 3.5mm (out)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">9</th>
                                              <td>MicroSD Card</td>
                                              <td>The card slot is located behind the backplate<br>(4GB preinstalled)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">10</th>
                                              <td>Reset Button</td>
                                              <td>Reset you camera settings to factory results</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">11</th>
                                              <td>Status LEDs</td>
                                              <td>top: WiFi Status LED blinks fast when connected<br>middle: LAN Status LED lights up when connected<br>bottom: Power Status LED lights up when powered</td>
                                            </tr>
                                          </table>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
