<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>


                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-6014 HD User Manual</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <p>
                                        <amp-youtube data-videoid="Di5mbjn5rfU" layout="responsive" width="480" height="270"></amp-youtube>
                                    </p>
                                    <div class="action">
                                        <p class="justify">The IN-6014 HD is the first INSTAR HD 720p pan &amp; tilt camera with an integrated infrared motion detector. The camera can easily be controlled through your smartphone from inside your network and also over the internet.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="margin">
                          <h2>Download our Print Manual</h2>
                          <a href="/dl/IN-6014HD/QuickInstallation-IN-6014-EN_web.pdf" target="_blank"><button type="button" name="button" class="btn">PDF Usermanual</button></a>
                        </div>

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
