<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">

                  <div>
                    <h2>IN-8015 HD</h2>
                    <h4>Indoor surveillance in 1080p resolution</h4>

                    <div class="card-container margin">
                        <div class="onecard">
                            <div class="title">
                            <h3>Product Overview</h3>
                            </div>
                            <div class="image">
                                <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-8015_Overview_width1650.png" width="1246" height="629" layout="responsive"></amp-img>
                            </div>
                            <div class="action">
                                <p class="justify"><strong>1.)</strong> Photodiode for twilight switch, <strong>2.)</strong> Infrared LED´s for night vision, <strong>3.)</strong>  Standard 4.2mm F/2.1 infrared lense, <strong>4.)</strong> Remote controlled camera head,, <strong>5.)</strong> PIR heat detector for advanced motion detection, <strong>6.)</strong> SD card, <strong>7.)</strong> Audio Out (3.5mm Headphone Jack), <strong>8.)</strong> RJ45 Ethernet connector, <strong>9.)</strong> Wifi antenna connector, <strong>10.)</strong> Status LED, <strong>11.)</strong> Alarm I/O, <strong>12.)</strong> Reset / WPS Button, <strong>13.)</strong> DC power supply connector</p>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <p class="justify">The IN-8015HD is an all-round solution for 1080p indoor surveillance. The camera head is remotely controllable and equipped with infrared diodes to utilize night vision in pitch dark environments. The integrated IR cut filter on the other hand allows for the capturing of native colours, as seen by the human eye. Through the use of an efficient h.264 compression codec it is able of recording video files on <a href="/Motion_Detection/SD_Card_Access">SD memory card</a> with comparably small size but best picture results. Any device (i.e. smartphones) can connect to the cameras web interface and allows you to control the pan &amp; tilt feature. With 350 degrees horizontally and 100 degree vertically range of movement. Thanks to its compact size and its modern design, you won't be just limited to use it as a surveillance camera but also for your personal projects. The <a href="/Motion_Detection/Alarm_FTP_Upload">FTP support</a> allows you to use the IN-8015 HD as a multi-functional webcam for <a href="/Advanced_User/Website_Integration">integration on your website</a>.</p>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up">
                    <div class="six columns margin">
                      <h4>Nightvision (Minimum / Maximum) [m]</h4>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-8015_HD/Nightvision_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns margin">
                      <h4>Angle of View (Diagonal, Horizontal, Vertical) [°]</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-8015_HD/Angle_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                  <div class="margin">
                    <h3>Hardware</h3>

                    <ul>
                      <li>Integrated <strong>PIR</strong> heat detector for advanced motion detection</li>
                      <li>Remote controlled Pan&amp;Tilt - 350° pan and 100° tilt</li>
                      <li>2-Way audio via an integrated <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">microphone and speakers</a></li>
                      <li>Wide Dynamic Range (WDR) 1080p <a href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications" target="_blank"><strong>Panasonic</strong> CMOS Sensor</a></li>
                    </ul>

                    <h3>Network</h3>

                    <ul>
                      <li>RJ-45 Ethernet port for an easy integration into your 100Mbit home network</li>
                      <li>Compatible with <a href="/Quick_Installation/Set_Up_A_Wireless_Connection/">2.4GHz Wifi</a> IEEE 802.11 b/g/n up to 54Mbit networks with WEP, WPA and WPA2 security</li>
                      <li><a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">DHCP</a> and <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a> support for an automatic network integration</li>
                      <li>Integrated personal, free <a href="/Internet_Access/The_DDNS_Service/">DDNS ("Internet") address</a> and <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">P2P User ID</a> to access your camera through the Internet</li>
                    </ul>

                    <h3>Software</h3>

                    <ul>
                      <li>Free <a href="/Software/Android/InstarVision">Android</a>, <a href="/Software/iOS/InstarVision">iPhone &amp; iPad</a>, <a href="/Software/Windows/InstarVision/Metro">Windows (Metro)</a> and <a href="/Software/Windows/InstarVision/Windows_Phone">Windows Phone</a> App</li>
                      <li><a href="/Web_User_Interface/1080p_Series/">Web user interface</a> allows an easy configuration and canera control through your default web browser (Chrome, Safari, Firefox, Internet Explorer)</li>
                      <li><a href="/Web_User_Interface/1080p_Series/System/User/">Multi user management</a> and simultaneous login for 3 users</li>
                      <li><a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Software-based motion</a> and <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">audio</a> detection and <a href="/Motion_Detection/Alarm_Notification">email notification</a> with attached snapshots</li>
                      <li>Record videos directly to an <a href="/Motion_Detection/SD_Card_Access/">internal SD Card</a></li>
                    </ul>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                    <div class="card-container">
                      <div class="onecard centered">
                          <amp-carousel class="single" width="700" height="400" type="slides" layout="responsive">
                              <div class="box">
                                  <div class="box__inner">
                                      <div class="box__content">
                                          <amp-img src="/images/Usermanuals/Panasonic_MN34229_Backlight.png" width="778" layout="fill" height="300" alt="Standard"></amp-img>
                                      </div>
                                      <div class="box__footer">
                                          <div class="box__credit">
                                              <h5 class="box__title">Backlight Compensation</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- /Kompensierung Hintergrundbeleuchtung -->
                              <div class="box">
                                  <div class="box__inner">
                                      <div class="box__content">
                                          <amp-img src="/images/Usermanuals/Panasonic_MN34229_Motion-Blur.png" width="778" layout="fill" height="300" alt="Standard"></amp-img>
                                      </div>
                                      <div class="box__footer">
                                          <div class="box__credit">
                                              <h5 class="box__title">Motion Blur</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- /Bewegungsunschärfe-->
                              <div class="box">
                                  <div class="box__inner">
                                      <div class="box__content">
                                          <amp-img src="/images/Usermanuals/Panasonic_MN34229_WDR.png" width="778" layout="fill" height="300" alt="Standard"></amp-img>
                                      </div>
                                      <div class="box__footer">
                                          <div class="box__credit">
                                              <h5 class="box__title">Wide Dynamic Range</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- /Weiter Dynamikbereich -->
                              <div class="box">
                                  <div class="box__inner">
                                      <div class="box__content">
                                          <amp-img src="/images/Usermanuals/Panasonic_MN34229_ColourNoiseI.png" width="778" layout="fill" height="300" alt="Standard"></amp-img>
                                      </div>
                                      <div class="box__footer">
                                          <div class="box__credit">
                                              <h5 class="box__title">Character Recognition</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- /Zeichenerkennung -->
                              <div class="box">
                                  <div class="box__inner">
                                      <div class="box__content">
                                          <amp-img src="/images/Usermanuals/Panasonic_MN34229_ColourNoiseII.png" width="778" layout="fill" height="300" alt="Standard"></amp-img>
                                      </div>
                                      <div class="box__footer">
                                          <div class="box__credit">
                                              <h5 class="box__title">Reduced Colour Noise</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- /Zeichenerkennung -->
                            </amp-carousel>
                            <div class="action">
                              <h3 class="inlineHeader">Panasonic MN34229 Sample Images</h3>
                            </div>
                            <!-- /card action -->
                          </div>
                          <!-- /onecard -->
                        </div>
                        <!-- /card container -->
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <p class="justify">The 1/3 inch WDR sensor is built on a <strong>Panasonic</strong> chip enabling 1080p HD at unparalleled low-light sensitivity. <strong>Panasonic</strong> offers a wide variety of image sensors (<a href="http://www.semicon.panasonic.co.jp/en/products/imagesensors/surveillance/?utm_medium=flyer&utm_source=flyer&utm_campaign=20140218&utm_content=MN3422x" target="_blank">νMaicovicon®</a>) for security and network cameras, which are based on the industry' s most advanced technology and can be applied to security cameras requiring high picture quality with high sensitivity and low noise. The CMOS image sensor, νMaicovicon®, features high picture quality equal to high-speed CCD technologies, high S/N ratio, low noise, and high dynamic range. Even in a dark condition, you can retrieve snashots with excellent character detection, color reproduction, as well as object detection. Even in scenes with fast-moving objects, the image sensor ensures clear images without motion blur or strain. The frame composite function (WDR) enables high-dynamic range - you can simultaneously resolve dark and bright areas in your video frame.</p>
                  </div>
                  <!-- /margin -->

                  <h3>Resolution Comparison</h3>

                  <div class="card-container margin">
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-8015v6014_resTest"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-8015v6014_resTest.png" width="1237" height="695" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <div class="action">
                              <h4>IN-8015 HD / IN-6014 HD</h4>
                          </div>
                      </div>
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-8015v6012_resTest"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-8015v6012_resTest.png" width="1237" height="695" layout="responsive" class="shadow">
                            </amp-img>
                          <div class="action">
                              <h4>IN-8015 HD / IN-6012 HD</h4>
                          </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <amp-img
                              on="tap:IN-8015v6014_Night_resTest"
                              role="button"
                              tabindex="0"
                              src="/images/Usermanuals/IN-8015v6014_Night_resTest.png" width="1237" height="695" layout="responsive" class="shadow">
                          </amp-img>
                        <div class="action">
                            <h4>IN-8015 HD / IN-6014 HD</h4>
                        </div>
                    </div>
                  </div>
                  </div>
                  <!-- /card-container -->

                  <div class="card-container margin">
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-8015v6014_resTest_2"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-8015v6014_resTest2.png" width="1237" height="695" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <div class="action">
                              <h4>IN-8015 HD / IN-6014 HD</h4>
                          </div>
                      </div>
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-8015v6014_resTest_3"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-8015v6014_resTest3.png" width="1237" height="695" layout="responsive" class="shadow">
                            </amp-img>
                          <div class="action">
                              <h4>IN-8015 HD / IN-6014 HD</h4>
                          </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <amp-img
                              on="tap:IN-8015v6014_Night_resTest"
                              role="button"
                              tabindex="0"
                              src="/images/Usermanuals/IN-8015v6014_Night_resTest.png" width="1237" height="695" layout="responsive" class="shadow">
                          </amp-img>
                        <div class="action">
                            <h4>IN-8015 HD / IN-6014 HD</h4>
                        </div>
                    </div>
                  </div>
                  </div>
                  <!-- /card-container -->

                  <div class="margin">
                      <p class="justify">The IN-8015 HD is the first INSTAR HD 1080p pan &amp; tilt camera with an integrated infrared motion detector. The camera can easily be controlled through your smartphone from inside your network and also over the internet. The camera can easily be connected to your network by using its 2.4GHz (802.11b/g/n) Wi-Fi module (WPA/WPA2/CCMP) or through the 100MBit network interface to ensure a fluid video stream. The camera can also see during the night thanks to 10 Infrared LEDs operating at a wavelength of 850nm. The max. indoor range for the cameras night vision is around 5-10 meters. Our new fullHD indoor camera will bring you all the features that you are used to from our 720p series, combined with a superior resolution of 1920x1080 Pixel and the possibility to record videos on an integrated SD card. The IN-8015 HD is the camera that combines the powerful software based motion detection with a hardware heat motion detector (PIR). Both methods can be used or bundled to increase their effectiveness by minimizing their false alarm rate.</p>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up margin">
                    <div class="six columns">
                      <h3>IN-8015 HD vs. IN-6012 HD</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-8015_HD/8015v6012/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns">
                      <h3>IN-8015 HD vs. IN-3011</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.de/Indoor_Cameras/IN-8015_HD/8015v3011/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                </section>
                <!-- /blade -->

                <amp-image-lightbox id="IN-8015v6014_resTest" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="IN-8015v6012_resTest" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="IN-8015v6014_resTest_2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="IN-8015v6014_resTest_3" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="IN-8015v6014_Night_resTest" layout="nodisplay"></amp-image-lightbox>

        </div>
        <!-- /container main -->
    </div>
    <!-- /wrap-->

    <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

    <footer>
        <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>

</body>

</html>
