<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                <div>
                  <h1>Advanced User</h1>
                  <h4>Topics for Web Developers and Tech Professionals</h4>
                </div>

                <div class="row">

                  <a href="/Advanced_User/Website_Integration/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_Integration_white.png"></amp-img>
                      <div>
                        <h3>Websites</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Advanced_User/CGI_Commands/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_CGIs_white.png"></amp-img>
                      <div>
                        <h3>CGI Commands</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Advanced_User/Restore_WebUI/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_WebUI_white.png"></amp-img>
                      <div>
                        <h3>Restore WebUI</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Advanced_User/Restore_Firmware/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_Firmware_white.png"></amp-img>
                      <div>
                        <h3>Restore FW</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Advanced_User/CCTV_vs_IP/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_CCTV_white.png"></amp-img>
                      <div>
                        <h3>CCTV vs IP</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Advanced_User/VPN_AVM_Fritzbox/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_VPN_white.png"></amp-img>
                      <div>
                        <h3>VPN Tunnel</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2904 is an compact solution for outdoor surveillance. The camera head is equipped with IR diodes for infrared nightvision.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

              </section>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
