<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Advanced_User/Website_Integration/Cambozola/">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-au.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div class="margin">
                        <h1>Cambozola JAVA Plugin</h1>
                        <p>
                          In order to integrate your IP camera in a website we recommend you the Cambozola Java plugin. The plugin will allow to display the MJPEG cameras live stream in any web browser. Cambozola is a very simple viewer for multipart jpeg streams that are streamed out by a IP cameras or webcam server.<br/><br/>To integrate your INSTAR IP camera in <a href="http://www.andywilcock.com/code/cambozola/config.html">Cambozola</a> we recommend you to download the latest version from <a href="http://www.charliemouse.com/code/cambozola/index.html">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h1>Add a New Camera</h1>
                        <p>
                          After you have downloaded the newest version, please unpack the zip archive. You will then find different folders and files as shown in the screenshot below.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox1"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_01.jpg" width="500" height="201" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Download and unzip the Cambozola files.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Now please copy the folder <strong>DIST</strong> to your webserver. Please make sure that the folder is in the same directory in which you will place the <em>index.html</em>.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox2"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_02.jpg" width="500" height="203" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Select the <strong>DIST</strong> directory.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          We are using the program <a href="https://filezilla-project.org/download.php?type=client">FileZilla</a> to transfer the files to our webserver. But you can use any kind of FTP program to upload the data.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox3"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_03.jpg" width="500" height="363" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Upload the <strong>DIST</strong> directory to your webserver.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Now please create a simple html file. In this file please include the following Code and save it as <em>index.html</em>:
                        </p>
                        <p>
                          <span class="code">&#60;applet code="com.charliemouse.cambozola.Viewer"<br/><br/>
                          archive="dist/cambozola.jar" width="640" height="480"&#62;<br/><br/>
                          &#60;param name="url" value="http://username:password@xxx.dyndns.org:80/videostream.cgi"&#62;<br/><br/>
                          &#60;/applet&#62;</span>
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          It is very important that in the 3rd line (value=...) you replace the username and the password with the username and password that you have set in your IP camera. Also the internet address of the camera has to be exchanged with the correct internet address of your camera. You can compare the code above with our sample code below to have a better understanding. If you didn´t change the username and password in the camera the default username is "admin" and no password.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox4"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_04.jpg" width="500" height="285" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Create a simple index.html file with the content seen here.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Please upload the file <em>index.html</em> in the same folder in which you earlier copied the folder <strong>DIST</strong>.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox5"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_05.jpg" width="500" height="364" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Copy the index.html to the same folder you used earlier.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Please upload the file <em>index.html</em> in the same folder in which you earlier copied the folder <strong>DIST</strong>.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox6"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_06.jpg" width="500" height="39" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Copy the index.html to the same folder you used earlier.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          After successfully uploading the file <strong>index.html</strong> please open it by typing in the path in your web browser.
                        </p>
                        <p>
                          If you are opening the website for the first time in can take a short while until the java plugin has started. It might also happen that a security warning will show up. Please make a mark that it should always be allowed to use this applet. After that please select "Allow". This is necessary so that the java plugin gets the necessary access right to show the live stream.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox8"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_08.jpg" width="300" height="121" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Start the Java Plugin.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          After you have now confirmed the security warning the live stream will be shown in your web browser.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox9"
                              role="button"
                              tabindex="0"
                              src="/images/Cambozola_09.jpg" width="500" height="401" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          And you are done!
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-au-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
