<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ############################################# Landing ############################################# -->

        <section class="landing">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 text-xs-center">
                        <h1 class="headline hidden-sm-down">INSTAR Wiki</h1>
                        <h1 class="mobile-headline hidden-md-up">INSTAR Wiki 2.0</h1>
                        <hr>
                        <h2 class="subheader hidden-sm-down">Programming Interface for your Camera</h2>
                        <h3 class="subheader hidden-md-up">CGI Commands Overview</h3>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </section>
        <!-- /landing -->

        <!-- #############################################  Body ############################################# -->

        <div class="wrap">
            <div class="container main">

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2>CGI: Common Gateway Interface</h2>
                        <p>
                          Common Gateway Interface (CGI) is a standard method used to generate dynamic content on web pages. CGI provides an interface between the web server and programs that generate the web content. These programs are known as CGI scripts or simply CGIs. The CGI commands listed in the following allow you to directly communicate with your INSTAR IP camera through your web browser. Simply add your camera's IP address to the command submit it through your browser's address field. Like the camera's own web user interface, they can also be used embedded in HTML pages.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table class="table table-hover">
                            <tbody>
                              <tr>
                                <th scope="row">1080p Series</th>
                                <td>The INSTAR fullHD Series builds on the HighChip (HC) chipset that is modelled after the HighSilicon (HS) solution. The following commands can be applied to all camera models with a 1080p resolution.</td>
                              </tr>
                              <tr>
                                <th scope="row">720p Series</th>
                                <td>The current INSTAR HD Series builds on the Grainmedia (GM) chipset that is modelled after the HighSilicon (HS) solution. The following commands can be applied the both GM (like the IN-5907HD, IN-6012HD and IN-7011HD) and HS (IN-6011HD) camera models.</td>
                              </tr>
                              <tr>
                                <th scope="row">VGA Series</th>
                                <td colspan="2">The current INSTAR VGA Series builds on the Winbond (WB) chipset. The WB solution is very common among VGA IP cameras and following commands can, therefore be applied to a wide variety of cameras. The compatible INSTAR cameras are the 29xx series, the 30xx series and the 40xx series.</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
          </div>
          <!-- /wrap -->

        <!-- #############################################  Gallery ############################################# -->
        <section class="container mb">
            <div class="row centered mt grid">

                <div class="row center-block mt">
                    <div class="col-md-4 offset-md-4 centered mb">
                        <h4>
                            <span class="text-muted">CGI Commands for your Camera</span>
                            <hr>
                        </h4>
                    </div>
                </div>

                <div class="col-6 col-lg-4 mb">
                    <a href="/1080p_Series_CGI_List/"><img src="/images/Wiki_Tiles_Advanced_CGIs-1080p.jpg" alt="1080p Series CGI List" class="img-fluid"></a>
                </div>

                <div class="col-6 col-lg-4 mb">
                    <a href="/720p_Series_CGI_List/"><img src="/images/Wiki_Tiles_Advanced_CGIs-720p.jpg" alt="720p Series CGI List" class="img-fluid"></a>
                </div>

                <div class="col-6 col-lg-4 mb">
                    <a href="/Advanced_User/CGI_Commands/VGA_Series_CGI_List/"><img src="/images/Wiki_Tiles_Advanced_CGIs-VGA.jpg" alt="VGA Series CGI List" class="img-fluid"></a>
                </div>

            </div>
            <!-- /row -->
        </section>
        <!-- /CGI gallery container -->


        <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
