<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/AVM_Fritzbox">
    </head>

    <body class="home">

        <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>VPN Einrichten :: AVM Fritzbox</h1>
                                    <p class="intro">
                                      Damit Sie trotz der Möglichkeit des Fernzugriffs auf Ihre Kamera immer noch eine hohe Sicherheit im Bezug auf Ihr Netzwerk und Ihrer Kamera erhalten, gibt es die Möglichkeit des Fernzugriffs über VPN. VPN steht für Virtual Private Network und ermöglicht Ihnen über eine Tunnelverbindung in Ihrem privaten Netzwerk zu kommunizieren. Und das so, als würden Sie sich physisch im lokalen Netzwerk befinden.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-au.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Allgemeines zum VPN mit der Fritz.Box</h3>
                        <p>Damit die Fritz!Box zum VPN-Server wird, überprüfen Sie zunächst über „System -> Update“, ob die neueste Firmware-Version installiert ist. Anschließend stellen Sie sicher, dass sie permanent mit dem Internet verbunden ist und die Verbindung nicht bei Inaktivität getrennt wird. Um von unterwegs aus auf den Router beziehungsweise den VPN-Server zugreifen zu können, müssen Sie dessen Adresse kennen. Da sich die Adresse allerdings alle 24h ändert, könnten Sie sich theoretisch bei einem DDNS-Anbieter registrieren um dort eine feste Internetadresse zu erhalten. Da Ihre INSTAR-Kamera allerdings schon einen eingebauten DDNS-Dienst verwendet, können Sie sich die Adresse unter Netzwerk - DDNS in der Weboberfläche der Kamera verwenden.</p>
                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                      <div class="onecard twelve columns">
                        <amp-youtube data-videoid="jq4s9EsyADI" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="margin">
                        <h2>1 Vorbereitungen</h2>
                        <p>Gehen Sie zuerst auf die Serviceseite von AVM unter <a href="https://avm.de/service/vpn/uebersicht/">AVM-VPN</a>, um sich die aktuelle Version von Fritz!Fernzugang für Ihren Windows Rechner herunterzuladen (entweder 32 Bit oder 64 Bit) und anschließend standardmäßig zu installieren. Das Programm nimmt alle Ihre Sicherheitseinstellungen vor und speichert diese in einer Konfigurationsdatei, die Sie dann später nur noch in der VPN-Gegenstelle importieren müssen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>2 VPN Einstellungen erzeugen</h2>
                        <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/VPN-Fritzbox-7490de_00.png" width="331" height="163" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Öffnen Sie das Programm FRITZ!Box-Fernzugang einrichten und klicken Sie auf "Neu".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/VPN-Fritzbox-7490de_01.png" width="331" height="255" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Wählen Sie die Option "Fernzugang für einen Benutzer einrichten" und klicken Sie auf "Weiter".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox3"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_02.png" width="331" height="254" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Wählen Sie die Option "PC mit FRITZ!Fernzugang" und klicken Sie auf "Weiter".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox4"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_03.png" width="331" height="254" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Tragen Sie die E-Mail-Adresse des Benutzers ein, der VPN-Verbindungen zur FRITZ!Box herstellen soll, und klicken Sie auf "Weiter".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox5"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_04.png" width="331" height="256" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Tragen Sie im Eingabefeld "Name" die DDNS-Adresse (finden Sie in der Weboberfläche der Kamera unter Netzwerk - DDNS) ein und klicken Sie auf "Weiter".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox6"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_05.png" width="331" height="255" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Weisen Sie dem Computer eine IP-Adresse im Netzwerk der FRITZ!Box zu. Sie können dazu die Standard-Daten verwenden falls die Fritz.Box die Werkseinstellungen besitzt (192.168.178.1). Wenn Sie die Daten manuell eingeben, achten Sie darauf, dass Sie nicht die IP-Adresse der Fritz.Box, sondern die Adresse des Netzwerks eingeben (z.B. 192.168.178.0).</p>
                        <p>Falls Sie den gesamten Internetverkehr über Ihr Heimnetz schicken möchten, können Sie die Funktion "Alle Daten über den VPN-Tunnel senden" aktivieren. Klicken Sie anschließend auf "Weiter".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox7"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_06.png" width="331" height="255" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Belassen Sie in diesem Feld die Standardeinstellung und klicken Sie auf "Fertig stellen".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox8"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_07.png" width="331" height="201" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Jetzt erzeugt FRITZ!Box-Fernzugang einrichten die VPN-Einstellungen. Anschließend öffnet sich automatisch ein Windows-Ordner, der die Datei "fritzbox_[...].cfg" und einen Unterordner mit der Datei "vpnuser_[...].cfg" enthält.</p>
                        <p><strong>HINWEIS</strong><br> Sie können diesen Ordner jederzeit aufrufen, indem Sie in FRITZ!Box-Fernzugang einrichten den MyFRITZ!-Domainnamen der FRITZ!Box markieren und auf die Schaltfläche "Explorer" klicken.</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                        <h2>3 VPN Einstellungen in Fritz.Box importieren</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox9"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_08.png" width="331" height="138" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie in der Benutzeroberfläche der FRITZ!Box auf "Internet".</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                        on="tap:lightbox10"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_09.png" width="331" height="138" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie im Menü "Internet" auf "Freigaben".</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                        on="tap:lightbox11"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_10.png" width="331" height="138" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox11" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf die Registerkarte "VPN".</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                        on="tap:lightbox12"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_11.png" width="331" height="138" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox12" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf "VPN-Verbindung hinzufügen".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox13"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_12.png" width="331" height="156" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox13" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf "Eine VPN-Konfiguration aus einer vorhandenen VPN-Einstellungsdatei importieren".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox14"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_13.png" width="331" height="177" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox14" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf "Datei auswählen".</p>
                        <p>Wählen Sie die mit FRITZ!Box-Fernzugang einrichten erzeugte "fritzbox_[...].cfg" aus und klicken Sie auf "öffnen".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox15"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_14.png" width="331" height="158" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox15" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf "OK".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>4 VPN-Einstellungen in FRITZ!Fernzugang importieren</h2>
                      <amp-img
                        on="tap:lightbox16"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_15.png" width="331" height="180" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox16" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Rufen Sie das Programm FRITZ!Fernzugang aus dem Windows-Startmenü auf und klicken Sie im Programm auf das Explorer Icon.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox17"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_16.png" width="331" height="242" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox17" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Wählen Sie die Datei "vpnuser_[...].cfg" aus.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                        on="tap:lightbox18"
                        role="button"
                        tabindex="0"
                        src="/images/VPN-Fritzbox-7490de_17.png" width="331" height="180" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox18" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf "Öffnen" und "Fertig stellen".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>5 VPN-Verbindung herstellen</h2>
                        <amp-img
                          on="tap:lightbox19"
                          role="button"
                          tabindex="0"
                          src="/images/VPN-Fritzbox-7490de_18.png" width="331" height="220" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox19" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Stellen Sie von dem Computer mit FRITZ!Fernzugang eine Internetverbindung her und rufen Sie das Programm Fritz!Fernzugang auf. Klicken Sie auf das Symbol dem DDNS-Namen und anschließend auf Aufbau.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-au-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
