<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Advanced_User/Website_Integration">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap">
            <div class="content">

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Website Integration</h1>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=200 width=300 layout=responsive src="/images/Website_Integration_HTML.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p>HD Camera Integration</p>
                                </div>
                                <div class="action">
                                    <a href="/Advanced_User/Website_Integration/HD_Camera_Integration">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=200 width=300 layout=responsive src="/images/Website_Integration_Java.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p>Cambozola JAVA Plugin</p>
                                </div>
                                <div class="action">
                                    <a href="/Advanced_User/Website_Integration/Cambozola">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=200 width=300 layout=responsive src="/images/Website_Integration_PHP.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p>Open IP Camera Manager</p>
                                </div>
                                <div class="action">
                                    <a href="/Advanced_User/Website_Integration/Open_IP_Camera_Manager">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <% include ../_partials/content/_bluenav-au-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
