/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);

/* Body */

body {
    background-color: #f2f2f2;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

.wrap {
  width: 85%;
  margin: 0 auto;
}

/* Header */

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu";
    font-weight: 300;
    color: #333;
}
.shadow {
  box-shadow: 2px 2px 1px #888888;
}

/* Paragraph */

p {
    line-height: 28px;
    margin-bottom: 25px;
}
.mt {
    margin-top: 40px;
}
.mb {
    margin-bottom: 40px;
}
.pb {
    padding-bottom: 20px;
}
.pt {
    padding-bottom: 20px;
}
.headline {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #0275d8;
}
.mobile-headline {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #0275d8;
}

/* Links */

a {
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */

.lead {
    letter-spacing: 1px;
}

/* Image Opacity */

.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
.centered {
    text-align: center;
}
.btn {
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 100ms;
}
.btn:hover, .btn:active, .btn:focus {
    box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.1);
    transform: translate(0px, -1px);
}

/* Nav Links*/

.impact {
  font-size: 15px;
  color: #cecece;
  font-weight: 500;
}

/* Search */

.search {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 350px;
    text-align: center;
}

/* Landing */

.landing {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
}
.landing {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #0275d8;
}
.landing .subheader {
    color: #cecece;
    font-weight: 400;
}
.landing hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/* Results */

.slanding {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.slanding .headline {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #0275d8;
}
.slanding .subheader {
    color: #cecece;
    font-weight: 200;
}
.slanding hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* instarvision & WebUI & Products */

.instarvision, .products {
    background-color: #0275d8;
    padding-top: 70px;
    margin-bottom: 0;
    box-shadow: 2px 2px 1px #888888;
}
.webui {
    background-color: #f0ad4e;
    padding-top: 50px;
    margin-bottom: 0;
    box-shadow: 2px 2px 1px #888888;
}
.instarvision .subheader, .products .subheader, .webui .subheader {
    color: white;
    font-weight: 400;
    margin-bottom: 35px;
}
.instarvision p, .products p, .webui p {
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.instarvision i, .products i {
    font-size: 50px;
    color: #fff;
}

/* Social Links */

.social {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
.social i {
    font-size: 50px;
    color: #cecece;
}
.social .col-md-3:hover {
    background-color: #f5f5f5;
}
.social .col-md-3 {
    padding: 30px;
}

/* Footer */

.footer {
    padding-top: 20px;
    background-color: #373a3c;
    text-align: right;
}
.footer p {
    color: white;
    font-weight: 400;
}

.footer-items li {
	list-style-type: none;
	color: grey;
}

.footer-heading {
	color: white;
}

a:hover {
	color: white;
}
.borderless td, .borderless th {
    border: none;
}
.apps {
  margin: 10px -5px 10px 0;
}

/* nAVBAR */

.nav-item h6, .nav-item h4 {
  color: #CECECE;
  padding-top: 10px;
}

/* Chartist */

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #0275d8;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: #0275d8;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #f0ad4e;
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: #f0ad4e;
}

.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
  stroke: #373a3c;
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
    fill: #373a3c;
}
