<!DOCTYPE html>
<html ⚡>
    <head>
        <% include amp/amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/AMP">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow"
                                       src="/images/instar_245x77.png"
                                       height="30px" width="95px"
                                       alt="Instar Wiki">
                              </amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Quick_Installation/" class="tab header-title">
                              <amp-img class="placeholder shadow"
                                       src="/images/return.jpg"
                                       height="30px" width="30px"
                                       alt="Go Back">
                              </amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">
                <section class="hero template">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>How does an IP Camera work?</h1>
                                      <p class="intro desktop-only">
                                        LAN or Wifi connectivity<br/><br/>
                                        Remote access to your camera via <a href="http://wiki.instar.com/index.php/The_DDNS_Service">DDNS</a><br/><br/>
                                        Internal IP address vs <a href="http://wiki.instar.com/index.php/The_DDNS_Service">internet address</a>.<br/><br/>
                                        How to <a href="http://wiki.instar.com/index.php/Port_Forwarding">open a door</a> to the internet?
                                      </p>
                                    <p class="intro mobile-only">View this video to gain an understanding how your IP camera works. How is it integrated into your local network and how do you access it over the internet.</p>

                                    <a on="tap:my-lightbox" class="watch-video" role="button">VIEW VIDEO</a>

                                    <amp-lightbox id="my-lightbox" layout="nodisplay" on="tap:my-lightbox.close" role="button" tabindex="1">

                                        <div class="lightbox">

                                            <amp-youtube data-videoid="JWa1L_rBRW4" layout="responsive" width="480" height="270"></amp-youtube>

                                            <div class="close-button" on="tap:my-lightbox.close" role="button" tabindex="1"></div>
                                        </div>
                                    </amp-lightbox>

                                </div>
                            </div>
                        </div>
                    </div>
                </section> <!-- /Hero -->

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Alternative IP Scanner</h1>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/angryIP.jpg"></amp-img>
                                    <span class="title">Angry IP Scanner</span>
                                </div>
                                <div class="content">
                                    <p>Angry IP scanner is a very fast open-source IP address and port scanner. It is available for Windows, MacOSX as well as Linux.</p>
                                </div>
                                <div class="action">
                                    <a href="#">Read the Introduction</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingCLI.jpg"></amp-img>
                                    <span class="title">Fing CLI</span>
                                </div>
                                <div class="content">
                                    <p>Fing is an easy-to-use command line tool to keep an eye on your local IP network. The software is available for Windows operating system.</p>
                                </div>
                                <div class="action">
                                    <a href="#">Get Started</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingAndroid.jpg"></amp-img>
                                    <span class="title">Fing Mobile</span>
                                </div>
                                <div class="content">
                                    <p>Easily discover all the devices on your personal and professional networks from your mobile phone. Available for Android and iOS.</p>
                                </div>
                                <div class="action">
                                    <a href="#">More</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/angryIP.jpg"></amp-img>
                                    <span class="title">Angry IP Scanner</span>
                                </div>
                                <div class="content">
                                    <p>Angry IP scanner is a very fast open-source IP address and port scanner. It is available for Windows, MacOSX as well as Linux.</p>
                                </div>
                                <div class="action">
                                    <a href="#">Read the Introduction</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingCLI.jpg"></amp-img>
                                    <span class="title">Fing CLI</span>
                                </div>
                                <div class="content">
                                    <p>Fing is an easy-to-use command line tool to keep an eye on your local IP network. The software is available for Windows operating system.</p>
                                </div>
                                <div class="action">
                                    <a href="#">Get Started</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingAndroid.jpg"></amp-img>
                                    <span class="title">Fing Mobile</span>
                                </div>
                                <div class="content">
                                    <p>Easily discover all the devices on your personal and professional networks from your mobile phone. Available for Android and iOS.</p>
                                </div>
                                <div class="action">
                                    <a href="#">More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>  <!-- /Get Started -->

                <section class="blade first">
                    <div class="container">

                        <div class="carousel-wrapper mobile-hide">
                            <div class="video-div">
                                <amp-video width=261 height=469 autoplay loop src="/images/amp-phone.mp4" poster="/images/background.jpg">
                                    <div fallback>
                                        <p>Your browser doesn’t support HTML5 video</p>
                                    </div>
                                    <source type="video/mp4" src="/images/amp-phone.mp4">
                                    <source type="video/webm" src="/images/amp-phone.webm">
                                </amp-video>
                            </div>
                            <amp-img src="/images/phone_transparent.png" alt="" height="629" width="360" noloading class="carousel-phone"></amp-img>
                        </div>
                        <div class="row">
                            <div class=" carousel-text">
                                <h1>InstarVision App for Android</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                            </div>
                        </div>
                    </div>
                </section>   <!-- /First -->

                <section class="blade description">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Generic Headline</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="nine columns">
                                <p class="about-amp">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/><br/>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/><br/>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#"><button type="button" class="btn">VIEW FAQ</button></a>
                                <a href="#"><button type="button" class="btn">CONTACT US</button></a>
                            </div>
                        </div>
                    </div>
                </section>   <!-- /Description -->

                <section class="blade five">
                    <div class="container">
                        <div class="row">
                            <h1>The HD Web User Interface</h1>
                        </div>
                        <div class="row">
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_Software.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">Change the language of the web user interface, reboot or reset or upload a firmware and web UI update to your camera.</p>

                                    <p class="quote-source">
                                        <strong>Software Menu</strong><br/><a href="#">Language</a>, <a href="#">Reboot &amp; Reset</a>, <a href="#">Backup</a> and <a href="#">Update</a></p>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_Network.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">Change your camera´s IP configuration or WiFi settings or connect it to your smartphone by scanning the DDNS, P2P or Push Service QR code with our smartphone app.</p>

                                    <p class="quote-source">
                                        <strong>Network Menu</strong><br/><a href="#">IP Configuration</a>, <a href="#">WiFi</a>, <a href="#">DDNS</a>, <a href="#">P2P</a>, <a href="#">UPnP</a> and <a href="#">Push Service</a>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_System.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">Change your camera´s System settings, adjust the status and IR LEDs or the Pan, Tilt and Zoom behaviour of your camera.</p>

                                    <p class="quote-source">
                                        <strong>System Menu</strong><br/><a href="#">Info</a>, <a href="#">Date &amp; Time</a>, <a href="#">User</a>, <a href="#">Status LED</a>, <a href="#">IR LED</a>, <a href="#">ONVIF</a>, <a href="#">PTZ</a>, <a href="#">PTZ Tour</a> and <a href="#">System Log</a>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_Multimedia.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">Adjust your video quality and the audio volume of your camera. The image settings allow you to adjust contrast, saturation and brightness of your camera.</p>

                                    <p class="quote-source">
                                        <strong>Multimedia Menu</strong><br/><a href="#">Audio</a>, <a href="#">Video</a> and <a href="#">Image</a>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_Alarm.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">Activate your camera´s motion or audio detection and actions to be taken in case of an alarm - like video recordings, email alerts or FTP uploads.</p>

                                    <p class="quote-source">
                                        <strong>Alarm Menu</strong><br/><a href="#">Areas</a>, <a href="#">Privacy Mask</a>, <a href="#">Actions</a>, <a href="#">Schedule</a>, <a href="#">SMTP Server</a>, <a href="#">Email</a>, <a href="#">FTP</a>, <a href="#">Audio Alarm</a> and <a href="#">SD Card</a>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_Recording.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">All HD cameras are equipped with expandable SD card storage (up to 32 GB) that can be used to store photo series or video recordings.</p>

                                    <p class="quote-source">
                                        <strong>Recording Menu</strong><br/><a href="#">Schedule</a>, <a href="#">Video</a> and <a href="#">Photoseries</a>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_Menu-Bar.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">The Menu Bar is located above the live video and allows you to quickly access the SD card, take snapshots or start recordings or activate the motion detection of your camera.</p>

                                    <p class="quote-source">
                                        <strong>Menu Bar</strong><br/><a href="#">The HD WebUI Menu Bar</a></p>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_Video-Menu-Bar.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">The Video Menu Bar is a part of the ActiveX video plugin. To make use of the plugin, you have to activate it inside the <a href="#">Video Menu</a>.</p>

                                    <p class="quote-source">
                                        <strong>Video Menu Bar</strong><br/><a href="#">The HD WebUI Video Menu Bar</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                  <a href="#">
                                    <amp-img src="/images/QL-Box_WebUI_PTZ.png" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                  </a>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">Every camera that can be panned, tilted or have a lense with a variable focal length can be controlled directly from the user interface.</p>

                                    <p class="quote-source">
                                        <strong>PTZ Controls</strong><br/><a href="#">The HD WebUI Pan, Tilt &amp; Zoom Controls</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row"></div>
                    </div>
                </section>   <!-- /Five -->

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Alternative_IP_Scanner">
                                <h3>Use an IP Scanner to Search For your Camera</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>Ho to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>   <!-- /Blog -->

                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <a href="#">
                                    <amp-img layout=fixed height=25 width=25 src="/images/github.png" alt="" class="desaturate footer-image"></amp-img>
                                </a>
                            </div>
                          </div>
                        </div>
                    </footer>

                    <div>
                      <h1>How does an IP camera work?</h1>
                      <h3>This video contains a quick overview over the basic IP camera features like.</h3>

                      <amp-img class="placeholder shadow" src="/images/sea@1x.jpg" srcset="/images/sea@2x.jpg 1024w, /images/sea@1x.jpg 450w" height="1080px" width="1920px" layout="responsive"></amp-img>

                      <amp-youtube class="placeholder shadow" width="1920px" height="1080px" data-videoid="JWa1L_rBRW4" layout="responsive" sizes="(max-width: 630px) 100vw,
                                 45vw"></amp-youtube>

                      <amp-img class="placeholder shadow" width="1920px" height="1080px" src="/images/hero@1x.jpg" srcset="/images/hero@1x.jpg 320w,
                                  /images/hero@2x.jpg 640w" sizes="(max-width: 630px) 100vw,
                                 45vw" layout="responsive"></amp-img>
                    </div>

                </div>  <!-- /Content -->
            </div> <!-- /Wrap -->
        </body>
    </html>
