<!DOCTYPE html>
<html ⚡>
    <head>
        <% include amp/amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/Redirection">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Quick_Installation/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="container main">
                <article class="content">
                  <div class="margin">
                      <ul>
                        <li><a href="/index.php/Quick_Installation">Quick Installation</a></li>
                        <li><a href="/index.php/Quick_Installation">Schnell-Installation</a></li>
                        <ul>
                          <li><a href="/index.php/How_does_an_IP-Camera-Network_work%3F">How does an IP-Camera-Network work?</a></li>
                          <li><a href="/index.php/How_does_an_IP-Camera-Network_work%3F">Wie arbeitet eine IP Kamera?</a></li>
                          <li><a href="/index.php/First_Steps">First Steps to get your IP camera working</a></li>
                          <li><a href="/index.php/First_Steps">Erste Schritte um Ihre IP Kamera zum laufen zu bringen</a></li>
                          <li><a href="/index.php/After_unpacking_your_INSTAR_IP_Camera">After unpacking your INSTAR IP Camera</a></li>
                          <li><a href="/index.php/After_unpacking_your_INSTAR_IP_Camera">Nach dem auspacken Ihrer INSTAR IP Kamera</a></li>
                          <li><a href="/index.php/Direct_LAN_connection_with_your_IP_camera">Direct connection with a PC or Notebook</a></li>
                          <li><a href="/index.php/Direct_LAN_connection_with_your_IP_camera">Direkte Verbindung mit einem PC oder Notebook</a></li>
                          <li><a href="/index.php/Finding_your_IP_camera_in_the_network_if_the_IP_Camera_Tool_is_not_working">How to find your IP Camera in the network with an alternative IP Scanner</a></li>
                          <li><a href="/index.php/Finding_your_IP_camera_in_the_network_if_the_IP_Camera_Tool_is_not_working">Wie Sie Ihrer IP Kamera mit einem alternativen IP Scanner finden</a></li>
                          <li><a href="/index.php/ONVIF">The ONVIF Standard</a></li>
                          <li><a href="/index.php/ONVIF">Der ONVIF Standard</a></li>
                          <li><a href="/index.php/Language_Selection">Language selection</a></li>
                          <li><a href="/index.php/Language_Selection">Sprachauswahl in der IP Kamera</a></li>
                          <li><a href="/index.php/ActiveX_Plugin_Installation_on_Windows">ActiveX Plugin installation (for Internet Explorer)</a></li>
                          <li><a href="/index.php/ActiveX_Plugin_Installation_on_Windows">Installation des ActiveX Plugins (für Internet Explorer)</a></li>
                          <li><a href="/index.php/Quicktime_Plugin_Setup">Installation of the Quicktime Plugin</a></li>
                          <li><a href="/index.php/Quicktime_Plugin_Setup">Installation des Quicktime Plugins</a></li>
                          <li><a href="/index.php/Live_Video_in_Microsoft_Edge">Live Video in Microsoft Edge</a></li>
                          <li><a href="/index.php/Live_Video_in_Microsoft_Edge">Wie erhalte ich das Live Video im Microsoft Edge Browser</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Avast_Internet_Security">Troubleshooting for the Avast Internet Security</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Kaspersky_Internet_Security">Troubleshooting for the Kaspersky Internet Security 2013</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Kaspersky_Internet_Security">Notwendige Einstellungen in Kaspersky Internet Security 2013</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Kaspersky_Internet_Security_2014">Troubleshooting for the Kaspersky Internet Security 2014</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Kaspersky_Internet_Security_2014">Notwendige Einstellungen in Kaspersky Internet Security 2014</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Kaspersky_Internet_Security_2016">Notwendige Einstellungen in Kaspersky Internet Security 2016</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_AVG_Internet_Security">Troubleshooting the AVG Internet Security</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_AVG_Internet_Security">Notwendige Einstellungen in AVG Internet Security</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_AVIRA_Antivirus_Pro">Troubleshooting AVIRA Antivirus Pro</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_AVIRA_Antivirus_Pro">Notwendige Einstellungen in AVIRA Antivirus Pro</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Bitdefender_Internet_Security_2016">Notwendige Einstellungen in Bitdefender Internet Security 2016</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_Avast_Internet_Security">Notwendige Einstellungen in Avast Internet Security</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_F-Secure_Internet_Security">Troubleshooting for the F-Secure Internet Security</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_GDATA_Internet_Security_2016">Notwendige Einstellungen in GDATA Internet Security 2016</a></li>
                          <li><a href="/index.php/Exception_for_your_IP_camera_in_F-Secure_Internet_Security">Notwendige Einstellungen in F-Secure Internet Security</a></li>
                          <li><a href="/index.php/Creating_User_Accounts">Creating user accounts on your camera</a></li>
                          <li><a href="/index.php/Creating_User_Accounts">Benutzer Erstellen und Verwalten</a></li>
                          <li><a href="/index.php/How_to_upgrade_to_a_new_WebUI_or_Firmware">WebUI / Firmware upgrade</a></li>
                          <li><a href="/index.php/How_to_upgrade_to_a_new_WebUI_or_Firmware">WebUI / Firmware Upgrade</a></li>
                          <li><a href="/index.php/How_to_upgrade_to_a_new_WebUI_or_Firmware_(HD_Cameras)">How to upgrade to a new WebUI or Firmware (HD Cameras)</a></li>
                          <li><a href="/index.php/How_to_upgrade_to_a_new_WebUI_or_Firmware_(HD_Cameras)">Wie spiele ich eine neue WebUI bzw. Firmware auf (HD Kameras)</a></li>
                          <li><a href="/index.php/How_to_upgrade_to_a_new_WebUI_or_Firmware_(VGA_Cameras)">How to upgrade to a new WebUI or Firmware (VGA Cameras)</a></li>
                          <li><a href="/index.php/How_to_upgrade_to_a_new_WebUI_or_Firmware_(VGA_Cameras)">Wie spiele ich eine neue WebUI bzw. Firmware auf (VGA Kameras)</a></li>
                          <li><a href="/index.php/Clear_Browsing_History">How to clear your Browsing History after an Update</a></li>
                          <li><a href="/index.php/First_steps_to_set_up_a_Wifi_connection">How to set up a wireless connection</a></li>
                          <li><a href="/index.php/First_steps_to_set_up_a_Wifi_connection">Wie stelle ich eine WLAN Verbindung her</a></li>
                        </ul>
                      </ul>
                  </div>
                  <!-- margin -->

                </article>
                <!-- /article -->
            </div>
        </div>
    </body>
</html>
