<head><% include partials/template/head.ejs %></head>

    <body>
      <% include partials/template/outdated.ejs %>

      <div id="wrapper">

        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Gallery ############################################# -->
        <div style="margin: 30%">

            <a class="btn btn-primary" href="/Quick_Installation/AMP/" role="button">AMP</a>
            <a class="btn btn-primary" href="/Quick_Installation/AMP2/" role="button">AMP2</a>
            <a class="btn btn-primary" href="/Quick_Installation/AMP3/" role="button">AMP3</a>

        </div>
        <!-- ############################################# Footer ############################################# -->

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>

        </div>

    </body>

</html>
