<head><% include partials/template/head.ejs %></head>

    <body>
      <% include partials/template/outdated.ejs %>

      <div id="wrapper">

        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Gallery ############################################# -->
        <section class="container mb"><a href="/Quick_Installation/AMP"><button type="button" class="btn btn-primary">AMP</button></a></section>
        <section class="container mb"><a href="/Quick_Installation/AMP2"><button type="button" class="btn btn-primary">AMP2</button></a></section>
        <section class="container mb"><a href="/Quick_Installation/Redirection"><button type="button" class="btn btn-primary">Redirection</button></a></section>
        <!-- ############################################# Footer ############################################# -->

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>

        </div>

    </body>

</html>
