<!DOCTYPE html>
<html ⚡>
    <head>
        <% include amp/amp-head.ejs %>
    </head>

    <body class="home">

        <header class="fixed">
            <% include amp/amp-qiheader.ejs %>
        </header>

        <div class="wrap">
            <div class="content">
                <section class="hero altIP">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Use an Alternative Scanner to Find your Camera</h1>
                                    <p class="intro desktop-only">
                                      <br/><br/>The most convenient way to connect to find your camera on your local network, is the <a href="http://wiki.instar.de/index.php/INSTAR_Camera_Tool">INSTAR Camera Tool</a>. The following alternatives should only be used if the default tool fails.
                                    </p>
                                    <p class="intro mobile-only"><br/><br/>Use one of the following tools, if the <a href="http://wiki.instar.de/index.php/INSTAR_Camera_Tool">INSTAR Camera Tool</a> fails you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Alternative IP Scanner</h1>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/angryIP.jpg"></amp-img>
                                    <span class="title">Angry IP Scanner</span>
                                </div>
                                <div class="content">
                                    <p>Angry IP scanner is a very fast open-source IP address and port scanner. It is available for Windows, MacOSX as well as Linux.</p>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Angry_IP_Scanner">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingCLI.jpg"></amp-img>
                                    <span class="title">Fing CLI</span>
                                </div>
                                <div class="content">
                                    <p>Fing is an easy-to-use command line tool to keep an eye on your local IP network. The software is available for Windows, macOS and LINUX.</p>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Fing_CLI">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingAndroid.jpg"></amp-img>
                                    <span class="title">Fing Mobile</span>
                                </div>
                                <div class="content">
                                    <p>Easily discover all the devices on your personal and professional networks from your mobile phone. Available for Android and iOS.</p>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Fing_Mobile">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>How to Update your Cameras Firmware and User Interface</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>Ho to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <footer>
                    <% include amp/amp-footer.ejs %>
                </footer>
                </body>
            </html>
