<!DOCTYPE html>
<html ⚡>
    <head>
        <% include amp/amp-head.ejs %>
    </head>

    <body class="home">

        <h1>How does an IP camera work?</h1>
        <h3>This video contains a quick overview over the basic IP camera features like.</h3>

        <amp-img class="placeholder shadow" src="/images/sea@1x.jpg" srcset="/images/sea@2x.jpg 1024w, /images/sea@1x.jpg 450w" height="1080px" width="1920px" layout="responsive"></amp-img>

        <amp-youtube class="placeholder shadow" width="1920px" height="1080px" data-videoid="JWa1L_rBRW4" layout="responsive" sizes="(max-width: 630px) 100vw,
                   45vw"></amp-youtube>

        <amp-img class="placeholder shadow" width="1920px" height="1080px" src="/images/hero@1x.jpg" srcset="/images/hero@1x.jpg 320w,
                    /images/hero@2x.jpg 640w" sizes="(max-width: 630px) 100vw,
                   45vw" layout="responsive"></amp-img>

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow"
                                       src="/images/instar_245x77.png"
                                       height="30px" width="95px"
                                       alt="Instar Wiki">
                              </amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Quick_Installation/" class="tab header-title">
                              <amp-img class="placeholder shadow"
                                       src="/images/interface-reply-arrow-icon.jpg"
                                       height="30px" width="30px"
                                       alt="Go Back">
                              </amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="wrap">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Instant. Everywhere.</h1>
                                    <p class="intro desktop-only">For many, reading on the mobile web is a slow, clunky and frustrating experience - but it doesn’t have to be that way. The Accelerated Mobile Pages (AMP) Project is an open source initiative that embodies the vision that publishers can create mobile optimized content once and have it load instantly everywhere.</p>
                                    <p class="intro mobile-only">The Accelerated Mobile Pages (AMP) Project is an open initiative that embodies the vision that publishers can create mobile optimized content once and have it load instantly everywhere.</p>

                                    <a on="tap:my-lightbox" class="watch-video" role="button">VIEW VIDEO</a>

                                    <amp-lightbox id="my-lightbox" layout="nodisplay" on="tap:my-lightbox.close" role="button" tabindex="1">

                                        <div class="lightbox">

                                            <amp-youtube data-videoid="JWa1L_rBRW4" layout="responsive" width="480" height="270"></amp-youtube>

                                            <div class="close-button" on="tap:my-lightbox.close" role="button" tabindex="1"></div>
                                        </div>
                                    </amp-lightbox>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Get Started with AMP HTML</h1>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/man.jpg"></amp-img>
                                    <span class="title">Technical Introduction</span>
                                </div>
                                <div class="content">
                                    <p>If you are new to AMP HTML, our technical introduction is a great place to get started and provides an overview of the project and how AMP HTML works.</p>
                                </div>
                                <div class="action">
                                    <a href="#">Read the Introduction</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/amp.jpg"></amp-img>
                                    <span class="title">Tutorial</span>
                                </div>
                                <div class="content">
                                    <p>Ready to build an AMP file? This tutorial will teach you how to create a basic AMP HTML page, stage it, test it, and get it ready for publication.</p>
                                </div>
                                <div class="action">
                                    <a href="#">Get Started</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/code.jpg"></amp-img>
                                    <span class="title">View Code</span>
                                </div>
                                <div class="content">
                                    <p>If you'd like to dive deeper into AMP HTML, you can find all of the source code, code samples, and detailed documentation in our GitHub repository.</p>
                                </div>
                                <div class="action">
                                    <a href="#">Visit Github</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Alternative_IP_Scanner">
                                <h3>Use an IP Scanner to Search For your Camera</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>Ho to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <section class="blade description">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>An architectural framework built for speed</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="nine columns">
                                <p class="about-amp">With the recent shift to mobile, media consumption is changing. Users now consume content wherever they find it -- sometimes it’s directly from a publisher’s website, oftentimes it’s not. Given how frustrating the mobile web can
                                    be, many content distribution platforms are seeking alternatives. In many cases, these alternatives tend to be platform specific, placing a burden on the publishers to support this fragmentation of formats and closing off the ecosystem.<br/><br/>
                                    The Accelerated Mobile Pages (AMP) Project is an initiative to improve the mobile web and enhance the distribution ecosystem. If content is fast, flexible and beautiful, including compelling and effective ads, we can preserve the open web publishing
                                    model as well as the revenue streams so important to the sustainability of quality publishing.<br/><br/>
                                    AMP HTML is a new way to make web pages that are optimized to load instantly on users’ mobile devices. It is designed to support smart caching, predictable performance, and modern, beautiful mobile content. Since AMP HTML is built on existing web
                                    technologies, and not a template based system, publishers continue to host their own content, innovate on their user experiences, and flexibly integrate their advertising and business models -- all within a technical architecture optimized for speed
                                    and performance.</p>
                                <a href="/faq" class="go-button">VIEW FAQ</a>
                                <a class="go-button" href="/contact/">
                                    CONTACT US
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="blade first">
                    <div class="container">

                        <div class="carousel-wrapper mobile-hide">
                            <div class="video-div">
                                <amp-video width=261 height=469 autoplay loop src="/images/amp-phone.mp4" poster="/images/background.jpg">
                                    <div fallback>
                                        <p>Your browser doesn’t support HTML5 video</p>
                                    </div>
                                    <source type="video/mp4" src="/images/amp-phone.mp4">
                                    <source type="video/webm" src="/images/amp-phone.webm">
                                </amp-video>
                            </div>
                            <amp-img src="/images/phone_transparent.png" alt="" height="629" width="360" noloading class="carousel-phone"></amp-img>
                        </div>
                        <div class="row">
                            <div class=" carousel-text">
                                <h1>Seamless, simplified publishing</h1>
                                <p>AMP HTML embraces the open web, so you can be sure that your content appears correctly across all modern browsers and apps. Pages are published normally to your site, using standard tools, and are accelerated via caches created by Google and others.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="blade five">
                    <div class="container">
                        <div class="row">
                            <h1>What contributors are saying</h1>
                        </div>
                        <div class="row">
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/guardian.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“This is a project of real ambition. It seeks simultaneously to create a great user experience, to give more autonomy to publishers to deliver that and to develop effective advertising for the mobile web. Achieving these in
                                        tandem will be vital to building a more sustainable ecosystem where great journalism can flourish. We are keen to see it succeed.”</p>

                                    <p class="quote-source">
                                        <strong>Tony Danker</strong><br/>Chief Strategy Officer, Guardian News &amp; Media</p>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/google.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“Speed has always been a cornerstone of Google Search and we're thrilled to be working alongside others in the tech industry and publishers around the world to bring the Accelerated Mobile Pages Project to life. An open content
                                        ecosystem will give publishers maximum reach and allow users to get the best content no matter which app they are using. AMP HTML will make it all blazing fast, so we can't wait to use it!”</p>

                                    <p class="quote-source">
                                        <strong>David Besbris</strong><br/>VP Engineering, Google Search</p>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/vox.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“At Vox Media, we want our users to have the best experience possible on whatever device or platform they choose, and we have always believed in benefiting and contributing to open web projects. We’re proud to partner with other
                                        media and technology companies to create a standardized approach to web publishing that allows our mobile users the most consistent, fast, accessible, and high-quality experience possible.”</p>

                                    <p class="quote-source">
                                        <strong>Melissa Bell</strong><br/>VP, Growth and Analytics, Vox Media and co-founder of Vox.com</p>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/hearst.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“Speed is a key part of delivering great mobile experiences for Hearst’s premium content — this initiative is a way to improve the mobile experience for users while allowing publishers the flexibility to design the experience
                                        and the product in a way that supports its business requirements for data, analytics and monetization.”</p>

                                    <p class="quote-source">
                                        <strong>Phil Wiser</strong><br/>CTO, Hearst</p>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/twitter.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“We are thrilled to be working alongside Google and other industry leaders to create a better mobile web experience inside of all apps, by partnering with publishers, we are helping them achieve their goals and tell stories with Tweets.”</p>

                                    <p class="quote-source">
                                        <strong>Michael Ducker</strong><br/>Product Manager, Twitter</p>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/newyorktimes.jpeg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“As third party mobile platforms become increasingly important, this initiative has the potential to reduce the effort required to distribute content to those platforms, deliver a better user experience and keep economic control
                                        in the hands of publishers.”</p>

                                    <p class="quote-source">
                                        <strong>Kinsey Wilson</strong><br/>EVP, Product &amp; Technology, The New York Times</p>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/faz.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“On mobile devices, the display of news articles listed by Google shall improve significantly. That’s one of the first results of the Digital News Initiative instigated by Google and eight European publishing companies. We
                                        expect this project to considerably boost usage of our mobile pages. We will carefully watch how the initiative can contribute toward increasing advertising revenues. The key will be to improve the publishing business in the context of the digital
                                        world.”</p>

                                    <p class="quote-source">
                                        <strong>Mathias Müller von Blumencron</strong><br/>Editor in Chief, FAZ.NET</p>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/chartbeat.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“The mobile open web experience is terrible and some have suggested it's too slow to compete. We can choose to see the mobile open web as a relic of its time and flee to the warm embrace of closed platforms and apps. Or we can
                                        say that the open web means something important to the world and if it’s broken it’s our job to fix it. I think we should fix it. That’s why Chartbeat is proud to be a part of the Accelerated Mobile Pages Project. It’s our attempt to fix the mobile
                                        experience, make it fast and beautiful, and ensure the future of an open web.”</p>

                                    <p class="quote-source">
                                        <strong>Tony Haile</strong><br/>CEO, Chartbeat</p>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/lastampa.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“Once we used to talk about digital first, or mobile first. This was the past. Today legacy media need to bring their journalism outside their websites, on the platforms and on the devices where people are. La Stampa is almost
                                        150 years old. We believe in quality and trust. Combining them with a great user experience will make our journalism thrive for the next 150 years. This is why we are part of the project.”</p>

                                    <p class="quote-source">
                                        <strong>Mario Calabresi</strong><br/>Editor in Chief, La Stampa</p>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="two columns">
                                    <amp-img src="/images/folha.jpg" width="125" height="125" noloading alt="" class="quote-image shadow"></amp-img>
                                </div>
                                <div class="four columns">
                                    <p class="quote-copy">“We welcome this project because it accelerates the consumption of mobile content and preserves the business model that finances quality journalism.”</p>

                                    <p class="quote-source">
                                        <strong>Antonio Manuel Teixeira Mendes</strong><br/>Director-Superintendent, Folha de S.Paulo</p>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row"></div>
                    </div>
                </section>

                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <a href="#">
                                    <amp-img layout=fixed height=25 width=25 src="/images/github.png" alt="" class="desaturate footer-image"></amp-img>
                                </a>
                            </div>

                        </div>
                    </footer>
                </div>
            </div>
        </body>
    </html>
