<!DOCTYPE html>
<html ⚡>
    <head>
        <% include amp/amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/Fing_CLI">
    </head>

    <body class="home">

        <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">

                          <a href="/Quick_Installation/Alternative_IP_Scanner" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        </header>

        <div class="wrap">
            <div class="content">
                <section class="hero altIP">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Fing CLI</h1>
                                    <p class="intro desktop-only">
                                        Fing is the super-fast and reliable network scanning App.<br/><br/>
                                        Find out which devices are connected to your Wi-Fi network, in just a few seconds. Fast and accurate, Fing is a professional App for network analysis. A simple and intuitive interface helps you evaluate security levels, detect intruders and resolve network issues.
                                    </p>
                                    <p class="intro mobile-only"><br/><br/>Simple command line interface to map your local network.</p>
                                    <a href="https://www.fingbox.com/download">
                                        <button type="button" class="btn">DOWNLOAD</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="wrap">
                    <div class="container main">

                        <article>
                            <!-- article -->

                            <div class="margin">
                                <h1>Alternative IP Scanner</h1>
                                <h4>How to find your IP Camera in the network with an alternative IP Scanner</h4>
                                <p class="justify">
                                    The
                                    <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.5.msi.zip" target="_blank">IP Camera Tool (Windows)</a>,
                                    <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">IP Camera Tool (MacOSX)</a>
                                    or
                                    <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">IP Camera Tool (Linux)</a>
                                    is for sure the most comfortable way to find your IP camera inside your network. Instructions on how to set up your INSTAR IP camera with the Camera Tool can be found here.
                                </p>
                                <p class="justify">
                                    If, for some reason, the IP Camera Tool does not work on your computer, here are a few other options to discover the IP address. The camera will try to receive an IP address automatically (DHCP) during the first installation. Most routers will give you a log file of fresh DHCP requests, in which you should be able to find the camera´s IP address. You should reach the cameras login portal by typing this address into the web browser´s address bar.
                                </p>
                                <p class="justify">
                                    If you do not have access to your router or if your router does not have any log files please refer to alternative IP scanners - an examples is:
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <h2 class="post-title">Fing CLI (Windows/MacOSX/Linux)</h2>
                                <p class="justify">
                                    The newest version of the freeware application "Fing" can be found on <a href="https://www.fingbox.com/download" target="_blank">here for Windows/macOSX/Linux</a>. After installation type fing into your command console to start the software:
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <amp-img src="/images/IPScanner_Windows_Fing_01.png" width=450 height=71 layout="responsive" class="shadow"></amp-img>
                                <p>Type fing into your commandline tool to start the program.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    Make sure that your camera is unplugged - then scan your network. Now connect the camera to your router and re-run the scan. The camera should have received an IP address by DHCP and be listed as a network device:
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <amp-img src="/images/IPScanner_Windows_Fing_02.png" width=450 height=491 layout="responsive" class="shadow"></amp-img>
                                <p>Let the Fing scan your network for a new active host.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    You can now use the camera´s IP address to access the <a href="/HD_Handbuch_Weboberfläche_Software">Web User Interface</a> with your default web browser.
                                </p>
                            </div>
                            <!-- /margin -->

                        </article>
                        <!-- /article -->
                    </div>
                </div>

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>How to Update your Cameras Firmware and User Interface</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>Ho to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <footer>
                    <% include amp/amp-footer.ejs %>
                </footer>
            </body>
        </html>
