<!DOCTYPE html>
<html lang="en">
    <head><% include partials/template/head.ejs %></head>
    <body>
        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- ----------------------------------------------------- First Steps ------------------------------------------- -->

        <section class="container mb">

            <div class="row">

                <div class="mb">
                    <p class="text-justify">This video contains a quick overview over the first steps involved in setting up your IP camera. Please go to the website
                        <a href="http://install.instar.de">Installation Wizard</a>
                        and follow the step by step instructions in order to set up your ip camera.</p>
                </div>

                <div class="col-md-6 mb">
                    <ul>
                        <li>Initial setup - Power supply, Wifi Antenna and camera boot up</li>
                        <li>
                            <a href="http://wiki.instar.com/index.php/LAN_Connection">Network integration</a>
                            (<a href="http://wiki.instar.com/index.php/Local_Area_Network">LAN</a>)</li>
                        <li>The INSTAR search tool (<a href="http://wiki.instar.com/index.php/INSTAR_Camera_Tool">Search Tool</a>) and web user interface (<a href="http://wiki.instar.com/index.php/Web_User_Interface">webUI</a>)</li>
                        <li>How to set a static IP address (<a href="http://wiki.instar.com/index.php/IP_Address">TCP/IP</a>)</li>
                        <li>Camera login and standard passwords (<a href="http://wiki.instar.com/index.php/Creating_User_Accounts#Default_Logins">Default Passwords</a>)</li>
                        <li>
                            <a href="http://wiki.instar.com/index.php/First_steps_to_set_up_a_Wifi_connection">Wifi integration</a>
                            (<a href="http://wiki.instar.com/index.php/Wireless_Local_Area_Network">WLAN</a>)</li>
                        <li>Image quality settings (<a href="http://wiki.instar.com/index.php/Web_User_Interface#Multimedia">Image Settings</a>)</li>
                    </ul>
                </div>

                <div class="col-md-6 mb">
                    <div class="floating-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ByMkfVgjl3c" alt="INSTAR IP Camera Installation- First Steps"></iframe>
                        </div>
                        <div class="caption" style="padding: 5px;">
                            <h4>INSTAR IP Camera Installation- First Steps</h4>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <div class="clearfix"></div>

        <!-- ----------------------------------------------------- Related Topics ------------------------------------------- -->

        <section class="mb"><% include partials/content/qiRelated.ejs %></section>

        <!-- ----------------------------------------------------- Footer ------------------------------------------- -->

        <footer><% include partials/template/footer.ejs %></footer>
        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
