<!DOCTYPE html>
<html lang="en">
    <head><% include partials/template/head.ejs %></head>
    <body>
        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- ----------------------------------------------------- Clear History ------------------------------------------- -->

        <p class="text-justify">
          Sometimes your camera´s WebUI might not behave the way you want. You updated your camera´s software, but it still shows you the old version ? An update should bring new functions to the user interface - but they are nowhere to be seen? Or you simply cannot change a setting? Your Browser might have cached old parts of the user interface and refuses to reload the new or updated files. Here is how you can get rid of your browsers browsing history in several common browsers:
        </p>


        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Internet_Explorer" target="_blank">
                    <img src="http://wiki.instar.com/images/9/9c/Icon_Internet-Explorer-10.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Clear Browsing History in Internet Explorer">
                </a>
            </figure>
        </div>

        <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Internet_Explorer">Clear Browsing History in Internet Explorer</a>

        <div class="clearfix"></div>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Mozilla_Firefox" target="_blank">
                    <img src="http://wiki.instar.com/images/2/2c/Icon_Firefox.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Clear Browsing History in Mozilla Firefox">
                </a>
            </figure>
        </div>

        <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Mozilla_Firefox">Clear Browsing History in Mozilla Firefox</a>

        <div class="clearfix"></div>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Chrome" target="_blank">
                    <img src="http://wiki.instar.com/images/5/5d/Icon_Chromium.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Clear your Browsing History in Chrome or ''Chromium-based'' Browsers">
                </a>
            </figure>
        </div>

        <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Chrome">Clear your Browsing History in Chrome or ''Chromium-based'' Browsers</a>

        <div class="clearfix"></div>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Opera" target="_blank">
                    <img src="http://wiki.instar.com/images/1/1b/Icon_Opera.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Clear your Browsing History in Opera">
                </a>
            </figure>
        </div>

        <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Opera">Clear your Browsing History in Opera</a>

        <div class="clearfix"></div>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Edge" target="_blank">
                    <img src="http://wiki.instar.com/images/2/29/Icon_Edge.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Clear your Browsing History in Edge">
                </a>
            </figure>
        </div>

        <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Edge">Clear your Browsing History in Edge</a>

        <div class="clearfix"></div>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Vivaldi" target="_blank">
                    <img src="http://wiki.instar.com/images/a/a3/Icon_Vivaldi.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Clear your Browsing History in Vivaldi">
                </a>
            </figure>
        </div>

        <a href="http://wiki.instar.com/index.php/Clear_Browsing_History_in_Vivaldi">Clear your Browsing History in Vivaldi</a>


        <!-- ----------------------------------------------------- Related Topics ------------------------------------------- -->

        <section class="mb"><% include partials/content/qiRelated.ejs %></section>

        <!-- ----------------------------------------------------- Footer ------------------------------------------- -->

        <footer><% include partials/template/footer.ejs %></footer>
        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
