<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="INSTAR Wiki - Static Node/Express Template">
    <meta name="author" content="Mike Polinowski">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/tether.min.js" crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>

<body>

    <!-- ############################################# Navbar ############################################# -->

    <section class="collapse" id="CollNavbar">
        <div class="navbar navbar-light bg-faded">
            <!-- collapsed content -->
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><strong>Home</strong></a>
                </li>
                <li class="nav-item" style="padding-left: 15px;">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item" style="padding-left: 10px;">
                    <a class="nav-link" href="#">Knowledgebase</a>
                </li>
                <li class="nav-item" style="padding-left: 10px;">
                    <a class="nav-link" href="#">Downloads</a>
                </li>
            </ul>
            <form class="form-inline pull-xs-right">
                <input class="form-control form-control-sm" type="text" placeholder="Search">
                <button class="btn btn-primary-outline btn-sm" type="submit">Search</button>
            </form>
        </div>
        <!-- collapsed content -->
    </section>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <div>
            <a class="navbar-brand" href="http://instar.de" target="_blank">
                <img src="http://wiki.instar.de/instar_245x77.png" class="img-fluid" style="max-height: 30px;" alt="INSTAR Deutschland GmbH" />
            </a>
        </div>
        <div class="pull-xs-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#CollNavbar">
                &#9776;
            </button>
        </div>
    </nav>
    <!-- /navbar-dark -->

    <!-- ############################################# Landing ############################################# -->

    <section id="landing">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <h1>INSTAR Wiki</h1>
                    <h2>Knowledgebase for IP Cameras and Surveillance Networks</h2>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /landing -->

    <!-- #############################################  Primary ############################################# -->

    <section id="primary">
        <div class="container">
            <div class="row">
                <div class="col-md-5 centered hidden-sm-down">
                    <a href="#"><img src="images/iphone.png" alt="InstarVision Software Solution" class="img-fluid"></a>
                </div>

                <div class="col-xs-12 col-md-7 pb">
                    <div class="col-xs-12">
                        <h3>InstarVision Surveillance Solution</h3>
                        <p>Control your IP security camera from your PC, Mac, Tablet or Smartphone. INSTAR offers a solution for every surveillance taske.</p>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="col-xs-3">
                            <a href="#"><i class="fa fa-android"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#"><i class="fa fa-apple"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#"><i class="fa fa-windows"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#"><i class="fa fa-mobile-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /primary -->

    <!-- ############################################# Jumbotron ############################################# -->

    <section class="jumbotron">
        <div class="row">
            <div class="col-xs-offset-5 col-xs-3">
                <h1><%= title %></h1>
                <p>Welcome to
                    <%= title %>
                </p>
            </div>
        </div>
    </section>

    <!-- ############################################# Gallery ############################################# -->

    <section class="container mb">
        <div class="row centered mt grid">
            <h3>Wiki Topics</h3>
            <div class="mt"></div>
            <div class="col-lg-4">
                <a href="#"><img src="http://placehold.it/300x300" alt=""></a>
            </div>
            <div class="col-lg-4">
                <a href="#"><img src="http://placehold.it/300x300" alt=""></a>
            </div>
            <div class="col-lg-4">
                <a href="#"><img src="http://placehold.it/300x300" alt=""></a>
            </div>
        </div>

        <div class="row centered mt grid">
            <div class="mt"></div>
            <div class="col-lg-4">
                <a href="#"><img src="http://placehold.it/300x300" alt=""></a>
            </div>
            <div class="col-lg-4">
                <a href="#"><img src="http://placehold.it/300x300" alt=""></a>
            </div>
            <div class="col-lg-4">
                <a href="#"><img src="http://placehold.it/300x300" alt=""></a>
            </div>
        </div>

        <div class="row mt centered">
            <div class="col-lg-7 col-lg-offset-1 mt">
                <p class="lead">INSTAR offers a Installation Wizard, that will lead you through the first steps of the camera installation.</p>
            </div>

            <div class="col-lg-3 mt">
                <p>
                    <a href="http://install.instar.de" target="_blank">
                        <button type="button" class="btn btn-primary btn-lg">Installation Wizard</button>
                    </a>
                </p>
            </div>
        </div>
    </section>

    <!-- #############################################  Warning ############################################# -->

    <section id="warning">
        <div class="container">
            <div class="row">
                <div class="col-md-5 centered mb">
                    <a href="#"><img src="images/macbook.png" alt="The Web User Interface" class="img-fluid"></a>
                </div>

                <a href="#"><div class="col-xs-12 col-md-7 centered">
                    <h3>The Web User Interface</h3>
                    <p>Control your camera from your default web browser. Click here to find a detailed description of your HD cameras web user interface.</p>
                </div></a>
            </div>
        </div>
    </section>

    <!-- ############################################# Contact ############################################# -->

    <section id="social">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-md-3">
                        <a href="https://www.youtube.com/user/INSTARTV/videos" target="_blank"><i class="fa fa-youtube"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/instar.deutschland" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://github.com/mpolinowski" target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="http://www.instar.de/contact_us/" target="_blank"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="pull-xs-right">
                    <p class="text-muted"><small><i class="fa fa-copyright"></i> 2016 INSTAR Deutschland GmbH</small></p>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
