<!DOCTYPE html>
<html lang="en">
    <head><% include partials/template/head.ejs %></head>
    <body>
        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- ----------------------------------------------------- Language ------------------------------------------- -->

        <section style="margin-bottom: 30px;">

            <div class="container-fluid" style="margin-bottom: 30px;">
                <p class="text-justify">The new INSTAR web interface for your ip camera detects automatically what default language your web browser is using. By default the web interface will be loaded in the language which is used by your web browser. You can also click
                    <em>Software/Language</em>
                    on the left side navigation in order to select the language you would like to use.</p>
            </div>

            <figure style="margin-bottom: 20px;">
                <img src="http://wiki.instar.com/images/4/4a/Spracheinstellung_HD_EN1.jpg" alt="INSTAR IP Camera :: Language Selection" class="img-fluid">
                <figcaption>Web User Interface Language Selection :: Go to
                    <em>Software / Language</em>.</figcaption>
            </figure>

            <figure style="margin-bottom: 20px;">
                <img src="http://wiki.instar.com/images/f/f6/Spracheinstellung_HD_EN2.jpg" alt="INSTAR IP Camera :: Language Selection" class="img-fluid">
                <figcaption>Web User Interface Language Selection :: And choose the language you want to load the user interface in.</figcaption>
            </figure>

        </section>

        <div class="clearfix"></div>

        <!-- ----------------------------------------------------- Related Topics ------------------------------------------- -->

        <section class="mb"><% include partials/content/qiRelated.ejs %></section>

        <!-- ----------------------------------------------------- Footer ------------------------------------------- -->

        <footer><% include partials/template/footer.ejs %></footer>
        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
