<!DOCTYPE html>
<html lang="en">

    <head><% include partials/template/head.ejs %></head>

    <body>

      <div id="wrapper">

        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb"><% include partials/content/gallery_motiondetection.ejs %></section>
        <!-- /quickinstallation -->

        <section class="instarvision"><% include partials/content/instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include partials/template/social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>

        </div>

    </body>

</html>
