<% include partials/template/_head.ejs %>

    <body>
      <% include partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ############################################# Landing ############################################# -->

        <section class="landing">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-xs-center">
                        <h1 class="headline hidden-sm-down">INSTAR Wiki</h1>
                        <h1 class="mobile-headline hidden-md-up">INSTAR Wiki 2.0</h1>
                        <hr>
                        <h2 class="subheader hidden-sm-down">The INSTAR Product Portfolio</h2>
                        <h3 class="subheader hidden-md-up">INSTAR Products</h3>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </section>
        <!-- /landing -->

        <!-- #############################################  Cameras ############################################# -->

        <section class="container mb">
            <div class="row centered mt grid">

                <div class="row center-block mb">
                    <div class="col-md-4 col-md-offset-4 centered ">
                        <h4>
                            <span class="text-muted">INSTAR IP Cameras</span>
                        </h4>
                        <hr>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/Indoor_Cameras"><img src="/images/Wiki_Tiles_P-Indoor.jpg" alt="Indoor Cameras" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/Outdoor_Cameras"><img src="/images/Wiki_Tiles_P-Outdoor.jpg" alt="Outdoor Cameras" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/Software"><img src="/images/Wiki_Tiles_P-Software.jpg" alt="Software" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/Downloads"><img src="/images/Wiki_Tiles_P-Downloads.jpg" alt="Downloads" class="img-fluid"></a>
                </div>

            </div>
        </section>
        <!-- /Cameras -->

        <section class="webui mb"><% include partials/content/_webui.ejs %></section>
        <!-- /webui -->

        <!-- #############################################  Networking Accessories ############################################# -->

        <section class="container mb">
            <div class="row centered mt grid">

                <div class="row center-block mb">
                    <div class="col-md-4 col-md-offset-4 centered ">
                        <hr>
                        <h4>
                            <span class="text-muted">Networking Accessories</span>
                        </h4>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IN-LAN"><img src="/images/Wiki_Tiles_P-IN-LAN.jpg" alt="IN-LAN Powerline Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/PoE"><img src="/images/Wiki_Tiles_P-IN-PoE.jpg" alt="Power-over-Ethernet Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/Accessories"><img src="/images/Wiki_Tiles_P-Downloads.jpg" alt="Downloads" class="img-fluid"></a>
                </div>

            </div>
        </section>
        <!-- /Cameras -->

        <!-- #############################################  Accessories ############################################# -->

        <section class="container mb">
            <div class="row centered mt grid">

                <div class="row center-block mb">
                    <div class="col-md-4 col-md-offset-4 centered ">
                        <hr>
                        <h4>
                            <span class="text-muted">Accessories</span>
                        </h4>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IN-Motion"><img src="/images/Wiki_Tiles_P-IN-Motion.jpg" alt="IN-Motion Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IR_Lighting"><img src="/images/Wiki_Tiles_P-IN-Frared.jpg" alt="IR Lighting Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IN-Mikro"><img src="/images/Wiki_Tiles_P-IN-Mikro.jpg" alt="IN-Mikro Products" class="img-fluid"></a>
                </div>

            </div>
        </section>
        <!-- /Cameras -->

        <section class="instarvision"><% include partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include partials/template/_footer.ejs %></footer>

        <% include partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
