<!DOCTYPE html>
<html lang="en">

    <head><% include partials/template/head.ejs %></head>

    <body>

      <div id="wrapper">

        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Cameras ############################################# -->

        <section class="container mb">
            <div class="row centered mt grid">

                <div class="row center-block mb">
                    <div class="col-md-4 col-md-offset-4 centered ">
                        <hr>
                        <h4>
                            <span class="text-muted">INSTAR IP Cameras</span>
                        </h4>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/Indoor_Cameras"><img src="http://placehold.it/300x300" alt="Indoor Cameras" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/Outdoor_Cameras"><img src="http://placehold.it/300x300" alt="Outdoor Cameras" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Downloads"><img src="http://placehold.it/300x300" alt="Downloads" class="img-fluid"></a>
                </div>

            </div>
        </section>
        <!-- /Cameras -->

        <section class="webui mb"><% include partials/content/webui.ejs %></section>
        <!-- /webui -->

        <!-- #############################################  Networking Accessories ############################################# -->

        <section class="container mb">
            <div class="row centered mt grid">

                <div class="row center-block mb">
                    <div class="col-md-4 col-md-offset-4 centered ">
                        <hr>
                        <h4>
                            <span class="text-muted">Networking Accessories</span>
                        </h4>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IN-LAN"><img src="http://placehold.it/300x300" alt="IN-LAN Powerline Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/PoE"><img src="http://placehold.it/300x300" alt="Power-over-Ethernet Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Downloads"><img src="http://placehold.it/300x300" alt="Downloads" class="img-fluid"></a>
                </div>

            </div>
        </section>
        <!-- /Cameras -->

        <section class="instarvision"><% include partials/content/instarvision.ejs %></section>
        <!-- /webui -->

        <!-- #############################################  Accessories ############################################# -->

        <section class="container mb">
            <div class="row centered mt grid">

                <div class="row center-block mb">
                    <div class="col-md-4 col-md-offset-4 centered ">
                        <hr>
                        <h4>
                            <span class="text-muted">Accessories</span>
                        </h4>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IN-Motion"><img src="http://placehold.it/300x300" alt="IN-Motion Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IR_Lighting"><img src="http://placehold.it/300x300" alt="IR Lighting Products" class="img-fluid"></a>
                </div>

                <div class="col-xs-6 col-lg-4 mb">
                    <a href="/Products/IN-Mikro"><img src="http://placehold.it/300x300" alt="IN-Mikro Products" class="img-fluid"></a>
                </div>

            </div>
        </section>
        <!-- /Cameras -->

        <section class="social"><% include partials/template/social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>

        </div>

    </body>

</html>
