<!DOCTYPE html>
<html ⚡>
    <head>
        <% include partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/How_To_Clear_Your_Browsing_History_Internet_Explorer">
    </head>

    <body class="home">

        <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">

                          <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        </header>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h2>Erase your Browsing History in Microsoft Edge</h2>
                      <p class="justify">Sometimes your camera´s WebUI might not behave the way you want. You updated your camera´s software, but it still shows you the old version? An update should bring new functions to the user interface - but they are nowhere to be seen? Or you simply cannot change a setting? Your Browser might have cached old parts of the user interface and refuses to reload the new or updated files. Here is how you can get rid of your browsers browsing history in several common browsers:</p>
                    </div>
                </div>

                <div class="margin">
                    <amp-img src="/images/Edge-Clean-History_01.png" width=800 height=276 layout="responsive" class="shadow"></amp-img>
                    <p>Open the Options menu and choose <strong>Settings</strong>.</p>
                </div>
                <!-- /margin -->

                <div class="margin">
                    <amp-img src="/images/Edge-Clean-History_02.png" width=800 height=278 layout="responsive" class="shadow"></amp-img>
                    <p>Scroll down to the <strong>Privacy</strong> section and click on <em>Clear Browsing Data</em>.</p>
                </div>
                <!-- /margin -->

                <div class="margin">
                    <amp-img src="/images/InternetExplorer-Clean-History_03.png" width=800 height=424 layout="responsive" class="shadow"></amp-img>
                    <p>Check the options above and click on <strong>Delete</strong>.</p>
                </div>
                <!-- /margin -->

            </div>
        </section>

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>First Steps to Install your INSTAR IP Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>What to do After Umpacking your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Connect your Camera with Computer Directly</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
