<!DOCTYPE html>
<html lang="en">

    <head><% include partials/template/head.ejs %></head>

    <body>

        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Gallery ############################################# -->
        <section class="container mb"><a href="/Quick_Installation/AMP"><button type="button" class="btn btn-primary">AMP</button></a></section>
        <section class="container mb"><a href="/Quick_Installation/AMP2"><button type="button" class="btn btn-primary">AMP2</button></a></section>

        <section class="container mb"><% include partials/content/gallery_quickinstallation.ejs %></section>
        <!-- /quickinstallation -->

        <section class="webui mb"><% include partials/content/webui.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include partials/template/social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>

    </body>

</html>
