<% include _partials/template/_head.ejs %>

    <body>
      <% include _partials/template/_outdated.ejs %>

        <div id="wrapper">

            <header><% include _partials/template/_header.ejs %></header>
            <!-- Navbar-->

            <!-- #############################################  Search ############################################# -->


            <!-- ############################################# Footer ############################################# -->

        <footer><% include _partials/template/_footer.ejs %></footer>

        <% include _partials/template/_jsdefaults.ejs %>

    </div>

</body>

</html>
