<!DOCTYPE html>
<html lang="en">
    <head><% include partials/template/head.ejs %></head>
    <body>
        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- ----------------------------------------------------- Wireless ------------------------------------------- -->

        <p class="text-justify">
            Please be aware that the '''camera has to be installed via LAN cable first''' before it can be used in your wireless network - see
            <a href="http://wiki.instar.com/index.php/First_Steps">First Steps</a>.
            <br/>
            Please use the included Ethernet cable to connect the camera with your router. After the camera is connected, please open the web interface of your IP camera in your default web browser. Connect the WiFi antenna to the
            <a href="http://wiki.instar.com/index.php/Antenna_Connector">SMA/RP-SMA</a>
            on camera (only for models with removable antenna), align it vertically to your router and place the camera close to your Wifi router for the rest of the installation process.
        </p>

        <div class="col-xs-6" class="center-block" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:Wifi_antenna_indoor_cameras.png" target="_blank">
                    <img src="http://wiki.instar.com/images/3/3f/Wifi_antenna_indoor_cameras.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Connect the antenna to your indoor camera">
                </a>
                <figcaption>Connect the antenna to your indoor camera.</figcaption>
            </figure>
        </div>

        <div class="col-xs-6" class="center-block" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:Wifi_antenna_outdoor_cameras.png" target="_blank">
                    <img src="http://wiki.instar.com/images/8/8e/Wifi_antenna_outdoor_cameras.png" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Connect the antenna to your outdoor camera">
                </a>
                <figcaption>Connect the antenna to your outdoor camera.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <h2>HD Cameras</h2>

        <h3>ATTENTION:</h3>

        <ol>
            <li>Please make sure the password does '''not''' include any special characters such as (_-/§$")!$(....</li>
            <li>Please make sure that the MAC Filter function is not activated in your router. The cameras LAN module has a different MAC address then the Wifi board. If you are using the Wifi access control of your router, please deactivate it, let the camera
                connect and add the new MAC address to the list of trusted devices before reactivating the filter.</li>
            <li>If you have trouble connecting to the network try setting the router´s Wifi channel to channel 6 or a channel which is not being used by routers nearby.</li>
            <li>If you have the camera set to use the DHCP service be aware that it will receive a new IP address because the MAC address for the Wifi board is different from the LAN MAC address. Simply open the INSTAR camera tool to reconnect to the camera. We
                recommend using a static IP address if you are having difficulties connecting to the wireless network. You can set a static IP in the web user interface in Network/IP configuration.</li>
            <li>If you are using a WEP 128 Bit encryption and you encounter any problems, we recommend you to switch your encryption to WPA (AES) or WPA2 (AES or CCMP). Also avoid mixed modes like WPA+WPA2 (TKIP).</li>
        </ol>

        <p>
            <strong>Step 1:</strong>
            Please open the menu Network/Wifi as shown below.
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_HD_01_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/e/e4/WLAN_Einrichtung_HD_01_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Open the Wifi menu in the web user interface">
                </a>
                <figcaption>Open the Wifi menu in the web user interface.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <p>
            <strong>Step 2:</strong>
            Click on the ''Search'' button to activate the Wifi module and let the camera search for active 2.4GHz networks in it´s environment.
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_HD_02_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/1/18/WLAN_Einrichtung_HD_02_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Use the camera´s search function to discover available 2.4GHz Wifi networks">
                </a>
                <figcaption>Use the camera´s search function to discover available 2.4GHz Wifi networks.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <p>
            <strong>Step 3:</strong>
            Choose your Wifi network from the list and press the ''Join'' button to copy the network´s details into the cameras Wifi settings.
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_HD_03_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/8/82/WLAN_Einrichtung_HD_03_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Select your network from the list and press ''Join''">
                </a>
                <figcaption>Select your network from the list and press ''Join''.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <p>
            <strong>Step 4:</strong>
            Now simply add your Wifi password and confirm your input. Pressing the ''Submit'' button will save the information and allow you to ''Test'' the connection. To connect the camera to your wireless network, unplug the Ethernet cable and restart it. The
            camera will automatically connect to your wireless network and receive a new IP address from your router by DHCP (if activated).
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_HD_04_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/b/b8/WLAN_Einrichtung_HD_04_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Please add your Wifi password and click ''Submit'' to save the information.">
                </a>
                <figcaption>Please add your Wifi password and click ''Submit'' to save the information.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <h2>VGA Cameras</h2>

        <h3>ATTENTION:</h3>

        <ol>
            <li>Please make sure that the MAC Filter function is not activated in your router. The cameras LAN module has a different MAC address then the Wifi board. If you are using the Wifi access control of your router, please deactivate it, let the camera
                connect and add the new MAC address to the list of trusted devices before reactivating the filter.</li>
            <li>If you have trouble connecting to the network try setting the router´s Wifi channel to channel 6 or a channel which is not being used by routers nearby.</li>
            <li>If you have the camera set to use the DHCP service be aware that it will receive a new IP address because the MAC address for the Wifi board is different from the LAN MAC address. Simply open the INSTAR camera tool to reconnect to the camera. We
                recommend using a static IP address if you are having difficulties connecting to the wireless network. You can set a static IP in the web user interface in Network/IP configuration.</li>
            <li>If you are using a WEP 128 Bit encryption and you encounter any problems, we recommend you to switch your encryption to WPA (AES) or WPA2 (AES or CCMP). Also avoid mixed modes like WPA+WPA2 (TKIP).</li>
        </ol>

        <p>
            <strong>Step 1:</strong>
            Please open the menu Network/Wifi as shown below.
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_MJPEG_01_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/8/80/WLAN_Einrichtung_MJPEG_01_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Open the Wifi menu in the web user interface">
                </a>
                <figcaption>Open the Wifi menu in the web user interface.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <p>
            <strong>Step 2:</strong>
            Click on the ''Scan'' button twice to activate the Wifi module and let the camera search for active 2.4GHz networks in it´s environment.
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_MJPEG_02_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/2/2a/WLAN_Einrichtung_MJPEG_02_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Use the camera´s search function to discover available 2.4GHz Wifi networks">
                </a>
                <figcaption>Use the camera´s search function to discover available 2.4GHz Wifi networks.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <p>
            <strong>Step 3:</strong>
            Choose your Wifi network from the list to automatically copy the network´s details into the cameras Wifi settings.
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_MJPEG_03_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/3/33/WLAN_Einrichtung_MJPEG_03_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Select your network from the list">
                </a>
                <figcaption>Select your network from the list.</figcaption>
            </figure>
        </div>

        <div class="clearfix"></div>

        <p>
            <strong>Step 4:</strong>
            Now simply add your Wifi password (shared key) and press the ''Submit'' button to save the information. To connect the camera to your wireless network and unplug the Ethernet cable. The camera will automatically connect to your wireless network and
            receive a new IP address from your router by DHCP (if activated).
        </p>

        <div class="col-xs-12" style="margin-bottom: 40px;">
            <figure>
                <a href="http://wiki.instar.com/index.php/File:WLAN_Einrichtung_MJPEG_04_EN.jpg" target="_blank">
                    <img src="http://wiki.instar.com/images/5/54/WLAN_Einrichtung_MJPEG_04_EN.jpg" class="img-fluid img-rounded" style="box-shadow: 2px 2px 1px #888888;" alt="Please add your Wifi password and click ''Submit'' to save the information">
                </a>
                <figcaption>Please add your Wifi password and click ''Submit'' to save the information.</figcaption>
            </figure>
        </div>

        [[File:WLAN Einrichtung MJPEG 04 EN.jpg|alt=Wifi integration of your HD camera|left|frame|]]

        <div class="clearfix"></div>

        <!-- ----------------------------------------------------- Related Topics ------------------------------------------- -->

        <section class="mb"><% include partials/content/qiRelated.ejs %></section>

        <!-- ----------------------------------------------------- Footer ------------------------------------------- -->

        <footer><% include partials/template/footer.ejs %></footer>
        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
