<!DOCTYPE html>
<html ⚡>
    <head>
        <% include amp/amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/HD_Series/Software">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Web_User_Interface/HD_Series/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">

            <section class="blade get-started">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>Network Menu</h1>
                        </div>
                    </div>

                    <div class="card-container margin">
                        <div class="twocard">
                            <a href="/Web_User_Interface/HD_Series/Network/IP_Configuration/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_IP-Configuration_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p>Change your cameras IP address, gateway and DNS server - all these settings are usually set up by the <a href="http://install.instar.de/">installation wizard</a> and don´t need to be changed. The camera´s http port might have to be changed to access your cameras webUI <a href="http://wiki.instar.com/index.php/HD_Manual_WebUI_Network_DDNS">over the internet</a>. The RTSP port is the camera´s <a href="http://wiki.instar.com/index.php/RTSP_Streaming">RTSP streaming port</a>.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/Network/IP_Configuration/">IP Configuration Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <div class="twocard">
                            <a href="/Web_User_Interface/HD_Series/Network/WiFi/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_WiFi_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p>Your WiFi connection should already be set up by WPS or by the <a href="http://install.instar.de/">installation wizard</a>. Use the WiFi scanner to connect your camera to a different WiFi network. Or use the scan results to check the signal strenght at the camera´s installation spot.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/Network/WiFi/">WiFi Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <div class="card-container margin">
                        <div class="twocard">
                            <a href="/Web_User_Interface/HD_Series/Network/DDNS/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_DDNS_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p>You have two ways to access your camera over the internet - the easy way is called <a href="/Web_User_Interface/HD_Series/Network/P2P/">P2P</a>. The only way to get complete access to all your camera´s functions is called DDNS. The DDNS or Internet Address gives you access to your cameras web user interface.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/Network/DDNS/">DDNS Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <div class="twocard">
                            <a href="/Web_User_Interface/HD_Series/Network/P2P/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_P2P_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p>The P2P access allows you to access your camera´s live video stream via our iOS or Android app. Simply scan the P2P QR code with our app and confirm the settings - done! Please be aware, while the QR code on the camera case only works if your camera still has the default administrator login (<a href="/Web_User_Interface/HD_Series/System/User/">please change that immediantly</a>) the QR code here is always generated with the actual parameters set on the camera.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/Network/P2P/">P2P Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <div class="card-container margin">
                        <div class="twocard">
                            <a href="/Web_User_Interface/HD_Series/Network/UPnP/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_UPnP_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p>The UPnP standard is supposed to make your life easy. Every port that is needed publicly by a device on your network will automatically be forwarded. This would make the <a href="/Web_User_Interface/HD_Series/Network/DDNS/">DDNS access</a> to your camera very easy...unfortunately it often does not work and might be considered a security hazard by your network administrator. Please deactivate UPnP if you are working with a manually forwarded port for your camera.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/Network/UPnP/">UPnP Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <div class="twocard">
                            <a href="/Web_User_Interface/HD_Series/Network/Push_Service/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_Push_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p>Your camera can notify you by Email every time a motion detection is triggered. A push notification serves the same purpose but is a lot faster! Activate Push if you want to be notified right away when something is happening in front of your camera. The push notification only works with our InstarVision app for <a href="/Products/Software/iOS">iOS</a> or <a href="/Products/Software/Android">Android</a> devices.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/Network/Push_Service/">Push Service Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- /Card Container -->
                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->
        </div>
        <!-- /Wrapper -->

        <!-- ------------------------------------ Related ------------------------------------------------------ -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/Push_Service/">
                        <h3>Activate the Alarm Push Notification for your Smartphone</h3>
                        <div class="subtitle">Push Service</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/System/User/">
                        <h3>Secure Access to your Camera</h3>
                        <div class="subtitle">User Management</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Multimedia/Image/">
                        <h3>Change the displayed Name of your Cammera</h3>
                        <div class="subtitle">Multimedia Image Settings</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Alarm/Actions/">
                        <h3>Define Actions to be taken by your Camera in case of an Alarm</h3>
                        <div class="subtitle">Alarm Actions</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/DDNS/">
                        <h3>Scan the QR Code to add your Camera to our Smartphone App</h3>
                        <div class="subtitle">DDNS Settings</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/Update/">
                        <h3>Check if an Update for your Camera is available</h3>
                        <div class="subtitle">Software Update</div>
                    </a>
                </div>

                <a href="/Web_User_Interface/HD_Series/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include amp/amp-footer.ejs %>
        </footer>
    </body>
</html>
