<div class="container">
    <div class="row">
        <div class="twelve columns">
            <a href="http://instar.de">
                <p class="desaturate footer-text">&#169; 2016 &nbsp;&nbsp; INSTAR Deutschland GmbH</p>
            </a>
        </div>
    </div>
</div>



<!-- <script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script> -->
<script async src="/amp/v0.js"></script>
<script async custom-element="amp-youtube" src="/amp/amp-youtube-0.1.js"></script>
<script async custom-element="amp-lightbox" src="/amp/amp-lightbox-0.1.js"></script>
<script async custom-element="amp-carousel" src="/amp/amp-carousel-0.1.js"></script>
<script async custom-element="amp-carousel" src="/amp/amp-fit-text-0.1.js"></script>
