<div class="container">
    <div class="row">
        <div class="twelve columns">
            <a href="http://instar.de">
                <p class="desaturate footer-text">&#169; 2016 &nbsp;&nbsp; INSTAR Deutschland GmbH</p>
            </a>
        </div>
    </div>
</div>
