<footer class="footer">
    <div class="wrap">
        <div class="container">
            <div class="clearfix">

              <div class="footer-left">

                <h3 class="footer-links">INFORMATIONEN</h3>

                <ul class="footer-links">
                  <li><a href="http://www.instar.de/news/index">LATEST NEWS</a></li>
                  <li><a href="http://www.instar.de/downloads/">DOWNLOADS</a></li>
                  <li><a href="http://forum.instar.de/">CUSTOMER FORUM</a></li>
                  <li><a href="http://www.instar.de/faq/">FAQs</a></li>
                  <li><a href="http://www.instar.de/customer-service/">CUSTOMER SERVICE</a></li>
                </ul>

                <p class="footer-company-name"></p>
              </div>

              <div class="footer-center">

                <h3 class="footer-links">CONTACT</h3>

                <ul class="footer-links">
                  <li>RAIFFEISENSTRASSE 12</li>
                  <li>65510 HÜNSTETTEN</li>
                  <li>DEUTSCHLAND</li>
                  <li>TEL: +49 (6438) 919899</li>
                  <br>
                  <li>INSTAR Deutschland GmbH &copy; 2016</li>
                </ul>

              </div>

              <div class="footer-right">

                <h3 class="footer-links">MOBILE APPS</h3>
                <p  class="footer-links">InstarVision for iOS, Android, Blackberry, Windows Phone.</p>

                <div class="footer-icons">
                  <a href="https://itunes.apple.com/de/app/instarvision-for-ipad/id767539403?mt=8" target="_blank"><amp-img src="/images/Footer-App-iOS.png" width="35" height="35"></amp-img></a>
                  <a href="https://play.google.com/store/apps/details?id=de.instar.vision" target="_blank"><amp-img src="/images/Footer-App-Android.png" width="35" height="35"></amp-img></a>
                  <a href="https://appworld.blackberry.com/webstore/content/59960469" target="_blank"><amp-img src="/images/Footer-App-Blackberry.png" width="35" height="35"></amp-img></a>
                  <a href="https://www.microsoft.com/en-us/store/p/instarvision/9nblggh10wtp" target="_blank"><amp-img src="/images/Footer-App-Win10.png" width="35" height="35"></amp-img></a>
                </div>
              </div>
          </div>
      </div>
  </div>

</footer>
