<div class="wrap">
    <div class="container">
        <div class="clearfix shadow">
            <div class="left-nav">
                <a href="/" class="tab header-title">
                    <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                </a>
            </div>
            <div class="right alt">

                <a href="/Quick_Installation/" class="tab header-title">
                    <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                </a>
            </div>
        </div>
    </div>
</div>
