<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Main Body ############################################# -->

        <section class="container">
            <div class="row">
                <div class="col-12">
                    <h2>INSTAR 1080p IP Camera CGI Application Guide</h2>
                    <h3>IP Camera CGI Introduction</h3>

                    <p class="text-justify">CGI listed in this file which is provided for your INSTAR IP camera, is an interface based on the HTTP protocol and the client application (e.g. a webpage in your web browsers or other applications). You can make various
                        operations on the device by this set of CGI commands.</p>

                    <ul>
                        <li class="text-justify">CGI authentication: to access below CGI commands you need to authenticate your user level. Different CGI commands need different authority: visitor, operator or admin. The authentication is handled over the http protocol by
                            attaching the user name and password directly to the CGI parameter. Example:<br/><br/>
                            <code>/cgi-bin/hi3510/cleanlog.cgi?usr=admin&pwd=instar</code>
                        </li>
                        <li class="text-justify">All the CGI commands support GET and POST operation - except upgrade.cgi and restore.cgi, which can only be used in a POST operation.<br/><br/>
                            <strong>GET Example:</strong><br/><br/>
                            <code>&lt;form name="form2" method="get" action="cgi-bin/hi3510/cleanlog.cgi"&gt;<br/>
                                &lt;input name="cururl" type="hidden"&gt;<br/>
                                &lt;input name="name" type="hidden" value="access"&gt;&lt;/form&gt;</code><br/><br/>
                            <strong>POST Example:</strong><br/><br/>
                            <code>&lt;form name="form5" method="post" target="retframe" enctype="multipart/form-data"action="cgi-bin/hi3510/upgrade.cgi" onSubmit="return upgrade()"&gt;<br/>
                                &lt;td colspan="3"&gt; &lt;input type="file" name="setting_file"&gt; &lt;input type="submit" value=" submit"&gt;&lt;/form&gt;</code>
                        </li>
                        <li class="text-justify">
                            <strong>CGI Return：</strong>
                            Depending on the returned info, the returns can be divided into two cases:<br/><br/>
                            <ul>
                                <li class="text-justify">GET CGI of device status and parameter, if successful，will return plain txt which includes the device status or parameter. The format is specified as javascript and every status or parameter as a variable：<br/><br/>
                                    <code>var bps_1="2048";<br/>var fps_1="25";<br/>var gop_1="50";<br/>var brmode_1="1";<br/>var imagegrade_1="1";<br/>var width_1="704";<br/>var height_1="576";</code><br/><br/>
                                    if the GET fails, it will return：<code>“[Error]GET video attribution error! errcode is 0xa10e6008”</code>.</li>
                                <li class="text-justify">Set device parameter will return plain txt including the result of the operation. If successful, the return will be
                                    <code>HTTP/1.0 200 OK</code>. If the operation fails an error message will be returned, like:
                                    <code>[Error][Data-Length:91] unrecognized or incomplete command line.</code>.</li>
                            </ul>
                        </li>
                        <li class="text-justify">CGI commands can be typed into your web browsers address line directly for testing:<br/><br/>
                            <code>http://192.168.1.88/cgi-bin/hi3510/param.cgi?cmd=getvencattr&-chn=11</code><br/>
                            <code>http://192.168.1.88/cgi-bin/hi3510/param.cgi?cmd=setvencattr&-chn=11&-fps=15</code><br/>
                            <code>http://192.168.1.88/cgi-bin/getwifi.cgi</code><br/></li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </section>
        <!-- /container-->

        <!-- ------------------------------------------------------------ TOC ----------------------------------------------------- -->

        <section class="container" style="margin-top: 15px;">
            <!-- Media Container -->
            <div class="row">
                <div class="col-12">
                    <h3>CGI Overview</h3>

                    <ul class="list-unstyled">
                        <li>
                            <strong>Video and Audio</strong>
                        </li>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Video_Attribute/">param.cgi?cmd=getvideoattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Video_Attribute">param.cgi?cmd=setvideoattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Video_Encoder_Attribute">param.cgi?cmd=getvencattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Video_Encoder_Attribute">param.cgi?cmd=setvencattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Image_Attribute">param.cgi?cmd=getimageattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Image_Attribute">param.cgi?cmd=setimageattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Overlay_Attribute">param.cgi?cmd=getoverlayattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Overlay_Attribute">param.cgi?cmd=setoverlayattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Mobile_Image_Attribute">param.cgi?cmd=getmobilesnapattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Mobile_Image_Attribute">param.cgi?cmd=setmobilesnapattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Audio_Encoder_Attribute">param.cgi?cmd=getaencattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Audio_Encoder_Attribute">param.cgi?cmd=setaencattr</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Audio-In_Volume_Attribute">param.cgi?cmd=getaudioinvolume</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Audio-In_Volume_Attribute">param.cgi?cmd=setaudioinvolume</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Audio-Out_Volume_Attribute">param.cgi?cmd=getaudiooutvolume</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Audio-Out_Volume_Attribute">param.cgi?cmd=setaudiooutvolume</a>
                            </li>
                            <li>
                                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Request_Keyframe">param.cgi?cmd=requestifrm</a>
                            </li>
                        </ul>
                    <li>
                        <strong>IR Light control</strong>
                    </li>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Infrared_Attribute">param.cgi?cmd=getinfrared</a>
                        </li>
                        <li>
                            <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Infrared_Attribute">param.cgi?cmd=setinfrared</a>
                        </li>
                    </ul>
                <li>
                    <strong>Network</strong>
                </li>
                <ul class="list-unstyled">
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Network_Attribute">param.cgi?cmd=getnetattr</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Network_Attribute">param.cgi?cmd=setnetattr</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_HTTP_Port">param.cgi?cmd=gethttpport</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_HTTP_Port">param.cgi?cmd=sethttpport</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_RTSP_Port">param.cgi?cmd=getrtspport</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_RTSP_Port">param.cgi?cmd=setrtspport</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Internet_IP">param.cgi?cmd=getinterip</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_UPnP_Attribute">param.cgi?cmd=getupnpattr</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_UPnP_Attribute">param.cgi?cmd=setupnpattr</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_ONVIF_Attribute">param.cgi?cmd=getonvifattr</a>
                    </li>
                    <li>
                        <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_ONVIF_Attribute">param.cgi?cmd=setonvifattr</a>
                    </li>
                </ul>
            <li>
                <strong>WiFi</strong>
            </li>
            <ul class="list-unstyled">
                <li>
                    <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Wireless_Attribute">param.cgi?cmd=getwirelessattr</a>
                </li>
                <li>
                    <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Wireless_Attribute">param.cgi?cmd=setwirelessattr</a>
                </li>
                <li>
                    <a href="/1080p_Series_CGI_List/Complete_CGI_List/Search_Wireless">param.cgi?cmd=searchwireless</a>
                </li>
                <li>
                    <a href="/1080p_Series_CGI_List/Complete_CGI_List/Check_Wireless_Attribute">param.cgi?cmd=chkwirelessattr</a>
                </li>
                <li>
                    <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Check_Wireless_Attribute">param.cgi?cmd=getchkwireless</a>
                </li>
            </ul>
        <li>
            <strong>DDNS</strong>
        </li>
        <ul class="list-unstyled">
            <li>
                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Thirdparty_DDNS_Attribute">param.cgi?cmd=get3thddnsattr</a>
            </li>
            <li>
                <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Thirdparty_DDNS_Attribute">param.cgi?cmd=set3thddnsattr</a>
            </li>
        </ul>
    <li>
        <strong>PTZ Control</strong>
    </li>
    <ul class="list-unstyled">
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Control">param.cgi?cmd=ptzctrl</a>
        </li>
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Preset">param.cgi?cmd=preset</a>
        </li>
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Move_Up">ptzup.cgi</a>
        </li>
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Move_Down">ptzdown.cgi</a>
        </li>
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Move_Left">ptzleft.cgi</a>
        </li>
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Move_Right">ptzright.cgi</a>
        </li>
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Zoom_In">ptzzoomin.cgi</a>
        </li>
        <li>
            <a href="/1080p_Series_CGI_List/Complete_CGI_List/PTZ_Zoom_Out">ptzzoomout.cgi</a>
        </li>
    </ul>

          <ul class="list-unstyled">
          <li>
          <strong>Motion Detection and IO Alarm</strong>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Motion_Detection_Attribute">param.cgi?cmd=getmdattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Motion_Detection_Attribute">param.cgi?cmd=setmdattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Input_Output_Attribute">param.cgi?cmd=getioattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Input_Output_Attribute">param.cgi?cmd=setioattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Motion_Detection_Alarm_Status">param.cgi?cmd=getmdalarm</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Motion_Detection_Alarm_Status">param.cgi?cmd=setmdalarm</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Relay_Delay_Attribute">param.cgi?cmd=getrelayattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Relay_Delay_Attribute">param.cgi?cmd=setrelayattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Snap_Quantity_Attribute">param.cgi?cmd=getalarmsnapattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Snap_Quantity_Attribute">param.cgi?cmd=setalarmsnapattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Alarm_And_Planned_Recording_Schedule">param.cgi?cmd=getscheduleex</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Alarm_And_Planned_Recording_Schedule">param.cgi?cmd=setscheduleex</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Planned_Recording_Attribute">param.cgi?cmd=getplanrecattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Planned_Recording_Attribute">param.cgi?cmd=setplanrecattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Server_Attribute">param.cgi?cmd=getalarmserverattr</a>
          </li>
          <li>
              <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Server_Attribute">param.cgi?cmd=setalarmserverattr</a>
          </li>
          </ul>
          <li>
          <strong>User Management</strong>
          </li>
          <ul class="list-unstyled">
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_User_Attributes">param.cgi?cmd=getuserattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_User_Attributes">param.cgi?cmd=setuserattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Active_User_Info">param.cgi?cmd=getuserinfo</a>
          </li>
          </ul>
          <li>
          <strong>Snapshot</strong>
          </li>
          <ul class="list-unstyled">
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Snapshot_Attributes">param.cgi?cmd=getsnaptimerattrex</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Snapshot_Attributes">param.cgi?cmd=setsnaptimerattrex</a>
          </li>
          </ul>
          <li>
          <strong>FTP</strong>
          </li>
          <ul class="list-unstyled">
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_FTP_Attributes">param.cgi?cmd=getftpattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_FTP_Attributes">param.cgi?cmd=setftpattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Test_FTP">param.cgi?cmd=testftp</a>
          </li>
          </ul>
          <li>
          <strong>SMTP</strong>
          </li>
          <ul class="list-unstyled">
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_SMTP_Attributes">param.cgi?cmd=getsmtpattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_SMTP_Attributes">param.cgi?cmd=setsmtpattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Test_SMTP">param.cgi?cmd=testsmtp</a>
          </li>
          </ul>
          <li>
          <strong>SD Card</strong>
          </li>
          <ul class="list-unstyled">
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Format_SD_Card">param.cgi?cmd=sdfrmt</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Unmount_SD_Card">param.cgi?cmd=sdstop</a>
          </li>
          </ul>
          <li>
          <strong>System Settings</strong>
          </li>
          <ul class="list-unstyled">
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Device_Info">param.cgi?cmd=getserverinfo</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Device_Type">param.cgi?cmd=getdevtype</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Streaming_User_Number">param.cgi?cmd=getstreamnum</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Server_Time">param.cgi?cmd=getservertime</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Server_Time">param.cgi?cmd=setservertime</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_NTP_Server_Attribute">param.cgi?cmd=getntpattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_NTP_Server_Attribute">param.cgi?cmd=setntpattr</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Multi-Device_Parameter">param.cgi?cmd=getdevices</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Multi-Device_Parameter">param.cgi?cmd=setdevices</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/MJPEG_Videostream">mjpegstream.cgi</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Snapshot_Size">param.cgi?cmd= snapimage</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/System_Reset">Sysreset.cgi</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/System_Reboot">Sysreboot.cgi</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/System_Backup">backup.cgi</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/System_Restore">restore.cgi</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/System_Upgrade">upgrade.cgi</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Admin_Variables">param.cgi?cmd=get_instar_admin</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Admin_Variables">param.cgi?cmd=set_instar_admin</a>
          </li>
          </ul>
          <li>
          <strong>System Log</strong>
          </li>
          <ul class="list-unstyled">
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Get_Login_Data">param.cgi?cmd=logsync</a>
          </li>
          <li>
          <a href="/1080p_Series_CGI_List/Complete_CGI_List/Clear_Login_Data">param.cgi?cmd=cleanlog</a>
          </li>
          </ul>
          </ol>
    </div>

  </div>
  <!-- Close Media Row -->
  </section>
  <!-- Close Media Container -->

  <div class="clearfix" style="margin-bottom: 50px;"></div>

  <section class="webui"><% include ../../_partials/content/_webui.ejs %></section>
  <!-- /webui -->

  <section class="social"><% include ../../_partials/content/_social.ejs %></section>
  <!-- /social -->

  <!-- ############################################# Footer ############################################# -->

  <footer><% include ../../_partials/template/_footer.ejs %></footer>

  <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /wrapper -->

</body>

</html>
