<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                <div>
                  <h1>1080p CGI Commands</h1>
                  <h3>The System Menu</h3>
                  <h4>The Overview Overlay</h4>
                </div>
                <!-- margin -->

              <div class="margin">

                <h2>param.cgi?cmd=getserverinfo</h2>

                  <table>
                      <tr>
                          <td width="20%">
                              <strong>Function</strong>
                          </td>
                          <td>Get your Camera Server Variables</td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Authority</strong>
                          </td>
                          <td><strong>admin</strong></td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Parameter</strong>
                          </td>
                          <td>
                            <ul>
                              <li><strong>model</strong>: Camera Model Identifier</li>
                              <li><strong>hardVersion</strong>: Hardware Version</li>
                              <li><strong>softVersion</strong>: Firmware Version</li>
                              <li><strong>webVersion</strong>: WebUI Version</li>
                              <li><strong>startdate</strong>: Camera Uptime</li>
                              <li><strong>upnpstatus</strong>: UPnP service ok, off, failed</li>
                              <li><strong>facddnsstatus</strong>: INSTAR DDNS Status ok, off, failed</li>
                              <li><strong>th3ddnsstatus</strong>: INSTAR 3rd Party DDNS Status ok, off, failed</li>
                              <li><strong>platformstatus</strong>: Platform Status 0, 1</li>
                              <li><strong>sdstatus</strong>: SD Card Status out, Ready, Read only</li>
                              <li><strong>sdfreespace</strong>: SD free space，KB</li>
                              <li><strong>sdtotalspace</strong>: SD total space，KB</li>
                            </ul>
                          </td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Example</strong>
                          </td>
                          <td>
                            <ul>
                              <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getserverinfo</li>
                              <li>GET: http://192.168.178.88/param.cgi?cmd=getserverinfo&-usr=admin&-pwd=instar</li>
                            </ul>
                          </td>
                      </tr>
                  </table>
              </div>
              <!-- /margin -->

            <div class="margin">

              <h2>param.cgi?cmd=getsysinfo</h2>

                <table>
                    <tr>
                        <td width="20%">
                            <strong>Function</strong>
                        </td>
                        <td>Get Device ID</td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <strong>Authority</strong>
                        </td>
                        <td><strong>admin</strong></td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <strong>Parameter</strong>
                        </td>
                        <td>
                          <ul>
                            <li><strong>devid</strong>: Device Model Identifier</li>
                          </ul>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <strong>Example</strong>
                        </td>
                        <td>
                          <ul>
                            <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getsysinfo</li>
                            <li>GET: http://192.168.178.88/param.cgi?cmd=getsysinfo&-usr=admin&-pwd=instar</li>
                          </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /margin -->

              <div class="margin">

                <h2>param.cgi?cmd=getnetattr</h2>

                  <table>
                      <tr>
                          <td width="20%">
                              <strong>Function</strong>
                          </td>
                          <td>Get your Camera´s Network Configuration</td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Authority</strong>
                          </td>
                          <td><strong>admin</strong></td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Parameter</strong>
                          </td>
                          <td>
                            <ul>
                              <li><strong>dhcpflag</strong>: on: (DHCP enabled), off: (DHCP disabled)</li>
                              <li><strong>ip</strong>: LAN IPv4 Address</li>
                              <li><strong>netmask</strong>: LAN Subnet Mask</li>
                              <li><strong>gateway</strong>: LAN Gateway</li>
                              <li><strong>dnsstat</strong>: DNS Status: 0 (manually), 1 (from DHCP Server)</li>
                              <li><strong>fdnsip</strong>: Primary DNS</li>
                              <li><strong>sdnsip</strong>: Secondary DNS</li>
                              <li><strong>macaddress</strong>: LAN MAC Address</li>
                              <li><strong>networktype</strong>: LAN or WLAN</li>
                            </ul>
                          </td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Example</strong>
                          </td>
                          <td>
                            <ul>
                              <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getnetattr</li>
                              <li>GET: http://192.168.178.88/param.cgi?cmd=getnetattr&-usr=admin&-pwd=instar</li>
                              <li>SET: http://admin:instar@192.168.178.88/param.cgi?cmd=setnetattr&-dhcpflag=off&-ip=192.168.1.115&-netmask=255.255.255.0&-gateway=192.168.1.1&-fdnsip=8.8.8.8&-sdnsip=</li>
                            </ul>
                          </td>
                      </tr>
                  </table>
              </div>
              <!-- /margin -->

                <div class="margin">

                  <h2>param.cgi?cmd=getlanmac</h2>

                    <table>
                        <tr>
                            <td width="20%">
                                <strong>Function</strong>
                            </td>
                            <td>Get your Camera´s LAN MAC Address</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Authority</strong>
                            </td>
                            <td><strong>admin</strong></td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Parameter</strong>
                            </td>
                            <td>
                              <ul>
                                <li><strong>lanmac</strong>: MAC Address of the LAN Interface</li>
                              </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Example</strong>
                            </td>
                            <td>
                              <ul>
                                <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getlanmac</li>
                                <li>GET: http://192.168.178.88/param.cgi?cmd=getlanmac&-usr=admin&-pwd=instar</li>
                              </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /margin -->

                  <div class="margin">

                    <h2>param.cgi?cmd=getwifimac</h2>

                      <table>
                          <tr>
                              <td width="20%">
                                  <strong>Function</strong>
                              </td>
                              <td>Get your Camera´s WiFi MAC Address</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Authority</strong>
                              </td>
                              <td><strong>admin</strong></td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Parameter</strong>
                              </td>
                              <td>
                                <ul>
                                  <li><strong>lanmac</strong>: MAC Address of the WLAN Interface</li>
                                </ul>
                              </td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Example</strong>
                              </td>
                              <td>
                                <ul>
                                  <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getwifimac</li>
                                  <li>GET: http://192.168.178.88/param.cgi?cmd=getwifimac&-usr=admin&-pwd=instar</li>
                                </ul>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <!-- /margin -->

                  <div class="margin">

                    <h2>param.cgi?cmd=getinfrared</h2>

                      <table>
                          <tr>
                              <td width="20%">
                                  <strong>Function</strong>
                              </td>
                              <td>Get IR LED Parameter</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Authority</strong>
                              </td>
                              <td><strong>admin</strong></td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Parameter</strong>
                              </td>
                              <td>
                                <ul>
                                  <li><strong>infraredstat</strong>: IR LED Status - auto, close (deactivated)</li>
                                </ul>
                              </td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Example</strong>
                              </td>
                              <td>
                                <ul>
                                  <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getinfrared</li>
                                  <li>GET: http://192.168.178.88/param.cgi?cmd=getinfrared&-usr=admin&-pwd=instar</li>
                                  <li>SET: http://admin:instar@192.168.178.88/param.cgi?cmd=setinfrared&-infraredstat=auto</li>
                                </ul>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <!-- /margin -->

                  <div class="margin">

                    <h2>param.cgi?cmd=getourddnsattr</h2>

                      <table>
                          <tr>
                              <td width="20%">
                                  <strong>Function</strong>
                              </td>
                              <td>Get your Camera´s INSTAR DDNS Configuration</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Authority</strong>
                              </td>
                              <td><strong>admin</strong></td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Parameter</strong>
                              </td>
                              <td>
                                <ul>
                                  <li><strong>our_enable</strong>: 1: INSTAR DDNS enabled, 0: INSTAR DDNS disabled</li>
                                  <li><strong>our_server</strong>: INSTAR DDNS Server Domain</li>
                                  <li><strong>our_port</strong>: INSTAR DDNS Server Port</li>
                                  <li><strong>our_uname</strong>: Your INSTAR DDNS ID</li>
                                  <li><strong>our_passwd</strong>: Your INSTAR DDNS Password</li>
                                  <li><strong>our_domain</strong>: Your INSTAR DDNS Address</li>
                                  <li><strong>our_interval</strong>: Update Intervall</li>
                                </ul>
                              </td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Example</strong>
                              </td>
                              <td>
                                <ul>
                                  <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getourddnsattr</li>
                                  <li>GET: http://192.168.178.88/param.cgi?cmd=getourddnsattr&-usr=admin&-pwd=instar</li>
                                </ul>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <!-- /margin -->

                  <div class="margin">

                    <h2>param.cgi?cmd=get3thddnsattr</h2>

                      <table>
                          <tr>
                              <td width="20%">
                                  <strong>Function</strong>
                              </td>
                              <td>Get your Camera´s 3rd Party DDNS Configuration</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Authority</strong>
                              </td>
                              <td><strong>admin</strong></td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Parameter</strong>
                              </td>
                              <td>
                                <ul>
                                  <li><strong>d3th_enable</strong>: 1: 3rd Party DDNS activated / INSTAR DDNS disabled, 0: 3rd Party DDNS deactivated / INSTAR DDNS enabled</li>
                                  <li><strong>d3th_service</strong>: 0: DynDNS, 1: NoIP</li>
                                  <li><strong>d3th_uname</strong>: Your Username</li>
                                  <li><strong>d3th_passwd</strong>: Your Password</li>
                                  <li><strong>d3th_domain</strong>: Your 3rd Party DDNS Address</li>
                                </ul>
                              </td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Example</strong>
                              </td>
                              <td>
                                <ul>
                                  <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=get3thddnsattr</li>
                                  <li>GET: http://192.168.178.88/param.cgi?cmd=get3thddnsattr&-usr=admin&-pwd=instar</li>
                                  <li>SET: http://admin:instar@192.168.178.88/param.cgi?cmd=set3thddnsattr&-d3th_enable=1&-d3th_service=0&-d3th_uname=myUsername&-d3th_passwd=myPassword&-d3th_domain=myDomain.dyndns.com</li>
                                </ul>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <!-- /margin -->

                  <div class="margin">

                    <h2>param.cgi?cmd=getinternetip</h2>

                      <table>
                          <tr>
                              <td width="20%">
                                  <strong>Function</strong>
                              </td>
                              <td>Get your Camera´s WAN IP Address</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Authority</strong>
                              </td>
                              <td><strong>admin</strong></td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Parameter</strong>
                              </td>
                              <td>
                                <ul>
                                  <li><strong>internetip</strong>: Get Wide Area Network Address</li>
                                </ul>
                              </td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Example</strong>
                              </td>
                              <td>
                                <ul>
                                  <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getinternetip</li>
                                  <li>GET: http://192.168.178.88/param.cgi?cmd=getinternetip&-usr=admin&-pwd=instar</li>
                                </ul>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <!-- /margin -->

              </section>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
