<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>1080p CGI Commands - Set Audio Encoder Attribute</h1>
                <hr>
            </div>

            <div class="clearfix"></div>

        <!-- #############################################  Body ############################################# -->

            <div class="container main">

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                <div class="col-12">

                  <h2>Video &amp; Audio :: Set Audio Encoder Attribute</h2>
                  <h3>param.cgi?cmd=setaencattr</h3>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Set Audio Encoder Parameter</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>/cgi-bin/hi3510/param.cgi[?cmd=setaencattr&amp;-chn=]</code></td>
                      </tr>
                      <tr>
                        <th rowspan="3">Parameter</th>
                        <td>chn:<br/>11: first bit rate<br/>12：Second bit rate<br/>13: third bit rate</td>
                      </tr>
                      <tr>
                        <td>aeswitch<br/>Audio Encoder Switch<br/>0: switch off, 1: switch on</td>
                      </tr>
                      <tr>
                        <td>aeformat<br/>Audio Encoder Format<br/>g711a: G711A 64Kbps, g726: G726 16Kbps</td>
                      </tr>
                      <tr>
                        <th>Return</th>
                        <td>Success, Error</td>
                      </tr>
                      <tr>
                        <th>Remarks</th>
                        <td>Audio sampling: 8K, mono: 16 bits wide</td>
                      </tr>
                      <tr>
                        <th rowspan="2">Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaencattr&-chn=11&-aeswitch=0</code></td>
                      </tr>
                      <tr>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaencattr&-chn=12&-aeswitch=1&-aeformat=g726</code></td>
                      </tr>
                    </table>
                  </div>

                </div>

                </section>  <!-- Close Media Container -->

                <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>
          <!-- /Container -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
