<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>1080p CGI Commands - Set Multi-Device Parameter</h1>
                <hr>
            </div>

            <div class="clearfix"></div>

        <!-- #############################################  Body ############################################# -->

            <div class="container main">

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                <div class="col-12">

                  <h2>System :: Set Multi Device</h2>
                  <h3>Param.cgi?cmd=setdevices</h3>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Set multi-device Parameter</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>/cgi-bin/hi3510/param.cgi?[cmd=setdevices&amp;-d_number=&amp;-d_alias=&amp;-d_host=&amp;-d_port=&amp;-d_username=&amp;-d_password=&amp;]</code></td>
                      </tr>
                      <tr>
                        <th>Parameter</th>
                        <td>d_number: number (0-7)<br/>d_host: IP Address<br/>d_alias: Camera Name<br/>d_port: HTTP Port<br/>d_username: Username<br/>d_password: Password</td>
                      </tr>
                      <tr>
                        <th>Return</th>
                        <td>Success, Error</td>
                      </tr>
                      <tr>
                        <th>Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setdevices&-d_number=0&-d_alias=test1&-d_host=192.168.1.7&amp;-d_port=80&amp;-d_username=admin&amp;-d_password=admin</code></td>
                      </tr>
                    </table>
                  </div>

                </div>

                </section>  <!-- Close Media Container -->

                <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>
          <!-- /Container -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
