<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>1080p CGI Commands - Get Video Attribute</h1>
                <hr>
            </div>

            <!-- ######################### Breadcrumbs ############################ -->

            <div class="container">
              <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <li class="breadcrumb-item"><a href="/Advanced_User/">For Developers</a></li>
                <li class="breadcrumb-item"><a href="/Advanced_User/CGI_Commands/">CGI Commands</a></li>
                <li class="breadcrumb-item"><a href="/Advanced_User/CGI_Commands/720p_Series_CGI_List/">720p Series</a></li>
                <li class="breadcrumb-item"><a href="/1080p_Series_CGI_List/Complete_CGI_List/">Complete CGI List</a></li>
                <li class="breadcrumb-item active">Get Video Attribute</li>
                <li class="breadcrumb-item"><a href="/1080p_Series_CGI_List/Complete_CGI_List/Set_Video_Attribute/">Set Video Attribute</a></li>
              </ol>
            </div>

            <div class="clearfix"></div>

            <div class="container main">

              <!-- ######################################## Body ####################################### -->

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                  <div class="col-12">

                    <h2>Video &amp; Audio :: Get Video Attribute</h2>
                    <h3>param.cgi?cmd=getvideoattr</h3>

                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tr>
                          <th>Function</th>
                          <td>Get device video property, the resolution of first second third stream and video format</td>
                        </tr>
                        <tr>
                          <th>Authority</th>
                          <td>admin</td>
                        </tr>
                        <tr>
                          <th>Syntax</th>
                          <td><code>/cgi-bin/hi3510/param.cgi[?cmd=getvideoattr]</code></td>
                        </tr>
                        <tr>
                          <th>Parameter</th>
                          <td>no</td>
                        </tr>
                        <tr>
                          <th rowspan="5">Return</th>
                          <td>videomode | 41: HD1080P, 31: HD720P, 21: HDQ720P, 11: HDQQ720P</td>
                        </tr>
                        <tr>
                          <td>vinorm | P:  50Hz(PAL) N: 60Hz(NTSC)</td>
                        </tr>
                        <tr>
                          <td>wdrmode | Display Mode 0:  linear, 1: WDRauto or 2: auto</td>
                        </tr>
                        <tr>
                          <td>profile | Compression Mode 0: baseline, 1: mainprofile or 2: highprofile</td>
                        </tr>
                        <tr>
                          <td>maxchn | 0 - 3</td>
                        </tr>
                        <tr>
                          <th>Remarks</th>
                          <td><u>Note:</u><br/>HD1080P Resolution: 1920x1080<br/>HD720P Resolution: 1280x720<br/>HDQ720P Resolution: 640x352<br/>HDQQ720P Resolution: 320x176<br/><small>Only for 1st stream/ 2nd stream is Q720P，3rd stream is QQ720P</small></td>
                        </tr>
                        <tr>
                          <th>Example</th>
                          <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getvideoattr</code></td>
                        </tr>
                      </table>
                    </div>

                  </div>

              </section>  <!-- Close Media Container -->

              <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
