<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>1080p CGI Commands - Get Device Info</h1>
                <hr>
            </div>

            <div class="clearfix"></div>

            <div class="container main">

              <!-- ######################################## Body ####################################### -->

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                <div class="col-12">

                  <h2>System :: Get Device Info</h2>
                  <h3>param.cgi?cmd=getserverinfo</h3>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Get Device Info</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>/cgi-bin/hi3510/param.cgi[?cmd=getserverinfo]</code></td>
                      </tr>
                      <tr>
                        <th rowspan="12">Return</th>
                        <td>model: Device ID</td>
                      </tr>
                      <tr>
                        <td>hardVersion: Hardware Version</td>
                      </tr>
                      <tr>
                        <td>softVersion: Firmware Version</td>
                      </tr>
                      <tr>
                        <td>webVersion: Web User Interface Version</td>
                      </tr>
                      <tr>
                        <td>name: Device Name</td>
                      </tr>
                      <tr>
                        <td>startdate: System Start Time</td>
                      </tr>
                      <tr>
                        <td>upnpstatus: Upnp Status ok, off, failed</td>
                      </tr>
                      <tr>
                        <td>facddnsstatus: Factory DDNS Status ok, off, failed</td>
                      </tr>
                      <tr>
                        <td>th3ddnsstatus: 3rd party DDNS Status ok, off, failed</td>
                      </tr>
                      <tr>
                        <td>sdstatus: SD Card Status out, ready, read-only</td>
                      </tr>
                      <tr>
                        <td>sdfreespace: SD free space，KB</td>
                      </tr>
                      <tr>
                        <td>sdtotalspace: SD total space，KB</td>
                      </tr>
                      <tr>
                        <th>Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getserverinfo</code></td>
                      </tr>
                    </table>
                  </div>

                </div>

                </section>  <!-- Close Media Container -->

                <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
