<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>1080p CGI Commands - Get Video Encoder Attribute</h1>
                <hr>
            </div>

            <div class="clearfix"></div>

            <div class="container main">

              <!-- ######################################## Body ####################################### -->

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                  <div class="col-12">

                    <h2>Video &amp; Audio :: Get Video Encoder Attribute</h2>
                    <h3>param.cgi?cmd=getvencattr</h3>

                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tr>
                          <th>Function</th>
                          <td>Get device video encode parameter</td>
                        </tr>
                        <tr>
                          <th>Authority</th>
                          <td>admin, user and guest</td>
                        </tr>
                        <tr>
                          <th>Syntax</th>
                          <td><code>/cgi-bin/hi3510/getvencattr.cgi [?-chn=]</code></td>
                        </tr>
                        <tr>
                          <th>Parameter</th>
                          <td>chn: 11: 1st stream | 12: 2nd stream | 13：3rd stream</td>
                        </tr>
                        <tr>
                          <th rowspan="7">Return</th>
                          <td>Bitrate: bps_1, bps_2 or bps_3 (32-8192) [kbps]</td>
                        </tr>
                        <tr>
                          <td>Framerate: fps_1, fps_2 or fps_3 (1-30) [fps]</td>
                        </tr>
                        <tr>
                          <td>Keyframe Interval: gop_1, gop_2or gop_3 (2-150)</td>
                        </tr>
                        <tr>
                          <td>Video Encode Control: 0: fixed bitrate (CBR) or 1: variable bitrate (VBR) | brmode_1, brmode_2 or brmode_3</td>
                        </tr>
                        <tr>
                          <td>Image Quality: imagegrade_1, imagegrade_2 or imagegrade_3 (1[high]-6[low])</td>
                        </tr>
                        <tr>
                          <td>Video Width: width_1, width_2 or width_3</td>
                        </tr>
                        <tr>
                          <td>Video Height: height_1, height_2 or height_3</td>
                        </tr>
                        <tr>
                          <th>Remarks</th>
                          <td><u>Note:</u><br/>Suffix "_1" is the 1st (11) stream parameters, the suffix "_2" is the 2nd (12) stream parameters, the suffix "_3" is the 3rd (13) stream parameters</td>
                        </tr>
                        <tr>
                          <th>Example</th>
                          <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/getvencattr.cgi?-chn=11</code></td>
                        </tr>
                      </table>
                    </div>

                  </div>

              </section>  <!-- Close Media Container -->

              <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
