<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                <div>
                  <h1>1080p CGI Commands</h1>
                  <h3>The Alarm Menu</h3>
                  <h4>The Alarm Server Overlay</h4>
                </div>
                <!-- margin -->

                <div class="margin">

                  <h2>param.cgi?cmd=getmdalarm&-aname=server2</h2>

                    <table>
                        <tr>
                            <td width="20%">
                                <strong>Function</strong>
                            </td>
                            <td>Get Alarm Server [1] Parameter</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Authority</strong>
                            </td>
                            <td><strong>admin</strong></td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Parameter</strong>
                            </td>
                            <td>
                              <ul>
                                <li><strong>md_server2_switch</strong>: De/Activate Alarm Server2 [off, on]</li>
                              </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Example</strong>
                            </td>
                            <td>
                              <ul>
                                <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getmdalarm&-aname=server2</li>
                                <li>GET: http://192.168.178.88/param.cgi?cmd=getmdalarm&-aname=server2&-usr=admin&-pwd=instar</li>
                                <li>SET: http://admin:instar@192.168.178.88/param.cgi?cmd=setmdalarm&-aname=server2&-switch=on</li>
                              </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /margin -->

                <div class="margin">

                  <h2>param.cgi?cmd=getalarmserverattr&-as_index=3</h2>

                    <table>
                        <tr>
                            <td width="20%">
                                <strong>Function</strong>
                            </td>
                            <td>Get Alarmserver [2] Configuration</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Authority</strong>
                            </td>
                            <td><strong>admin</strong></td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Parameter</strong>
                            </td>
                            <td>
                              aname:
                              <ul>
                                <li><strong>as_server[2]</strong>: Address of the receiving Server (e.g. Home Automation Server) [IPv4 Address]</li>
                                <li><strong>as_port[2]</strong>: Port of the receiving Server [1-65536]</li>
                                <li><strong>as_auth[2]</strong>: Authentication required [0, 1]</li>
                                <li><strong>as_username[2]</strong>: Alarmserver Username</li>
                                <li><strong>as_password[2]</strong>: Alarmserver Password</li>
                                <li><strong>as_path[2]</strong>: URL Path</li>
                                <li><strong>as_area[2]</strong>: Send Query when Motion is Detected</li>
                                <li><strong>as_io[2]</strong>: Send Query when Alarm Input is Triggered</li>
                                <li><strong>as_audio[2]</strong>: Send Query when Audio Alarm is Triggered</li>
                                <li><strong>as_areaio[2]</strong>: Send Query when Motion is Detected and Input is Triggered</li>
                                <li><strong>as_activequery[2]</strong>: Append Alarm Trigger to Query</li>
                                <li><strong>as_query1[2]</strong>: Activate Sending optional Parameter 1</li>
                                <li><strong>as_queryattr1[2]</strong>: Command 1 Attribute</li>
                                <li><strong>as_queryval1[2]</strong>: Command 1 Value</li>
                                <li><strong>as_query2[2]</strong>: Activate Sending optional Parameter 2</li>
                                <li><strong>as_queryattr1[2]</strong>: Command 2 Attribute</li>
                                <li><strong>as_queryval2[2]</strong>: Command 2 Value</li>
                                <li><strong>as_query3[2]</strong>: Activate Sending optional Parameter 3</li>
                                <li><strong>as_queryattr3[2]</strong>: Command 3 Attribute</li>
                                <li><strong>as_queryval3[2]</strong>: Command 3 Value</li>
                              </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Example</strong>
                            </td>
                            <td>
                              <ul>
                                <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getalarmserverattr&-as_index=3</li>
                                <li>GET: http://192.168.178.88/param.cgi?cmd=setalarmserverattr&-as_index=3&-as_server=192.168.1.114&-as_port=80&-as_path=/&-as_queryattr1=command1&-as_queryval1=false&-as_queryattr2=command2&-as_queryval2=true&-as_activequery=0&-as_auth=0&-as_query1=1&-as_query2=1</li>
                              </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /margin -->

              </section>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
