<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                <div>
                  <h1>1080p CGI Commands</h1>
                  <h3>The System Menu</h3>
                  <h4>The Date &amp; Time Overlay</h4>
                </div>
                <!-- margin -->

              <div class="margin">

                <h2>param.cgi?cmd=getservertime</h2>

                  <table>
                      <tr>
                          <td width="20%">
                              <strong>Function</strong>
                          </td>
                          <td>Get your Camera´s Time Configuration</td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Authority</strong>
                          </td>
                          <td><strong>admin</strong></td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Parameter</strong>
                          </td>
                          <td>
                            <ul>
                              <li><strong>time</strong>: Camera Time</li>
                              <li><strong>timeZone</strong>: Cameras Time Zone e.g.[Europe%2FAmsterdam]</li>
                              <li><strong>dstmode</strong>: De/Activate Daylight Saving Time [off, on]</li>
                            </ul>
                          </td>
                      </tr>
                      <tr>
                          <td width="20%">
                              <strong>Example</strong>
                          </td>
                          <td>
                            <ul>
                              <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getservertime</li>
                              <li>GET: http://192.168.178.88/param.cgi?cmd=getservertime&-usr=admin&-pwd=instar</li>
                              <li>SET: http://admin:instar@192.168.178.88/param.cgi?cmd=setservertime&-dstmode=on&-timezone=Europe%2FAmsterdam</li>
                            </ul>
                          </td>
                      </tr>
                  </table>
              </div>
              <!-- /margin -->

            <div class="margin">

              <h2>param.cgi?cmd=getntpattr</h2>

                <table>
                    <tr>
                        <td width="20%">
                            <strong>Function</strong>
                        </td>
                        <td>Get your Camera´s Network Configuration</td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <strong>Authority</strong>
                        </td>
                        <td><strong>admin</strong></td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <strong>Parameter</strong>
                        </td>
                        <td>
                          <ul>
                            <li><strong>ntpenable</strong>: De/Activate NTP Time Adjustment [0, 1]</li>
                            <li><strong>ntpserver</strong>: NTP Server Address</li>
                            <li><strong>ntpinterval</strong>: NTP Sync Interval in Hours [1 - 12]</li>
                          </ul>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <strong>Example</strong>
                        </td>
                        <td>
                          <ul>
                            <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getntpattr</li>
                            <li>GET: http://192.168.178.88/param.cgi?cmd=getntpattr&-usr=admin&-pwd=instar</li>
                            <li>SET: http://admin:instar@192.168.178.88/param.cgi?cmd=setntpattr&-ntpenable=1&-ntpserver=0.de.pool.ntp.org&-ntpinterval=1</li>
                          </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /margin -->

              </section>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
