<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>1080p CGI Commands - Set Video Attribute</h1>
                <hr>
            </div>

            <div class="clearfix"></div>

        <!-- #############################################  Body ############################################# -->

            <div class="container main">

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                  <div class="col-12">

                      <h2>Video &amp; Audio :: Set Video Attribute</h2>
                      <h3>param.cgi?cmd=setvideoattr</h3>

                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tr>
                            <th>Function</th>
                            <td>Set device video property</td>
                          </tr>
                          <tr>
                            <th>Authority</th>
                            <td>admin</td>
                          </tr>
                          <tr>
                            <th>Syntax</th>
                            <td><code>/cgi-bin/hi3510/param.cgi[?cmd= setvideoattr&amp;-vinorm=]</code></td>
                          </tr>
                          <tr>
                            <th rowspan="6">Parameter</th>
                            <td>vinorm: P: 50Hz(PAL) | N: 60Hz(NTSC)</td>
                          </tr>
                          <tr>
                            <td>videomode | 41: HD1080P, 31: HD720P, 21: HDQ720P, 11: HDQQ720P</td>
                          </tr>
                          <tr>
                            <td>vinorm | P:  50Hz(PAL) N: 60Hz(NTSC)</td>
                          </tr>
                          <tr>
                            <td>wdrmode | Display Mode 0:  linear, 1: WDRauto or 2: auto</td>
                          </tr>
                          <tr>
                            <td>profile | Compression Mode 0: baseline, 1: mainprofile or 2: highprofile</td>
                          </tr>
                          <tr>
                            <td>maxchn | 0 - 3</td>
                          </tr>
                          <tr>
                            <th rowspan="3">Return</th>
                            <td>Success: Including Success | Failed: Including Error</td>
                          </tr>
                          <tr>
                            <td><u>Note:</u><br/>CCD D1 models, PAL and NTSC can be recognized automatically, vinorm settings are valid.</td>
                          </tr>
                          <tr>
                            <td><u>Note:</u><br/>1HD720P Resolution: 1280x720<br/>1HDQ720P Resolution: 640x352<br/>1HDQQ720P Resolution: 320x176<br/><small>1HD720P_1HDQ720P_1HDQQ720P: 1st stream is 720P，2nd stream is Q720P，3rd stream is QQ720P</small></td>
                          </tr>
                          <tr>
                            <th>Remarks</th>
                            <td>It takes a long time to return. Device resolution is fixed, can’t be modify.</td>
                          </tr>
                          <tr>
                            <th>Example</th>
                            <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/cmd=setvideoattr&-videomode=41&-vinorm=P&-wdrmode=1&-profile=2&-maxchn=3</code></td>
                          </tr>
                        </table>
                      </div>

                  </div>

              </section>
              <!-- /ROW -->

              <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>
          <!-- /Container -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
