<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>1080p CGI Commands - Check Wireless Attribute</h1>
                <hr>
            </div>

            <!-- ######################### Breadcrumbs ############################ -->

            <div class="container">
              <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <li class="breadcrumb-item"><a href="/Advanced_User/">For Developers</a></li>
                <li class="breadcrumb-item"><a href="/Advanced_User/CGI_Commands/">CGI Commands</a></li>
                <li class="breadcrumb-item"><a href="/Advanced_User/CGI_Commands/720p_Series_CGI_List/">720p Series</a></li>
                <li class="breadcrumb-item"><a href="/720p_Series_CGI_List/Complete_CGI_List/">Complete CGI List</a></li>
                <li class="breadcrumb-item active">Check Wireless Attribute</li>
                <li class="breadcrumb-item"><a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Check_Wireless_Attribute/">Get Check Wireless Attribute</a></li>
              </ol>
            </div>

            <div class="clearfix"></div>

            <div class="container main">

              <!-- ######################################## Body ####################################### -->

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                <div class="col-12">

                  <h2>Network :: Set Wireless Attribute</h2>
                  <h3>param.cgi?cmd=chkwirelessattr</h3>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Set Wireless Parameter</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>/cgi-bin/hi3510/param.cgi[?cmd=chkwirelessattr&amp;-wf_ssid=&amp;-wf_auth=&amp;-wf_key=&amp;-wf_enc=&amp;-wf_mode=]</code></td>
                      </tr>
                      <tr>
                        <th rowspan="5">Parameters</th>
                        <td>wf_ssid: SSID (max. 32 CHaracters)</td>
                      </tr>
                      <tr>
                        <td>wauth: Encryption mode - 0: (no encryption), 1 (WEP), 2 (WPA-PSK), 3 (WPA2-PSK)</td>
                      </tr>
                      <tr>
                        <td>wf_key: WiFi Key</td>
                      </tr>
                      <tr>
                        <td>wf_enc: Encryption 0 (TKIP), 1 (AES)</td>
                      </tr>
                      <tr>
                        <td>wf_mode: Connection Mode 0 (Infra), 1 (Ad-hoc)</td>
                      </tr>
                      <tr>
                        <th>Return</th>
                        <td>Success, Error</td>
                      </tr>
                      <tr>
                        <th>Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=chkwirelessattr&-wf_ssid=linksys&-wf_auth=3&amp;-wf_key=1234567890&amp;-wf_enc=0&amp;-wf_mode=0</code></td>
                      </tr>
                    </table>
                  </div>


                </div>

                </section>  <!-- Close Media Container -->

                <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
