<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                <div>
                  <h1>1080p CGI Commands</h1>
                  <h3>The Multimedia Menu</h3>
                  <h4>The Overlays Overlay</h4>
                </div>
                <!-- margin -->

                <div class="margin">

                  <h2>param.cgi?cmd=getoverlayattr&-region=[0, 1]</h2>

                    <table>
                        <tr>
                            <td width="20%">
                                <strong>Function</strong>
                            </td>
                            <td>Get OSD Parameter</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Authority</strong>
                            </td>
                            <td><strong>admin</strong></td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Parameter</strong>
                            </td>
                            <td>
                              <ul>
                                <li><strong>region</strong>0: OSD time zone, 1: OSD Name region</li>
                                <li><strong>show_[region]</strong>: 0 (hidden), 1 (displayed)</li>
                                <li><strong>place_[region]</strong>: 0: top, 1: bottom</li>
                                <li><strong>x_[region]</strong>: OSD region x coordinate</li>
                                <li><strong>y_[region]</strong>: OSD region y coordinate</li>
                                <li><strong>name_[region]</strong>: Region 0="YYYY-MM-DD hh:mm:ss", region="Camera Name"</li>
                              </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Example</strong>
                            </td>
                            <td>
                              <ul>
                                <li>GET: http://admin:instar@192.168.178.88/param.cgi?cmd=getoverlayattr&-region=0</li>
                                <li>GET: http://192.168.178.88/param.cgi?cmd=getoverlayattr&-region=1&-usr=admin&-pwd=instar</li>
                                <li>SET: http://admin:instar@192.168.178.88/param.cgi?cmd=setoverlayattr&-region=1&-show=1&-name=IN-8015FullHD&cmd=setoverlayattr&-region=0&-show=1</li>
                              </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /margin -->

              </section>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
