<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Alarm_Notification/">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Motion Detection</h1>
                                    <h3>Alarm Notification</h3>
                                    <p class="intro">
                                      The motion detection of the camera works in a way that the camera is comparing every picture with each other. So that camera takes the last picture and compares it with the new one. This will also have the effect that the camera will notice a change of brightness in the picture in the same way as it notices a person or object moving through the picture. With the sensitivity you can set how many percentage of a picture has to change until the camera will cause an alarm.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                <!-- article -->

                    <div class="margin">
                      <h1>Alarm Notification</h1>
                      <table>
                        <tr>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/720p_Series/"><button class="btn">720p Series</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/VGA_Series/"><button class="btn">VGA Series</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/"><button class="btn btnRed">Troubleshooting</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>1080p Camera Series</h2>
                        <p>Setting up and activating the email alarm.</p>
                        <h3>Step 1</h3>
                        <p>
                          First, open the <a href="/Web_User_Interface/1080p_Series/System/Email/">Email Settings</a>. INSTAR offers you a forwarding Email Server, that allows your camera to send email notifications - <em>TLS encrypted</em> - to your personal email address. We recommend that you <strong>select INSTAR from the SMTP preset</strong> menu and apply those settings. Then switch to the recipient tab and type in your personal email address, subject and email text - <strong>DONE</strong>!<br><br>
                          You can, of course, also use your personal providers SMTP Server information instead. We collected a few <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers/" target="_blank">here</a>. Please verify them on your providers web site and check out our <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/">Troubleshooting Guide</a>, if you run into problems.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox00"
                          role="button"
                          tabindex="0"
                          src="/images/Alarm_Notification_1080p_01.png" width="600" height="539" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox00" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>All those information will be filled automatically, if you choose the <strong>INSTAR SMTP Preset</strong> - otherwise:</p>
                      <ul>
                        <li><strong>SMTP Server</strong>: Here you have to fill in the SMTP Server from your email provider. Mostly you can find this data on the website of your email provider by searching for SMTP. Otherwise you find a list <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers">HERE</a>.</li>
                        <li><strong>SMTP Port</strong>: Fill in the Port which your email provider is using. Normally this will be either Port 25, 465 or 587.</li>
                        <li><strong>SSL</strong>: Here you can activate if your account is using SSL encryption.</li>
                        <li><strong>SMTP Login Type</strong>: For almost all email servers this has to be set to Authentication so that you can identify yourself with your username and password.</li>
                        <li><strong>SMTP Username</strong>: Please fill in the username of your email account.</li>
                        <li><strong>SMTP Password</strong>: Please fill in the password of your email account.</li>
                      </ul>
                      <p>Please enter your email accounts SMTP data and your personal login and save all settings by clicking <strong>Apply</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox01"
                          role="button"
                          tabindex="0"
                          src="/images/Alarm_Notification_1080p_02.png" width="600" height="519" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox01" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Step 2</h3>
                      <p>Now switch to the Recipient Tab and add your personal Email Address, an Email Subject and Bodytext and Apply. You can click on the Test button to verify your settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Step 3</h3>
                      <p>Now follow our <a href="/Motion_Detection/Setup/">Motion Detection Setup Guide</a> to activate the Motion Detection and Alarm Notification.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
