<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Alarm_Notification/">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Motion Detection</h1>
                                    <h3>Alarm Notification</h3>
                                    <p class="intro">
                                      The motion detection of the camera works in a way that the camera is comparing every picture with each other. So that camera takes the last picture and compares it with the new one. This will also have the effect that the camera will notice a change of brightness in the picture in the same way as it notices a person or object moving through the picture. With the sensitivity you can set how many percentage of a picture has to change until the camera will cause an alarm.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2>1080p Camera Series</h2>
                        <p>Setting up and activating the email alarm.</p>
                        <h3>Step 1</h3>
                        <p>
                          First, open the <a href="/Web_User_Interface/1080p_Series/System/Email/">Email Settings</a>. INSTAR offers you a forwarding Email Server, that allows your camera to send email notifications - <em>TLS encrypted</em> - to your personal email address. We recommend that you <strong>select INSTAR from the SMTP preset</strong> menu and apply those settings. Then switch to the recipient tab and type in your personal email address, subject and email text - <strong>DONE</strong>!<br><br>
                          You can, of course, also use your personal providers SMTP Server information instead. We collected a few <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers/" target="_blank">here</a>. Please verify them on your providers web site and check out our <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/">Troubleshooting Guide</a>, if you run into problems.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox00"
                          role="button"
                          tabindex="0"
                          src="/images/Alarm_Notification_1080p_01.png" width="600" height="539" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox00" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>All those information will be filled automatically, if you choose the <strong>INSTAR SMTP Preset</strong> - otherwise:</p>
                      <ul>
                        <li><strong>SMTP Server</strong>: Here you have to fill in the SMTP Server from your email provider. Mostly you can find this data on the website of your email provider by searching for SMTP. Otherwise you find a list <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers">HERE</a>.</li>
                        <li><strong>SMTP Port</strong>: Fill in the Port which your email provider is using. Normally this will be either Port 25, 465 or 587.</li>
                        <li><strong>SSL</strong>: Here you can activate if your account is using SSL encryption.</li>
                        <li><strong>SMTP Login Type</strong>: For almost all email servers this has to be set to Authentication so that you can identify yourself with your username and password.</li>
                        <li><strong>SMTP Username</strong>: Please fill in the username of your email account.</li>
                        <li><strong>SMTP Password</strong>: Please fill in the password of your email account.</li>
                      </ul>
                      <p>Please enter your email accounts SMTP data and your personal login and save all settings by clicking <strong>Apply</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox01"
                          role="button"
                          tabindex="0"
                          src="/images/Alarm_Notification_1080p_02.png" width="600" height="519" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox01" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Step 2</h3>
                      <p>Now switch to the Recipient Tab and add your personal Email Address, an Email Subject and Bodytext and Apply. You can click on the Test button to verify your settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Step 3</h3>
                      <p>Now follow our <a href="/Motion_Detection/Setup/">Motion Detection Setup Guide</a> to activate the Motion Detection and Alarm Notification.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>720p Camera Series</h2>
                        <p>Setting up and activating the email alarm.</p>
                        <h3>Step 1</h3>
                        <p>
                          In order that the camera can sent you pictures by email you have to save your email providers data inside the camera. This can be done if you open the web interface of your IP camera and then click on <strong>Alarm</strong> in order to open the <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_01_EN.jpg" width="700" height="397" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>On the upcoming overlay you now have to fill in the following data:</p>
                        <ul>
                          <li><strong>SMTP Server</strong>: Here you have to fill in the SMTP Server from your email provider. Mostly you can find this data on the website of your email provider by searching for SMTP. Otherwise you find a list <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers">HERE</a>.</li>
                          <li><strong>SMTP Port</strong>: Fill in the Port which your email provider is using. Normally this will be either Port 25, 465 or 587.</li>
                          <li><strong>SSL</strong>: Here you can activate if your account is using SSL encryption.</li>
                          <li><strong>SMTP Login Type</strong>: For almost all email servers this has to be set to Authentication so that you can identify yourself with your username and password.</li>
                          <li><strong>SMTP Username</strong>: Please fill in the username of your email account.</li>
                          <li><strong>SMTP Password</strong>: Please fill in the password of your email account.</li>
                        </ul>
                        <p>Please enter your email accounts SMTP data and your personal login and save all settings by clicking <strong>Submit</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_02_EN.jpg" width="470" height="580" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                          Next please open the <a href="/Web_User_Interface/HD_Series/Alarm/Email/">Alarm / Email Overlay</a> to set the receiver and the sender of the alarm emails.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_03_EN.jpg" width="700" height="397" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Please fill in all necessary data:</p>
                        <ul>
                          <li><strong>Sender</strong>: Please fill in your email address. This can be the same email address as the receiver.</li>
                          <li><strong>Receiver</strong>: Please fill in the email address that should receive the alarm message.</li>
                          <li><strong>Email Subject</strong>: The subject will be shown in every email you receive.</li>
                          <li><strong>Email Text</strong>: Will be shown together with the alarm pictures in each email.</li>
                        </ul>
                        <p>To save all settings please press Submit. You will now be able to test the settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_04_EN.jpg" width="470" height="580" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>
                          To receive emails in case of an alarm you will need to activate the motion detection in your camera and select what the camera should do in case of an alarm. All necessary settings are explained <a href="/Motion_Detection/Setup">HERE</a>.<br/><br/>
                          If you need help with any kind of settings please feel free to contact us any time.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>VGA Camera Series</h2>
                        <p>Setting up and activating the email alarm.</p>
                        <h3>Step 1</h3>
                        <p>
                          In order that the camera can sent you pictures by email you have to save your email providers data inside the camera. This can be done if you open the web interface of your IP camera and then click on <strong>Alarm</strong> in order to open the <strong>Email Menu</strong>.<br/><br/>
                          On the right side you now have to fill in the following data:
                        </p>
                        <ul>
                          <li><strong>Sender</strong>: Please fill in your email address. This can be the same email address as the receiver.</li>
                          <li><strong>Receiver 1</strong>: Please fill in the email address that should receive the alarm message.</li>
                          <li><strong>SMTP Server</strong>: Here you have to fill in the SMTP Server from your email provider. Mostly you can find this data on the website of your email provider by searching for SMTP. Otherwise you find a list <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers">HERE</a>.</li>
                          <li><strong>SMTP Port</strong>: Fill in the Port which your email provider is using. Normally this will be either Port 25, 465 or 587. Transport Layer Security Protocol: You only need this if you are using Gmail as your email provider. Please choose either TLS or STARTTLS depending on which one you are using.</li>
                          <li><strong>Need Authentication</strong>: For almost all email servers this has to be activated so that you can identify yourself with your username and password.</li>
                          <li><strong>SMTP User</strong>: Please fill in the username of your email account.</li>
                          <li><strong>SMTP Password</strong>: Please fill in the password of your email account.</li>
                          <li><strong>Report Internet IP by Mail</strong>: This function can normally be deactivated. If you activate this service the camera will sent you always the newest internet IP address. Every 24 hours your ISP changes your IP address so the camera will always sent you the newest one. Since the camera has a integrated DDNS address this function is normally not needed.</li>
                        </ul>
                        <p>Now please save all settings by clicking <strong>Submit</strong>. After submitting the data to the camera we recommend you to click <strong>Test</strong> in order to see if the data you typed in was right.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_MJPEG_01_EN.jpg" width="700" height="415" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>After you have now saved all email settings in your camera you still have to activate the email alarm in order to receive an alarm email when a motion is detected. Therefor please click <strong>Alarm</strong> and choose <strong>Alarm</strong> in the sub menu. In the next window please set <strong>Motion Detect Armed</strong> and activate <strong>Send E-Mail on Alarm</strong> as show in the screenshot below. After that please choose <strong>Submit</strong> to save the settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_MJPEG_02_EN.jpg" width="700" height="446" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>If your camera detects a motion you will now be informed with a email and 6 pictures in the attachment.<br/><br/><u><strong>Notes</strong>:</u> Please note that the camera can not detect weather it is a human motion or a motion caused by heavy rain or fast light changes. Depending how many false alarms you will receive you might change the sensibility a little. (1= insensitive and 10= very sensitive) .</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Troubleshooting</h2>
                        <h3>Gmail</h3>
                        <p><strong>Problem</strong>: You set up a new GMail account just for your camera´s alarm notifications. But the Test-Email always fails because of a faulty authentication.</p>
                        <p><strong>Solution</strong>: Google monitors your behaviour to estimate if it is really you, who accesses the email account. When you use a new device - e.g. another smartphone or your IP camera - to login to your account, Google might block you and ask for a two stage authentication. This will cause your Test-Email to fail. Please log into your account via your web browser and and check if your GMail account was blocked or Google tells you they caught a suspicious activity. Just authenticate yourself and/or the device that caused the activity.</p>
                        <p><strong>Problem</strong>: GMail always worked fine, but now you stopped receiving alarm emails. But you are still receiving emails from other senders in your GMail account.</p>
                        <p><strong>Solution</strong>: GMail started to limit the amount of emails that you are allowed to send with a free account. Your camera is using the GMail SMTP server to send alarm emails and is therefore using up the amount of mails you are allowed to send. You can set up a separate GMail account for your camera to avoid this interference with your personal emails.</p>
                        <p><strong>Problem</strong>: You cannot send a Test Email - the login fails.</p>
                        <p><strong>Solution</strong>: Activate the SMTP access for less secure apps.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox7"
                          role="button"
                          tabindex="0"
                          src="/images/Gmail-UnsecureApps_en.png" width="500" height="300" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Open on your Email Account menu, choose Account to open your Account Settings and go to the Sign In Settings and allow the access from less secure apps.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <h3>Telekom Speedport</h3>
                          <p><strong>Problem</strong>: You are using your camera behind a Telekom Speedport and typed in your SMTP server and login credentials but the Test-Email always fails.</p>
                          <p><strong>Solution</strong>: The Telekom Speedport introduced a list of allowed SMTP servers into it´s Firmware, which is activated by default. Even though this list contains most common SMTP servers - it might still interfere with your attempts to contact SMTP servers with your camera. You can deactivate the Email Abuse Detection for a moment (maybe restart your Speedport afterwards) and try again.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                        <amp-img
                            on="tap:lightbox8"
                            role="button"
                            tabindex="0"
                            src="/images/01_MailAbuse-en.png" width="700" height="421" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <p>Deactivate the Mail Abuse Detection and re-try sending your Test-Email. If it works, add your SMTP server address to the list of allowed addresses and activate the function again.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <h3>T-Online Mail</h3>
                          <p><strong>Problem</strong>: You set up a new T-Online mail account just for your camera´s alarm notifications. But the Test-Email always fails because of a faulty authentication.</p>
                          <p><strong>Solution</strong>: You need to set a separate email password for external apps to connect to your T-Online mail account.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                        <amp-img
                            on="tap:lightbox9"
                            role="button"
                            tabindex="0"
                            src="/images/Telekom-Mail_01.png" width="800" height="500" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <p>Log in to your T-Online web account and open then Menu / Properties. Go to <strong>Passwords</strong> and click on <strong>Change your Email Password</strong>. Follow the instructions and confirm your password.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                        <amp-img
                            on="tap:lightbox10"
                            role="button"
                            tabindex="0"
                            src="/images/Telekom-Mail_02.png" width="800" height="400" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <p>Log into your camera´s WebUI, open the <a href="/Web_User_Interface/HD_Series/Alarm/SMTP_Server/">Alarm / SMTP Server Overlay</a> and choose the T-Online preset. Type in your complete mail address as username and add the password you created in the step above. Add your T-Online address in the <a href="/Web_User_Interface/HD_Series/Alarm/Email/">Alarm / Email Overlay</a> and submit and test the connection.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <h3>GMX Mail</h3>
                          <p><strong>Problem</strong>: The Test-Email always fails.</p>
                          <p><strong>Solution</strong>: You need to activate the SMTP service for external programs like Thunderbird or Outlook.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                        <amp-img
                            on="tap:lightbox11"
                            role="button"
                            tabindex="0"
                            src="/images/GMX_SMTP_Fix.png" width="800" height="510" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox11" layout="nodisplay"></amp-image-lightbox>
                      </div>
                      <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
