<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Motion Detection</h1>
                                    <h3>Alarm Recording</h3>
                                    <p class="intro">
                                      In order to record in Windows 8 / 7 / Vista you will need to add the IP address of your IP camera to the list of trusted sites. In order to do so please open your Internet Explorer and go to Tools - Internet Options - Security - Trusted sites - Sites to add the IP address of your camera. You will need to remove the checkmark by Require server verification (https:) for all sites in this zone so that you can add the IP as http. After that please reload the cameras ip address in your web browser and you should be able to set the <a href="/Web_User_Interface/HD_Series/Video_Menu_Bar/">Record Path</a> accordingly. If you can still not set the record path please make sure you have started the Internet Explorer with admin rights (only <a href="/Web_User_Interface/HD_Series/Multimedia/Video/">ActiveX Video Plugin</a>).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2>1080p Camera Series</h2>
                        <h3>Alarm Recording</h3>
                        <p>
                          To set up a alarm recording, just follow our <a href="/Motion_Detection/Setup/">Motion Detection Setup Guide</a> and activate the video or snapshot <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Recording to SD Card</a> in case of an alarm event. Every trigger event will create alarm videos with a length of 15 seconds + 3 seconds pre-cached video. The recording will be re-triggered without a delay, if the movement in front of the camera continues.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Manual Recording</h3>
                        <p>
                          You can also start a manual recording on SD card when you see somthing happening in front of the camera. Just click on the photo camera symbol to the right of the live video to take a snapshot. Or click on the camcorder icon to start a manual video recording.<br><br>
                          All video and snapshot recordings to <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD card</a>, can be accessed by our <strong>free app</strong> for <a href="/Software/Windows/InstarVision/Windows_Phone/Recording/">Windows Phone</a>, <a href="/Software/Windows/InstarVision/Metro/Recording/">Windows Metro</a>, <a href="/Software/Android/InstarVision/Recording/">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/Recording/">iPhone</a> and <a href="/Software/iOS/InstarVision/iPad/Recording/">iPad</a>. Alternatively, you can <a href="/Motion_Detection/SD_Card_Access/">download all files</a> to your computer.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Recording_Manual_1080p_01"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Recording_Manual_1080p_01.png" width="1351" height="672" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          The manual recording on SD card will run until you manually stop it by clicking the camcorder icon. The videos on SD card will be broken up into smaller video files with a length that you can define under <a href="/Web_User_Interface/1080p_Series/Features/Manual_Recording/">Features / Manual Recording</a>. It is recommended to set a length of 10 -15min to reduce the risk of total data loss - in case that a file becomes corrupted.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Recording_Manual_1080p_02"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Recording_Manual_1080p_02.png" width="601" height="304" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Planned Recording</h3>
                        <p>
                          Your camera also offers you a scheduled recording function in the <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Task / Recording</a> menu:
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Recording_Schedule_1080p_01"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Recording_Schedule_1080p_01.png" width="739" height="537" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>720p Camera Series</h2>
                        <h3>Step 1</h3>
                        <p>
                          Open the web interface in the Internet Explorer and click the <a href="/Web_User_Interface/HD_Series/Video_Menu_Bar/">path settings</a> on the lower right side.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speicherpfad_Aufnahmen_im_IE_HD_01_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Speicherpfad_Aufnahmen_im_IE_HD_01_EN.jpg" width="700" height="393" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                          Choose the directory in which the recordings should be saved.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speicherpfad_Aufnahmen_im_IE_HD_02_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Speicherpfad_Aufnahmen_im_IE_HD_02_EN.jpg" width="320" height="333" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>
                          By clicking <strong>Record</strong> you can start the recording. The word <strong>Record</strong> will be shown in red once the recording started. Additionally the <strong>Rec</strong> will start lighting up below the video. Another click on <strong>Record</strong> will end the recording.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speicherpfad_Aufnahmen_im_IE_HD_03_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Speicherpfad_Aufnahmen_im_IE_HD_03_EN.jpg" width="700" height="394" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><strong>INFORMATION ABOUT RECORDING</strong>: The recording during an motion detection can only be saved to the SD card inside the camera. This recording mode as explained above is only for manual recordings. The Action which the camera should do during a motion detection can be set in the <a href="/Web_User_Interface/HD_Series/Alarm/Actions/">Alarm / Actions Overlay</a>.</p>
                        <p>You can also record the video with our additional software <a href="/Software/Windows/InstarVision">InstarVision</a> or any other <a href="/Software">third party software</a>. If you are using a <a href="/Software/Other_Platforms/QNAP">QNAP</a> or <a href="/Software/Other_Platforms/Synology">Synology Disk Station</a> you can also simply add the camera in the Surveillance Software on the Disk Station.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>VGA Camera Series</h2>
                        <p>
                          The camera is using a ActiveX plugin to record videos... this is currently only supported by Internet Explorer. This is why the video recording is only possible with a windows computer. The recordings directory can be set under <strong>Alarm/Path</strong> and the recording be started by clicking on <strong>Record</strong> above the camera's live video.<br/><br/>

                          In order to record in Windows 8 / 7 / Vista you will need to add the IP address of your IP camera to the list of trusted sites. In order to do so please open your Internet Explorer and go to Tools - Internet Options - Security - Trusted sites - Sites to add the IP address of your camera. You will need to remove the checkmark by Require server verification (https:) for all sites in this zone so that you can add the IP as http. After that please reload the cameras ip address in your web browser and you should be able to set the record path accordingly. If you can still not set the record path please make sure you have started the Internet Explorer with admin rights.<br/><br/>

                          The recording with (1 frame per second) is possible if you are recording with FTP upload. The camera can upload a picture every second in case of an alarm. All you need is a FTP server or a network HDD which can also be set with an FTP access. You can also record the video with our additional software <a href="/Software/Windows/InstarVision">InstarVision</a> or any other <a href="/Software">third party software</a>. If you are using a <a href="/Software/Other_Platforms/QNAP">QNAP</a> or <a href="/Software/Other_Platforms/Synology">Synology Disk Station</a> you can also simply add the camera in the Surveillance Software on the Disk Station.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Recording_Manual_1080p_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Recording_Manual_1080p_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Recording_Schedule_1080p_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speicherpfad_Aufnahmen_im_IE_HD_01_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speicherpfad_Aufnahmen_im_IE_HD_02_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speicherpfad_Aufnahmen_im_IE_HD_03_EN" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
