<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Alarm_Server/">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-md.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div class="margin">
                        <h1>Alarm Server Function</h1>
                        <p>
                          You can use the Alarm Server function to send a http request to a connected server. The server needs a compatible software to recognize this request as an alarm event and trigger further actions. This function is often supported by home alarm systems. You can add custom commands to the request to trigger specific actions in the receiving server software.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Add an Alarm Server</h2>
                        <div>
                          <amp-img
                              on="tap:lightbox0"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_1080p_01.png" width="609" height="657" layout="responsive" class="margin shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox0" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          <strong>HD Camera Series</strong>: Open the Alarm / Alarmserver menu of your <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">1080p Series</a> or <a href="/Web_User_Interface/720p_Series/Alarm/Alarmserver/">720p Series</a> and configure the HTTP GET command, that is send by your camera, in case of an alarm event - e.g. <span class="code">http://192.168.1.178:666%252Falarm_action?set_light=on&send_sms=1</span>.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox1"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_00.png" width="600" height="98" layout="responsive" class="margin shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          <strong>VGA Camera Series</strong>: Open the web user interface of your camera and navigate to <em>Alarm / Alarm Server</em>. Type in your in your alarm server address and activate the function. Please add the http prefix when entering the servers IP address - e.g. <span class="code">http://192.168.1.66</span>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Application</h2>
                        <p>
                          The Alarm Server function can be used with alarm systems and home automations like the <a href="http://fhem.de/fhem.html">Open Source project FHEM</a>. Unfortunately, because those home automation systems insist on using SPACEs in their URLs, programing your camera becomes a little bit more complicated. As I am writing this article we are already testing a new version of the web user interface for our VGA camera´s that will make the work-around below superfluous. The following will show you how you are able to determin, if your camera is handling the command correctly and how to prepare your command to bypass the problem in case the camera is not saving it as expected.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Home automation system´s like FHEM use SPACEs in their URLs that have to be encoded as %20.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox1"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_01.png" width="600" height="98" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          You have to use a so called URL encoding to employ SPACEs in your web address. An example command for the home automation system FHEM is set alarm on to trigger an alarm event. This will encode to set%20alarm%20on for the camera. The receiving FHEM server will then decode the %20 back to a SPACE. If, for example, your (FHEM) alarm server has the local IP address 192.168.1.66 inside your network, the Server Address you have to type in your cameras webUI to have it activate the alarm event will be.<br/><br/>http://192.168.1.66/fhem?cmd=set%20alarm%20on<br/>(The maximal length of the URL is 128 characters)
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          You can check if the command was saved correctly by calling your cameras configuration with the CGI command <span class="code">http://192.168.1.230/get_params.cgi</span> (where 192.168.1.230 has to be changed to the IP address of your IP camera. You will be asked to log in with your camera administrator account, if you are not logged in already. Scroll to the bottom of the parameter list and search for the variable <strong>alarm_http_url</strong>.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox2"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_02.png" width="600" height="39" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          You can check if the server address and FHEM command was saved correctly by calling the cameras configuration page with the CGI command <strong>get_params.cgi</strong>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                          <amp-img
                              on="tap:lightbox3"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_03.png" width="600" height="43" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          The server address has to be saved with the %20 encoding.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                          <amp-img
                              on="tap:lightbox4"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_04.png" width="600" height="228" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Every time an alarm is triggered inside the camera the HTTP request will be send to your home automation server, triggering your custom command.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Troubleshooting</h2>
                        <h4>What to do if your camera does not save the command with the %20 URL encoding?</h4>
                        <p>
                          As mentioned above, you might already be using a camera where the web user interface takes care of the encoding for you and the command is saved correctly - <strong>please skip this paragraph if this is the case</strong>. In the following we will employ a little trick to make the encoding for us instead of against us.
                        </p>
                        <div>
                          <amp-img
                              on="tap:lightbox5"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_06.png" width="600" height="43" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          What to do if the CGI command get_params.cgi shows you that the camera saved the command with SPACEs instead of the %20 encoding?.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                          <amp-img
                              on="tap:lightbox6"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_07.png" width="600" height="233" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          Your camera will now send out the HTTP request every time the alarm is triggered. But the request will be cut before the first SPACE - making it basically useless.<br/><br/>We can fix this dilemma by having the automatic URL encoding generate the correct URL for us. This can be done by encoding the % sign to %25. The server address will become:<br/><br/><span class="code">http://192.168.1.66/fhem?cmd=set%2520alarm%2520on</span><br/><br/>The automatic encoding will generate the correct address from it once you submit this address:<br/><br/><span class="code">http://192.168.1.66/fhem?cmd=set%20alarm%20on</span>
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                          <amp-img
                              on="tap:lightbox7"
                              role="button"
                              tabindex="0"
                              src="/images/Alarmserver_05.png" width="600" height="98" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <p>
                          To prevent this from happening, encode the SPACE with %2520 instead of %20.<br/><br/>Please make sure not to press the Submit button a second time - as this will again get rid of the %20, substituting it with a SPACE. You can check the result by calling the <strong>get_params.cgi</strong> command.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
