<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Alarm_FTP_Upload">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                    <!-- article -->

                    <!-- ---------------------------------- HD Cameras ---------------------------------------------------------- -->

                    <div class="margin">
                        <h1>Alarm Upload / FTP Settings</h1>
                        <h2>HD Camera Series</h2>
                        <p>
                          <strong>Setting FTP upload during alarm and photo series</strong></br>Your ip camera can upload pictures and videos either during an motion alarm or in an time interval. All settings necessary can be done through the web interface of your camera by clicking Alarm - FTP, Alarm - Actions or Alarm - Photo Series.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/FTP_Einstellungen_HD_1_en.jpg" width="700" height="398" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 1</h3>
                        <p>
                          Open the web interface of your HD IP cam and click Alarm - FTP.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/FTP_Einstellungen_HD_2_en.jpg" width="450" height="555" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                          The following settings need to be done in the overlay which will open.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/FTP_Einstellungen_HD_2_en.jpg" width="400" height="555" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          <strong>FTP Server</strong>: Please enter the address of your FTP server. In the example above we have used a AVM Fritzbox (Router) as a FTP server. This router has a USB Stick connected which provides the storage for the pictures. In our case we have to type in the IP address of the router. If you want to set up your own FTP server on your local computer you will find a step by step manual here. You can also use a web address as the FTP Server. This can either be a online host service or a DynDns address which connects to a FTP server at another location.
                        </p>
                        <p>
                          <strong>FTP Port</strong>:  Please type in the FTP Servers port which is usually 21.
                        </p>
                        <p>
                          <strong>FTP Folder</strong>: Fill in the folder you want to upload the pictures inside. By default the folder will be "./" which means that the camera will save the uploads in the root folder of the server. In our above sample the pictures will be saved in the root folder.
                        </p>
                        <p>
                          <strong>FTP Username</strong>:  Please fill in the username of your FTP account. The default username for the AVM Fritzbox is "ftpuser".
                        </p>
                        <p>
                          <strong>FTP Password</strong>: Please fill in the password of your FTP account.
                        </p>
                        <p>
                          <strong>FTP Mode</strong>: Here you can choose between (PASV) and active Mode (PORT). The default setting is the mode PORT with which the camera will tell the server its IP and Port. Therefor this mode will also work with passive FTP servers. If the client is behind a router which will use NAT or if a firewall is blocking the clients network from accessing the network then you should choose the PASV mode.
                        </p>
                        <p>Next please submit all settings and test them afterwards to make sure the settings are correct.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/FTP_Einstellungen_HD_3_en.jpg" width="700" height="398" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>
                          Please open the menu Alarm / Actions,
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/FTP_Einstellungen_HD_4_en.jpg" width="450" height="408" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 4</h3>
                        <p>
                          In the Overlay which opens please select what the camera should do in case of an motion alarm. The camera can upload pictures to an FTP Server when a motion is triggered. In total 4 pictures will be uploaded in which you can see the object that caused the motion. All pictures will be uploaded in the full HD resolution 1280 x 720. You can also upload videos to your FTP server. Therefor you will need to insert a SD card into your camera. The video will then be recorded to the SD card and uploaded to your FTP server. You find more information about the settings for motion detection <a href="/Motion_Detection/Setup">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/FTP_Einstellungen_HD_5_en.jpg" width="700" height="398" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 5</h3>
                        <p>
                          In addition to the upload during an alarm you can also upload pictures in a time interval. Thanks to this function you can create time laps recordings. Please open the menu Alarm / Photo Series.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox7"
                          role="button"
                          tabindex="0"
                          src="/images/FTP_Einstellungen_HD_6_en.jpg" width="450" height="555" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 6</h3>
                        <p>
                          Please activate that you want to have a photo series uploaded to an FTP server. Next you can choose if the picture should be uploaded with a new file name each time (timestamp) or if you want to have a fixed file name and the file will be replaced each time. Also you can set the time interval in which the picture should be uploaded. The smallest value is 1 second but it also depends on the upload speed of your internet connection. All pictures will be uploaded in HD resolution 1280 x 720.
                        </p>
                    </div>
                    <!-- /margin -->

                    <!-- ---------------------------------- VGA Cameras ---------------------------------------------------------- -->

                    <div class="margin">
                        <h1>Alarm Upload / FTP Settings</h1>
                        <h2>VGA Camera Series</h2>
                        <p>
                        FTP Upload and FTP Alarm notification settings
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox8"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_MJPEG_01_EN.jpg" width="700" height="415" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          <strong>FTP Server</strong>: Please enter the address of your FTP server. In the example above we have used a AVM Fritzbox (Router) as a FTP server. This router has a USB Stick connected which provides the storage for the pictures. In our case we have to type in the IP address of the router. If you want to set up your own FTP server on your local computer you will find a step by step manual here. You can also use a web address as the FTP Server. This can either be a online host service or a DynDns address which connects to a FTP server at another location.
                        </p>
                        <p>
                          <strong>FTP Port</strong>:  Please type in the FTP Servers port which is usually 21.
                        </p>
                        <p>
                          <strong>FTP Username</strong>:  Please fill in the username of your FTP account. The default username for the AVM Fritzbox is "ftpuser".
                        </p>
                        <p>
                          <strong>FTP Password</strong>: Please fill in the password of your FTP account.
                        </p>
                        <p>
                          <strong>FTP Upload Folder</strong>: Fill in the folder you want to upload the pictures inside. By default the folder will be "./" which means that the camera will save the uploads in the root folder of the server. In our above sample the pictures will be saved in the root folder.
                        </p>
                        <p>
                          <strong>FTP Mode</strong>: Here you can choose between (PASV) and active Mode (PORT). The default setting is the mode PORT with which the camera will tell the server its IP and Port. Therefor this mode will also work with passive FTP servers. If the client is behind a router which will use NAT or if a firewall is blocking the clients network from accessing the network then you should choose the PASV mode.
                        </p>
                        <p>
                          <strong>Upload picture with time interval</strong>: Please activate only if you want your camera to upload a picture in a set time internal. This function is separate from the alarm notification.
                        </p>
                        <p>
                          <strong>Image Name</strong>: Please select a name for the snapshot which will be saved and replaced every time the camera uploads a picture. This is needed if you want to integrate the picture on your website. This way you will always have the picture replaced with the newest one. If you leave this field blank then the camera will safe a picture with the time and date included in the picture name which will look like this: CameraID(CameraName)_0_yyyymmddhhmmss_Nr.jpg.
                        </p>
                        <p>
                          <strong>Interval (in seconds)</strong>: Select the time interval in which you want the camera to upload a picture to the server. The interval has to be set in seconds. The shortest time will be 1 second which means that every second the camera will upload on picture.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox9"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_MJPEG_02_EN.jpg" width="700" height="415" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                          <strong>FTP Server</strong>: If you want to use the FTP upload in case of an alarm you have to set this by clicking Others / Alarm Service Settings. If an alarm occurs the event will last for 60 seconds. With the time interval you can set how many pictures you want to receive during one event. So if you set the time interval to 10 you would receive 6 pictures during every event.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
