<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Alarm_Notification/">
    </head>

    <body class="home">


      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Motion Detection</h1>
                                    <h3>Alarm Notification</h3>
                                    <p class="intro">
                                      The motion detection of the camera works in a way that the camera is comparing every picture with each other. So that camera takes the last picture and compares it with the new one. This will also have the effect that the camera will notice a change of brightness in the picture in the same way as it notices a person or object moving through the picture. With the sensitivity you can set how many percentage of a picture has to change until the camera will cause an alarm.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

            <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                <!-- article -->

                    <div class="margin">
                      <table>
                        <tr>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/"><button class="btn">1080p Series</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/VGA_Series/"><button class="btn">VGA Series</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/"><button class="btn btnRed">Troubleshooting</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>720p Camera Series</h2>
                        <p>Setting up and activating the email alarm.</p>
                        <h3>Step 1</h3>
                        <p>
                          In order that the camera can sent you pictures by email you have to save your email providers data inside the camera. This can be done if you open the web interface of your IP camera and then click on <strong>Alarm</strong> in order to open the <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_01_EN.jpg" width="700" height="397" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>On the upcoming overlay you now have to fill in the following data:</p>
                        <ul>
                          <li><strong>SMTP Server</strong>: Here you have to fill in the SMTP Server from your email provider. Mostly you can find this data on the website of your email provider by searching for SMTP. Otherwise you find a list <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers">HERE</a>.</li>
                          <li><strong>SMTP Port</strong>: Fill in the Port which your email provider is using. Normally this will be either Port 25, 465 or 587.</li>
                          <li><strong>SSL</strong>: Here you can activate if your account is using SSL encryption.</li>
                          <li><strong>SMTP Login Type</strong>: For almost all email servers this has to be set to Authentication so that you can identify yourself with your username and password.</li>
                          <li><strong>SMTP Username</strong>: Please fill in the username of your email account.</li>
                          <li><strong>SMTP Password</strong>: Please fill in the password of your email account.</li>
                        </ul>
                        <p>Please enter your email accounts SMTP data and your personal login and save all settings by clicking <strong>Submit</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_02_EN.jpg" width="470" height="580" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                          Next please open the <a href="/Web_User_Interface/HD_Series/Alarm/Email/">Alarm / Email Overlay</a> to set the receiver and the sender of the alarm emails.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_03_EN.jpg" width="700" height="397" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Please fill in all necessary data:</p>
                        <ul>
                          <li><strong>Sender</strong>: Please fill in your email address. This can be the same email address as the receiver.</li>
                          <li><strong>Receiver</strong>: Please fill in the email address that should receive the alarm message.</li>
                          <li><strong>Email Subject</strong>: The subject will be shown in every email you receive.</li>
                          <li><strong>Email Text</strong>: Will be shown together with the alarm pictures in each email.</li>
                        </ul>
                        <p>To save all settings please press Submit. You will now be able to test the settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Email_Einstellungen_HD_04_EN.jpg" width="470" height="580" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>
                          To receive emails in case of an alarm you will need to activate the motion detection in your camera and select what the camera should do in case of an alarm. All necessary settings are explained <a href="/Motion_Detection/Setup">HERE</a>.<br/><br/>
                          If you need help with any kind of settings please feel free to contact us any time.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
