<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->
                    <div>
                        <h1>Cloud - Benutzer erstellen</h1>
                        <br>
                        <amp-youtube data-videoid="O5wrWGLIk0k" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                    </div>

                    <div class="margin">
                            <p>Erstellen eines Benutzers in der Cloud</p>
                            <h3>Schritt 1</h3>
                            <p>
                              Um sich an der INSTAR Cloud anmelden zu können, müssen Sie sich zuerst mit Ihrer Emailadresse und einem von Ihnen ausgewählten Kennwort registrieren. Gehen Sie dazu auf https://cloud.instar.de und wählen Sie dort „Jetzt kostenfrei registrieren“ aus.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User01.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                          </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 2</h3>
                            <p>
                              Tragen Sie jetzt Ihre Emailadresse sowie Ihr gewünschtes Passwort ein und klicken Sie dann auf <b>„Jetzt kostenfrei registrieren“</b>. Sie erhalten anschließend eine Email von uns in der Sie die Registrierung nochmals bestätigen müssen. Nachdem Sie die Registrierung bestätigt haben, können Sie sich anschließend dann mit Ihrem Account an der INSTAR Cloud anmelden.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User02.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                          </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 3</h3>
                            <p>
                              Nachdem Sie sich angemeldet haben, kommen Sie normalerweise auf die Übersicht aller neuen Alarme. Dadurch das Sie aber noch keine Kamera angelegt haben bei einer neuen Registrierung, werden Sie zuerst auf den Menüpunkt <b>„Kameras“</b> weitergeleitet. Dort haben Sie jetzt die Möglichkeit eine neue Kamera in Ihren Cloud Account hinzuzufügen.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User03.png" width="700" height="415" layout="responsive" class="shadow"></amp-img>
                          </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 4</h3>
                            <p>Wenn Sie eine neue Kamera hinzufügen, müssen Sie als erstes dieser Kamera einen Namen vergeben. In unserem Beispiel vergeben wir der Kamera den Namen <b>„Büro DE“</b>. Zudem müssen Sie auswählen ob es sich bei Ihrer Kamera um eine HD Kamera oder eine VGA Kamera handelt. Um die Kamera anzulegen klicken Sie jetzt bitte auf <b>„Kamera anlegen“</b>.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User04.png" width="700" height="446" layout="responsive" class="shadow"></amp-img>
                          </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 5</h3>
                            <p>Die Kamera wird jetzt angelegt und Sie bekommen alle nötigen Zugangsdaten zu dieser Kamera angezeigt.
                               In der Übersicht erhalten Sie folgende Informationen:
                            </p>
                            <ul>
                              <li><b>Kameraname:</b> (Dies ist der Name den Sie der Kamera vergeben haben, über <b>„Bearbeiten“</b> kann dieser jederzeit geändert werden.)</li><br>
                              <li><b>Kameratyp:</b> Die Art der Kamera, je nach dem ob Sie eine VGA oder HD Kamera ausgewählt haben.</li><br>
                              <li><b>Aufnahmen:</b> Die Anzahl der Alarmvideos die für diese Kamera existieren.</li><br>
                              <li><b>Letzte Aktivität:</b> Die letzte Aktivität in der die Kamera einen Alarm gemeldet / aufgenommen hat.</li><br>
                              <li><b>Kamera-Set:</b> Sofern Sie Kamera einem oder mehreren Sets zugewiesen ist. Mehr dazu finden Sie im Kapitel „Sets anlegen“.</li><br>
                              <li><b>Cloud Benutzer:</b> Den Benutzernamen für diese Kamera den Sie in der Weboberfläche Ihrer Kamera hinterlegen müssen. <br><u>ACHTUNG: Bitte stellen Sie zuvor sicher, das Sie die neueste Firmware auf Ihrer Kamera installiert haben damit Sie den Menüpunkt „Cloud“ in der Weboberfläche angezeigt bekommen.</u></li><br>
                              <li><b>Cloud Passwort:</b> Das Passwort welches in der Weboberfläche Ihrer Kamera hinterlegt werden muss, damit sich die Kamera an der Cloud anmelden kann.</li>
                            </ul>

                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User05.png" width="500" height="300" layout="responsive" class="shadow"></amp-img>
                          </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 6</h3>
                            <p>Öffnen Sie jetzt die Weboberfläche Ihrer IP Kamera. Stellen Sie wie gesagt sicher, dass Sie die allerneueste Firmware auf Ihrer Kamera installiert haben. Sofern Sie die neueste Firmware installiert haben, sehen Sie auf der linken Seite einen neuen Menüpunkt <b>„Cloud“</b>. Bitte wählen Sie diesen aus und gehen Sie dort auf den Unterpunkt <b>„Einstellungen“</b>.
                               In dem Menü welches sich jetzt öffnet können Sie den <b>„Cloud Transfer aktivieren“</b> auswählen damit die Kamera ab sofort die Alarmvideos an die Cloud überträgt. Zudem müssen Sie hier jetzt Ihren Benutzernamen und Passwort hinterlegen den Sie in Ihrem Cloud Account angezeigt bekommen. Kopieren Sie diesen am besten und achten Sie darauf das Sie nicht versehentlich ein Leerzeichen mit kopieren / einfügen.
                               Zu guter letzt <b>„Bestätigen“</b> Sie bitte die Einstellungen damit diese in der Kamera gespeichert werden.
                             </p>
                        </div>

                          <div class="margin">
                            <div>
                                <amp-img on="tap:lightbox6" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User06.png" width="700" height="421" layout="responsive" class="shadow"></amp-img>
                            </div>
                          </div>
                          <!-- /margin -->

                          <div class="margin">
                              <h3>Schritt 7</h3>
                              <p>Damit ein Alarm ausgelöst wird bei einer Bewegung, muss natürlich noch die Bewegungserkennung aktiviert werden. Dies tun Sie wie gehabt über <b>„Alarm – Bereiche“</b> sofern Sie die softwareseitige Bewegungserkennung verwenden. Sollten Sie einen PIR Sensor verwenden, dann aktivieren Sie diesen bitte entsprechend unter <b>„Alarm – Aktionen“</b>.
                                 Nachdem Sie die Bewegungserkennung aktiviert haben (in unserem Beispiel überwachen wir die Tür und haben diese entsprechend ausgewählt), Bestätigen Sie die Einstellungen bitte unten rechts.
                              </p>
                          </div>

                          <div class="margin">
                            <div>
                                <amp-img on="tap:lightbox7" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User07.png" width="800" height="500" layout="responsive" class="shadow"></amp-img>
                            </div>
                          </div>
                          <!-- /margin -->

                          <div class="margin">
                              <h3>Schritt 8</h3>
                              <p>Sofern die Kamera jetzt Alarme auslöst, werden Sie diese kurze Zeit später in Ihrem Cloud Account unter <b>„Alarme“</b> finden. Sofern Sie mehrere Kameras in der Cloud hinzugefügt haben, können Sie auf der linken Seite jeweils die einzelnen Kameras auswählen um „nur“ die Aufnahmen der jeweils ausgewählten Kamera zu sehen.</p>
                          </div>

                          <div class="margin">
                            <div>
                                <amp-img on="tap:lightbox8" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User08.png" width="800" height="510" layout="responsive" class="shadow"></amp-img>
                            </div>
                          </div>
                          <!-- /margin -->
                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-lightbox id="lightbox1" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User01.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>
                <amp-lightbox id="lightbox2" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox2.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User02.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>
                <amp-lightbox id="lightbox3" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User03.png" width="700" height="415" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>
                <amp-lightbox id="lightbox4" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox4.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox4.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User04.png" width="700" height="446" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>
                <amp-lightbox id="lightbox5" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox5.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox5.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User05.png" width="500" height="300" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>
                <amp-lightbox id="lightbox6" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox6.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox6.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User06.png" width="700" height="421" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>
                <amp-lightbox id="lightbox7" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox7.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox7.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User07.png" width="800" height="500" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>
                <amp-lightbox id="lightbox8" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox8.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox8.close" role="button" tabindex="0" src="/images/Motion_Detection/Cloud_Create_User08.png" width="800" height="510" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
