<!DOCTYPE html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="/Motion_Detection/INSTAR_Cloud/">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "<%= headline %>",
        "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
  </script>

  <% include ../_partials/amp/_amp-boilerplate.css %>
  <% include ../_partials/amp/_ampLandingCustom.css %>

</head>

<body>

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ../_partials/amp/_ampLandingSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">
        <% include ../_partials/amp/_ampLandingHeader.ejs %>
    </header>

    <div class="wrap">
        <div class="content">

            <section class="large-cta">
              <div class="cta-container">
                <h1>INSTAR Wiki 2.0</h1>
                <h2>INSTAR Cloud Storage for Motion Detection Recordings</h2>
              </div>
            </section>

            <!-- ########################## Quick Installation ############################### -->

            <section class="tile-wall">
                <h1>INSTAR Cloud</h1>

                <div class="container">

                  <!-- ################################ desktop-up ###################### -->

                    <div class="card-youtube margin">
                      <div class="player">
                        <amp-youtube data-videoid="AaPJ4Y8c9r0" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                        <p>An overview over our online recording platform for your INSTAR IP camera.</p>
                      </div>
                    </div>

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Motion_Detection/INSTAR_Cloud/Create_User_Account/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Account_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Motion_Detection/INSTAR_Cloud/Storage/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Storage_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Motion_Detection/INSTAR_Cloud/User/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-User_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Motion_Detection/INSTAR_Cloud/Administration/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Admin_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Motion_Detection/INSTAR_Cloud/Alarm_Recordings/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Alarm.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Motion_Detection/INSTAR_Cloud/Camera_Sets/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Sets_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Motion_Detection/INSTAR_Cloud/Create_User_Account/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Account_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Create a User Account</h4>
                            <p>Um sich an der INSTAR Cloud anmelden zu können, müssen Sie sich zuerst mit Ihrer Emailadresse und einem von Ihnen ausgewählten Kennwort registrieren ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Motion_Detection/INSTAR_Cloud/Storage/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Storage_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Storage Space</h4>
                            <p>Jeder neu angelegte Cloud Account erhält standardmäßig einen 1GB Speicher für 14 Tage um die Cloud ausgiebig testen zu können ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Motion_Detection/INSTAR_Cloud/User/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-User_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>User Management</h4>
                            <p>Jeder neu angelegte Cloud Account erhält standardmäßig einen 1GB Speicher für 14 Tage um die Cloud ausgiebig testen zu können ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Motion_Detection/INSTAR_Cloud/Administration/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Admin_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Administration</h4>
                            <p>Jeder neu angelegte Cloud Account erhält standardmäßig einen 1GB Speicher für 14 Tage um die Cloud ausgiebig testen zu können ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Motion_Detection/INSTAR_Cloud/Alarm_Recordings/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Alarm.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Alarm Recordings</h4>
                            <p>Jeder neu angelegte Cloud Account erhält standardmäßig einen 1GB Speicher für 14 Tage um die Cloud ausgiebig testen zu können ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Motion_Detection/INSTAR_Cloud/Camera_Sets/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Sets_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Camera Sets</h4>
                            <p>Jeder neu angelegte Cloud Account erhält standardmäßig einen 1GB Speicher für 14 Tage um die Cloud ausgiebig testen zu können ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->

                </div>
                <!-- /container -->
            </section>
            <!-- /Quick Installation I -->

            <!-- ########################## WebUI ############################### -->

            <% include ../_partials/amp/_ampWebUI.ejs %>

            <!-- ########################## Social ############################### -->

            <% include ../_partials/amp/_ampSocial.ejs %>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ../_partials/amp/_amp-footer.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
