<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <section class="blade wrapper content">
                      <!-- section -->

                  <div>
                    <h1>INSTAR Cloud</h1>
                    <h4>INSTAR Cloud Storage for Motion Detection Recordings</h4>
                  </div>

                  <div class="card-youtube margin">
                    <div class="player">
                      <amp-youtube data-videoid="AaPJ4Y8c9r0" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      <p>An overview over our online recording platform for your INSTAR IP camera.</p>
                    </div>
                  </div>

                  <div class="row margin">

                    <a href="/Motion_Detection/INSTAR_Cloud/Create_User_Account/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Account_white.png"></amp-img>
                        <div>
                          <h3>User Account</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Um sich an der INSTAR Cloud anmelden zu können, müssen Sie sich zuerst mit Ihrer Emailadresse und einem von Ihnen ausgewählten Kennwort registrieren.
                          </amp-fit-text>
                          <p class="mobile-down">Um sich an der INSTAR Cloud anmelden zu können, müssen Sie sich zuerst mit Ihrer Emailadresse und einem von Ihnen ausgewählten Kennwort registrieren.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Motion_Detection/INSTAR_Cloud/Storage/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Storage_white.png"></amp-img>
                        <div>
                          <h3>Storage</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Jeder Cloud Account erhält einen 1GB Speicher für 14 Tage um die Cloud testen. Sie Ihren Speicherplatz über einen Gutschein erweitern.
                          </amp-fit-text>
                          <p class="mobile-down">Jeder Cloud Account erhält einen 1GB Speicher für 14 Tage um die Cloud testen. Sie Ihren Speicherplatz über einen Gutschein erweitern.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                  <div class="row margin">

                    <a href="/Motion_Detection/INSTAR_Cloud/User/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-User_white.png"></amp-img>
                        <div>
                          <h3>Management</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Verwalten Sie Benutzer Accounts mit unterschiedlichen Zugriffsrechten in drei Benutzerstufen auf Ihrem Cloud Server.
                          </amp-fit-text>
                          <p class="mobile-down">Verwalten Sie Benutzer Accounts mit unterschiedlichen Zugriffsrechten in drei Benutzerstufen auf Ihrem Cloud Server.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Motion_Detection/INSTAR_Cloud/Administration/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Admin_white.png"></amp-img>
                        <div>
                          <h3>Administration</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Im folgenden Video sehen Sie einen Übersicht über alle Funktionen, die dem Cloud Administrator zur Verfügung stehen.
                          </amp-fit-text>
                          <p class="mobile-down">Im folgenden Video sehen Sie einen Übersicht über alle Funktionen, die dem Cloud Administrator zur Verfügung stehen.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                  <div class="row margin">

                    <a href="/Motion_Detection/INSTAR_Cloud/Alarm_Recordings/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Alarm.png"></amp-img>
                        <div>
                          <h3>Recordings</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Sichten Sie Ihre Alarmaufnahmen, löschen Sie unwichtige Videos oder markieren Sie wichtige Aufnahmen um eine Löschung zu verhindern.
                          </amp-fit-text>
                          <p class="mobile-down">Sichten Sie Ihre Alarmaufnahmen, löschen Sie unwichtige Videos oder markieren Sie wichtige Aufnahmen um eine Löschung zu verhindern.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Motion_Detection/INSTAR_Cloud/Camera_Sets/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_MD-INSTAR-Cloud-Sets_white.png"></amp-img>
                        <div>
                          <h3>Camera Sets</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Organisieren Sie Ihre eingebundenen Kameras in Sets und vergeben Sie unterschiedliche Zugriffsrechte für Benutzer.
                          </amp-fit-text>
                          <p class="mobile-down">Organisieren Sie Ihre eingebundenen Kameras in Sets und vergeben Sie unterschiedliche Zugriffsrechte für Benutzer.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                </section>
                <!-- /section -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
