<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Cloud">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-md.ejs %>

                <article class="content">
                    <!-- article -->
                    <div class="margin">
                        <h1>Cloud - Speicherplatz hinzubuchen</h1>
                        <br>
                        <amp-youtube data-videoid="spHKmZRmn4E" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                    </div>
                    <p>
                      Jeder neu angelegte Cloud Account erhält standardmäßig einen 1GB Speicher für 14 Tage um die Cloud ausgiebig testen zu können. Sofern Ihnen die INSTAR Cloud gefällt, würden wir uns natürlich freuen, wenn Sie Ihren Speicherplatz entsprechend erweitern. Dies können Sie ganz einfach durch Gutscheincodes tun, welche Sie direkt auf der INSTAR Webseite erwerben können.
                      <br>Siehe: <a href="http://www.instar.de">INSTAR Webseite</a>
                    </p>

                    <div class="margin">
                            <h2>Mehr Speicherplatz buchen</h2><br>
                            <h3>Schritt 1</h3>
                            <p>
                              Melden Sie sich mit Ihrem Cloud Account an und gehen Sie dort auf <b>„Administration – Speicherplan“</b>. Hier sehen Sie Ihren aktuellen Speicherplatz sowie die Laufzeit für welche dieser gültig ist.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage01.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                          </div>
                          <amp-lightbox id="lightbox1" layout="nodisplay">
                              <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                                  <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage01.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                              </div>
                          </amp-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 2</h3>
                            <p>
                              Um jetzt Ihren Speicherplatz zu verlängern bzw. zu vergrößern, kaufen Sie zuerst entsprechenden Speicherplatz über die INSTAR Webseite. Der Speicherplatz ist immer in Einheiten von 10GB. Sollten Sie z.B. 20GB kaufen, dann können Sie im ersten Schritt 10GB Ihrem Account hinzufügen und im zweiten Schritt können Sie die zweiten 10GB entweder zur Verlängerung Ihrer Laufzeit verwenden oder um den Speicherplatz zu vergrößern auf 20GB. Dies können Sie frei wählen.
                              Kopieren Sie den Gutscheincode für Ihre Speichereinheit den Sie von uns nach dem Kauf per Email erhalten und fügen Sie den Gutscheincode in Ihrem Cloud Account ein und wählen Sie dann <b>„Gutschein prüfen“</b>.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage02.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                          </div>
                          <amp-lightbox id="lightbox2" layout="nodisplay">
                              <div class="lightbox" on="tap:lightbox2.close" role="button" tabindex="0" class="centered">
                                  <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage02.png" width="700" height="397" layout="responsive" class="shadow"></amp-img>
                              </div>
                          </amp-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 3</h3>
                            <p>
                              Sofern der Gutscheincode gültig ist, wird Ihr Account jetzt auf 10GB erweitert. Eine 10GB Einheit hat immer eine Laufzeit von 365 Tagen welches Sie in Ihrem Account dann auch entsprechend angezeigt bekommen.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage03.png" width="700" height="415" layout="responsive" class="shadow"></amp-img>
                          </div>
                          <amp-lightbox id="lightbox3" layout="nodisplay">
                              <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                                  <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage03.png" width="700" height="415" layout="responsive" class="shadow"></amp-img>
                              </div>
                          </amp-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 4</h3>
                            <p>
                               Sollten Sie sich dazu entscheiden eine zweite 10GB Einheit Ihrem Account hinzuzufügen, dann können Sie wie zuvor erwähnt wählen, ob Sie den Speicherplatz erweitern oder die Laufzeit verlängern möchten.
                               In unserem Beispiel erweitern wir einmal den Speicherplatz.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage04.png" width="700" height="446" layout="responsive" class="shadow"></amp-img>
                          </div>
                          <amp-lightbox id="lightbox4" layout="nodisplay">
                              <div class="lightbox" on="tap:lightbox4.close" role="button" tabindex="0" class="centered">
                                  <amp-img on="tap:lightbox4.close" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage04.png" width="700" height="446" layout="responsive" class="shadow"></amp-img>
                              </div>
                          </amp-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Schritt 5</h3>
                            <p>
                              Unter dem Punkt „Warnen bei benutztem Speicherplatz von:“ können Sie einstellen ab welchem Zeitpunkt Sie eine Warnung erhalten möchten. Wenn Sie z.B. mehrere Kameras in der Cloud hinzugefügt haben und der Speicherplatz fast voll ist, dann können Sie einstellen ab welchem Zeitpunkt Sie eine Email erhalten möchten mit dem Hinweis das entweder Videos gelöscht werden müssen oder der Speicherplatz erweitert werden muss. Sie haben zudem die Möglichkeit unter „Administration – Alarme“ das automatische löschen zu aktivieren. Dies erklären wir Ihnen im Punkt „4. Administration und Übersicht der möglichen Einstellmöglichkeiten”.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage05.png" width="500" height="300" layout="responsive" class="shadow"></amp-img>
                          </div>
                          <amp-lightbox id="lightbox5" layout="nodisplay">
                              <div class="lightbox" on="tap:lightbox5.close" role="button" tabindex="0" class="centered">
                                  <amp-img on="tap:lightbox5.close" role="button" tabindex="0" src="/images/Cloud_Get_More_Cloudstorage05.png" width="500" height="300" layout="responsive" class="shadow"></amp-img>
                              </div>
                          </amp-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Allgemeine Info</h3>
                             <ul>
                               <li>Sie müssen in der INSTAR Cloud lediglich schauen, das Sie genügend Speicherplatz zur Verfügung haben. Wie viele Kameras Sie in Ihrem Cloud Account hinzufügen, ist und egal. So können Sie eine 10GB Einheit z.B. auch problemlos mit 4 Kameras verwenden. Dies ist natürlich davon abhängig wie viele Alarme stattfinden und wie lange Sie die Aufnahmen speichern möchten.</li><br>
                               <li>Die Größe Ihrer Alarmvideos ist von einigen Faktoren abhängig. Um die Größe jedoch gering zu halten ohne größere Qualitätsverluste, empfehlen wir Ihnen in Ihrer Kamera direkt (über die Weboberfläche Ihrer Kamera) folgende Werte unter „Multimedia – Video“ einzustellen:</li><br>
                               <b>Kanal:</b> 1 <br>
                               <b>Bitrate:</b> 1024 <br>
                               <b>Frames:</b> 25 <br>
                               <b>Variable Bitrate:</b><br>
                               <b>Qualität:</b> 5 (keine Sorge, Sie werden den Unterschied an sich nicht sehen) <br>
                               <b>Keyframe:</b> 40 <br>
                             </ul>
                        </div>

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
