<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/FTP_Server_Setup">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

            <div class="wrap">
                <div class="container main">

                  <% include ../_partials/content/_bluenav-general.ejs %>

                    <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>FTP Server Setup</h1>
                        <h2>Setting up a FTP server on your Windows Computer</h2>
                        <p>
                          Your camera can upload pictures during an alarm event or you can also upload pictures in a defined time period to any kind of FTP server. Besides online offers for FTP servers or Routers which can function as a FTP server you can also set up your local computer or server to function as a FTP server in order to receive pictures from the camera.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="card-container">
                      <div class="onecard">
                        <amp-youtube data-videoid="xnzk7EidhxU" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="margin">
                        <h3>Download FileZilla Server</h3>
                        <p>
                          All you need to do is get a FTP tool like FileZilla:
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Filezilla_install_download"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Filezilla_install_download.png" width="759" height="429" layout="responsive" class="shadow">
                      </amp-img>
                      <p>
                        Enter the <a href="http://filezilla-project.org/">Filezilla website</a> (1) and download the server edition of FileZilla (2).
                      </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Install the Server</h3>
                        <p>
                          If you run into any troubles during the installation process, please follow our installation guide <a href="/Motion_Detection/FTP_Server_Setup/Install_FileZilla_Server">HERE</a>
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Start the Server</h3>
                        <p>
                          After installation please start the FTP server and connect to your localhost (127.0.0.1) server.
                        </p>
                        <amp-img
                            on="tap:Filezilla_install6"
                            role="button"
                            tabindex="0"
                            src="/images/Motion_Detection/Filezilla_install6.png" width="259" height="207" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Add a FTP User</h3>
                        <p>
                          Now please set up a user for your cameras account. By clicking Edit and then Users you can access the user settings.
                        </p>
                        <amp-img
                            on="tap:Filezilla_install8"
                            role="button"
                            tabindex="0"
                            src="/images/Motion_Detection/Filezilla_install8.png" width="514" height="536" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          In General (1) please choose Add (2) and type in a user name for your cameras account (3). After that you can choose a password for this account (4) and click OK to save the settings.
                        </p>
                        <amp-img
                            on="tap:Filezilla_install9"
                            role="button"
                            tabindex="0"
                            src="/images/Motion_Detection/Filezilla_install9.png" width="654" height="546" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Add a local Directory</h3>
                        <p>
                          Now we have to select the folder in which the camera will save the pictures. Please choose Shared folders and then Add to select the folder in which the pictures will be saved on your local hard drive. After selection the folder please mark the folder and set it as the Home Directory by clicking set as home dir. Please also make sure that under "Files" the Read and Write access rights are selected. Sometimes the default setting might be only Read. This would cause that you get a error message if you try to write any files...
                        </p>
                        <amp-img
                            on="tap:Filezilla_install10"
                            role="button"
                            tabindex="0"
                            src="/images/Motion_Detection/Filezilla_install10.png" width="657" height="549" layout="responsive" class="shadow">
                        </amp-img>
                      <p>
                        Set a upload directory for your camera.
                      </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin"><amp-img
                        on="tap:Filezilla_install11"
                        role="button"
                        tabindex="0"
                        src="/images/Motion_Detection/Filezilla_install11.png" width="656" height="539" layout="responsive" class="shadow">
                    </amp-img>
                      <p>
                        And make it the Home Directory.
                      </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->
                
                <amp-image-lightbox id="Filezilla_install_download" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Filezilla_install6" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Filezilla_install8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Filezilla_install9" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Filezilla_install10" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Filezilla_install11" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
