<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Setup">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Motion Detection</h1>
                                    <h3>Setup the Motion Detection Function</h3>
                                    <p class="intro">
                                      The motion detection of the camera works in a way that the camera is comparing every picture with each other. So that camera takes the last picture and compares it with the new one. This will also have the effect that the camera will notice a change of brightness in the picture in the same way as it notices a person or object moving through the picture. With the sensitivity you can set how many percentage of a picture has to change until the camera will cause an alarm.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                      <table>
                        <tr>
                          <td>
                            <a href="/Motion_Detection/Setup/"><button type="button" class="btn">1080p Series</button></a>
                          </td>
                          <td>
                            <button type="button" disabled class="btn btnDisabled">720p Series</button>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Setup/VGA_Series/"><button type="button" class="btn">VGA Series</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>720p Camera Series</h2>
                        <p>To activate the motion detection, open the web interface of your INSTAR HD IP camera and click on the menu <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Alarm / Areas</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Bewegungserkennung_Alarm_HD_01_EN.jpg" width="700" height="398" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>You can select which area of the video the motion detection should be armed in the <a href="/Web_User_Interface/HD_Series/Alarm/Areas/">Areas Overlay</a>. Therefore please select the Area on the right side for which you want to do the settings. Next please click <strong>Active</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Bewegungserkennung_Alarm_HD_02_EN.jpg" width="700" height="365" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>You will see that the area which you have set to <strong>Active</strong> is now showing a colour. Also on top the number for the area activated will light up in red to symbolize that this area is active. By simply clicking into the picture and dragging your mouse you can choose the area for motion detection. The motion detection will be armed in the area you have selected. In case you want to select the whole area you can click "Full Area" on the right side in order to activate the motion detection over the whole picture. Now you can use the slide bar to set the sensitivity for the motion.<br/><br/>
                        <strong>1 = Insensitive</strong> (almost no motion gets detected) <strong>100 = Very Sensitive</strong> (almost every motion will be recorded)<br/><br/>
                        We recommend you so leave the motion sensitivity at 50 and slowly test which setting will deliver the best result.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Bewegungserkennung_Alarm_HD_03_EN.jpg" width="700" height="365" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Repeat the above steps in case you want to set more then one area. Each area will be given a different colour:</p>
                        <ul>
                          <li><strong>Area 1</strong> = red</li>
                          <li><strong>Area 2</strong> = blue</li>
                          <li><strong>Area 3</strong> = green</li>
                          <li><strong>Area 4</strong> = yellow</li>
                        </ul>
                        <p><strong>Submit</strong> the settings in order to save all settings in the camera. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Bewegungserkennung_Alarm_HD_04_EN.jpg" width="700" height="365" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>You will need to select an Action so that the camera knows what it should do in case of an alarm. Please open the menu <a href="/Web_User_Interface/HD_Series/Alarm/Actions/">Alarm / Actions</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/Bewegungserkennung_Alarm_HD_05_EN.jpg" width="700" height="399" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can now set if the camera should sent you an email with snapshots in the attachment or if the pictures should be saved to an SD card or an FTP server. In order to save pictures or videos to an SD card please make sure an SD card in inserted in your camera.<br/><br/>Finally please <strong>Submit</strong> the settings. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/Bewegungserkennung_Alarm_HD_06_EN.jpg" width="470" height="578" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="primarycard">
                        <p><u><strong>Attention</strong>:</u> If you have problems by receiving to many alarms you can solve that by changing your settings. Always set the sensitivity so that the motion you want to detect is detected by the camera - simply test it by walking in front of your camera. If this does not trigger an alert, you can either increase the sensitivity of the detection, or decrease the size of the detection area - the smaller the area, the higher, procentually, is the  change of pixels inside the area by the event. On the other hand, if you have to increase the detection area, you also have to increase the sensitivity of the detection.<br/><br/>
                        To avoid unwanted motion detection please avoid covering areas like the sky with moving clouds, busy streets in the background or big reflecting areas. To find the right camera position you can change the viewing angle a little bit or mount the camera on a different area which suits better to protects you home.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
