<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/SD_Card_Access_DeepVacuum">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-md.ejs %>

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Access the SD Card with Third-party Software</h1>
                        <h2>DeepVacuum (MacOSX)</h2>
                        <p>
                          DeepVacuum for MacOSX is a free wget based client that you can use to access your cameras SD card. We recommend you to download the latest version from <a href="http://www.hexcat.com/deepvacuum/" target="_blank">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/DeepVacuum_Step1_EN.png" width="506" height="401" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 1</h3>
                        <p>
                          Type in you cameras IP address eg. 192.168.1.17 and add the sub-directory sd - http://192.168.1.17/sd. Add your username and password for the camera and choose All Movies From This Site to download all recorded videos.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/DeepVacuum_Step2_EN.png" width="506" height="399" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                          Type in you cameras IP address eg. 192.168.1.17 and add the sub-directory sd - http://192.168.1.17/sd. Add your username and password for the camera and choose Whole Site to download everything (videos and snapshots).
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
