<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/SD_Card_Access_SiteSucker">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-md.ejs %>

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Access the SD Card with Third-party Software</h1>
                        <h2>SiteSucker (MacOSX)</h2>
                        <p>
                          SiteSucker for MacOSX is a wget based client that you can use to access your cameras SD card. We recommend you to download the program from here from <a href="http://www.sitesucker.us/mac/mac.html" target="_blank">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/SiteSucker_MacOS_Step1_EN.png" width="652" height="305" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 1</h3>
                        <p>
                          Type in you cameras IP address eg. 192.168.1.17 and add the sub-directory sd - http://192.168.1.17/sd. Then click on Download.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/SiteSucker_MacOS_Step2_EN.png" width="653" height="306" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                          Type in your user name and password for the camera.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/SiteSucker_MacOS_Step3_EN.png" width="652" height="303" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>
                          To access your camera from the internet type in you cameras DDNS address eg. abcd12.ddns-instar.de:8081 and add the sub-directory sd - http://abcd12.ddns-instar.de:8081/sd.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
