<section class="footer">
    <div class="container">
        <div class="row">
            <div class="pull-xs-right">
                <p class="text-muted"><small><i class="fa fa-copyright"></i> 2016 INSTAR Deutschland GmbH</small></p>
            </div>
        </div> <!-- /row -->
    </div> <!-- /container -->

    <script type="text/javascript">
      Pace.on("done", function() {
        $('#wrapper').fadeIn(1500);
      });
    </script>

</section>
