<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#CollapsingNav">
        &#9776;
    </button>
    <!-- Logo -->
    <a class="hidden-lg-up pull-right" href="/">
        <img src="http://wiki.instar.de/instar_245x77.png" class="img-fluid glow" style="max-height: 30px;" alt="INSTAR Deutschland GmbH"/>
    </a>
    <div class="collapse navbar-toggleable-md" id="CollapsingNav">
        <a class="navbar-brand  hidden-md-down" href="/">
            <img src="http://wiki.instar.de/instar_245x77.png" class="img-fluid glow" style="max-height: 30px;" alt="INSTAR Deutschland GmbH"/>
        </a>
        <!-- Inline List Navigation -->
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item" style="padding-left: 15px;">
                <a class="nav-link" href="/Products">Products</a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Quick_Installation">Quickinstallation</a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Internet_Access">Internet Access</a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Motion_Detection">Motion Detection</a>
            </li>
        </ul>
        <!-- Button Navigation for Mobile -->
        <div class="container hidden-md-up mt">
            <a href="/">
                <button class="btn btn-primary btn-lg btn-block" type="button">Home</button>
            </a>
            <br/>
            <a href="/Products">
                <button class="btn btn-primary btn-lg btn-block" type="button">Products</button>
            </a>
            <br/>
            <a href="/Quick_Installation">
                <button class="btn btn-primary btn-lg btn-block" type="button">Quick-Installation</button>
            </a>
            <br/>
            <a href="/Internet_Access">
                <button class="btn btn-primary btn-lg btn-block" type="button">Internet Access</button>
            </a>
            <br/>
            <a href="/Motion_Detection">
                <button class="btn btn-primary btn-lg btn-block" type="button">Motion Detection</button>
            </a>
            <br/>
        </div>
        <!-- Search -->
        <form class="form-inline pull-xs-right hidden-md-down">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-primary-outline" type="submit">Search</button>
        </form>
    </div>
</nav>
