<div class="container">
    <div class="row">
        <div class="col-md-5 centered mb">
            <a href="#"><img src="/images/macbook.png" alt="The Web User Interface" class="img-fluid"></a>
        </div>

        <a href="#">
            <div class="col-xs-12 col-md-7 centered">
                <h3 class="subheader">The Web User Interface</h3>
                <p>Control your camera from your default web browser. Click here to find a detailed description of your HD cameras web user interface.</p>
            </div>
        </a>
    </div>
</div>
