<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ######################### Breadcrumbs ############################ -->

        <div class="container">
          <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
            <li class="breadcrumb-item"><a href="/Products/">Products</a></li>
            <li class="breadcrumb-item"><a href="/Products/Outdoor_Cameras/">Outdoor Cameras</a></li>
            <li class="breadcrumb-item active">IN-2908</li>
            <li class="breadcrumb-item"><a href="/Products/Outdoor_Cameras/IN-2908/Technical_Specifications">Technical Specifications</a></li>
            <li class="breadcrumb-item"><a href="http://www.instar.de/downloads/outdoor/dl_2908">Downloads</a></li>
          </ol>
        </div>

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-12 mb">
                    <h1>IN-2908</h1>
                    <h3 class="text-muted">Product Overview</h3>
                </div>

                <div class="col-12">
                  <img src="/images/IN-2908_Overview_width1650.png" alt="IN-2908 Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-12 mb">
                  <p class="text-justify"><strong>1.)</strong> High quality weatherproof aluminium housing, <strong>2.)</strong> Standard 4-9mm infrared zoom lense, <strong>3.)</strong>  Infrared LED´s for night vision, <strong>4.)</strong> Photodiode for twilight switch, <strong>5.)</strong> UV resistant Polycarbonate wallmount, <strong>6.)</strong> Wifi antenna, <strong>7.)</strong> Audio Out for external speakers, <strong>8.)</strong> Reset button, <strong>9.)</strong> Alarm In/Out 10.)</strong> Audio In for external Microphones, <strong>11.)</strong> DC power supply connector, <strong>12.)</strong> RJ45 ethernet connector</p>
                </div>

                <div class="col-12">
                  <p class="text-justify">The IN-2908 is the first in the 290X-series to feature a remotely controllable focal length. Many more Upgrades makes this camera a worthy successor of the IN-2907. Among those upgrades you'll find an IR cut filter, an improved sensor and higher night vision capabilities. It also features Audio I/O for the addition of optional speakers or microphones (e.g. IN-Mikro 380) to use the camera as a 2-way communication system. The IN-2908 is the perfect surveillance camera for businesses and private households. The casing out of high quality aluminium guarantees maximum durability and is weather proof for outdoor use. Thanks to it's 3x optical zoom lense you will be able to enlarge as if you were taking the camera closer to the monitored scenery. Unlike digital zoom this optical zoom lens delivers crystal clear pictures.</p>
                  <p class="text-justify">The camera model can easily be connected to your network by using its 54MBit (802.11b/g) Wifi module or through the 100MBit network interface. This will ensure a fast stream of the cameras video.</p>
                  <p class="text-justify">For surveillance purposes, the IN-2908 is ready for implementation to your existing system. Home Automation Systems as well as NAS Systems like Synology or Qnap are have integrated our cameras into their products. You will find profiles to the corresponding cameras within the systems software. But also as a stand-alone device it offers you a number of alarming features like Email Notification or compatibility with signalling devices.</p>
                </div>
            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-2908</h4>
                  <h6 class="card-subtitle text-muted">Outdoor IP Camera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/INSTAR_IN-2908_Infobox.png" alt="IN-2908" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Products/Outdoor_Cameras/IN-2908/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Specifications</a>
                    <a href="/Products/Outdoor_Cameras/IN-2908/Downloads" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                  <a href="http://www.instar.de/outdoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Compare</a>
                  <a href="http://www.instar.de/ip-aussenkameras/wlan-netzwerkkamera-in-2908-serie.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  Go to Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Nightvision with 30 Infrared LED´s @ 850nm (barely visible for the human eye) for distances up to 12 - 20m</li>
                <li>Very compact high quality IP65 weatherproof aluminium housing</li>
                <li>Alarm I/O for external sensors (e.g. <a href="/Products/IN-Motion">motion</a> or smoke detectors) and receivers (e.g. house automations)</li>
              </ul>

              <h3>Network</h3>

              <ul>
                <li>RJ-45 Ethernet port for an easy integration into your 100Mbit home network</li>
                <li>Compatible with <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g up to 54Mbit networks with WEP, WPA and WPA2 security</li>
                <li>DHCP and UPnP support for an automatic network integration</li>
                <li>Integrated individual <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") address</a> to access your camera through the Internet</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> and <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Web user interface allows an easy configuration and canera control through your default web browser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Manage all your cameras from your PC with the integrated multi view for up to 9 cameras (only IE)</li>
                <li>Software-based motion and audio detection and email notification with attached snapshots</li>
                <li>Record videos directly on your PC (only ActiveX)</li>
              </ul>
            </div>

      </div>
          <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
