<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ######################### Breadcrumbs ############################ -->

        <div class="container">
          <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
            <li class="breadcrumb-item"><a href="/Products/">Products</a></li>
            <li class="breadcrumb-item"><a href="/Products/Indoor_Cameras/">Indoor Cameras</a></li>
            <li class="breadcrumb-item"><a href="/Products/Indoor_Cameras/IN-6012_HD/">IN-6012 HD</a></li>
            <li class="breadcrumb-item"><a href="/Products/Indoor_Cameras/IN-6012_HD/Usermanual">Usermanual</a></li>
            <li class="breadcrumb-item active">Technical Specifications</li>
            <li class="breadcrumb-item"><a href="http://www.instar.de/downloads/indoor/dl_6012hd">Downloads</a></li>
          </ol>
        </div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

              <!-- ###################################### Table ######################################## -->


        <div class="mb offset-md-1">
          <h2 style="margin-bottom: 30px;">IN-6012 HD Technical Specifications</h2>

            <table class="table table-responsive table-hover">
              <thead>
                  <tr>
                    <th><strong>Camera Model</strong></th>
                    <th><strong>INSTAR IN-6012 HD P&amp;T Indoor - Colour / IR</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Casing</th>
                    <td>ABS (White, Black)</td>
                  </tr>
                  <tr>
                    <th scope="row">Image Sensor</th>
                    <td><a href="http://www.ovt.com/products/sensor.php?id=110%20OV10633">OV10633</a> 720p 1/3" CMOS <em>Wide Dynamic Range</em></td>
                  </tr>
                  <tr>
                    <th scope="row">Supported Resolutions</th>
                    <td>1280 x 720, 640 x 352, 320 x 176</td>
                  </tr>
                  <tr>
                    <th scope="row">Video Compression</th>
                    <td>h.264, MJPEG, JPG</td>
                  </tr>
                  <tr>
                    <th scope="row">h.264 Bitrate</th>
                    <td>90 kbps - 6.144 kbps</td>
                  </tr>
                  <tr>
                    <th scope="row">Framerate</th>
                    <td>up to 25fps</td>
                  </tr>
                  <tr>
                    <th scope="row">Sensor Sensitivity</th>
                    <td>3650 mV/lux*s</td>
                  </tr>
                  <tr>
                    <th scope="row">Dynamic Range</th>
                    <td>115 dB</td>
                  </tr>
                  <tr>
                    <th scope="row">Signal/Noise</th>
                    <td>39 dB</td>
                  </tr>
                  <tr>
                      <th scope="row">Image Area</th>
                      <td>5510.4 x 3418.8 µm</td>
                  </tr>
                  <tr>
                    <th scope="row">Day / Night Switch</th>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <th scope="row">Min. Illumination (Colour)</th>
                    <td>0.05 Lux @ f/2.0</td>
                  </tr>
                  <tr>
                    <th scope="row">Min. Illumination (IR)</th>
                    <td>0 Lux @ f/2.0</td>
                  </tr>
                  <tr>
                    <th scope="row"># of Parallel Streams</th>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th scope="row">Whitebalance</th>
                    <td>Automatic</td>
                  </tr>
                  <tr>
                    <th scope="row">Electronic Shutter</th>
                    <td>Automatic</td>
                  </tr>
                  <tr>
                    <th scope="row">Flip / Mirror Video</th>
                    <td>Yes / Yes</td>
                  </tr>
                  <tr>
                    <th scope="row">Video Overlay</th>
                    <td>Date, Time, Camera Name</td>
                  </tr>
                  <tr>
                    <th scope="row">Video Parameter</th>
                    <td>Brightness, Contrast, Saturation</td>
                  </tr>
                  <tr>
                    <th scope="row">Lense</th>
                    <td>8 mm (Manual Focus) f/1.2</td>
                  </tr>
                  <tr>
                    <th scope="row">Field of View</th>
                    <td>45° dia.</td>
                  </tr>
                  <tr>
                    <th scope="row">Infrared LEDs</th>
                    <td>10 @ 850 nm</td>
                  </tr>
                  <tr>
                    <th scope="row">Effective Range (IR)</th>
                    <td>5-10 m</td>
                  </tr>
                  <tr>
                    <th scope="row">intgr. IRcut Filter</th>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <th scope="row">Alarm I/O</th>
                    <td>Yes (potential-free alarm-out / max. 30VDC/125VAC @ 1A) &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- Button trigger modal -->
                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal">
                          Spec Sheet
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Spec Sheet</h4>
                              </div>
                              <div class="modal-body">
                                  <img src="/images/HD_Camera_Alarm_Relay.png">Specification Sheet Alarm Relay (HD Cameras)</object>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Optical Zoom</th>
                    <td>No</td>
                  </tr>
                  <tr>
                    <th scope="row">Digital Zoom</th>
                    <td>3 x (only ActiveX)</td>
                  </tr>
                  <tr>
                    <th scope="row">SD Card</th>
                    <td>Removable SDHC card up to 32GB (4GB included)</td>
                  </tr>
                  <tr>
                    <th scope="row">Audio</th>
                    <td>Integrated Loudspeaker / Audio Out (3.5mm Headphone Jack)</td>
                  </tr>
                  <tr>
                    <th scope="row">Microphone</th>
                    <td>Integrated Microphone / Audio In for external Microphones</td>
                  </tr>
                  <tr>
                    <th scope="row">Alert Notification</th>
                    <td>Email/FTP/HTTP/Alarm-out</td>
                  </tr>
                  <tr>
                    <th scope="row">Supported Browser</th>
                    <td>Chrome, Safari, Firefox, Internet Explorer</td>
                  </tr>
                  <tr>
                    <th scope="row">Supported Windows Software</th>
                    <td>InstarVision, Sighthound, WebcamXP, iSpy, VLC Player, etc.</td>
                  </tr>
                  <tr>
                    <th scope="row">Supported MacOSX Software</th>
                    <td>Sighthound, SecuritySpy, VLC Player, etc.</td>
                  </tr>
                  <tr>
                    <th scope="row">Supported Android Apps</th>
                    <td>InstarVision, IP Cam Viewer, Tiny Cam Monitor etc.</td>
                  </tr>
                  <tr>
                    <th scope="row">Supported iOS Apps</th>
                    <td>InstarVision, LiveCams</td>
                  </tr>
                  <tr>
                    <th scope="row">Supported Windows Phone Apps</th>
                    <td>InstarVision</td>
                  </tr>
                  <tr>
                    <th scope="row">Network Interface</th>
                    <td>10Base-T/100Base-TX Ethernet Port / WLAN IEEE 802.11b/g/n (only non-PoE Version) / PoE IEEE 802.3af (only non-WiFi Version)</td>
                  </tr>
                  <tr>
                    <th scope="row">Network Protocols</th>
                    <td>TCP/IP, DHCP, PPPoE, ARP, FTP, SMTP, DNS, NTP, UPnP, HTTP, TCP, UDP</td>
                  </tr>
                  <tr>
                    <th scope="row">Encryption</th>
                    <td>WEP (64/128bit), WPA/WPA2-PSK (TKIP, AES, CCMP)</td>
                  </tr>
                  <tr>
                    <th scope="row">Wifi Frequency Band</th>
                    <td>2.4GHz 802.11b/g/n (only non-PoE Version)</td>
                  </tr>
                  <tr>
                    <th scope="row">Wifi Antenna</th>
                    <td>5 dBi WLAN <a href="/Products/SMA_RP-SMA_Antenna_Connector">SMA Antenna</a> (only non-PoE Version)</td>
                  </tr>
                  <tr>
                    <th scope="row">Access Protection</th>
                    <td>Username/Password - 3 Level Authorisation</td>
                  </tr>
                  <tr>
                    <th scope="row">Power Supply</th>
                    <td>110-240V ac @ 50-60Hz to 5V dc and 1500mA</td>
                  </tr>
                  <tr>
                    <th scope="row">Power Plug</th>
                    <td>1.35mm In / 3.5mm Out</td>
                  </tr>
                  <tr>
                    <th scope="row">Power Consumption</th>
                    <td>Max. 8.0 W</td>
                  </tr>
                  <tr>
                    <th scope="row">Integr. DDNS Service</th>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <th scope="row">Pan &amp; Tilt</th>
                    <td>350° / 100°</td>
                  </tr>
                  <tr>
                    <th scope="row">Measurements in [cm]</th>
                    <td>12.4 / 11 / 11</td>
                  </tr>
                  <tr>
                    <th scope="row">Weight</th>
                    <td>368 g</td>
                  </tr>
                  <tr>
                    <th scope="row">Operating Temperature</th>
                    <td>-5°C - 55°C</td>
                  </tr>
                  <tr>
                    <th scope="row">Certification</th>
                    <td>CE, FCC, RoHS</td>
                  </tr>
                </tbody>
            </table>
              </div>


            </div>
            <!-- /row -->

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

    </body>

</html>
