<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-LAN">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-p.ejs %>

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>INSTAR IN-LAN 500</h1>
                                <amp-youtube data-videoid="q3yBixX9UmI" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                                <br>
                                <h2>Powerline Network Communication</h2>
                                <h4>What is the difference between IN-LAN 500 &amp; IN-LAN 500p?</h4>
                                <p>
                                  The <strong>P</strong> in IN-LAN 500p stands for pass-through. Unlike the base model the 500p will block your power outlet but pass through the existing one. Both models offer the same advantages otherwise:
                                </p>
                                <ul>
                                  <li>Use existing power lines to implement a network with IN-LAN.</li>
                                  <li>Very simple plug&amp;play technology. Just plug into the wall socket and you're done.</li>
                                  <li>Ultra-fast data transfer up to 500Mbps.</li>
                                  <li>Expand your network with for e.g. IP cameras without laying network cables.</li>
                                  <li>A very detailed instruction will make the installation very easy.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=300 width=300 layout=responsive src="/images/In-lan_500.jpg"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-LAN 500 White</h3>
                                    <p>The IN-LAN 500 Powerline Adapter - Create a Network Connection over your Power Grid.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=300 width=300 layout=responsive src="/images/In-lan_500p_white.jpg"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-LAN 500p White</h3>
                                    <p>The IN-LAN 500p Powerline Pass-Through Adapter - Create a Network Connection over your Power Grid.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=300 width=300 layout=responsive src="/images/In-lan_500p_black.jpg"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-LAN 500p Black</h3>
                                    <p>The IN-LAN 500p Powerline Pass-Through Adapter - Starter Kits with up to 4 Adapter.</p>
                                </div>
                            </div>
                            <div class="twocard">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="margin">
                            <h2>IN-LAN Powerline Communication</h2>
                            <h3>What is IN-LAN?</h3>
                            <p>IN-LAN is an intelligent and secure technology that lets you set up a home network easily via your household power grid - without the need of complex and expensive dedicated cabling. IN-LAN communication now attains speeds you would expect from other LAN technologies. IN-LAN uses the household power grid to transfer data between computers equipped with suitable adapters and other network components. As a result, any power outlet can be used as a network access point. State-of-the-art technology ensures that the power and data networks do not interfere with one another.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox1"
                              role="button"
                              tabindex="0"
                              src="/images/IN-LAN500p.jpg" width="600" height="399" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <p>The IN-LAN 500p passes through the power from the used outlet - use the 500p if you don't have enough outlets and don't want one to be blocked by the powering adapter.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>What does INSTAR IN-LAN offer?</h3>
                            <p>IN-LAN offers a PLC transfer rate of up to 500Mbps (effective rate 65Mbps TCP / 90 Mbps UDP) with a range of up to 150m which makes it ideal for applications with high bandwidth requirements, such as IP cameras, HD video streaming, VoIP and fast Internet access. Connecting your IN-LAN adapter to an electrical outlet transforms the home-based electrical system into a fast network with high data throughput with maximum data security using the powerful 128-bit AES encryption. Simply press the Pair Button on the IN-LAN adapter or use the Atheros configuration wizard to set up custom encryption for your network. Whether in the office or at home - connect all your LAN devices without the need of an additional LAN cable.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>How to connect your IN-LAN adaptor to the network ?</h3>
                            <p>Simply plug one IN-LAN adaptor into a power socket next to your broadband router and connect the adaptor to your router via the supplied Ethernet cable. Plug the second IN-LAN unit into an outlet - for example - close to your INSTAR camera and connect the camera to your network using the cameras Ethernet cable.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox2"
                              role="button"
                              tabindex="0"
                              src="/images/IN-LAN500-Installation.png" width="700" height="284" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h2>Powerline Networks</h2>
                            <h3>How to build a public network?</h3>
                            <p>The data communication via the household power grid is encrypted to ensure your privacy. You can activate the protected communication between two adaptors (once they are both connected to an outlet) by simply pushing the Pairing Button next to the Ethernet port.<br><br>
                            Press the Pairing Button of one adaptor for more than 10 seconds to restart it. Then press each Pairing Button for 3-8 seconds to pair both adaptors. That’s it - the IN-LAN Indicator lights up and the IN-LAN adaptor network is now protected from unauthorized access.<br><br>
                            If you have already secured existing IN-LAN adaptor using the Pairing Button, use the same method to integrate further adaptors. To do so, press the Pairing Button of one of your network’s existing adaptors (3-8 seconds), then press the Pairing Button of your new IN-LAN adaptor (3-8 seconds). That’s it - the new adaptor is now integrated in your network. To integrate additional adaptors into your network, please repeat the steps above.<br><br>
                            To exclude one IN-LAN adaptor from an existing network, press its Pairing Button for more than 10 seconds. The device will be assigned with a new random encryption key and will no longer be able to access the network. To integrate the adaptor into a different IN-LAN adaptor network, follow the steps described above.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>How to build a private network?</h3>
                            <p><strong>&#60; 1 &#62;</strong><br>Please plug in one IN-LAN Adapter to the power socket next to your router and connect it with the supplied network cable with a free Ethernet port. If you install and open the Power Packet Utility (which is included on the CD of your IN-LAN adapter) you should be able to see the IN-LAN adapter as a Local Device(s) together with the MAC address of the adapter. Please choose the adapter and select the tab <u>Privacy</u>.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox3"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_01.png" width="615" height="450" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <p><strong>&#60; 2 &#62;</strong><br>In <u>Private Network Name</u> you can now see the network name / encryption with which the adapters are communicating between each other.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox4"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_02.png" width="616" height="452" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <p><strong>&#60; 3 &#62;</strong><br>Replace the <u>Private Network Name</u> with a password you want to use. Please notice that this password will be the one, with which the adapters are communicating. If you buy a new adapter, you need to set the same password in order to integrate it into the existing IN-LAN network. Next please click <u>Set Local Device Only</u> to submit the password and sent it to the IN-LAN adapter.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox5"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_03.png" width="613" height="450" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <p><strong>&#60; 4 &#62;</strong><br>In the upcoming window please click OK. This message tells you that the password was set successfully.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox6"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_04.png" width="614" height="451" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <p><strong>&#60; 5 &#62;</strong><br>Repeat this step for all existing IN-LAN Adapters. This way all adapters get set to the same private network in order to communicate with each other. After you have set the second adapter, as shown above, you can plug it in to a power socket near the device you want to connect with your network. The IN-LAN adapter should then be shown in the list together with the signal strength. (see below)</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin dangercard">
                            <p><u><strong>Important</strong></u>: We recommend to always test the connection between the adapters by connecting them to power outlets near each other. If the connection is ok you can connect one adapter next to the device you want to use it. This way you can make sure that the adapters are working correctly. If the adapter does not work at the final installation place, either the quality of the power line is not ok or the power line might have a lot of noise which disturbs the signal of the IN-LAN adapters - e.g fuse boxes or heavy machinery connected to a power outlet in the same grid can make it impossible to establish a powering connection.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox7"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_05.png" width="615" height="451" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>How to change the password for a private network</h3>
                            <p><strong>&#60; 1 &#62;</strong><br>This step shows you how to change the encryption for all adapters at the same time in case you want to change it for your existing network. Therefore please select one of the connected adapters and select <em>Enter Password</em>. Type in the hardware key that you can find on your IN-LAN adapter or on the package of each adapter. It is important that you check if the MAC address is matching the adapters address. After typing in the key (<em>case sensitive</em>) you can submit it. If everything is correct it should accept the new password.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox8"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_06.png" width="613" height="709" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <p><strong>&#60; 2 &#62;</strong><br>Select OK and the hardware key will be sent.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox9"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_07.png" width="613" height="713" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <p><strong>&#60; 3 &#62;</strong><br>You can now go to <u>Privacy</u> to change the encryption for your adapters. Now fill in the new password and press <u>Set All Devices</u>. By doing so all adapters will be set to the new encryption.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox10"
                              role="button"
                              tabindex="0"
                              src="/images/IN-Lan_Power_Packet_Utility_08.png" width="615" height="452" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->

                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
