<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="clearfix mb"></div>

            <!-- --------------------------------- How does a dual motion detector work? -------------------------------------------- -->

          <div class="wrap mt">

            <section class="container mb">
                <div class="row">

                    <div class="col-12">
                        <h2 class="hidden-sm-down">How does a dual motion detector work?</h2>
                        <h3 class="hidden-sm-down text-muted">What does PIR stand for?</h3>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <h3 class="hidden-xs-up">What is PIR?</h3>

                        <p class="text-justify">PIR stands for Passive Infrared or Pyroelectric Infrared. PIR sensors can be sensors can be defined as detectors of warm-bodied targets in motion. A stationary target cannot be detected. To detect a moving target, the target must have a surface temperature that is substantially different than the surrounding ambient temperature. Although the usual targets of a PIR detector are warm-bodied (mammals, birds), the PIR sensor will also detect a moving target that has a surface temperature that is significantly lower than the ambient temperature. As long as the target is large enough, and its surface temperature is detectably different than the ambient (higher or lower) - and the target is moving - it can be detected by a PIR sensor.</p>

                        <h3>How does the Microwave part work?</h3>

                        <p class="text-justify">The Microwave sensor detects motion through the principle of Doppler radar, it is similar to a radar speed gun. It sends out microwave pulses and measures the reflection off a moving objects. They cover a larger area than infrared sensors, but are more vulnerable to electrical interference. Microwave motion detectors are different than PIR motion detectors in that they are active devices. They transmit energy and look for a frequency (Doppler) shift due to motion in the covered area. The microwave motion detector sends out high radio frequency waves and then detect the level of energy reflected back to the device. If the radio frequency wave hits a moving object, the frequency changes and the motion detector is activated. Microwave motion detectors by themselves would cause frequent false alarms as microwave energy penetrates many building material.</p>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                            <img class="card-img-top img-fluid" src="/images/Products/IN-Motion500_01.png" alt="IN-Motion 500">
                            <div class="card-block">
                              <p class="card-text">The IN-Motion 500 Dual PIR &amp; Microwave Motion Detector for IP Cameras.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

          </div>
          <!-- /Wrap -->

            <!-- -------------------------------------------------- LEDs --------------------------------------------------------- -->

          <div class="wrap mt">

            <section class="container" style="margin-bottom: 40px;">

                <div class="row">

                    <div class="col-sm-12 col-md-8">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h4>LED Alarm Indicator</h4>
                            </div>
                            <div class="panel-body">
                                <p>The red LED flashes during the initialization. Please wait for 15min to allow the sensor to become operative.</p>
                            </div>

                            <!-- Table -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Indicator</th>
                                            <th>PIR Detection</th>
                                            <th>Microwave Detection</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>RED LED Constant On</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Blue LED Flash</td>
                                            <td>Yes</td>
                                            <td>No</td>
                                        </tr>
                                        <tr>
                                            <td>Blue LED Constant On</td>
                                            <td>No</td>
                                            <td>Yes</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <p class="text-justify">
                            <span class="lead">The Sensor should be tested at least once a year!</span>
                            Enable the status LEDs (if deactivated), remove power and re-instate power after 10s. Wait for 15min for the sensor to initialize. Now walk across the monitored area (within the sensor´s optical field-of-view). With the sensitivity set to STANDARD, the red alarm LED should turn on after about three to five steps. Each time the LED turns on, wait for it to turn off again. Then wait for 15s before continuing the walk-test. When there is no motion in the monitored area, the LED should remain off.</p>

                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                            <img class="card-img-top img-fluid" src="/images/Products/IN-Motion500_02.png" alt="IN-Motion 500">
                            <div class="card-block">
                              <p class="card-text">The IN-Motion 500 Dual PIR &amp; Microwave Motion Detector for IP Cameras.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

          </div>
          <!-- /Wrap -->

            <!-- -------------------------------------------------- PIR + MW ------------------------------------------------------ -->

          <div class="wrap mt">

            <section class="container" style="margin-bottom: 40px;">

                <div class="row">

                    <div class="col-sm-12">
                        <h2>PIR Know-how &amp; Consideration</h2>
                    </div>
                    <div class="col-sm-12">
                        <h3>What is PIR &amp; Microwave Motion Detector?</h3>
                    </div>

                    <div class="col-sm-12">
                        <h4>PIR Sensor</h4>
                        <img style="float: right; margin: 0px 0px 15px 15px;" src="/images/Products/IN-Motion500_18.jpg" class="img-fluid shadow" alt="IN-Motion 500 :: PIR Sensor"/>
                        <p class="text-justify">PIR stands for Passive Infrared or Pyroelectric Infrared. PIR sensors can be sensors can be defined as detectors of warm-bodied targets in motion. A stationary target cannot be detected. To detect a moving target, the target must have a surface temperature that is substantially different than the surrounding ambient temperature. Although the usual targets of a PIR detector are warm-bodied (mammals, birds), the PIR sensor will also detect a moving target that has a surface temperature that is significantly lower than the ambient temperature. As long as the target is large enough, and its surface temperature is detectably different than the ambient (higher or lower) - and the target is moving - it can be detected by a PIR sensor.</p>
                    </div>

                    <div class="col-sm-12">
                        <h4>Microwave Sensor</h4>
                        <img style="float: left; margin: 0px 15px 15px 0px;" src="/images/Products/IN-Motion500_19.jpg" class="img-fluid shadow" alt="IN-Motion 500 :: MW Sensor"/>
                        <p class="text-justify">The Microwave sensor detects motion through the principle of Doppler radar, it is similar to a radar speed gun. It sends out microwave pulses and measures the reflection off a moving objects. They cover a larger area than infrared sensors, but are more vulnerable to electrical interference. Microwave motion detectors are different than PIR motion detectors in that they are active devices. They transmit energy and look for a frequency (Doppler) shift due to motion in the covered area. The microwave motion detector sends out high radio frequency waves and then detect the level of energy reflected back to the device. If the radio frequency wave hits a moving object, the frequency changes and the motion detector is activated. Microwave motion detectors by themselves would cause frequent false alarms as microwave energy penetrates many building material.</p>
                    </div>

                    <div class="col-sm-12">
                        <h4>Dual Sensor</h4>
                        <img style="float: left; margin: 0px 15px 15px 0px;" src="/images/Products/IN-Motion500_20.jpg" class="img-fluid shadow" alt="IN-Motion 500 :: Dual Sensor"/>
                        <p class="text-justify">Motion Detectors that combine PIR with a microwave sensor are the better but more expensive choice. Since each operates in different areas of the spectrum, and one is passive and one is active, dual technology motion sensors are not as likely as other types to cause false alarms, because in order for the alarm to be triggered, both sensors have to be tripped. Therefore, the false alarm is minimized compared to a single PIR sensor.</p>

                        <p class="text-justify">Keep in mind that motion sensors aren’t error-proof. False alarms are usually caused by light sources with a high IR percentage and heating (or cooling) systems (PIR) or electrical interferences from fluorescent lights and mobile devices (MW).</p>
                    </div>

                    <div class="col-md-12">
                        <img style="float: right; margin: 0px 0px 15px 15px;" src="/images/Products/IN-Motion500_21.jpg" class="img-fluid shadow" alt="IN-Motion 500 :: Dual Sensor"/>
                        <p class="text-justify">Place motion sensors at “choking-points”— areas where people have to walk through, like the stairwell or main hallway. That way, an intruder will trip the sensor regardless of where they are headed. Make use of all the advantages the 3 motion detection methods provide.</p>
                        <p class="text-justify">PIR motion sensors work best when the intruder walks parallel to the sensor, not toward it. For example, in a hallway you tend to walk parallel to the walls, not directly toward them. For MW sensors the case is the other way around. Walking towards them will result in a much earlier detection. If both sensors are coupled by the AND logic, this will lead to a problem. Setting up your IN-Motion 500 so that both sensors can trigger an alarm (OR mode - <a href="/Products/IN-Motion/500/Setup">DIP5 has to be in the OFF position</a> to decouple both sensors). This might lead to a higher number of false alerts. But those can be levelled by coupling the sensor with the internal, software-based detection inside your INSTAR HD camera. Please check your camera´s web user interface under Alarm / Action about details on this mode of operation.
                        </p>
                    </div>

                </section>
            </article>
            <!-- /Container -->

          </div>
          <!-- /Wrap -->

            <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
            <!-- /webui -->

            <section class="social"><% include ../_partials/content/_social.ejs %></section>
            <!-- /social -->

            <!-- ############################################# Footer ############################################# -->

            <footer><% include ../_partials/template/_footer.ejs %></footer>

            <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
