<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix mb"></div>

        <div class="wrap mt">

            <!-- ----------------------------------------------------- Intro ----------------------------------------------------- -->

            <section class="container mb">

                <div class="row">

                    <div class="col-12">
                        <h2 class="hidden-xs-down">.:: The IN-MOTION 500 ::.</h2>
                        <h3 class="hidden-sm-down">PIR &amp; Microwave Motion Detector</h3>
                        <h2 class="hidden-sm-up">IN-MOTION 500</h2>
                    </div>

                    <div class="hidden-sm-down col-sm-12">
                        <img style="float: right; margin: 0px 0px 15px 15px;" src="/images/Products/IN-Motion500Logo_00.png" class="hidden-sm-down col-md-2 img-fluid" alt="IN-Motion 500 :: Logo"/>

                        <p class="text-justify">The IN-MOTION 500 PIR &amp; Microwave motion detector, as the name might suggest, contains a dual sensor array with a microwave motion detector and a passive infrared heat detector. The Microwave unit works by the principle of Doppler radar. A continuous wave of microwave radiation is emitted, and phase shifts in the reflected microwaves due to motion of an object toward (or away from) the receiver result in a heterodyne signal. Passive infrared sensors are sensitive to a person's skin temperature through emitted radiation at mid-infrared wavelengths, in contrast to background objects at room temperature. No energy is emitted from the sensor, thus the name "passive infrared" (PIR). In order for motion to be detected, both sensors must trip together. The combination of both techniques lowers the probability of a false alarm since heat and sunlight changes may trip the PIR but not the microwave, while moving trees in the background may trigger the microwave unit but not the PIR.</p>

                        <p class="text-justify">The scope of delivery contains all the components you need to connect the detector with your INSTAR IP camera. The sensor is rated to be weatherproof - but please be aware that you will have to seal the cable entry point if you want to install the detector in an area that is heavily exposed to the weather.</p>
                    </div>

                </div>

            </section>
            <!-- Close ROW -->

            <!-- -------------------------------------------------- Content ----------------------------------------------------- -->

            <section class="container">

                <div class="row justify-content-around">

                  <div class="card col-12 hidden-md-up shadow mb">
                    <img class="img-fluid" src="/images/Products/IN-Motion500_00.png" alt="IN-Motion 500 :: Content of Delivery">
                      <div class="card-block">
                        <h3 class="card-title">Content of Delivery</h3>
                        <ul class="card-text">
                            <li>1x IN-MOTION 500</li>
                            <li>1x 5m Signal Cable</li>
                            <li>1x Power Supply (12V / 1A)</li>
                            <li>1x Wall Mount</li>
                            <li>1x Set of Dowels and Screws</li>
                            <li>1x Installation Manual</li>
                        </ul>
                      </div>
                  </div>

                    <div class="col-12 mb">
                        <p class="text-justify">The IN-Motion 500 Motion Detector comes with everything you need to connect it to your INSTAR IP Cameras. A separate indoor power supply, a wall mount with dowels and screws and a 5m extension cable to connect the sensor with your camera. The long cable allows you to bring your detector close to the area you are monitoring. Or to make good use of a chocking point in the terrain everyone has to pass through before reaching the area that is in view of the camera.</p>
                    </div>

                </div>
                <!-- /row -->
            </section>
            <!-- /container -->

            <!-- -------------------------------------------------------Media Objects ----------------------------------------- -->

            <section class="container">

                <div class="hidden-sm-down mb">
                    <h2>.:: IN-Motion 500 :: Usermanual ::.</h2>
                </div>

                <div class="hidden-sm-up col-11 mb">
                    <h2>Usermanual</h2>
                </div>

                <div class="col-12 mb">
                    <!-- Media Container -->

                    <div class="row justify-content-around mb">
                        <div class="col-sm-3 mt">
                          <a href="/Products/IN-Motion/500/Dual_Sensor">
                            <img src="/images/Products/QL-Box_IN-Motion_500_Sensor_mouseOver.png" alt="IN-Motion 500 :: Sensor" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                          </a>
                        </div>
                        <div class="col-sm-8 mt">
                            <h3 class="lead">How does the Dual Sensor work?</h3>
                            <p class="text-justify">All methods of intrusion detection have their downfalls. The solution to this problem combine them and have one method take over when the other is failing. Regular heat detectors (PIRs) work best in a cold environment, preferably at night (no interference from sun light) and when the intruder passes in front of the sensor. They can be fooled when the intruder masks his body heat. Or when the background temperature is close to body temperature. A false positive detection, on the other hand, can be cause by rising hot air above a surface that is being heated by sunshine. Microwave detectors are emitting waves that are deflected by obstacles in their path. Reflected waves are then registered by a second antenna inside the sensor and changes in the reflection - caused by new objects - detected. There is very little interference with heat and sunlight and the detector also works if an intruder is walking straight towards the sensor. These two types of sensors complement each other with one more sensitive in the area where the other is less sensitive. <a href="/Products/IN-Motion/500/Dual_Sensor">more...</a></p>
                        </div>
                      </div>

                      <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Setup">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Setup_mouseOver.png" alt="IN-Motion 500 :: Setup" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">Setup your IN-Motion 500 for Operation</h3>
                                <p class="text-justify">Before using your IN-Motion in combination with your INSTAR camera, you first have to connect it to the sensor cable, choose whether you want to use it in N.C. or N.O. configuration and adjust the sensitivity of both sensors. Additionally, you can either use both sensors in <em>OR</em> or <em>AND</em> mode. In the first case, it is sufficient that one sensor detects something to trigger an alert inside your camera. This is the optimal mode if one sensor is inhibited in the environment you are using your sensor - e.g. in a very hot environment the PIR sensor can become unreliable since the difference in background and body temperature becomes negligible. The <em>AND</em> should be used if you are receiving too many false-positive alerts due to false detections by one of the sensors. <a href="/Products/IN-Motion/500/Setup">more...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Wiring">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Wiring_mouseOver.png" alt="IN-Motion 500 :: Wiring" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">Connect the IN-Motion 500 with your INSTAR Camera</h3>
                                <p class="text-justify">Once your IN-Motion is set up, the rest of the installation becomes very easy. Mount the sensor on a wall or ceiling and plug in the power supply. Now connect the end of the sensor cable with your camera´s <em>Alarm-IN</em>. The <em>Alarm-IN</em> connector is either situated at the cable tree of your outdoor camera, or in the base of the camera case, of your indoor camera. Please check your camera´s user manual for the exact location. <strong>Remark:</strong> Not all camera models come with an alarm relay. Please make sure that your camera supports external sensors before buying the IN-Motion 500. <a href="/Products/IN-Motion/500/Wiring">more...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/User_Interface">
                                <img src="/images/Products/QL-Box_IN-Motion_500_WebUI.png" alt="IN-Motion 500 :: WebUI" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">IP Camera WebUI Setting</h3>
                                <p class="text-justify">Depending on the way you wired up your sensor in the earlier step, you have to choose the correct operation mode inside your camera´s web user interface. Please open the interface inside your web browser and navigate to <em>Alarm/Actions</em> to activate the relay and choose whether you operate it in N.O. or N.C. mode. If you choose to use the PIR and MW sensor in the "OR" configuration (see above), it is recommended to couple the camera´s internal software based motion detection with the external trigger (only available for HD cameras). Otherwise, you can deactivate the camera´s internal detection. <a href="/Products/IN-Motion/500/User_Interface">more...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Considerations">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Considerations_mouseOver.png" alt="IN-Motion 500 :: Considerations" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">Considerations</h3>
                                <p class="text-justify">As partly already mentioned earlier, there are many factors that affect the sensitivity and accuracy of both sensors. It is important that you plan ahead, where you install the sensor and what kind of interferences you are expecting. Do you need the maximum sensitivity to catch the even the slightest movement - even if this means that you will also receive false alerts? Or do you want to couple the sensors and maybe reduce their sensitivity to make sure that your camera is only triggered when both sensors detected a motion? <a href="/Products/IN-Motion/500/Considerations">more...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Recorder">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Recorder_mouseOver.png" alt="IN-Motion 500 :: External Recording" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">External Recording Devices</h3>
                                <p class="text-justify">Using an external motions sensor will give you a much better result in your alarm recordings. All Software based motion detection is prone to false alerts due to changes in lighting or general wheather conditions, like rain, snow or fog. Surveillance Solutions, as offered by, e.g., <a href="/Software/Other_Platforms/QNAP">QNAP</a> or <a href="/Software/Other_Platforms/Synology">Synology</a>, provide a superior software based motion detection. But they still can´t match the accuracy of a hardware sensor, operating in unison with your surveillance camera. Those systems, therefore, offer the option to use the external sensor as the alarm trigger - instead of relying on their internal detection. <a href="/Products/IN-Motion/500/Recorder">more...</a></p>
                            </div>
                        </div>

                    </div>
                    <!-- /Media Container -->

                </div>
                <!-- /ROW -->

            </section>
            <!-- /Media Objects -->

        <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

    </div>
    <!-- /Wrap -->

</body>

</html>
