<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <div class="row">
                            <div class="twelve columns">
                                <h1>INSTAR IN-Motion</h1>
                                <h3>Passive Infrared and Microwave Motion Detection</h3>
                                <h4>What is the difference between IN-Motion 300 &amp; IN-Motion 500?</h4>
                                <p>
                                  The IN-Motion 500 comes with a microwave and a passive infrared motion sensor. It is the perfectly suited for outdoor detection. The IN-Motion 300 is the perfect extension for your ip camera in order to minimize false alarms. It can only be used for your indoor surveillance.
                                </p>
                            </div>
                        </div>

                       <div class="card-container">
                           <div class="twocard">
                               <div class="action">
                                   <h2>IN-Motion 300</h2>
                                   <br>
                                   <p>External infrared motion detector for indoor use</p>
                               </div>
                              <a href="/Products/IN-Motion/300">
                               <div class="image">
                                   <amp-img noloading height=300 width=300 layout=responsive src="/images/Products/IN-Motion300_00.png" alt="IN-Motion 300"></amp-img>
                               </div>
                             </a>
                           </div>
                           <!-- /Twocard -->
                           <div class="twocard">
                               <div class="action">
                                   <h2>IN-Motion 500</h2>
                                   <br>
                                   <p>Weather proof infrared &amp; microwave motion detector</p>
                               </div>
                               <a href="/Products/IN-Motion/500">
                               <div class="image">
                                   <amp-img noloading height=300 width=300 layout=responsive src="/images/Products/IN-Motion500_02.png" alt="IN-Motion 500"></amp-img>
                               </div>
                              </a>
                           </div>
                          <!-- /Twocard -->
                       </div>
                        <!-- /Card-Container -->


                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->

                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
