<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- --------------------------------- Breadcrumbs ------------------------------------------------ -->

        <div class="container">
            <div class="row">

                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="/Products">Products</a>
                    <a class="breadcrumb-item" href="/Products/IN-Motion">IN-Motion</a>
                    <a class="breadcrumb-item" href="/Products/IN-Motion/300">IN-Motion 300</a>
                    <a class="breadcrumb-item" href="/Products/IN-Motion/500">IN-Motion 500</a>
                    <span class="breadcrumb-item active">Wiring</span>
                </nav>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->

        <div class="clearfix mb"></div>

        <div class="wrap mt">

            <!-- ---------------------------------------------- Wiring ----------------------------------------------- -->

            <section class="container" style="margin-bottom: 40px;">

                <div class="row">

                    <div class="col-sm-12 col-md-8">

                      <h4>Wiring Connector</h4>

                        <!-- Table -->
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">V+</th>
                                    <td>Power Supply +</td>
                                    <td>Connector for the 12V power supply +</td>
                                </tr>
                                <tr>
                                    <th scope="row">V-</th>
                                    <td>Power Supply -</td>
                                    <td>Connector for the 12V power supply -</td>
                                </tr>
                                <tr>
                                    <th scope="row">C &amp; NC</th>
                                    <td>Relay Jumper <strong>NC</strong></td>
                                    <td>Allows you to set the relay to <em>Normally Closed</em> (C&amp;NC). In NC mode an interruption in the connection to the sensor, e.g. when it is damaged, will lead to an alarm. N.C. is the standard mode.</td>
                                </tr>
                                <tr>
                                    <th scope="row">C1/T2 &amp; NO1</th>
                                    <td>Relay Jumper <strong>NO</strong></td>
                                    <td>Allows you to set the relay to <em>Normally Open</em> (C1/T2 &amp; NO1). In NO mode an interruption in the connection to the sensor <strong>will not</strong> cause an alarm. The N.O. mode is not recommended.</td>
                                </tr>
                                <tr>
                                    <th scope="row">C1/T2 &amp; T1</th>
                                    <td>Tamper Switch</td>
                                    <td>This is for external tamper switch to cause an alarm in case the sensor is opened to avoid manipulation.</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="col-sm-12 col-md-4 mt">
                      <div class="card shadow">
                        <img class="card-img-top img-fluid" src="/images/IN-Motion500_05.png" alt="IN-Motion 500 :: Layout">
                        <div class="card-block">
                          <p class="card-text">Exposed Base of the IN-Motion 500 PIR and MW Motion Detector.</p>
                        </div>
                      </div>
                      <!-- /card -->
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

            <!-- -------------------------------------------------- Senventh Row ----------------------------------------------- -->

            <section class="container-fluid" style="margin-bottom: 40px;">

                <div class="row">

                    <div class="col-sm-12 mb">
                        <h2>Connect the IN-Motion 500 with your INSTAR Camera</h2>
                    </div>

                    <div class="col-sm-12 hidden-lg-up mb">
                      <div class="card shadow">
                        <img class="card-img-top img-fluid" src="/images/IN-Motion500_07.png" alt="IN-Motion 500 :: Wiring">
                        <div class="card-block">
                          <p class="card-text">Once the IN-Motion is wired for NO or NC operation, you simply have plug in the power supply and connect it to the alarm input of your INSTAR IP camera. The alarm input can be activated inside the camera´s web user interface - please make sure the select the correct method of operation NO or NC (trigger level low or high - in case of a VGA camera). Choosing the wrong method will cause a constant alarm. Also activating the NC method and unplugging the motion detector will lead to a constant state of alarm. You can check the camera´s alarm state under <em>System / Log</em> to make sure you got the settings right.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-4 mb">
                        <div class="card shadow">
                          <img class="card-img-top img-fluid" src="/images/IN-Motion500_09.png" alt="IN-Motion 500 :: Remove the Backcover">
                          <div class="card-block">
                            <p class="card-text"><span class="lead">Step 1:</span>&nbsp; Open the IN-MOTION 500 by using a Philips screw driver to press the button at the bottom. Separate the front cover from the back cover.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4 mb">
                        <div class="card shadow">
                          <img class="card-img-top img-fluid" src="/images/IN-Motion500_10.png" alt="IN-Motion 500 :: Remove the Knockouts">
                          <div class="card-block">
                            <p class="card-text"><span class="lead">Step 2:</span>&nbsp; Use the screwdriver to push one of the two holes, AND then induce the 4-wires of the 5 meter cable into this hole and proceed to next step.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4 mb">
                        <div class="card shadow">
                          <img class="card-img-top img-fluid" src="/images/IN-Motion500_11.png" alt="IN-Motion 500 :: NO &amp; NC Wiring">
                          <div class="card-block">
                            <p class="card-text"><span class="lead">Step 3:</span>&nbsp; Loosen the screws of <span style="color: red;">V+</span>, V-, C and NC (or C1/T2 and NO1) and insert the <span style="color: red;">red wire</span> to <span style="color: red;">V+</span>, the black to V- and the two signal cables to NC or NO ports.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb">
                        <div class="card shadow">
                          <img class="card-img-top img-fluid" src="/images/IN-Motion500_12.png" alt="IN-Motion 500 :: Alarm I/O">
                          <div class="card-block">
                            <p class="card-text"><span class="lead">Step 4:</span>&nbsp; Tighten the screws and close the casing. Clip the casing to the bracket. Connect the power plug to the delivered 12V/1A power supply. Connect the two signal wires to the cameras alarm input I/O. The connector for the alarm input of your camera might look different depending on your camera model. Please refer to your IP Camera user manual to identify the correct I/O ports. You may choose either polarity when connecting the cable.</p>
                          </div>
                        </div>
                    </div>

                </div>

            </section>
            <!-- Close ROW -->

                <!-- ---------------------------------------------- Tech Specs ----------------------------------------------- -->

                <section class="container mb">
                    <div class="row">

                          <h4>Technical Specifications</h4>

                            <!-- Table -->
                            <table class="table table-hover">
                                <thead>
                                    <th>Sensor Model</th>
                                    <th>INSTAR IN-Motion 500 Dual Microwave &amp; PIR Motion Detector</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Operating Voltage</th>
                                        <td>D.C. 12V</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Current Consumption</th>
                                        <td>62mA @ DC12V</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Relay output</th>
                                        <td>NC / NO, DC 25V / 100mA</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Detection Angle</th>
                                        <td>110°</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Detection Area</th>
                                        <td>12 m x 12 m</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Start-up Time</th>
                                        <td>60 seconds (warm-up time up to 10 minutes in temperatures below -10°C !)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RF Interference Compensation</th>
                                        <td>10MHz 1GHz 20V/m</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Alarm Indicator</th>
                                        <td>Red and Blue LED</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Alarm Output</th>
                                        <td>N.C. or N.O., DC 25 V / 100 mA</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tamper Output</th>
                                        <td>N.C., DC 25 V / 100 mA</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sensor</th>
                                        <td>Dual element pyroelectric and microwave sensor</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Environment Humidity</th>
                                        <td>95% RH (no congelation)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Working Temperature</th>
                                        <td>-10°C to +50°C</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Installation Mode</th>
                                        <td>Wall mount</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mounting Options</th>
                                        <td>Ceiling- or wallmount</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Size (H/W/D)</th>
                                        <td>60 mm / 45mm / 136 mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Weight</th>
                                        <td>150g</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Compatible with</th>
                                        <td>IN-2905 V2, IN-2907, IN-2908, IN-3001, IN-3005, IN-3010, IN-3010 PoE, IN-3011, IN-4009, IN-4010, IN-4011, IN-5907HD, IN-5907HD PoE, IN-6011HD, IN-6012HD, IN-6012HD PoE, IN-7011HD, IN-7011HD PoE</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /Row -->
                </section>
                <!-- /Container -->
        </div>
        <!-- /Wrap -->

        <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

    </div>
    <!-- /Wrapper -->

</body>

</html>
