<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/PoE">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-PoE 1000</h1>
                                <h2>What is a PoE Injector?</h2>
                                <p>
                                  The IN-PoE 1000 will combine the network signal and power so it can be transfered over a single network cable to a PoE compatible network device. For this it is important that your end device supports the PoE (Power over Ethernet) function. At this time the IN-2905, IN-5907HD, IN-3010 and IN-6012HD are available as PoE models. Those camera models will be compatible with the IN-PoE 1000 PoE Injector. The network signal can be transmitted with up to <strong>1000MBits</strong> while the injector works with up to <strong>48V and 35 Watt</strong>. The injector meets the <strong>IEEE 802.3at standard</strong>.
                                </p>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=367 width=500 layout=responsive src="/images/IN-PoE_1000_web.png"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-PoE 1000</h3>
                                    <br>
                                    <p>The <a href="http://www.instar.de/accessories/poe-accessories/in-poe1000-poe-injector-black.html" target="_blank">IN-PoE 1000</a> Power-over-Ethernet adapter to power your PoE devices - available in black or white.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=367 width=500 layout=responsive src="/images/IN-PoE100_web_black_1.jpg"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-PoE 1000</h3>
                                    <br>
                                    <p>The <a href="http://www.instar.de/accessories/poe-accessories/in-poe1000-poe-injector-white.html" target="_blank">IN-PoE 1000</a> Power-over-Ethernet adapter - the plug&amp;play companion for your PoE IP camera.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=367 width=500 layout=responsive src="/images/IN-PoE_8000_web.png"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-PoE 8/4000</h3>
                                    <br>
                                    <p>The <a href="http://www.instar.de/accessories/poe-accessories/in-poe-8000-poe-switch.html" target="_blank">IN-PoE 8000</a> or <a href="http://www.instar.de/accessories/poe-accessories/in-poe-4000-poe-switch.html" target="_blank">IN-PoE 4000</a> Power over Ethernet Switches for 4 or 8 INSTAR PoE Cameras.</p>
                                </div>
                            </div>
                            <div class="twocard invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="margin">
                            <p>With the IN-PoE 1000 you are always on the save side - The PoE injector detects if your end device supports PoE or not automatically and turns the power off in case your device is not compliant. This way your device can not be damaged even so it does not support PoE.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h3>Your Advantages:</h3>
                            <ul>
                              <li>Fast Gigabit transfer rates (1000MBit)</li>
                              <li>The IN-PoE 1000 Can handle devices with up to 35 Watt of power consumption. While most other injectors only support 15,6 Watt</li>
                              <li>Thanks to a simply sliding system you can combine several injectors with each other in order to save space</li>
                              <li>Easy plug&amp;play installation</li>
                            </ul>
                        </div>
                        <!-- /margin -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="action">
                                    <h2>Content:</h2>
                                    <br><br>
                                    <ul>
                                      <li>1x IN-PoE1000 (PoE Injector) in black or white</li>
                                      <li>1x Power cable</li>
                                      <li>1x Quick installation guide</li>
                                      <br><br>
                                    </ul>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="action">
                                  <h2>Specifications</h2>
                                  <br><br>
                                  <ul>
                                    <li>Product name: IN-Poe 1000 Gigabit IEEE 802.3at PoE Adapter</li>
                                    <li>Input voltage: 100 - 240 V</li>
                                    <li>Output voltage: up to 48V @ 35 W</li>
                                    <li>Weight x height x depth: 88 x 51 x 166 mm</li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->

                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
