<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/Help">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">

                    <div class="margin">
                        <h1>IN-Route P52</h1>
                        <h2>Web User Interface</h2>
                        <h3>Help</h3>
                    </div>

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                              <a href="/Products/IN-Route/Help/Features">
                                <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_Help.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>Features</h3>
                                <br><br>
                                <a href="/Products/IN-Route/Help/Features">Read More</a>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <a href="/Products/IN-Route/Help/About_Us">
                                <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_About.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>About Us</h3>
                                <br><br>
                                <a href="/Products/IN-Route/Help/About_Us">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    </article>
                    <!-- /article -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
