<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/Network/FTP">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Network</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>FTP</h3>
                          <p class="justify">In this and the following articles we will talk about the IN-Route P52 web user interface (webUI). To access the interface, please charge your router, switch it into WiFi mode and connect to it´s WiFi network. For more details please follow the instructions for the <a href="/Products/IN-Route/First_Steps/Login">router login</a>. To follow this article, please make sure that your router´s webUI is switched to the Advanced Mode - the Simple Mode will not contain all the options we are covering here. Please be also aware that what we are doing here can be considered an advanced configuration. In most cases you will be fine just following the <a href="/Products/IN-Route/First_Steps">First Steps Configuration</a> discussed earlier. So, are you up to some advanced routing terminologies and exciting features? Then lets go!</p>
                          <br>
                          <div>
                              <amp-img src="/images/IN-Route_P52_FTP_01.png" width="1000" height="664" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>Plug in your USB stick for storage - the status light will start to flash in green - and configure your FTP server.</p>
                            <br>
                            <p class="justify">In this and the following articles we will talk about the IN-Route P52 web user interface (webUI). To access the interface, please charge your router, switch it into WiFi mode and connect to it´s WiFi network. For more details please follow the instructions for the <a href="/Products/IN-Route/First_Steps/Login">router login</a>. To follow this article, please make sure that your router´s webUI is switched to the Advanced Mode - the Simple Mode will not contain all the options we are covering here. Please be also aware that what we are doing here can be considered an advanced configuration. In most cases you will be fine just following the <a href="/Products/IN-Route/First_Steps/">First Steps Configuration</a> discussed earlier. So, are you up to some advanced routing terminologies and exciting features? Then lets go!</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img src="/images/IN-Route_P52_17en.png" width="1000" height="574" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Your IN-Route comes with a full-fledged FTP server. Just plug in an USB drive and use the server for alarm uploads of your <a href="/Motion_Detection/Alarm_FTP_Upload">INSTAR IP camera</a>. The FTP login is the same as the FTP login you use for your login into the router´s web user interface - <a href="/Products/IN-Route/System/Login">Change your user login</a>.</p>
                            <br>
                            <p class="justify">Your IN-Route is a full-fledged FTP server that can be used to store and share files on your network - or even to the internet, provided that you activate a <a href="/Internet_Access/Port_Forwarding">port forwarding</a> inside your router to make the IN-Route accessible from the outside. Please check out our article on using an <a href="/Motion_Detection/Router_as_a_FTP_Server">AVM Fritzbox router</a> as an FTP server for an INSTAR IP camera. Most of what is said there is applicable to your IN-Route P52. The FTP user login is the same administrator account you use to login to the IN-Route´s web user interface - you can change your login <a href="/Products/IN-Route/System/Login">HERE</a>. The default values are:</p>
                            <br>
                            <ul>
                              <li>User = admin</li>
                              <li>Password = instar</li>
                            </ul>
                            <br>
                            <p class="justify">You can test your FTP access, once activated here, by connected a computer to the IN-Route´s WiFi network and typing it´s default IP address into your web browser, preceded by a ftp:// to use the file transfer protocol and followed by a :21 for the FTP port - don´t forget to plug in an USB storage device (e.g. a thumb drive) to the router´s USB port (<a href="/Products/IN-Route/First_Steps/Introduction">see #4</a>). You should be able to see the complete content of your storage device and be able to download and upload files - IF you allow those function here in the FTP setup! You can also use - and admittedly this is much more convenient - third party FTP clients to access the thumb drives directory. Take a look at programs like <a href="https://filezilla-project.org/download.php?type=client">FileZilla</a>, browser extensions like <a href="http://fireftp.net/">FireFTP</a> or our article on how to <a href="/Motion_Detection/SD_Card_Access">access the SD card</a> of an INSTAR HD camera for more information on FTP clients.</p>
                            <p><span class="code">ftp://192.168.169.1:21</span></p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
