<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/Network/Router_Mode">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Network</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>Router Mode: ADSL</h3>
                          <p class="justify">In this and the following articles we will talk about the IN-Route P52 web user interface (webUI). To access the interface, please charge your router, switch it into WiFi mode and connect to it´s WiFi network. For more details please follow the instructions for the <a href="/Products/IN-Route/First_Steps/Login">router login</a>. To follow this article, please make sure that your router´s webUI is switched to the Advanced Mode - the Simple Mode will not contain all the options we are covering here. Please be also aware that what we are doing here can be considered an advanced configuration. In most cases you will be fine just following the <a href="/Products/IN-Route/First_Steps">First Steps Configuration</a> discussed earlier. So, are you up to some advanced routing terminologies and exciting features? Then lets go!</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_12en.png" width="1000" height="563" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">You will need to type in the login information from your ISP here, if you connect the IN-Route directly with your internet modem.</p>
                            <br>
                            <p class="justify">If your IN-Route P52 is directly connected to your DSL or cable modem, choose the PPPoE (ADSL) mode and enter your ISP username and password here to enable your wireless device access to the internet through your IN-Route. The other parameters are either given by your ISP or can be left by their default values.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Router Mode: DHCP</h3>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_13en.png" width="1000" height="569" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">In most cases you will need the DHCP service activated, when you connect your IN-Route with another router or use it as a DSL router behind your internet modem. The IN-Route will the connect to the external network automatically by requesting IP information, identifying itself by the hostname you define here.</p>
                            <br>
                            <p class="justify">The router runs in a DHCP(auto) mode if connected to another router that is offering a DHCP service - this is the default setting and will work most of the time. Your IN-Route will be assigned an IP address automatically - which will become its WAN IP address in the outer Network. This IP address is not to be confused with the LAN IP addresses the router is maintaining inside its local network. You can use the WAN IP address to connect to the router when your device is connected to the network from the main router.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Router Mode: Static IP</h3>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_14en.png" width="1000" height="563" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>The static IP only works in combination with the DSL Router mode. You can use it if your ISP operates with static IP addresses.</p>
                            <br>
                            <p class="justify">The Static Mode allows you to have a fixed IP address assigned to your IN-Route device when connecting it to your modem or router. Use this mode if the DHCP service inside the existing network is deactivated or if you want to use a port forwarding rule to connect to a device inside the IN-Route network from the outer network (established by your main router). Please refer to <a href="/Products/IN-Route/Firewall/Port_Forwarding">Firewall/Port Forwarding</a> for more details. Type in the IP address / subnet mask you want to be assigned to your IN-Route and set the default gateway and primary DNS server to the IP address of the main router, that your IN-Route is connected to. The WAN IP address of your IN-Route is the address the device is given in the wider network it is connected to and is not to be confused with it´s LAN IP address the device is using inside it´s own wireless network.</p>
                            <p>The MAC Clone option allows you to change the routers MAC address into the address of your accessing device. Use this function if the network you want to connect to requires a specific MAC address to grant you access.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
