<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/Overview/Status">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-p.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Overview</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>Status</h3>
                          <p class="justify">In this and the following articles we will talk about the IN-Route P52 web user interface (webUI). To access the interface, please charge your router, switch it into WiFi mode and connect to it´s WiFi network. For more details please follow the instructions for the <a href="/Products/IN-Route/First_Steps/Login">router login</a>. To follow this article, please make sure that your router´s webUI is switched to the Advanced Mode - the Simple Mode will not contain all the options we are covering here. Please be also aware that what we are doing here can be considered an advanced configuration. In most cases you will be fine just following the <a href="/Products/IN-Route/First_Steps">First Steps Configuration</a> discussed earlier. So, are you up to some advanced routing terminologies and exciting features? Then lets go!</p>
                          <br>
                          <div>
                              <amp-img src="/images/IN-Route_P52_04en.png" width="1000" height="571" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Open the Status page to get an overview over routers modes of operation. The Status page offers you an overview of hardware and software information as well as running operations.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
