<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">

                      <div class="margin">
                          <h1>IN-Route P52</h1>
                          <h2>Portable Router</h2>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                        <div>
                            <h3>What is the IN-Route Family</h3>
                            <p class="justify">
                              The INSTAR IN-Route P52 is designed to be your travel companion. Whether you stay in a hotel that only offers a LAN cable to access the internet with your tablet, whether you are on the road and just ran out of batteries on your smartphone or you just want to share the content of your USB thumb drive with your friends - the IN-Route P52 is the solution to your problem.<br><br>
                              The INSTAR IN-Route line offers a plug-and-play mobile wireless solution to share information between mobile devices. We offer you a NAS solution for your USB mass storage devices, as well as a power bank to recharge your cell phone or your compact camera - easily doubling most of your devices stamina to get through a day´s work. The IN-Route P52 - a small package with a great impact.
                            </p>
                        </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Products/IN-Route_P52_00.png" width="1000" height="515" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                      <div class="margin">
                        <h3>What are the key features?</h3>
                          <ul>
                            <li>Turn your wired network into a smartphone / tablet friendly wireless environment.</li>
                            <li>Connect your wireless devices to stream/share media.</li>
                            <li>Attach your USB storage to make it´s content available on your network</li>
                            <li>Extent your exisiting Wifi in repeater mode.</li>
                            <li>Use the 5200 mAh internal battery to charge external USB devices like smartphones and compact cameras.</li>
                            <li>Access your mobile internet through an external 3G dongle.</li>
                          </ul>
                      </div>
                      <!-- /margin -->

                        <div class="margin">
                          <h3>What comes in the Box</h3>
                          <br><br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox2"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_Inside-the-Box.png" width="1000" height="243" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <!-- /margin -->

                            <p>The IN-Route P52 comes with a USB cable to charge the internal Powerbank and a Quick-Installation Guide.</p>
                            <ul>
                              <li>1 x IN-Route P52 Wireless Router / NAS / Power Bank</li>
                              <li>1 x USB Charging Cable</li>
                              <li>1 x The Quick-Installation Guide</li>
                            </ul>
                        </div>
                        <!-- /margin -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                <a href="/Products/IN-Route/First_Steps">
                                  <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_FirstSteps.png"></amp-img>
                                </a>
                              </div>
                              <div class="action">
                                  <h3>First Steps</h3>
                                  <p>IN-Route P52 Introduction</p>
                                  <br><br>
                                  <a href="/Products/IN-Route/First_Steps">Read More</a>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                <a href="/Products/IN-Route/Overview">
                                  <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Overview.png"></amp-img>
                                </a>
                              </div>
                              <div class="action">
                                  <h3>Interface :: Overview</h3>
                                  <p>User Interface Overview Section.</p>
                                  <br><br>
                                  <a href="/Products/IN-Route/Overview">Read More</a>
                              </div>
                          </div>
                      </div>
                      <!-- /Card Container -->

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                              <a href="/Products/IN-Route/Network">
                                <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Network.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>Interface :: Network</h3>
                                <p>User Interface Network Section</p>
                                <br><br>
                                <a href="/Products/IN-Route/Network">Read More</a>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <a href="/Products/IN-Route/Firewall">
                                <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Firewall.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>Interface :: Firewall</h3>
                                <p>User Interface Firwall Section</p>
                                <br><br>
                                <a href="/Products/IN-Route/Firewall">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <a href="/Products/IN-Route/System">
                                <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_System.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>Interface :: System</h3>
                                <p>User Interface System Section</p>
                                <br><br>
                                <a href="/Products/IN-Route/System">Read More</a>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <a href="/Products/IN-Route/Help">
                                <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Help.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>Interface :: Help</h3>
                                <p>User Interface Help Section</p>
                                <br><br>
                                <a href="/Products/IN-Route/Help">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                        <h3>Technical Specifications</h3>

                        <div class="margin">
                            <table>
                              <tr>
                                  <td><strong>IN-Route Model</strong></td>
                                  <td><strong>INSTAR IN-Route P52 Powerbank &amp; Wireless AP</strong></td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Chipset (SoC)</strong>
                                    </td>
                                    <td>Ralink RT5350F Router-on-a-Chip</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>CPU Core</strong>
                                    </td>
                                    <td>360 MHz MIPS® 24K™ with 32 KB I-Cache/16 KB D-Cache</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Memory</strong>
                                    </td>
                                    <td>EM63A165 256Mbit (32MB) SDRAM</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Flash Storage</strong>
                                    </td>
                                    <td>W25Q32BV 32Mbit (4MB)</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>WiFi</strong>
                                    </td>
                                    <td>Embedded 1T1R 2.4G CMOS RF, Embedded 802.11n 1T1R MAC/BBP, 2 dBi Signal Strength / Channel Width: 20MHz (72Mbps) / 40MHz (150Mbps)</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>WiFi Standards</strong>
                                    </td>
                                    <td>IEEE 802.11 b/g/n @ 2.4-2.4835GHz</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Interfaces</strong>
                                    </td>
                                    <td>1 x RJ45 10/100 Mbps LAN Port, 1 x MicroUSB Port for Charging (5V / 1.8A max. Input), 1x USB 2.0 Host Interface (5V / 1A Output).</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Ethernet</strong>
                                    </td>
                                    <td>Embedded 10/100 Mbps Ethernet Switch</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Battery</strong>
                                    </td>
                                    <td>Capacity 2x2600mAh ICR18650 3.7V, Charging Current Input / Output 1A</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Physical Dimensions</strong>
                                    </td>
                                    <td> 	101 x 49.5 x 31mm</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Weight</strong>
                                    </td>
                                    <td>135.6g</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Operating Temperature</strong>
                                    </td>
                                    <td>-5°C to 40°C</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Storage Temperature</strong>
                                    </td>
                                    <td>0°C to 60°CC</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Operating Humidity</strong>
                                    </td>
                                    <td>5% to 90% Non-condensing </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Storage Humidity</strong>
                                    </td>
                                    <td>5% to 90% Non-condensing </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Supported Operating Systems</strong>
                                    </td>
                                    <td>Windows XP / Vista / 7 / 8, Mac OS, Linux, iOS, Android </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /margin -->


                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </section>
            <!-- /section -->

                    <!-- ################ Lightboxes ##################### -->

                    <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>


        </div>
        <!-- /Content -->
      </div>
      <!-- /WRAP -->

      <% include ../_partials/content/_bluenav-general-mobile.ejs %>

      <footer>
          <% include ../_partials/amp/_amp-footer.ejs %>
      </footer>
      </body>
  </html>
