<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">

                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Web User Interface</h2>
                                <h3>System</h3>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Products/IN-Route/System/Log">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Log.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/System/Log">Log</a>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Products/IN-Route/System/Login">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_UserLogin.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/System/Login">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Products/IN-Route/System/NTP_Setup">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_NTP.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/System/NTP_Setup">NTP Setup</a>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Products/IN-Route/System/Statistics">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Statistics.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/System/Statistics">Statistics</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Products/IN-Route/System/Import">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Import.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/System/Import">Import</a>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Products/IN-Route/System/Reboot">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Reboot.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/System/Reboot">Reboot</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Products/IN-Route/System/Upgrade">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Products/IN-Route_Card_Update.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/System/Upgrade">Upgrade</a>
                                </div>
                            </div>
                            <div class="twocard invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

                    </article>
                    <!-- /article -->
                </div>
                <!-- /Container -->

                <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
