<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Installation Wizard</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>Language Selection</h3>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_44en.png" width="1000" height="560" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>Your IN-Route will automatically try to choose the correct language for you - you can make a correction here if it goes wrong.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Personalize your Login</h3>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_45en.png" width="1000" height="560" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>The default login for your IN-Route P52 is admin/instar. We recommend that you choose a personal password - only use letters a-z (A-Z) and numbers 0-9 to be on the save side.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Personalize your WiFi Key and SSID</h3>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_46en.png" width="1000" height="563" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>Even more important to change than the router login is the WiFi key - the default key is 12345678.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
