<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Firewall</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h4>Webfilter</h4>
                          <h3>Overview</h3>
                          <p class="justify">In this and the following articles we will talk about the IN-Route P52 web user interface (webUI). To access the interface, please charge your router, switch it into WiFi mode and connect to it´s WiFi network. For more details please follow the instructions for the <a href="/Products/IN-Route/First_Steps/Login">router login</a>. To follow this article, please make sure that your router´s webUI is switched to the Advanced Mode - the Simple Mode will not contain all the options we are covering here. Please be also aware that what we are doing here can be considered an advanced configuration. In most cases you will be fine just following the <a href="/Products/IN-Route/First_Steps">First Steps Configuration</a> discussed earlier. So, are you up to some advanced routing terminologies and exciting features? Then lets go!</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_24en.png" width="1000" height="567" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">You want to restrict access to certain internet addresses or whole domains? You have come to the right place.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                        <h3>Address Filter</h3>
                        <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_25en.png" width="1000" height="560" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">The Address filter allows you to block specific internet addresses from being accessed from your IN-Route´s wireless network.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                        <h3>Domain Filter</h3>
                        <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_26en.png" width="1000" height="567" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">The Domain Filter, unlike the Address Filter allows you to block a broad range of domains instead of single addresses. Just type a word and every address containing this world will become inaccessible.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
