<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/Firewall/Port_Forwarding">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Firewall</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h4>Port Forwarding</h4>
                          <h3>Overview</h3>
                          <p class="justify">In this and the following articles we will talk about the IN-Route P52 web user interface (webUI). To access the interface, please charge your router, switch it into WiFi mode and connect to it´s WiFi network. For more details please follow the instructions for the <a href="/Products/IN-Route/First_Steps/Login">router login</a>. To follow this article, please make sure that your router´s webUI is switched to the Advanced Mode - the Simple Mode will not contain all the options we are covering here. Please be also aware that what we are doing here can be considered an advanced configuration. In most cases you will be fine just following the <a href="/Products/IN-Route/First_Steps">First Steps Configuration</a> discussed earlier. So, are you up to some advanced routing terminologies and exciting features? Then lets go!</p>
                          <br>
                          <div>
                              <amp-img src="/images/IN-Route_P52_18en.png" width="1000" height="563" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">You want to connect your IP camera to the IN-Route and then access it from the outside network? Simply set up a <a href="/Internet_Access/Port_Forwarding">Port Forwarding</a> rule here and access the camera via the IN-Route´s WAN IP address.</p>
                            <br>
                            <p class="justify">The <a href="/Internet_Access/Port_Forwarding">port forwarding</a> can be used to make a device inside the IN-Route´s WiFi network accessible from the outer network. For example, you have an INSTAR IP camera connected to the IN-Route´s WiFi network. The IN-Route is set to <a href="/Products/IN-Route/First_Steps/Quick_Access">build a bridge</a> to your main router. Now you want to access the camera from your laptop that is connected to the main router. To solve this problem, first set up a port forwarding rule of the camera´s http port to the camera´s IP address inside the IN-Route network. Then check the <a href="/Products/IN-Route/Overview/WAN_Status">IN-Route´s WAN IP address</a> and type it into your web browser on your laptop. In case your camera´s web port (that you had to use for the port forwarding earlier) is not the default 80 you have to add it the WAN IP address. E.g. the routers WAN IP address is 192.168.1.14 and the camera port is 8081, the address that you have to use to access your camera becomes <span class="code">http://192.168.1.14:8081</span>.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                        <h3>Virtual Server</h3>
                        <br>
                          <div>
                              <amp-img src="/images/IN-Route_P52_19en.png" width="1000" height="566" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">The Virtual Server function allows you to open a port on the WAN side and direct it to the same or a different port on the inside LAN. You can use this function to forward a port to access a device on the LAN via the IN-Route´s WAN IP address.</p>
                            <br>
                            <p class="justify">The <strong>Virtual Server</strong> settings allow you to define independent external and internal ports to access your local webserver from an external network. For example: Use this setting if your webserver uses an internal port that you are not allowed to use in outer network.</p>
                            <br>
                            <p class="justify"><strong>Example</strong>:<br>The IN-Route P52 is connected with your main router and you are using your INSTAR IP camera inside the device´s wireless network. You want to activate the port forwarding to access the camera with mobile device´s 3G network.</p>
                            <br>
                            <p class="justify">Find out the camera´s IP address (the address is displayed in the address bar on your web browser when you accessed the camera´s user interface - e.g. 192.168.169.2) and type it into the IP Address field. Connect to the camera via your web browser and find out the LAN (http) port under Network / IP Configuration. Type in the cameras LAN port as Internal Port. Choose an available port for the External Port - e.g. 8080. The protocol has to be set to TCP.</p>
                            <p class="justify">Now configure your main router to forward the above choose external port to the IP address your IN-Route device has inside the main routers network.</p>
                            <p class="justify">You are now able to access your camera from anywhere by typing it´s DDNS Address in a web browsers address bar or using it as the host address in your mobile app. The DDNS address can be found under Network / DDNS in your cameras web user interface (please add the external port to the DDNS address separated by a “:”) - e.g. xxxx88.ddns-instar.de:8080.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                        <h3>Port Forwarding</h3>
                        <br>
                          <div>
                              <amp-img src="/images/IN-Route_P52_20en.png" width="1000" height="560" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">The Port Forwarding function, unlike the Virtual Server allows you to open a port range to the wide area network.</p>
                            <br>
                            <p class="justify">Configure your router to open a door for a local service behind a single LAN port or port range. Every remote request will automatically be redirected to the local server. For example if you are using a webserver (e.g. an IP camera) connected to your IN-Route P52 and want clients to be able to connect to the server from outside your local network.</p>
                            <p class="justify">Simply enable the forwarding, type in the local IP address of the device you want to be accessible for the outside, type in the port or port range you want to open for the device and define the protocol (in most cases just TCP).</p>
                            <br>
                            <p class="justify"><strong>Example</strong>:<br>The IN-Route P52 is directly connected to your DSL modem and you are using your INSTAR IP camera inside the device´s wireless network. Now simply type the <a href="/Products/IN-Route/Overview/WAN_Status">IN-Routes WAN IP Address</a> into your computer´s (that is not part of the IN-Route´s WiFi network) web browser to be connected to your camera. If you don´t want to check the IN-Route´s WAN IP every time before you are able to enter - check out the <a href="/Products/IN-Route/Network/DDNS">IN-Route´s DDNS function</a>.</p>
                            <br>
                            <p class="justify">Find out the camera´s IP address (the address is displayed in the address bar on your web browser when you accessed the camera´s user interface - e.g. 192.168.169.2) and type it into the “IP Address” field. Connect to the camera via your web browser and find out the LAN (http) port under Network / IP Configuration. Type in the LAN port into both fields of the port range. The protocol has to be set to TCP.</p>
                            <p class="justify">You are now able to access your camera from anywhere by typing it´s DDNS Address in a web browsers address bar or using it as the host address in your mobile app. The DDNS address can be found under Network / DDNS in your cameras web user interface - e.g. xxxx88.ddns-instar.de:80.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
