<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!-- #############################################  Breadcrumb ############################################# -->

        <div class="container mb">
          <div class="row">
            <div class="col-12">
              <nav class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <a class="breadcrumb-item" href="/Products/Software">Software</a>
                <a class="breadcrumb-item" href="/Products/Software/iOS">iOS Software</a>
                <a class="breadcrumb-item" href="/Products/Software/iOS/InstarVision">InstarVision</a>
                <a class="breadcrumb-item" href="/Products/Software/iOS/InstarVision/iPad">iPad App</a>
                <span class="breadcrumb-item active">Add by P2P Address</span>
              </nav>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb">
          <div class="row">

            <div class="container col-12">
            <!-- Media Container -->

              <h1>Add a camera (<a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P</a>)</h1>
              <br>
              <br>

              <div class="card card-inverse card-danger mb">
                <div class="card-block">
                    <p class="card-title">
                      <strong><u>Please be Aware</u></strong>:
                    </p>
                    <p class="card-text">When you connect to your camera via P2P, you will not be able to switch the Audio Detection, Ajust Video Settings (Bitrate, Contrast, Brightness, etc.) and Access Snapshots on your SD card (accessing Videos will work).</p>
                </div>
              </div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/IPad_App_NEW_(1).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">1</strong>
                      </span> Go to the <strong>Multiview or Cameras Menu</strong> and click on the <strong>+</strong> button in the top right to add your IP camera.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/IPad_App_NEW_(2).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">2</strong>
                    </span> Select to add a New P2P Camera.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/IPad_App_NEW_(14).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">3</strong>
                    </span> Either choose to scan the <a href="/Web_User_Interface/720p_Series/Network/P2P/">QR Code</a> from your cameras WebUI or click on Scan to search your camera.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/IPad_App_NEW_(13).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">4</strong>
                    </span> Verify your <a href="/Web_User_Interface/720p_Series/Network/P2P/">UID</a> and <a href="/Web_User_Interface/720p_Series/System/User/">admin login</a> - then click the Test button. And safe your settings.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/IPad_App_NEW_(15).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">5</strong>
                    </span> Now click <strong>Save</strong> to add your camera.</p>
                    </div>
                  </div>
                  <div class="card invisible">
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /Row -->
          </section>
          <!-- /Container -->

          <!-- #############################################  Table ############################################# -->

          <section class="container mb">
            <div class="row">

              <div class="container col-12 mt">
              <!-- Text Container -->

                <h3>Add a camera (<a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P</a>)</h3>
                <p class="text-justify">Our HD camera line additionally allows you to add the camera by a so-called p2p (Point-to-Point) connection. To establish the p2p connection, choose to add a New p2p Camera, type in the camera's UID, which can be found on the sticker on the camera and the web user interface under <a href="/Web_User_Interface/720p_Series/Network/P2P/">Network/P2P</a>. Or use the QR code scanner to scan your camera's code. Please be aware that the QR code on the sticker contains your camera's default login. The QR code in the webUI (Network/P2P) is generated dynamically and will contain your UID as well as your personal camera login. If you change your camera´s administrator login or just activated the p2p service, you first have to restart your camera, before you can access it via your UID.</p>

                <table class="table table-hover">
                  <tr>
                    <th scope="row">DDNS or P2P</th>
                    <td>First you have to choose to add your camera via its local IP / DDNS address or its P2P UID. For the DDNS Service please read on <a href="/Web_User_Interface/720p_Series/Network/DDNS/">here</a>.</td>
                  </tr>
                  <tr>
                    <th scope="row">UID</th>
                    <td>You can either search for P2P cameras on your local network (your smartphone has to be connected to your home router´s WiFi network!) or scan the <a href="/Web_User_Interface/720p_Series/Network/DDNS/">QRcode from the P2P menu</a> - it will automaticly fill out all the necessary information to add your camera! You can also write down your camera´s UID (User Identification) from the P2P menu and type it in by hand.</td>
                  </tr>
                  <tr>
                    <th scope="row">Camera Name</th>
                    <td>You can choose a name for your camera - the name does not have to be identical with the camera name inside the web user interface.</td>
                  </tr>
                  <tr>
                    <th scope="row">User Name</th>
                    <td>To access your camera you will need to provide the username you use to log in to your camera's web user interface. The default username for both HD and VGA cameras is <strong>admin</strong>.</td>
                  </tr>
                  <tr>
                    <th scope="row">Password</th>
                    <td>Provide the password you use to log in to your camera's web user interface. The default password is <strong>instar</strong> for HD cameras and no password for VGA cameras.</td>
                  </tr>
                  <tr>
                    <th scope="row">Test/Add</th>
                    <td>Afterwards click on <strong>Test</strong> to check your configuration. Click on <strong>Save</strong> once the test was successful. Go to the <a href="/Products/Software/iOS/InstarVision/iPad/Multiview">Multiview Menu</a> to access your cameras live video stream.</td>
                  </tr>
                </table>

              </div>


          </div>
          <!-- / row -->
        </section>
        <!-- / container -->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
