<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix mb"></div>

        <div class="wrap mt">

            <!-- ----------------------------------------------------- Intro ----------------------------------------------------- -->

            <section class="container mb">

                <div class="row">

                    <div class="col-12">
                        <h1>.:: IN-90X ::.</h1>
                        <br>
                    </div>

                    <div class="hidden-sm-down col-sm-12">
                        <img style="float: right; margin: 0px 0px 15px 15px;" src="/images/IN-90X_00.png" class="hidden-sm-down col-md-2 img-fluid" alt="IN-90x :: IR Spotlights"/>

                        <p class="text-justify">All INSTAR night vision cameras use infrared LEDs that have an emission maximum around 850nm. Photons with a wavelength higher than ~750nm are invisible to the human eye, but still clearly visible to a CMOS sensor. Especially if used indoors, night vision cameras can easily illuminate a small office space. Indoor environments are ideal as walls, furniture, the floor and ceiling reflect huge amounts of IR light back to the camera, allowing you to see every detail of the room clear-as-day. The situation can look very different once you are outside of the building. Green areas like lawns, bushes and trees reflect the incoming light in such a diffuse matter, that only a fracture of the light intensity ever returns to the camera. The result is, that the camera image stays very dark at night. A person or car moving into the surveillance area will again reflect a huge amount of the IR light and will register easily. The problem is, that the camera sees mostly black and automatically increases the exposure time of every image "shot" for the live video stream, causing every tiny movement to blur the object. You often end up being unable to recognize a face or car brand, if they don´t stop for a few seconds in front of the camera for you. How do you get around this problem? Easily! Use an HD camera and install a regular floodlight with a motion switch. HD cameras have a much bigger sensor and catching a lot more light - allowing them to use shorter exposure times, which again leads to less motion blur in your images. The also react a lot faster to changes in the light conditions - if you switch on an external light. VGA cameras will be "blinded" for a while, allowing the subject to leave the surveillance area, while you are still looking at a white screen. </p>

                        <p class="text-justify">But what if you don´t need the HD resolution? What if a regular light is to obvious and you need a more discreet surveillance? The IN-900 Series Infrared Spotlights might just be what you need to supplement your existing cameras. Build to the IP65 Standard they can easily be installed, wherever you have a power outlet available. It is even possible to install them closer to the car, door or whatever is the subject of your surveillance, to focus their light to the area that counts. All models work autonomously via a twilight switch / photodiode, only switching themselves on when it gets dark. And they adjust their power output automatically according to the brightness of the surrounding. The don´t need to be wired to a camera. </p>
                    </div>

                </div>

            </section>
            <!-- Close ROW -->

            <!-- -------------------------------------------------------IN-903 ----------------------------------------- -->

              <section class="container mb">
                  <div class="row">

                      <div class="col-12 mb">
                          <h3>IN-903 Wide Angle / Low Range</h3>
                      </div>

                      <div class="col-sm-12 col-md-8">
                          <p class="text-justify">External infrared spotlight with 60 IR LEDs for a realistic range of approximately 15-20 meter with 80 degree illumination angle. For instance, this infrared spotlight is the perfect companion for the model IN-4010. But you can also use the IN-903 Spotlight with every other cameras in order to flood the captured area with more infrared light.<br><br>The infrared spotlight can be directly plugged into every power socket and has an automatic sensor which automatically turns the spotlight on and off. As soon as it gets dark the IR LEDs will activate and illuminates the area with invisible infrared light. The power usage of the spotlight is very low, compared to regular light sources, and lies around 6-8 Watt, depending on how dark the surrounding is.<br><br>Please keep in mind that objects in front of the camera will reflect IR light thus increasing the illumination. The more objects you have in front of the camera the more you will see. If you point the spotlight towards highly diffuse reflective areas, like lawns and greeneries, the amount of light reflected towards the camera will fall off dramatically, resulting in a much darker image.</p>
                      </div>

                      <div class="col-12 col-md-4">
                          <div class="card shadow">
                              <img class="card-img-top img-fluid" src="/images/IN-90X_01.jpg" alt="INSTAR Infrared Spotlights">
                              <div class="card-block">
                                <p class="card-text">The IN-903 Infrared Spotlight.</p>
                              </div>
                          </div>
                      </div>

                  </div>
                  <!-- /Row -->
              </section>
              <!-- /Container -->

              <!-- -------------------------------------------------------Table ----------------------------------------- -->

                <section class="container mb">
                    <div class="row">

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>IR Spotlight Model</th>
                                    <th>INSTAR IN-903</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Available Colours</th>
                                    <td>Black / White</td>
                                </tr>
                                <tr>
                                    <th>Illumination Angle</th>
                                    <td>80 °</td>
                                </tr>
                                <tr>
                                    <th>Range</th>
                                    <td>15 - 20 m</td>
                                </tr>
                                <tr>
                                    <th>Number of LEDs</th>
                                    <td>60 GaAlAs LEDs</td>
                                </tr>
                                <tr>
                                    <th>Wavelength</th>
                                    <td>850 nm</td>
                                </tr>
                                <tr>
                                    <th>Output /LED</th>
                                    <td>0.1 Watt</td>
                                </tr>
                                <tr>
                                    <th>Power Supply</th>
                                    <td>110 V - 220 V (50 Hz - 60 Hz)</td>
                                </tr>
                                <tr>
                                    <th>Power Consumption</th>
                                    <td>8 Watt (max.)</td>
                                </tr>
                                <tr>
                                    <th>Weight</th>
                                    <td>300 g</td>
                                </tr>
                                <tr>
                                    <th>Measurements H/W/D</th>
                                    <td>11.4 cm / 12.9 cm / 10.3 cm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

                    <!-- -------------------------------------------------------IN-905 ----------------------------------------- -->

                      <section class="container mb">
                          <div class="row">

                              <div class="col-12 mb">
                                  <h3>IN-905 Small Angle / Long Range</h3>
                              </div>

                              <div class="col-sm-12 col-md-8">
                                  <p class="text-justify">External infrared spotlight with 60 strong IR LEDs for a much longer range of approximately 20-30 meter with a smaller angle of 60 degree illumination. You can use the IN-905 Spotlight with every INSTAR cameras in order to flood the captured area with more infrared light. <br><br>The infrared spotlight can be directly plugged into every power socket and has an automatic sensor which automatically turns the spotlight on and off. As soon as it gets dark the IR LEDs will activate and illuminates the area with invisible infrared light. The power usage of the spotlight lies a little bit higher than the smaller IN-903 with 6-10 Watts depending on how dark the surrounding is. <br><br>Please keep in mind that objects in front of the camera will reflect IR light thus increasing the illumination. The more objects you have in front of the camera the more you will see. If you point the spotlight towards highly diffuse reflective areas, like lawns and greeneries, the amount of light reflected towards the camera will fall off dramatically, resulting in a much darker image. This spotlight, if used at a short distance, should be directed towards a wall or the ceiling close to the point of surveillance to use the indirect light to illuminate the area. Using the model IN-905 on short range directly, will lead to a tiny pool of light in the center. The camera will either overexpose this area to resolve the background or vice versa, leading to a background underexposed to black.</p>
                              </div>

                              <div class="col-12 col-md-4">
                                  <div class="card shadow">
                                      <img class="card-img-top img-fluid" src="/images/IN-90X_02.jpg" alt="INSTAR Infrared Spotlights">
                                      <div class="card-block">
                                        <p class="card-text">The IN-905 Infrared Spotlight.</p>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- /Row -->
                      </section>
                      <!-- /Container -->

                      <!-- -------------------------------------------------------Table 2 ----------------------------------------- -->

                        <section class="container mb">
                            <div class="row">

                            <!-- Table -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>IR Spotlight Model</th>
                                            <th>INSTAR IN-905</th>
                                            <th>INSTAR IN-905 invisible</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Available Colours</th>
                                            <td>Black / White</td>
                                            <td>Black / White</td>
                                        </tr>
                                        <tr>
                                            <th>Illumination Angle</th>
                                            <td>60 °</td>
                                            <td>60 °</td>
                                        </tr>
                                        <tr>
                                            <th>Range</th>
                                            <td>20 - 30 m</td>
                                            <td><strong>5 - 10 m</strong></td>
                                        </tr>
                                        <tr>
                                            <th>Number of LEDs</th>
                                            <td>60 GaAlAs LEDs</td>
                                            <td>60 GaAs LEDs</td>
                                        </tr>
                                        <tr>
                                            <th>Wavelength</th>
                                            <td>850 nm</td>
                                            <td>940 nm</td>
                                        </tr>
                                        <tr>
                                            <th>Output /LED</th>
                                            <td>0.2 Watt</td>
                                            <td>0.2 Watt</td>
                                        </tr>
                                        <tr>
                                            <th>Power Supply</th>
                                            <td>110 V - 220 V (50 Hz - 60 Hz)</td>
                                            <td>110 V - 220 V (50 Hz - 60 Hz)</td>
                                        </tr>
                                        <tr>
                                            <th>Power Consumption</th>
                                            <td>10 Watt (max.)</td>
                                            <td>10 Watt (max.)</td>
                                        </tr>
                                        <tr>
                                            <th>Weight</th>
                                            <td>400 g</td>
                                            <td>400 g</td>
                                        </tr>
                                        <tr>
                                            <th>Measurements H/W/D</th>
                                            <td>17 cm / 15.5 cm / 12 cm</td>
                                            <td>17 cm / 15.5 cm / 12 cm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                    </div>
                    <!-- /Row -->
                </section>
                <!-- /Container -->

                <!-- -------------------------------------------------------Installation ----------------------------------------- -->

                <section class="container mb">
                    <div class="row justify-content-around">

                        <div class="col-12 mb">
                            <h2>How to install the Spotlight</h2>
                        </div>

                        <div class="col mb">
                            <div class="card shadow" style="min-height: 300px; margin: 10px;">
                                <img class="card-img-top img-fluid" src="/images/IN-90X_03.png" alt="Spotlight Installation">
                                <div class="card-block">
                                  <p class="card-text">
                                  <span class="fa-stack">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">1</strong>
                                  </span> IN-90X IR Spotlight - Component Overview. Powerplug, Wall or Ceiling Mount and the IP65 Casing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb">
                            <div class="card shadow" style="min-height: 300px; margin: 10px;">
                                <img class="card-img-top img-fluid" src="/images/IN-90X_04.png" alt="Spotlight Installation">
                                <div class="card-block">
                                  <p class="card-text">
                                  <span class="fa-stack">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">2</strong>
                                  </span> Please plug the spotlight power cable to your 110V or 230V power socket.</p>
                                </div>
                            </div>
                        </div>

                      </div>
                      <!--/row  -->
                      <div class="row justify-content-around">

                          <div class="col mb">
                              <div class="card shadow" style="min-height: 300px; margin: 10px;">
                                  <img class="card-img-top img-fluid" src="/images/IN-90X_05.png" alt="Spotlight Installation">
                                  <div class="card-block">
                                    <p class="card-text">
                                    <span class="fa-stack">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <strong class="fa-stack-1x">3</strong>
                                    </span> Please adjust the installed spotlight so that it points in the same direction as the camera in order to get the best result.</p>
                                  </div>
                              </div>
                          </div>

                          <div class="col mb">
                              <div class="card shadow" style="min-height: 300px; margin: 10px;">
                                  <img class="card-img-top img-fluid" src="/images/IN-90X_06.png" alt="Spotlight Installation">
                                  <div class="card-block">
                                    <p class="card-text">
                                    <span class="fa-stack">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <strong class="fa-stack-1x">4</strong>
                                    </span> The spotlight should be pointed at bright surfaces to maximise the amount of infrared light reflected to the camera to achieve uniform illumination.</p>
                                  </div>
                              </div>
                          </div>

                        </div>
                        <!--/row  -->

                        <div class="clearfix"></div>

                        <div class="card card-inverse card-danger mb">
                          <div class="card-block">
                            <blockquote class="card-blockquote">
                              <p><span class="lead">Be Aware:</span><br><br>Please avoid directing the spotlight onto lawns or into open areas that won´t reflect the light. Only light that returns to the camera contributes to the lighting! You will “loose” most of the light in case of highly absorptive (black surfaces) or diffuse reflective (e.g. lawns or trees) objects.</p>
                            </blockquote>
                          </div>
                        </div>

                        <div class="col-12 mb">
                            <div class="card shadow">
                                <img class="card-img-top img-fluid" src="/images/IN-90X_07.png" alt="Spotlight Installation">
                                <div class="card-block">
                                  <p class="card-text">
                                  <span class="fa-stack">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">5</strong>
                                  </span> All spotlights employ integrated lenses on each LED to gain a high operating dinstance. In case that you rather need an even illumination instead of a wide distance, please use a thin leaf of paper or a semi-tranparent foil as a diffuser under the glass cover.</p>
                                </div>
                            </div>
                        </div>

                <!-- -------------------------------------------------------Installation ----------------------------------------- -->

                        <div class="col-12 mb">
                            <h2>Visible vs. Invisible</h2>
                            <h3 class="text-muted">Why are my IR LEDs red?</h3>
                        </div>

                        <div class="col-12 mb">
                            <div class="card shadow">
                                <img class="card-img-top img-fluid" src="/images/IN-90X_09.png" alt="Infrared Light">
                                <div class="card-block">
                                  <p class="card-text">Infrared LEDs working at 850nm - invisible to the human eye - still emit a small percentage of light that is visible as a red shimmer.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb">
                            <p class="text-justify">The nightvision capability of your INSTAR Camera utilizes infrared light with a wavelength of 850nm. Diodes in this wavelength range still emit some light in the visible range (red) which is the cause of the red gleam that you can see when looking directly into the infrared LEDs. Only the spotlight IN-905 (940) uses LEDs that are completely invisible to the human eye!</p>
                        </div>

                        <div class="col-12 mb">
                            <h4>Warning!</h4>
                            <p class="text-justify">The application of invisible 940nm diodes comes with the disadvantage of effectively halving the operating range of your spotlight! The cause for this effect is the decreased sensitivity of the imaging sensor, which is falling rapidly with the increasing wavelength in the IR region. Furthermore, there is an increase in the air’s opacity for light in the range around 900nm. The application of a 940nm spotlight is only recommended, <strong>if an invisible illumination of the observed area is deemed necessary</strong>.</p>
                        </div>

                        <div class="col-12 mb">
                            <div class="card shadow">
                                <img class="card-img-top img-fluid" src="/images/IN-90X_10.png" alt="Infrared Light">
                                <div class="card-block">
                                  <p class="card-text">The sensor response for incoming light of a higher wavelength is greatly reduced leading to a reduced sensitivity towards LEDs @940nm and a reduced range for those spotlights.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb">
                            <div class="card shadow">
                                <img class="card-img-top img-fluid" src="/images/IN-90X_08.png" alt="Infrared Light">
                                <div class="card-block">
                                  <p class="card-text">Also the air tends to work against us at higher wavelengths - the opacity rises quickly, further decreasing the range you will achieve with a 940nm light source especially in outdoor conditions.</p>
                                </div>
                            </div>
                        </div>

                  </div>
                  <!-- /Row -->
              </section>
              <!-- /Container -->

              <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

              <section class="social"><% include ../_partials/content/_social.ejs %></section>
              <!-- /social -->

              <!-- ############################################# Footer ############################################# -->

              <footer><% include ../_partials/template/_footer.ejs %></footer>

              <% include ../_partials/template/_jsdefaults.ejs %>

      </div>
      <!-- /Wrap -->

</body>

</html>
