<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Lenses/S-Mount/IN-0180">
</head>

<body class="home">

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ../_partials/amp/_ampLandingSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
    </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">

                        <div class="row">
                            <div class="twelve columns">
                                <h1>S-Mount Lenses</h1>
                                <h2>IN-0180 Wideangle</h2>
                                <h4>Compatible Camera Models</h4>
                                <ul>
                                    <li>IN-3003 Indoor Camera</li>
                                    <li>IN-4009 Outdoor PTZ Dome Camera</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_Lense_1.8mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>The angle of view of the 1.8mm wideangle lense. Field Angle (D x H x V): 109.4° x 87.7° x 67.6°.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/1,8mm_with_IRfilter_(940nm).jpg"></amp-img>
                                </div>
                                <div class="action">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>Test shot of the 1.8mm wideangle lense with 940nm IR filter on a 1/4" CMOS sensor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_1.8mm_with_IRcut.jpg"></amp-img>
                              </div>
                              <div class="action">
                                  <h3>IN-0180 Wideangle</h3>
                                  <p>Test image of the 1.8mm wideangle lense on a 1/5" CMOS sensor with IRcut filter.</p>
                              </div>
                          </div>
                            <div class="twocard invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="margin">
                            <h2>Compare All Lenses</h2>
                            <p>
                                <a href="/Products/Lenses/S-Mount/Lense_Comparison"><button class="button shadow"><span>Lense Comparison</span></button></a>
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <h2 class="post-title">IN-0180 Wideangle Lense Chart</h2>
                            <p>
                                Lense chart for the 1.8mm wideangle for the 1/4" CMOS Sensor (Width/Hight vs. Distance from the Object). <a href="http://wiki.instar.com/images/f/f9/IN-0180_Lense_Sheet.pdf" target="_blank">PDF Lense Sheet</a>
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Lens_Chart_-_1,8mm.png" width="725" height="474" layout="responsive" class="shadow"></amp-img>
                            </div>

                            <amp-lightbox id="lightbox1" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered" role="button">
                                    <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Lens_Chart_-_1,8mm.png" width="725" height="474" layout="responsive" class="shadow"></amp-img>
                                </div>
                            </amp-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>Sensing Area: </strong>
                                    </td>
                                    <td>1/5" CMOS; 5,08mm</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Lense Mount: </strong>
                                    </td>
                                    <td>S-Mount</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Focal Length: </strong>
                                    </td>
                                    <td>1.8 mm (f)</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Back Focal Lenght: </strong>
                                    </td>
                                    <td>4.60 mm</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Aperture: </strong>
                                    </td>
                                    <td>2.5</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Iris: </strong>
                                    </td>
                                    <td>Fixed</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Optical Distortion: </strong>
                                    </td>
                                    <td>
                                        < &nbsp;&nbsp;-89%</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Lense Construction: </strong>
                                    </td>
                                    <td>6 Glasses (+IR Filter)</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Focus Extent: </strong>
                                    </td>
                                    <td>20cm - ∞</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Field Angle (D x H x V): </strong>
                                    </td>
                                    <td>109.4° x 87.7° x 67.6°</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Weight: </strong>
                                    </td>
                                    <td>6.5 g</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Temperture: </strong>
                                    </td>
                                    <td>-10 - 50°C</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /margin -->

                </section>
                <!-- /blade -->
        </div>
        <!-- /Content -->
    </div>
    <!-- /WRAP -->

    <% include ../_partials/content/_bluenav-p-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
</body>

</html>
