<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Software/macOS/SecuritySpy">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-p.ejs %>

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>macOS Software</h1>
                        <h2>SecuritySpy</h2>
                        <p>
                          SecuritySpy ist a IP Surveillance Solution Software for MacOSX from the company <a href="http://www.bensoftware.com/securityspy/">Ben Software</a>. In order to integrate your INSTAR IP camera in SecuritySpy we recommend you to download the latest version from <a href="http://www.bensoftware.com/securityspy/download.html">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a Camera</h3>
                      <p>After you installed the newest version of Evocam please start the program, then open the preferences window.</p>
                      <br>
                        <amp-img
                            on="tap:lightbox1"
                            role="button"
                            tabindex="0"
                            src="/images/SecuritySpy_01.png" width="800" height="651" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Go to Settings and open the Camera Settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/SecuritySpy_02.png" width="800" height="653" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Choose your camera model and type in your camera´s IP address, it's ports (default: 80 &amp; 554) and your login. Click on Ok.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/SecuritySpy_03.png" width="800" height="654" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>And Done - your surveillance is up &amp; running.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Alarm Function</h3>
                      <br>
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/SecuritySpy_04.png" width="800" height="704" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Click on Setup to configure your camera´s Motion Detection.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/SecuritySpy_05.png" width="800" height="700" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Select if you want to record your camera´s audio stream and if you want audio above a threshold to trigger an alert.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/SecuritySpy_08.png" width="800" height="706" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>The alarm actions - like an <a href="/Motion_Detection/Alarm_Notification">email notification</a> (see also Email notification setup - is configured in the tab Actions.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Recording</h3>
                      <br>
                      <amp-img
                          on="tap:lightbox7"
                          role="button"
                          tabindex="0"
                          src="/images/SecuritySpy_06.png" width="800" height="711" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Use snapshots to create a Timelapse video. Or upload snapshots to an <a href="/Motion_Detection/FTP_Server_Setup">FTP server</a> or your <a href="/Motion_Detection/Router_as_a_FTP_Server">Router</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox8"
                          role="button"
                          tabindex="0"
                          src="/images/SecuritySpy_07.png" width="800" height="721" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Configure the video recording function and the <a href="/Motion_Detection/Router_as_a_FTP_Server">FTP Upload</a>.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-p-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
