<!DOCTYPE html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="/Products/">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "<%= headline %>",
        "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
  </script>

  <% include ../_partials/amp/_amp-boilerplate.css %>
  <% include ../_partials/amp/_ampLandingCustom.css %>

</head>

<body>

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
      <% include ../_partials/amp/_ampLandingHeader.ejs %>
  </header>

    <div class="wrap">
        <div class="content">

            <section class="large-cta">
              <div class="cta-container">
                <h1>INSTAR Wiki 2.0</h1>
                <h2>The INSTAR Product Portfolio</h2>
              </div>
            </section>

            <!-- ########################## Products ############################### -->

            <section class="tile-wall">
                <h1>INSTAR Products</h1>
                <div class="container">

                  <!-- ################################ desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Indoor_Cameras/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Indoor_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Outdoor_Cameras/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Outdoor_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Products/Lenses/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Lenses_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Software/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Software_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Downloads/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Downloads_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Products/Usermanuals/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Usermanuals_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Indoor_Cameras/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Indoor_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Indoor Cameras</h4>
                            <p>Pan &amp; Tilt IP cameras with Infrared LEDs for night vision indoor surveillance ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Outdoor_Cameras/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Outdoor_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Outdoor Cameras</h4>
                            <p>The perfect IP cameras for your outdoor surveillance Tasks ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/Lenses/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Lenses_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Lenses</h4>
                            <p>Interchangeable Lenses for your indoor and outdoor IP cameras ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Software_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Software</h4>
                            <p>IP Camera Surveillance Software for Windows, macOS, Android, iOS and other platforms ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Downloads/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Downloads_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Download Area</h4>
                            <p>Software Updates, PDF user manuals as well as Software and App downloads for your IP Camera and Surveillance Accessories ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/Usermanuals/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Usermanuals_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Usermanuals</h4>
                            <p>Up to date usermanuals for your INSTAR HD cameras ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->
                </div>
                <!-- /container -->
            </section>
            <!-- /Products -->

            <!-- ########################## WebUI ############################### -->

            <% include ../_partials/amp/_ampWebUI.ejs %>

            <!-- ########################## Products ############################### -->

            <section class="tile-wall">
                <h1>Accessories</h1>
                <div class="container">

                  <!-- ################################ desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Products/IN-LAN/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-LAN_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Products/Power_over_Ethernet/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-PoE_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Products/IN-Route/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Route_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Products/IN-Motion/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Motion_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Products/IR_Lighting/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Frared_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Products/IN-Mikro/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Mikro_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Products/IN-LAN/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-LAN_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-LAN 500 &amp; 500p</h4>
                            <p>IN-LAN is an intelligent and secure technology that lets you set up a home network easily via your household power grid - without the need of complex and expensive dedicated cabling ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/Power_over_Ethernet/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-PoE_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Power over Ethernet</h4>
                            <p>The IN-PoE 1000 will combine the network signal and power so it can be transfered over a single network cable to a PoE compatible network device ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IN-Route/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Route_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-Route P52</h4>
                            <p>The INSTAR IN-Route line offers a plug-and-play mobile wireless solution to share information between mobile devices ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IN-Motion/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Motion_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-Motion 300 &amp; 500</h4>
                            <p>The IN-Motion 500 comes with a microwave and a passive infrared motion sensor. The IN-Motion 300 is the perfect extension for your ip camera in order to minimize false alarms ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IR_Lighting/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Frared_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Infrared Spotlight</h4>
                            <p>The infrared spotlight can be directly plugged into every power socket and has an automatic sensor which automatically turns the spotlight on and off ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IN-Mikro/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Mikro_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-Mikro 380</h4>
                            <p>The IN-MIKRO 380 is a high quality active microphone which can be easily connected to your IP Camera. All you need is an IP Camera device which has a built-in audio input ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->
                </div>
                <!-- /container -->
            </section>
            <!-- /Accessories -->

            <!-- ########################## InstarVision ############################### -->

            <% include ../_partials/amp/_ampInstarVision.ejs %>

            <!-- ########################## Related ############################### -->

            <section class="social mobile-down">
                <h1>Related Chapters</h1>
                <div class="socialBox">
                  <a href="/Quick_Installation/" class="btn btnWhite btnChapter btnInstall"></a>
                  <a href="/Motion_Detection/" class="btn btnWhite btnChapter btnMotion"></a>
                  <a href="/Internet_Access/" class="btn btnWhite btnChapter btnRemote"></a>
                  <a href="/Advanced_User/" class="btn btnWhite btnChapter btnDev"></a>
                </div>
            </section>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ../_partials/amp/_amp-footer2.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
