<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>%>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                <div>
                  <h1>Usermanuals</h1>
                  <h4>Online Usermanuals for your INSTAR IP Cameras and Accessories</h4>
                </div>

                <div class="row">

                  <a href="/Outdoor_Cameras/IN-9008_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-9008HD_white.png"></amp-img>
                      <div>
                        <h3>IN-9008 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-9008HD is the first INSTAR Indoor IP Surveillance camera, utilizing our new Panasonic 1080p / fullHD image sensor.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-9008HD is the first INSTAR Indoor IP Surveillance camera, utilizing our new Panasonic 1080p / fullHD image sensor.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Indoor_Cameras/IN-8015_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-8015HD_white.png"></amp-img>
                      <div>
                        <h3>IN-8015 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-8015HD is the first INSTAR Indoor IP Surveillance camera, utilizing our new Panasonic 1080p / fullHD image sensor.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-8015HD is the first INSTAR Indoor IP Surveillance camera, utilizing our new Panasonic 1080p / fullHD image sensor.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Outdoor_Cameras/IN-7011_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-7011HD_white.png"></amp-img>
                      <div>
                        <h3>IN-7011 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-7011 HD is a weather proof dome camera which can be used inside and outside. A motor allows for change of the lenses viewing direction.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-7011 HD is a weather proof dome camera which can be used inside and outside. A motor allows for change of the lenses viewing direction.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Indoor_Cameras/IN-6014_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6014HD_white.png"></amp-img>
                      <div>
                        <h3>IN-6014 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-6014HD is truely the camera for all your needs. It is an accumulation of features and accessories combined in a single indoor camera.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-6014HD is truely the camera for all your needs. It is an accumulation of features and accessories combined in a single indoor camera.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Indoor_Cameras/IN-6012_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6012HD_white.png"></amp-img>
                      <div>
                        <h3>IN-6012 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-6012HD is an allround solution for indoor surveillance. The camera head is equipped with infrared diodes to utilize night vision.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-6012HD is an allround solution for indoor surveillance. The camera head is equipped with infrared diodes to utilize night vision.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Indoor_Cameras/IN-6001_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6001HD_white.png"></amp-img>
                      <div>
                        <h3>IN-6001 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The successor of the IN-3001 VGA camera, with the IN-6001HD you will not need much else to realize your 720p indoor surveillance system.
                        </amp-fit-text>
                        <p class="mobile-down">The successor of the IN-3001 VGA camera, with the IN-6001HD you will not need much else to realize your 720p indoor surveillance system.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Outdoor_Cameras/IN-5907_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5907HD_white.png"></amp-img>
                      <div>
                        <h3>IN-5907 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-5907 HD is weather proof and wireless outdoor camera. Thanks to the built-in high-powered infrared diodes it utilizes night vision with high performance.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-5907 HD is weather proof and wireless outdoor camera. Thanks to the built-in high-powered infrared diodes it utilizes night vision with high performance.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Outdoor_Cameras/IN-5905_HD/Usermanual/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5905HD_white.png"></amp-img>
                      <div>
                        <h3>IN-5905 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Looking for a small outdoor camera? The all new IN-5905HD, basicly a drastically smaller version of our flagship model IN-5907HD is what you are looking for!
                        </amp-fit-text>
                        <p class="mobile-down">Looking for a small outdoor camera? The all new IN-5905HD, basicly a drastically smaller version of our flagship model IN-5907HD is what you are looking for!</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Downloads/Outdoor_Cameras/IN-4011/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4011_white.png"></amp-img>
                      <div>
                        <h3>IN-4011</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-4011 is the successor of the IN-4010v2 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-4011 is the successor of the IN-4010v2 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Downloads/Outdoor_Cameras/IN-4010/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4010_white.png"></amp-img>
                      <div>
                        <h3>IN-4010</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-4010 v2 is the successor of the IN-4010 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-4010 v2 is the successor of the IN-4010 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Downloads/Outdoor_Cameras/IN-3011/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-3011_white.png"></amp-img>
                      <div>
                        <h3>IN-3011</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-3011 is an allround solution for indoor surveillance. The camera head is remotely controllable and equipped with nightvision diodes.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-3011 is an allround solution for indoor surveillance. The camera head is remotely controllable and equipped with nightvision diodes.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Downloads/Outdoor_Cameras/IN-2908/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2908_white.png"></amp-img>
                      <div>
                        <h3>IN-2908</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2905v2´s big brother - stronger Infrared nightvision and a three times optical zoom make this camera modell a clear winner.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2905v2´s big brother - stronger Infrared nightvision and a three times optical zoom make this camera modell a clear winner.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Downloads/Outdoor_Cameras/IN-2905/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2905_white.png"></amp-img>
                      <div>
                        <h3>IN-2905v2</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2905 v2 is the successor of the popular IN-2905. Dozens of Upgrades makes this camera on par with the more high-end line of INSTAR cameras.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2905 v2 is the successor of the popular IN-2905. Dozens of Upgrades makes this camera on par with the more high-end line of INSTAR cameras.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

              </section>
              <!-- /blade -->

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
