<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Cameras ############################################# -->

        <section class="container mb">
            <div class="row mt grid">

              <div class="clearfix mb"></div>
              <div class="row mb">
                    <h1>INSTAR HD IP Camera</h1>
                    <hr>
                    <h3><span class="text-muted">Safety Warnings</span></h3>
                </div>

            </div>
        </section>
        <!-- /Container -->

        <section class="container mb">
            <div class="row">
              <h2>Disclaimer</h2>
              <p class="text-justify">All technical details and descriptions in this manual have been written with the greatest care. However, INSTAR Deutschland GmbH cannot entirely exclude mistakes in this manual. Therefore, we do not assume any legal responsibility or liability, which is result of wrong information in this manual. Descriptions, technical images and technical data are subject to change according to technical progress without notice. In addition, INSTAR Deutschland GmbH reserves the right to change this product and its manual without prior notice. We do not assume any guarantee with regard to the content of this document. We appreciate any comments on mistakes or inaccuracies, which may help us to improve this product and this manual.</p>
            </div>    <!-- Close ROW -->

            <div class="row">
              <div class="col-12 col-md-6" style="margin-bottom: 20px;">
                <img src="/images/ElectricShock_Caution.png" class="img-responsive img-rounded center-block" style="box-shadow: 7px 7px 3px #888888;">
              </div>

              <div class="col-12 col-md-6">
                <div class="media col-12" style="margin-bottom: 5px;">
                  <div class="media-left" style="padding: 0 10px 10px 0;">
                    <img class="media-object" src="/images/ElectricShock_Caution_01.png" style="max-width: 65px;">
                  </div>
                  <div class="media-body" style="padding-left: 20px;">
                    <p class="text-justify">This symbol is intended to attract the user’s attention to the potential risk of dangerous unprotected voltage inside the housing. This may lead to an electric shock.</p>
                  </div>
                </div>

                <div class="media col-12" style="margin-bottom: 5px;">
                  <div class="media-left" style="padding: 0 10px 10px 0;">
                    <img class="media-object" src="/images/ElectricShock_Caution_02.png" style="max-width: 65px;">
                  </div>
                  <div class="media-body" style="padding-left: 20px;">
                    <p class="text-justify">This symbol is intended to attract the user‘s attention to use and maintenance instructions in the manual and documents enclosed to the product.</p>
                  </div>
                </div>
              </div>

            </div>    <!-- Close ROW -->
          </section>      <!-- Close CONTAINER -->


          <section class="container">
            <div class="row">
              <h2 class="sr-only">Safety Warning</h2>

              <div class="col-md-12 mb">
                <div class="media">
                  <div class="media-left hidden-xs" style="padding: 0 10px 10px 0;">
                     <img src="/images/ElectricShock_Caution_02.png" alt="General Warning" class="media-object" style="max-width:65px;">
                  </div>
                  <div class="media-body" style="padding-left: 20px;">
                    <h3 class="media-heading"><strong>Safety Warning</strong></h3>
                    <p style="text-align: justify;">The warranty claim will expire in case of damages resulting from the non-observance of this manual. We do not assume any liability for consequential damages. We do not assume any liability for damages to persons and/or material whatsoever, which result from improper handling or noncompliance with the safety instructions. The warranty claim will expire in such cases!</p>
                  </div>
                </div>
              </div>  <!-- Close MO -->

              <div class="col-md-12 mb">
                <ul>
                  <strong>Please read the following safety warnings carefully and keep them in a safe place</strong>
                  <li>Make sure the power cord is not near any hot surfaces.</li>
                  <li>Place the Power and Network cable properly so that no one can be hurt.</li>
                  <li>This device shall not be used by people (including children) with limited physical, sensory and mental capabilities. Only the trained person that knows how to use the device carefully can use the device.</li>
                  <li>Children should be supervised to make sure they don’t play with the device.</li>
                  <li>If the power cord of this device gets damaged, it can only be replaced by the manufacturer or the customer service person or a similar qualified person to avoid any damage to you and the device.</li>
                  <li>Never do any repair by yourself. By opening the device the warranty will automatically expire. If any repair is needed, please contact your INSTAR Service Center.</li>
                  <li>When cleaning, please never place the device in water.</li>
                  <li>Make sure you only install the device in a 100V - 240V power socket.</li>
                  <li>This device is only suitable for indoor use.</li>
                  <li>Only use this device to secure your home, office and similar places. If you are planning to install the device in an public area please make sure you have all certificates to do so.</li>
                  <li>Never install the device near explosive or flammable substances.</li>
                  <li>Don’t use the camera for any other purpose that it isn’t made for.</li>
                  <li>INSTAR does not give any warranty if you use any third party firmware or WebUI.</li>
                </ul>
              </div>

            </div>      <!-- Close ROW -->

            <div class="row">
              <div class="col-md-12 mb">
                <div class="media">
                  <div class="media-left hidden-xs" style="padding: 0 10px 10px 0;">
                     <img src="/images/CE_Logo.png" alt="CE Logo" class="media-object" style="max-width:100px;">
                  </div>
                  <div class="media-body" style="padding-left: 20px;">
                    <h3 class="media-heading"><strong>CE Conformity</strong></h3>
                    <p style="text-align: justify;">This device suites the basic requirements of the European regulations for electromagnetic compliance (2004/108/EC) and the low voltage regulations (2006/95/EC). If installed properly according to this manual, the product complies with CE regularities. To avoid the risk of electromagnetic interferences (e.g. with radios or radio traffic), it is highly recommended to use shielded cables only.</p>
                  </div>
                </div>
              </div>  <!-- Close MO -->
              <div class="col-md-12 mb">
                <div class="media">
                  <div class="media-left hidden-xs" style="padding: 0 10px 10px 0;">
                    <img src="/images/FCC-logo-vector.png" alt="FCC Logo" class="media-object" style="max-width:100px;">
                  </div>
                  <div class="media-body" style="padding-left: 20px;">
                    <h3 class="media-heading"><strong>FCC Conformity</strong></h3>
                    <p style="text-align: justify;">This product was tested and complies with the regularities for a class of digital devices stated under FCC part 15. These limits were specified to provide reasonable protection against harmful exposure when operating the device in a commercial environment. This product emits and uses radio energy. It may in addition interfere with other radio communication systems, if it is not installed or used according to this manual. Using the device in residential areas may cause disturbances to be possibly remedied at the user’s expense.</p>
                  </div>
                </div>
              </div>  <!-- Close MO -->
              <div class="col-md-12 mb">
                <div class="media">
                  <div class="media-left hidden-xs" style="padding: 0 10px 10px 0;">
                   <a href="/index.php/HD_Manual_Safety_Warning">
                     <img src="/images/RoHS_Logo.png" alt="RoHS Logo" class="media-object" style="max-width:100px;">
                   </a>
                  </div>
                  <div class="media-body" style="padding-left: 20px;">
                    <h3 class="media-heading"><strong>RoHS Conformity</strong></h3>
                    <p style="text-align: justify;">All INSTAR products are lead-free and meet the requirements stated under the European Directive on the Restriction of Hazardous Substances (RoHS). This guarantees that the entire production process and the product itself are free of lead and of all listed hazardous substances.</p>
                  </div>
                </div>
              </div>  <!-- Close MO -->
            </div>    <!-- Close ROW -->
          </section>    <!-- Close Container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>      <!-- Close wrap -->

    </body>

</html>
