<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/<%= model %>/Video_Streaming">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

        <div class="wrap">
            <div class="container main">
                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>Advanced User</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Advanced_User/Website_Integration">Website Integration</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/CGI_Commands">CGI Commands</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/Restore_WebUI">Restore WebUI</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/Restore_Firmware">Restore Firmware</a>
                        </li>
                        <li>
                            <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/CCTV_vs_IP">CCTV vs IP</a>
                        </li>
                    </ul>
                    <ul class="margin">
                        <li>
                            <h2>InstarVision Surveillance Solution</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Software/Windows/InstarVision">Windows</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Metro">Metro Tile App</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a>
                        </li>
                        <li>
                            <a href="/Software/Android/InstarVision">Android App</a>
                        </li>
                        <li>
                            <a href="/Software/iOS/InstarVision">iOS App</a>
                        </li>
                    </ul>
                    <ul class="margin">
                        <li>
                            <h2>Thirdparty Software</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Software/Windows/InstarVision">Windows</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Metro">macOS</a>
                        </li>
                        <li>
                            <a href="/Software/Android/InstarVision">Android App</a>
                        </li>
                        <li>
                            <a href="/Software/iOS/InstarVision">iOS App</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Windows-Phone">Other</a>
                        </li>
                    </ul>
                </nav>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">INSTAR HD Camera Video Streaming</h1>

                        <div class="row margin">
                          <h2>RTSP Streaming</h2>
                          <h4>e.g. <a href="/Software/Windows/VLC_Player">VLC Player</a></h4>
                          <p class="justify">
                            To use third party software you need the direct path for the live video in order to grap the video from your camera. You can find step-by-step instructions on how to use your cameras live stream in <a href="/Software">third-party apps</a> here.
                          </p>
                        </div>
                        <!-- /margin -->

                        <div class="row margin">
                          <h3>Access over your local network</h3>
                          <p>Please use the following path to use your camera with third party software:</p>
                          <ul>
                            <li><strong>RTSP Stream 1</strong>: <span class="code">rtsp://user:password@192.168.x.x:/11</span></li>
                            <li><strong>RTSP Stream 2</strong>: <span class="code">rtsp://user:password@192.168.x.x:/12</span></li>
                            <li><strong>RTSP Stream 3</strong>: <span class="code">rtsp://user:password@192.168.x.x:/13</span></li>
                          </ul>
                          <p><em>Please use your camera login for the user and password values: E.g. rtsp://admin:instar@192.168.1.25:554/11</em></p>
                        </div>
                        <!-- /margin -->

                        <div class="row margin">
                          <p class="justify">
                            Just substitute the “x“ according to the IP address of your camera (in case of a Netgear router the first x = 1 and and the second x = the end octet of your cameras IP). If you changed your RTSP port (standard = 554) please change the value after the IP address accordingly.
                          </p>
                        </div>
                        <!-- /margin -->

                        <div class="row margin">
                          <div class="dangercard">
                            <p><strong><u>Attention</u></strong>:</p>
                            <p class="justify">
                              To access the cameras RTSP stream through the internet you will have to forward the RTSP port (standard = 554) to your cameras IP address. See the <a href="/Internet_Access/Port_Forwarding">forwarding procedure</a> for the LAN (HTTP) Port (standard 80) for reference.
                            </p>
                          </div>
                        </div>
                        <!-- /margin -->

                        <div class="row margin">
                          <h3>Access via internet:</h3>
                          <p>Please use your DDNS address to remote access your cameras RTSP stream:</p>
                          <ul>
                            <li><strong>RTSP Stream 1</strong>: <span class="code">rtsp://Benutzer:Kennwort@xxx.ddns-instar.de:/11</span></li>
                          </ul>
                          <p>xxx = please check your personal DDNS address in the <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS Menu</a>.</p>
                        </div>
                        <!-- /margin -->

                        <div class="row margin">
                          <div class="primarycard">
                            <p><strong><u>Tip</u></strong>:</p>
                            <p class="justify">
                              Your camera offers you 3 RTSP streams with different bitrates. Please choose stream 2 or 3 if your available bandwidth is limited or you are using a computer with limited processing power (e.g. tablet). You might encounter this problem especially when accessing your camera via the internet, since normal DSL connections have a relatively low upload rates.
                            </p>
                          </div>
                        </div>
                        <!-- /margin -->

                        <div class="row margin">
                          <p class="justify">
                            <h2>MJPEG / JPG Streaming</h2>
                            To use third party software you need the direct path for the live video in order to grap the video from your camera. You can find step-by-step instructions on how to use your cameras live stream in <a href="/Software">third-party apps</a> here.
                          </p>
                        </div>
                        <!-- /margin -->

                        <div class="row margin">
                          <h3>Access over your local network:</h3>
                          <p>Please use the following path to use your camera with third party software:</p>
                          <ul>
                            <li><strong>MJPEG Stream</strong>: <span class="code">http://IP-Address:Port/cgi-bin/hi3510/mjpegstream.cgi?-chn=11&-usr=Benutzer&-pwd=Kennwort</span></li>
                            <li><strong>JPG Pfad 1</strong>: <span class="code">http://Benutzer:Kennwort@192.168.x.x/tmpfs/snap.jpg</span></li>
                            <li><strong>JPG Pfad 2</strong>: <span class="code">http://Benutzer:Kennwort@192.168.x.x/tmpfs/auto.jpg</span></li>
                            <li><strong>JPG Pfad 3</strong>: <span class="code">http://Benutzer:Kennwort@192.168.x.x/tmpfs/auto2.jpg</span></li>
                          </ul>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-p-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
