<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-<%= model %>_HD/Camera_Reset">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>


                <section class="blade wrapper content">

                    <div class="container">

                        <h1 class="post-title">INSTAR HD Camera Hardware Reset</h1>

                        <div class="row margin">
                          <h2>Restore your Camera´s Factory Settings</h2>
                          <p class="justify">
                            In order to reset your camera (if you have lost your password), please hold the small reset button in bottom part of the cameras casing - for outdoor cameras, the reset is located on the end of the camera cable - for min. 15 seconds. Please make sure the camera is connected to the power supply and disconnected from the LAN cable. In case the reset was incomplete the camera might become unresponsive. Please repeat the reset for min. 15 s and unplug it over night from the power supply before trying to restart it again.
                          </p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
