<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/<%= model %>/Safety_Warnings">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

        <div class="wrap">
            <div class="container main">

                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>Advanced User</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Advanced_User/Website_Integration">Website Integration</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/CGI_Commands">CGI Commands</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/Restore_WebUI">Restore WebUI</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/Restore_Firmware">Restore Firmware</a>
                        </li>
                        <li>
                            <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/CCTV_vs_IP">CCTV vs IP</a>
                        </li>
                    </ul>
                    <ul class="margin">
                        <li>
                            <h2>InstarVision Surveillance Solution</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Software/Windows/InstarVision">Windows</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Metro">Metro Tile App</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a>
                        </li>
                        <li>
                            <a href="/Software/Android/InstarVision">Android App</a>
                        </li>
                        <li>
                            <a href="/Software/iOS/InstarVision">iOS App</a>
                        </li>
                    </ul>
                    <ul class="margin">
                        <li>
                            <h2>Thirdparty Software</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Software/Windows/InstarVision">Windows</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Metro">macOS</a>
                        </li>
                        <li>
                            <a href="/Software/Android/InstarVision">Android App</a>
                        </li>
                        <li>
                            <a href="/Software/iOS/InstarVision">iOS App</a>
                        </li>
                        <li>
                            <a href="/Software/Windows/InstarVision_Windows-Phone">Other</a>
                        </li>
                    </ul>
                </nav>

              <section class="blade get-started">
                  <div class="container">

                    <h1 class="post-title">INSTAR <%= model %> IP Camera - Warranty</h1>

                    <div class="card-container">
                        <div class="onecard">
                            <div class="title">
                                <h3>2-year Limited Warranty</h3>
                            </div>
                            <div class="content">
                                <p class="justify">
                                  INSTAR offers a 2-year warranty on its products. During this period you can send in your camera for a free repair. This excludes cameras installed with custom-made or 3rd party Firmware and WebUIs which have not been approved by INSTAR. The warranty is only for hardware parts of the camera.
                                </p>
                                <p class="justify">
                                  If you are contacting our Service Team please keep your model and serial number ready. If you want to send your camera for repair, please use the RMA form that came with your camera. You can also download it from our website instar.de or contact the INSTAR Service Team.
                                </p>
                            </div>
                            <!-- /content -->
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <div class="card-container">
                        <div class="twocard">
                            <div class="title">
                                <h3>Company</h3>
                            </div>
                            <div class="content centered">
                                <p>INSTAR Deutschland GmbH<br/><br/>
                                Raiffeisenstraße 12<br/><br/>
                                65510<br/><br/>
                                Hünstetten-Bechtheim, Germany<br/><br/></p>
                            </div>
                            <div class="action">
                                <a href="http://www.instar.de/contact_us/"><button class="btnPrimary">Contact</button></a>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="title">
                                <h3>Hotline</h3>
                            </div>
                            <div class="content centered">
                              <p>+49 (6438) 9198992<br/><br/>
                              (Mo - Fr, 8 – 14 o’clock GMT+1)<br/><br/>
                              Website: <a href="http://instar.de">www.instar.com</a><br/><br/>
                              Email: support at instar dot com<br/><br/>
                            </div>
                            <div class="action">
                                <a href="http://www.instar.de/contact_us/"><button class="btnPrimary">Contact</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- /card-container -->

                    <div class="card-container margin">
                        <div class="onecard">
                            <div class="title">
                                <h3>General Public License</h3>
                            </div>
                            <div class="image">
                                <div class="action">
                                    <h4>This product contains software programs subject to the GPL free software license</h4>
                                    <p class="justify">
                                      This product contains software that was developed by third parties and/or software subject to the GNU General Public License (GPL) and/or the GNU Lesser General Public License (LGPL). We will send you the source code of these programs on request. The GPL and/or LGPL code used and offered in this product is EXCLUSIVE OF ANY GUARANTEE WHATSOEVER and is subject to the copyright of one or several authors. For further details, please refer to the GPL and/or LGPL code of this product and to the terms of usage of GPL and LGPL.
                                    </p>
                                    <p>You can read the complete license text at <a href="http://www.gnu.org/licenses/gpl-2.0.html">www.gnu.org</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /onecard -->

                        <div class="card-container margin">
                            <div class="onecard">
                                <div class="title">
                                    <h3>Disposal of old electrical appliances</h3>
                                </div>
                                  <div class="action">
                                      <h4>This product contains software programs subject to the GPL free software license</h4>
                                      <p class="justify">
                                        <img  alt="WEEE" height="255" width="180" src="/images/Weesymbol_180x255.jpg"/>
                                        The European Directive 2002/96/EC on Waste Electrical and Electronic Equipment (WEEE), requires that old household electrical appliances must not be disposed of in the normal unsorted municipal waste stream. Old appliances must be collected separately in order to optimize the recovery and recycling of the materials they contain and reduce the impact on human health and the environment. The crossed out “wheeled bin” symbols on the product reminds you of your obligation, that when you dispose of the appliance it must be separately collected. Consumers should contact their local authority or retailer for information concerning the correct disposal of their old appliance.
                                      </p>
                                  </div>
                            </div>
                            <!-- /onecard -->

                    </div>
                    <!-- /card-container -->

                  </div>
                  <!-- /main container -->
                </section>
                <!-- /blade -->




            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-p-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
