<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>
        <!-- #############################################  Content ############################################# -->

        <div class="container mb">
          <div class="row">
            <div class="col-12">
              <nav class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <a class="breadcrumb-item" href="/Products/Software/Windows/InstarVision">Software Overview</a>
                  <a class="breadcrumb-item" href="/Products/Software/Windows/InstarVision/Record">Recording Menu</a>
                <span class="breadcrumb-item active">Email Settings</span>
              </nav>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_Record.png" class="shadow img-fluid" alt="InstarVision 2 Webserver"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_small_Record.png" class="shadow img-fluid" alt="InstarVision 2.0 Webserver"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container">
          <div class="row">

              <div class="col-12 mt mb">
                <h1><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Side Navigation - Email Alerts</h1>
              </div>

              <div class="col-md-12 col-lg-4 mt mb" style="padding-top: 5px;">
                  <img src="/images/Image045-1.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record Menu" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-8 mt">
                <p class="lead">Let InstarVision notify you by Email whenever a Motion Alert was triggered.</p>
                <p class="text-justify"><span class="lead">SMTP PRESETS</span>  First select your camera - or keep <strong>All Channels</strong> selected to set all your camera´s at once - and check <strong>Enable Email Alert</strong> to activate the email notification service. Clicking on <strong>Default</strong> will fill out all SMTP values for you - just add your personal email address as the email receiver. The emails will be encrypted with the TLS protocol and send through an INSTAR mail server to your personal email address. Of course, you can also use one of the other presets or your personal SMTP server.</p>
              </div>

              <div class="col-12">
                  <p class="text-justify"><span class="lead">EMAIL</span>  To use the INSTAR SMTP server simply select the preset and type in your personal address in the recipient field. You can let InstarVision send emails to up to three recipients - just fill out the To, CC and BCC with your three email addresses. Please always fill out a subject line and add some text to the message body, to prevent the email being classified as spam. The amount of attached images correlates directly with the time the software will need to upload your email - keep the number of images small, if you want to be notified in a timely fashion to react to the alert.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->


      <div class="clearfix mt"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
