<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!-- #############################################  Breadcrumb ############################################# -->

        <div class="container mb">
          <div class="row">
            <div class="col-12">
              <nav class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <a class="breadcrumb-item" href="/Products/Software">Software</a>
                <a class="breadcrumb-item" href="/Products/Software/Windows">Windows Software</a>
                <a class="breadcrumb-item" href="/Products/Software/Windows/InstarVision/Windows_Phone">InstarVision Windows Phone</a>
                <span class="breadcrumb-item active">Recording</span>
              </nav>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb">
          <div class="row">

            <div class="container col-12">
            <!-- Media Container -->

              <h1>The Recording Menu</h1>
              <br>
              <br>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App7.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">1</strong>
                      </span> Clicking on Recording to access a list of all recorded videos on your smartphone.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App8.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">2</strong>
                    </span> Clicking on SD Card button on the lower right will list the content of your camera´s SD card.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App10.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">3</strong>
                    </span> Your files will be sorted in folders by days.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App11.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">4</strong>
                    </span> Day folders can have a Record folder for videos and an Images folder for snapshots.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App12.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">5</strong>
                    </span> All <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">alarm videos</a> start with the letter <strong>A</strong>, <a href="/Web_User_Interface/720p_Series/Recording/Video/">planned recordings</a> with a <strong>P</strong> and <a href="/Web_User_Interface/720p_Series/Menu_Bar/">manual recordings</a> with a <strong>N</strong>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App13.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">6</strong>
                    </span> All recordings can be screened directly from within the app.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App15.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">7</strong>
                    </span> Snapshots and Videos recorded to your phones internal memory will be displayed as thumbnails.</p>
                    </div>
                  </div>
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App16.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">8</strong>
                    </span> All snapshots can be screened directly from within the app.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /Row -->
          </section>
          <!-- /Container -->

          <!-- #############################################  Table ############################################# -->

          <section class="container mb">
            <div class="row">

              <div class="container col-12 mt mb">
              <!-- Text Container -->

              <div class="card card-inverse card-danger mb">
                <div class="card-block">
                    <p class="card-title">
                      <strong><u>Please be Aware</u></strong>:
                    </p>
                    <p class="card-text">When you connect to your camera via P2P, you will not be able to switch the <strong>Audio Detection</strong>, <strong>Ajust Video Settings</strong> (Bitrate, Contrast, Brightness, etc.) and <strong>Access Snapshots</strong> on your SD card (accessing Videos will work).</p>
                </div>
              </div>


          </div>
          <!-- / row -->
        </section>
        <!-- / container -->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
