<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/DDNS_Provider/No-IP/">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Internet_Access/DDNS_Provider/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>3rd Party DDNS Provider</h1>
                                    <h3>No-IP Managed DDNS Service</h3>
                                    <p class="intro">
                                      All INSTAR cameras come with a free Internet (<a href="/Internet_Access/The_DDNS_Service">DDNS</a>) address. This address allows you to acces your camera over the Internet, after setting up a <a href="/Internet_Access/Port_Forwarding">Port Forwarding</a> rule inside your Internet router. Using a third-party DDNS address is also possible.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>No-IP :: Managed DDNS Service</h3>
                        <p>How to use your No-IP address with your INSTAR IP camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/No-ip.com_01.png" width="800" height="414" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>To create a No-IP hostname, you first have to log in and create a user account.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/No-ip.com_03.png" width="800" height="718" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>You have to set a user name and password first. Then type in a host you want to use for your camera and choose a domain from the drop down menu.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/No-ip.com_04.png" width="800" height="439" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>You will be asked to confirm your account by an email that is send to you. After you are logged in, open the Manage Hosts link and check if your hostname was set up correctly.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/No-ip.com_5.png" width="800" height="701" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>To use your <a href="/Products/Software/Other_Platforms/QNAP">QNAP</a> or <a href="/Products/Software/Other_Platforms/Synology">Synology</a> surveillance station to keep your new No-IP address up-to-date, go to System/Network/DDNS Settings, choose www.noip.com from the dropdown menu and type in your account information. The surveillance station will now update your No-IP address every time your internet service provide assigns you a new WAN IP address</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/No-ip.com_7.png" width="800" height="427" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>To use your AVM Fritzbox router to keep your new No-IP address up-to-date, go to Internet/Freigaben, choose www.noip.com from the dropdown menu and type in your account information. Your router will now update your No-IP address every time your internet service provide assigns you a new WAN IP address.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/No-ip.com_6.png" width="800" height="524" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>To use DD-WRT router to keep your new No-IP address up-to-date, go to Setup/DDNS, choose www.noip.com from the dropdown menu and type in your account information. Your router will now update your No-IP address every time your internet service provide assigns you a new WAN IP address.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
