<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-12 mb">
                    <h1>IN-4010 V2</h1>
                    <h3 class="text-muted">Product Overview</h3>
                </div>

                <div class="col-12">
                  <img src="/images/IN-4010_Overview_width1650.png" alt="IN-4010 Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-12 mb">
                  <p class="text-justify"><strong>1.)</strong> Wifi antenna, <strong>2.)</strong> Metal wallmount, <strong>3.)</strong>  High quality metal housing, <strong>4.)</strong> Tinted plexiglas dome, <strong>5.)</strong> Remote controlled camera head, <strong>6.)</strong> Standard 4 - 9 mm infrared zoom lense, <strong>7.)</strong> RJ45 ethernet connector, <strong>8.)</strong> Alarm I/O connector for external devices, <strong>9.)</strong> Audio output for external speakers 10.)</strong> Reset button, <strong>11.)</strong> Audio In for external microphones, <strong>12.)</strong> DC power supply connector</p>
                </div>

                <div class="col-12">
                  <p class="text-justify">The IN-4010 is a dome camera for outdoor use and thanks to its pan and tilt motor it can capture the whole area. The PTZ functions can be manipulated by any computer or smartphone device and allows a comfortable way to change the position of the cameras lense. A clear picture is achieved through it optical zoom lense. In contrast to conventional upscaling the variable focal length ensures zooming capabilities with satisfying picture results. The IN-4010 comes with an active microphone which allows you to capture all noises or use it to trigger alarm events if a specific volume level is reached.</p>
                  <p class="text-justify">This camera model can easily be connected to your network by using its <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">54MBit (802.11b/g/n) Wifi module</a> or through the 100MBit network interface. This will ensure a fast stream of the cameras video.</p>
                  <p class="text-justify">For surveillance purposes, the IN-4010 is ready for implementation to your existing system. Home Automation Systems as well as NAS Systems like <a href="/Software/Other_Platforms/Synology">Synology</a> or <a href="/Software/Other_Platforms/QNAP">Qnap</a> are have integrated our cameras into their products. You will find profiles to the corresponding cameras within the systems software. But also as a stand-alone device it offers you a number of alarming features like <a href="/Motion_Detection/Alarm_Notification">Email Notification</a> or compatibility with <a href="/Products/IN-Motion">signalling devices</a>.</p>
                </div>
            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-4010 V2</h4>
                  <h6 class="card-subtitle text-muted">Outdoor IP Camera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/INSTAR_IN-4010_Infobox.png" alt="IN-4010" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Outdoor_Cameras/IN-4010_V2/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Specifications</a>
                    <a href="/Outdoor_Cameras/IN-4010_V2/Downloads" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                  <a href="http://www.instar.de/outdoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Compare</a>
                  <a href="http://www.instar.de/ip-aussenkameras/in-4010-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  Go to Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Remote controlled Pan&amp;Tilt outdoor camera with a 3 times optical zoom</li>
                <li>Very compact high quality IP65 weatherproof aluminium housing</li>
                <li>Alarm I/O for external sensors (e.g. <a href="/Products/IN-Motion">motion</a> or smoke detectors) and receivers (e.g. house automations)</li>
              </ul>

              <h3>Network</h3>

              <ul>
                <li>RJ-45 Ethernet port for an easy integration into your 100Mbit home network</li>
                <li>Compatible with <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g up to 54Mbit networks with WEP, WPA and WPA2 security</li>
                <li>DHCP and UPnP support for an automatic network integration</li>
                <li>Integrated individual <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") address</a> to access your camera through the Internet</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> and <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Web user interface allows an easy configuration and canera control through your default web browser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Manage all your cameras from your PC with the integrated multi view for up to 9 cameras (only IE)</li>
                <li>Software-based motion and audio detection and email notification with attached snapshots</li>
                <li>Record videos directly on your PC (only ActiveX)</li>
              </ul>
            </div>

      </div>
          <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
