<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ######################### Breadcrumbs ############################ -->

        <div class="container">
          <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
            <li class="breadcrumb-item"><a href="/Products/">Products</a></li>
            <li class="breadcrumb-item"><a href="/Outdoor_Cameras/">Outdoor Cameras</a></li>
            <li class="breadcrumb-item"><a href="/Outdoor_Cameras/IN-4011/">IN-4011</a></li>
            <li class="breadcrumb-item active">Technical Specifications</li>
            <li class="breadcrumb-item"><a href="http://www.instar.de/downloads/outdoor/dl_4011">Downloads</a></li>
          </ol>
        </div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

    <!-- ############################################# Table ############################################# -->


        <div class="mb offset-md-1">

          <h2 style="margin-bottom: 30px;">IN-4011 Technical Specifications</h2>

              <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                      <th><strong>Camera Model</strong></th>
                      <th><strong>INSTAR IN-4011 Outdoor PTZ Dome - Colour / IR</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Casing</th>
                      <td>Aluminium (White, Black)</td>
                    </tr>
                    <tr>
                      <th scope="row">Ingress Protection Marking</th>
                      <td>IP65 (dust tight/water resistant)</td>
                    </tr>
                    <tr>
                      <th scope="row">Image Sensor</th>
                      <td><a href="http://www.ovt.com/products/sensor.php?id=83">OV7740</a> VGA 1/5" CMOS</td>
                    </tr>
                    <tr>
                      <th scope="row">Supported Resolutions</th>
                      <td>640x480, 320x240, 160x120</td>
                    </tr>
                    <tr>
                      <th scope="row">Video Compression</th>
                      <td>MJPEG, JPG</td>
                    </tr>
                    <tr>
                      <th scope="row">Framerate</th>
                      <td>up to 30fps</td>
                    </tr>
                    <tr>
                      <th scope="row">Sensor Sensitivity</th>
                      <td>6800 mV/lux*s</td>
                    </tr>
                    <tr>
                      <th scope="row">Dynamic Range</th>
                      <td>60 dB</td>
                    </tr>
                    <tr>
                      <th scope="row">Signal/Noise</th>
                      <td>41 dB</td>
                    </tr>
                    <tr>
                      <th scope="row">Day / Night Switch</th>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <th scope="row">Min. Illumination (Colour)</th>
                      <td>0.05 Lux @ f/2.0</td>
                    </tr>
                    <tr>
                      <th scope="row">Min. Illumination (IR)</th>
                      <td>0.5 lux @ f/2.0</td>
                    </tr>
                    <tr>
                      <th scope="row"># of Parallel Streams</th>
                      <td>3</td>
                    </tr>
                    <tr>
                      <th scope="row">Whitebalance</th>
                      <td>Automatic</td>
                    </tr>
                    <tr>
                      <th scope="row">Electronic Shutter</th>
                      <td>Automatic</td>
                    </tr>
                    <tr>
                      <th scope="row">Flip / Mirror Video</th>
                      <td>Yes / Yes</td>
                    </tr>
                    <tr>
                      <th scope="row">Video Overlay</th>
                      <td>Date, Time, Camera Name</td>
                    </tr>
                    <tr>
                      <th scope="row">Video Parameter</th>
                      <td>Brightness, Contrast</td>
                    </tr>
                    <tr>
                      <th scope="row">Lense</th>
                      <td>3.7 - 14.8 mm (Manual Focus)</td>
                    </tr>
                    <tr>
                      <th scope="row">Field of View</th>
                      <td>18° - 56° Horizontal</td>
                    </tr>
                    <tr>
                      <th scope="row">Infrared LEDs</th>
                      <td>66 @ 850nm</td>
                    </tr>
                    <tr>
                      <th scope="row">Effective Range (IR)</th>
                      <td>5 - 8 m</td>
                    </tr>
                    <tr>
                      <th scope="row">intgr. IRcut Filter</th>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <th scope="row">Optical Zoom</th>
                      <td>4 times</td>
                    </tr>
                    <tr>
                      <th scope="row">Digital Zoom</th>
                      <td>No</td>
                    </tr>
                    <tr>
                      <th scope="row">Audio</th>
                      <td>Audio Out (3.5mm Headphone Jack)</td>
                    </tr>
                    <tr>
                      <th scope="row">Microphone</th>
                      <td>Audio In for external Microphones (e.g. <a href="/Products/IN-Mikro">IN-Mikro 380</a>)</td>
                    </tr>
                    <tr>
                      <th scope="row">Alert Notification</th>
                      <td>Email/FTP/HTTP/Alarm-out</td>
                    </tr>
                    <tr>
                      <th scope="row">Supported Browser</th>
                      <td>Chrome, Safari, Firefox, Internet Explorer</td>
                    </tr>
                    <tr>
                      <th scope="row">Supported Windows Software</th>
                      <td>InstarVision, Sighthound, WebcamXP, iSpy, VLC Player, etc.</td>
                    </tr>
                    <tr>
                      <th scope="row">Supported MacOSX Software</th>
                      <td>Sighthound, SecuritySpy, VLC Player, etc.</td>
                    </tr>
                    <tr>
                      <th scope="row">Supported Android Apps</th>
                      <td>InstarVision, IP Cam Viewer, Tiny Cam Monitor etc.</td>
                    </tr>
                    <tr>
                      <th scope="row">Supported iOS Apps</th>
                      <td>InstarVision, LiveCams</td>
                    </tr>
                    <tr>
                      <th scope="row">Supported Windows Phone Apps</th>
                      <td>InstarVision</td>
                    </tr>
                    <tr>
                      <th scope="row">Network Interface</th>
                      <td>10Base-T/100Base-TX Ethernet Port / WLAN IEEE 802.11b/g (only non-PoE Version) / PoE IEEE 802.3af (only non-WiFi Version)</td>
                    </tr>
                    <tr>
                      <th scope="row">Network Protocols</th>
                      <td>TCP/IP, DHCP, PPPoE, ARP, FTP, SMTP, DNS, NTP, UPnP, HTTP, TCP, UDP</td>
                    </tr>
                    <tr>
                      <th scope="row">Encryption</th>
                      <td>WEP (64/128bit), WPA/WPA2-PSK (TKIP, AES, CCMP)</td>
                    </tr>
                    <tr>
                      <th scope="row">Wifi Frequency Band</th>
                      <td>2.4GHz 802.11b/g (only non-PoE Version)</td>
                    </tr>
                    <tr>
                      <th scope="row">Wifi Antenna</th>
                      <td>10 dBi WLAN <a href="/Products/SMA_RP-SMA_Antenna_Connector">RP-SMA Antenna</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Access Protection</th>
                      <td>Username/Password - 3 Level Authorisation</td>
                    </tr>
                    <tr>
                      <th scope="row">Power Supply</th>
                      <td>110-240V ac @ 50-60Hz to 12V dc and 3000mA</td>
                    </tr>
                    <tr>
                      <th scope="row">Power Plug</th>
                      <td>1.35mm In / 3.5mm Out</td>
                    </tr>
                    <tr>
                      <th scope="row">Power Consumption</th>
                      <td>Max. 10.8 W</td>
                    </tr>
                    <tr>
                      <th scope="row">Integr. DDNS Service</th>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <th scope="row">Pan &amp; Tilt</th>
                      <td>355° / 90°</td>
                    </tr>
                    <tr>
                      <th scope="row">Measurements in [cm]</th>
                      <td>20 / 15 / 15</td>
                    </tr>
                    <tr>
                      <th scope="row">Weight</th>
                      <td>1050 g</td>
                    </tr>
                    <tr>
                      <th scope="row">Operating Temperature</th>
                      <td>-5°C - 55°C</td>
                    </tr>
                    <tr>
                      <th scope="row">Certification</th>
                      <td>CE, RoHS</td>
                    </tr>
                  </tbody>
              </table>
              </div>


            </div>
            <!-- /row -->

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

    </body>

</html>
