<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <link rel="canonical" href="/Outdoor_Cameras/IN-5905_HD/Usermanual">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-5905 HD User Manual</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <a href="/Outdoor_Cameras/IN-5905_HD/Product_Features">
                                      <amp-img role="button" tabindex="0" src="/images/Usermanuals/5905-dismantled view.png" width="1920" height="1000" layout="responsive"></amp-img>
                                    </a>
                                </div>
                            </div>
                            <!-- /onecard -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <a href="/Outdoor_Cameras/IN-5905_HD/Point2Point">
                                      <amp-img role="button" tabindex="0" src="/images/Usermanuals/P2P_Box_5905.psd.png" width="900" height="650" layout="responsive"></amp-img>
                                    </a>
                                    <div class="action">
                                        <p>Connect your camera to your local WiFi network by just pressing a button (<strong>WPS</strong>: WiFi Protected Setup) and access your camera over the internet by scanning the P2P QR Code.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Outdoor_Cameras/IN-5905_HD/Lense_Adjustment">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/Usermanuals/QL-Box_Lense-Adjust_IN-5905HD.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <h4>Adjust your cameras focal point by simply turning the lense</h4>
                                    <p class="justify">When you receive your camera, we already adjusted the focus for the camera to be operational in a general surveillance scenario. For outdoor cameras this means, that they give you an sharp image for distances between 5 and 10m. If you need a different focus distance, just open the front of your camera and turn the lense clockwise or counterclockwise, until you have your scene in focus.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Web_User_Interface/720p_Series/System/User/">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/Usermanuals/QL-Box_User_IN-6014HD.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <h4>Protect your Privacy</h4>
                                    <p class="justify">Please be aware, that you should change the default login of your camera before you <a href="/Internet_Access/Port_Forwarding">forward</a> it to the internet.Please change the password of <strong>all 3 user classes</strong> - administrator, user and visitor - so that no one can connect to your camera uninvited. If you loose your password, you can always use the <a href="/Outdoor_Cameras/IN-5905_HD/Camera_Reset">hardware reset</a> of your camera, to go back to the factory defaults.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <a href="/Internet_Access/Port_Forwarding">
                                        <amp-img role="button" tabindex="0" src="/images/Usermanuals/Portforwarding_Box.png" width="900" height="650" layout="responsive"></amp-img>
                                      </a>
                                      <div class="action">
                                          <p>In general we have to differentiate between two types of connections. One connection is the internal access which with we access the WebUI of the camera. This means that the computer as well as the camera are running in the same network and are most likely connected to the same router. You can then connect to the camera using the private IP address of the camera. The other connection is the external access to open the WebUI of the camera from outside your network. With this connection you can allow the access from anywhere in the world to your camera. No matter if you are sitting in the train using a smartphone or if you are on holidays using a laptop to access.</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="HVYMYqL9hSI" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Swap the MicroSD Card of your INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="boee4eFuJSw" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Removal of the Connection Cable INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="KegrdIwAZsI" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Installation of the Heating Element INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="82jjlxpPR4U" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Lense Adjustment INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="gstSX6QZBFo" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Alignment of the Wallmount IN 5905HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/Usermanuals/QL-Box_MotionDetection_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                      <h4>Motion Detection and Video Recording</h4>
                                      <p class="justify">Use your cameras internal image analysis to efficiently detect people, animals or cars - while moving trees, passign clouds or automatically switched light sources are ignored. Set your camera to start a video or snapshot recording on the <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">local SD card</a> and upload those files to an off-site <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP server</a>.<br><br></p>
                                  </div>
                              </div>
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/Usermanuals/QL-Box_Notification_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                      <h4>Email and Push Notification</h4>
                                      <p class="justify">Set up your camera to use the motion detection function to send you emails or push a notification to your smartphone. <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push notifications</a> (<a href="/Software/iOS/InstarVision">iOS</a> and <a href="/Software/Android/InstarVision">Android</a>) will reach you in an instance. While the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">email notification</a> might take a while, but added the bonus of attached snapshots. Activate both functions to be always informed about what is going on when you are on the road.</p>
                                  </div>
                              </div>
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
