<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-5907 HD User Manual</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <p>
                                        <amp-youtube data-videoid="QP01JnzNlss" layout="responsive" width="480" height="270"></amp-youtube>
                                    </p>
                                    <div class="action">
                                        <p class="justify">The IN-5907 HD is weather proof and wireless outdoor camera. Thanks to the built-in high-powered infrared diodes it utilizes night vision with high performance which allows you to see deep into the dark. The integrated IR cut filter on the other hand allows for the capturing of native colours, as seen by the human eye. Through the use of an efficient h.264 compression codec it is able of recording video files on a MicroSD memory card with comparably small size but best picture results.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="margin">
                          <h2>Download our Print Manual</h2>
                          <a href="/dl/IN-5907HD/QuickInstallation-IN-5907-EN_web.pdf" target="_blank"><button type="button" name="button" class="btn">PDF Usermanual</button></a>
                        </div>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <a href="/Outdoor_Cameras/IN-5907_HD/Product_Features">
                                      <amp-img role="button" tabindex="0" src="/images/Usermanuals/5907-dismantled view.png" width="1920" height="1000" layout="responsive"></amp-img>
                                    </a>
                                </div>
                            </div>
                            <!-- /onecard -->

                            <div class="margin">
                              <h2>Available Video Tutorials</h2>
                            </div>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="L_nR9qY7-8I" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Swap the MicroSD Card of your INSTAR IN-5907 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="rF60Sh863yc" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Deactivate the IR LEDs of your IP Kamera IN-5907 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="UxnCqE1YU0k" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Removal of the Connection Cable INSTAR IN-5907 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="qTNFJKNBgRo" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Installation of the Heating Element INSTAR IN-5907 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="c136CT0SypU" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Lense Adjustment INSTAR IN-5907 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="RIE2TjE_JCg" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Humidity Condensation on the Front Element IN 5907 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="JUT4XxssAfA" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>4mm Wide Angle Installation IN-5907HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/Usermanuals/QL-Box_MotionDetection_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                      <h4>Motion Detection and Video Recording</h4>
                                      <p class="justify">Use your cameras internal image analysis to efficiently detect people, animals or cars - while moving trees, passign clouds or automatically switched light sources are ignored. Set your camera to start a video or snapshot recording on the <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">local SD card</a> and upload those files to an off-site <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP server</a>.<br><br></p>
                                  </div>
                              </div>
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/Usermanuals/QL-Box_Notification_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                      <h4>Email and Push Notification</h4>
                                      <p class="justify">Set up your camera to use the motion detection function to send you emails or push a notification to your smartphone. <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push notifications</a> (<a href="/Software/iOS/InstarVision">iOS</a> and <a href="/Software/Android/InstarVision">Android</a>) will reach you in an instance. While the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">email notification</a> might take a while, but added the bonus of attached snapshots. Activate both functions to be always informed about what is going on when you are on the road.</p>
                                  </div>
                              </div>
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
