<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Outdoor_Cameras/IN-5907_HD/Point2Point">
</head>

<body class="home">

  <% include ../_partials/amp/_amp-header.ejs %>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-5907.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-5907 HD Point2Point Setup</h1>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Connect the WiFi antenna with the SMA connector on the wall mount of your camera.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Connect the power adaptor with the cable to boot up your camera.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">If your camera supports WPS (Wireless Protected Setup), simply press the WPS button (examples above).<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"> Now press the reset button on your camera´s cable tree for 3s. Then please wait for up to 5 minutes for your camera to connect to your routers WiFi.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Start our <a href="/Software/Android/InstarVision">Android</a>, <a href="/Software/iOS/InstarVision">iOS</a> or <a href="/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a> app Instar Vision. Choose to add a new p2p camera and start the QR code scanner. Your QR code is located on a lable on the camera case (s. above).</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">The QR code contains all information to add your camera. Please be aware that this Code is using the <a href="/Web_User_Interface/720p_Series/System/User/">default logins</a>! It is better to change those and scan the <a href="/Web_User_Interface/720p_Series/Network/P2P/">QR code inside the WebUI</a> instead.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_07.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">The Login can only be <a href="/Web_User_Interface/720p_Series/System/User/">changed inside the webUI</a> of your camera. The <a href="/Web_User_Interface/720p_Series/Network/P2P/">QR Code inside user interface</a> always contains the actual information.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_08.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">You can now use the app to access your camera´s Live Stream, pan&amp;tilt it, listen to it´s audio stream and record videos.<br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5907_09.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">The wps / p2p method allows you to quickly connect your camera and check the cameras live stream. Please refer to the <a href="/Products/Outdoor_Cameras/IN-5907_HD/Quick_Installation">Quick Installation Guide</a> for instruction on how to access additional camera features.</p>
                                </div>
                            </div>
                            <div class="twocard invisible">
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Table of Topics</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Safety_Warnings">
                        <h3>Safety Warnings</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Product_Features">
                        <h3>Product Features</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Quick_Installation">
                        <h3>Quick Installation</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Camera_Reset">
                        <h3>Camera Reset</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Lense_Adjustment">
                        <h3>Lense Adjustment</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Technical_Specifications">
                        <h3>Technical Specifications</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Warranty">
                        <h3>Warranty &amp; Disposal</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
