<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">

                    <div class="container">

                        <h2 class="post-title">Technical Specifications</h2>

                        <table class="margin">
                          <thead>
                              <tr>
                                <td width="30%"><h3>Camera Model</h3></td>
                                <td><h3>INSTAR IN-5905 HD</h3></td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><strong>Casing</strong></td>
                                <td>Aluminium (White, Black)</td>
                              </tr>
                              <tr>
                                <td><strong>Ingress Protection Marking</strong></td>
                                <td>IP65 (dust tight/water resistant)</td>
                              </tr>
                              <tr>
                                <td><strong>Image Sensor</strong></td>
                                <td><a href="http://www.ovt.com/products/sensor.php?id=110%20OV10633">OV10633</a> 720p 1/3" CMOS <em>Wide Dynamic Range</em></td>
                              </tr>
                              <tr>
                                <td><strong>Supported Resolutions</strong></td>
                                <td>1280 x 720, 640 x 352, 320 x 176</td>
                              </tr>
                              <tr>
                                <td><strong>Video Compression</strong></td>
                                <td>h.264, MJPEG, JPG</td>
                              </tr>
                              <tr>
                                <td><strong>h.264 Bitrate</strong></td>
                                <td>90 kbps - 6.144 kbps</td>
                              </tr>
                              <tr>
                                <td><strong>Framerate</strong></td>
                                <td>up to 25fps</td>
                              </tr>
                              <tr>
                                <td><strong>Sensor Sensitivity</strong></td>
                                <td>3650 mV/lux*s</td>
                              </tr>
                              <tr>
                                <td><strong>Dynamic Range</strong></td>
                                <td>115 dB</td>
                              </tr>
                              <tr>
                                <td><strong>Signal/Noise</strong></td>
                                <td>39 dB</td>
                              </tr>
                              <tr>
                                  <td><strong>Image Area</strong></td>
                                  <td>5510.4 x 3418.8 µm</td>
                              </tr>
                              <tr>
                                <td><strong>Day / Night Switch</strong></td>
                                <td>Yes</td>
                              </tr>
                              <tr>
                                <td><strong>Min. Illumination (Colour)</strong></td>
                                <td>0.05 Lux @ f/2.0</td>
                              </tr>
                              <tr>
                                <td><strong>Min. Illumination (IR)</strong></td>
                                <td>0 Lux @ f/2.0</td>
                              </tr>
                              <tr>
                                <td><strong># of Parallel Streams</strong></td>
                                <td>3</td>
                              </tr>
                              <tr>
                                <td><strong>Whitebalance</strong></td>
                                <td>Automatic</td>
                              </tr>
                              <tr>
                                <td><strong>Electronic Shutter</strong></td>
                                <td>Automatic</td>
                              </tr>
                              <tr>
                                <td><strong>Flip / Mirror Video</strong></td>
                                <td>Yes / Yes</td>
                              </tr>
                              <tr>
                                <td><strong>Video Overlay</strong></td>
                                <td>Date, Time, Camera Name</td>
                              </tr>
                              <tr>
                                <td><strong>Video Parameter</strong></td>
                                <td>Brightness, Contrast, Saturation</td>
                              </tr>
                              <tr>
                                <td><strong>Lense</strong></td>
                                <td>4.0 (Manual Focus) f/1.8</td>
                              </tr>
                              <tr>
                                <td><strong>Field of View</strong></td>
                                <td>78.1 ° dia.</td>
                              </tr>
                              <tr>
                                <td><strong>Infrared LEDs</strong></td>
                                <td>5 High-Power @ 850 nm</td>
                              </tr>
                              <tr>
                                <td><strong>Effective Range (IR)</strong></td>
                                <td>12-20 m</td>
                              </tr>
                              <tr>
                                <td><strong>intgr. IRcut Filter</strong></td>
                                <td>Yes</td>
                              </tr>
                              <tr>
                                <td><strong>Alarm I/O</strong></td>
                                <td>Yes (potential-free alarm-out / max. 30VDC/125VAC @ 1A) &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button on="tap:relay-specifications" class="btn btnSmall">Specifications</button>
                                </td>
                              </tr>
                              <tr>
                                <td><strong>Optical Zoom</strong></td>
                                <td>No</td>
                              </tr>
                              <tr>
                                <td><strong>Digital Zoom</strong></td>
                                <td>3 x (only ActiveX)</td>
                              </tr>
                              <tr>
                                <td><strong>SD Card</strong></td>
                                <td>Removable microSDHC card up to 32GB (4GB included)</td>
                              </tr>
                              <tr>
                                <td><strong>Audio</strong></td>
                                <td>Audio Out (Cinch)</td>
                              </tr>
                              <tr>
                                <td><strong>Microphone</strong></td>
                                <td>Audio In for external Microphones (e.g. <a href="/Products/IN-Mikro" target="_blank">IN-Mikro 380</a>)</td>
                              </tr>
                              <tr>
                                <td><strong>Alert Notification</strong></td>
                                <td>Email/FTP/HTTP/Alarm-out</td>
                              </tr>
                              <tr>
                                <td><strong>Supported Browser</strong></td>
                                <td>Chrome, Safari, Firefox, Internet Explorer</td>
                              </tr>
                              <tr>
                                <td><strong>Supported Windows Software</strong></td>
                                <td>InstarVision, Sighthound, WebcamXP, iSpy, VLC Player, etc.</td>
                              </tr>
                              <tr>
                                <td><strong>Supported MacOSX Software</strong></td>
                                <td>Sighthound, SecuritySpy, VLC Player, etc.</td>
                              </tr>
                              <tr>
                                <td><strong>Supported Android Apps</strong></td>
                                <td>InstarVision, IP Cam Viewer, Tiny Cam Monitor etc.</td>
                              </tr>
                              <tr>
                                <td><strong>Supported iOS Apps</strong></td>
                                <td>InstarVision, LiveCams</td>
                              </tr>
                              <tr>
                                <td><strong>Supported Windows Phone Apps</strong></td>
                                <td>InstarVision</td>
                              </tr>
                              <tr>
                                <td><strong>Network Interface</strong></td>
                                <td>10Base-T/100Base-TX Ethernet Port / WLAN IEEE 802.11b/g/n</td>
                              </tr>
                              <tr>
                                <td><strong>Network Protocols</strong></td>
                                <td>TCP/IP, DHCP, PPPoE, ARP, FTP, SMTP, DNS, NTP, UPnP, HTTP, TCP, UDP</td>
                              </tr>
                              <tr>
                                <td><strong>Encryption</strong></td>
                                <td>WEP (64/128bit), WPA/WPA2-PSK (TKIP, AES, CCMP)</td>
                              </tr>
                              <tr>
                                <td><strong>Wifi Frequency Band</strong></td>
                                <td>2.4GHz 802.11b/g/n</td>
                              </tr>
                              <tr>
                                <td><strong>Wifi Antenna</strong></td>
                                <td>5 dBi WLAN <a href="/Products/SMA_RP-SMA_Antenna_Connector" target="_blank">SMA Antenna</a></td>
                              </tr>
                              <tr>
                                <td><strong>Access Protection</strong></td>
                                <td>Username/Password - 3 Level Authorisation</td>
                              </tr>
                              <tr>
                                <td><strong>Power Supply</strong></td>
                                <td>110-240V ac @ 50-60Hz to 12V dc and 2000mA</td>
                              </tr>
                              <tr>
                                <td><strong>Power Plug</strong></td>
                                <td>2.1mm In / 5.5mm Out</td>
                              </tr>
                              <tr>
                                <td><strong>Power Consumption</strong></td>
                                <td>Max. 7.0 W</td>
                              </tr>
                              <tr>
                                <td><strong>Integr. DDNS Service</strong></td>
                                <td>Yes</td>
                              </tr>
                              <tr>
                                <td><strong>Pan &amp; Tilt</strong></td>
                                <td>No</td>
                              </tr>
                              <tr>
                                <td><strong>Measurements in [cm]</strong></td>
                                <td>8.7 / 8 / 26.3</td>
                              </tr>
                              <tr>
                                <td><strong>Weight</strong></td>
                                <td>930g</td>
                              </tr>
                              <tr>
                                <td><strong>Operating Temperature</strong></td>
                                <td>-5°C - 55°C</td>
                              </tr>
                              <tr>
                                <td><strong>Certification</strong></td>
                                <td>CE, FCC, RoHS</td>
                              </tr>
                            </tbody>
                        </table>

                        </div>
                        <!-- /container -->
                </section>
                <!-- /blade -->

                <!-- ################### Lightboxes ###################### -->

                <amp-lightbox id="relay-specifications" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard padding">
                        <div class="image">
                            <amp-img noloading height=469 width=530 layout=fixed src="/images/Usermanuals/HD_Camera_Alarm_Relay.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Specification Sheet Alarm Relay (HD Cameras)&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:relay-specifications.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
