<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-5905 HD User Manual</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <a href="/Outdoor_Cameras/IN-5905_HD/Product_Features">
                                      <amp-img role="button" tabindex="0" src="/images/Usermanuals/5905-dismantled view.png" width="1920" height="1000" layout="responsive"></amp-img>
                                    </a>
                                </div>
                            </div>
                            <!-- /onecard -->

                            <div class="margin">
                              <h2>Download our Print Manual</h2>
                              <a href="/dl/IN-5905HD/QuickInstallation-IN-5905-EN_web.pdf" target="_blank"><button type="button" name="button" class="btn">PDF Usermanual</button></a>
                            </div>

                            <div class="margin">
                              <h2>Available Video Tutorials</h2>
                            </div>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="HVYMYqL9hSI" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Swap the MicroSD Card of your INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="boee4eFuJSw" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Removal of the Connection Cable INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="KegrdIwAZsI" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Installation of the Heating Element INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="82jjlxpPR4U" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Lense Adjustment INSTAR IN-5905 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="gstSX6QZBFo" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Alignment of the Wallmount IN 5905HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
