<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-5905_HD/Quick_Installation">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <div>
                          <table class="no-highlight">
                            <tr>
                              <td>
                                <h1 class="inlineHeader">IN-5905 HD Quick Installation&nbsp;&nbsp;&nbsp;</h1>
                              </td>
                              <td>
                                <a href="/Outdoor_Cameras/IN-5905_HD/Point2Point/" target="_blank"><button class="navGo navGoRed">Shortcut</button></a>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <!-- /margin -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Connect the WiFi antenna with the SMA connector of your camera.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Plug in the power adapter connect it with the power connector on your camera´s cable tree.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">It is recommended to set your routers Wifi channel to an unoccupied number, and set the encryption to WPA2/AES (or CCMP).<br><br><br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>A</strong> Press the WPS button (s. above) on your router.<br><strong>B</strong> Press the camera´s reset button for 3s (image on the left). Be aware that holding it for longer than 10s will result in a camera reset.<br><strong>C</strong> The camera will now automatically connect to your Wifi network. Please skip to step 7 (for PC or Mac) or 14 (for smartphone).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">To establish a LAN connection, plug in the Ethernet cable to the RJ-45 on your cameras cable tree.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Plug the other end of the Ethernet cable into a free LAN port of your router or switch.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_07.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Now start the <a href="http://install.instar.de/en/optional_tool_en.html">IP Camera Tool</a> from the Software CD and double-click the name of your camera.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_08.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Standard Login user/password: <strong>admin / instar</strong> for administrators, <strong>user / instar</strong> for regular users and <strong>guest / instar</strong> for guest.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_09.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Activate the WiFi card of your camera <a href="/Web_User_Interface/720p_Series/Network/WiFi/">inside the WebUI</a> and start searching for WiFi signals. Select your WiFi, add your key and safe the settings. Restart your camera and unplug the LAN cable.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_12.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">To access your camera over the internet, you have to forward the HTTP Port inside your router (default “80”) To access the <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Flash videostream</a> inside the WebUI, you also have to forward the <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">RTMP Port (Standard “1935”)</a>.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_13.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">To access your camera from your <a href="/Software/Android/InstarVision">Android</a>, <a href="/Software/iOS/InstarVision">iOS</a> or <a href="/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a> smartphone please download the InstarVision® App from the App Store.<br><br><br><br><br></p>
                              </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_14.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">The <a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P function</a> allows you acces your camera over the internet without the need for a port forwarding (s.#12). Simply add a P2P camera to our smartphone app and scan the <a href="/Web_User_Interface/720p_Series/Network/P2P/">QR Code inside the WebUI</a>. Please be aware that you will have to use the administrator login for your camera (s.#8).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
