<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                      <h1 class="post-title">IN-9008 Full HD User Manual</h1>

                      <div class="card-container">
                        <div class="onecard">
                          <div class="image">
                              <amp-youtube data-videoid="ckKuHQFU-Pc" layout="responsive" width="480" height="270"></amp-youtube>
                            </div>
                            <div class="action">
                              <p class="justify">The IN-9008 Full HD is weather proof and wireless outdoor camera. Thanks to the built-in high-powered infrared diodes it utilizes night vision with high performance which allows you to see deep into the dark. The integrated IR cut filter on the other hand allows for the capturing of native colours, as seen by the human eye.</p>
                            </div>
                          </div>
                          <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                            <div class="margin">
                              <h2>Download our Print Manual</h2>
                              <a href="/dl/IN-9008HD/QuickInstallation-1080p-IN-9008HD.pdf" target="_blank"><button type="button" name="button" class="btn">PDF Usermanual</button></a>
                            </div>

                        <div class="margin">
                            <h2>Online Product Description</h2>
                            <h3>Table of Content</h3>
                            <ul>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/">Overview</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Usermanual/">Online Usermanual</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">Camera Installation</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Safety_Warnings">Safety Warnings</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Product_Features">Product Features</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications">Technical Specifications</a></li>
                              <li><a href="/Fragen_und_Antworten#IN-9008HD">Q &amp; A</a></li>
                              <li><a href="/Web_User_Interface/1080p_Series/">Web User Interface</a></li>
                              <li><a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a></li>
                              <li><a href="/Downloads/Outdoor_Cameras/IN-9008_HD">Downloads</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Video_Streaming">Video Streaming</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Camera_Reset">Reset your Camera</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Lense_Adjustment">Lense Adjustment</a></li>
                              <li><a href="/Outdoor_Cameras/IN-9008_HD/Warranty">Warranty &amp; Disposal</a></li>
                            </ul>
                        </div>

                        <div class="card-container">
                          <div class="onecard">
                            <div class="image">
                                <amp-youtube data-videoid="m66PEKpBMwo" layout="responsive" width="480" height="270"></amp-youtube>
                              </div>
                            </div>
                            <!-- /onecard -->
                          </div>
                          <!-- /card-container -->

                            <div class="margin">
                              <h2>Frequently Asked Questions</h2>

                              <amp-accordion disable-session-states>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Store your Video Recordings</h3>
                                  <p class="content">Es gibt insgesamt <strong>fünf</strong> verschiedene Speichermöglichkeiten bei unseren Überwachungskameras:<br> <b>1.</b> Alle unserer HD Videoüberwachungskameras haben eine eingebaute <strong>SD-Karte</strong> mit 4GB, 8GB oder 16GB, je nach Modell. Sie können berechnen, wie lange die SD-Karte aufnehmen kann. Schauen Sie dafür <a href="http://www.instar.de/tools/calc_sdcapacity">hier</a>. Standardmäßig werden bei voller SD-Karte die ältesten Aufnahmen überschrieben.<br>
                                  <b>2.</b> Wir bieten für die Speicherung der Alarmvideos eine eigene <strong>Cloud</strong>-Lösung an. Mit der INSTAR Cloudspeicherung erhalten Sie eine übersichtliche Oberfläche und Anordnung Ihrer Sicherheitskameras-, sowie deren Aufnahmen. Dies hat den Vorteil, dass, sollte die IP Kamera zerstört- oder die SD-Karte entnommen werden, Ihre Aufnahmen auf der Cloud erhalten bleiben und nicht verloren gehen.<br>
                                  <b>3.</b> Sie können die InstarVision 2.0, eine <strong>Windows PC Software</strong> von uns, einsetzen. Mit dieser Software sind Sie nicht nur in der Lage, die Kameras komfortabel anzuzeigen und zu verwalten, Sie können auch Aufnahmen und Alarmvideos auf dem Computer speichern. Der Computer muss für die Aufnahme durchgehend laufen.<br>
                                  <b>4.</b> Sie haben auch die Möglichkeit, Videoalarme per <strong>FTP</strong> (File Transfer Protocol) zu versenden, zB an einen USB-Stick an Ihrem Router. Die Verwaltung und das Löschen der Videodaten auf dem FTP Server kann dabei jedoch nicht über die Kamera geschehen, die Kameras können die Daten lediglich übertragen.<br>
                                  <b>5.</b> Wenn Sie keinen PC laufen lassen möchten, dann gibt es auch <strong>NAS Systeme</strong>, z. B. von Synology und QNAP, diese haben eine eigene Videoüberwachungssoftware und können das Livevideo unserer Überwachungskamera abgreifen und entsprechend verarbeiten. Endgeräte der Firmen Synology und QNAP vertreiben wir selbst nicht, wir haben aber gute Erfahrungen mit Produkten dieser Firmen gemacht und können diese daher empfehlen. All unsere HD und FullHD Kameras sind kompatibel.<br> <b>Zusatz:</b> Sie können sich außerdem Alarm-Fotos per E-Mail sofort zuschicken lassen. Somit werden Sie nicht nur umgehend informiert, sondern können die Alarmaufnahmen auch in Ihrem E-Mail-Postfach speichern.</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Access your Camera with your Smartphone</h3>
                                  <p class="content">Mit unserer kostenlosen App <strong>InstarVision</strong> für Android, iPhone, iPad &amp; Windows Phone können Sie einfach das Livebild Ihrer Sicherheitskamera aufrufen. Ausserdem können Sie mit der App von unterwegs jederzeit auf die Speicherkarte zugreifen und sich die Videos anschauen, die aufgenommen wurden. Auch Anwendungen, wie z. B. Alarm ein-/ausschalten oder die Kamera als Gegensprechanlage zu nutzen, können Sie damit realisieren.</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Connection Cable for Outdoor Cameras</h3>
                                  <p class="content">Abgesehen von unseren FullHD-Modellen haben alle unsere Außenkameras eine sogenannte Kabelpeitsche, an der sich sämtliche Anschlüsse befinden. Dieser Kabelbaum ist 80cm lang und relativ dick. Um kein grosses Loch in die Hauswand, etc. bohren zu müssen, kann man das <strong>Anschlusskabel von der Sicherheitskamera lösen</strong> und so das dünnere Ende durch die Mauer führen. Ein Anleitungs-Video zur Umsetzung finden Sie <a href="https://www.youtube.com/watch?v=UxnCqE1YU0k">hier</a>.<br>
                                    Von einem Abschneiden nicht benötigter Kabel raten wir dringend ab. Nicht nur verlieren Sie dadurch die Garantie für Ihre Überwachungskamera, sondern Sie riskieren auch irreparable Schäden an der Kamera. Eine Lösung wäre das Kabel
                                    in einer wetterfesten Kabelbox zu verlegen, wie man sie im Baumarkt findet (Wir selbst bieten solch ein Produkt nicht an). Dabei ist zu beachten, dass die Kabel von unten und nicht von oben in die Box führen, sodass z. B. Regen
                                    nicht am Kabel entlang in die Box laufen kann.</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Heating Element for Outdoor Cameras</h3>
                                  <p class="content">Ob eine Heizung für Ihre Überwachungskamera notwendig ist oder nicht hängt vom Einsatzort ab. Die Kameras sind bei bis zu -5 Grad Celsius ohne Probleme einsatzbereit. Sollte es mal kälter werden und/oder die Kamera stark dem Wetter ausgesetzt sein, was in vielen Regionen Deutschlands der Fall ist, wird die Kamera keinen bleibenden Schaden abbekommen. Aber es kann passieren, dass die Aussenkamera sich ausschaltet und vorübergehend nicht erreichbar ist. Der Einabu einer Heizung kann dann den dauerhaften Betrieb der Kamera sicherstellen.</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Zoom Lense</h3>
                                  <p class="content">All unsere HD und FullHD Überwachungskameras haben keinen optischen Zoom, sondern einen digitalen Zoom. Beim digitalen Zoom werden die vorhandenen Bildinformationen sozusagen "hochgerechnet", die Pixel werden also einfach vergrößert. Bei unseren HD Kameras liefert der digitale Zoom Ihnen dennoch eine bessere Bildqualität als die optische Zoomfunktion der alten VGA-Serie.</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Battery &amp; SIM-Card</h3>
                                  <p class="content">Unsere Kameras verfügen über <strong>keinen Akku</strong>, das heißt, die Kamera bedarf einer externen Stromversorgung, entweder über das mitgelieferte Netzteil oder, im Falle von Power over Ethernet (PoE) Überwachungskameras, über das Netzwerkkabel. Mehr Informationen zu unseren PoE Sicherheitskameras finden Sie <a href="https://www.instar.de/poe-netzwerkkameras.html">hier</a>.<br>Unsere Kameras haben <strong>keinen Sim-Karten-Slot</strong>. Wollen Sie die Kamera an einem Ort verwenden, an dem es keinen Internet-Zugang gibt, haben Sie die Möglichkeit einen mobilen LTE Router oder 3G Router zu verwenden und diesen mit einer Sim-Karte auszustatten. Die Kamera kann dann über diesen Router mit dem Internet verbunden werden und Ihnen den Zugriff über die App ermöglichen. Wir selbst bieten solche Router nicht an, Sie können sich aber bei einem Elektronik-Fachmarkt Ihrer Wahl darüber informieren.</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Alarm Video Duration</h3>
                                  <p class="content">Die Alarmaufnahme auf die SD Karte beginnt 3 Sekunden vor dem auslösenden Ereignis und läuft bis 15 Sekunden nach dem Alarmereignis weiter - insgesamt sind die Videos somit 17-18s lang. Sollte die Bewegung vor der Kamera weitergehen, wird umgehend ein neues 15-sekündiges Video angelegt.</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Timelapse Recording</h3>
                                  <p class="content">Mit unseren Überwachungskameras können Sie auch Zeitraffer-Aufnahmen erstellen. Sollten Sie z. B. den Fortschritt einer Baustelle dokumentieren wollen, wären unsere Kameras ideal. Über die Benutzeroberfläche (Aufnahme -&gt; Fotoserie) können Sie der Sicherheitskamera den Befehl geben, in von Ihnen festgelegten Intervallen einen Screenshot zu erstellen, die Sie anschließend in ein Zeitraffer-Video zusammenfügen können. Sie können auch über die Option „Zeitplan“ gewisse Zeiten rausnehmen, z. B. wenn Sie nachts keine Aufnahmen erstellen lassen möchten. Das kleinste Zeitintervall für die Screenshots beträgt eine Minute, der größte 24 Stunden. Wie genau Sie diese Einstellungen vornehmen und ein Zeitraffer-Video erstellen können, ist <a href="/Software/Windows/InstarVision/Record/Photoseries">hier</a> noch einmal im Detail erklärt</p>
                                </section>
                                <section>
                                  <h3 class="cgi-accordion-header">+ Synology Surveillance Station or QNAP NAS</h3>
                                  <p class="content">Synology und QNAP haben eine eigene Videoüberwachungssoftware und können das Livevideo unserer Überwachungskamera abgreifen und entsprechend verarbeiten. Endgeräte der Firmen Synology und QNAP vertreiben wir selbst nicht, wir haben aber gute Erfahrungen mit Produkten dieser Firmen gemacht und können diese daher empfehlen. All unsere HD und FullHD Kameras sind kompatibel. Für die Einbindung in eine Synology NAS haben wir <a href="https://wiki.instar.de/Software/Other_Platforms/Synology/">hier</a> ein Video.</p>
                                </section>
                              </amp-accordion>
                            </div>
                            <!-- / margin -->

                            <h2>Available Youtube Videos</h2>

                            <div class="card-container">
                              <div class="twocard">
                                <div class="image">
                                    <amp-youtube data-videoid="cjZiahbYuyM" layout="responsive" width="480" height="270"></amp-youtube>
                                  </div>
                                  <div class="action">
                                    <p>IN-9008 Wall Installation</p>
                                  </div>
                                </div>
                                <!-- /twocard -->
                                <div class="twocard">
                                  <div class="image">
                                      <amp-youtube data-videoid="esQdkQvb5uo" layout="responsive" width="480" height="270"></amp-youtube>
                                    </div>
                                    <div class="action">
                                      <p>IN-9008 Upgrade SD Card</p>
                                    </div>
                                  </div>
                                  <!-- /twocard -->
                              </div>
                              <!-- /card-container -->

                              <div class="card-container">
                                <div class="twocard">
                                  <div class="image">
                                      <amp-youtube data-videoid="WwSciz3Fhc8" layout="responsive" width="480" height="270"></amp-youtube>
                                    </div>
                                    <div class="action">
                                      <p>IN-9008 Disable PIR Sensor or Microphone</p>
                                    </div>
                                  </div>
                                  <!-- /twocard -->
                                  <div class="twocard">
                                    <div class="image">
                                        <amp-youtube data-videoid="DDXWICprHwA" layout="responsive" width="480" height="270"></amp-youtube>
                                      </div>
                                      <div class="action">
                                        <p>IN-9008 Lense Adjustment</p>
                                      </div>
                                    </div>
                                    <!-- /twocard -->
                                </div>
                                <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
