<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-9008_HD/Lense_Adjustment">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">
                    <div class="container">

                        <h1 class="post-title">IN-9008 HD Lense Adjustment</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                  <div class="action">
                                    <h3>Manual focus adjustment for your IN-9008 HD<br><br></h3>
                                    <p class="justify">When you receive your camera, we already adjusted the focus for the camera to be operational in a general surveillance scenario. For your IN-9008 HD this means, that they give you an sharp image for distances between 5 and 10m. If you need a different focus distance, just turn the camera lense clockwise or counterclockwise, until you have your scene in focus.</p>
                                  </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Lense-Adjust_5905_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>I.</strong> Please remove the top cover of your IN-9008 HD. Make sure not to lose the plastic ring under the white screw which is for waterproof purpose!</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Lense-Adjust_5905_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>II.</strong> Loosen two screws of the back casing and open the casing caerfullyand make sure not to damage any cables.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Lense-Adjust_5905_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>III.</strong> Remove the three screws (marked in red) which fixes the electronics to the front casing. Attention! Don’t touch the screws with a hexagon mark underneath.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Lense-Adjust_5905_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>IV.</strong> Carefully take out the inner electronics. This part is still wired to the LED board on the front. Please be careful not to damage the cables or the connectors.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Lense-Adjust_5905_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>V.</strong> Loosen the fixing screw on the outer ring of the lens (marked in red color). The bottom screw (marked in blue) belongs to the lens mount and does not need to be loosen.<br><br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Lense-Adjust_5905_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>VI.</strong> Now please connect the camera to your network and access the WebUI. Then turn the front of the lens while keeping an eye on the camera feed until the image is sharp and clear. Tighten the fixing screw. While checking for the right focal, please be careful not to accidently screw the whole lens out of the mount.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="action">
                                    <p class="justify"><strong>VII.</strong> After you obtained the right focal, please carefully put everything back together by following this guide in reverse. When inserting the lens into the front case, please pay attention to the inner cables. Make sure they don’t obstruct the view and avoid squeezing any cables.</p>
                                </div>
                                <div class="image">
                                    <p>
                                        <amp-youtube data-videoid="82jjlxpPR4U" layout="responsive" width="480" height="270"></amp-youtube>
                                    </p>
                                    <div class="action">
                                        <p>Lense Adjustment INSTAR IN-9008 HD.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
