<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">

                    <h1 class="post-title">IN-9008 Full HD</h1>

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <div class="action">
                                <h3>Scope of Delivery</h3>
                              </div>
                                <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-9008HD_Scope_of_Delivery.png" width="1218" height="306" layout="responsive"></amp-img>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <div class="action">
                                <h3>Camera Structure</h3>
                              </div>
                              <a href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications">
                                <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-9008HD_Product-Overview.png" width="1200" height="995" layout="responsive"></amp-img>
                              </a>
                              <div class="action">

                                  <table class="table margin">
                                    <tr>
                                      <th>#</th>
                                      <th>Component</th>
                                      <th>Function</th>
                                    </tr>

                                    <tr>
                                      <th scope="row" width="10%">1</th>
                                      <td width="30%">Infrared LEDs</td>
                                      <td>5x High-power infrared LED´s for night vision @850nm</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Lense</td>
                                      <td>Wide Angle (focal length 4.2mm)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">3</th>
                                      <td>Photosensor</td>
                                      <td>Twilight Switch for IR LEDs</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">4</th>
                                      <td>PIR Detector</td>
                                      <td>Integrated Panasonic Passive Infrared (PIR) Motion Detector
                                      &nbsp;&nbsp;
                                      <button on="tap:pir-sensor" class="btn btnSmall">Specifications</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">5</th>
                                      <td>Microphone</td>
                                      <td>For Noise Detection / Audio Recording / Two-way Audio Communication</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">6</th>
                                      <td>Audio Output</td>
                                      <td>3.5mm Jack for Earphone / Active Speaker</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">7</th>
                                      <td>Network Port</td>
                                      <td>RJ45 LAN Port for the provided CAT5e Ethernet Cable (or higher)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">8</th>
                                      <td>Power Connector</td>
                                      <td>For included 12V / 2A dc Powersupply</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">9</th>
                                      <td>Micro SD Card</td>
                                      <td>Slot for MicroSD/SDXC Cards up to 128 GB (16 GB included)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10</th>
                                      <td>WPS / Reset</td>
                                      <td>3s for WiFi Setup / 15s for Reset to Factory Defaults
                                      &nbsp;&nbsp;
                                      <button on="tap:reset-button" class="btn btnSmall">Location</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11</th>
                                      <td>Status LEDs</td>
                                      <td>Red: Power, Blue: Network Status
                                      &nbsp;&nbsp;
                                      <button on="tap:status-leds" class="btn btnSmall">Information</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12</th>
                                      <td>Antenna Connector</td>
                                      <td><a href="/Products/SMA_RP-SMA_Antenna_Connector" target="_blank">RP-SMA</a> WiFi Antenna Connector</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">13</th>
                                      <td>WiFi Antenna</td>
                                      <td>3 dBi Antenna (<a href="/Products/SMA_RP-SMA_Antenna_Connector" target="_blank">RP-SMA</a>)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">14</th>
                                      <td>Cable Feedthrough</td>
                                      <td>IP65 Weatherproof with Rubber Sealings for 3, 2 or 1 Cables. Please check out our <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">Quick Installation Guide</a> on how to attach your Camera Cables
                                      &nbsp;&nbsp;
                                      <button on="tap:feedthrough" class="btn btnSmall">Specifications</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">15</th>
                                      <td>Sealing Ring</td>
                                      <td>Rubber Sealing Rings for 3, 2 or 1 Cables. Please check out our <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">Quick Installation Guide</a> on how to attach your Camera Cables
                                      &nbsp;&nbsp;
                                      <button on="tap:sealing-ring" class="btn btnSmall">Specifications</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">16</th>
                                      <td>Nut</td>
                                      <td>To close the Cable Feedthrough and Weatherseal it.</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">17</th>
                                      <td>Bracket</td>
                                      <td>Wall- and Ceilingmount.
                                      &nbsp;&nbsp;
                                      <button on="tap:bracket" class="btn btnSmall">Specifications</button>
                                    <button on="tap:bracket-installation" class="btn btnSmall">Installation</button></td>
                                    </tr>
                                  </table>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <p class="justify">The IN-9008 Full HD is weather proof and wireless outdoor camera. Thanks to the built-in high-powered infrared diodes it utilizes night vision with high performance which allows you to see deep into the dark. The integrated IR cut filter on the other hand allows for the capturing of native colours, as seen by the human eye. Through the use of an efficient h.264 compression codec it is able of recording video files on a <a href="/Motion_Detection/SD_Card_Access">MicroSD memory card</a> with comparably small size but best picture results.<br><br>
                    For surveillance purposes, the IN-9008 HD is ready for implementation to your existing system. With the help of the handy Onvif Protocol, integration is just a few button presses away. But also as a stand-alone device it offers you a number of alarming features like Email Notification or compatibility with <a href="/Products/IN-Motion">signalling devices</a>.<br><br>
                    Many built-in features allows you to use this camera not only for surveillance, but also for your personal projects. The <a href="/Motion_Detection/Alarm_FTP_Upload">FTP support</a> allows you to use the IN-9008 HD as a multi functional outdoor webcam for integration on your website.</p>

                </section>
                <!-- /blade -->

                <amp-lightbox id="pir-sensor" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=800 width=1200 layout=responsive src="/images/Usermanuals/PaPIR_Specifications.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Panasonic PaPIR EKMC16 Technical Specifications&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:pir-sensor.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="status-leds" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="twelve columns content">
                          <table>
                            <tr>
                              <th>State</th>
                              <td>Blue LED</td>
                              <td>Red LED</td>
                            </tr>
                            <tr>
                              <th>Constant on</th>
                              <td>Connected to WiFi</td>
                              <td>N/A</td>
                            </tr>
                            <tr>
                              <th>Slow Flashing</th>
                              <td>Connecting via WPS</td>
                              <td>Normal Operation</td>
                            </tr>
                            <tr>
                              <th>Fast FLashing</th>
                              <td>N/A</td>
                              <td>Upgrading Firmware</td>
                            </tr>
                            <tr>
                              <th>Off</th>
                              <td>Camera Unplugged</td>
                              <td>Camera Unplugged</td>
                            </tr>
                          </table>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Status LEDs&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:status-leds.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="reset-button" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=596 width=632 layout=fixed src="/images/Usermanuals/IN-9008HD_Camera_Reset.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Press 3s for WPS or 15s for Camera Reset&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:reset-button.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="feedthrough" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=300 width=1194 layout=responsive src="/images/Usermanuals/IN-9008HD_Cable_Feedthrough.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">IP65 Weatherproof Cable Feedthrough&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:feedthrough.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="sealing-ring" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=720 width=1140 layout=responsive src="/images/Usermanuals/IN-9008HD_Sealing_Ring.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Cable Feedthrough Sealing Rings&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:sealing-ring.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="bracket" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=882 width=1152 layout=responsive src="/images/Usermanuals/IN-9008HD_Bracket.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Camera Bracket&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:bracket.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="bracket-installation" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=522 width=1206 layout=responsive src="/images/Usermanuals/IN-9008HD_Wall_Ceiling_Mount.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Wall and Ceiling Installation&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:bracket-installation.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
