<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-9008.ejs %>

                <section class="blade get-started">
                    <div class="container">

                      <div class="margin">
                        <table>
                          <tr>
                            <td>
                              <h1 class="inlineHeader">IN-9008 HD Quick Installation&nbsp;&nbsp;&nbsp;</h1>
                              <h4>Wifi Only</h4>
                            </td>
                            <td>
                              <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation/"><button class="navGo navGoRed">Section I</button></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!-- /margin -->

                      <div class="card-container">
                          <div class="onecard">
                              <div class="title">
                                  <h3><span class="strong">II-a</span>   Power Cable</h3>
                              </div>
                              <div class="image">
                                  <amp-img
                                      on="tap:lightbox5"
                                      role="button"
                                      tabindex="0"
                                      src="/images/IN-9008-Quick-Installation-II-A.png" width="842" height="595" layout="responsive">
                                  </amp-img>
                                  <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                                  <div class="action">
                                      <p>Thread the power cable through the wallmount, screw cap, 1-holed sealing ring and the backplate of your camera.</p>
                                  </div>
                              </div>
                          </div>
                          <!-- /onecard -->
                      </div>
                      <!-- /card-container -->

                      <div class="card-container">
                          <div class="onecard">
                              <div class="title">
                                  <h3><span class="strong">II-b</span>   Sealing Ring</h3>
                              </div>
                              <div class="image">
                                  <amp-img
                                      on="tap:lightbox6"
                                      role="button"
                                      tabindex="0"
                                      src="/images/IN-9008-Quick-Installation-II-B.png" width="842" height="595" layout="responsive">
                                  </amp-img>
                                  <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                                  <div class="action">
                                      <p>Loosen plastic mount for the sealing ring in the middle of the backplate. Press the sealing ring into it´s mount and fasten it with the screw cap.</p>
                                  </div>
                              </div>
                          </div>
                          <!-- /onecard -->
                      </div>
                      <!-- /card-container -->

                      <div class="card-container">
                          <div class="onecard">
                              <div class="title">
                                  <h3><span class="strong">II-c</span>   Power &amp; Antenna Cable</h3>
                              </div>
                              <div class="image">
                                  <amp-img
                                      on="tap:lightbox7"
                                      role="button"
                                      tabindex="0"
                                      src="/images/IN-9008-Quick-Installation-II-C.png" width="842" height="595" layout="responsive">
                                  </amp-img>
                                  <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                                  <div class="action">
                                      <p>Plug in the Power Supply and Antenna Cable (if previously removed).</p>
                                  </div>
                              </div>
                          </div>
                          <!-- /onecard -->
                      </div>
                      <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-d</span>   Option I - Ethernet</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Tile_9008_Step_09.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p class="text-justify">Connect your camera´s Ethernet cable with the Ethernet Port to conncet your camera to a free LAN port on your internet router. (<strong>Recommended</strong>)</p>
                                </div>
                                <div class="action">
                                    <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation/PoE_or_WiFi/Ethernet"><button class="btnPrimary">More</button></a>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-e</span>   Option II - WPS</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/QI-P2P_Tile_9008_Step_06.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p class="text-justify">If your router offers a WPS function, activate the WPS mode and press your camera´s WPS button to connect your camera <strong>without an Ethernet cable</strong>.</p>
                                </div>
                                <div class="action">
                                    <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation/PoE_or_WiFi/WPS"><button class="btnPrimary">More</button></a>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Table of Topics</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Safety_Warnings">
                        <h3>Safety Warnings</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Product_Features">
                        <h3>Product Features</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Quick_Installation">
                        <h3>Quick Installation</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Camera_Reset">
                        <h3>Camera Reset</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Lense_Adjustment">
                        <h3>Lense Adjustment</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Technical_Specifications">
                        <h3>Technical Specifications</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Warranty">
                        <h3>Warranty &amp; Disposal</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
