<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

            <section class="blade wrapper content">
                <!-- section -->

                <div>
                  <h1>INSTAR Outdoor Cameras</h1>
                  <h4>INSTAR IP Cameras for your Outdoor Surveillance</h4>
                </div>

                <div class="row">

                  <a href="/Outdoor_Cameras/IN-9008_HD/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-9008HD_white.png"></amp-img>
                      <div>
                        <h3>IN-9008 Full HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-9008HD is the first INSTAR Indoor IP Surveillance camera, utilizing our new Panasonic 1080p / fullHD image sensor.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-9008HD is the first INSTAR Indoor IP Surveillance camera, utilizing our new Panasonic 1080p / fullHD image sensor.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Outdoor_Cameras/IN-7011_HD/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-7011HD_white.png"></amp-img>
                      <div>
                        <h3>IN-7011 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-7011 HD is a weather proof dome camera which can be used inside and outside. A motor allows for change of the lenses viewing direction.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-7011 HD is a weather proof dome camera which can be used inside and outside. A motor allows for change of the lenses viewing direction.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Outdoor_Cameras/IN-5907_HD/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5907HD_white.png"></amp-img>
                      <div>
                        <h3>IN-5907 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-5907 HD is weather proof and wireless outdoor camera. Thanks to the built-in high-powered infrared diodes it utilizes night vision with high performance.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-5907 HD is weather proof and wireless outdoor camera. Thanks to the built-in high-powered infrared diodes it utilizes night vision with high performance.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Outdoor_Cameras/IN-5905_HD/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5905HD_white.png"></amp-img>
                      <div>
                        <h3>IN-5905 HD</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Looking for a small outdoor camera? The all new IN-5905HD, basicly a drastically smaller version of our flagship model IN-5907HD is what you are looking for!
                        </amp-fit-text>
                        <p class="mobile-down">Looking for a small outdoor camera? The all new IN-5905HD, basicly a drastically smaller version of our flagship model IN-5907HD is what you are looking for!</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Outdoor_Cameras/IN-4011/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4011_white.png"></amp-img>
                      <div>
                        <h3>IN-4011</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-4011 is the successor of the IN-4010v2 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-4011 is the successor of the IN-4010v2 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Outdoor_Cameras/IN-4010_V2/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4010_white.png"></amp-img>
                      <div>
                        <h3>IN-4010v2</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-4010 v2 is the successor of the IN-4010 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-4010 v2 is the successor of the IN-4010 dome camera and offers advanced Pan &amp; Tilt features due to its new powerful PTZ control board.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Outdoor_Cameras/IN-2908/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2908_white.png"></amp-img>
                      <div>
                        <h3>IN-2908</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2905v2´s big brother - stronger Infrared nightvision and a three times optical zoom make this camera modell a clear winner.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2905v2´s big brother - stronger Infrared nightvision and a three times optical zoom make this camera modell a clear winner.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Outdoor_Cameras/IN-2905_V2/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2905_white.png"></amp-img>
                      <div>
                        <h3>IN-2905v2</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">The IN-2905 v2 is the successor of the popular IN-2905. Dozens of Upgrades makes this camera on par with the more high-end line of INSTAR cameras.
                        </amp-fit-text>
                        <p class="mobile-down">The IN-2905 v2 is the successor of the popular IN-2905. Dozens of Upgrades makes this camera on par with the more high-end line of INSTAR cameras.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->


                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
