<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <section class="blade wrapper content">
                      <!-- section -->

                  <div>
                    <h1>Software</h1>
                    <h2>InstarVision Surveillance Station</h2>
                    <h4>Official INSTAR Software for your INSTAR IP Camera</h4>
                  </div>

                  <div class="row">

                    <a href="/Software/Windows/InstarVision/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_white.png"></amp-img>
                        <div>
                          <h3>Windows 7 - 10</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Use our InstarVision Surveillance Center to manage up to 64 IP cameras from your Windows 7, 8 or 10 PC. Continuous or alarm recordings with FTP uploads and email notifications.
                          </amp-fit-text>
                          <p class="mobile-down">Use our InstarVision Surveillance Center to manage up to 64 IP cameras from your Windows 7, 8 or 10 PC. Continuous or alarm recordings with FTP uploads and email notifications.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Software/Windows/InstarVision/Metro/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_white.png"></amp-img>
                        <div>
                          <h3>Windows Metro</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">The free of charge Windows 8-10 Metro App can be installed from the Microsoft Store and allows you to create a Multiview with all your local or remote (DDNS and P2P) IP cameras.
                          </amp-fit-text>
                          <p class="mobile-down">The free of charge Windows 8-10 Metro App can be installed from the Microsoft Store and allows you to create a Multiview with all your local or remote (DDNS and P2P) IP cameras.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                  <div class="row">

                    <a href="/Software/Windows/InstarVision/Windows_Phone/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_white.png"></amp-img>
                        <div>
                          <h3>Windows Phone</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Use our InstarVision Windows Phone app to manage your IP cameras from your smartphone. Add your camera via DDNS or P2P and be alerted by alarm Push Notifications and Email.
                          </amp-fit-text>
                          <p class="mobile-down">Use our InstarVision Windows Phone app to manage your IP cameras from your Windows smartphone. Add your camera via DDNS or P2P and be alerted by Push Notifications, should a motion be detected.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Software/Android/InstarVision/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Android_white.png"></amp-img>
                        <div>
                          <h3>Android</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Use our InstarVision Android app to manage your IP cameras from your smartphone or tablet. Add your camera via DDNS or P2P and be alerted by motion detection Push Notifications.
                          </amp-fit-text>
                          <p class="mobile-down">Use our InstarVision Android app to manage your IP cameras from your smartphone or tablet. Add your camera via DDNS or P2P and be alerted by Push Notifications, should a motion be detected.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                  <div class="row">

                    <a href="/Software/iOS/InstarVision/iPhone/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-iOS_white.png"></amp-img>
                        <div>
                          <h3>iOS - iPhone</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Use our InstarVision iPhone app to manage your IP camera from your Apple smartphone. Add your camera via DDNS or P2P and be alerted by Push Notifications, should a motion be detected.
                          </amp-fit-text>
                          <p class="mobile-down">Use our InstarVision iPhone app to manage your IP camera from your Apple smartphone. Add your camera via DDNS or P2P and be alerted by Push Notifications, should a motion be detected.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Software/iOS/InstarVision/iPad">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-iOS_white.png"></amp-img>
                        <div>
                          <h3>iOS - iPad</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Use our InstarVision iPad app to manage your IP camera from your Apple tablet. Add your camera via DDNS or P2P and be alerted by Push Notifications, should a motion be detected.
                          </amp-fit-text>
                          <p class="mobile-down">Use our InstarVision iPad app to manage your IP camera from your Apple tablet. Add your camera via DDNS or P2P and be alerted by Push Notifications, should a motion be detected.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                </section>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
