<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div itemscope itemtype="http://schema.org/Article" class="wrap">
          <% include ../_partials/amp/_schemaArticle.ejs %>

            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                <!-- article -->

                    <div>
                      <h1 itemprop="name">InstarVision iPhone App</h1>
                      <h2>Das Aufnahme Menü</h2>
                    </div>

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:Android_Rec_01"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPhone_App_NEW_(20).png" width="435" height="773" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[01]</strong> Drücken Sie den Aufnahme Button um sich eine Liste aller manuell aufgenommener Videos auf Ihrem Smartphone anzeigen zu lassen.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:Android_Rec_02"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPhone_App_NEW_(21).png" width="435" height="773" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[02]</strong> Drücken Sie im Aufnahme Menü auf das SD Karte Symbol um eine Listenansicht der Medien auf der SD Karte Ihrer IP Kamera zu sehen.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:Android_Rec_03"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPhone_App_NEW_(22).png" width="435" height="773" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[03]</strong> Drücken Sie im Aufnahme Menü auf SD Karte um eine Listenansicht der Medien auf der SD Karte Ihrer IP Kamera zu sehen.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:Android_Rec_04"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPhone_App_NEW_(23).png" width="435" height="773" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[04]</strong> Jeder Tages-Ordner kann einen Record Unterordner für Videos und einen Images Unterordner für Bilder haben.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:Android_Rec_05"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPhone_App_NEW_(24).png" width="435" height="773" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[05]</strong> Alarm Videos beginnen mit dem Buchtsaben A, geplante Aufnahmen mit P und manuelle Aufnahmen mit N.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:Android_Rec_06"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPhone_App_NEW_(25).png" width="435" height="773" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[06]</strong> Sie können sich alle Videos direkt in der App ansehen.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="dangercard margin">
                      <h4><u>Beachten Sie bitte</u>:</h4>
                      <p>Wenn Sie eine Kamera über P2P hinzufügen, sind Sie nicht in der Lage die Video Einstellungen (Bitrate, Kontrast, Helligkeit, usw.) zu ändern und auf Bilddateien auf der SD Karte zuzugreifen (der Zugriff auf Videos ist möglich).</p>
                    </div>

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Android_Rec_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Android_Rec_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Android_Rec_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Android_Rec_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Android_Rec_05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Android_Rec_06" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
