<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div itemscope itemtype="http://schema.org/Article" class="wrap">
          <% include ../_partials/amp/_schemaArticle.ejs %>

            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                <!-- article -->

                    <div>
                      <h1 itemprop="name">InstarVision iPad App</h1>
                      <h2>Das Multiview Menü</h2>
                    </div>

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:iPad_Multiview_01"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPad_App_NEW_(16).png" width="733" height="580" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[01]</strong> Drücken Sie auf das Multiview Symbol um eine Übersicht über alle Ihre Kameras zu erhalten. Hier werden immer nur Einzelbilder von den Kameras abgegriffen in einem festen Intervall.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:iPad_Multiview_02"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPad_App_NEW_(17).png" width="733" height="580" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[02]</strong> Drücken Sie auf eine Kamera um deren Live Videostream abzugreifen. Ein Doppeltap auf das Video blendet die Funktions-Buttons ein oder aktiviert die Swipe Steuerung für PTZ Kameras.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:iPad_Multiview_03"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPad_App_NEW_(18).png" width="733" height="580" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[03]</strong> Doppeklicken Sie auf das Video um alle Funktions-Buttons anzuzeigen. Eine Beschreibung der Buttons finden sie etwas weiter unten oder direkt im Hilfe Menü der App.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                on="tap:iPad_Multiview_04"
                                role="button"
                                tabindex="0"
                                src="/images/Software/IPad_App_NEW_(19).png" width="733" height="580" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <div class="action">
                                <p><strong>[04]</strong> Drücken Sie auf das Zahnrad Symbol unter dem Live Stream um sich die Video Einstellungen anzeigen zu lassen. Reduzieren Sie die Qualität, wenn der Stream ins Stocken kommt.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="margin">
                      <h4>Das Multiview Menü ermöglicht es Ihnen den Überblick über Ihre Kameras zu wahren.</h4>
                      <p class="justify">Jede Kamera, die Sie zur App hinzufügen wird als Thumbnail im Multiview Menü angezeigt werden. Das Video wird hier mit einer geringen Bildwiederholungsrate angezeigt um die Bandbreitenanforderung niedrig zu halten. Drücken Sie einfach auf das Bild einer Kamera um sich das Live Video anzeigen zu lassen. Die Wiederholungsrate können Sie in den Allgemeinen App Einstellungen an Ihre Bedürfnisse anpassen.</p>
                    </div>

                    <div class="margin">
                        <table class="margin">
                            <tbody>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/VideoSettings-idle.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Bildeinstellungen</strong>: Dieser Button führt Sie zu den Bildeinstellungen (s. 4 oben).
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Ps_Preset_idle-46x46.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Speichere Positionen</strong>: Der Ps Button wird nur für schwenkbare Kameras angezeigt. Wenn Sie den Button lange gedrückt halten, wird Ihnen eine Menü mit 8-15 Positionen (abhängig vom Kameramodell) angezeigt werden. Drücken Sie eine dieser Positionen um die Ausrichtung der Kamera dort zu speichern. Um die Kamera erneut in diese Ausrichtung zu fahren, drücken Sie einfach den P Button in der Mitte des Pan &amp; Tilt Kontrolle.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Motion-off_46x46.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Bewegunserkennung</strong>: Der kleine Räuber aktiviert oder deaktiviert die Bewegungserkennung der Kamera. Beachten Sie bitte, dass Sie zuerst die Bewegungserkennungsbereiche und Alarmaktionen in der Weboberfläche der Kamera festlegen müssen.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Relay-open_46x46.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Alarm Eingang</strong>: Schalten Sie den Zustand des Alarmeingangs der Kamera zwischen offen und geschlossen. Dieser Button deaktiviert nicht Alarmeingang!
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Relay-open_23x23.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Alarm Ausgang Relais</strong>: Der Relais Button - öffnet und schließt das Ausgangsrelais der Kamera. Sie können hierüber manuell Geräte schalten, die Sie am Alarmausgang der Kamera angeschlossen haben.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/AudioDetection_idle_23x23.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Audio Erkennung</strong>: Aktivieren Sie die Audio Erkennung der Kamera, um die Kamera bei lauten Geräuschen einen Alarm auslösen zu lassen. Ihr Kameramodell benötigt ein Mikrofon um diese Funktion nutzen zu können. Die Empfindlichkeit der Erkennung können Sie im Audio Alarm Menü der Kamera einstellen.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/PIR_inactive_23x23.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>PIR Sensor</strong>: Aktivieren Sie den internen Wärmesensor Ihrer Kamera für die Bewegungserkennung (z.B. <a href="/Indoor_Cameras/IN-6014_HD">IN-6014 HD</a>, <a href="/Indoor_Cameras/IN-8015_HD">IN-8015 Full HD</a> oder <a href="/Outdoor_Cameras/IN-9008_HD">IN-9008 Full HD</a>)
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Snapshot-idle_46x46.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Snapshot</strong>: Der Kamera Button erlaubt es Ihnen einen Schnappschuss des Live Videos zu nehmen und diesen entweder lokal auf Ihrem Smartphone oder auf der internen SD Karte Ihrer IP Kamera zu speichern.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Bulb-active.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>IR LEDs</strong>: Der IR Schalter erlaubt es Ihnen die IR LEDs Ihrer Kameras manuell zu dekativieren oder wieder in den Automatik-Modus zu schalten (nur für Kameramodelle, die diese Funktion unterstützen).
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Speaker-inactive.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Audio</strong>: Der Lautsprecher Button aktiviert oder deaktiviert den Audiostream von Ihrer Kamera (das Kameramodell benötigt ein Mikrofon für diese Funktion). Sie können die Lautstärke des Streams im Audio Menü der Kamera einstellen. Des Weiteren finden Sie in den Allgemeinen App Einstellungen die Möglichkeit das Audiosignal noch einmal zu verstärken.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Mic-inactive.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Mikrofon</strong>: Drücken Sie den Mikrofon Button und sprechen Sie in Ihr Smartphone um einen Audiostream zur Kamera zu senden. Diese Funktion steht Ihnen nur zur Verfügung, wenn Ihre Kamera über einen Lautsprecher verfügt.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/REC_idle_23x23.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Manuelle Aufnahme</strong>: Starten Sie eine manuelle Aufnahme des Videostreams und speichern Sie die Datei entweder lokal auf Ihrem Smartphone oder auf der interne SD Karte (<a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">1080p</a> Kamera Serie) Ihrer Kamera.
                                </td>
                              </tr>
                              <tr>
                                <th width="5%">
                                  <amp-img
                                    src="/images/Software/Push_inactive_23x23.png" width="23" height="23" layout="fixed" class="shadow">
                                  </amp-img>
                                </th>
                                <td>
                                  <strong>Push Benachrichtigung</strong>: Drücken Sie den Button und scannen Sie anschließend den Push QR Code(<a href="/Web_User_Interface/720p_Series/Network/Push_Service/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">1080p</a> Kamera Serie) in der Weboberfläche der Kamera um Push Benachrichtigungen zu erhalten, wenn in der Kamera ein Alarm ausgelöst wurde.
                                </td>
                              </tr>
                            </tbody>
                        </table>

                        </div>
                        <!-- /container -->

                        <div class="dangercard margin">
                          <h4><u>Beachten Sie bitte</u>:</h4>
                          <p>Wenn Sie eine Kamera über P2P hinzufügen, sind Sie nicht in der Lage die Video Einstellungen (Bitrate, Kontrast, Helligkeit, usw.) zu ändern und auf Bilddateien auf der SD Karte zuzugreifen (der Zugriff auf Videos ist möglich).</p>
                        </div>

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="iPad_Multiview_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="iPad_Multiview_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="iPad_Multiview_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="iPad_Multiview_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="iPad_Multiview_05" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
