<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article class="blade wrapper content">
                      <!-- article -->

                    <div>
                        <h1 class="post-title">Audio over HTTPS</h1>
                        <h4>3-way to use the audio function if your camera has been integrated via HTTPS</h4>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>
                        If you've followed <a href="/Internet_Access/Port_Forwarding/">our tutorial</a> for port forwarding for your <strong>1080p camera</strong>, you have set the HTTPS port of the camera to 8081 and this, together with the RTMP port, is then routed in your router to allow access via the <a href="/Internet_Access/The_DDNS_Service/">DDNS address</a>.
                      </p>
                      <p>
                        If you call the DDNS address on your laptop via web browser, you will hear the sound of the microphone of the camera. However, when you add the camera in the mobile App InstarVision via the DDNS address, neither the sound is played, nor is it possible to use the opposing function. In the following, we describe 3 options for using the audio function of your Full HD camera.
                      </p>
                    </div>
                    <!-- /margin -->

                    <amp-accordion disable-session-states class="margin">

                      <section>

                        <h3 class="cgi-accordion-header">+  Access P2P</h3>

                        <div class="margin">
                            <h4>Access the audio stream of the camera <u>and</u> the intercom function</h4>
                            <p>In the instructions for the apps, you'll find a warning that accessing <a href="/Internet_Access/Point_to_Point/">P2P</a> is generally slower than accessing the DDNS address. This mainly concerns the 720p camera models. With the Full HD (1080p) models a P2P service is used, which is much faster and provides more functions. It is therefore an alternative to access via DDNS.</p>
                            <p>For instructions on how to integrate the camera using the P2P service, see the instructions for each application:</p>
                            <ul>
                              <li><a href="/Software/Windows/InstarVision/Windows_Phone/P2P/">Windows Phone</a></li>
                              <li><a href="/Software/Windows/InstarVision/Metro/P2P/">Windows 8/10 (Metro)</a></li>
                              <li><a href="/Software/iOS/InstarVision/iPhone/P2P/">iPhone</a></li>
                              <li><a href="/Software/iOS/InstarVision/iPad/P2P/">iPad</a></li>
                              <li><a href="/Software/Android/InstarVision/P2P/">Android</a></li>
                            </ul>
                        </div>
                        <!-- /margin -->

                      </section>

                      <section>
                        <h3 class="cgi-accordion-header">+  Use RTSP Videostream</h3>
                        <div class="margin">
                            <h4>Access to the camera's audio stream</h4>
                            <p>In the <a href="/Internet_Access/Port_Forwarding/">Port Forwarding Guide</a>, the HTTPS port on the <strong>8081</strong> and the RTMP ports is <strong>1935</strong> explained. The RTMP port is only required for the Flash plugin in the web interface. If you are using only the app from the road, the port does not need to be routed in 1935.</p>
                            <p>In order to use the RTSP stream of your camera in the app, you must first pass the RTSP port. By default this is on port 554:</p>
                            <br><br><br>

                            <amp-carousel id="carousel-with-preview"
                              class="shadow"
                              width="480"
                              height="400"
                              layout="responsive"
                              type="slides">
                              <amp-img src="/images/Internet_Access/IP-Konfiguration_FHD-min.png"
                                width="596"
                                height="549"
                                layout="responsive"
                                alt="1080p FHD Web User Interface"></amp-img>
                              <amp-img src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_new_05.png"
                                width="472"
                                height="650"
                                layout="responsive"
                                alt="Router Port Forwarding"></amp-img>
                              <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_01.png"
                                width="480"
                                height="400"
                                layout="responsive"
                                alt="Access RTSP Stream inside our InstarVision Mobile App"></amp-img>
                              <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_02.png"
                                width="480"
                                height="400"
                                layout="responsive"
                                alt="Access RTSP Stream inside our InstarVision Mobile App"></amp-img>
                              <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_03.png"
                                width="480"
                                height="400"
                                layout="responsive"
                                alt="Access RTSP Stream inside our InstarVision Mobile App"></amp-img>
                            </amp-carousel>
                            <div class="carousel-preview">
                              <button on="tap:carousel-with-preview.goToSlide(index=0)">
                                <amp-img src="/images/Internet_Access/IP-Konfiguration_FHD-thumb.jpg"
                                  width="60"
                                  height="40"
                                  alt="1080p FHD Web User Interface"></amp-img>
                              </button>
                              <button on="tap:carousel-with-preview.goToSlide(index=1)">
                                <amp-img src="/images/Internet_Access/Portforwarding-Fritzbox-7490de_new_05_thumb.png"
                                  width="60"
                                  height="40"
                                  alt="Router Port Forwarding"></amp-img>
                              </button>
                              <button on="tap:carousel-with-preview.goToSlide(index=2)">
                                <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_01_Thumb.png"
                                  width="60"
                                  height="40"
                                  alt="Access RTSP Stream inside our InstarVision Mobile App"></amp-img>
                              </button>
                              <button on="tap:carousel-with-preview.goToSlide(index=3)">
                                <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_02_Thumb.png"
                                  width="60"
                                  height="40"
                                  alt="Access RTSP Stream inside our InstarVision Mobile App"></amp-img>
                              </button>
                              <button on="tap:carousel-with-preview.goToSlide(index=4)">
                                <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_03_Thumb.png"
                                  width="60"
                                  height="40"
                                  alt="Access RTSP Stream inside our InstarVision Mobile App"></amp-img>
                              </button>
                            </div>

                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>IP Address</strong>
                                    </td>
                                    <td>Select an IP address for your camera. But make sure the IP address is adapted to your router! For a Fritzbox, for example, this is standard <strong>192.168.178.XXX</strong>, for a Telekom Speedport Router the <strong>192.168.2.XXX</strong>. In order to avoid mistakes in your local network, it is best to choose a free allocation number for your camera with a value of 200. In the case of a Fritzbox, you assign 192.168.178.201 for camera 1, 192.168.178.202, etc</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Subnetmask</strong>
                                    </td>
                                    <td>Enter <strong>255.255.255.0</strong> by default.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Gateway</strong>
                                    </td>
                                    <td>Enter the IP address of your router, eg 192.168.178.1 if you use a Fritzbox or 192.168.2.1 for the Telekom Speedport Router.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>DNS Server</strong>
                                    </td>
                                    <td>Here, you also enter the IP address of your router.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>HTTP Port</strong>
                                    </td>
                                    <td>Set <strong>8081</strong> ascending for each of your cameras. So for camera 1 the value 8081, for Camera 2 the value 8082, etc.<br>
                                    (For a FullHD camera leave this port at 80)</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>HTTPS Port</strong>
                                    </td>
                                    <td>(Only for FullHD Cameras) Set <strong>8081</strong> ascending for each of your cameras. So for camera 1 the value 8081, for camera 2 the value 8082, etc.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>RTMP Port</strong>
                                    </td>
                                    <td>Set <strong>1935</strong> ascending for each of your cameras. So for camera 1 the value 1935, for camera 2 the value 1936, etc.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>RTSP Port</strong>
                                    </td>
                                    <td>Set <strong>554</strong> ascending for each of your cameras. So for camera 1 the value 554, for camera 2 the value 555, etc.</td>
                                </tr>
                            </table>

                            <br><br>
                            <p><strong>Quality setting of the RTSP stream:</strong>
                            <a href="/Software/Mobile_Apps_HTTPS_and_RTSP/" target="_blank"><button type="button" class="navGo navGoRed">Configuration</button></a></p>
                            <br><br>

                            <ul>
                              <li>First set the RTSP port in the camera - by default, it is located on port 554, but it can also be placed on a higher port, eg 9091.</li>
                              <li>Then, run the appropriate port in your router to the camera by following the <a href="/Internet_Access/Port_Forwarding/">Port Forwarding Guide</a>, as you did before for the 8081 port.</li>
                              <li>Then go to the InstarVision mobile app and select a new IP camera, select the appropriate camera model with the RTSP addition and enter the two forwarded ports (HTTPS and RTSP).</li>
                              <li>You will then be able to hear the audio stream of your camera - but do not use the intercom function.</li>
                            </ul>
                        </div>
                        <!-- /margin -->

                      </section>

                      <section>

                        <h3 class="cgi-accordion-header">+  Use HTTP video stream</h3>
                        <div class="margin">
                            <h4>Access the audio stream of the camera <u>and</u> the intercom function</h4>
                            <p>In the <a href="/Internet_Access/Port_Forwarding/">Port Forwarding Guide</a>, the HTTPS port on the <strong>8081</strong> and the RTMP ports is <strong>1935</strong> explained. The RTMP port is only required for the Flash plugin in the web interface. If you are using only the app from the road, the port does not need to be routed in 1935.</p>
                            <p>If you set the HTTPS port of the camera back to the default value of 443 and change the HTTP port to 8081, you can delete the HTTPS port in the InstarVision app and enter the HTTP port with 8081 instead.</p>

                            <br><br>
                            <h4>Access over HTTP - but with encryption? <a href="/Advanced_User/VPN_AVM_Fritzbox/" target="_blank">&nbsp;&nbsp;&nbsp;<button type="button" class="navGo">VPN</button></a></h4>
                            <br><br>

                            <amp-carousel id="carousel-with-preview"
                              class="shadow"
                              width="480"
                              height="400"
                              layout="responsive"
                              type="slides">
                              <amp-img src="/images/Internet_Access/IP-Konfiguration_FHD-min_alt.png"
                                width="596"
                                height="549"
                                layout="responsive"
                                alt="1080p FHD Web User Interface"></amp-img>
                              <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_04.png"
                                width="472"
                                height="650"
                                layout="responsive"
                                alt="Router Port Forwarding"></amp-img>
                            </amp-carousel>
                            <div class="carousel-preview">
                              <button on="tap:carousel-with-preview.goToSlide(index=0)">
                                <amp-img src="/images/Internet_Access/IP-Konfiguration_FHD-thumb.jpg"
                                  width="60"
                                  height="40"
                                  alt="1080p FHD Web User Interface"></amp-img>
                              </button>
                              <button on="tap:carousel-with-preview.goToSlide(index=1)">
                                <amp-img src="/images/Internet_Access/Mobile_Access_RTSP_04_Thumb.png"
                                  width="60"
                                  height="40"
                                  alt="Router Port Forwarding"></amp-img>
                              </button>
                            </div>

                            <p>Since the port 8081 has been <a href="/Internet_Access/Port_Forwarding/"> already redirected </a>, accessing the camera via the app will be immediately possible.</p>

                          </div>
                          <!-- /margin -->

                      </section>

                  </amp-accordion>

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Port_Forwarding_EN_01" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main äöü -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
