<!DOCTYPE html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="<%- canonical %>">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "<%= headline %>",
        "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
  </script>

  <% include ../_partials/amp/_amp-boilerplate.css %>
  <% include ../_partials/amp/_ampLandingCustom.css %>

</head>

<body>

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ../_partials/amp/_ampLandingSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">
        <% include ../_partials/amp/_ampLandingHeader.ejs %>
    </header>

    <div class="wrap">
        <div class="content">

            <section class="large-cta">
              <div class="cta-container">
                <h1 class="mobile-down">INSTAR Wiki 2.0</h1>
                <h2>Software for Other Platforms</h2>
              </div>
            </section>

            <!-- ########################## Quick Installation ############################### -->

            <section class="tile-wall">
                <h1>Other Platforms</h1>
                <div class="container">

                  <!-- ################################ desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Other_Platforms/InstarVision_Blackberry/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Blackberry-InstarVision_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Other_Platforms/QNAP/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_QNAP_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Other_Platforms/Synology/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_Synology_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Other_Platforms/AVM_Fritzphone/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_AVM_Fritzphone_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Other_Platforms/Domovea/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_Domovea_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Software/Other_Platforms/InstarVision_Blackberry/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Android-InstarVision_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>To access your IP camera with our <strong>Blackberry App</strong> InstarVision we recommend that you first download the newest version from the App-market. Use the search word "Instar" to find our app inside the BB store.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Other_Platforms/QNAP/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_QNAP_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The Surveillance Station is professional network surveillance Video Management System. The app can be activated on the QTS App Center to turn the Turbo NAS into a professional Network Video Recorder system</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Other_Platforms/Synology/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_Synology_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Check the system update in the Synology web user interface if your operating system is up-to-date. The Surveillance Station is available from the App Center in the Synology web user interface.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Other_Platforms/AVM_Fritzphone/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_AVM_Fritzphone_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Um eine Live-Bild Ihrer INSTAR IP Kamera auf dem Display des FRITZ!Fons darzustellen, müssen Sie den JPG Pfad der Kamera im Telefon hinterlegen.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Other_Platforms/Domovea/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Other_Domovea_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>With domovea, everything in the installation can be managed from one single point. Available on computer, tablet or smartphone, this intuitive interface provides easy control of any device.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->

                </div>
                <!-- /container -->
            </section>
            <!-- /Quick Installation I -->

            <!-- ########################## WebUI ############################### -->

            <% include ../_partials/amp/_ampWebUI.ejs %>

            <!-- ########################## Social ############################### -->

            <% include ../_partials/amp/_ampSocial.ejs %>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ../_partials/amp/_amp-footer.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
