<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Other Platforms</h1>
                        <h2>AVM Fritzphone</h2>
                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                      <div class="onecard twelve columns">
                        <amp-youtube data-videoid="eRCrlHGhurc" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="margin">
                      <h3>Hinzufügen einer INSTAR IP Kamera im AVM Fritzfon C4</h3>
                      <p>Um eine Live-Bild Ihrer INSTAR IP Kamera auf dem Display des FRITZ!Fons darzustellen, müssen Sie den JPG Pfad der Kamera im Telefon hinterlegen.</p>
                      <br>

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_01.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig1.</strong> Drücken Sie auf der Tastatur des Telefons die Taste Menu.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_02.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig2.</strong> Blättere Sie bitte zum Menüpunkt Heimnetz und drücken Sie OK.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_03.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig3.</strong> Wähle Sie danach bitte Live-Bild und drücken Sie OK.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_04.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig4.</strong> Wählen Sie als nächstes Neu.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_05.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig5.</strong> Geben Sie im Eingabefeld Name einen beliebigen Namen für die IP-Kamera ein.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_06.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig6.</strong> Gebe im Eingabefeld URL den JPG Pfad Ihrer Kamera ein.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_07.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig7.</strong> Nach dem festlegen des Zeitintervalls und Speichern erscheint im Display der Namen Ihrer IP-Kamera.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=1000 width=480 layout=responsive src="/images/Software/FritzphoneC4_08.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig8.</strong> Drücke Sie dann auf "OK" und Ihnen wird das Live-Bild auf dem Display des FRITZ!Fon angezeigt.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Der JPG Pfad Ihrer INSTAR IP Kamera</h3>
                      <ul>
                        <li>Der JPG Pfad Ihrer <a href="/720p_Series_CGI_List/">INSTAR HD Kamera</a> lautet:</li>
                        <ul>
                          <li><span class="code">http://Benutzer:Kennwort@Adresse-der-Kamera/tmpfs/auto.jpg</span></li>
                          <li>Bsp.<span class="code">http://admin:instar@192.168.1.28/tmpfs/auto.jpg</span></li>
                          <li>Bsp.<span class="code"> http://admin:instar@abcd12.ddns3-instar.de/tmpfs/auto.jpg</span></li>
                        </ul>
                        <li>Der JPG Pfad Ihrer <a href="/Advanced_User/CGI_Commands/VGA_Series_CGI_List/">INSTAR VGA Kamera</a> lautet:</li>
                        <ul>
                          <li><span class="code">http://192.168.1.28/snapshot.cgi?user=Benutzer&pwd=Kennwort</span></li>
                          <li>Bsp. <span class="code">http://192.168.1.28/snapshot.cgi?user=admin&pwd=instar</span></li>
                          <li>Bsp. <span class="code">http://abcd12.ddns3-instar.de/snapshot.cgi?user=admin&pwd=instar</span></li>
                        </ul>
                      </ul>
                      <br>
                    </div>
                    <!-- /margin -->

                    <div class="margin dangercard">
                      <p>Achtung: Das FRITZ!Fon kodiert Sonderzeichen in Benutzername oder Passwort nicht automatisch, d.h. Sie müssen die entsprechenden Zeichen im Pfad durch die jeweilige %-Darstellung ersetzen. Welche Zeichen davon betroffen sind können sie unter <a href="https://de.wikipedia.org/wiki/URL-Encoding" target="_blank">diesem Link prüfen</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin primarycard">
                      <p>In manchen Fällen scheint es notwendig zu sein bei einer HD Kamera eine Zahlenkombination an den JPG Pfad anzuhängen:<br><span class="code">http://192.168.1.28/tmpfs/snap.jpg?usr=admin&pwd=instar&1461568423210</span></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Hinzufügen des Live-Bildes über die Weboberfläche der Fritzbox</h3>
                      <p>Um eine Live-Bild Ihrer INSTAR IP Kamera auf dem Display des FRITZ!Fons darzustellen, müssen Sie den JPG Pfad der Kamera im Telefon hinterlegen. Im Beispiel (oben) haben wir dies direkt über das Telefon gemacht. Seit der neuesten Software Version der AVM Fritzbox ist dies jetzt auch direkt über die Weboberfläche des Routers möglich - und dort wesentlich komfortabler einzurichten.</p>
                      <br>
                      <div class="card-container">
                          <div class="onecard">
                              <div class="image">
                                <amp-img
                                    on="tap:lightbox1"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Software/Fritzbox-Fritzphone_01.png" height=337 width=692 layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig1.</strong> Öffnen Sie das DECT Menü und wählen Sie Internetdienste.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->
                      <div class="card-container">
                          <div class="onecard">
                              <div class="image">
                                <amp-img
                                    on="tap:lightbox2"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Software/Fritzbox-Fritzphone_02.png" height=337 width=692 layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig2.</strong> Gehen Sie auf den Reiter Live-Bild und wählen Sie ein neues Bild hinzuzufügen.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->
                      <div class="card-container">
                          <div class="onecard">
                              <div class="image">
                                <amp-img
                                    on="tap:lightbox3"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Software/Fritzbox-Fritzphone_03.png" height=337 width=692 layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig3.</strong> Geben Sie dem Bild einen Namen und geben Sie den Pfad zum JPG Pfad Ihrer Kamera ein.</p>
                              </div>
                          </div>
                          <div class="twocard invisible">
                          </div>
                      </div>
                      <!-- Card Container -->
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
