<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Other Platforms</h1>
                        <h2>QNAP Surveillance Station</h2>
                        <p class="text-justify">The Surveillance Station is professional network surveillance Video Management System (VMS). Being one of the Turbo NAS standard applications, the Surveillance Station can be activated on the QTS App Center to turn the Turbo NAS into a professional Network Video Recorder (NVR) system for real-time monitoring, recording, playback, alarm notifications, Intelligent Video Analytics (IVA), and management to safeguard your assets and property when used with supported IP cameras.<br><br>In order to integrate your INSTAR IP camera in the <a href="http://www.qnap.com/i/station/en/surveillance-overview-s.php">QNAP Surveillance Station</a> we recommend you to download the latest version from QNAP app store.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a HD Camera</h3>
                      <p>Start the Surveillance App from the QNAP web interface and click on the <strong>Add</strong> button. Now choose type in the address for your local HD camera, the HTTP &amp; RTSP port and your login credentials.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Start the Surveillance App from the QNAP web interface and click on the Add button.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_03.png" width="1150" height="608" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Type in the camera´s local IP address and your login credentials.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_04.png" width="1150" height="608" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Adjust the video quality of the camera´s live stream to fit your needs.</p>
                      <br>
                      <h4>What to do in case of a model mismatch?</h4>
                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                <amp-img
                                    on="tap:lightbox4"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Software/QNAP_Surveillance_Station_X1.png" height=411 width=770 layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <p>If you want to integrate a model that is not supported by the Surveillance Station yet, you will be faced with a Model Mismatch error.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                <amp-img
                                    on="tap:lightbox5"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Software/QNAP_Surveillance_Station_X2.png" height=411 width=770 layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <p>Simply change the camera name under Multimedia/Image to a supported camera model and retry.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->
                    </div>
                    <!-- /margin -->



                    <div class="margin">
                      <h3>Add a VGA Camera</h3>
                      <p>Start the Surveillance App from the QNAP web interface and click on the '''Add''' button. Now choose type in the address for your local VGA camera, the HTTP port and your login credentials.</p>
                      <br>
                      <div>
                        <amp-img
                            on="tap:lightbox6"
                            role="button"
                            tabindex="0"
                            src="/images/Software/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow">
                        </amp-img>
                      </div>
                      <br>
                      <p>Start the Surveillance App from the QNAP web interface and click on the Add button.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox7"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_06.png" width="1150" height="613" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Type in the camera´s local IP address and your login credentials.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox8"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_07.png" width="1150" height="612" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Adjust the video quality of the camera´s live stream to fit your needs.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox9"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow">
                      </amp-img>
                        <br>
                        <p>Both cameras are now available after confirming your settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Event Management</h3>
                      <p>Open the event manager to activate the alarm recording in case of an motion detection event or bind the recording function to the external alarm input - so that an external sensor (e.g. a PIR motion detector) can trigger an alarm recording. Go to Advanced settings to adjust the length of the alarm recording and for a simple storage management.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox10"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_08.png" width="1150" height="613" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Set your camera to record a video in case of an alarm trigger event.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Monitor and Playback</h3>
                      <p>Use the Monitor window to keep an eye on your cameras real-time feeds from your INSTAR cameras. Whenever a suspicious event is found, take a snapshot to keep a record and take immediate actions accordingly. The Playback window allows you to quickly find videos of suspicious incidents on the Surveillance Station with the support of an intuitive timeline, image preview, Intelligent Video Analytics (IVA), and more.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox11"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_10.png" width="1150" height="615" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Use live-view to watch real-time feeds from the IP cameras.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox12"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_11.png" width="1150" height="612" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Quickly find videos of suspicious incidents on the Surveillance Station with the support of an intuitive timeline.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox11" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox12" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
