<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Layout.png" class="shadow img-fluid" alt="InstarVision 2 Layout"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Layout.png" class="shadow img-fluid" alt="InstarVision 2.0 Layout"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Side Navigation - Layout</h1>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image019_cut.png" alt="InstarVision 2.0 Surveillance Center User Interface - Layout" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                <div class="row justify-content-between">

                  <div class="col-12">
                      <p class="text-justify">Set up your video canvas area with one click in the Layout menu. Choose a layout that fits your needs and amount of active cameras. The layout will always reset to its default when you restart the software - the start-up default can be set in the System menu.</p>
                  </div>

                  <div class="col-12 col-md-3 mb">
                      <img src="/images/Software/Image019_Settings.png" alt="InstarVision 2.0 Surveillance Center User Interface - Layout" class="shadow img-fluid"/>
                  </div>

                  <div class="col-12 col-md-8">
                      <p class="text-justify">You can choose a layout that displays only a fraction of all active cameras, to maintain a larger video viewport for each camera. For example, you have 16 cameras but want to use the 2x2 camera channel layout. Use the <img src="/images/Software/Image021.png" width="15" height="15"/> Move Camera Right button to go to the next camera in your camera list and switch through your cameras page by page. The button <img src="/images/Software/Image020.png" width="15" height="15"/> Move Camera Left will bring you back to the previously displayed video channel. Check the <a href="/Software/Windows/InstarVision/System">System Settings</a> if you want the software to cycle through all cameras automatically.</p>
                  </div>

                  <div class="col-12">
                      <p class="text-justify">There are layout templates optimized for a 4:3 aspect ratio for VGA cameras and templates optimized for a 16:9 aspect ratio for HD cameras. Click on the Hamburger Icon (3 horizontal strokes) on top of the Side Navigation to access a list-view that separates these templates for an easy access.</p>
                      <p class="text-justify">You can move your mouse pointer to the edge of the user interface to freely transform it to your personal needs and adapt it to the amount of cameras you want to integrate. You can also close the side menu by clicking on the very thin button between the side menu and the video canvas. Alternatively, simply right-click the video canvas to switch into the video fullscreen mode (unlike the Maximize Button in the top-right of the UI, this will only enlarge the video area and remove all menus. Press Escape on your keyboard to go back the regular view.</p>
                  </div>

                </div>
                <!-- /row -->

              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Adjust the Layout of your Video Canvas</h2>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_1x1.png" alt="InstarVision 2.0 :: Layout">
                      <div class="card-block text-xs-center">
                        <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">1x1</span></h2>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_2x2.png" alt="InstarVision 2.0 :: Layout">
                      <div class="card-block text-xs-center">
                        <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">2x2</span></h2>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_3x3.png" alt="InstarVision 2.0 :: Layout">
                    <div class="card-block text-xs-center">
                      <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">3x3</span></h2>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_8x8.png" alt="InstarVision 2.0 :: Layout">
                    <div class="card-block text-xs-center">
                      <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">8x8</span></h2>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
