<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div itemscope itemtype="http://schema.org/Article" class="wrap">
          <% include ../_partials/amp/_schemaArticle.ejs %>

            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                <!-- article -->

                    <div>
                        <h1>Windows Phone Software</h1>
                        <h2 itemprop="name">InstarVision</h2>
                        <p>
                          Um Ihre Kamera mit unserer Windows Phone App InstarVision zu erreichen, empfehlen wir zuerst die <a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank">neueste Version</a> aus dem App Store herunterzuladen. Verwenden Sie das Suchwort "InstarVision" um die App im PlayStore zu finden.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="desktop-up">

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                <a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank">
                                  <amp-img noloading height=500 width=500 layout=responsive class="shadow" src="/images/Software/Qrcode_Microsoft-AppStore.png"></amp-img>
                                </a>
                              </div>
                              <div class="action">
                                  <h3>Windows Store Link</h3>
                                  <p>Verwenden Sie einen <a href="https://www.microsoft.com/en-us/store/p/qr-code-reader/9wzdncrfj1s9">QR Reader</a> um die App zu installieren.</p>
                              </div>
                          </div>
                          <div class="twocard invisible">
                          </div>
                      </div>
                      <!-- /Card Container -->

                    </div>
                    <!-- /desktop-up -->


                    <div class="margin">
                      <h2>Übersicht über die App Menüs</h2>
                    </div>

                      <div class="row">

                        <a href="/Software/Windows/InstarVision/Windows_Phone/DDNS/">
                          <div class="mediaObject six columns shadow">
                              <amp-img noloading width=100 height=100 layout=fixed class="shadow" src="/images/Software/QL-Box_iOS_InstarVision_DDNS.png"></amp-img>
                            <div class="mediaBody">
                              <h3>DDNS Zugriff</h3>
                              <br>
                              <amp-fit-text
                                  width="245"
                                  height="115"
                                  layout="responsive"
                                  class="desktop-up">Der DDNS Zugriff bietet Ihnen den Zugang zu allen Kamerafunktionen. Die DDNS Adresse erlaubt Ihnen darüber hinaus auch den Zugriff auf die Weboberfläche ...
                              </amp-fit-text>
                              <p class="mobile-down">Der DDNS Zugriff bietet Ihnen den Zugang zu allen Kamerafunktionen. Die DDNS Adresse erlaubt Ihnen darüber hinaus auch den Zugriff auf die Weboberfläche der Kamera in Ihrem Webbrowser. Beachten Sie aber bitte, dass Sie für diesen Zugriff eine Port Weiterleitung in Ihrem Router benötigen!</p>
                            </div>
                          </div>
                        </a>

                        <a href="/Software/Windows/InstarVision/Windows_Phone/P2P/">
                          <div class="mediaObject six columns shadow">
                              <amp-img noloading width=100 height=100 layout=fixed class="shadow" src="/images/Software/QL-Box_iOS_InstarVision_P2P.png"></amp-img>
                            <div class="mediaBody">
                              <h3>P2P Zugriff</h3>
                              <br>
                              <amp-fit-text
                                  width="245"
                                  height="115"
                                  layout="responsive"
                                  class="desktop-up">Der P2P Zugriff bietet Ihnen nicht en vollen Zugriff auf alle Kamerafunktionen. Aber Sie benötigen keine Portweiterleitung in Ihrem Router.
                              </amp-fit-text>
                              <p class="mobile-down">Der P2P Zugriff bietet Ihnen nicht en vollen Zugriff auf alle Kamerafunktionen. Aber Sie benötigen keine Portweiterleitung in Ihrem Router. Und das Point-to-Point Protokoll funktioniert dort wo ein DDNS Zugriff fehlschlägt - z.B. bei einem 3G/LTE, DSLite oder IPv6 Internetanschluß ohne öffentliche IPv4 Adresse.</p>
                            </div>
                          </div>
                        </a>

                      </div>
                      <!-- /row -->

                      <div class="row">

                        <a href="/Software/Windows/InstarVision/Windows_Phone/Multiview/">
                          <div class="mediaObject six columns shadow">
                              <amp-img noloading width=100 height=100 layout=fixed class="shadow" src="/images/Software/QL-Box_iOS_InstarVision_Multiview.png"></amp-img>
                            <div class="mediaBody">
                              <h3>Multiansicht</h3>
                              <br>
                              <amp-fit-text
                                  width="245"
                                  height="115"
                                  layout="responsive"
                                  class="desktop-up">Behalten Sie die Übersicht über alle Ihre Kameras im Multiview Menü. Wählen Sie eine Kamera aus um auf Ihren Live Videostream zuzugreifen und ihre ...
                              </amp-fit-text>
                              <p class="mobile-down">Behalten Sie die Übersicht über alle Ihre Kameras im Multiview Menü. Wählen Sie eine Kamera aus um auf Ihren Live Videostream zuzugreifen und ihre Funktionen zu kontrollieren.</p>
                            </div>
                          </div>
                        </a>

                        <a href="/Software/Windows/InstarVision/Windows_Phone/Recording/">
                          <div class="mediaObject six columns shadow">
                              <amp-img noloading width=100 height=100 layout=fixed class="shadow" src="/images/Software/QL-Box_iOS_InstarVision_Recording.png"></amp-img>
                            <div class="mediaBody">
                              <h3>Aufnahmen</h3>
                              <br>
                              <amp-fit-text
                                  width="245"
                                  height="115"
                                  layout="responsive"
                                  class="desktop-up">Öffnen Sie Videos und Schnappschüsse die Sie von der Kamera auf Ihrem Smartphone oder auf der SD Karte der Kamera aufgenommen haben.
                              </amp-fit-text>
                              <p class="mobile-down">Öffnen Sie Videos und Schnappschüsse die Sie von der Kamera auf Ihrem Smartphone oder auf der SD Karte der Kamera aufgenommen haben.</p>
                            </div>
                          </div>
                        </a>

                      </div>
                      <!-- /row -->

                      <div class="row">

                        <a href="/Software/Windows/InstarVision/Windows_Phone/Settings/">
                          <div class="mediaObject six columns shadow">
                              <amp-img noloading width=100 height=100 layout=fixed class="shadow" src="/images/Software/QL-Box_iOS_InstarVision_Settings.png"></amp-img>
                            <div class="mediaBody">
                              <h3>Einstellungen</h3>
                              <br>
                              <amp-fit-text
                                  width="245"
                                  height="115"
                                  layout="responsive"
                                  class="desktop-up">Passen Sie allgemeine Einstellungen der App an oder werfen Sie einen Blick in die Hilfe um einen Überblick über alle Appfunktionen zu bekommen.
                              </amp-fit-text>
                              <p class="mobile-down">Passen Sie allgemeine Einstellungen der App an oder werfen Sie einen Blick in die Hilfe um einen Überblick über alle Appfunktionen zu bekommen.</p>
                            </div>
                          </div>
                        </a>

                      </div>
                      <!-- /row -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
