<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>
        <!-- #############################################  Content ############################################# -->

        <div class="container mb">
          <div class="row">
            <div class="col-12">
              <nav class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <a class="breadcrumb-item" href="/Software/Windows/InstarVision">Software Overview</a>
                <span class="breadcrumb-item active">Webserver</span>
              </nav>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_Webserver.png" class="shadow img-fluid" alt="InstarVision 2 Webserver"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_small_Webserver.png" class="shadow img-fluid" alt="InstarVision 2.0 Webserver"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Side Navigation - Webserver</h1>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Image039_cut.png" alt="InstarVision 2.0 Surveillance Center User Interface - Webserver" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <div class="col-12">
                      <p class="text-justify lead">If you want to broadcast your camera´s video on your website, simply use the Webserver menu to create the necessary HTML code.</p>
                  </div>

                  <div class="col-12">
                      <p class="text-justify">Use the InstarVision Surveillance Center to publish your cameras on your local network or the internet. The software offers a web service that you can reach by accessing the local server IP address on another PC on the same network. In the given example, the server address is <strong>192.168.1.18</strong>. Just access a different workstation on your network, open the default web browser and type in <code>http://192.168.1.18</code> to open the InstarVision web user interface. In case you want to check the webUI from the server itself, open your browser and type in <code>http://localhost</code> or <code>http://127.0.0.1</code>. The default web server port is 80 - please change it to something <strong>above 8080</strong> in case the web user interface does not show (see below). The web server port has to be added to the IP address, if it is not 80 - e.g. <code>http://192.168.1.18:8081</code> or <code>http://localhost:8081</code> ! The default login admin/instar can be changed in the <a href="/Software/Windows/InstarVision/Users">User Menu</a>.</p>
                  </div>

              </div>

              <div class="col-12">
                  <p class="text-justify">To access the web user interface from the internet, first click on the Internet IP button to resolve your WAN IP address, then forward a port inside your router to the IP address of your InstarVision Server. You will be able to access the interface from the internet by using your internet IP followed by the forwarded port that you choose in the System settings. The default web server port is set to be 80. Please go to the <a href="/Software/Windows/InstarVision/System">System Settings</a> to change the web port to the port that you forwarded inside your router´s NAT firewall. We recommend to use ports that are higher than 8080. The Internet Address of your internet access is most likely to change every 24h - please use the DDNS address of your INSTAR IP camera to access the software instead (see below).</p>
              </div>

          </div>
          <!-- /row -->

          <div class="row">
            <div class="list-group col mb">
              <a href="#" class="list-group-item justify-content-between list-group-item-action active shadow">
                <p class="list-group-item-text">Default Username</p>
                <h5 class="list-group-item-heading lead">admin</h5>
              </a>
            </div>
            <div class="list-group col mb">
              <a href="#" class="list-group-item justify-content-between list-group-item-action active shadow">
                <p class="list-group-item-text">Default Password</p>
                <h5 class="list-group-item-heading lead">instar</h5>
              </a>
            </div>
          </div>
          <!-- /row -->

          <div class="row">

              <div class="col-12 mb mt">
                  <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Choose the right Video Plugin</h2>
              </div>

              <div class="col-12 mb">
                  <ul class="list-group shadow" style="list-style-type: none;">
                    <li class="list-group-item pb">
                      <h3 class="list-group-item-heading"><img src="/images/Image039_ActiveX.png" width="20" height="20" alt="ActiveX Plugin"/>&nbsp; ActiveX Plugin</h3>
                      <p class="text-justify list-group-item-text">The ActiveX viewer mode can display up to 32 video channels at once on your webpage - please click on Setup to configure the plugin to your needs. Your web site user is required to install the ActiveX plugin, when he enters the web site for the first time. The ActiveX plugin is only supported by Microsoft´s Internet Explorer. If you want to use Microsoft Edge, Firefox, Safari or Chrome, please select a different plugin - or go plugin-free using the Simple JPEG mode.</p>
                    </li>
                    <li class="list-group-item pb">
                      <h3 class="list-group-item-heading"><img src="/images/Image039_WMP.png" width="20" height="20" alt="WMP Plugin"/>&nbsp; Windows Player Plugin</h3>
                      <p class="text-justify list-group-item-text">This view mode will use Windows Media Player to display your camera´s video - that means, it will only work under Microsoft Windows with the Windows Media Player installed! Also the recording video file format of the Surveillance Center has to be set to ASF or WMV for the channel that you want to broadcast. To change the file format go to the <a href="/Software/Windows/InstarVision/Record/General">General Recording Settings</a>, select the desired channel and choose the format from the drop down menu.</p>
                    </li>
                    <li class="list-group-item pb">
                      <h3 class="list-group-item-heading"><img src="/images/Image039_QT.png" width="20" height="20" alt="Quicktime Plugin"/>&nbsp; QuickTime Plugin</h3>
                      <p class="text-justify list-group-item-text">This view mode will use the Quicktime Player web plugin to display your camera´s video. Please install and <a href="/Quick_Installation/Live_Video/QuickTime">setup the Quicktime Player</a> on your PC or MAC to be able to receive a video stream from an IP camera (set the streaming protocol to HTTP/Port 80). Also the recording video file format of the Surveillance Center has to be set to MP4 or MOV for the channel that you want to broadcast. To change the file format go to the <a href="/Software/Windows/InstarVision/Record/General">General Recording Settings</a>, select the desired channel and choose the format from the drop down menu.</p>
                    </li>
                    <li class="list-group-item pb">
                      <h3 class="list-group-item-heading"><img src="/images/Image039_REAL.png" width="20" height="20" alt="RealPlayer Plugin"/>&nbsp; RealPlayer Plugin</h3>
                      <p class="text-justify list-group-item-text">This view mode will use the RealPlayer web plugin to display your camera´s video. Please install the RealPlayer on your PC or MAC to access the video stream and forward the RTSP port to the Surveillance Center - the RealPlayer uses the RTSP stream (default port 554) instead of streaming HTTP port (default 80). Also the recording video file format of the Surveillance Center has to be set to MP4 or MOV for the channel that you want to broadcast. To change the file format go to the <a href="/Software/Windows/InstarVision/Record/General">General Recording Settings</a>, select the desired channel and choose the format from the drop down menu.</p>
                    </li>
                    <li class="list-group-item pb">
                      <h3 class="list-group-item-heading"><img src="/images/Image039_Flash.png" width="20" height="20" alt="Flash Plugin"/>&nbsp; Flash Plugin</h3>
                      <p class="text-justify list-group-item-text">This viewer will use Flash player to display your camera´s video stream. You must install the <a href="https://get.adobe.com/flashplayer/" target="_blank">Adobe Flash plugin</a> in your browser. Also the recording video file format of the Surveillance Center has to be set to FLV for the channel that you want to broadcast. To change the file format go to the <a href="/Software/Windows/InstarVision/Record/General">General Recording Settings</a>, select the desired channel and choose the format from the drop down menu.</p>
                    </li>
                    <li class="list-group-item pb">
                      <h3 class="list-group-item-heading"><img src="/images/Image039_JPG.png" width="20" height="20" alt="Simple JPEG Mode"/>&nbsp; Simple JPEG Mode</h3>
                      <p class="text-justify list-group-item-text">This viewer will simply get single JPEG frames from your camera´s live stream and display them in a continuous fashion to create a video. Due to the nature of this process, there will be no audio signal from your camera. But <strong>you won´t need any Plugins</strong> to display the video!</p>
                    </li>
                  </ul>
              </div>

              <div class="clearfix"></div>

              <div class="col-12 mb">
                  <div class="card card-inverse card-primary shadow">
                    <div class="card-block">
                      <h4 class="card-title">Portforwarding &amp; DDNS</h4>
                      <p class="text-justify" style="color: #fff">All these broadcasting modes need you to forward the software HTTP (or RTSP) port to the server that runs the Surveillance Center. Please refer to our <code><a href="/Internet_Access/Port_Forwarding">forwarding instruction</a></code> for further information - note: in these instructions, we forward a port directly to each camera you want to access. In case of the Surveillance Center broadcast we only need to forward one port (HTTP or RTSP) directly to the server that runs the software and are able to access all camera streams maintained by the Surveillance Center! Remember that you can still use your camera´s <code><a href="/Internet_Access/The_DDNS_Service">DDNS address</a></code> to access the software - just type in the DDNS address of your camera (that is operated on the same network as the Surveillance Center) and add the port that you forwarded to your server. E.g. if your camera is accessible from the internet via the address <code>abcd12.ddns-instar.de:8081</code> and you forwarded port 8082 to the server, use type in <code>http://abcd12.ddns-instar.de:8082</code> to access the software web user interface!</p>
                    </div>
                  </div>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Give me an Example</h2>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_01.png" alt="InstarVision 2.0 :: Webserver">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">1</strong>
                        </span> Go to the <a href="/Software/Windows/InstarVision/System">System Menu</a> and change the Webserver Port to a port higher than 8080. You can also deactivate the required login here.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_02.png" alt="InstarVision 2.0 :: Webserver">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">2</strong>
                        </span> Open the Webserver Menu to check your local IP address and type it into your web browser, followed by the Webserver Port. The default login is <strong>admin / instar</strong>.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_03.png" alt="InstarVision 2.0 :: Webserver">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">3</strong>
                      </span> Wait for the web user interface to load and choose the Simple JPEG Viewer - this is the only mode that does not require a browser plugin to display the video.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_04.png" alt="InstarVision 2.0 :: Webserver">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">4</strong>
                      </span> Use the drop-down menu to switch between your camera channels. And the PTZ control pad to pan &amp; tilt your camera (if supported by your model).</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_05.png" alt="InstarVision 2.0 :: Webserver">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">5</strong>
                      </span> In Internet Explorer choose the ActiveX Viewer and install the ActiveX plugin. Please make sure the plugin is not blocked by your Antivirus/Firewall.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_06.png" alt="InstarVision 2.0 :: Webserver">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">6</strong>
                      </span> The ActiveX Viewer can display up to 32 cameras at the same time. Click on the Setup button to further configure the plugin to your needs.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_07.png" alt="InstarVision 2.0 :: Webserver">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">5</strong>
                      </span> To embed the web broadcast in your website, choose your Viewer in the Webserver Menu. The template files will be saved in your <a href="/Software/Windows/InstarVision/Record/General">REC Directory</a>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_08.png" alt="InstarVision 2.0 :: Webserver">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">5</strong>
                      </span> The templates will contain the local IP of your server - please swap this for your DDNS address to access your server over the internet!</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
