<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>
        <!-- #############################################  Content ############################################# -->

        <div class="container mb">
          <div class="row">
            <div class="col-12">
              <nav class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <a class="breadcrumb-item" href="/Software/Windows/InstarVision">Software Overview</a>
                <span class="breadcrumb-item active">System</span>
              </nav>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_System.png" class="shadow img-fluid" alt="InstarVision 2 System"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_small_System.png" class="shadow img-fluid" alt="InstarVision 2.0 System"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Side Navigation - System</h1>
              </div>

              <div class="hidden-md-down col-lg-2 mt mb" style="padding-top: 5px;">
                  <img src="/images/Image046.png" alt="InstarVision 2.0 Surveillance Center User Interface - System" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-10 mt">

                  <div class="col-12 mb">
                      <ul class="list-group shadow" style="list-style-type: none;">
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Language</h3>
                          <br>
                          <p class="text-justify list-group-item-text">Choose your system language. You have to restart the software after changing to another language. Please be aware that old log entries will remain in the language that they were originally written in.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Start View</h3>
                          <br>
                          <p class="text-justify list-group-item-text">Define the amount of channels you want to be displayed, when you open the Surveillance Center and adjust if you want the software to be started normally, minimized, full screen or hidden to the tray area. Please activate the Multi-Monitor Support - if you have problems displaying your cameras video on your secondary monitor - and mute the audio to make sure that no audio stream from your server location is send to your cameras by mistake.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Display Next Page Every</h3>
                          <br>
                          <p class="text-justify list-group-item-text">If you select a viewport layout that offers less ports than you have active channels, let InstarVision switch the displayed cameras automatically. E.g. you have 2 cameras but want to display only one at the time to maximize the viewport size. You can also use the arrow keys in the <a href="/Software/Windows/InstarVision/Layout">Layout Menu</a> to switch between channels manually.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Web Server Port</h3>
                          <br>
                          <p class="text-justify list-group-item-text">The software offers a <a href="/Software/Windows/InstarVision/Webserver">Web Server</a> to stream your cameras into your local network (or to the internet). The web server port is the HTTP port that you have to use to access the software´s web user interface. E.g. your servers IP address on the local network is <code>192.168.1.100</code> and the Surveillance Center web port is set to <code>8081</code>, simply type <code>http://192.168.1.100:8081</code> into your web browsers address bar to access the user interface. Remove the check-mark at Web Server Login if you want to be able to access the web user interface without being asked for a login.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">RTSP Server Port</h3>
                          <br>
                          <p class="text-justify list-group-item-text">The software can broadcast the camera´s video stream via the Real-time Streaming Protocol. Use a streaming software like the <a href="/Software/Windows/VLC_Player">VLC Player</a> to access the stream by the following command:<br><br><code>rtsp://&lt;Cuser&gt;:&lt;password&gt;@&lt;ServerAddress&gt;:&lt;RTSP Port&gt;/live.sdp?CH=1</code><br><br>Choose the camera channel you want to stream by changing the channel number at the end of the address (the example above - CH=1 will access the stream from the camera assigned to channel 1).</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Password Protection</h3>
                          <br>
                          <p class="text-justify list-group-item-text">The standard login (user: admin &amp; password: instar) is deactivated by default. If you want to activate the login during start-up of the software, set the check-mark here and change the login in the <a href="/Software/Windows/InstarVision/Users">User Menu</a>.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Video Mode</h3>
                          <br>
                          <p class="text-justify list-group-item-text">If you cannot see the live video of your camera - even though it is connected and you are able to make video recordings - please switch the <strong>YUY2 Video Encoding</strong>!</p>
                        </li>
                      </ul>
                  </div>

              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; How to use the Webserver Function</h2>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_01.png" alt="InstarVision 2.0 :: Server">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">1</strong>
                        </span>  It is recommended to change the Webserver Port to a port higher than 8080. If you use your web server locally, you might want to deactivate the requirement for a login. It should be kept on if you plan to access the server from the internet.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision2_Webserver_02.png" alt="InstarVision 2.0 :: Server">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">2</strong>
                        </span> Open the <a href="/Software/Windows/InstarVision/Webserver">Webserver Menu</a> to check your local IP address and type it into your web browser, followed by the Webserver Port. The default login is admin / instar. Follow the link above for more details!</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->

          <div class="col-12 mb">
              <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; How to use the RTSP Stream in VLC Player</h2>
          </div>

          <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_RTSP-Stream_01.png" alt="InstarVision 2.0 :: Server">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">1</strong>
                      </span> Make sure that InstarVision is running in the background, open the <a href="/Software/Windows/VLC_Player">VLC Player</a> - go to the Media Menu and choose to <strong>Open Network Stream</strong>. You can also just press <kbd>Ctrl</kbd> + <kbd>N</kbd> to open the network stream dialogue.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_RTSP-Stream_02.png" alt="InstarVision 2.0 :: Server">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">2</strong>
                      </span> Type in the RTSP stream path (see above) and change the IP/DDNS address, RTSP port and channel (CH=1-64) according to your setup. You can use the local IP address of your InstarVision server from all computer connected to your local network. To access the RTSP stream over the internet, use a DDNS address from your local camera instead and forward the RTSP port to your InstarVision server.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision2_RTSP-Stream_03.png" alt="InstarVision 2.0 :: Server">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">3</strong>
                      </span> The RTSP stream should start to run, once you pressed <strong>Play</strong>. You can also deactivate the requirement for a login - remember to remove the login from the RTSP stream path, if you do.</p>
                    </div>
                  </div>
                  <div class="card invisible">
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
