<!DOCTYPE html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="/Software/Windows/">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "<%= headline %>",
        "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
  </script>

  <% include ../_partials/amp/_amp-boilerplate.css %>
  <% include ../_partials/amp/_ampLandingCustom.css %>

</head>

<body>

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ../_partials/amp/_ampLandingSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">
        <% include ../_partials/amp/_ampLandingHeader.ejs %>
    </header>

    <div class="wrap">
        <div class="content">

            <section class="large-cta">
              <div class="cta-container">
                <h1>INSTAR Wiki 2.0</h1>
                <h2>Software for Windows</h2>
              </div>
            </section>

            <!-- ########################## Quick Installation ############################### -->

            <section class="tile-wall">
                <h1>Windows</h1>
                <div class="container">

                  <!-- ################################ desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/InstarVision/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-InstarVision_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/InstarVision/Windows_Phone/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_Phone_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/InstarVision/Metro/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Metro_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/iSpy/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-iSpy_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/Sighthound/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Sighthound_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/P2P_Client/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-P2P_Client_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/go1984/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-go1984_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/VLC_Player/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-VLC_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/CCTV_Chrome_Plugin/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-CCTV_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/Blue_Iris/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Blue-Iris_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/YAW_Cam/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Yaw-Cam_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/Zone_Trigger/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Zone-Trigger_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/WebCam_XP/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-WebCam-XP_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/Webcam_Motion_Detector/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Webcam-Detector_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/Zebra_Surveillance/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Zebra-Surveillance_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Software/Windows/InstarVision/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-InstarVision_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The InstarVision Surveillance Center is an IP camera software which can support 64 cameras at the same time, including Network cameras, USB cameras remotely accessed secondary installations of the software.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/InstarVision/Windows_Phone/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_Phone_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>To access your IP camera with our Windows Phone App InstarVision we recommend that you first download the newest version from the Microsoft Store. Use the search word Instar to find our app inside the store.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/InstarVision/Metro/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Metro_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>To access your IP camera with our Windows Phone App InstarVision we recommend that you first download the newest version from the Microsoft Store. Use the search word Instar to find our app inside the store.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/iSpy/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-iSpy_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>iSpy uses your cameras, webcams, IP cams and microphones to detect and record movement or sound. Captured media is compressed to flash video or mp4 and streamed securely over the web and local network.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/Sighthound/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Sighthound_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Sighthound is a surveillance software that has been trained to recognize people and objects. Computer vision can detect, track and recognize objects in a way that motion detectors can never achieve.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/P2P_Client/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-P2P_Client_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The Point-2-Point protocol integrated in our HD camera line allows you to connect to your camera from the internet without the need for a portforwarding rule inside your local router.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/go1984/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-go1984_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>go1984 is software designed for professional and hassle-free monitoring of IP / CCTV cameras. go1984 is available in VARIOUS EDITIONS and features everything you'll ever need to carry out professional camera surveillance.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/VLC_Player/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-VLC_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>VLC is a free and open source cross-platform multimedia player and framework that plays most multimedia files as well as DVDs, Audio CDs, VCDs, and various streaming protocols.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/CCTV_Chrome_Plugin/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-CCTV_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>This Google Chrome / Opera extension allows you to define up to 16 IP cameras or webcam urls. Every time the toolbar button is clicked it will show an updated version of the image.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/Blue_Iris/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Blue-Iris_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Use up to 64 cameras, capture JPEG snapshots or movies in standard MP4, AVI, advanced DVR, or Windows Media file formats. Keep an eye on your home, place of business, cars, and valuables.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/YAW_Cam/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Yaw-Cam_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Yet Another Webcam Software ? Maybe. But Yawcam delivers a punch in a small package. The main ideas for Yawcam are to keep it simple and easy to use but to include all the usual features.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/Zone_Trigger/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Zone-Trigger_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The Zone Trigger software series is all about enabling anyone to incorporate motion or sound detection in their custom projects. On detecting motion, Zone Trigger can do a multitude of tasks, such as sending an email.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/WebCam_XP/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-WebCam-XP_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>WebcamXP allows you to monitor your belongings from any location with access to Internet by turning your computer into a security system  - and everything tailored for low hardware requirements.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/Webcam_Motion_Detector/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Webcam-Detector_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>ZM Surveillance System is am video surveillance and motion capture software. In order to integrate your INSTAR IP camera in the WEBCAM MOTION DETECTOR we recommend you to download the latest version from HERE.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/Zebra_Surveillance/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-Zebra-Surveillance_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>ZM Surveillance System is am video surveillance and motion capture software. Some key features are: unlimited cameras, motion detection with adjustable sensitivity for different zones.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->

                </div>
                <!-- /container -->
            </section>
            <!-- /Quick Installation I -->

            <!-- ########################## WebUI ############################### -->

            <% include ../_partials/amp/_ampWebUI.ejs %>

            <!-- ########################## Related ############################### -->

            <section class="social mobile-down">
                <h1>Related Chapters</h1>
                <div class="socialBox">
                  <a href="/Products/" class="btn btnWhite btnChapter btnProduct"></a>
                  <a href="/Motion_Detection/" class="btn btnWhite btnChapter btnMotion"></a>
                  <a href="/Internet_Access/" class="btn btnWhite btnChapter btnRemote"></a>
                  <a href="/Advanced_User/" class="btn btnWhite btnChapter btnDev"></a>
                </div>
            </section>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ../_partials/amp/_amp-footer.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
