<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb">
          <div class="row justify-content-around">

              <div class="col-12">
                <h1>The Multiview Menu</h1>
                <br>
                <br>
              </div>

              <div class="col-12">

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App1.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">1</strong>
                    </span>  The Multiview menu only grabs snapshots from all your cameras. You can adjust the interval in the <a href="/Software/Windows/InstarVision/Windows_Phone/Settings">General Settings</a>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App2.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">2</strong>
                    </span> Click on a single camera to enter its live videostream.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App3.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">3</strong>
                    </span> Double-tap the video to display all function buttons. A description of all buttons can be found in the <a href="/Software/Android/InstarVision/Settings">Help Menu</a>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/WP_App4.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">4</strong>
                      </span> Click on the Cog symbol to access the settings of your videostream. Reduce the quality if your connection speed is slow.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /Col-12 -->

            </div>
            <!-- /Row -->
          </section>
          <!-- /Container -->

          <!-- #############################################  Table ############################################# -->

          <section class="container mb">
            <div class="row">

              <div class="container col-12 mt mb">
              <!-- Text Container -->

                <h3>The Multiview Menu allows you to keep an eye on all your cameras</h3>
                <p class="text-justify">Every camera that you add to the app will be displayed in the Multiview Menu. The Video will be displayed with a low refresh rate to keep bandwidth requirements low. Simply touch the video to access the corresponding cameras live stream. The refresh rate set in general settings only applies to the life stream and will not be used for the Multiview refresh timing.</p>

                <table class="table table-hover">
                  <tr>
                    <th scope="row"><img src="/images/VideoSettings-idle.png" alt="Video Settings"></th>
                    <td><strong>Image Settings:</strong> This button leads you to the camera's image settings.</td>
                  </tr>
                    <th scope="row"><img src="/images/Ps_Preset_idle-46x46.png" alt="Saved Positions"></th>
                    <td><strong>Save Position:</strong> The Ps is only displayed for cameras that have a pan&amp;tilt function. Long-pressing the button will open a menu with 8 - 15 (depending on the camera model) positions. Selecting a number from this menu will save the cameras position which can later be recalled by the P button in the middle of the pan&amp;tilt control.</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Motion-off_46x46.png" alt="Motion Detection"></th>
                    <td><strong>Motion Detection:</strong> The little burglar symbol activates or deactivates the cameras motion detection. The motion detection areas and alarm actions have to be set inside the camera's web user interface to be switched on and off by the Motion Detection button.</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Relay-open_46x46.png" alt="Alarm Input Relay"></th>
                    <td><strong>Alarm Input:</strong> Switch the state of your alarm input between open and close. This button does not <em>deactivate</em> your alarm input!</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Relay-open_23x23.png" alt="Alarm Output Relay"></th>
                    <td><strong>Alarm Output Relay:</strong> The Relay Button - the two vertical lines with the switch in the middle - opens or closes the cameras relay. External devices connected to the camera's Alarm-out can be switched remotely by pressing this button.</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/AudioDetection_idle_23x23.png" alt="Audio Detection"></th>
                    <td><strong>Audio Detection:</strong> Let your camera listen to it´s environment and trigger an alert in case of a loud noise. Your camera needs a microphone to be able to use this functions.</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/PIR_inactive_23x23.png" alt="Activate PIR Sensor"></th>
                    <td><strong>PIR Sensor:</strong> Activate the internal heat sensor of your camera (z.B. <a href="/Indoor_Cameras/IN-6014_HD">IN-6014 HD</a>, <a href="/Indoor_Cameras/IN-8015_HD">IN-8015 HD</a> or <a href="/Outdoor_Cameras/IN-9008_HD">IN-9008 HD</a>) for motion detection.</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Snapshot-idle_46x46.png" alt="Snapshot"></th>
                    <td><strong>Snapshot:</strong> The camera button will take a snapshot of the camera's live image and store it in your cell phones photo library.</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Bulb-active.png" alt="IR LEDs"></th>
                    <td><strong>IR LEDs:</strong> he IR Switch allows you to switch the camera's infrared LEDs on or off (when this function is supported by the camera).</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Speaker-inactive.png" alt="Audio"></th>
                    <td><strong>Audio:</strong> The Audio Switch allows you to switch the camera's audio stream on or off (when this function is supported by the camera).</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Mic-inactive.png" alt="Microphone"></th>
                    <td><strong>Microphone:</strong> Use the Microphone Switch to send a audio stream from your mobile devices microphone to the camera (only works for camera's with integrated or attached speakers).</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/REC_idle_23x23.png" alt="Activate Manual Recording"></th>
                    <td><strong>Manual Recording</strong>: Start a recording of your camera´s video stream on your smartphone or on your IP camera´s internal SD card (<a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">1080p</a> Camera Series).</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/images/Push_inactive_23x23.png" alt="Push Notification"></th>
                    <td><strong>Push Notification:</strong> Just click this button and scan your camera´s Push QR Code(<a href="/Web_User_Interface/720p_Series/Network/Push_Service/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">1080p</a> Camera Series) to receive push notifications in case of an alarm event.</td>
                  </tr>
                </table>

              </div>

              <div class="clearfix"></div>

              <div class="card card-inverse card-danger mb">
                <div class="card-block">
                  <blockquote class="card-blockquote">
                    <h4><strong><u>Please be Aware</u></strong>:</h4>
                    <br>
                    <p>When you connect to your camera via P2P, you will not be able to switch the <strong>Audio Detection</strong>, <strong>Ajust Video Settings</strong> (Bitrate, Contrast, Brightness, etc.) and <strong>Access Snapshots</strong> on your SD card (accessing Videos will work).</p>
                  </blockquote>
                </div>
              </div>


          </div>
          <!-- / row -->
        </section>
        <!-- / container -->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
