<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Camera-List.png" class="shadow img-fluid" alt="InstarVision 2 Camera List"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Camera-List.png" class="shadow img-fluid" alt="InstarVision 2.0 Camera List"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Side Navigation - Camera List</h1>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image007.png" alt="InstarVision 2.0 Surveillance Center User Interface - Camera List" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <p class="text-justify">The camera list displays all added cameras for an easy configuration. Besides network IP camera, you can also add USB webcams and remote instances of the InstarVision Surveillance System. Just click on the <strong>+</strong> button at the bottom or right-click on <em>Camera</em> to open the Add Camera dialogue:</p>

                  <div class="col-sm-12 hidden-md-up text-xs-center mb">
                      <img src="/images/Software/Image007_cut_small.png" alt="InstarVision 2.0 Surveillance Center User Interface - Camera List" class="shadow"/>
                  </div>

                  <h3>Add Cameras</h3>

                  <p class="text-justify">The Add Camera menu allows you to add three different types of cameras. A USB camera can be the camera on the laptop the Surveillance Center is installed on. Or Webcams connected to your servers USB interface. Network Cameras are IP cameras on your local network (e.g. local IP´s like <em>192.168.1.101</em>) as well as cameras you want to connect to over the internet (e.g. DDNS addresses like <em>abcd12.ddns-instar.de</em>). The InstarVision Remote Access refers to a function of the Surveillance Center that enables you to connect to a second remote InstarVision installation. The list order defines the camera viewport arrangement on the video canvas.</p>

                  <div class="clearfix"></div>

                  <div class="card-deck-wrapper mb">
                    <div class="card-deck">
                        <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                          <img class="card-img-top img-fluid" src="/images/Software/Image010.png" alt="Add Camera">
                          <div class="card-block">
                            <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Add</span></h4>
                            <p class="card-text">Just click on the <strong>+</strong> button or right-click <strong>Camera</strong> in the Camera List.</p>
                          </div>
                        </div>
                        <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                          <img class="card-img-top img-fluid" src="/images/Software/Image013.png" alt="Add Camera">
                          <div class="card-block">
                            <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Edit</span></h4>
                            <p class="card-text">Right-click a camera to edit your camera settings and setup. Or delete / duplicate your camera</p>
                          </div>
                        </div>
                        <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                          <img class="card-img-top img-fluid" src="/images/Software/Image014.png" alt="Add Camera">
                          <div class="card-block">
                            <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Rename</span></h4>
                            <p class="card-text">Left-click a camera twice to rename it. Or right-click it and change the name inside the Properties menu.</p>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="clearfix"></div>

              </div>

              <div class="col-12">
                <p class="text-justify">Right-Click an added camera in the list to deactivate, delete or duplicate it. The properties option allows you to adjust its network and video parameters, which were set when you added the camera. Under Bitrate you can adjust the quality of the video stream that is retrieved from the camera. Please be aware that high quality settings result in high bandwidth requirements - as well as high demands on your computers CPU.</p>
              </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <div class="clearfix"></div>

        <!--########################################## USB Webcams###############################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Add USB Webcams</h2>
            </div>

            <div class="col-sm-12 col-md-4" style="margin-top: 5px;">
                <img src="/images/Software/Image015.png" alt="InstarVision 2.0 - Add USB Camera" class="shadow img-fluid mb"/>
            </div>

            <div class="col-sm-12 col-md-8">
              <p class="text-justify">The InstarVision Surveillance Center automatically detects cameras attached to the PC or laptop. Just select the video and audio source from the list and click OK, to add it to your Camera List. If you are using video capture cards, please install a WDM driver for it to live stream the video. In case of camcorders or external USB Webcams, please attach them to your PC´s USB interface and restart your PC to make them available as a video source.</p>
              <p class="text-justify">The video source you add here, will be available for all advanced features of the Surveillance Center - turning your laptop camera into a full-fledged Surveillance System. You want to know if someone uses your Laptop or enters your office without permission? The InstarVision Surveillance Center is the solution for your peace of mind.</p>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <div class="clearfix"></div>

        <!--############################################ IP Camera#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Add Network IP Cameras</h2>
            </div>

            <div class="col-sm-12 col-md-4" style="margin-top: 5px;">
                <img src="/images/Software/Image017.png" alt="InstarVision 2.0 - Add IP Camera" class="shadow img-fluid mb"/>
            </div>

            <div class="col-sm-12 col-md-8">
              <p class="text-justify">The InstarVision Surveillance Center automatically detects INSTAR HD and VGA cameras on your local network. Open the Search window, select your camera type (HD or VGA) and click on search. Selecting a camera from the list automatically fills out the needed parameters above. Please adjust the camera model and your private camera login - you don´t have to change the Video/Audio Access or Ports anymore. Then click OK to add the camera to your Camera List.</p>
              <p class="text-justify">If you want to add a camera that is not on your local network, it is best practice to simply add a local camera first, duplicate it in the camera list and then change the IP address to the Internet Address (DDNS) of your remote camera and adjust the Port and Login. The default Video Access Name for INSTAR IP cameras is <code>livestream/11?action=play&media=video_audio_data</code> for HD and <code>videostream.cgi</code> for VGA cameras.</p>
            </div>

            <div class="col-12 mb">
              <p class="text-justify">If you want to add a third-party camera, please adjust the video and audio path according to your manufactures documentation. The Search function might work - if your third-party camera uses the same chipset as an INSTAR camera. But it is more likely that you have to type in the parameters manually. You can also check the <a href="http://www.ispyconnect.com/sources.aspx" target="_blank">iSpy Database</a> for the most common third-party camera models.</p>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <div class="clearfix"></div>

        <!--############################################ Remote Instance#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Add a Remote Instance</h2>
            </div>

            <div class="col-sm-12 col-md-4" style="margin-top: 5px;">
                <img src="/images/Software/Image018.png" alt="InstarVision 2.0 - Add Remote Instance" class="shadow img-fluid mb"/>
            </div>

            <div class="col-sm-12 col-md-8">
              <p class="text-justify">The InstarVision Surveillance Center allows you to stream videos to the internet. You can use this function to stream video from one installation of the Software to another and add those streams as remote cameras. This enables you to stream all your cameras from site A to site B through one open TCP port in your firewall - if you would connect each camera directly via it´s DDNS address, each camera needs a unique port forwarded to its IP address. This also helps you to manage your network resources more efficient and secure by letting your local Surveillance Center access your local cameras. While your camera limits the amount of simultaneous streams to 3, the server you use to run the Surveillance Center will not confront you with such strong restrictions. Remember that you can still use the DDNS address of one of the remote camera to connect to the remote Surveillance Center. Just type in the camera´s DDNS address and add the port that you forwarded to the server IP address in the remote network. You can change the Surveillance Centers Server port in the <em>System</em> settings.</p>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--############################################### Live Video####################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Camera Viewport</h2>
            </div>

            <div class="col-12 mb">
              <p class="text-justify">You can add up to 64 cameras to the InstarVision Surveillance Center (depending on your license type). Each camera will be displayed in its own viewport on the left of the side navigation. The amount of cameras displayed can be adjusted in the Layout menu. Each viewport offers you a couple of functions to control your camera.</p>
            </div>

            <div class="col-md-12 col-lg-6" style="margin-top: 7px;">
                <img src="/images/Software/Image066.png" alt="InstarVision 2.0 - Camera Viewport" class="shadow img-fluid"/>
            </div>

            <div class="col-md-12 col-lg-6">
              <p class="lead">The viewport on-screen display shows you the name of the channel and six channel status buttons.</p>
              <p class="text-justify">You can double-click the video with left mouse to maximize the camera´s viewport or restore it back to the multi view. A right mouse click opens the viewport layout in a full screen mode - or restores it. Your mouse wheel allows you to digitally zoom in or out of the camera view. While zoomed-in, you are able to drag the image with your left mouse button to pan or tilt your camera virtually. The "virtual Zoom Factor" will be displayed above the live video, once the Zoom is active. The viewport further offers you the following control elements in the onscreen display.</p>
              <img src="/images/Software/Image067.png" class="hidden-sm-down shadow img-fluid"/>
            </div>
            <div class="col-12 mt">
              <p class="text-justify"><img src="/images/Software/Image068a.png" width="12" height="12"/>&nbsp; <strong>IR LEDs</strong> Switch your camera´s nightvision LED´s on and off.</p>
              <p class="text-justify"><img src="/images/Software/Image068.png" width="12" height="12"/>&nbsp; <strong>Maximize Viewport</strong> This button maximizes viewport for the selected camera or restores the video to normal. The function is can also be triggered by double-clicking the video area with left mouse.</p>
              <p class="text-justify"><img src="/images/Software/Image069.png" width="12" height="12"/>&nbsp; <strong>Microphone</strong> This button activates the microphone on your PC/Laptop. Use this function to send an audio stream to your camera´s internal or external loudspeaker - <em>if available</em>.</p>
              <p class="text-justify"><img src="/images/Software/Image071.png" width="12" height="12"/>&nbsp; <strong>Audio</strong> The audio button enables or disables this channels audio stream. The icon changes to <img src="/images/Software/Image072.png" width="12" height="12" alt=""/> if the stream is disabled.</p>
              <p class="text-justify"><img src="/images/Software/Image070.png" width="12" height="12"/>&nbsp; <strong>Snapshot</strong> The button takes a snapshot of the current video stream and saves it as a JPG file. The file is placed in the current record directory inside the "Snapshot" folder.</p>
              <p class="text-justify"><img src="/images/Software/Image075.png" width="12" height="12"/>&nbsp; <strong>Recording</strong> This button starts or stops a manual recording of the camera´s video stream. The colours green, blue and red display the current recording status of this channel. Once the recording function is started, this icon will flash every second. The colour <img src="/images/Software/Image076.png" width="12" height="12"/> signals a manual recording, which can be stopped by clicking the icon again. The <img src="/images/Software/Image077.png" width="12" height="12"/> stands for a scheduled recording that can be configured in the recording menu under Schedule. A <img src="/images/Software/Image078.png" width="12" height="12"/> means that the motion detection for this channel is active and triggered an alarm recording. The Alarm recording is configured in the Recording menu under Alarm.</p>
              <p class="text-justify"><img src="/images/Software/Image074.png" width="12" height="12"/>&nbsp; <strong>Disconnect</strong> This button stops or starts the videostream of the selected camera.</p>
          </div>

        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

      <!--################################################# Map ######################################################-->

      <section class="container mb">
        <div class="row">

          <div class="col-12 mb">
              <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Overview Map</h2>
          </div>

          <div class="col-sm-12 col-md-4" style="margin-top: 7px;">
              <img src="/images/Software/Image083.png" alt="InstarVision 2.0 - Overview Map" class="shadow img-fluid"/>
          </div>

          <div class="col-sm-12 col-md-8 mb">
            <p class="text-justify">Use an architectural drawing of your property or a snapshot from <a href="https://maps.google.com" target="_blank"> Google Maps</a> as a location map for your surveillance. Load the image (jpg, png, etc.) file by right-clicking "Map" in the Camera List and choose "Add Map". You can rename your map by clicking on it with your left mouse button or delete it again by right-clicking it and choosing "Delete Map". Double-clicking the map opens it in place of the video canvas. Drag &amp; drop cameras from your Camera List onto the map. The camera location pointer will change its appearance if the camera triggered a motion alert or if the software lost connection to the camera. Right-clicking the pointer gives you direct access to the camera´s live stream. You can go back to the video canvas by double-clicking any of your cameras in the Camera List.</p>
          </div>

          <div class="col-12">
            <div class="card-deck-wrapper mb">
              <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image079.png" alt="Add Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Add</span></h4>
                      <p class="card-text">Add a map by right-clicking and choose <em>Add Map</em>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image080.png" alt="Delete Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Delete</span></h4>
                      <p class="card-text">Delete a map by right-clicking and choose <em>Delete</em>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image081.png" alt="Rename your Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Rename</span></h4>
                      <p class="card-text">Click twice to rename - Double-click it to open the Map View.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image084.png" alt="Edit your Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Edit</span></h4>
                      <p class="card-text">Drop cameras on your map from the Camera List.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h3>How to use the Map Function</h3>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_01.png" alt="InstarVision 2.0 :: Add a Map">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">1</strong>
                        </span> Browse the web for a map of your surveillance area. Click the <kbd>Print Screen</kbd> button on your keyboard to save the image to your clipboard.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_02.png" alt="InstarVision 2.0 :: Add a Map">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">2</strong>
                        </span> Open MS Paint (or similar) and click <kbd>Ctrl</kbd> + <kbd>V</kbd> at the same time to copy the image to the program. Use the cropping tools to adjust the image.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_03.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">3</strong>
                      </span> Drag and drop your cameras from the camera list onto the map. Position them according to their installation location.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_04.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">4</strong>
                      </span> Double-click the white camera icon to open a window with the camera´s live video feed. Close the feed by pressing <kbd>Esc</kbd>.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_05.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">5</strong>
                      </span> The camera icon will start to flash red, whenever an alarm is triggered. Double-click the camera name inside the Camera List to get back the Video Canvas.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_06.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">6</strong>
                      </span> The camera icon will start to flash red, whenever an alarm is triggered. Double-click the camera name inside the Camera List to get back the Video Canvas.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
