<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Camera-PTZ.png" class="shadow img-fluid" alt="InstarVision 2 PTZ"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Camera-PTZ.png" class="shadow img-fluid" alt="InstarVision 2.0 PTZ"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt mb">
                <h1><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Side Navigation - Camera Pan, Tilt &amp; Zoom</h1>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image023_cut.png" alt="InstarVision 2.0 Surveillance Center User Interface - PTZ" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <div class="col-12">
                      <h3>PTZ Control</h3>
                      <p class="text-justify">Use the Camera PTZ menu to access your camera´s pan, tilt and zoom function as well as the preset control.</p>
                      <p class="text-justify">The button <img src="/images/Software/Image024.png" width="15" height="15"/> moves your camera to the Left, <img src="/images/Software/Image025.png" width="15" height="15"/> pans it to the Right and the <img src="/images/Software/Image026.png" width="15" height="15"/> and <img src="/images/Software/Image027.png" width="15" height="15"/> tilt your camera Up and Down, respectively. The buttons <img src="/images/Software/Image028.png" width="15" height="15"/> Zoom-in and Camera <img src="/images/Software/Image029.png" width="15" height="15"/> Zoom-out activate your camera´s optical zoom - if your camera uses a varifocal lense. InstarVision also supports a digital zoom function for camera models without a zoom lense - simply select your camera´s viewport and turn your mouse wheel to zoom in and out of your camera frame. Drag &amp; drop the image to pan &amp; tilt your camera virtually.</p>
                      <h3>Camera Tour</h3>
                      <p class="text-justify">Select a preset from the Preset List to move your camera to the saved preset position - the drop-down menu has to be set to <strong>Go to Position</strong>. To save a position, move your camera to the desired position, select <strong>Save Position</strong> from the drop-down menu and click on the number you want to assign to the position. Be careful - this function will overwrite the positions saved on the camera!.</p>
                      <p class="text-justify">Your camera´s preset function can also be used to program a Camera Patrol. Set your camera to automatically go through a list of preset positions. Select how many cycles you want the camera to move (1 - 999999999) and choose a Pause for the camera to remain at a position [in Seconds]. In the given example, your camera will go through the preset positions 1,2,3 once you clicked on <strong>Start</strong>, starting from position 1 and stop at each position for 10 seconds. The amount of cycles will count down by one, every time your camera reaches position 3 and moves back to position 1. The patrol will automatically stop once the value for cycles equals 0. You can always stop a Patrol by clicking on <strong>Stop</strong>.</p>
                  </div>

              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; How to Program a PTZ Camera Tour</h2>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_PTZ-Tour_01.png" alt="InstarVision 2.0 :: PTZ Tour">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">1</strong>
                        </span> Open the PTZ Menu and select <strong>Save Position</strong> from the drop-down menu underneath the PTZ control pad. Depending on your camera model 8 or 15 position slots will be available for you to program a PTZ tour.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_PTZ-Tour_02.png" alt="InstarVision 2.0 :: PTZ Tour">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">2</strong>
                        </span> Move your camera into <strong>position one</strong> of your camera tour with the PTZ control pad. Click on the <strong>1</strong> underneath the drop-down menu. The number will turn into a bold font for a second and the position will be saved.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_PTZ-Tour_03.png" alt="InstarVision 2.0 :: PTZ Tour">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">3</strong>
                      </span>  Move your camera into <strong>position two</strong> of your camera tour with the PTZ control pad. Click on the <strong>2</strong> underneath the drop-down menu. The number will turn into a bold font for a second and the position will be saved.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_PTZ-Tour_04.png" alt="InstarVision 2.0 :: PTZ Tour">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">4</strong>
                      </span> Move your camera into <strong>position three</strong> of your camera tour with the PTZ control pad. Click on the <strong>3</strong> underneath the drop-down menu. The number will turn into a bold font for a second and the position will be saved.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_PTZ-Tour_05.png" alt="InstarVision 2.0 :: PTZ Tour">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">5</strong>
                      </span> Type in the amount of PTZ cycles you want your tour to last (<strong>1 - 999999999</strong>), the pause you want the camera to remain in one position (<strong>min. 10s</strong>) before moving on to the next and the positions you want to move between divided by a comma (e.g. <strong>1,2,3</strong>). Then click <strong>START</strong>.</p>
                    </div>
                  </div>
                  <div class="card invisible">
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
