<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Software/Windows/Blue_Iris">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-p.ejs %>

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Windows Software</h1>
                        <h2>Blue Iris</h2>
                        <p class="justify">Use up to 64 cameras, capture JPEG snapshots or movies in standard MP4, AVI, advanced DVR, or Windows Media file formats. Keep an eye on your home, place of business, cars, and valuables; watch your pets or your kids; monitor your nanny, babysitter, or employees. Watch your door for mail, packages or visitors. Use motion detection, audio detection, or capture continuously. Receive alerts via loudspeaker, e-mail or phone. Overlay text and graphics. Use the built-in web server, or post to a website. Push to a Flash or Windows media server.</p>
                        <p>
                          In order to integrate your INSTAR IP camera in <a href="http://blueirissoftware.com/">BlueIris</a> we recommend you to download the latest version from <a href="http://blueirissoftware.com/download/">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a Camera</h3>
                      <p>Start the <strong>New Camera Wizard</strong> and choose your INSTAR camera model from the dropdown menu. Now type in your camera´s IP address, HTTP and RTSP port (in case of an HD model) and your login credentials. For the video path you can choose between 3 different quality settings <strong>/11</strong> Highest quality and Bandwidth Requirements, <strong>/12</strong> Standard Quality, <strong>/13</strong> Good Quality and Lowest Bandwidth Requirements. Reduce the video quality according to the available network bandwidth. Click ok to add your camera.</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/BlueIris_02.png" width="1150" height="821" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Open the network IP camera configuration to add a new camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Advanced Settings</h3>
                      <h4>General</h4>
                      <p>Name your camera and add it to a surveillance group to be able to establish group policies.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/BlueIris_03.png" width="1149" height="821" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>General settings allows you to name your camera and assign it to a group.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                    <h4>Motion Detection</h4>
                    <p>The <strong>Motion/Trigger</strong> menu allows you to enable the software motion detection for your camera and fine tune its sensitivity.</p>
                    <br>
                    <amp-img
                        on="tap:lightbox3"
                        role="button"
                        tabindex="0"
                        src="/images/BlueIris_04.png" width="1148" height="822" layout="responsive" class="shadow">
                    </amp-img>
                    <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Enable and adjust the motion detection settings for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h4>Video Recording</h4>
                      <p>The Record menu allows you to enable and adjust the video recording for your camera and fine tune the storage requirements.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/BlueIris_05.png" width="1151" height="820" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Adjust the video recording settings for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h4>Webcast</h4>
                      <p>BlueIris built-in web server enables you to bring your cameras with you anywhere. Remotely connect to your workstation from anywhere in the world, from any web enabled device. Just activate the web server and forward a port to your windows computer and have access to all your cameras.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/BlueIris_06.png" width="1150" height="820" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Activate the webserver to stream your cameras to the internet - don´t forget to forward the port to your workstation.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h4>Pan, Tilt and Zoom</h4>
                      <p>Please make sure to activate the correct PTZ profile for your camera from the drop down menu to be able to use the camera´s PTZ functions.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/BlueIris_08.png" width="1151" height="823" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Activate the correct PTZ profile for your camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h4>Schedule</h4>
                        <p>Schedule your camera operation - it is recommended to establish global or group policies and only use the individual camera schedule to cover deviations from the main schedule.</p>
                        <br>
                        <amp-img
                            on="tap:lightbox7"
                            role="button"
                            tabindex="0"
                            src="/images/BlueIris_09.png" width="1150" height="823" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                          <br>
                          <p>Use the camera schedule to make adjustments to the operations of the specific camera - use group policies or a global settings as your main schedule.</p>
                    </div>

                        <div class="margin">
                          <h4>Alerts</h4>
                          <p>Define the actions to be taken if an alarm event is triggered.</p>
                          <amp-img
                              on="tap:lightbox8"
                              role="button"
                              tabindex="0"
                              src="/images/BlueIris_10.png" width="1149" height="822" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                          <br>
                          <p>Define the actions to be taken if an alarm event is triggered. Or use the alarm event to trigger an external device like an Arduino board.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                        <amp-img
                            on="tap:lightbox9"
                            role="button"
                            tabindex="0"
                            src="/images/BlueIris_11.png" width="1151" height="820" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                          <br>
                          <p>Define the actions to be taken if an alarm event is triggered.</p>
                        </div>
                        <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-p-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
