<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb">
          <div class="row justify-content-around">

              <div class="col-12">
                <h1>The Settings Menu</h1>
                <br>
                <br>
              </div>

              <div class="col-12">

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (30).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">1</strong>
                    </span> The Image Preview settings affect the Multiview window (<a href="/Software/Windows/InstarVision/Metro/Multiview">see #1</a>).</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (31).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">2</strong>
                    </span> The Video settings affect to live video of your camera (<a href="/Software/Windows/InstarVision/Metro/Multiview">see #2-3</a>).</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                  <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (32).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">3</strong>
                    </span> The Audio settings affect to live video of your camera (<a href="/Software/Windows/InstarVision/Metro/Multiview">see #2-3</a>).</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (33).png" alt="InstarVision for iOS">
                      <div class="card-block">
                        <p style="padding: 10px 5px 0 5px; color: #FFF;">
                        <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">4</strong>
                      </span> If you you only use the app to manage your camera, you can deactivate the automatic synchronisation.</p>
                      </div>
                    </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                  <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (34).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">5</strong>
                    </span> The <strong>Live Tile</strong> settings affect the app´s live tile.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (35).png" alt="InstarVision for iOS">
                      <div class="card-block">
                        <p style="padding: 10px 5px 0 5px; color: #FFF;">
                        <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">6</strong>
                      </span> The <strong>Help</strong> section gives you an overview over all app functions.</p>
                      </div>
                    </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                  <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (36).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">7</strong>
                    </span> The <strong>Help</strong> section gives you an overview over all app functions.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (37).png" alt="InstarVision for iOS">
                      <div class="card-block">
                        <p style="padding: 10px 5px 0 5px; color: #FFF;">
                        <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">8</strong>
                      </span> The <strong>Help</strong> section gives you an overview over all app functions.</p>
                      </div>
                    </div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /Col-12 -->

            </div>
            <!-- /Row -->
          </section>
          <!-- /Container -->

          <!-- #############################################  Table ############################################# -->

          <section class="container mb">
            <div class="row">

              <div class="container col-12 mt">
              <!-- Text Container -->

                <h3>Adjust General Settings</h3>
                <p class="text-justify">The General Settings allow you to adjust certain video settings globally as well as to export or import your app configuration.</p>

                <table class="table table-hover">
                  <tr>
                    <th scope="row">Mobile Mode</th>
                    <td>FThe mobile mode will grab snapshots from the camera in a fixed interval instead of the h.264 live stream. This reduces the needed bandwidth and keep a connection alive even if the 3G/LTE connection is weak for the high resolution live stream. It also reduces the data volume dramatically.</td>
                  </tr>
                  <tr>
                    <th scope="row">Image Preview</th>
                    <td>Use the refresh time to adjust the image refresh rate in the Multiview window of the app. You can also define how many cameras are displayed per screen, of the video aspect ratio is to be maintained, the screen is prevented from going to sleep and if you want to stop the image refresh when your mobile device switches to a mobile network (3G, LTE...).</td>
                  </tr>
                  <tr>
                    <th scope="row">Video Option</th>
                    <td>These options will affect the full screen Camera View. Define if you want the app to maintain the aspect ratio or fill the screen with the live video, if the screen is to be kept alive and if you want to use an advanced video renderer for high resolution devices.</td>
                  </tr>
                  <tr>
                    <th scope="row">Audio</th>
                    <td>You can set the app to increase the playback volume automatically, when you want to listen to a camera's live audio stream.</td>
                  </tr>
                  <tr>
                    <th scope="row">Data &amp; Sync</th>
                    <td>The Camera View allows you to set several camera functions, e.g. the Motion Detection. But the app won't check if those functions have been changed by another user. To sync all your camera settings inside the app please push the corresponding button. The import / export function allows you store your app configuration (all added cameras) and restore them - e.g. to transfer the settings to another device.</td>
                  </tr>
                </table>

              </div>


          </div>
          <!-- / row -->
        </section>
        <!-- / container -->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
