<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Software/Windows/iSpy">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Windows Software</h1>
                        <h2>iSpy Connect</h2>
                        <p>
                          iSpy uses your cameras, webcams, IP cams and microphones to detect and record movement or sound. Captured media is compressed to flash video or mp4 and streamed securely over the web and local network. iSpy can run on multiple computers simultaneously and has full Email, SMS and Twitter alerting functions and remote viewing. Some key features are: Unlimited Cameras and Microphones (including IP and USB cameras), Motion Detection (3 types), Motion Processing (4 types), Record on Detection, Record on Schedule, Record with Audio, Remote Access, Network Audio Broadcasting (via iSpy Server), Password Protection, Desktop Recording, YouTube Uploading, SMS, Twitter and Email alerts.
                        </p>
                        <p>
                          In order to integrate your INSTAR IP camera in <a href="www.ispyconnect.com" target="_blank">Spy from ISPYConnect</a> we recommend you to download the latest version from <a href="http://www.ispyconnect.com/download.aspx" target="_blank">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_mainview.png" width="1095" height="674" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin"><h2>Add an HD Camera</h2>
                        <p>After you installed the newest version of iSpy please open the program.</p></div>
                    <div class="margin">
                        <h3>Step 1</h3>
                        <p>
                            Click the <b>Add</b> button and choose <b>IP Camera</b> to add your INSTAR HD camera.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_01.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 2</h3>
                        <p>
                            If want to use the <b>MPEG</b>-Stream then type username and password into the given text fields. Type the complete url into the
                            MPEG-URL field. The url should have the following pattern: http://&lt;Camera-IP&gt;:&lt;Camera-Port&gt;/videostream.cgi?&lt;Parameters&gt;. Then press <b>Ok</b>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_02.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                       <p>
                            If want to use the <b>H.264</b>-Stream then type the complete rtsp url into the
                            URL field. The url should have the following pattern: rtsp://&lt;username&gt;:&lt;password&gt;@&lt;Camera-IP&gt;/11?&lt;Parameters&gt;. Then press <b>Ok</b>.
                        </p>
                      </div>
                      <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_03.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>
                          Type a name for the new added camera into the name text field. Then press <b>Finish</b>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_04.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin"><h2>Advanced Settings</h2>
                        <p>iSpy comes with a wealth of feature that cannot be covered in detail here. Please refer to the <a href="http://www.ispyconnect.com/userguide.aspx">iSpy User Guide</a> for a more in-depth tutorial. Also note that iSpy supports <a href="http://www.ispyconnect.com/plugins.aspx">Plugins</a> for added features like License Plate Recognition, Face Recognition, Barcode Scanners, Text Overlays, etc. You can also use the software to make your IP camera available for video chat programs like <a href="http://www.ispyconnect.com/userguide-virtual-webcam-driver.aspx">Skype</a>.
                        </p>
                        <p>The following section is supposed to give you an overview over the advanced features you might want to use with your INSTAR IP camera. You can enter the advanced camera setting by hovering your mouse over the camera video and clicking on the Cog symbol in the context menu.
                        </p>
                        <h3>Camera Settings</h3>
                        <p>The Camera Settings tab allows you to change basic video options like the frame rate and text overlays. You can also edit the video source if the camera address or login was changed. Add a privacy mask to the video image or activate the microphone function if not activated automatically.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox6"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_01.png" width="1150" height="823" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>Edit basic video and audio option of your camera.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox7"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_02.png" width="1151" height="821" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>Add a black&amp;white image file to the camera to mask areas of the video where privacy is concerned.</p>

                        <h3>Motion Detection</h3>

                            <p>iSpy comes with a range of different motion detection algorithm built in. Each motion detector has different performance impacts and is suited to different purposes.</p>

                            <div class="margin">
                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>Two Frames:</strong>
                                    </td>
                                    <td>Probably the most common type you would use. iSpy just compares the last frame to the current frame.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Custom Frame:</strong>
                                    </td>
                                    <td>iSpy stores one frame in memory and compares subsequent frames to this - good for detecting if things change - say someone takes a bag out of the scene.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Background Modelling:</strong>
                                    </td>
                                    <td>iSpy takes a custom frame but adjusts it over time to morph it towards the current frame. This is good when you have something in your scene that is constantly moving - iSpy will learn to ignore it.</td>
                                </tr>
                            </table>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox8"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_03.png" width="1151" height="822" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Experiment with different motion detection algorithm to find the one that works best for your surveillance.</p>

                            <p>The sensitivity can be set in a Trigger Range, allowing you to set a minimum and maximum level of motion detection. The cut-off function for high detection levels allows you to minimize false alerts due to e.g. changes in lighting conditions (passing cloud during the day or passing car during the night). All changes that effect the whole video image can easily be removed as an alarm trigger by the set upper detection level. The lower level defines the minimum amount of motion that has to occur to trigger an alert.</p>


                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox9"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_03.png" width="1151" height="822" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Set an upper and lower detection level cut-off to minimize false alerts.</p>

                            <p>The HSL Filter tells iSpy to ignore certain colours or luminosity ranges when looking for motion. There are many ways this can be useful, for example ignoring constantly moving objects (like trees or clouds) or Tracking objects of a specific colour (like your red car in a parking lot). Use the colour wheel on the left to select a range of colours to either ignore, or track (depending on the dropdown selection for "Fill type"). You can then specify the minimum and maximum levels for saturation and luminance. A live preview of what the motion detector is seeing is provided on the top right. Here you can see that the detector is set to only look for red colours and ignore everything else - this means that it will only record and alert if something red enters the frame.</p>

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox10"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_04.png" width="1151" height="823" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>The HSL Filter allows you to let iSpy either ignore colours or only react to a specific colour in the video frame.</p>

                            <p>iSpy can monitor specific areas of the camera view and ignore others. You can add as many rectangular detection zones as you like (iSpy will only monitor the area within the zones). To add a zone, click and drag out a translucent rectangle. To clear all zones click "Clear Zones". Note that with no zones defined iSpy will monitor the entire camera view.</p>

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox11"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_05.png" width="1149" height="823" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Limit the detection zone by drawing rectangular shapes on the video frame. Only motions inside a drawn zone will be detected to reduce false alerts.</p>


                        <h3>Alerts</h3>

                            <p>iSpy raises alerts for cameras and microphones when it detects movement or sound (you can also raise alerts for no movement or no sound).</p>

                            <div class="margin">
                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>Mode:</strong>
                                    </td>
                                    <td>Choose between movement/ no movement or plugin modes. Click the "..." button to configure various settings.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Continuous/ When Motion Detected/ External Trigger:</strong>
                                    </td>
                                    <td>These options apply to plugins only. For example you may only want to perform license plate recognition (using the plugin) when motion is detected.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Actions:</strong>
                                    </td>
                                    <td>Actions to perform on alert - You can add as many actions here as you like.</td>
                                </tr>
                            </table>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox12"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_06.png" width="1150" height="823" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Define a criteria that is used to trigger an alert - the default is to detect movements in the video frame.</p>

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox13"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_07.png" width="1151" height="822" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Define an action that is triggered by a detection - you can add as many actions as you want.</p>

                        <h3>Recording</h3>

                        <p>iSpy has 4 types of recording mode:</p>

                        <div class="margin">
                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>No Recording:</strong>
                                    </td>
                                    <td>Triggered manually - either by right-clicking on the camera in iSpy and clicking "Record" or by clicking "Record" in iSpyConnect.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Record on Detect:</strong>
                                    </td>
                                    <td>Starts recording as soon as motion is detected, regardless of how long the motion has been detected for.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Record on Alert:</strong>
                                    </td>
                                    <td>This is very useful for cutting down on the number of recordings if you have set a sensitive motion detect trigger point.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Timelapse Recording:</strong>
                                    </td>
                                    <td>iSpy saves a frame on the interval you choose and convert the images to a movie file. Record on detect means record as soon as ispy detects movement. Record on alert means record when ispy generates an alert - alerts can be generated by plugins like face detection or number plate recognition or whatever.</td>
                                </tr>
                            </table>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox14"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_08.png" width="1150" height="821" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Adjust the recording settings for your camera.</p>


                        <h3>PTZ Control</h3>

                        <p>iSpy includes an XML definition file for controlling PTZ cameras. You can control PTZ for your camera from this panel, or you can control PTZ within iSpy by holding down the middle mouse button on the camera or from the context menu (for advanced commands like turning on/off the IR light). If your camera has zoom controls you can use the mouse wheel on the camera to zoom in or out.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox15"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_09.png" width="1151" height="822" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>The PTZ Settings.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox16"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_10.png" width="1149" height="823" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>The PTZ Menu.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox17"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_11.png" width="1151" height="821" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>The PTZ Controller.</p>

                        <p>By the time you read this wiki all of the INSTAR cameras might be integrated in the iSpy XML file. If not, just add the following commands to the file to get your camera´s PTZ working:</p>

                        <h4>PTZ Control: Commands</h4>

                        <p>IN-3005, IN-3010, IN-3011</p>

                        <div class="code shadow">
                        <code><pre>
                        &lt;Makes&gt;
                            &lt;Make Name="INSTAR" Model="IN-301x" &#47;&gt;
                        &lt;&#47;Makes&gt;
                        &lt;CommandURL&gt;&#47;decoder_control.cgi&lt;&#47;CommandURL&gt;
                        &lt;Commands&gt;
                           &lt;Center&gt;command=25&lt;&#47;Center&gt;
                           &lt;Left&gt;command=4&lt;&#47;Left&gt;
                           &lt;LeftUp&gt;command=90&lt;&#47;LeftUp&gt;
                           &lt;Right&gt;command=6&lt;&#47;Right&gt;
                           &lt;RightUp&gt;command=91&lt;&#47;RightUp&gt;
                           &lt;Up&gt;command=0&lt;&#47;Up&gt;
                           &lt;Down&gt;command=2&lt;&#47;Down&gt;
                           &lt;LeftDown&gt;command=92&lt;&#47;LeftDown&gt;
                           &lt;RightDown&gt;command=93&lt;&#47;RightDown&gt;
                           &lt;Stop&gt;command=1&lt;&#47;Stop&gt;
                        &lt;&#47;Commands&gt;
                        &lt;ExtendedCommands&gt;
                           &lt;Command Name="Stop"&gt;command=1&lt;&#47;Command&gt;
                           &lt;Command Name="Horizon patrol"&gt;command=28&lt;&#47;Command&gt;
                           &lt;Command Name="Stop horizon patrol"&gt;command=29&lt;&#47;Command&gt;
                           &lt;Command Name="Vertical patrol"&gt;command=26&lt;&#47;Command&gt;
                           &lt;Command Name="Stop vertical patrol"&gt;command=27&lt;&#47;Command&gt;
                           &lt;Command Name="IO Output High"&gt;command=94&lt;&#47;Command&gt;
                           &lt;Command Name="IO Output Low"&gt;command=95&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 1"&gt;command=30&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 1"&gt;command=31&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 2"&gt;command=32&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 2"&gt;command=33&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 3"&gt;command=34&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 3"&gt;command=35&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 4"&gt;command=36&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 4"&gt;command=37&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 5"&gt;command=38&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 5"&gt;command=39&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 6"&gt;command=40&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 6"&gt;command=41&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 7"&gt;command=42&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 7"&gt;command=43&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 8"&gt;command=44&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 8"&gt;command=45&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 9"&gt;command=46&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 9"&gt;command=47&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 10"&gt;command=48&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 10"&gt;command=49&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 11"&gt;command=50&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 11"&gt;command=51&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 12"&gt;command=52&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 12"&gt;command=53&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 13"&gt;command=54&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 13"&gt;command=55&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 14"&gt;command=56&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 14"&gt;command=57&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 15"&gt;command=58&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 15"&gt;command=59&lt;&#47;Command&gt;
                        &lt;&#47;ExtendedCommands&gt;
                        </pre></code>
                        </div>

                        <p>IN-4009, IN-4010, IN-4011</p>

                        <div class="code shadow">
                        <code><pre>
                        &lt;Makes&gt;
                            &lt;Make Name="INSTAR" Model="IN-40xx" &#47;&gt;
                        &lt;&#47;Makes&gt;
                        &lt;CommandURL&gt;&#47;decoder_control.cgi&lt;&#47;CommandURL&gt;
                        &lt;Commands&gt;
                            &lt;Center&gt;command=31&lt;&#47;Center&gt;
                            &lt;Left&gt;command=4&lt;&#47;Left&gt;
                            &lt;Right&gt;command=6&lt;&#47;Right&gt;
                            &lt;Up&gt;command=0&lt;&#47;Up&gt;
                            &lt;Down&gt;command=2&lt;&#47;Down&gt;
                            &lt;Stop&gt;command=1&lt;&#47;Stop&gt;
                            &lt;ZoomIn&gt;command=16&lt;&#47;ZoomIn&gt;
                            &lt;ZoomOut&gt;command=18&lt;&#47;ZoomOut&gt;
                        &lt;&#47;Commands&gt;
                        </pre></code>
                        </div>

                        <p>IN-6011 HD, IN-6012 HD, IN-6014 HD, IN-7011 HD</p>

                        <div class="dangercard">
                            <p class="justify">The PTZ commands in iSpy don´t seem to work for our HD models at the moment. Please add your HD camera as an ONVIF cameras - when you are using the wizard to add a new camera, simply choose ONVIF as camera manufacturer. This will automatically choose the ONVIF profile inside the PTZ menu. If you are accesing your camera over the internet, please don´t forget to forward the ONVIF port inside the local router: <strong>The default ONVIF port is 8080</strong>!</p>
                        </div>

                        <br/>

                        <div class="code shadow">
                        <code><pre>
                        &lt;Makes&gt;
                        &lt;Make Name="INSTAR" Model="IN-6&#47;7xx" &#47;&gt;
                        &lt;&#47;Makes&gt;
                        &lt;CommandURL&gt;&#47;web&#47;cgi-bin&#47;hi3510&#47;&lt;&#47;CommandURL&gt;
                        &lt;Commands&gt;
                          &lt;Center&gt;preset.cgi?-act=goto&amp;-number=0&lt;&#47;Center&gt;
                          &lt;Left&gt;ptzctrl.cgi?-step=1&amp;-act=left&lt;&#47;Left&gt;
                          &lt;Right&gt;ptzctrl.cgi?-step=1&amp;-act=right&lt;&#47;Right&gt;
                          &lt;Up&gt;ptzctrl.cgi?-step=1&amp;-act=up&lt;&#47;Up&gt;
                          &lt;Down&gt;ptzctrl.cgi?-step=1&amp;-act=down&lt;&#47;Down&gt;
                          &lt;Stop&gt;ptzctrl.cgi?-step=0&amp;-act=stop&lt;&#47;Stop&gt;
                          &lt;ZoomIn&gt;ptzctrl.cgi?-step=1&amp;-act=zoomin&lt;&#47;ZoomIn&gt;
                          &lt;ZoomOut&gt;ptzctrl.cgi?-step=1&amp;-act=zoomout&lt;&#47;ZoomOut&gt;
                        &lt;&#47;Commands&gt;
                        &lt;ExtendedCommands&gt;
                          &lt;Command Name="Go Preset 1"&gt;preset.cgi?-act=goto&amp;-number=0&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 2"&gt;preset.cgi?-act=goto&amp;-number=1&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 3"&gt;preset.cgi?-act=goto&amp;-number=2&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 4"&gt;preset.cgi?-act=goto&amp;-number=3&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 5"&gt;preset.cgi?-act=goto&amp;-number=4&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 6"&gt;preset.cgi?-act=goto&amp;-number=5&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 7"&gt;preset.cgi?-act=goto&amp;-number=6&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 7"&gt;preset.cgi?-act=goto&amp;-number=7&lt;&#47;Command&gt;
                        &lt;&#47;ExtendedCommands&gt;
                        </pre></code>
                        </div>

                    </div>

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox11" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox12" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox13" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox14" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox15" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox16" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox17" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
