<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Software/Windows/P2P_Client">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Windows Software</h1>
                        <h2>P2P Client</h2>
                        <p class="justify">The Point-2-Point protocol integrated in our HD camera line (not available for VGA models) allows you to connect to your camera from the internet without the need for a portforwarding rule inside your local router. The advantage of the P2P technology is that you can use it in places where traditional DDNS fails - like IPv6 DSLite tunnels and mobile (3G/LTE) routers without static WAN IP addresses. You can find Installation Guides to use the P2P connection with our mobile apps like our <a href="/Software/iOS/InstarVision">InstarVision for iPhone</a></p>
                        <p>
                          In order to integrate your INSTAR HD IP camera in the P2P Client for Windows we recommend you to download the latest version from <a href="http://wiki.instar.com/index.php/File:P2P_Client.zip" target="_blank">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add an P2P Camera</h3>
                      <p>Start the software and click on the cog symbol to - log in with <strong>admin</strong> and <strong>NO PASSWORD</strong> - and open the camera management window.</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Software/P2P-Client_01.png" width="962" height="720" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Click on the cog wheel symbol to open the camera management.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Software/P2P-Client_01b.png" width="963" height="722" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Log in with admin and NO PASSWORD.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>Open the Add Area dialogue to add camera groups for your different surveillance sites.</p>
                      <br>
                        <amp-img
                            on="tap:lightbox3"
                            role="button"
                            tabindex="0"
                            src="/images/Software/P2P-Client_02.png" width="960" height="721" layout="responsive" class="shadow">
                        </amp-img>
                      <br>
                      <p>Click on Add Area to add a new camera group.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Software/P2P-Client_03.png" width="962" height="720" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Name your camera group.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>Now open the <strong>Add Device</strong> dialogue to add your camera. You need to type in your cameras UID (Point-2-Point User Identification) which can be found in the cameras web user interfaces under network / p2p. Please also read the documentation on P2P from the download area linked above. Please make sure to use the password for the <strong>admin account</strong> of your camera! Name the camera and assign it to the group generated earlier.</p>
                      <br>
                        <amp-img
                            on="tap:lightbox5"
                            role="button"
                            tabindex="0"
                            src="/images/Software/P2P-Client_04.png" width="957" height="720" layout="responsive" class="shadow">
                        </amp-img>
                      <br>
                      <p>Click on Add Device to add a new camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/Software/P2P-Client_05.png" width="962" height="722" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Type in your cameras UID and the password for the admin account.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Camera View</h3>
                        <p>Now go back to the camera view window and right-click your new camera to connect it. You can then drag-and-drop it into a channel and right-click the live-video to start using your camera.</p>
                        <br>
                          <amp-img
                              on="tap:lightbox7"
                              role="button"
                              tabindex="0"
                              src="/images/Software/P2P-Client_06.png" width="961" height="722" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p>Go back the Camera View window and right-click the camera to connect it.</p>
                    </div>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox8"
                              role="button"
                              tabindex="0"
                              src="/images/Software/P2P-Client_07.png" width="960" height="720" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p>Left-click and hold the camera to drop it into a channel.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox9"
                              role="button"
                              tabindex="0"
                              src="/images/Software/P2P-Client_08.png" width="961" height="721" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p>You can right-click the video to start using your camera.</p>
                        </div>
                        <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
