<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Software/Windows/YAW_Cam">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-p.ejs %>

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Windows Software</h1>
                        <h2>Yet Another Webcam Viewer</h2>
                        <p class="text-justify">Yet Another Webcam Software ? Maybe. But Yawcam delivers a punch in a small package. Yawcam is a webcam software for windows written in java. The main ideas for Yawcam are to keep it simple and easy to use but to include all the usual features. And Yawcam is completely free to use.</p>
                        <p>
                          In order to integrate your INSTAR IP camera in the <a href="http://www.yawcam.com/">Yawcam</a> we recommend you to download the latest version from <a href="http://www.yawcam.com/download.php">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a Camera</h3>
                      <p>Start the software and go to <strong>Settings / Device / Change to / IP Camera</strong>. Now type in the address for your local camera. The video path would be:<br><br><strong>VGA Video Path</strong>: <span class="code">http://192.168.1.237:80?user=admin&pwd=</span> </p>
                      <p>for a camera with the default login <em>user = admin, password = &lt;empty&gt;</em>, the <em>local IP address 192.168.1.237</em> and the <em>HTTP port 80</em>. Please adjust the path if you changed the default login or the default web port accordingly. Usually you should be able to just type in the IP address and use the login mask below for your username and password - but this did not seem to work for me.</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/YAWcam_01.png" width="515" height="273" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Open the dialogue to add a new IP camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/YAWcam_02.png" width="468" height="328" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Add a new IP camera and type in the video path + login credentials.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/YAWcam_03.png" width="657" height="513" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Confirm the camera address to start the video stream.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Advanced Settings</h3>
                      <p>Yawcam offers you a surprisingly wide variety of functions for such a small program - motion detection, email notification, ftp alarm upload and a web server to stream your cameras video to the internet. The following screenshots just give you a small overview over the available settings. Please refer to the Yawcam website for detailed information on every available function.</p>
                      <br>
                        <amp-img
                            on="tap:lightbox4"
                            role="button"
                            tabindex="0"
                            src="/images/YAWcam_05.png" width="654" height="518" layout="responsive" class="shadow">
                        </amp-img>
                        <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Let the software upload snapshots to an FTP server in case of an alarm event.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/YAWcam_06.png" width="658" height="514" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Activate an webserver to stream your cameras live video to the internet - don´t forget to forward the port to your workstation!</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox6"
                          role="button"
                          tabindex="0"
                          src="/images/YAWcam_08.png" width="656" height="510" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                      <br>
                      <p>Use the scheduler to automate the motion detection, web streaming, video recording or an FTP upload to generate a timelapse video.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox7"
                          role="button"
                          tabindex="0"
                          src="/images/YAWcam_09.png" width="701" height="465" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                        <br>
                        <p>Use the motion detection to trigger actions like email notifications, FTP uploads or video recordings.</p>
                    </div>

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-p-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
