<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>
        <!-- #############################################  Content ############################################# -->

        <div class="container mb">
          <div class="row">
            <div class="col-12">
              <nav class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <a class="breadcrumb-item" href="/Software/Windows/InstarVision">Software Overview</a>
                  <a class="breadcrumb-item" href="/Software/Windows/InstarVision/Record">Recording Menu</a>
                <span class="breadcrumb-item active">Photoseries Settings</span>
              </nav>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_Record.png" class="shadow img-fluid" alt="InstarVision 2 Webserver"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Banner_en-InstarVision2-0_small_Record.png" class="shadow img-fluid" alt="InstarVision 2.0 Webserver"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container">
          <div class="row">

              <div class="col-12 mt mb">
                <h1><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Side Navigation - FTP Photoseries</h1>
              </div>

              <div class="col-md-12 col-lg-4 mt mb" style="padding-top: 5px;">
                  <img src="/images/Image044.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record Menu" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-8 mt">
                <p class="lead">This meu allows you to activate the software´s photo series function.</p>
                <br>
                <p class="text-justify"><span class="lead">SCHEDULE</span>  First select your camera - or keep <strong>All Channels</strong> selected to set all your camera´s at once - and check <strong>FTP Photoseries</strong> to start a continuous snapshot recording within the selected time window. Clicking on <strong>Default</strong> will activate a 24/7 alarm schedule. You can adjust this schedule by first selecting the day of the week you want to change and then select a time window below. You can either select two time windows - e.g. from 12 at night to 7am and from 6pm to 11:59pm to keep an eye on your office over the off-hours. Or hide the second timeline to cover a continuous time period. Please make sure that the first time value always has to be earlier then the second and the time window has to be contained by the 24h day - e.g. Time Segment 08:00:00AM - 06:00:00AM and Time Segment 08:00:00PM - 06:00:00AM would <strong>NOT</strong> be valid entries.</p>
              </div>

              <div class="col-12">
                  <p class="text-justify"><span class="lead">PHOTOSERIES</span>  InstarVision can be used to take snapshots with an interval between 5s and 900s. Snapshots taken will be named by a time stamp and uploaded to a FTP server (please check the <strong>Save to Disk</strong> box to save of those snapshots locally). Please go to the <a href="/Software/Windows/InstarVision/Record/FTP">Record FTP settings</a> to set up a connection to your FTP server first! You can also upload images directly to your website. To do so, you should set a fixed file name in the FTP settings and then upload it to your webserver. Add the snapshot to your website with an image tag - this way you will always have an up-to-date image on your homepage.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix mt"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h3><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; How to create a Timelapse Video from a Photoseries in Windows</h3>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_01.png" alt="InstarVision 2.0 :: Photoseries">
                      <div class="card-block">
                        <p style="font-size: 120%; padding: 2px; color: white;">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x">1</strong>
                        </span>
                        Open the Start Menu and search for the Windows App <strong>Photo Gallery</strong>. In Windows 8 just open the Charm Bar on the right of your display and use the Search function embedded there. Start the software.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_02.png" alt="InstarVision 2.0 :: Photoseries">
                      <div class="card-block">
                        <p style="font-size: 120%; padding: 2px; color: white;">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x">2</strong>
                        </span>
                        If you saved your snapshots in a default photo directory, the Gallery app should already display them - you can <strong>skip to step 5</strong>. Otherwise open the <strong>File Menu</strong> to add the directory that contains the images from your Photoseries.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_03.png" alt="InstarVision 2.0 :: Photoseries">
                      <div class="card-block">
                        <p style="font-size: 120%; padding: 2px; color: white;">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x">3</strong>
                        </span>
                        To add your photoseries folder to the selection, choose to <strong>Include a Folder</strong> in the File menu. This will open the <em>Add Directory</em> dialogue for you.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_04.png" alt="InstarVision 2.0 :: Photoseries">
                      <div class="card-block">
                        <p style="font-size: 120%; padding: 2px; color: white;">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x">4</strong>
                        </span>
                        Click on <strong>Add</strong> to include your Photoseries folder in the selection. Navigate to the folder where you saved your snapshots and select it. Then click OK.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_05.png" alt="InstarVision 2.0 :: Photoseries">
                      <div class="card-block">
                        <p style="font-size: 120%; padding: 2px; color: white;">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x">5</strong>
                        </span>
                        The software will now display the content of your Photoseries folder. Click on <strong>Select All</strong> to do some global adjustments to the image.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_06.png" alt="InstarVision 2.0 :: Photoseries">
                      <div class="card-block">
                        <p style="font-size: 120%; padding: 2px; color: white;">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x">6</strong>
                        </span>
                        Open the edit menu to get access to the photo editing tools available in the Photo Gallery app. If you apply those tools now, they will be applied to all images equally. You might want to select some of the images to do individual adjustments. Please be aware that the overall look of images close to each other has to be similar (see also step 7).</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_07.png" alt="InstarVision 2.0 :: Photoseries">
                    <div class="card-block">
                      <p style="font-size: 120%; padding: 2px; color: white;">
                      <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x">7</strong>
                      </span>
                      You can adjust the Contrast and Saturation as well as reduce the image noise ("graininess"). If there are stark differences in brightness between two images next to each other, it is recommended to go through them one by one and equalize them - otherwise they will show up as a annoying flicker in the final movie!</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_08.png" alt="InstarVision 2.0 :: Photoseries">
                    <div class="card-block">
                      <p style="font-size: 120%; padding: 2px; color: white;">
                      <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x">8</strong>
                      </span>
                      Now open the <strong>Create</strong> menu and choose the <strong>Movie</strong> icon. This will open the <strong>Movie Maker</strong> and load all your selected images from the Gallery into a movie timeline for you.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_09.png" alt="InstarVision 2.0 :: Photoseries">
                    <div class="card-block">
                      <p style="font-size: 120%; padding: 2px; color: white;">
                      <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x">9</strong>
                      </span>
                      Now open the <strong>Video Tools</strong> to Edit your Video Properties.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_10.png" alt="InstarVision 2.0 :: Photoseries">
                    <div class="card-block">
                      <p style="font-size: 120%; padding: 2px; color: white;">
                      <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x">10</strong>
                      </span>
                      To get a movie in <em>Cinema Quality</em>, you will want to aim for a 24 images per second. You have to set the <strong>Duration to 0.04s</strong>. If you have a small amount of images for your timelapse, you might want to consider to type in a higher number (0.06s - 0.2s) here - or the timelapse will end up to be very short.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_11.png" alt="InstarVision 2.0 :: Photoseries">
                    <div class="card-block">
                      <p style="font-size: 120%; padding: 2px; color: white;">
                      <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x">11</strong>
                      </span>
                      Now open the <strong>File Menu</strong> and choose a preset to save your movie in. It is recommended to choose a 720p Preset for your HD camera and a VGA preset for your VGA camera.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/InstarVision-Photoseries_12.png" alt="InstarVision 2.0 :: Photoseries">
                    <div class="card-block">
                      <p style="font-size: 120%; padding: 2px; color: white;">
                      <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x">12</strong>
                      </span>
                      After processing - just push play to watch your timelapse!</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
