<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Software">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

    <div class="wrap">
        <div class="container main">

            <% include ../../_partials/content/_bluenav-720p-webUI.ejs %>

            <section class="blade get-started">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>Network Menu</h1>
                        </div>
                    </div>

                    <!-- ##################################### IP Config ############################################ -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:ip-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_IP-Configuration_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="ipconf"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">IP Configuration Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="ip-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:ip-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_IP-Configuration_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:ip-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="ipconf2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var ip = document.querySelectorAll('.ipconf, .ipconf2');
                            for(var i = 0; i < ip.length; i++) {
                              ip[i].innerHTML="Change your cameras IP address, gateway and DNS server - all these settings are usually set up by the <a href=&quot;http://install.instar.de/&quot;>installation wizard</a> and don´t need to be changed. The camera´s http port might have to be changed to access your cameras webUI <a href=&quot;http://wiki.instar.com/index.php/HD_Manual_WebUI_Network_DDNS&quot;>over the internet</a>. The RTSP port is the camera´s <a href=&quot;http://wiki.instar.com/index.php/RTSP_Streaming&quot;>RTSP streaming port</a>.";
                            }
                        </script>

                        <!-- ##################################### WiFi ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:wifi-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_WiFi_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="wifi"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Network/WiFi/">WiFi Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <!-- lightbox -->
                        <amp-lightbox id="wifi-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:wifi-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_IP-Configuration_mouseOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:wifi-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="wifi2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/720p_Series/Network/WiFi/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var wifi = document.querySelectorAll('.wifi, .wifi2');
                          for(var i = 0; i < wifi.length; i++) {
                            wifi[i].innerHTML="Your WiFi connection should already be set up by WPS or by the <a href=&quot;http://install.instar.de/&quot;>installation wizard</a>. Use the WiFi scanner to connect your camera to a different WiFi network. Or use the scan results to check the signal strenght at the camera´s installation spot.";
                          }
                      </script>

                      <!-- ##################################### DDNS ############################################ -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:ddns-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_DDNS_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="ddns"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="ddns-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:ddns-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/720p_Series/Network/DDNS/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_DDNS_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:ddns-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="ddns2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/720p_Series/Network/DDNS/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var ddns = document.querySelectorAll('.ddns, .ddns2');
                            for(var i = 0; i < ddns.length; i++) {
                              ddns[i].innerHTML="You have two ways to access your camera over the internet - the easy way is called <a href=&quot;/Web_User_Interface/720p_Series/Network/P2P/&quot;>P2P</a>. The only way to get complete access to all your camera´s functions is called DDNS. The DDNS or Internet Address gives you access to your cameras web user interface.";
                            }
                        </script>

                        <!-- ##################################### P2P ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:p2p-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_P2P_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="p2p"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <!-- lightbox -->
                        <amp-lightbox id="p2p-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:p2p-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/720p_Series/Network/P2P/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_P2P_mouseOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:p2p-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="p2p2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/720p_Series/Network/P2P/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var p2p = document.querySelectorAll('.p2p, .p2p2');
                          for(var i = 0; i < p2p.length; i++) {
                            p2p[i].innerHTML="The P2P access allows you to access your camera´s live video stream via our iOS or Android app. Simply scan the P2P QR code with our app and confirm the settings - done! Please be aware, while the QR code on the camera case only works if your camera still has the default administrator login (<a href=&quot;/Web_User_Interface/720p_Series/System/User/&quot;>please change that immediantly</a>) the QR code here is always generated with the actual parameters set on the camera.";
                          }
                      </script>

                      <!-- ##################################### UPnP ############################################ -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:upnp-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_UPnP_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="upnp"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Network/UPnP/">UPnP Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="upnp-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:upnp-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/720p_Series/Network/UPnP/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_UPnP_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:upnp-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="upnp2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/720p_Series/Network/UPnP/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var upnp = document.querySelectorAll('.upnp, .upnp2');
                            for(var i = 0; i < upnp.length; i++) {
                              upnp[i].innerHTML="The UPnP standard is supposed to make your life easy. Every port that is needed publicly by a device on your network will automatically be forwarded. This would make the <a href=&quot;/Web_User_Interface/720p_Series/Network/DDNS/&quot;>DDNS access</a> to your camera very easy...unfortunately it often does not work and might be considered a security hazard by your network administrator. Please deactivate UPnP if you are working with a manually forwarded port for your camera.";
                            }
                        </script>

                        <!-- ##################################### Push ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:push-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_Push_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="push"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push Service Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- /Card Container -->
                        <!-- lightbox -->
                          <amp-lightbox id="push-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:push-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Network_Push_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:push-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="push2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var push = document.querySelectorAll('.push, .push2');
                            for(var i = 0; i < push.length; i++) {
                              push[i].innerHTML="Your camera can notify you by Email every time a motion detection is triggered. A push notification serves the same purpose but is a lot faster! Activate Push if you want to be notified right away when something is happening in front of your camera. The push notification only works with our InstarVision app for <a href=&quot;/Software/iOS&quot;>iOS</a> or <a href=&quot;/Software/Android&quot;>Android</a> devices.";
                            }
                        </script>
                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->
          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrapper -->

        <% include ../../_partials/content/_bluenav-720p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
