<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Network/P2P/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>P2P Overlay</h1>
                                    <p class="intro">
                                      The P2P access allows you to access your camera´s live video stream via our iOS or Android app. Simply scan the P2P QR code with our app and confirm the settings - done! Please be aware, while the QR code on the camera case only works if your camera still has the default administrator login (<a href="/Web_User_Interface/720p_Series/System/User/">please change that immediantly</a>) the QR code here is always generated with the actual parameters set on the camera.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Point-to-Point Connection</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                        <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Network_P2P.png" width="537" height="560" layout="responsive" class="shadow"></amp-img>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Network_P2P.png" width="537" height="560" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Activate P2P Connection</strong>
                                </td>
                                <td>By activating the Point-2-Point connection, you enable your camera to directly connect with our InstarVision app on your smartphone or tablet. This way <u>you do not</u> need to set up a <a href="/Internet_Access/Port_Forwarding">Port Forwarding</a> inside your router to access your camera, when you are on the road. But the connection is - in most cases - slower then the speed that you will get by accessing your camera over your <a href="/Internet_Access/The_DDNS_Service">DDNS Address</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>P2P User ID</strong>
                                </td>
                                <td>This is your camera´s identification number, that is used for the P2P connection. You can manual type it into Thirdparty Software like <a href="/Software/Windows/P2P_Client">P2P Client</a>. When you are using our Smartphone app, just scan the QR Code below to transmit all information neccessary for the integration of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>QR Code</strong>
                                </td>
                                <td>To add your camera to our <a href="/Software/iOS">iPhone</a> or <a href="/Software/Android">Android</a> app, you simply have to scan the QR code.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Activate the p2p function to access your camera from the internet without the need for a <a href="/Internet_Access/Port_Forwarding">port forwarding</a> in your router. Simply add the camera as a p2p camera in our <a href="/Software">InstarVision</a> app, scan the QR code on the Network/P2P overlay in the WebUI or from the sticker on the camera and add the camera <a href="/Web_User_Interface/720p_Series/System/User/">administrator login</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><a href="/Internet_Access/The_DDNS_Service">DDNS</a> is usually the better alternative to P2P, since there it offers you the direct and <strong>full access</strong> to your camera. The disadvantage is that your router will block all traffic from the internet, that was not requested by someone on the inside of your local network - forcing you to open a door for your camera inside the router firewall (<a href="/Internet_Access/Port_Forwarding">see Port Forwarding</a>).
                        <br><br>
                        In case of the P2P service your contacts an INSTAR Relay Server in regular intervals, to check if someone requested access to live video. The next time you start your INSTAR smartphone app, your camera will find a notification to contact your smartphone immediately. Your camera will then open a connection and starts communicating with your app. This way you no longer need to open a port, since the connection always originates from inside your network. The Point-2-Point is therefore a very convenient and fast to install method to access your camera when you are away.
                        <br><br>
                        The Relay Server only works as a mediator between your smartphone and your camera. But it can also receive your camera´s stream and forward it to your phone, in case the direct connection can not be established. This is a fall-back safeguard to guarantee that you will be able to access your camera. The server will only log that the direct connection failed - <strong>no video data will be saved on our server under any circumstances</strong>.
                        <br><br>
                        You can always use the <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS Adress</a> instead to avoid sending your videostream through other servers. Most routers also offer support for VPN tunnels - allowing you to access your camera fully encrypted over it´s local IP address  - this is easily configured with a router like the <a href="https://en.avm.de/service/vpn/overview/" target="_blank">AVM Fritzbox</a> or similar.</p>
                    </div>
                    <!-- /margin -->

                    <div class="successcard">
                        <p><strong>No public IPv4 Address needed</strong><br/><br/>You can access your camera even behind an IPv6 connection or or mobile AP (UMTS/LTE, with changing WAN IP) ! Use the p2p function to access your camera from the internet, when you cannot set a port forwarding for the camera necessary for the DDNS service.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/720p_webUI/P2P-QRcode.png" width="800" height="276" layout="responsive" class="shadow"></amp-img>
                      </div>

                    <div class="margin">
                        <p>There are 3 ways to connect your camera. You can choose the apps <strong>Search function</strong> to discover the p2p camera inside your local network, <strong>type in the User ID</strong> from the camera ´s web UI (or the sticker on the camera case) or use the <strong>QR code scanner</strong> to scan the QR code (just hold your smartphone over the QR code - the scanner works automatically). The QR code in the web UI is created dynamically and will contain all information the app needs to set up your camera. The QR code on the sticker will contain the camera ´s default settings to allow you to quickly set up the camera. We recommend that you change the <a href="/Web_User_Interface/720p_Series/System/User/">administrator password</a> for the camera and use the QR code from the web UI.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
