<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Alarm Areas Overlay</h1>
                                    <p class="intro">
                                      The alarm areas detect motion by a picture analysis that is sensitive to every change inside the video frame instead of employing an infrared or microwave sensor. You can setup up to 4 detection areas - just activate an area and draw it’s shape onto the image - and adjusts it´s sensitivity to set a threshold for trigger events. Once the motion detection in an area is activated, its sensitivity can be adjusted from very insensitive (value=0) to very sensitive (value=100).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                        <div class="card-container">
                          <h2>Motion Detection Introduction</h2>
                          <div class="onecard twelve columns">
                            <amp-youtube data-videoid="ziksI3G3n_I" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                    <div class="post-title margin">
                        <h1>Set Motion Detection Areas</h1>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Alarm_Areas.png" width="1085" height="843" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Areas</strong>
                                </td>
                                <td>Klicken Sie auf den Radio Button hinter dem Bereich (1-4) den Sie bearbeiten möchten. Bewegen Sie danach Ihren Mauszeiger über das Bild Ihrer Kamera, halten Sie die linke Maustaste gedrückt und ziehen Sie ein Rechteck über dem Bild auf. Um einen zweiten Bereich aufzuziehen, wählen Sie den entsprechenden Bereich aus und wiederholen die weiteren Schritte. Die Bewegungserkennung der Kamera wird danach nur innerhalb dieser Bereiche nach Bewegungen suchen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Active</strong>
                                </td>
                                <td>Der Haken hinter Aktiv aktiviert den entsprechenden Bereich. D.h. die Kamera beginnt innerhalb dieses Bereiches nach Bewegungen zu suchen und wird bei einer positiven Erkennung, die von Ihnen gewählten <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarmaktionen</a> auslösen. In der <a href="/Web_User_Interface/720p_Series/Menu_Bar/">Menüleiste</a> über dem Livevideo finden Sie einen Shortcut um die einzelnen Bereich schnell zu aktivieren/deaktivieren, ohne das Bereiche Menü aufrufen zu müssen. Sobald eine der Zahlen 1-4 rot dargestellt wird, ist der zugehörige Bereich aktiv.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Sensitivity</strong>
                                </td>
                                <td>Legen Sie hier fest, wie viele Pixel sich im Bild ändern müssen um eine <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarmaktion</a> auszulösen. Umso höher die Empfindlichkeit ist, desto weniger muss sich im Bildinhalt verändern um einen Alarm auszulösen. Beachten Sie bitte, dass die Empfindlichkeit auch von der Größe des Bereiches abhängt. Ein Objekt, dass 100 Pixel im Videobild ein nimmt, nimmt prozentual eine größere Fläche in einem kleinen Bereich ein, als in einem großen Bereich. Wenn Sie zu viele Fehlalarme erhalten, versuchen Sie die Bereiche größer einzuzeichnen. Wenn Ihnen die Erkennung zu unempfindlich ist, zeichnen Sie kleinere Bereiche im Bild ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>All</strong>
                                </td>
                                <td>Klicken Sie auf diesen Button um den ausgewählten Bereich über dem ganzen Bild aufzuspannen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Reset</strong>
                                </td>
                                <td>Bewegen Sie den ausgewählten Bereich wieder in seine Ausgangsposition.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Define Areas that will be used for the Motion Detection</h3>
                        <p>The alarm areas detect motion by a picture analysis that is sensitive to every change inside the video frame instead of employing an infrared or microwave sensor. You can setup up to 4 detection areas - just activate an area and draw it’s shape onto the image - and adjusts it´s sensitivity to set a threshold for trigger events. Once the motion detection in an area is activated, its sensitivity can be adjusted from very insensitive (value=0) to very sensitive (value=100).</p>
                    </div>
                    <!-- /margin -->

                    <div class="secondarycard">
                        <h4>Wrong</h4>
                        <p>Many small Alarm Areas distributed over the Frame</p>
                        <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_01.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                        <p>The smaller an area, the bigger (in percent) a change in the image will be. Small areas are a lot more sensitive and should be used over parts of the image, where you never want to miss someone walking through. But they also lead to a large number of false alerts und should be used sparsely. You will receive a lot of false alarm notifications in the example above.</p>
                    </div>
                    <!-- /margin -->

                    <div class="secondarycard">
                        <h4>Right</h4>
                        <p>One big Area - small Areas only where they are critical</p>
                        <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_02.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                        <p>A big area is - according to the explanation above - much more resistent against false alerts. A big area over the whole image will only trigger an alert when a person comes very close to the camera. You can use a slightly higher sensitivity to compensate.<br/><br/>
                        To prevent that you might loose actual alarm events, add a smaller area where it is critical - e.g. a window or your front door.<br/><br/>
                        The smaller this area is is, the higher it´s sensitivity. To find the optimal setting, keep an eye on your camera´s <a href="/Web_User_Interface/720p_Series/System/System_Log/">System Log</a>. If an area cause too many false alerts, make it bigger or decrease it´s sensitivity.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Potential Errors</h3>
                        <p>In case the camera’s position is prone to rapid light changes, e.g. changes in sun intensity due to cloud movements, you might be confronted with a high number of false alarms. In this case please refer to Actions Menu for employing a PIR motion detector..</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-lightbox id="lightbox1" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Alarm_Areas.png" width="1085" height="843" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

                <amp-lightbox id="lightbox2" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox2.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_01.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

                <amp-lightbox id="lightbox3" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_02.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
