<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>System Log Overlay</h1>
                                    <p class="intro">
                                      Something doesn´t work anymore? Check the system log file for information. You don´t receive Alarm Emails anymore but your SMTP settings look fine? Check the log if there are still motion trigger events. Or you get spammed with Alarm Emails but motion detection is already deactivated? Check your log - maybe the events are triggered by the <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a> or an <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">external trigger</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Keep an eye on your Camera´s Operation</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-System_Log.png" width="537" height="560" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>ipc_server start</strong>
                                </td>
                                <td>Time of the last system boot process. Be aware, that the system log will be deleted with every restart.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>-- empty entyry --</strong>
                                </td>
                                <td>Login to the live video via the <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Flash Video Plugin</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>user(admin, user or guest) login for live stream</strong>
                                </td>
                                <td>Login of the admin, user or guest to the live video stream (unless logged in over the Flash Plugin s. above).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>motion detection(area= 1,2,3 or 4) alarm</strong>
                                </td>
                                <td>Time of a motion detection event in <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">alarm area</a> 1, 2, 3 or 4.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>input alarm</strong>
                                </td>
                                <td>Time of the trigger alert by the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">alarm input</a> - e.g. by an <a href="/Products/IN-Motion">external sensor</a> or the internal PIR sensor (in case of the <a href="/Products/IN-6014_HD">IN-6014 HD</a>).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>audio alarm</strong>
                                </td>
                                <td>Time of an alarm event by the <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">audio alarm</a> of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to email (snap)</strong>
                                </td>
                                <td>The alarm event triggered an alarm notification by email, according to your settings in the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Actions Menu</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to ftp (snap oder video)</strong>
                                </td>
                                <td>The alarm event triggered a video or snapshot upload by FTP, according to your settings in the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Actions Menu</a>, to your <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Server</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to SD (snap oder video)</strong>
                                </td>
                                <td>The alarm event triggered a video or snapshot recording on your <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Card</a>, according to your settings in the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Actions Menu</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Delete</strong>
                                </td>
                                <td>Delete the system log. Be aware, that the system log will be deleted with every restart.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Refresh</strong>
                                </td>
                                <td>The log does not refresh as long as the menu is kept open. Click refresh to do it manually.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->

                <amp-lightbox id="lightbox1" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-System_Log.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
