<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Recording/Schedule/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Recording Schedule Overlay</h1>
                                    <p class="intro">
                                      This is the schedule that will be used for <a href="/Web_User_Interface/720p_Series/Recording/Video/">planned recordings</a> and the <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">photoseries</a>. Just select the service you want to use and fill out a time window for this function to be active in. Every blue block inside the schedule stands for a 30min window of activity. Please make sure that the camera is set to the correct <a href="/Web_User_Interface/720p_Series/System/Date_Time/">Time Zone</a> and that the Daylight-Saving Time parameter is set correctly.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

      <div class="wrap">
          <div class="container main">

              <% include ../../_partials/content/_bluenav-720p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Set-up a Planned Recording on the SD Card</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/WebUI-Rec_Schedule.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                      </div>

                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/WebUI-Rec_Schedule.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Select All</strong>
                                </td>
                                <td>Click here to activate planned recordings 24/7. The planned <a href="/Web_User_Interface/720p_Series/Recording/Video/">video</a> recording and <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">photo series</a> (<strong>IF ACTIVATED</strong>) will be running continuously.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Deselect All</strong>
                                </td>
                                <td>Click here to deactivate all planned recordings. The planned <a href="/Web_User_Interface/720p_Series/Recording/Video/">video</a> recording and <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">photo series</a> (<strong>EVEN IF ACTIVATED</strong>) will be stopped.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Worktime</strong>
                                </td>
                                <td>Click here to activate the planned <a href="/Web_User_Interface/720p_Series/Recording/Video/">video</a> recording or <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">photo series</a> (<strong>if activated</strong>) during normal working houres.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Nighttime</strong>
                                </td>
                                <td>Click here to activate the planned <a href="/Web_User_Interface/720p_Series/Recording/Video/">video</a> recording or <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">photo series</a> (<strong>if activated</strong>) during the night.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Invert all</strong>
                                </td>
                                <td>Invert your selection.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Set a Schedule for planned Video and Snapshot Recordings</h3>
                        <p>Use the schedule to program planned video or snapshot recordings (e.g. for <a href="http://wiki.instar.com/index.php/Instarvision_2.0_Usermanual_::_Record_::_Photoseries">time-lapses</a>). Every blue box represents 30min of activity. The recorded files will be stored to the camera’ s internal SD card. The filenames will start with a capital “P” to differentiate them from alarm recordings “A” and test images that start with a “T”.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
        </div>

        <% include ../../_partials/content/_bluenav-720p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
