<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Software/Language/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Language Overlay</h1>
                                    <p class="intro">
                                        Change the language of the web user interface to German, English, French or Chinese. The user interface automatically sets the language according to the language of your operating system. You can manually change it, if the auto-detection fails or you
                                        want the UI to be displayed in different languages on different computers. Your selection will be saved locally as a cookie and not globally on your camera.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Set the Interface Language</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Software_Language.png" width="537" height="560" layout="responsive" class="shadow"></amp-img>

                          <p>Here you can choose the language of the web user interface. The web user interface will reload after you click Submit.</p>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Language: Deutsch</strong>
                                </td>
                                <td>The user interface will be displayed in German</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Language: English</strong>
                                </td>
                                <td>The user interface will be displayed in English</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Language: Français</strong>
                                </td>
                                <td>The user interface will be displayed in French</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Language: Zhōngwén</strong>
                                </td>
                                <td>The user interface will be displayed in Chinese</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-lightbox id="lightbox1" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Software_Language.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
