<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Menu Bar</h1>
                                    <p class="intro">
                                      The Menu Bar is located above the live video and allows you to quickly access the SD card, take snapshots or start recordings or activate the motion detection of your camera.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-MenuBar_SD-Card.png" width="800" height="45" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="post-title">SD Card - Open your cameras SD card directory</h3>
                        <p>
                          Click on the SD Card to open the SD cards directory in a new browser window or tab - all your snapshots and videos will be listed. Use your camera admin login to access the directory. You can also access your SD card with thirdparty software.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/720p_webUI/WebUI-MenuBar_Snapshot2SD.png" width="800" height="45" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="post-title">Snapshot to SD - Take a Snapshot and save it to the Internal SD Card</h3>
                        <p>
                          Click on Snapshot to save a single JPG snapshot of the current video frame to the internal <a href="/index.php/How_to_Access_your_SD_Card">SD card</a>. When you are using the <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">ActiveX Video Plugin</a> the snapshot will be saved locally in the subfolder Snap under the <a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Record Path</a> (only ActiveX Video Plugin). Otherwise the snapshot will be opened in a new browser window or tab and can be saved from there. You might have to set the cameras address (local IP or DDNS address) as a trusted site inside the Internet Options of your Internet Explorer to allow write access to your harddisk!
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/720p_webUI/WebUI-MenuBar_h264.png" width="800" height="45" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="post-title">h.264 / MJEPEG - Switch between the cameras h.264 stream and the plugin-free MJPEG stream</h3>
                        <p>
                          Here you can switch between the cameras h.264 and MJPEG videostream - the active mode will be displayed in red. This is a quick-access button for the video stream toggle found in the <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Video Menu</a>. In general, the bandwidth requirements for the MJPEG stream will be higher and in low connectivity situations, the stream might drop some frames. The h.264 stream can have a much higher compression (depending on your settings in the Video Menu) - leading to lower bandwidth requirements. It also needs a video plugin to be displayed - please check the video menu to switch between the ActiveX, Quicktime and Flash plugin.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/720p_webUI/WebUI-MenuBar_Help.png" width="800" height="45" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="post-title">Help - Direct Link to our Online Documentation</h3>
                        <p>
                          Clicking on Help will bring you to our constantly expanding <a href="http://hd.faq.instar.com/">Online FAQ Section</a> Instar.com.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/720p_webUI/WebUI-MenuBar_Recording2SD.png" width="800" height="45" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="post-title">Recording to SD - Start a Manual Video Recording and Save it to the Internal SD Card</h3>
                        <p>
                          Click on Record to manually start a video recording. The video will be saved in the subfolder Record under the set <a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Record Path</a> (only <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">ActiveX Video Plugin</a>). You will see the red indicator in the video menu when the camera is recording. You might have to set the cameras address (local IP or DDNS address) as a trusted site inside the Internet Options of your Internet Explorer to be give write access to your harddisk! <strong>Other browsers</strong> allow you to record videos directly to the internal SD Card.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox6" role="button" tabindex="0" src="/images/720p_webUI/WebUI-MenuBar_Alarm-Area.png" width="800" height="45" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="post-title">Alarm Areas - Activate/Deactivate your Alarm Areas used for the Motion Detection.</h3>
                        <p>
                          Clicking on Alarm activates or deactivates the <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Alarm Areas Settings</a>. If the motion detection is armed the number will be displayed in red.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
