<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Alarm/Email/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Email Overlay</h1>
                                    <p class="intro">
                                      Here you need to input the sender, the receivers, the subject as well as optional a short email text with a maximum 64 characters. The sender address should be in accordance with the <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP server settings</a>, though some email provider let you choose this field freely. If you want to send the email to more than one address, simply separate the addresses with a semicolon ;. E.g. <em>max.mustermann@instar.de</em> ; <em>franz.fingerhut@instar.de</em>. It is recommended to fill out the subject line and the email text body to avoid the mail to be caught by any spam guards in place.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-720p-webUI.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Set Receiver Addresses for the Alarm Emails</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/WebUI-Alarm_Email.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                      </div>

                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/WebUI-Alarm_Email.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you need to input the sender, the receivers, the subject as well as optional a short email text with a maximum 64 characters. The sender address should be in accordance with the SMTP server settings, though some email provider let you choose this field freely. If you want to send the email to more than one address, simply separate the addresses with a semicolon ;. E.g. max.mustermann@instar.de ; franz.fingerhut@instar.de. It is recommended to fill out the subject line and the email text body to avoid the mail to be caught by any spam guards in place.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
        </div>

        <% include ../../_partials/content/_bluenav-720p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
