<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Alarm Areas Overlay</h1>
                                    <p class="intro">
                                      The alarm areas detect motion by a picture analysis that is sensitive to every change inside the video frame instead of employing an infrared or microwave sensor. You can setup up to 4 detection areas - just activate an area and draw its shape onto the image - and adjusts it´s sensitivity to set a threshold for trigger events. Once the motion detection in an area is activated, its sensitivity can be adjusted from very insensitive (value=0) to very sensitive (value=100).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                        <div class="card-container">
                          <h2>Motion Detection Introduction</h2>
                          <div class="onecard twelve columns">
                            <amp-youtube data-videoid="ziksI3G3n_I" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                    <div class="post-title margin">
                        <h1>Set Motion Detection Areas</h1>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Alarm_Areas.png" width="1085" height="843" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Areas</strong>
                                </td>
                                <td>Click on the radio button behind the area (1-4) you want to edit. Then, move your mouse pointer over the image of your camera, hold down the left mouse button, and drag a rectangle over the image. To pick up a second area, select the appropriate area and repeat the next steps. The movement detection of the camera will then search for movements only within these areas.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Active</strong>
                                </td>
                                <td>The tick behind Active activates the corresponding area. That the camera starts to search within this range for movement and will trigger the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">alarm actions</a> selected by you when a positive detection is detected. In the <a href="/Web_User_Interface/720p_Series/Menu_Bar/">menu bar</a> above the live video, you will find a shortcut to quickly activate / deactivate the individual sections without having to call the section menu. As soon as one of the numbers 1-4 is shown in red, the corresponding area is active.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Sensitivity</strong>
                                </td>
                                <td>Specify how many pixels will need to change in the image to trigger a <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">alarm action</a>. The higher the sensitivity, the less the picture content has to change in order to trigger an alarm. Please note that the sensitivity also depends on the size of the area. An object that takes 100 pixels in the video image will take a larger area in a small area as a percentage than in a large area. If you receive too many false alarms, try to draw the areas larger. If the detection is too insensitive, draw smaller areas in the image.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>All</strong>
                                </td>
                                <td>Click on this button to set the selected area over the whole picture.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Reset</strong>
                                </td>
                                <td>Move the selected area back to its original position.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Define Areas that will be used for the Motion Detection</h3>
                        <p>The alarm area is located on the right side of the screen. You can set up to 4 detection areas - just activate an area and draw its shape. Once the motion detection is in an area is activated, its sensitivity can be adjusted from very sensitive (value = 0) to very sensitive (value = 100).</p>
                    </div>
                    <!-- /margin -->

                    <div class="secondarycard">
                        <h4>Wrong</h4>
                        <p>Many small alarm areas distributed over the frame</p>
                        <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_01.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                        <p>The smaller an area, the bigger (in percent). Small areas are a lot more sensitive and should be used. But they are also very good. You will receive a lot of false alarm notifications in the example above.</p>
                    </div>
                    <!-- /margin -->

                    <div class="secondarycard">
                        <h4>Right</h4>
                        <p>One big Area - small Areas only where they are critical</p>
                        <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_02.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                        <p>A big area is - according to the explanation above - much more resistant against false alerts. A big area over the whole image will only trigger an alert when a person comes very close to the camera. You can use a slightly higher sensitivity to compensate.<br/><br/>
                        To prevent that you might lose actual alarm events, add a smaller area where it is critical - e.g. a window or your front door.<br/><br/>
                        The smaller this area is, the higher its sensitivity. To find the optimal setting, keep an eye on your camera´s <a href="/Web_User_Interface/720p_Series/System/System_Log/">System Log</a>. If an area causes too many false alerts, make it bigger or decrease it´s sensitivity.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Potential Errors</h3>
                        <p>In case the camera’s position is prone to rapid light changes, e.g. changes in sun intensity due to cloud movements, you might be confronted with a high number of false alarms. In this case please refer to Actions Menu for employing a PIR motion detector.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-lightbox id="lightbox1" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Alarm_Areas.png" width="1085" height="843" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

                <amp-lightbox id="lightbox2" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox2.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_01.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

                <amp-lightbox id="lightbox3" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI_Areas_02.png" width="887" height="503" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
