<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/System/IR_LED/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>IR LEDs Overlay</h1>
                                    <p class="intro">
                                      Your camera´s IR LEDs are switched on and off automatically by the internal light sensor. If you want to use your camera behind a highly reflective window or you are using your camera as a weather webcam and don´t need the IR light, simply deactivate the LEDs here. Be aware that the automatic IRcut filter will be moved in front of the lense permanently in this mode. That means you cannot use an external IR spotlight with your camera, if the internal IR lights are turned off.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Deactivate the Nightvision LEDs</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-System_IR.png" width="537" height="560" layout="responsive" class="shadow"></amp-img>
                      </div>

                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-System_IR.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Infrared LED Status</strong>
                                </td>
                                <td>Here you can adjust the behaviour of the infrared LEDs of the camera. You can choose between 2 modes in which the LEDs are either always off or automatically switched on by a photodiode when it is getting dark.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Time Schedule for IR LEDs</strong>
                                </td>
                                <td>In case that you are not satisfied with the automatic mode - e.g. the night mode always switches on to early or switches off too late - you can set fixed times for those events here.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="warningcard">
                        <p><strong>Please be aware</strong><br/><br/>that it is not possible to permanently activate the IR LEDs. If you deactivate the IR LEDs by night you might get false alerts from the internal motion detection. In this case, you will have to deactivate the motion detection during the night using the alarm schedule.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
