<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Recording/Photoseries/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Photoseries Overlay</h1>
                                    <p class="intro">
                                      Record snapshots in an adjustable time interval and stitch them together inside a <a href="http://wiki.instar.com/index.php/Instarvision_2.0_Usermanual_::_Record_::_Photoseries">Third-party Software</a> to create a timelapse video. You can also choose to upload the snapshot with a fixed file name. This will always overwrite the last file and allows you to easily embedd a "Live Image" of your IP camera inside your homepage.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Configure a Photoseries on SD Card</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Rec_Photoseries.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>On SD Card</strong>
                                </td>
                                <td>Activate the planned snapshot recording on the internal SD card. Please be aware, that the recording only starts when the <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Recording Schedule</a> is active.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Time Interval</strong>
                                </td>
                                <td>Set the time interval in between to snapshots. The longest supported interval is 86400 seconds - this would create a photoseries with 24hrs between two recorded images.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Via Email</strong>
                                </td>
                                <td>Activate the planned snapshot recording and send those snapshots by <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email</a>. Please be aware, that the recording only starts when the <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Recording Schedule</a> is active and you set an <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a> first.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Time Interval</strong>
                                </td>
                                <td>Set the time interval in between to snapshots. The longest supported interval is 1440 minutes - this would create a photoseries with 24hrs between two recorded images.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>On FTP Server</strong>
                                </td>
                                <td>Activate the planned snapshot recording and upload those snapshots to an <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Server</a>. Please be aware, that the recording only starts when the <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Recording Schedule</a> is active and you set an <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Server</a> first.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Filename with Timestamp</strong>
                                </td>
                                <td>Create a filename for each snapshot from a time stamp.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Fixed filename</strong>
                                </td>
                                <td>Set a fixed file name and overwrite the file with each upload. This way you will only have one current uploaded file on your FTP server - which is ideal, if you want to embedd this file in your website.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Time Interval</strong>
                                </td>
                                <td>Set the time interval in between to snapshots. The longest supported interval is 86400 seconds - this would create a photoseries with 24hrs between two recorded images.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-lightbox id="lightbox1" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                        <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-Rec_Photoseries.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
