<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Advanced_User/Website_Integration/Cambozola/">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap">
            <div class="container main">

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h1>Cambozola JAVA Plugin</h1>
                        <p>
                          In order to integrate your IP camera in a website we recommend you the Cambozola Java plugin. The plugin will allow to display the MJPEG cameras live stream in any web browser. Cambozola is a very simple viewer for multipart jpeg streams that are streamed out by a IP cameras or webcam server.<br/><br/>To integrate your INSTAR IP camera in <a href="http://www.andywilcock.com/code/cambozola/config.html">Cambozola</a> we recommend you to download the latest version from <a href="http://www.charliemouse.com/code/cambozola/index.html">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h1>Add a New Camera</h1>
                        <p>
                          After you have downloaded the newest version, please unpack the zip archive. You will then find different folders and files as shown in the screenshot below.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_01.jpg" width="500" height="201" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Download and unzip the Cambozola files.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Now please copy the folder <strong>DIST</strong> to your webserver. Please make sure that the folder is in the same directory in which you will place the <em>index.html</em>.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_02.jpg" width="500" height="203" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Select the <strong>DIST</strong> directory.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          We are using the program <a href="https://filezilla-project.org/download.php?type=client">FileZilla</a> to transfer the files to our webserver. But you can use any kind of FTP program to upload the data.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_03.jpg" width="500" height="363" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Upload the <strong>DIST</strong> directory to your webserver.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Now please create a simple html file. In this file please include the following Code and save it as <em>index.html</em>:
                        </p>
                        <p>
                          <span class="code">&#60;applet code="com.charliemouse.cambozola.Viewer"<br/><br/>
                          archive="dist/cambozola.jar" width="640" height="480"&#62;<br/><br/>
                          &#60;param name="url" value="http://username:password@xxx.dyndns.org:80/videostream.cgi"&#62;<br/><br/>
                          &#60;/applet&#62;</span>
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          It is very important that in the 3rd line (value=...) you replace the username and the password with the username and password that you have set in your IP camera. Also the internet address of the camera has to be exchanged with the correct internet address of your camera. You can compare the code above with our sample code below to have a better understanding. If you didn´t change the username and password in the camera the default username is "admin" and no password.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_04.jpg" width="500" height="285" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Create a simple index.html file with the content seen here.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Please upload the file <em>index.html</em> in the same folder in which you earlier copied the folder <strong>DIST</strong>.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_05.jpg" width="500" height="364" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Copy the index.html to the same folder you used earlier.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Please upload the file <em>index.html</em> in the same folder in which you earlier copied the folder <strong>DIST</strong>.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_05.jpg" width="500" height="364" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Copy the index.html to the same folder you used earlier.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          After successfully uploading the file <strong>index.html</strong> please open it by typing in the path in your web browser.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_06.jpg" width="500" height="39" layout="responsive" class="shadow"></amp-img>
                        </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          If you are opening the website for the first time in can take a short while until the java plugin has started. It might also happen that a security warning will show up. Please make a mark that it should always be allowed to use this applet. After that please select "Allow". This is necessary so that the java plugin gets the necessary access right to show the live stream.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_08.jpg" width="300" height="121" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Start the Java Plugin.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          After you have now confirmed the security warning the live stream will be shown in your web browser.
                        </p>
                        <div>
                            <amp-img src="/images/Cambozola_09.jpg" width="500" height="401" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          And you are done!
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
