<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>DDNS Overlay</h1>
                                    <p class="intro">
                                      You have two ways to access your camera over the internet - the easy way is called P2P. The only way to get complete access to all your camera´s functions is called DDNS. The DDNS or Internet Address gives you access to your cameras web user interface.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Connect over the Internet</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Your camera comes with a personal <a href="/Internet_Access/The_DDNS_Service">DDNS address</a> - e.g. http://xxxx77.ddns-instar.de. Everything you need for a remote access to your camera is a <a href="/Internet_Access/Port_Forwarding">port forwarding rule</a> in your router. You can access your camera afterwards through the internet using this http address. Please visit the DDNS section for detailed information on the <a href="/Internet_Access/Port_Forwarding">port forwarding</a> setup as well as video instruction for many common routers. Or refer to your router’s user manual for further guidelines on how to set up a port forwarding rule.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Network_Remote_Access.jpg 100w, /images/1080p_webUI/1080p_Settings_Network_Remote_Access.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:netRemote" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>P2P User ID</strong>
                                </td>
                                <td>The P2P Access does not give you full access to all your cameras functions. But you don´t need to forward a port inside your router and P2P also works when DDNS might fail - e.g. on 3G/LTE or IPv6 access without a public IPv4 address. Simply scan the QR Code (below) with our <a href="/Software/Android/InstarVision/P2P">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/P2P">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/P2P">iPad</a>, <a href="/Software/Windows/InstarVision/Windows_Phone/P2P">Windows Phone</a> or <a href="/Software/Windows/InstarVision/Metro/P2P">Windows Metro</a> app to add your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>INSTAR DDNS Adress</strong>
                                </td>
                                <td>To access your camera´s WebUI over the internet you have to activate your <a href="/Internet_Access/The_DDNS_Service">INSTAR DDNS Address</a>. Please be aware that your camera might still be available over the DDNS address for a while, after you deactivated it. The access will be blocked once your internet service provider changes your WAN IP address - this usually happens once every 24hrs (and in some cases once you restarted your internet router).<br><br>This is your personal <a href="/Internet_Access/The_DDNS_Service">Internet Address</a>. You will be able to access your camera over this address once you <a href="/Internet_Access/Port_Forwarding">forwarded your camera´s http port</a>. Simply scan the QR Code (below) with our <a href="/Software/Android/InstarVision/DDNS">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/DDNS">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/DDNS">iPad</a>, <a href="/Software/Windows/InstarVision/Windows_Phone/DDNS">Windows Phone</a> or <a href="/Software/Windows/InstarVision/Metro/DDNS">Windows Metro</a> app to add your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>QR Code</strong>
                                </td>
                                <td>To add your camera to our <a href="/Software/Android/InstarVision/P2P">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/P2P">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/P2P">iPad</a>, <a href="/Software/Windows/InstarVision/Windows_Phone/P2P">Windows Phone</a> or <a href="/Software/Windows/InstarVision/Metro/P2P">Windows Metro</a> app , you simply have to scan the QR code.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Use third-party DDNS</strong>
                                </td>
                                <td>If you don´t want to use your INSTAR DDNS Address, just add a Thirdparty DDNS Address. Please contact your Third-party provider for details. If you want to deactivate your INSTAR DDNS Address, simply activate the third-party address (remember that you have to wait until your internet provider changes your WAN IP address to see the effect - usually happens every 24h).</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="dangercard">
                        <p><strong>Be Aware</strong><br/><br/>Your camera will be accessible for everyone after you forwarded it inside your router. To prevent unwanted access, please make sure to change the user logins before you start forwarding the camera! The user logins can be adjusted in the <a href="/Web_User_Interface/1080p_Series/System/User/"><strong>User Menu</strong></a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>In case you want to use an account from <a href="http://dyn.com/dns/">DynDNS</a> simply choose the third party service and type in your personal login credentials. By doing so you will temporarily <strong>deactivate your INSTAR DDNS address</strong>. In case you are using several cameras behind a single internet access point, please set up the third party address in <strong>only one</strong> of the cameras. Or if possible <u>directly inside your router</u>! All your cameras will be accessible through this address - just assign a unique HTTP port to every camera. For example if camera 1 is assigned the HTTP port 8081 and camera 2 the HTTP port 8082, use myaddress.dyndns.org:8081 to reach camera 1 and myaddresse.dyndns.org:8082 to be forwarded to camera 2.</p>
                    </div>
                    <!-- /margin -->

                  <div class="clearfix margin"></div>

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-lightbox id="netRemote" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Network_Remote_Access.jpg" width="800" height="550" on="tap:netRemote.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
