<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Alarm Server</h1>
                                    <p class="intro">
                                      You can use the Alarm Server function to send a http request to a connected server. The server needs a compatible software to recognize this request as an alarm event and trigger further actions. This function is often supported by home alarm systems. You can add custom commands to the request to trigger specific actions in the receiving server software.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                    <!-- article -->

                    <div class="post-title">
                        <h2>Alarm Server and Home Automation System</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Let Camera to send a HTTP GET Command</h3>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Alarm_Alarmserver.jpg 100w, /images/1080p_webUI/1080p_Settings_Alarm_Alarmserver.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:alarmServer" role="button" tabindex="0"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Contact Alarm Server</strong>
                                </td>
                                <td>Activate the Alarm Server Function</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Alarm Server Address</strong>
                                </td>
                                <td>Type in the IP Adress of your Alarm Server - e.g. your <a href="http://fhem.de/fhem.html" target="_blank">FHEM</a> Server.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Server Port</strong>
                                </td>
                                <td>Type in the TCP Port that your Alarm Server is listening on.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Server Path</strong>
                                </td>
                                <td>Type im the URL that your Server expects to see.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Parameter</strong>
                                </td>
                                <td>You can add optional parameter to the URL.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Append Alarm Trigger</strong>
                                </td>
                                <td>The alarm trigger (e.g. "motion detection area 1" or "audio detection") will be added to the HTTP request in form of a query.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Authentication</strong>
                                </td>
                                <td>Add your Server Login to the URL.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ################# Lightbox ##################### -->

                <amp-lightbox id="alarmServer" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Alarm_Alarmserver.jpg" width="800" height="550" on="tap:alarmServer.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
