<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Alarm">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                        <article class="blade wrapper content">

                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>Alarm Menu</h1>
                        </div>
                    </div>

                    <!-- ################################ Areas #################################### -->



                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Areas.png"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <p>The alarm areas detect motion by a picture analysis that is sensitive to every change inside the video frame instead of employing an infrared or microwave sensor. You can setup up to 4 detection areas - just activate an area and draw it’s shape onto the image - and adjusts it´s sensitivity to set a threshold for trigger events. Once the motion detection in an area is activated, its sensitivity can be adjusted from very insensitive (value=0) to very sensitive (value=100).</p>
                            </div>
                        </div>
                        <!-- /Card -->

                        <!-- ################################# Privacy ################################# -->

                        <div class="twocard">
                              <div class="image">
                                  <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Actions.png"></amp-img>
                                  </a>
                                </div>
                              <div class="action">
                                  <p>Adjust the cameras behaviour in case of a motion alert trigger event. You can set the camera to send you an email and to save snapshots or videos on your SD card. Please make sure you set your SMTP Server settings before activating the email notification and that you have a SD card in your cameras SDHC card slot (max. 32 GB) to use the video recording and send-to-FTP function - a 16 GB SD card is included in the delivery.<br><br></p>
                              </div>
                          </div>
                          <!-- /Card -->
                      </div>
                      <!-- Card Container -->

                      <!-- ########################### Actions ################################ -->

                      <div class="card-container margin">
                          <div class="twocard">
                              <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Schedule.png"></amp-img>
                                </a>
                              </div>
                              <div class="action">
                                  <p>Here you can define a time schedule in which the motion detection should be active for the active detection areas. Every blue square represents 30 minutes of armed motion detection. Please make sure to set the correct time zone as it will be used by the camera. Remember Daylight-Saving-Time!<br><br></p>
                              </div>
                            </div>
                            <!-- /Card -->

                        <!-- ############################### Email ############################### -->

                        <div class="twocard">
                            <div class="image">
                              <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Push_Service.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <p>Your camera can notify you by Email every time a motion detection is triggered. A push notification serves the same purpose but is a lot faster! Activate Push if you want to be notified right away when something is happening in front of your camera. The push notification only works with our InstarVision app for <a href=&quot;/Software/iOS&quot;>iOS</a> or <a href=&quot;/Software/Android&quot;>Android</a> devices.</p>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- /Card Container -->

                    <!-- ############################### FTP ################################# -->

                    <div class="card-container margin">
                      <div class="twocard">
                          <div>
                            <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">
                              <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Server.png"></amp-img>
                            </a>
                          </div>
                          <div class="action">
                              <p>Alarm Server</p>
                          </div>
                      </div>
                      <!-- /Card -->

                      <div class="twocard invisible"></div>
                      <!-- /Card -->

                </div>
                <!-- /Card Container -->
                </div>
                <!-- /Container -->
            </article>
            <!-- /Blade -->

        </div>
        <!-- /container main -->
    </div>
    <!-- /wrap-->

    <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
