<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">

                        <div class="container">
                          <div class="row">
                            <div class="twelve columns">
                            <h1>System Menu</h1>
                          </div>
                        </div>

                    <!-- ##################################### Info ##################################### -->

                    <div class="card-container margin">
                      <div class="twocard">
                          <div class="image">
                            <a href="/Web_User_Interface/1080p_Series/System/Info/">
                              <amp-img noloading height=400 width=400 layout=responsive
                                src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Info.png"></amp-img>
                              </a>
                            </div>
                          <div class="action">
                              <p>Info is simply a collection of a lot of system internals that are interesting if you have to start troubleshooting your set up. You DDNS access doesn´t work? Check the DDNS status (has to be successful) and the UPnP Status (most likely has to be deactivated). You can also try accessing your camera via it´s WAN IP (instead of DDNS address) - to check wether it is the DDNS address or your port forwarding that is the culprit.</p>
                          </div>
                      </div>
                      <!-- /Card -->

                        <!-- ##################################### Email #################################### -->

                        <div class="twocard">
                            <div class="image">
                              <a href="/Web_User_Interface/1080p_Series/System/Email/">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Email.png"></amp-img>
                              </a>
                              </div>
                            <div class="action">
                                <p>Here you need to input the sender, the receivers, the subject as well as optional a short email text with a maximum 64 characters. The sender address should be in accordance with the SMTP server settings, though some email provider let you choose this field freely. If you want to send the email to more than one address, simply separate the addresses with a semicolon.<br><br></p>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->

                      <!-- ##################################### User ##################################### -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/System/User/">
                                  <amp-img noloading height=400 width=400 layout=responsive
                                    src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_User.png"></amp-img>
                                </a>
                              </div>
                            <div class="action">
                                <p>Your camera will be set up with 3 user classes - administrator, user and visitor - and one password for all of them - instar. Please change this as soon as you want to forward your camera to the internet. And don´t forget to change all three of them. You can use the RTSP Stream if you want to allow users to access your camera without the hassle of a password.</p>
                            </div>
                        </div>
                        <!-- /Card -->

                          <!-- ##################################### Date Time #################################### -->

                          <div class="twocard">
                              <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Date.png"></amp-img>
                                </a>
                                </div>
                              <div class="action">
                                  <p>Your camera will automatically contact a so-called NTP Server to set the internal clock. It is recommended to leave this feature on at all times. But if your camera cannot connect to the internet, you can synchronize the clock with your computer. But be aware that this has to be done regularly to keep your camera on-time.<br><br></p>
                              </div>
                          </div>
                          <!-- /Card -->
                        </div>
                        <!-- Card Container -->

                        <!-- ##################################### User ##################################### -->

                        <div class="card-container margin">
                          <div class="twocard">
                              <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/System/Language/">
                                  <amp-img noloading height=400 width=400 layout=responsive
                                    src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Language.png"></amp-img>
                                  </a>
                                </div>
                              <div class="action">
                                  <p>Change the language of the web user interface to German, English, French or Chinese. The user interface automatically sets the language according to the language of your operating system. You can manually change it, if the auto-detection fails or you want the UI to be displayed in different languages on different computers. Your selection will be saved locally as a cookie and not globally on your camera.</p>
                              </div>
                          </div>
                          <!-- /Card -->

                            <!-- ##################################### Date Time ################################# -->

                            <div class="twocard">
                                <div class="image">
                                  <a href="/Web_User_Interface/1080p_Series/System/Log/">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Log.png"></amp-img>
                                  </a>
                                  </div>
                                <div class="action">
                                    <p>Something doesn´t work anymore? Check the system log file for information. You don´t receive Alarm Emails anymore but your SMTP settings look fine? Check the log if there are still motion trigger events. Or you get spammed with Alarm Emails but motion detection is already deactivated? Check your log - maybe the events are triggered by the Audio Alarm or an external trigger.<br><br></p>
                                </div>
                            </div>
                            <!-- /Card -->
                          </div>
                          <!-- Card Container -->

                          <!-- ##################################### Update ##################################### -->

                          <div class="card-container margin">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Web_User_Interface/1080p_Series/System/Update/">
                                    <amp-img noloading height=400 width=400 layout=responsive
                                      src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Update.png"></amp-img>
                                    </a>
                                  </div>
                                <div class="action">
                                    <p>The INSTAR software department is constantly working to improve your experience with our product. You can check the update section from time to time to make sure your system is still up-to-date. You can also check our <a href="http://download.instar.com" target="_blank">DOWNLOAD AREA</a> to find our newest software and corresponding changelogs.<br><br></p>
                                </div>
                            </div>
                            <!-- /Card -->

                              <!-- ##################################### Reboot ################################# -->

                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/1080p_Series/System/Reboot/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Reboot.png"></amp-img>
                                    </a>
                                    </div>
                                  <div class="action">
                                      <p>Use this function to reboot or reset your camera safely. It is not recommended to simply unplug/replug your camera or use the hardware reset unnecessarily (those actions can be harmful to running operations as well as causing hardware defects on the internal SD card). Please always use the soft- restart and reset via the web user interface.</p>
                                  </div>
                              </div>
                              <!-- /Card -->
                            </div>
                            <!-- Card Container -->

                            <!-- ##################################### Reset ##################################### -->

                            <div class="card-container margin">
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/1080p_Series/System/Reset/">
                                      <amp-img noloading height=400 width=400 layout=responsive
                                        src="/images/1080p_webUI/QL-Box_WebUI_1080p_System_Reset.png"></amp-img>
                                      </a>
                                    </div>
                                  <div class="action">
                                      <p>Use this function to reboot or reset your camera safely. It is not recommended to simply unplug/replug your camera or use the hardware reset unnecessarily (those actions can be harmful to running operations as well as causing hardware defects on the internal SD card). Please always use the soft- restart and reset via the web user interface. Use the hardware reset in case that you have lost access to the interface.</p>
                                  </div>
                              </div>
                              <!-- /Card -->

                                <div class="twocard invidible">
                                </div>
                                <!-- /Card -->
                        </div>
                        <!-- Card Container -->
                </div>
                <!-- /Container -->
            </article>
            <!-- /Blade -->

          </div>
          <!-- /container main -->
      </div>
      <!-- /wrap-->

      <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
