<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1 class="post-title">Live Video</h1>
                    </div>
                    <!-- /margin -->

                    <!-- ##################################### Live Video ############################################ -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/1080p_webUI/1080p_View.png" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can adjust the behaviour of the red Status LED at the power connector of the camera. Enable it to have it display camera activity - which is especially helpful during the installation process. Or deactivate it for normal operation.</p>
                    </div>
                    <!-- /margin -->

                    <!-- ##################################### Settings ############################################ -->

                    <div>
                        <h2>Settings</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/1080p_webUI/1080p_View_Settings.png" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can adjust the behaviour of the red Status LED at the power connector of the camera. Enable it to have it display camera activity - which is especially helpful during the installation process. Or deactivate it for normal operation.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/1080p_webUI/1080p_Settings_Live_Video.png" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <!-- ##################################### SD Card ############################################ -->

                    <div>
                        <h2>SD Card</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/1080p_webUI/1080p_View_SD_Card.png" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can adjust the behaviour of the red Status LED at the power connector of the camera. Enable it to have it display camera activity - which is especially helpful during the installation process. Or deactivate it for normal operation.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_SD_Card.jpg 100w, /images/1080p_webUI/1080p_SD_Card.png 1500w" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <!-- ##################################### PTZ ############################################ -->

                    <div>
                        <h2>PTZ</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/1080p_webUI/1080p_View_Relay.png" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can adjust the behaviour of the red Status LED at the power connector of the camera. Enable it to have it display camera activity - which is especially helpful during the installation process. Or deactivate it for normal operation.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img src="/images/1080p_webUI/1080p_View_PTZ.png" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div>
                        <h2>Side Nav</h2>
                    </div>
                    <!-- /margin -->

                    <!-- ##################################### Snapshot ##################################### -->

                    <div class="card-container margin">
                      <div class="twocard">
                          <div class="image">
                              <amp-img noloading height=302 width=270 layout=responsive src="/images/1080p_webUI/1080p_View_Logout_cut.png"></amp-img>
                            </div>
                          <div class="content">
                              <hr>
                              <p>Snapshot</p>
                          </div>
                      </div>
                      <!-- /Card -->

                        <!-- ##################################### INSTAR #################################### -->

                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=302 width=270 layout=responsive src="/images/1080p_webUI/1080p_View_Logout_cut.png"></amp-img>
                              </div>
                            <div class="content">
                                <hr>
                                <p>INSTAR</p>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->

                      <!-- ##################################### Recording ##################################### -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=302 width=269 layout=responsive
                                  src="/images/1080p_webUI/1080p_View_Recording_cut.png"></amp-img>
                              </div>
                            <div class="content">
                                <hr>
                                <p>Recording</p>
                            </div>
                        </div>
                        <!-- /Card -->

                          <!-- ##################################### IR LEDs #################################### -->

                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=304 width=269 layout=responsive src="/images/1080p_webUI/1080p_View_Relay_cut.jpg"></amp-img>
                                </div>
                              <div class="content">
                                  <hr>
                                  <p>IR LEDs</p>
                              </div>
                          </div>
                          <!-- /Card -->
                        </div>
                        <!-- Card Container -->

                        <!-- ##################################### Relay ##################################### -->

                        <div class="card-container margin">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=303 width=271 layout=responsive
                                    src="/images/1080p_webUI/1080p_View_Relay_cut.jpg"></amp-img>
                                </div>
                              <div class="content">
                                  <hr>
                                  <p>Relay</p>
                              </div>
                          </div>
                          <!-- /Card -->

                            <!-- ##################################### Motion Detection #################################### -->

                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=304 width=270 layout=responsive src="/images/1080p_webUI/1080p_View_Alarm_cut.jpg"></amp-img>
                                  </div>
                                <div class="content">
                                    <hr>
                                    <p>Motion Detection</p>
                                </div>
                            </div>
                            <!-- /Card -->
                          </div>
                          <!-- Card Container -->

                          <!-- ##################################### Chat ##################################### -->

                          <div class="card-container margin">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=302 width=268 layout=responsive
                                      src="/images/1080p_webUI/1080p_View_Chat_cut.png"></amp-img>
                                  </div>
                                <div class="content">
                                    <hr>
                                    <p>Chat</p>
                                </div>
                            </div>
                            <!-- /Card -->

                              <!-- ##################################### Email #################################### -->

                              <div class="twocard">
                                  <div class="image">
                                      <amp-img noloading height=303 width=269 layout=responsive src="/images/1080p_webUI/1080p_View_Mail_cut.png"></amp-img>
                                    </div>
                                  <div class="content">
                                      <hr>
                                      <p>Email</p>
                                  </div>
                              </div>
                              <!-- /Card -->
                            </div>
                            <!-- Card Container -->

                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
