<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                      <h1 class="intro">PTZ Overlay</h1>
                      <p class="intro justify">
                        Deactivate your camera´s calibration run at startup (will also deactivate the saved positions). Let your camera go to a saved position after a restart or limit the range of the pan &amp; tilt motion for privacy concerns.
                      </p>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article class="blade wrapper content">
                    <!-- article -->

                    <div class="post-title">
                        <h2>Pan &amp; Tilt Function</h2>
                        <h4>only in Pan, Tilt &amp; Zoom Cameras</h4>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_PTZ_Positions.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_PTZ_Positions.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresPTZ" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Activate adjustment movement</strong>
                                </td>
                                <td>Activate or deactivate the camera PTZ calibration run at boot-up. Please be aware, that the <a href="#">saved positions</a> for your camera will no longer be available, when the calibration is deactivated.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Start position 1</strong>
                                </td>
                                <td>The camera moves to the center position after the calibration by default. Check this box, if you want it to move to the <a href="#">saved position</a> 1 instead. <strong>Only available when the camera calibration is active!</strong></td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Activate alarm position</strong>
                                </td>
                                <td>Activate the alarm position, if you want your camera to move to a specific saved position once the alarm was triggered. The is especially interesting, if you use an external sensor, like the <a href="/Products/IN-Motion">IN-Motion 500</a>, or the internal <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">audio alarm</a>. Let you camera keep an eye on one side and secondary sensor on the other side. <strong>Only available when the camera calibration is active</strong>!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Select alarm position</strong>
                                </td>
                                <td>Set the alarm position here (see above).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Move to park position automatically</strong>
                                </td>
                                <td>Do you want your camera to always point in a specific direction by default? Activate the park position to let your camera go back to this position automatically after it was moved.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Select park position</strong>
                                </td>
                                <td>Set the park position here (see above).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Move after X seconds</strong>
                                </td>
                                <td>Your camera will wait for x seconds before returning to it´s park position (see above).</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can disable the cameras calibration run during start-up (please note that this also deactivates your saved postions!), send it to saved position 1 after a reboot and set the speed and number of auto-scans for the pan &amp; tilt movement when you use the <a href="#">hscan or vscan</a>.<br/><br/>The Pan&amp;Tilt Limits will be displayed next to the <a href="#">PTZ control pad</a>. You can use them to limit the range of movement of your camera (see below).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_PTZ_Advanced.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_PTZ_Advanced.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresPTZ2" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Avoid alarms while moving</strong>
                                </td>
                                <td>In most cases it is unwanted, that the pan&amp;tilt movement of your camera causes a <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">motion detection</a>. But if you want to be notified whenever your camera is moved, just check this box.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Activate step-by-step movement</strong>
                                </td>
                                <td>With the default settings, your camera will move in one direction as long as you press the arrow button on the <a href="#">control pad</a>. When your connection to the camera is plaqued with high latencies, it might happen, that the stop command is lost and your camera moves all the way to the end of range. You can use the one-step motion to prevent this from happening. Your camera will only move one step with every click on the control pad - giving you the highest ammount of precision.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Horizontal speed</strong>
                                </td>
                                <td>Set the velocity of the horizontal motion of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Tilt speed</strong>
                                </td>
                                <td>Set the velocity of the vertikal motion of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Number of VSCAN rounds</strong>
                                </td>
                                <td>Set the ammount of vertical runs your camera should perform once you start the <a href="#">vscan function</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Number of HSCAN rounds</strong>
                                </td>
                                <td>Set the ammount of horizontal runs your camera should perform once you start the <a href="#">hscan function</a>.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                  <div class="clearfix margin"></div>

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-lightbox id="featuresPTZ" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Features_PTZ_Positions.jpg" width="800" height="550" on="tap:featuresPTZ.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>
                <amp-lightbox id="featuresPTZ2" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Features_PTZ_Advanced.jpg" width="800" height="550" on="tap:featuresPTZ2.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
