<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Network/WiFi/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>WiFi Overlay</h1>
                                    <p class="intro">
                                      Your WiFi connection should already be set up by WPS or by the <a href="http://install.instar.de/">installation wizard</a>. Use the WiFi scanner to connect your camera to a different WiFi network. Or use the scan results to check the signal strenght at the camera´s installation spot.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Connect to your WiFi Network</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Network_WLAN.jpg 100w, /images/1080p_webUI/1080p_Settings_Network_WLAN.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:netWiFi" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="netWiFi" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Network_WLAN.jpg" width="800" height="550" on="tap:netWiFi.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                      <div class="dangercard">
                          <p><strong>Password Guidelines</strong><br/><br/>The WiFi password is limited, by the WPA standard, to max. 63 characters and can contain the following characters: <span class=code>-/: &amp; = \ @ ( ) ! ? ' . , $ < > ~ | % # { } [ ] + _ ^</span> - but <strong><u>may not</u></strong> contain the following special characters: <span class=code>* ; “</span></p>
                      </div>
                      <!-- /card -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Search network</strong>
                                </td>
                                <td>Please click on <em>Search</em> to let your camera search for wireless networks. Select your WiFi from the list below, add your WiFi key and <em>Submit</em>. After confirmation, simply unplug the Ethernet cable and your camera will connect to the WiFi network. Alternatively, type in the network parameter manually. See our <a href="http://install.instar.de" target="_blank">Installation Wizard</a> for further information for the WPS function.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SSID</strong>
                                </td>
                                <td>Name of your WiFi network. If you use more then one access points (APs) in your network, it is recommended to assign unique SSIDs to each of them. This way you can bind your camera to the AP that offers the best connection.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Network Type</strong>
                                </td>
                                <td>Choose if you want to connect your camera directly to another network device (ad hoc). Or if you want to add it to the local WiFi network of your wireless router (infra).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Encryption</strong>
                                </td>
                                <td>Set the type of encryption to the same encryption that your router is using. <strong>We recommend</strong> to set your WiFi router to use the WPA2 with AES standard. In case of an AVM Fritzbox, select CCMP and couple it with AES type (see below) inside your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Type</strong>
                                </td>
                                <td>Choose the encryption standard that your router is using. <strong>We recommend</strong> that you set your router to use pure WPA2 (AES or CCMP) and <u>not</u> WPA+WPA2 (TKIP).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Password</strong>
                                </td>
                                <td>Here you need to add the WiFi key that you use to connect devices to your local wireless network. The WiFi can sometimes be found on a sticker directly on the router itself.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>If you cannot use the WPS service (<strong>W</strong>ireless <strong>P</strong>ortected <strong>S</strong>etup) to integrate the camera into you local WiFi network - see our <a href="http://install.instar.de" target="_blank">Installation Wizard</a> for further information for the WPS function - click search to start the WLAN scanner. Just choose your own network and click “Join”. Now you just have to add the WiFi password (WLAN Key) and click submit to save the settings. Afterwards you can use the <strong>Test</strong> function to verify your settings. Please disconnect the LAN cable and restart the camera (simply unplug the power supply for 3 seconds). The camera will automatically - within <strong>max. 5 minutes</strong> - connect to your WiFi network. The cameras WiFi module will receive a new address from your router - in case you didn’t assign a <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">static IP address</a> to your camera yet. You might have to use the INSTAR Camera Tool again to rediscover your camera. Your camera is now connected via WiFi!</p>
                    </div>
                    <!-- /margin -->

                    <div class="dangercard">
                        <p><strong>Attention</strong><br/><br/>Your WiFi modules MAC address is <u>not identical</u> with the LAN MAC address of your camera! In case you are using a MAC filtering rule for your WiFi network please deactivate the filter and add your camera to the list of trusted devices before reactivating it.</p>
                    </div>
                    <!-- /margin -->

                    <div class="successcard">
                        <p><strong>Additional Remark</strong><br/><br/>Your camera supports a range of encryption standards - we recommend for your safety and reliability of your connection, that you set your WiFi network to WPA2 (PSK) with AES (or CCMP). With older routers choose WPA (PSK) / AES. Avoid using a mixed mode like WPA&amp;WPA2 - TKIP! If your WiFi stays unstable please choose a fixed WiFi channel for your router - we recommend the channels 1 - 6.</p>
                    </div>
                    <!-- /margin -->

                    <div class="clearfix margin"></div>

                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
