<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Features/SD_Card/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>SD Card Overlay</h1>
                                    <p class="intro">
                                      Please check the corresponding box and click submit to either format or unmount your SD card. It is recommended to always unmount your SD card before removing it from your camera! Your SD card might be unavailable after an unexpected restart. Please wait for the operating system to check the file system for errors. The SD card will show up again once it was successfuly mounted by the system.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Open, format or unmount your SD Card</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_SD_Card.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_SD_Card.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresSD" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="featuresSD" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Features_SD_Card.jpg" width="800" height="550" on="tap:featuresSD.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <h3>The SD Card Menu</h3>
                        <p>Please check the corresponding box and click submit to either format or unmount your SD card. It is recommended to always unmount your SD card before removing it from your camera! Your SD card might be unavailable after an unexpected restart. Please wait for the operating system to check the file system for errors. The SD card will show up again once it was successfuly mounted by the system.<br/><br/>
                        A click on the folder button will lead you to the SD card directory where all your snapshots and videos will be stored. Use your camera admin login to access the directory. But there are also more convenient ways to access your recordings via <a href="/Motion_Detection/SD_Card_Access">third-party software</a> or our mobile phone app InstarVision for <a href="/Software/iOS/InstarVision/iPhone/Recording">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/Recording">iPad</a>, <a href="/Software/Android/InstarVision/Recording">Android</a>.<a href="/Software/Windows/InstarVision/Windows_Phone/Recording">Windows Phone</a> and <a href="/Software/Windows/InstarVision/Metro/Recording">Windows Metro</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Open SD folder</strong>
                                </td>
                                <td>A click on the folder button will lead you to the SD card directory where all your snapshots and videos will be stored. Use your camera admin login to access the directory. But there are also more convenient ways to access your recordings via <a href="/Motion_Detection/SD_Card_Access">third-party software</a> or our mobile phone app InstarVision for <a href="/Software/iOS/InstarVision/iPhone/Recording">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/Recording">iPad</a>, <a href="/Software/Android/InstarVision/Recording">Android</a>.<a href="/Software/Windows/InstarVision/Windows_Phone/Recording">Windows Phone</a> and <a href="/Software/Windows/InstarVision/Metro/Recording">Windows Metro</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Eject SD card</strong>
                                </td>
                                <td>Unmount your SD card <strong>before</strong> you unplug it from your camera. Your camera´s operating system will try to re-mount the SD card in regular intervalls.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Format SD card</strong>
                                </td>
                                <td>Your camera will delete the oldest folder <strong>automatically</strong> once the card capacity is reached. So there is always enough space for new recordings! Use the format command if you want to remove all recordings, or if your SD card´s file system is damaged. The latter might happen, if you restart/unplug your camera while your camera is recording a video.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
