<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Multimedia/Video/">
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Video Overlay</h1>
                                    <p class="intro">
                                      The video settings allow you to adjust the quality of all 3 videostreams of your camera. Please be adviced that high quality settings come with high requirements for your computer hardware and network bandwidth. Adjust the video quality to obtain a fluent video accordingly. Please refer to <a href="/index.php/RTSP_Streaming">RTSP Streaming</a> for accessing the cameras streams 2 and 3.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                        <article class="blade wrapper content">
                        <!-- article -->

                    <div class="post-title">
                        <h2>Adjust the Video Settings</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>The video settings allow you to adjust the quality of all 3 videostreams of your camera. Please be adviced that high quality settings come with high requirements for your computer hardware and network bandwidth. Adjust the video quality to obtain a fluent video accordingly. Please refer to <a href="/Products/Indoor_Cameras/IN-6014_HD/Video_Streaming">RTSP Streaming</a> for accessing the cameras streams 2 and 3.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Multimedia_Video.jpg 100w, /images/1080p_webUI/1080p_Settings_Multimedia_Video.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:multiVideo" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="multiVideo" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Multimedia_Video.jpg" width="800" height="550" on="tap:multiVideo.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                      <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/Wide_Dynamic_Range"><button class="navGo">WDR Settings</button></a>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Video resolution</strong>
                                </td>
                                <td>Your camera can send it´s h.264 video in form of three different streams, with different resolution. You can access all three of them independently with <a href="/Software">external software</a>. Selecting a stream here defines which stream is displayed inside the web user interface.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Image refresh rate (fps)</strong>
                                </td>
                                <td>This value represents the frames per seconds in your camera´s videostream. Please be aware that this is only a theoretical maximum that you don´t want your camera to exceed. The actual framerate might be bottlenecked by your camera´s network connection and the exposure time of the image sensor (the darker the image becomes, the longer the image sensor has to collect light and the longer it takes to create a frame). The framerate is suitable to set an upper limit to the bandwidth requirement of your camera, to prevent a network overload. The default value of <strong>15 fps</strong> is usually a workable compromise for most surveillance tasks.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Variable fps</strong>
                                </td>
                                <td>Allow your camera to reduce it´s frame rate when a high frame rate is not needed. This can drastically reduce the required bandwith.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Video bitrate</strong>
                                </td>
                                <td>The bitrate determines how many information can be packed into the video stream. Increasing the bitrate will massively increase the bandwidth requirements for accessing the stream over the local network and will also increase the file size of recorded videos. A significant advantage in image quality will only be achieved, if the video contains a lot of fine details. In most cases it is recommended to leave this value at it´s default of <strong>2048kbps</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Variable bitrate</strong>
                                </td>
                                <td>You can adjust if you want to hold the set bitrate, or if you want your camera to automatically use a lower bitrate if the video is low in details (e.g. your camera can often work with a much lower bitrate during the night). This will effect the file size of recorded videos, the processor load of your camera, as well as the bandwidth requirements of the live stream. We recommend that you use the <strong>variable Bitrate</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Keyframe interval</strong>
                                </td>
                                <td>A key frame (I-Frame) is a frame encoded in its entirety, much like a JPEG image. P-frames are "predicted", ie, they contain only the changes from frame to frame. Hence I frames are typically 10x larger than P frames, so the fewer you have, the more compression you can get. As a compromise between image quality and bandwidth requirement, it is recommended to create about 1 keyframe every second. With the default intervall of <strong>20 frames</strong> and a framerate of 15fps, your camera will send an I-Frame every (20 Frames/15 Frames/s) = 1.33s.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>h.264 Video Plugin</strong>
                                </td>
                                <td>Here you can choose the video plugin the web user interface uses to diplay the h.264 videostream. The default plugin is <strong>Flash</strong>. The ActiveX Player can be chooses alternatively. In general we recommend the use of the Flash Plugin.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>MotionJPEG Video Mode</strong>
                                </td>
                                <td>Your camera is able to send the video, instead of an h.264 encoded stream, in form of a sequence of single snapshots. This Motion-JPEG Stream has the advantage, that it can be displayed in every web browser without the need for a video plugin. This is necessary if you want to see the live video on a computer where you don´t have the rights to install a browser plugin, e.g. your company PC. The disadvantage of this mode is that the compression is a lot weaker and you will need a lot more bandwidth.<br><br>If you are using the MJPEG stream, you can choose between two modes - a "real" MJPEG Stream (recommended) and a "simulated" Stream that is created by letting your browser request a new snapshot for each frame. I am not sure what the latter is for - but it is always nice to have it :)</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
