<section expanded class="<%= fhdacc %>">
    <header class="accordion-header">
        <h4 class="accordion-title">1080p WebUI</h4>
    </header>
    <div class="accordion-content">
      <ul>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/Live_Video/">Live Video</a></h4>
          </li>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/Network/">Network</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">IP Configuration</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Remote Access</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Network/ONVIF/">ONVIF</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/Multimedia/">Multimedia</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Audio</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">Video</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">Image</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Multimedia/Video_Overlays/">Video Overlays</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">Privacy Mask</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/Features/">Features</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/Email/">Email Settings</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/FTP/">FTP</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/IR_LEDs/">IR Night Vision</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/PTZ/">Pan&amp;Tilt</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">PTZ Tour</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/Manual_Recording/">Manual Recording</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Card</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">Status LED</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/Alarm/">Alarm</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Actions</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Areas</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Schedule</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Service</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/Recording/">Recording Task</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Photoseries</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Recordings</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/System/">System</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/Info/">Overview</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/User/">User Management</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">Date &amp; Time</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/Language/">Language</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/Log/">System Log</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/Update/">Update</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/Reboot/">Reboot</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/1080p_Series/System/Reset/">Factory Reset</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/1080p_Series/Cloud/">Cloud</a></h4>
          </li>
      </ul>
    </div>
</section>
<section class="<%= fhdacc %>">
    <header class="accordion-header">
        <h4 class="accordion-title">720p WebUI</h4>
    </header>
    <div class="accordion-content">
      <ul>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/Software/">Software</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Software/Language/">Language</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Software/Reboot_Reset/">Reboot &amp; Reset</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Software/Backup/">Backup</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Software/Update/">Update</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/Network/">Network</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">IP Configuration</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Network/WiFi/">WiFi</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Network/UPnP/">UPnP</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push Service</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/System/">System</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/Info/">Info</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/Date_Time/">Date &amp; Time</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/User/">User</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/Status_LED/">Status LED</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/IR_LED/">IR LEDs</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/ONVIF/">ONVIF</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/PTZ/">PTZ</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/PTZ_Tour/">PTZ Tour</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/System/System_Log/">System Log</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/Multimedia/">Multimedia</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Audio</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Video</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Multimedia/Image/">Image</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">Privacy Mask</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/Alarm/">Alarm</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Areas</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Actions</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">Schedule</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/Alarmserver/">Alarmserver</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Card</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/Recording/">Recording</a></h4>
          </li>
          <ul>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Schedule</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Recording/Video/">Video</a>
              </li>
              <li>
                  <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">Photoseries</a>
              </li>
          </ul>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/Menu_Bar/">Menu Bar</a></h4>
          </li>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Video Menu Bar</a></h4>
          </li>
          <li>
              <h4><a href="/Web_User_Interface/720p_Series/PTZ_Control/">PTZ Control</a></h4>
          </li>
      </ul>
    </div>
</section>
