<section <%= qiacc %>>
    <header class="accordion-header">
        <h4 class="accordion-title">Quick Installation</h4>
    </header>
    <div class="accordion-content">
      <ul>
          <li>
              <a href="/Quick_Installation/How_Does_An_IP_Camera_Work/">How does an IP Camera Work?</a>
          </li>
          <li>
              <a href="/Quick_Installation/First_Steps/">First Steps</a>
          </li>
          <li>
              <a href="/Quick_Installation/After_Unpacking/">After Unpacking</a>
          </li>
          <li>
              <a href="/Quick_Installation/Direct_LAN_Connection/">Direct LAN Connection</a>
          </li>
          <li>
              <a href="/Quick_Installation/Alternative_IP_Scanner/">Alternative IP Scanner</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/Alternative_IP_Scanner/Angry_IP_Scanner/">Angry IP Scanner</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_CLI/">Fing CLI</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_Mobile/">Fing Mobile</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/Language_Selection/">Language Selection</a>
          </li>
          <li>
              <a href="/Quick_Installation/Live_Video/">Live Video (Flash)</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/Live_Video/ActiveX/">ActiveX</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/QuickTime/">QuickTime</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/MJPEG/">MJPEG</a>
              </li>
          </ul>
          <ul>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Avast/">Avast Internet Security</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2013/">Kaspersky 2013</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2014">Kaspersky 2014</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2017">Kaspersky 2017</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/AVG/">AVG Internet Security</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/AVIRA/">AVIRA Antivirus</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/F-Secure/">F-Secure Security</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/GDATA/">GDATA Security</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/Creating_User_Accounts/">Creating User Accounts</a>
          </li>
          <li>
              <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">WebUI and Firmware Update</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">1080p Cameras</a>
              </li>
              <li>
                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/720p_Cameras/">720p Cameras</a>
              </li>
              <li>
                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/VGA_Cameras/">VGA Cameras</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/">How to clear your Browsing History</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Internet_Explorer/">Internet Explorer</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Mozilla_Firefox/">Mozilla Firefox</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Google_Chromium/">Google Chrome</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Opera/">Opera</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Microsoft_Edge/">Microsoft Edge</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Vivaldi/">Vivaldi</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/Set_Up_A_Wireless_Connection/">Wireless Connection</a>
          </li>
          <li>
              <a href="/Quick_Installation/ONVIF/">ONVIF</a>
          </li>
      </ul>
    </div>
</section>
