<nav class="desktop-up">
  <amp-accordion>

      <% include ./__bluenav-home.ejs %>
      <% include ./__bluenav-p.ejs %>

      <% include ./__bluenav-1080p-webUI.ejs %>
      <% include ./__bluenav-720p-webUI.ejs %>
      <% include ./__bluenav-s.ejs %>
      <% include ./__bluenav-dl.ejs %>

      <% include ./__bluenav-qi.ejs %>
      <% include ./__bluenav-md.ejs %>
      <% include ./__bluenav-ia.ejs %>
      <% include ./__bluenav-au.ejs %>

  </amp-accordion>
</nav>
