<section class="blade blog mobile-down">

    <div class="container wider">
        <div class="row">
            <div class="twelve columns">
                <h1>Verwandte Themen:</h1>
            </div>
        </div>

        <div class="tab-container">

            <a class="tab" href="/Downloads/Indoor_Cameras/">
                <h3>Innenkameras</h3>
                <div class="subtitle">Kamera-Downloads</div>
            </a>

            <a class="tab" href="/Downloads/Outdoor_Cameras/">
                <h3>Außenkameras</h3>
                <div class="subtitle">Kamera-Downloads</div>
            </a>

            <a class="tab" href="/Downloads/Mobile_Apps/">
                <h3>Mobile Apps</h3>
                <div class="subtitle">Software-Downloads</div>
            </a>

            <a class="tab" href="/Downloads/Desktop_Software/">
                <h3>Desktop-Software</h3>
                <div class="subtitle">Software-Downloads</div>
            </a>

            <a class="tab" href="/Downloads/Accessories">
                <h3>Allgemeines Zubehör</h3>
                <div class="subtitle">Zubehör-Downloads</div>
            </a>

            <a class="tab" href="/Downloads/Network_Accessories">
                <h3>Netzwerkzubehör</h3>
                <div class="subtitle">Zubehör-Downloads</div>
            </a>
        </div>

        <a href="/" target="_blank">Mehr lesen</a>

    </div>
</section>
