<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2>Introduction</h2>
        </li>
        <hr>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/">Product Overview</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Safety_Warnings">Safety Warnings</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Product_Features">Product Features</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Quick_Installation">Quick Installation</a>
        </li>
        <li>
            <a href="/Web_User_Interface/720p_Series">Web User Interface</a>
        </li>
        <li>
            <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Video_Streaming">Video Streaming</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Camera_Reset">Reset your Camera</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Lense_Adjustment">Lense Adjustment</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Technical_Specifications">Technical Specifications</a>
        </li>
        <li>
            <a href="/Products/Outdoor_Cameras/IN-9008_HD/Warranty">Warranty &amp; Disposal</a>
        </li>
    </ul>
    <ul class="margin">
        <li>
            <h3><a href="/Web_User_Interface/1080p_Series/">Web User Interface</a></h3>
        </li>
        <hr>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Live_Video/">Live Video</a></h4>
        </li>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Multimedia/">Multimedia</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Audio</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">Video</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">Image</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">Privacy Mask</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Alarm/">Alarm</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Actions</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Areas</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Schedule</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Service</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Recording/">Recording Task</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Photoseries</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Video</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Network/">Network</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">IP Configuration</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Remote Access</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/FTP/">FTP</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/ONVIF/">ONVIF</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Features/">Features</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/IR_LEDs/">IR LEDs</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/PTZ/">PTZ</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Card</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">Status LED</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">PTZ Tour</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/System/">System</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Info/">Info</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Email/">Email</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/User/">User</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">Date &amp; Time</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Language/">Language</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Log/">System Log</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Update/">Update</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Reboot/">Reboot</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Reset/">Reset</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Cloud/">Cloud</a></h4>
        </li>
    </ul>
    <ul class="margin">
        <li>
            <h2>InstarVision Surveillance Solution</h2>
        </li>
        <hr>
        <li>
            <a href="/Products/Software/Windows/InstarVision">Windows</a>
        </li>
        <li>
            <a href="/Products/Software/Windows/InstarVision/Metro">Metro Tile App</a>
        </li>
        <li>
            <a href="/Products/Software/Windows/InstarVision/Windows_Phone">Windows Phone App</a>
        </li>
        <li>
            <a href="/Products/Software/Android/InstarVision">Android App</a>
        </li>
        <li>
            <a href="/Products/Software/iOS/InstarVision">iOS App</a>
        </li>
    </ul>
    <ul class="margin">
        <li>
            <h2>Thirdparty Software</h2>
        </li>
        <hr>
        <li>
            <a href="/Products/Software/Windows/">Windows</a>
        </li>
        <li>
            <a href="/Products/Software/macOS/">macOS</a>
        </li>
        <li>
            <a href="/Products/Software/Android/">Android</a>
        </li>
        <li>
            <a href="/Products/Software/iOS/">iOS</a>
        </li>
        <li>
            <a href="/Products/Software/Other_Platforms">Other</a>
        </li>
    </ul>
</nav>
