<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2><a href="/">INSTAR Wiki</a></h2>
        </li>
        <br>
        <li>
            <a href="/Products/">INSTAR Products</a>
        </li>
        <li>
            <a href="/Internet_Access/">Internet Access</a>
        </li>
        <li>
            <a href="/Quick_Installation/">Quick Installation</a>
        </li>
        <li>
            <a href="/Advanced_User/">Advanced User</a>
        </li>
        <br>
        <li>
            <h3><a href="/Motion_Detection/">Motion Detection</a></h3>
        </li>
        <hr>
        <li>
            <a href="/Motion_Detection/Setup/">Setup</a>
        </li>
        <li>
            <a href="/Motion_Detection/Alarm_Notification/">Alarm Notification</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/Alarm_Notification/">1080p Series</a>
            </li>
            <li>
                <a href="/Motion_Detection/Alarm_Notification/720p_Series/">720p Series</a>
            </li>
            <li>
                <a href="/Motion_Detection/Alarm_Notification/VGA_Series/">VGA Series</a>
            </li>
            <li>
                <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/">Troubleshooting</a>
            </li>
        </ol>
        <li>
            <a href="/Motion_Detection/Alarm_Recording/">Alarm Recording</a>
        </li>
        <li>
            <a href="/Motion_Detection/SD_Card_Access/">SD Card Access</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/Bitkinex/">Bitkinex</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/CuteFTP/">CuteFTP</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/DownThemAll/">DownThemAll</a>
            </li>
        </ol>
        <ol>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/Interachy/">Interachy</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/DeepVacuum/">DeepVacuum</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/SiteSucker/">SiteSucker</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/SimpleWget/">SimpleWget</a>
            </li>
        </ol>
        <li>
            <a href="/Motion_Detection/Alarm_FTP_Upload/">Alarm FTP Upload</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/Alarm_FTP_Upload/">1080p Series</a>
            </li>
            <li>
                <a href="/Motion_Detection/Alarm_FTP_Upload/720p_Series/">720p Series</a>
            </li>
            <li>
                <a href="/Motion_Detection/Alarm_FTP_Upload/VGA_Series/">VGA Series</a>
            </li>
        </ol>
        <li>
            <a href="/Motion_Detection/Router_as_a_FTP_Server/">Router as FTP Server</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/AVM_Fritzbox_as_FTP_Server/">AVM Fritzbox</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/Telekom_Speedport_as_FTP_Server/">Telekom Speedport</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/QNAP_as_FTP_Server/">QNAP</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/WD_MyCloud_as_FTP_Server/">WD MyCloud</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/Synology_as_FTP_Server/">Synology</a>
            </li>
        </ol>
        <li>
            <a href="/Motion_Detection/FTP_Server_Setup/">FTP Server Setup</a>
        </li>
        <li>
            <a href="/Motion_Detection/Alarm_Server/">Alarm Server</a>
        </li>
        <li>
            <a href="/Motion_Detection/INSTAR_Cloud/">INSTAR Cloud</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/INSTAR_Cloud/Create_User_Account/">Create User Account</a>
            </li>
            <li>
                <a href="/Motion_Detection/INSTAR_Cloud/Storage/">Storage</a>
            </li>
            <li>
                <a href="/Motion_Detection/INSTAR_Cloud/User/">User</a>
            </li>
            <li>
                <a href="/Motion_Detection/INSTAR_Cloud/Administration/">Administration</a>
            </li>
            <li>
                <a href="/Motion_Detection/INSTAR_Cloud/Alarm_Recordings/">Alarm Recordings</a>
            </li>
            <li>
                <a href="/Motion_Detection/INSTAR_Cloud/Camera_Sets/">Camera Sets</a>
            </li>
        </ol>
    </ul>
</nav>
