<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2><a href="/">INSTAR Wiki</a></h2>
        </li>
        <br>
        <li>
            <a href="/Products/">INSTAR Produkte</a>
        </li>
        <li>
            <a href="/Quick_Installation/">Schnellinstallation</a>
        </li>
        <li>
            <a href="/Motion_Detection/">Bewegungserkennung</a>
        </li>
        <li>
            <a href="/Advanced_User/">Für Entwickler</a>
        </li>
        <li>
            <a href="/Internet_Access/">Internetzugriff</a>
        </li>
        <br>
        <li>
            <h3><a href="/Downloads/">Downloads</a></h3>
        </li>
        <hr>
        <li>
            <a href="/Downloads/Indoor_Cameras/">Innenkameras</a>
        </li>
        <ol>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-3001/">IN-3001</a>
            </li>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-3003/">IN-3003</a>
            </li>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-3010/">IN-3010</a>
            </li>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-3011/">IN-3011</a>
            </li>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-6001_HD/">IN-6001 HD</a>
            </li>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-6012_HD/">IN-6012 HD</a>
            </li>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-6014_HD/">IN-6014 HD</a>
            </li>
            <li>
                <a href="/Downloads/Indoor_Cameras/IN-8015_HD/">IN-8015 HD</a>
            </li>
        </ol>
        <li>
            <a href="/Downloads/Outdoor_Cameras/">Außenkameras</a>
        </li>
        <ol>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-2904/">IN-2904</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-2905/">IN-2905</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-2908/">IN-2908</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-4009/">IN-4009</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-4010/">IN-4010</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-4011/">IN-4011</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-5905_HD/">IN-5905 HD</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-5907_HD/">IN-5907 HD</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-7011_HD/">IN-7011 HD</a>
            </li>
            <li>
                <a href="/Downloads/Outdoor_Cameras/IN-9008_HD/">IN-9008 HD</a>
            </li>
        </ol>
        <li>
            <a href="/Downloads/Desktop_Software/">Desktop Software</a>
        </li>
        <ol>
            <li>
                <a href="/Downloads/Desktop_Software/InstarVision/">InstarVision</a>
            </li>
            <li>
                <a href="/Downloads/Desktop_Software/InstarVision_Metro/">Camera Tool</a>
            </li>
            <li>
                <a href="/Downloads/Desktop_Software">Win10 Metro</a>
            </li>
        </ol>
        <li>
            <a href="/Downloads/Mobile_Apps/">Mobile Apps</a>
        </li>
        <ol>
            <li>
                <a href="/Downloads/Mobile_Apps">iOS</a>
            </li>
            <li>
                <a href="/Downloads/Mobile_Apps/Android_BlackBerry/">Android</a>
            </li>
            <li>
                <a href="/Downloads/Mobile_Apps">Windows Phone</a>
            </li>
            <li>
                <a href="/Downloads/Mobile_Apps/Android_BlackBerry/">BlackBerry</a>
            </li>
        </ol>
        <li>
            <a href="/Downloads/Accessories/">Zubehör</a>
        </li>
        <ol>
            <li>
                <a href="/Downloads/Accessories/IN-Motion_300/">IN-Motion 300</a>
            </li>
            <li>
                <a href="/Downloads/Accessories/IN-Motion_500/">IN-Motion 500</a>
            </li>
            <li>
                <a href="/Downloads/Accessories/IN-Mikro_380/">IN-Mikro 380</a>
            </li>
            <li>
                <a href="/Downloads/Accessories/IN-Frared/">IN-Frared</a>
            </li>
        </ol>
        <li>
            <a href="/Downloads/Network_Accessories/">Netzwerk Zubehör</a>
        </li>
        <ol>
            <li>
                <a href="/Downloads/Network_Accessories/IN-LAN500/">IN-LAN 500</a>
            </li>
            <li>
                <a href="/Downloads/Network_Accessories/IN-LAN500/">IN-LAN 500p</a>
            </li>
            <li>
                <a href="/Downloads/Network_Accessories/IN-PoE_1000/">IN-PoE 1000</a>
            </li>
        </ol>
    </ul>
</nav>
