<section class="blade blog mobile-down">

    <div class="container wider">
        <div class="row">
            <div class="twelve columns">
                <h1>Related Topics:</h1>
            </div>
        </div>

        <div class="tab-container">

            <a class="tab" href="/Motion_Detection/Setup/">
                <h3>Setup the Motion Detection</h3>
                <div class="subtitle">Motion Detection</div>
            </a>

            <a class="tab" href="/Motion_Detection/Alarm_Notification/">
                <h3>Alarm Notification</h3>
                <div class="subtitle">Motion Detection</div>
            </a>

            <a class="tab" href="/Motion_Detection/Alarm_Recording/">
                <h3>Alarm Recording</h3>
                <div class="subtitle">Motion Detection</div>
            </a>

            <a class="tab" href="/Motion_Detection/SD_Card_Access/">
                <h3>Access your Cameras SD Card</h3>
                <div class="subtitle">Motion Detection</div>
            </a>

            <a class="tab" href="/Motion_Detection/Alarm_FTP_Upload/">
                <h3>FTP Alarm Upload</h3>
                <div class="subtitle">Motion Detection</div>
            </a>

            <a class="tab" href="/Motion_Detection/Router_as_a_FTP_Server/">
                <h3>Use your Router as FTP Server</h3>
                <div class="subtitle">Motion Detection</div>
            </a>
        </div>

        <a href="/" target="_blank">VIEW MORE</a>

    </div>
</section>
