<section class="row centered mt grid">

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/macOS/Sighthound"><img src="/images/Wiki_Tiles_P-Windows-Sighthound.jpg" alt="Sighthound for macOS" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/macOS/EvoCam"><img src="/images/Wiki_Tiles_P-macOS_EvoCam.jpg" alt="EvoCam for macOS" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/macOS/VLC_Player"><img src="/images/Wiki_Tiles_P-Windows-VLC.jpg" alt="VLC Player for macOS" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/macOS/SecuritySpy"><img src="/images/Wiki_Tiles_P-macOS_Security_SPy.jpg" alt="SecuritySpy for macOS" class="img-fluid"></a>
    </div>

</section>
