<section class="row justify-content-start mt grid">

    <div class="col-6 col-lg-4 mb">
        <a href="/Software/Windows"><img src="/images/Wiki_Tiles_P-Windows.jpg" alt="Windows" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Software/macOS"><img src="/images/Wiki_Tiles_P-macOS.jpg" alt="Software for macOS" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Software/Android"><img src="/images/Wiki_Tiles_P-Android.jpg" alt="Software for Android" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Software/iOS"><img src="/images/Wiki_Tiles_P-iOS.jpg" alt="Software for iOS" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Software/Other_Platforms"><img src="/images/Wiki_Tiles_P-Other.jpg" alt="Software for other Platforms" class="img-fluid"></a>
    </div>

</section>
