<section class="row centered mt grid">

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/Other_Platforms/InstarVision_Blackberry"><img src="/images/Wiki_Tiles_P-Blackberry-InstarVision.jpg" alt="InstarVision for Blackberry" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/Other_Platforms/QNAP"><img src="/images/Wiki_Tiles_P-Other_QNAP.jpg" alt="QNAP" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/Other_Platforms/Synology"><img src="/images/Wiki_Tiles_P-Other_Synology.jpg" alt="Synology" class="img-fluid"></a>
    </div>

    <div class="col-6 col-lg-4 mb">
        <a href="/Products/Software/Other_Platforms/AVM_Fritzphone"><img src="/images/Wiki_Tiles_P-Other_AVM_Fritzphone.jpg" alt="AVM Fritzphone" class="img-fluid"></a>
    </div>

</section>
