<section class="row centered mt grid">

    <!-- Take Images from gallery-internetaccess.json for Gallery -->

    <% if (iaPic.length > 0) { %>
        <% for (i=0; i<iaPic.length; i++) { %>
            <div class="col-6 col-lg-4 mb">
                <a href="/Internet_Access/<%= iaUrl[i] %>"><img src="<%= iaPic[i] %>" alt="<%= iaPicAlt[i] %>" class="img-fluid"></a>
            </div>
        <% } %>
    <% } %>

</section>
