<section class="row centered mt grid">

    <div class="row center-block mt">
        <div class="col-md-4 offset-md-4 centered mb">
            <h4>
                <span class="text-muted">Android Apps</span>
                <hr>
            </h4>
        </div>
    </div>

    <div class="col-xs-6 col-lg-4 mb">
        <a href="/Products/Software/Android/InstarVision"><img src="/images/Wiki_Tiles_P-Android-InstarVision.jpg" alt="InstarVision for Android" class="img-fluid"></a>
    </div>

    <div class="col-xs-6 col-lg-4 mb">
        <a href="/Products/Software/Android/TinyCam_Monitor"><img src="/images/Wiki_Tiles_P-Android_TinyCam.jpg" alt="TinyCam Monitor for Android" class="img-fluid"></a>
    </div>

    <div class="col-xs-6 col-lg-4 mb">
        <a href="/Products/Software/Android/IP_Cam_Viewer"><img src="/images/Wiki_Tiles_P-Android_IPCamViewer.jpg" alt="IP Cam Viewer for Android" class="img-fluid"></a>
    </div>

</section>
