<div class="container mb">
    <div class="row justify-content-between">

        <div class="col-lg-4 hidden-md-down">
          <a href="/Products/">
            <img src="/images/IN-6012.png" alt="InstarVision Software Solution" class="img-fluid">
          </a>
        </div>

        <div class="col-md-12 col-lg-7 pb">
            <h3 class="subheader">INSTAR Products</h3>
            <p class="text-justify">INSTAR offers a top-of-all customer service including phone hotline and Email service to customers for sales inquiry and installation assistance for all INSTAR products.</p>
            <a href="/Indoor_Cameras"><button type="button" class="btn btn-warning mb">Indoor Cameras</button></a>
            <a href="/Outdoor_Cameras"><button type="button" class="btn btn-warning mb">Outdoor Cameras</button></a>
            <a href="/Products"><button type="button" class="btn btn-warning mb">Other Products</button></a>
        </div>

    </div>
    <!-- /row -->
</div>
<!-- /container -->
