<div class="container">
    <div class="row justify-content-center">
          <div class="col-xs-6 col-md-3">
              <a href="https://www.youtube.com/user/INSTARTV/videos" target="_blank">
                  <i class="fa fa-youtube"></i>
              </a>
          </div>
          <div class="col-xs-6 col-md-3">
              <a href="https://www.facebook.com/instar.deutschland" target="_blank">
                  <i class="fa fa-facebook"></i>
              </a>
          </div>
          <div class="col-xs-6 col-md-3">
              <a href="https://plus.google.com/107644944363434934689" target="_blank">
                  <i class="fa fa-google-plus-square"></i>
              </a>
          </div>
          <div class="col-xs-6 col-md-3">
              <a href="http://www.instar.de/contact_us/" target="_blank">
                  <i class="fa fa-envelope"></i>
              </a>
          </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
