<div class="container mb">
    <div class="row justify-content-around">

      <div class="col-lg-4 hidden-md-down">
          <a href="/Web_User_Interface/1080p_Series/Overview">
              <img src="/images/macbook.png" alt="The Web User Interface" class="img-fluid">
          </a>
        </div>
        <div class="col-md-12 col-lg-7 pb">
            <h3 class="subheader">The Web User Interface</h3>
            <p>Find a detailed description of the web user interface of your 1080p Series, 720p Series or VGA Series Cameras.</p>
            <a href="/Web_User_Interface/1080p_Series/"><button type="button" class="btn btn-primary mb">1080p Series</button></a>
            <a href="/Web_User_Interface/720p_Series/"><button type="button" class="btn btn-primary mb">720p Series</button></a>
            <a href="/Web_User_Interface/1080p_Series/Overview"><button type="button" class="btn btn-primary mb">VGA Series</button></a>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
