<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                <div class="margin">
                  <h1>Downloads für Allgemeines Zubehör</h1>
                  <h4>Software, Apps, Zubehör und Anleitungen zum Herunterladen.</h4>
                </div>

                <div class="row">

                  <a href="/Downloads/Accessories/IN-Motion300">
                    <div class="mediaObject six columns shadow">
                      <amp-img noloading height=75 width=75 layout=fixed src="/images/Products/IN-Motion300_Shop.jpg" alt=""></amp-img>
                      <div>
                        <h3>IN-Motion 300</h3>
                        <p>IN-MOTION is a passive (PIR) motion detector. This sensor is the perfect extension for your ip camera in order to minimize false alarms.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Downloads/Accessories/IN-Motion500">
                    <div class="mediaObject six columns shadow">
                      <amp-img noloading height=75 width=75 layout=fixed src="/images/Products/IN-Motion500_Shop.jpg" alt=""></amp-img>
                      <div>
                        <h3>IN-Motion 500</h3>
                        <p>This product, integrated with the dual-microwave and passive infrared light technology, is the best choice for outdoor intruding detection.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Downloads/Accessories/IN-Mikro380">
                    <div class="mediaObject six columns shadow">
                      <amp-img noloading height=75 width=75 layout=fixed src="/images/Products/IN-Mikro380_Shop.jpg" alt=""></amp-img>
                      <div>
                        <h3>IN-Mikro 380</h3>
                        <p>The IN-MIKRO 380 is a high quality active microphone which can be easily connected to your camera. All you need is camera which has a built-in audio input. </p>
                      </div>
                    </div>
                  </a>

                  <a href="/Downloads/Accessories/IN-90x">
                    <div class="mediaObject six columns shadow">
                      <amp-img noloading height=75 width=75 layout=fixed src="/images/Products/IN-903_Shop.jpg" alt=""></amp-img>
                      <div>
                        <h3>IN-90X</h3>
                        <p>Use the IN-907, IN-906, IN-905 or IN-903 IR Spotlight with your night vision compatible cameras in order to improve the night view. (Also available in 940nm)</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

              </section>
               <!-- /container -->

            </div>
            <!-- /main -->
           </div>
           <!-- /wrap -->

           <% include ../_partials/content/_bluenav-general-mobile.ejs %>

           <footer>
               <% include ../_partials/amp/_amp-footer.ejs %>
           </footer>
       </body>
     </html>
