<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                    <div class="margin">
                        <h2>InstarVision 2.0</h2>
                        <p><strong>Desktopsoftware für Ihre Netzwerkkameras</strong></p>
                        <p>Die Software InstarVision hilft Ihnen dabei Ihre Kameras besser zu verwalten. Mit diesem können Sie je nach Lizenztyp bis zu 64(!) Kameras einbinden und diese gleichzeitig einsehen. Über die Software können Sie zudem Aufnahmen in verschiedenen Dateiformaten speichern und eine erweiterte Bewegungserkennung nutzen.</p>
                        <a class="button button-primary" href="/Software/Windows/InstarVision" target="_blank">Handbuch</a>
                        <a class="button button-primary" href="/dl/InstarVisionWindows/InstarVision_2.0.exe">Download</a>
                    </div>
                    <!-- /margin -->

      <div class="margin">

      <h3>Versionshistorie mit Features</h3>

      <amp-carousel height="580" layout="flex-item" type="slides">

        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Eingrenzen des Bewegungserkennungsbereichs</li>
              <li>Zugriff auf InstarVision über das Internet</li>
              <li>Streamen in vielen verschiedenen Formaten</li>
              <li>Benutzerverwaltung mit definierter Freigabe von Kameras</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Versionsnummer</div>
                <h5 class="box__title">2.0</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/InstarVisionWindows/InstarVision_2.0.exe"><button class="navGo">Download</button></a>
                <a href="/Software/Windows/InstarVision/"><button class="navGo">Handbuch</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Überarbeitete Bewegungserkennung</li>
              <li>FTPS Support für Alarm Uploads</li>
              <li>Integration der neuen 720p Kamera Modelle</li>
              <li>Verschieben der Videokanäle per Drag&amp;Drop</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Versionsnummer</div>
                <h5 class="box__title">2.1 <strong>BETA</strong></h5>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/InstarVisionWindows/InstarVision_BETA-2016-06-27.exe"><button class="navGo">Download</button></a>
                <a href="/Software/Windows/InstarVision/"><button class="navGo">Handbuch</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Definition von 64 Bereichen für Bewegungserkennung</li>
              <li>Bewegungserkennung für jeden Kanal</li>
              <li>Aufnahmeerkennung vor der Bewegung</li>
              <li>Aufnahme in unterschiedlichen Aufnahmeformaten</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Versionsnummer</div>
                <h5 class="box__title">1.3</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/InstarVisionWindows/InstarVision_1.3.exe"><button class="navGo">Download</button></a>
                <a href="/dl/InstarVisionWindows/Instar_Vision_Man.pdf"><button class="navGo">Handbuch</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Neue Benutzeroberfläche</li>
              <li>Benutzerverwaltung mit Rechtevergabe für jede Kamera</li>
              <li>Aufnahme VOR der Bewegung bei einem Alarm</li>
              <li>Unterstützt bis zu 32 Netzwerkkameras</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Versionsnummer</div>
                <h5 class="box__title">1.2</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="https://www.instar.de/media/wysiwyg/Products/Software/InstarVision_Win/InstarVision_1.2.exe"><button class="navGo">Download</button></a>
                <a href="/dl/InstarVisionWindows/Instar_Vision_Man.pdf"><button class="navGo">Handbuch</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>VERALTETE VERSION</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Versionsnummer</div>
                <h5 class="box__title">1.1</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="https://www.instar.de/media/wysiwyg/Products/Software/InstarVision_Win/InstarVision_1.1.exe"><button class="navGo">Download</button></a>
                <a href="/dl/InstarVisionWindows/Instar_Vision_Man.pdf"><button class="navGo">Handbuch</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>VERALTETE VERSION</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Versionsnummer</div>
                <h5 class="box__title">1.0</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="https://www.instar.de/media/wysiwyg/Products/Software/InstarVision_Win/InstarVision_1.0.exe"><button class="navGo">Download</button></a>
                <a href="/dl/InstarVisionWindows/Instar_Vision_UserManual_DE.pdf"><button class="navGo">Handbuch</button></a>
              </div>
            </div>
          </div>
        </div>
    </amp-carousel>

                    </div>

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
  </html>
