<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">
            <% include ../_partials/content/_bluenav-dl.ejs %>

              <section class="container twelve columns">

                <div class="row margin">
                      <h1>Downloads for INSTAR Desktop Software</h1>
                </div>

                <div class="card-container">
                    <div class="twocard">
                        <div class="image">
                            <amp-img noloading width=330 height=330 layout=responsive src="/images/InstarVision2_Shop.jpg"></amp-img>
                        </div>
                        <div class="action">
                            <h3>InstarVision (1.x / 2.0)</h3>
                        </div>
                    </div>
                    <div class="twocard">
                        <div class="image">
                            <amp-img noloading width=330 height=330 layout=responsive src="/images/Instar-Camera-Tool.jpg"></amp-img>
                        </div>
                        <div class="action">
                            <h3>INSTAR Camera Tool</h3>
                        </div>
                    </div>
                </div>

          </section>

        </div>
        <!-- /container -->
     </div>
     <!-- /wrap -->

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
