<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads/Desktop_Software/InstarVision_Metro/">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                    <div>
                        <h3>InstarVision Metro &amp; Windows Phone App</h3>
                        <p>Download our free Universal App for Windows 8, Windows 8.1 and Windows 10 from the Microsoft Store. Click the button below, to open the store page or use the QR code to install our app on your Windows tablet or Windows phone (you need to install a QR Code reader App to do so.).</p>
                        <a class="button button-primary" href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank">Microsoft Store</a>
                    </div>
                    <!-- /margin -->

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                              <a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank">
                                <amp-img noloading width=200 height=200 layout=responsive src="/images/Software/Qrcode_Microsoft-AppStore.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>Windows Metro</h3>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp">
                                <amp-img noloading width=200 height=200 layout=responsive src="/images/Software/Qrcode_Microsoft-Store.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <h3>Windows Phone</h3>
                            </div>
                        </div>
                    </div>

                    <!-- Card Container -->

                </section>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
  </html>
