<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads/Indoor_Cameras/IN-3001">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2>IN-3001</h2><br>

                      <div>
                        <h3><strong>Inhaltsverzeichnis</strong></h3>
                        <ul>
                          <li><a href="#software-cd">Software Installations-CD</a></li>
                          <li><a href="#instructions">Anleitungen</a></li>
                            <ul>
                              <li><a href="#quickinstallation">Schnellinstallation</a></li>
                              <li><a href="#manual">Bedienungsanleitung</a></li>
                            </ul>
                          <li><a href="#updatesoftware">Updates Kamera-Software</a></li>
                            <ul>
                              <li><a href="#firmware">Firmware</a></li>
                              <li><a href="#webui">Weboberfläche</a></li>
                            </ul>
                        </ul>
                      </div>
                    </div>
                    <!-- /margin -->
                    <div class="margin">
                        <h3 class="jumptarget" id="software-cd"><strong>Software Installations-CD</strong></h3>
                        <p>Jedes INSTAR Produkt wird mit einer Installations CD ausgeliefert. Die CD beinhaltet einen Installationsassistenten der Sie durch die Einrichtung Ihres neuen INSTAR Produktes leitet. Der Installationsassistent kann auch direkt aufgerufen werden indem Sie unten auf den Link klicken und somit die CD online öffnen. Der Assistent enthält alle Informatonen und aktuelle Download-Links die Sie für die Installation benötigen.</p>
                        <p>Die Software CD beinhaltet einen HTML Einrichtungsassistenten der Sie durch die benötigten Einstellungen leitet und Ihnen die aktuellen Downloadlinks für Ihr INSTAR Produkt anzeigt.</p>
                        <p><strong>Schnellinstallations-Assistent: </strong>Der Assistent leitet Sie durch die wichtigsten Schritte um Ihr INSTAR Produkt in Betrieb zu nehmen.</p>
                        <p><strong>Software Installation: </strong>Sie finden Download Links sofern Ihr INSTAR Produkt zusätzliche Software benötigt. Sie werden durch alle Schritte geleitet nachdem Sie den Download und die Installation abgeschlossen haben.</p>
                        <p><strong>Firmware Updates: </strong>INSTAR bietet in regelmäßigen Abständen Firmware und WebUI Updates für seine Produkte an. Weiter unten finden Sie die aktuellen Versionen der Firmware und WebUI die Sie auf Ihre INSTAR Kamera aufspielen können.</p>
                        <a href="http://install.instar.de"><button class="navGo navGoBig">Installation Starten</button></a>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="jumptarget" id="instructions"><strong>Anleitungen</strong></h3><br>
                        <h3 class="jumptarget" id="quickinstallation">Schnellinstallation</h3>
                        <p>Der Flyer enthält die wichtigsten Informationen um Ihre INSTAR Kamera in Betrieb zu nehmen.</p>
                        <a href="http://install.instar.de"><button class="navGo navGoBig">Flyer Download</button></a><br><br>
                        <h3 class="jumptarget" id="manual">Bedienungsanleitung</h3>
                        <p>Die Bedienungsanleitung beinhaltet ausführliche Informationen zu allen Funktionen der Kamera.</p>
                        <p><strong>Schnellinstallation: </strong>Der Bereich Schnellinstallation beinhaltet eine Übersicht über alle nötigen Schritte um Ihre Kamera per LAN Kabel, WLan und über das Internet zu installieren.</p>
                        <p><strong>Die Weboberfläche: </strong>Der Bereich Weboberfläche gibt Ihnen eine Übersicht über alle Funktionen der Kamera und wie man diese Konfiguriert wenn man mit dem Webbrowser auf die Kamera zugreift.</p>
                        <p><strong>Technische Spezifikationen: </strong>Sie finden eine Liste aller technischen Spezifikationen Ihrer IN-3001 IP Kamera.</p>
                        <p><strong>Produkt Funktionen und Sicherheitswarnungen </strong></p>
                        <p><strong>Windows Software, Smartphone Apps und Video Streaming </strong></p>
                        <p><strong>Kamera Reset, Objektivjustage, Garantie und Entsorgung </strong></p>
                        <p><strong>FAQ Fragen und Antworten </strong></p>
                        <a href="http://install.instar.de"><button class="navGo navGoBig">Anleitung (Deutsch)</button></a>
                        <a href="http://install.instar.de"><button class="navGo navGoBig">Anleitung (English)</button></a>
                    </div>
                    <!-- /margin -->


      <div class="margin">

      <h3 class="jumptarget" id="updatesoftware"><strong>Updates Kamera-Software</strong></h3><br>

      <h3 class="jumptarget" id="firmware">Firmware</h3>
      <p>Sie finden hier immer die neueste Version und alle Vorgängerversionen der Firmware für Ihre IN-3001. Sofern Sie ein Update der WebUI planen, stellen Sie immer sicher das Sie die neueste Version der Firmware installiert haben. In den meisten Fällen erfordern die neuen Funktionen in der Weboberfläche (WebUI) auch die neueste Firmware. Für Informationen wie Sie die Firmware updaten schauen Sie bitte <a href="">HIER</a>.</p>
      <p><strong>Wichtig:</strong> Welche Firmware Version benötigen Sie? Bitte prüfen Sie die zweite Zahlengruppe ind er Versionsnummer. Wenn Ihre aktuelle Firmware derzeit eine 37 oder 35 an zweiter Stelle hat, dann wählen Sie bitte die Firmware 3* an zweiter Stelle. Andernfalls sofern die Nummer 22, 25 oder eine andere Nummer ist, wählen Sie bitte die Firmware mit der 2* an zweiter Stelle.</p>
      <p><strong>Wichtig:</strong> Entpacken Sie nach dem Download bitte die *.ZIP Datei. Beachten Sie auch das Sie zuerst die neueste Firmware installieren und erst dann die WebUI.</p><br>

      <amp-carousel height="580" layout="flex-item" type="slides">

        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Integration der Wlan Länderauswahl</li>
              <li>Audio Alarm mit Lautstärkenregulierung</li>
              <li>No-IP integriert als DDNS Drittanbieter</li>
              <li>Erweiterte Bewegungserkennung</li>
              <li>FTP Verbindung aufrecht erhalten</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Versionsnummer</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="http://wiki.instar.de/index.php/File:InstarVision_2.0.exe_(15.10.2015).zip"><button class="navGo">57.37.2.59</button></a>
                <a href="http://wiki.instar.de/index.php/InstarVision_v2_for_Windows"><button class="navGo">57.22.2.54</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Integration der Wlan Länderauswahl</li>
              <li>Audio Alarm mit Lautstärkenregulierung</li>
              <li>No-IP integriert als DDNS Drittanbieter</li>
              <li>Erweiterte Bewegungserkennung</li>
              <li>FTP Verbindung aufrecht erhalten</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Versionsnummer</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="http://wiki.instar.de/index.php/File:InstarVision_2.0.exe_(15.10.2015).zip"><button class="navGo">57.37.2.59</button></a>
                <a href="http://wiki.instar.de/index.php/InstarVision_v2_for_Windows"><button class="navGo">57.22.2.54</button></a>
              </div>
            </div>
          </div>
        </div>
    </amp-carousel>

    <h3 class="jumptarget" id="webui">Weboberfläche</h3>
    <p>Sie finden hier immer die neueste Version und alle Vorgängerversionen der Weboberfläche für Ihre IN-3001. Laden Sie sich einfach die neueste Version unten stehend herunter und spielen Sie das Update mit dem INSTAR Camera Tool auf Ihre Kamera (siehe unten). Bitte stellen Sie zudem sicher das Ihre Kamera die neueste Firmware installiert hat. Sollten Sie nicht wissen wie Sie die neueste Version der WebUI auf Ihre Kamera aufspielen, so schauen Sie bitte <a href="">HIER</a>.</p>
    <p><strong>Wichtig:</strong> Entpacken Sie nach dem Download bitte die *.ZIP Datei. Installieren Sie zudem die neueste Firmware bevor Sie die neue WebUI aufspielen.</p>

    <amp-carousel height="580" layout="flex-item" type="slides">

      <div class="box-one">
        <div class="box__inner">
          <div class="box__content">
           <ul>
            <li>Installationsassistent für Internet Explorer 8</li>
            <li>Französische Sprache hinzugefügt</li>
            <li>No-IP integriert als DDNS Drittanbieter</li>
            <li>Ausblenden des PTZ Menüs bei nicht-PTZ Kameras</li>
            <li>Kleine Fehlerbehebungen</li>
           </ul>
          </div>
          <div class="box__footer">
            <div class="box__credit">
              <div class="box__subtitle">Download</div>
              <h5 class="box__title">Versionsnummer</h5>
            </div>
            <div class="box__image box-image-button">
              <a href="http://wiki.instar.de/index.php/File:InstarVision_2.0.exe_(15.10.2015).zip"><button class="navGo">30.11.3.16.2</button></a>
              <a href="http://wiki.instar.de/index.php/InstarVision_v2_for_Windows"><button class="navGo">30.11.3.96.2</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-one">
        <div class="box__inner">
          <div class="box__content">
           <ul>
            <li>Integration der Wlan Länderauswahl</li>
            <li>Audio Alarm mit Lautstärkenregulierung</li>
            <li>No-IP integriert als DDNS Drittanbieter</li>
            <li>Erweiterte Bewegungserkennung</li>
            <li>FTP Verbindung aufrecht erhalten</li>
           </ul>
          </div>
          <div class="box__footer">
            <div class="box__credit">
              <div class="box__subtitle">Download</div>
              <h5 class="box__title">Versionsnummer</h5>
            </div>
            <div class="box__image box-image-button">
              <a href="http://wiki.instar.de/index.php/File:InstarVision_2.0.exe_(15.10.2015).zip"><button class="navGo">57.37.2.59</button></a>
              <a href="http://wiki.instar.de/index.php/InstarVision_v2_for_Windows"><button class="navGo">57.22.2.54</button></a>
            </div>
          </div>
        </div>
      </div>
  </amp-carousel>

                    </div>

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
