<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                <!-- section -->

                    <div>
                        <h2>IN-3001</h2><br>

                      <div>
                        <h3><strong>Table of Contents</strong></h3>
                        <ul>
                          <li><a href="#software-cd">Software installation CD</a></li>
                          <li><a href="#instructions">Manual</a></li>
                            <ul>
                              <li><a href="#quickinstallation">Quick Installation</a></li>
                              <li><a href="#manual">Operation Manual</a></li>
                            </ul>
                          <li><a href="#updatesoftware">Camera software updates</a></li>
                            <ul>
                              <li><a href="#firmware">Firmware</a></li>
                              <li><a href="#webui">Web interface</a></li>
                            </ul>
                        </ul>
                      </div>
                    </div>
                    <!-- /margin -->
                    <div class="margin">
                        <h3 class="jumptarget" id="software-cd"><strong>Software installation CD</strong></h3>
                        <p>Every INSTAR product comes with an installation CD. The CD contains an installation assistant that guides you through the installation of your new INSTAR product. The installation wizard can also be called directly by clicking on the link below and opening the CD online. The wizard contains all the information and current download links you need for the installation.</p>
                        <p>The software CD includes an HTML setup wizard that guides you through the required settings and displays the current download links for your INSTAR product.</p>
                        <p><strong>Quick Installation Wizard: </strong>The wizard guides you through the most important steps to get your INSTAR product up and running.</p>
                        <p><strong>Software Installation: </strong>You will find download links if your INSTAR product requires additional software. You are guided through all steps after you have completed the download and the installation.</p>
                        <p><strong>Firmware Updates: </strong>INSTAR provides firmware and WebUI updates for its products at regular intervals. Below you will find the latest versions of the firmware and WebUI which you can upload to your INSTAR camera.</p>
                        <a href="https://install.instar.de" target="_blank"><button class="navGo navGoBig">Start Installation</button></a>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="jumptarget" id="instructions"><strong>Instructions</strong></h3><br>
                        <h3 class="jumptarget" id="quickinstallation">Quick Installation</h3>
                        <p>The flyer contains the most important information about your INSTAR camera.</p>
                        <a href="/dl/IN-3001/flyer_3001.pdf" target="_blank"><button class="navGo navGoBig">Quick Start Guide</button></a>
                        <br><br>
                        <h3 class="jumptarget" id="manual">Operation Manual</h3>
                        <p>The user manual contains detailed information about all camera functions.</p>
                        <p><strong>Quick Installation: </strong>The Quick Installation section provides an overview of all necessary steps to install your camera via LAN cable, WLan and over the Internet.</p>
                        <p><strong>The web interface: </strong>The web interface area gives you an overview of all the functions of the camera and how to configure it when you access the camera with the web browser.</p>
                        <p><strong>Technical specifications: </strong>You will find a list of all technical specifications of your IP camera.</p>
                        <p><strong>Product features and safety warnings </strong></p>
                        <p><strong>Windows software, smartphone apps and video streaming </strong></p>
                        <p><strong>Camera reset, lens adjustment, warranty and disposal </strong></p>
                        <p><strong>FAQ questions and answers </strong></p>
                        <a href="/dl/IN-3001/QuickInstallation_IN-3001_web_de.pdf" target="_blank"><button class="navGo navGoBig">Anleitung (Deutsch)</button></a>
                        <a href="/dl/IN-3001/QuickInstallation-VGA-IN-3001-EN.pdf" target="_blank"><button class="navGo navGoBig">Manual (English)</button></a>
                    </div>
                    <!-- /margin -->


      <div class="margin">

      <h3 class="jumptarget" id="updatesoftware"><strong>Camera software updates</strong></h3><br>

      <h3 class="jumptarget" id="firmware">Firmware</h3>
      <p>You will always find here the latest version and all previous versions of the firmware for your IN-3001. If you plan to update the WebUI, make sure that you have installed the latest version of the firmware. In most cases, the new features in the web interface (WebUI) also require the latest firmware. For information on how to update the firmware please look <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">HERE</a>.</p>
      <p><strong>Important:</strong> What firmware version do you need? Please check the second number group for the version number. If your current firmware currently has a 37 or 35 second, then please select the firmware 3 * second. Otherwise, if the number is 22, 25 or a different number, please select the firmware with the 2 * second.</p>
      <p><strong>Important:</strong> Unzip the * .ZIP file after downloading. Please note that you must first install the latest firmware and then the WebUI.</p><br>

      <amp-carousel height="580" layout="flex-item" type="slides" class="shadow margin">

        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Integration of the Wlan country selection</li>
              <li>Audio alarm with volume control</li>
              <li>No-IP integrates as a third-party DDNS provider</li>
              <li>Advanced motion detection</li>
              <li>FTP connection maintained</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-3001/Firmware_57_37_2_59.zip"><button class="navGo">57.37.2.59</button></a>
                <a href="/dl/IN-3001/Firmware_57_22_2_54.zip"><button class="navGo">57.22.2.54</button></a>
              </div>
            </div>
          </div>
        </div>

        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
              <li>Integration of the Wlan country selection</li>
              <li>Audio alarm with volume control</li>
              <li>No-IP integrates as a third-party DDNS provider</li>
              <li>Advanced motion detection</li>
              <li>FTP connection maintained</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-3001/Firmware_57_37_2_54.zip"><button class="navGo">57.37.2.54</button></a>
                <a href="/dl/IN-3001/Firmware_57_22_2_54.zip"><button class="navGo">57.22.2.54</button></a>
              </div>
            </div>
          </div>
        </div>

    </amp-carousel>

    <h3 class="jumptarget" id="webui">Web interface</h3>
    <p>You will always find the latest version and all previous versions of the web interface for your IN-3001. Just download the latest version below and play the update with your INSTAR Camera Tool on your camera (see below). Please also ensure that your camera has the latest firmware installed. If you do not know how to install the latest version of the WebUI on your camera, please look <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">HERE</a>.</p>
    <p><strong>Important:</strong> Unzip the * .ZIP file after downloading. Also, install the latest firmware before you install the new WebUI.</p>

    <amp-carousel height="580" layout="flex-item" type="slides" class="shadow margin">

      <div class="box-one">
        <div class="box__inner">
          <div class="box__content">
           <ul>
            <li>Add the cameras with QR code</li>
            <li>Push-Service</li>
            <li>Smaller bugs and typing errors</li>
           </ul>
          </div>
          <div class="box__footer">
            <div class="box__credit">
              <div class="box__subtitle">Download</div>
              <h5 class="box__title">Version Number</h5>
            </div>
            <div class="box__image box-image-button">
              <a href="/dl/IN-3001/WebUI_IN-3001_3_17_0_61.zip"><button class="navGo">30.01.3.17.0</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-one">
        <div class="box__inner">
          <div class="box__content">
           <ul>
            <li>Support for Microsoft Internet Explorer 11</li>
            <li>Faster loading times for Internet access</li>
            <li>Separate schedule for FTP upload</li>
            <li>Display the MAC address of the WLAN module</li>
            <li>Password check for FTP, email and WLAN</li>
           </ul>
          </div>
          <div class="box__footer">
            <div class="box__credit">
              <div class="box__subtitle">Download</div>
              <h5 class="box__title">Version Number</h5>
            </div>
            <div class="box__image box-image-button">
              <a href="/dl/IN-3001/WebUI_30_01_3_16_2_51.zip"><button class="navGo">30.01.3.16.2</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-one">
        <div class="box__inner">
          <div class="box__content">
           <ul>
            <li>Support for Microsoft Internet Explorer 11</li>
            <li>Faster loading times for Internet access</li>
            <li>Separate schedule for FTP upload</li>
            <li>Display the MAC address of the WLAN module</li>
            <li>Password check for FTP, email and WLAN</li>
           </ul>
          </div>
          <div class="box__footer">
            <div class="box__credit">
              <div class="box__subtitle">Download</div>
              <h5 class="box__title">Version Number</h5>
            </div>
            <div class="box__image box-image-button">
              <a href="/dl/IN-3001/WebUI_IN-3001_3_16_1_45.zip"><button class="navGo">30.01.3.16.1</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-one">
        <div class="box__inner">
          <div class="box__content">
           <ul>
            <li>Special characters are supported</li>
            <li>minor bug fixes</li>
           </ul>
          </div>
          <div class="box__footer">
            <div class="box__credit">
              <div class="box__subtitle">Download</div>
              <h5 class="box__title">Version Number</h5>
            </div>
            <div class="box__image box-image-button">
              <a href="/dl/IN-3001/WebUI_DE_3001_20_8_2_42.zip"><button class="navGo">20.8.2.42</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-one">
        <div class="box__inner">
          <div class="box__content">
           <ul>
            <li>French language is supported</li>
            <li>Manual filename for FTP upload</li>
            <li>Images can be replaced on FTP servers</li>
           </ul>
          </div>
          <div class="box__footer">
            <div class="box__credit">
              <div class="box__subtitle">Download</div>
              <h5 class="box__title">Version Number</h5>
            </div>
            <div class="box__image box-image-button">
              <a href="/dl/IN-3001/WebUI_DE_3001_20_8_2_29.zip"><button class="navGo">20.8.2.29</button></a>
            </div>
          </div>
        </div>
      </div>
  </amp-carousel>

                    </div>

                </section>
                <!-- /section -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
  </html>
