<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                    <div>
                        <h2>IN-LAN 500 and IN-LAN 500p</h2><br>

                    </div>
                    <!-- /margin -->
                    <div class="margin">
                        <h3><strong>Operation Manual</strong></h3>
                        <p><strong>Quick Installation: </strong>The Quick Installation section provides an overview of all steps to install your Powerline Adapter.</p>
                        <p><strong>Public network: </strong>Create a fast plug-and-play network between two or more IN-LAN Powerline adapters. All data sent over the network is encrypted, but additional adapters can be easily integrated.</p>
                        <p><strong>Steps to improve the data connection </strong></p>
                        <p><strong>Product features and technical data </strong></p>
                        <p><strong>Safety regulations as well as guarantee and disposal </strong></p>
                        <a href="/dl/IN-LAN500/IN-LAN500_web_de.pdf" target="_blank"><button class="navGo navGoBig">IN-LAN 500 (Deutsch)</button></a>
                        <a href="/dl/IN-LAN500/IN-LAN500p_web_de.pdf" target="_blank"><button class="navGo navGoBig">IN-LAN 500p (Deutsch)</button></a><br>
                        <a href="/dl/IN-LAN500/Schnellinstallation-IN-LAN500us-EN-web.pdf" target="_blank"><button class="navGo navGoBig">IN-LAN 500 (English)</button></a>
                        <a href="/dl/IN-LAN500/Schnellinstallation-IN-LAN500p-EN-web.pdf" target="_blank"><button class="navGo navGoBig">IN-LAN 500p (English)</button></a><br>
                    </div>
                    <!-- /margin -->

      <div class="margin">

      <h3><strong>Atheros Tool for Windows</strong></h3><br>

      <div class="margin">
        <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Products/IN-Lan_Power_Packet_Utility_01.png" width="615" height="450" layout="responsive" class="shadow"></amp-img>
      </div>
      <!-- /margin -->

      <div class="margin">
          <p>This tool (Power Packet Tool) allows you to find all IN-LAN adapters in your network. The Atheros Tool scans your network for all connected IN-LAN adapters. The tool can also be used to build a private encrypted network. A guide on how to set up the tool can be found under the link above.</p>
          <p>The Power Packet Utility is required to encrypt multiple adapters.</p>
          <h4>Download the Atheros Power Packet utility here:</h4>
          <a href="/dl/IN-LAN500/IN-LAN.zip"><button class="navGo navGoBig">Atheros</button></a><br>
      </div>
      <!-- /margin -->

                    </div>

                </article>
                <!-- /article -->

                <!-- ################################## LIGHTBOXES ########################### -->

                <amp-lightbox id="lightbox1" layout="nodisplay">
                    <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered" role="button">
                        <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Products/IN-Lan_Power_Packet_Utility_01.png" width="615" height="450" layout="responsive" class="shadow"></amp-img>
                    </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
  </html>
