<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads/Network_Accessories/IN-PoE1000">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-dl.ejs %>

                <article>
                    <!-- article -->
                    <div class="margin">
                        <h2>IN-PoE1000</h2><br>

                    </div>
                    <!-- /margin -->
                    <div class="margin">
                        <h3><strong>Bedienungsanleitung</strong></h3>
                        <p><strong>Schnellinstallationsanleitung: </strong>Das Kapitel Schnellinstallation leitet Sie durch alle Schritte um Ihren PoE Injektor schnell und einfach in Betrieb zu nehmen.</p>
                        <p><strong>Netzwerk Integration: </strong>Wie integrieren Sie Ihr PoE Endgerät in Ihr existierendes Netzwerk.</p>
                        <p><strong>Sicherheitsvorschriften: </strong>Sichere Installation Ihres PoE Injektors.</p>
                        <p><strong>Produktmerkmale und technische Spezifikationen </strong></p>
                        <a href="/dl/accessories/IN-PoE_1000_Quickinstallation_Guide_DE.pdf"><button class="navGo navGoBig">IN-PoE 1000 (Deutsch)</button></a>
                        <a href="/dl/accessories/IN-PoE_1000_Quickinstallation_Guide_EN.pdf"><button class="navGo navGoBig">IN-PoE 1000 (English)</button></a><br>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-dl-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
