<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <!-- section -->

                    <div>
                        <h2>IN-5907</h2><br>

                      <div>
                        <h3><strong>Table of Contents</strong></h3>
                        <ul>
                          <li><a href="#software-cd">Software installation CD</a></li>
                          <li><a href="#instructions">Manual</a></li>
                            <ul>
                              <li><a href="#quickinstallation">Quick Installation</a></li>
                              <li><a href="#manual">Operation Manual</a></li>
                            </ul>
                          <li><a href="#updatesoftware">Camera software updates</a></li>
                            <ul>
                              <li><a href="#firmware">Firmware</a></li>
                              <li><a href="#webui">Web interface</a></li>
                            </ul>
                        </ul>
                      </div>
                    </div>
                    <!-- /margin -->
                    <div class="margin">
                      <h3 class="jumptarget" id="software-cd"><strong>Software installation CD</strong></h3>
                      <p>Every INSTAR product comes with an installation CD. The CD contains an installation assistant that guides you through the installation of your new INSTAR product. The installation wizard can also be called directly by clicking on the link below and opening the CD online. The wizard contains all the information and current download links you need for the installation.</p>
                      <p>The software CD includes an HTML setup wizard that guides you through the required settings and displays the current download links for your INSTAR product.</p>
                      <p><strong>Quick Installation Wizard: </strong>The wizard guides you through the most important steps to get your INSTAR product up and running.</p>
                      <p><strong>Software Installation: </strong>You will find download links if your INSTAR product requires additional software. You are guided through all steps after you have completed the download and the installation.</p>
                      <p><strong>Firmware Updates: </strong>INSTAR provides firmware and WebUI updates for its products at regular intervals. Below you will find the latest versions of the firmware and WebUI which you can upload to your INSTAR camera.</p>
                      <a href="https://install.instar.de" target="_blank"><button class="navGo navGoBig">Start Installation</button></a>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3 class="jumptarget" id="instructions"><strong>Instructions</strong></h3><br>
                      <h3 class="jumptarget" id="quickinstallation">Quick Installation</h3>
                      <p>The flyer contains the most important information about your INSTAR camera.</p>
                        <a href="/dl/IN-5907HD/flyer_5907HD.pdf" target="_blank"><button class="navGo navGoBig">Flyer Download</button></a>
                        <a href="/dl/IN-5907HD/flyer_5907PoE.pdf" target="_blank"><button class="navGo navGoBig">Flyer PoE Download</button></a>
                        <a href="/dl/IN-5907HD/flyer_5907HD_wps_de.pdf" target="_blank"><button class="navGo navGoBig">Flyer WPS &amp; P2P</button></a>
                        <a href="/dl/IN-5907HD/Flyer_WPS-P2P_IN-5907_PoE_web.pdf" target="_blank"><button class="navGo navGoBig">Flyer P2P PoE</button></a>
                        <br><br>
                        <h3 class="jumptarget" id="manual">Operation Manual</h3>
                        <p>The user manual contains detailed information about all camera functions.</p>
                        <p><strong>Quick Installation: </strong>The Quick Installation section provides an overview of all necessary steps to install your camera via LAN cable, WLan and over the Internet.</p>
                        <p><strong>The web interface: </strong>The web interface area gives you an overview of all the functions of the camera and how to configure it when you access the camera with the web browser.</p>
                        <p><strong>Technical specifications: </strong>You will find a list of all technical specifications of your IP camera.</p>
                        <p><strong>Product features and safety warnings </strong></p>
                        <p><strong>Windows software, smartphone apps and video streaming </strong></p>
                        <p><strong>Camera reset, lens adjustment, warranty and disposal </strong></p>
                        <p><strong>FAQ questions and answers </strong></p>
                        <a href="/dl/IN-5907HD/QuickInstallation_IN-5907HD_web_de.pdf"><button class="navGo navGoBig">Anleitung (Deutsch)</button></a>
                        <a href="/dl/IN-5907HD/QuickInstallation-IN-5907-EN_web.pdf"><button class="navGo navGoBig">Manual (English)</button></a>
                    </div>
                    <!-- /margin -->


      <div class="margin">

      <h3 class="jumptarget" id="updatesoftware"><strong>Camera software updates</strong></h3><br>

      <h3 class="jumptarget" id="firmware">Firmware and WebUI</h3>
      <p>You will always find here the latest version and all previous versions of the firmware for your IN-3001. If you plan to update the WebUI, make sure that you have installed the latest version of the firmware. In most cases, the new features in the web interface (WebUI) also require the latest firmware. For information on how to update the firmware please look <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">HERE</a>.</p>
      <p><strong>Important:</strong> Unzip the * .ZIP file after downloading. Please note that you must first install the latest firmware and then the WebUI.</p><br>

      <amp-carousel height="580" layout="flex-item" type="slides" class="shadow margin">

        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
               <li>Fixed problem with P2P</li>
               <li>General bug fixes and improvements</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.66 <br>
                   WebUI 1.18  </p>
              </div>
              <div class="box__image box-image-button">
                <a itemprop="url" href="/dl/IN-5907HD/IN-5907_FW_3.1.2.66_WebUI_1.18(653)_update.zip"><button class="navGo">WLAN</button></a>
                <a itemprop="url" href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.66_WebUI_1.18(653)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>Fixed problem with automatic summer / winter changeover</li>
               <li>Fixed problem with which the alarm sound on the IN-6014HD could not be deactivated</li>
               <li>New validation integrated with input fields</li>
               <li>Security gap closed</li>
               <li>General bug fixes and improvements</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.66 <br>
                   WebUI 1.17  </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.66_WebUI_1.17.(634)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.66_WebUI_1.17.(634)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>Fixed problem with P2P connection</li>
               <li>Improvement in P2P connection speed</li>
               <li>New INSTAR Cloud recording platform now available</li>
               <li>Custom NTP time server is now possible</li>
               <li>Problem with FTP upload fixed</li>
               <li>Problem with user name and password authentication with MJPEG Stream and snap.jpg fixed</li>
               <li>Fixed problem with the camera restarting with a port change</li>
               <li>Special characters Problem with WLAN, DDNS, FTP and Cloud passwords fixed</li>
               <li>Adjustment Strings / Designations</li>
               <li>General bug fixes and improvements</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.64 <br>
                   WebUI 1.16  </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.64_WebUI_1.16.(620)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.64_WebUI_1.16.(620)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
             <ul>
               <li>Bugfixes</li>
             </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.64 <br>
                   WebUI 1.15  </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.64_WebUI_1.15(617)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.64_WebUI_1.15(617)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>Fixed problem with P2P connection</li>
               <li>Custom NTP Time Server</li>
               <li>Problem with FTP upload fixed</li>
               <li>Fixed problem with cloud activation</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.64 <br>
                   WebUI 1.14  </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.64_WebUI_1.14(604)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.64_WebUI_1.14(604)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>Integration of the new INSTAR Cloud platform</li>
               <li>LAN and WLAN Mac address are now both displayed under "System info" (if the camera model has WLAN)</li>
               <li>Change pre-selection for GMX</li>
               <li>Display of LAN and WLAN MAC address</li>
               <li>The preselection for GMX in the email was changed by mail.gmx.net on mail.gmx.de to avoid problems with the Telekom Speedport</li>
               <li>General bug fixes and improvements</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.63 <br>
                   WebUI 1.13  </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.63_WebUI_1.13(586)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.63_WebUI_1.13(586)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>Alarm Server</li>
               <li>Daily time-controlled camera reboot</li>
               <li>Email SMTP sending without authentication</li>
               <li>New Installation Wizard</li>
               <li>Users &amp; guest accounts can be disabled</li>
               <li>German syslog</li>
               <li>Fixed problem with 'empty' camera name</li>
               <li>H264 video support for all ports in user and guest access</li>
               <li>Fixed problem with determining email providers (e.g., GMX, web.de, Gmail, AOL)</li>
               <li>Problem fixed that the alarm input, audio alarm and the motion detection were not seperat usable when activated</li>
               <li>General bug fixes and improvements</li>
               <li>Camera parking position for all PTZ models</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.56 <br>
                   WebUI 1.12  </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.56_WebUI_1.12(555)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.56_WebUI_1.12(555)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>New h.264 video stream via RTMP protocol via the RTMP port (see Network> IP configuration) with Flash Plugin support</li>
               <li>Two different MotionJPEG stream variants</li>
               <li>Privacy Mask - Set up to 4 private areas that are completely hidden in the video image</li>
               <li>Camera settings are no longer deleted with the update</li>
               <li>h.264 Video support for Linux using Flash</li>
               <li>Manual recording function on the built-in memory card of the camera</li>
               <li>Folder structure under FTP</li>
               <li>Manually open (gray) and close (red) the alarm output relay via the web interface</li>
               <li>Cameras can be connected to a WLAN at WLAN</li>
               <li>General bug fixes and improvements</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.45 <br>
                   WebUI 1.11  </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.45_WebUI_1.11.(431)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.45_WebUI_1.11.(431)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>Push notifications are possible with the app InstarVision</li>
               <li>ActiveX Plugin Support for Chrome and Firefox under Windows</li>
               <li>New NTP servers</li>
               <li>Troubleshooting problems with the 1und1 Mailserver</li>
               <li>New INSTAR Email Server is available for mail delivery</li>
               <li>A second email recipient can be entered</li>
               <li>Time-controlled activation and deactivation of the IR LEDs</li>
               <li>PTZ limitation (for cameras with PTZ)</li>
               <li>Move the alarm position (for cameras with PTZ)</li>
               <li>Acoustic alarm signal for movement detection via cameralautsprecher or audio output</li>
               <li>automated test with WLAN</li>
               <li>Automatic check of the SD card</li>
               <li>Improvements, bug fixes and TYPOS</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.37 <br>
                   WebUI 1.9   </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.37_WebUI_1.9.(213)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.37_WebUI_1.9.(213)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>SMTP Server Info for 1und1</li>
               <li>Bugfix Audio-Output for P2P</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.31 <br>
                   WebUI 1.6   </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.31_WebUI_1.6.(126)_update.pkg.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.31_WebUI_1.6.(126)_update.pkg.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>Bugfix: Lost gateway</li>
               <li>new SMTP encryption</li>
               <li>planned video recordings</li>
               <li>advanced PTZ functions</li>
               <li>Audio alarm</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.31 <br>
                   WebUI 1.5   </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.31_WebUI_1.5.(121)_update.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.31_WebUI_1.5.(121)_update.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <div class="box__inner">
            <div class="box__content">
              <ul>
               <li>more supported e-mail providers</li>
               <li>Compatibility with IE11</li>
               <li>Videos on schedule to SD</li>
               <li>UI in French and Chinese</li>
               <li>Bug fixes for ONVIF</li>
              </ul>
            </div>
            <div class="box__footer">
              <div class="box__credit">
                <div class="box__subtitle">Download</div>
                <h5 class="box__title">Version Number</h5>
                <p>FW 3.1.2.30 <br>
                   WebUI 1.4   </p>
              </div>
              <div class="box__image box-image-button">
                <a href="/dl/IN-5907HD/IN-5907_FW_3.1.2.30_WebUI_1.4.(104)_update.pkg.zip"><button class="navGo">WLAN</button></a>
                <a href="/dl/IN-5907HD/IN-5907-PoE_FW_3.1.2.30_WebUI_1.4.(104)_update.pkg.zip"><button class="navGo">PoE *</button></a>
              </div>
            </div>
          </div>
        </div>
    </amp-carousel>
    <p>(*) This version may only be played on a 5907 Power-over-Ethernet and <strong>is not</strong> on a 5907 WLAN.</p>

                    </div>

                </section>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
  </html>
