<section class="mb">

    <h3>Related Topics</h3>

    <ul class="list-unstyled">
        <li>
            <a href="http://wiki.instar.com/index.php/How_does_an_IP-Camera-Network_work%3F">How does an IP-Camera-Network work?</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/First_Steps">First Steps to get your IP camera working</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/After_Unpacking">After unpacking your INSTAR IP Camera</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/Direct_LAN_Connection">Direct connection with a PC or Notebook</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/Alternative_IP_Scanner">How to find your IP Camera with an alternative IP Scanner</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/Language_Selection">Language Selection</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/Creating_User_Accounts">Creating user accounts on your camera</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/WebUI_And_Firmware_Upgrade">WebUI and Firmware Upgrade</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/How_To_Clear_Your_Browsing_History">How to clear your Browsing History</a>
        </li>
        <li>
            <a href="http://wiki.instar.com/index.php/Set_Up_A_Wireless_Connection">First steps to set up a Wifi connection</a>
        </li>
    </ul>

</section>
