<!DOCTYPE html>
<html lang="en">
    <head><% include partials/template/head.ejs %></head>
    <body>
        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- ----------------------------------------------------- First Steps ------------------------------------------- -->

        <section class="mb">

          <div class="container-fluid mb">
            <p class="lead">This video contains a quick overview over the necessary steps of the network integration.</p>
            <p class="text-justify">Please go to the website <a href="http://install.instar.de">www.install.instar.de</a> and follow the step by step instructions in order to set up your IP camera.</p>
          </div>

          <div class="col-md-6 mb">
            <ul>
              <li>Initial setup - Power supply, Wifi Antenna and camera boot up</li>
              <li><a href="http://wiki.instar.com/index.php/LAN_Connection">Network integration</a> (<a href="http://wiki.instar.com/index.php/Local_Area_Network">LAN</a>)</li>
              <li>The INSTAR search tool (<a href="http://wiki.instar.com/index.php/INSTAR_Camera_Tool">Search Tool</a>) and web user interface (<a href="http://wiki.instar.com/index.php/Web_User_Interface">webUI</a>)</li>
              <li>How to set a static IP address (<a href="http://wiki.instar.com/index.php/IP_Address">TCP/IP</a>)</li>
              <li>Camera login and standard passwords (<a href="http://wiki.instar.com/index.php/Creating_User_Accounts#Default_Logins">Default Passwords</a>)</li>
              <li><a href="http://wiki.instar.com/index.php/First_steps_to_set_up_a_Wifi_connection">Wifi integration</a> (<a href="http://wiki.instar.com/index.php/Wireless_Local_Area_Network">WLAN</a>)</li>
              <li>Image quality settings (<a href="http://wiki.instar.com/index.php/Web_User_Interface#Multimedia">Image Settings</a>)</li>
            </ul>
          </div>

          <div class="col-md-6 mb">
              <div class="floating-box">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ByMkfVgjl3c" alt="After unpacking your INSTAR IP Camera"></iframe>
                </div>
                <div class="caption" style="padding: 5px;">
                  <h4>After unpacking your INSTAR IP Camera</h4>
                </div>
              </div>
          </div>

        </section>

        <div class="clearfix"></div>

        <!-- ----------------------------------------------------- Related Topics ------------------------------------------- -->

        <section class="mb">

          <h3>Related Topics</h3>

          <ul class="list-unstyled">
            <li><a href="http://wiki.instar.com/index.php/First_Steps">First Steps to get your IP camera working</a></li>
            <li><a href="http://wiki.instar.com/index.php/How_does_an_IP-Camera-Network_work%3F">How does an IP-Camera-Network work?</a></li>
            <li><a href="http://wiki.instar.com/index.php/Language_Selection">Language Selection</a></li>
            <li><a href="http://wiki.instar.com/index.php/ActiveX_Plugin_Installation_on_Windows">ActiveX Plugin Installation on Windows Computers</a></li>
            <li><a href="http://wiki.instar.com/index.php/Quicktime_Plugin_Setup">Quicktime Plugin Setup</a></li>
            <li><a href="http://wiki.instar.com/index.php/Creating_User_Accounts">Creating User Accounts</a></li>
            <li><a href="http://wiki.instar.com/index.php/How_to_upgrade_to_a_new_WebUI_or_Firmware">How to upgrade to a new WebUI or Firmware</a></li>
            <li><a href="http://wiki.instar.com/index.php/First_steps_to_set_up_a_Wifi_connection">First steps to set up a Wifi connection</a></li>
            <li><a href="http://wiki.instar.com/index.php/The_DDNS_Service">The DDNS Service</a></li>
            <li><a href="http://wiki.instar.com/index.php/Motion_Detection_Setup">Motion Detection Setup</a></li>
          </ul>

        </section>

        <!-- ----------------------------------------------------- Footer ------------------------------------------- -->

        <footer><% include partials/template/footer.ejs %></footer>
        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
