<div class="margin">
    <h2 class="post-title">Fing Mobile (Android/iOS)</h2>
    <h4>Fing for iOS</h4>
    <p class="justify">
        The newest version of the freeware iOS App "Fing" can be found on the
        <a href="https://itunes.apple.com/app/id430921107" target="_blank">App Store</a>. After installation you will see the following interface:
    </p>
</div>
<!-- /margin -->

<div class="margin">
    <amp-img src="/images/IPScanner_iOS_01.jpg" width=450 height=675 layout="responsive" class="shadow"></amp-img>
    <p>Let the Fing scan your network for a new active host.</p>
</div>
<!-- /margin -->

<div class="margin">
    <p class="justify">
        Make sure the camera is disconnected from your network - then start a scan. Now connect the camera and re-run the scan. The camera should show up as a new network device. Press the cameras IP address to open the advanced details. If you are using
        more then one camera in your network we recommend, you only connect one camera at a time in order to differentiate them.
    </p>
</div>
<!-- /margin -->

<div class="margin">
    <amp-img src="/images/IPScanner_iOS_02.jpg" width=450 height=675 layout="responsive" class="shadow"></amp-img>
    <p>Let the Fing scan the host for active services.</p>
</div>
<!-- /margin -->

<div class="margin">
    <p class="justify">
        Please choose "Scan services" to discover the cameras http port - the default http port is 80.
    </p>
</div>
<!-- /margin -->

<div class="margin">
    <amp-img src="/images/IPScanner_iOS_03.jpg" width=450 height=675 layout="responsive" class="shadow"></amp-img>
    <p>Choose the cameras web port 80....</p>
</div>
<!-- /margin -->

<div class="margin">
    <p class="justify">
        Press the http port and choose to open the camera´s
        <a href="/Web_User_Interface/">Web User Interface</a>.</p>
</div>
<!-- /margin -->

<div class="margin">
    <amp-img src="/images/IPScanner_iOS_04.jpg" width=450 height=675 layout="responsive" class="shadow"></amp-img>
    <p>...and choose to open the address inside your default web browser.</p>
</div>
<!-- /margin -->

<div class="margin">
    <p class="justify">
        You will now be greeted by the camera´s login page - the default credentials are username
        <strong>admin</strong>
        and the password can be left
        <strong>blank</strong>
        (or type in
        <strong>instar</strong>
        in case of a HD camera model). Congratulations! You now entered the cameras
        <a href="/Web_User_Interface/">WebUI</a>.
    </p>
