<!DOCTYPE html>
<html lang="en">
    <head><% include partials/template/head.ejs %></head>
    <body>
        <header><% include partials/template/header.ejs %></header>
        <!-- Navbar-->

        <!-- ############################################# How Does An IP Camera Work? ############################################# -->

        <section class="mb">

            <div class="container-fluid mb">
                <p class="lead">This video contains a quick overview over the basic IP camera features like.</p>
            </div>

            <div class="col-md-6 mb">
                <ul>
                    <li>LAN or Wifi connectivity</li>
                    <li>Remote access to your camera via DDNS (<a href="http://wiki.instar.com/index.php/The_DDNS_Service">Dynamic Domain Name Service</a>)</li>
                    <li>Internal IP address vs internet address (<a href="http://wiki.instar.com/index.php/The_DDNS_Service">DDNS</a>)</li>
                    <li>What is the difference between the internal IP (<a href="http://wiki.instar.com/index.php/Local_Area_Network">LAN</a>) and the external IP address (<a href="http://wiki.instar.com/index.php/Wide Area Network">WAN</a>)</li>
                    <li>Internal port / external port - How to open a door to the internet (<a href="http://wiki.instar.com/index.php/Port_Forwarding">Port Forwarding</a>)</li>
                </ul>
            </div>

            <div class="col-md-6 mb">
                <div class="floating-box">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JWa1L_rBRW4" alt="How does an IP-Camera-Network work?"></iframe>
                    </div>
                    <div class="caption" style="padding: 5px;">
                        <h4>How does an IP-Camera-Network work?</h4>
                    </div>
                </div>
            </div>

        </section>

        <div class="clearfix"></div>

        <!-- ----------------------------------------------------- Related Topics ------------------------------------------- -->

        <section class="mb">

            <h3>Related Topics</h3>

            <ul class="list-unstyled">
                <li><a href="http://wiki.instar.com/index.php/First_Steps">First Steps to get your IP camera working</a></li>
                <li><a href="http://wiki.instar.com/index.php/After_unpacking_your_INSTAR_IP_Camera">After unpacking your INSTAR IP Camera</a></li>
            </ul>

        </section>

        <!-- ############################################# Footer ############################################# -->

        <footer><% include partials/template/footer.ejs %></footer>
        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
