<div class="container">
    <div class="row">
        <div class="col-md-5 centered hidden-sm-down">
            <a href="#"><img src="/images/iphone.png" alt="InstarVision Software Solution" class="img-fluid"></a>
        </div>

        <div class="col-xs-12 col-md-7 pb">
            <div class="col-xs-12">
                <h3 class="subheader">InstarVision Surveillance Solution</h3>
                <p>Control your IP security camera from your PC, Mac, Tablet or Smartphone. INSTAR offers a solution for every surveillance taske.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-3">
                    <a href="#">
                        <i class="fa fa-android"></i>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#">
                        <i class="fa fa-apple"></i>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#">
                        <i class="fa fa-windows"></i>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#">
                        <i class="fa fa-mobile-phone"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
