<div class="container">
    <div class="row">
        <div class="col-md-5 centered hidden-sm-down">
            <a href="#"><img src="/images/iphone.png" alt="InstarVision Software Solution" class="img-fluid"></a>
        </div>

        <div class="col-xs-12 col-md-7 pb">
            <div class="col-xs-12">
                <h3 class="subheader">Instar Products</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
