<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/HD_Series/Network/P2P/">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Web_User_Interface/HD_Series/Network/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>P2P Overlay</h1>
                                    <p class="intro">
                                      The P2P access allows you to access your camera´s live video stream via our iOS or Android app. Simply scan the P2P QR code with our app and confirm the settings - done! Please be aware, while the QR code on the camera case only works if your camera still has the default administrator login (<a href="/Web_User_Interface/HD_Series/System/User/">please change that immediantly</a>) the QR code here is always generated with the actual parameters set on the camera.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Point-to-Point Connection</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/WebUI-Network_P2P.png" width="537" height="560" layout="responsive" class="shadow"></amp-img>
                      </div>

                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/WebUI-Network_P2P.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Activate P2P Connection</strong>
                                </td>
                                <td>By activating the Point-2-Point connection, you enable your camera to directly connect with our InstarVision app on your smartphone or tablet. This way <u>you do not</u> need to set up a <a href="/Internet_Access/Port_Forwarding">Port Forwarding</a> inside your router to access your camera, when you are on the road. But the connection is - in most cases - slower then the speed that you will get by accessing your camera over your <a href="/Internet_Access/The_DDNS_Service">DDNS Address</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>P2P User ID</strong>
                                </td>
                                <td>This is your camera´s identification number, that is used for the P2P connection. You can manual type it into Thirdparty Software like <a href="/Products/Software/Windows/P2P_Client">P2P Client</a>. When you are using our Smartphone app, just scan the QR Code below to transmit all information neccessary for the integration of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>QR Code</strong>
                                </td>
                                <td>To add your camera to our <a href="/Products/Software/iOS">iPhone</a> or <a href="/Products/Software/Android">Android</a> app, you simply have to scan the QR code.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Activate the p2p function to access your camera from the internet without the need for a <a href="/Internet_Access/Port_Forwarding">port forwarding</a> in your router. Simply add the camera as a p2p camera in our <a href="/Products/Software">InstarVision</a> app, scan the QR code on the Network/P2P overlay in the WebUI or from the sticker on the camera and add the camera <a href="/Web_User_Interface/HD_Series/System/User/">administrator login</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="successcard">
                        <p><strong>No public IPv4 Address needed</strong><br/><br/>You can access your camera even behind an IPv6 connection or or mobile AP (UMTS/LTE, with changing WAN IP) ! Use the p2p function to access your camera from the internet, when you cannot set a port forwarding for the camera necessary for the DDNS service.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/P2P-QRcode.png" width="800" height="276" layout="responsive" class="shadow"></amp-img>
                      </div>

                    <div class="margin">
                        <p>There are 3 ways to connect your camera. You can choose the apps <strong>Search function</strong> to discover the p2p camera inside your local network, <strong>type in the User ID</strong> from the camera ´s web UI (or the sticker on the camera case) or use the <strong>QR code scanner</strong> to scan the QR code (just hold your smartphone over the QR code - the scanner works automatically). The QR code in the web UI is created dynamically and will contain all information the app needs to set up your camera. The QR code on the sticker will contain the camera ´s default settings to allow you to quickly set up the camera. We recommend that you change the <a href="/Web_User_Interface/HD_Series/System/User/">administrator password</a> for the camera and use the QR code from the web UI.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
        </div>

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Web_User_Interface/HD_Series/Software/">
                        <h3>The HD Web User Interface Software Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/">
                        <h3>The HD Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="#">
                        <h3>Control your camera directly over CGI commands</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
