<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/HD_Series/System">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Web_User_Interface/HD_Series/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">

            <section class="blade get-started">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>System Menu</h1>
                        </div>
                    </div>

                    <!-- ##################################### Info ############################################ -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:info-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Info_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p class="info"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/System/Info/">Info Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="info-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:info-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/HD_Series/System/Info/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Info_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:info-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="info2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/HD_Series/System/Info/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var info = document.querySelectorAll('.info, .info2');
                            for(var i = 0; i < info.length; i++) {
                              info[i].innerHTML="Info is simply a collection of a lot of system internals that are interesting if you have to start troubleshooting your set up. You DDNS access doesn´t work? Check the DDNS status (has to be successful) and the UPnP Status (most likely has to be deactivated). You can also try accessing your camera via it´s WAN IP (instead of DDNS address) - to check wether it is the DDNS address or your port forwarding that is the culprit.";
                            }
                        </script>

                        <!-- ##################################### Date ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:date-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Date_mouseOver.png"></amp-img>
                                </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p class="date"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/System/Date_Time/">Date &amp; Time Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <!-- lightbox -->
                        <amp-lightbox id="date-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:date-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/HD_Series/System/Date_Time/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Date_mouseOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:date-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="date2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/HD_Series/System/Date_Time/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var date = document.querySelectorAll('.date, .date2');
                          for(var i = 0; i < date.length; i++) {
                            date[i].innerHTML="Your camera will automatically contact a so-called NTP Server to set the internal clock. It is recommended to leave this feature on at all times. But if your camera cannot connect to the internet, you can synchronize the clock with your computer. But be aware that this has to be done regularly to keep your camera on-time.";
                          }
                      </script>

                      <!-- ##################################### User ############################################ -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:user-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_User_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="user"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/System/User/">User Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="user-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:user-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/HD_Series/System/User/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_User_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:user-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="user2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/HD_Series/System/Date_Time/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var user = document.querySelectorAll('.user, .user2');
                            for(var i = 0; i < user.length; i++) {
                              user[i].innerHTML="Your camera will be set up with 3 user classes - administrator, user and visitor - and one password for all of them - instar. Please change this as soon as you want to forward your camera to the internet. And don´t forget to change all three of them. You can use the RTSP Stream if you want to allow users to access your camera without the hassle of a password.";
                            }
                        </script>

                        <!-- ##################################### Status_LED ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:status-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Status_LED_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="statusled"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/System/Status_LED/">Status LED Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <!-- lightbox -->
                        <amp-lightbox id="status-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:status-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/HD_Series/System/Status_LED/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Status_LED_mouseOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:status-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="statusled2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/HD_Series/System/Status_LED/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var statusled = document.querySelectorAll('.statusled, .statusled2');
                          for(var i = 0; i < statusled.length; i++) {
                            statusled[i].innerHTML="Did you notice the blue and blinking LED on the camera? It can be very annoying in a dark room. But it can be used to troubleshoot your network connection or to make people aware that they are being recorded. For all other purposes come here to deactivate it.";
                          }
                      </script>

                      <!-- ##################################### IR LED ############################################ -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:irled-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_IR_LEDs_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="irled"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/System/IR_LED/">IR LED Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="irled-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:irled-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/HD_Series/System/IR_LED/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_IR_LEDs_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:irled-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="irled2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/HD_Series/System/IR_LED/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var irled = document.querySelectorAll('.irled, .irled2');
                            for(var i = 0; i < irled.length; i++) {
                              irled[i].innerHTML="Your camera´s IR LEDs are switched on and off automatically by the internal light sensor. If you want to use your camera behind a highly reflective window or you are using your camera as a weather webcam and don´t need the IR light, simply deactivate the LEDs here. Be aware that the automatic IRcut filter will be moved in front of the lense permanently in this mode. That means you cannot use an external IR spotlight with your camera, if the internal IR lights are turned off.";
                            }
                        </script>

                        <!-- ##################################### ONVIF ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:onvif-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_ONVIF_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="onvif"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/System/ONVIF/">ONVIF Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- /Card Container -->
                    <!-- lightbox -->
                      <amp-lightbox id="onvif-lightbox" layout="nodisplay">
                        <div class="lightbox" on="tap:onvif-lightbox.close" tabindex="0">
                          <div class="twocard cardbox">
                              <a href="/Web_User_Interface/HD_Series/System/ONVIF/">
                              <div class="image">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_ONVIF_mouseOver.png"></amp-img>
                              </div>
                              </a>
                              <div class="content" on="tap:onvif-lightbox.close" tabindex="0">
                                  <hr>
                                  <p class="onvif2"></p> <!-- innerHTML Added by script below -->
                              </div>
                              <div class="action">
                                  <a href="/Web_User_Interface/HD_Series/System/ONVIF/">Click of more Information</a>
                              </div>
                          </div>
                        </div>
                      </amp-lightbox>
                    <!-- /lightbox -->
                    <!-- Add Pragraph Text -->
                    <script>
                        var onvif = document.querySelectorAll('.onvif, .onvif2');
                        for(var i = 0; i < onvif.length; i++) {
                          onvif[i].innerHTML="The surveillance industry has created an open standard protocol called ONVIF that allows cameras to communicate with each other and with network recording devices. You can activate or deactivate this service and change the port that it is using - as needed by your receiving ONVIF device.";
                        }
                    </script>

                    <!-- ##################################### PTZ ############################################ -->

                    <div class="card-container margin">
                      <div class="twocard">
                          <div class="image" on="tap:ptz-lightbox" role="button" tabindex="0">
                              <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_PTZ_moueOver.png"></amp-img>
                              </div>
                          </a>
                          <div class="content">
                              <hr>
                              <p class="ptz"></p> <!-- innerHTML Added by script below -->
                          </div>
                          <div class="action">
                              <a href="/Web_User_Interface/HD_Series/System/PTZ/">PTZ Menu</a>
                          </div>
                      </div>
                      <!-- /Card -->
                      <!-- lightbox -->
                        <amp-lightbox id="ptz-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:ptz-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/HD_Series/System/PTZ/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_PTZ_moueOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:ptz-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="ptz2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/HD_Series/System/PTZ/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var ptz = document.querySelectorAll('.ptz, .ptz2');
                          for(var i = 0; i < ptz.length; i++) {
                            ptz[i].innerHTML="Deactivate your camera´s calibration run at startup (will also deactivate the saved positions). Let your camera go to a saved position after a restart or limit the range of the pan &amp; tilt motion for privacy concerns.";
                          }
                      </script>

                      <!-- ##################################### Tour ############################################ -->

                      <div class="twocard">
                          <div class="image" on="tap:tour-lightbox" role="button" tabindex="0">
                              <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_PTZ_moueOver.png"></amp-img>
                          </div>
                          <div class="content">
                              <hr>
                              <p class="tour"></p> <!-- innerHTML Added by script below -->
                          </div>
                          <div class="action">
                              <a href="/Web_User_Interface/HD_Series/System/PTZ_Tour/">PTZ Tour Menu</a>
                          </div>
                      </div>
                      <!-- /Card -->
                  </div>
                  <!-- /Card Container -->
                  <!-- lightbox -->
                    <amp-lightbox id="tour-lightbox" layout="nodisplay">
                      <div class="lightbox" on="tap:tour-lightbox.close" tabindex="0">
                        <div class="twocard cardbox">
                            <a href="/Web_User_Interface/HD_Series/System/PTZ_Tour/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_PTZ_moueOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="content" on="tap:tour-lightbox.close" tabindex="0">
                                <hr>
                                <p class="tour2"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/HD_Series/System/PTZ_Tour/">Click of more Information</a>
                            </div>
                        </div>
                      </div>
                    </amp-lightbox>
                  <!-- /lightbox -->
                  <!-- Add Pragraph Text -->
                  <script>
                      var tour = document.querySelectorAll('.tour, .tour2');
                      for(var i = 0; i < tour.length; i++) {
                        tour[i].innerHTML="Deactivate your camera´s calibration run at startup (will also deactivate the saved positions). Let your camera go to a saved position after a restart or limit the range of the pan &amp; tilt motion for privacy concerns.";
                      }
                  </script>

                  <!-- ##################################### Log ############################################ -->

                  <div class="card-container margin">
                    <div class="twocard">
                        <div class="image" on="tap:log-lightbox" role="button" tabindex="0">
                            <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Log_mouseOver.png"></amp-img>
                            </div>
                        </a>
                        <div class="content">
                            <hr>
                            <p class="log"></p> <!-- innerHTML Added by script below -->
                        </div>
                        <div class="action">
                            <a href="/Web_User_Interface/HD_Series/System/System_Log/">System Log Menu</a>
                        </div>
                    </div>
                    <!-- /Card -->
                    <!-- lightbox -->
                      <amp-lightbox id="log-lightbox" layout="nodisplay">
                        <div class="lightbox" on="tap:log-lightbox.close" tabindex="0">
                          <div class="twocard cardbox">
                              <a href="/Web_User_Interface/HD_Series/System/System_Log/">
                              <div class="image">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_System_Log_mouseOver.png"></amp-img>
                              </div>
                              </a>
                              <div class="content" on="tap:log-lightbox.close" tabindex="0">
                                  <hr>
                                  <p class="log2"></p> <!-- innerHTML Added by script below -->
                              </div>
                              <div class="action">
                                  <a href="/Web_User_Interface/HD_Series/System/System_Log/">Click of more Information</a>
                              </div>
                          </div>
                        </div>
                      </amp-lightbox>
                    <!-- /lightbox -->
                    <!-- Add Pragraph Text -->
                    <script>
                        var log = document.querySelectorAll('.log, .log2');
                        for(var i = 0; i < log.length; i++) {
                          log[i].innerHTML="Something doesn´t work anymore? Check the system log file for information. You don´t receive Alarm Emails anymore but your SMTP settings look fine? Check the log if there are still motion trigger events. Or you get spammed with Alarm Emails but motion detection is already deactivated? Check your log - maybe the events are triggered by the Audio Alarm or an external trigger.";
                        }
                    </script>
                    <div class="twocard invisible"></div>
                    <!-- /Card -->
                </div>
                <!-- /Card Container -->
                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->
        </div>
        <!-- /Wrapper -->

        <!-- ------------------------------------ Related ------------------------------------------------------ -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/Push_Service/">
                        <h3>Activate the Alarm Push Notification for your Smartphone</h3>
                        <div class="subtitle">Push Service</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/System/User/">
                        <h3>Secure Access to your Camera</h3>
                        <div class="subtitle">User Management</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Multimedia/Image/">
                        <h3>Change the displayed Name of your Cammera</h3>
                        <div class="subtitle">Multimedia Image Settings</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Alarm/Actions/">
                        <h3>Define Actions to be taken by your Camera in case of an Alarm</h3>
                        <div class="subtitle">Alarm Actions</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/DDNS/">
                        <h3>Scan the QR Code to add your Camera to our Smartphone App</h3>
                        <div class="subtitle">DDNS Settings</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/Update/">
                        <h3>Check if an Update for your Camera is available</h3>
                        <div class="subtitle">Software Update</div>
                    </a>
                </div>

                <a href="/Web_User_Interface/HD_Series/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
