<section class="row centered mt grid">

    <div class="row center-block mt">
        <div class="col-md-4 col-md-offset-4 centered mb">
            <h4>
                <span class="text-muted">Internet Access</span>
                <hr>
            </h4>
        </div>
    </div>

    <!-- Take Images from gallery-internetaccess.json for Gallery -->

    <% if (iaPic.length > 0) { %>
        <% for (i=0; i<iaPic.length; i++) { %>
            <div class="col-xs-6 col-lg-4 mb">
                <a href="/Internet_Access/<%= iaUrl[i] %>"><img src="<%= iaPic[i] %>" alt="<%= iaPicAlt[i] %>" class="img-fluid"></a>
            </div>
        <% } %>
    <% } %>

</section>
