<div class="container mb">
    <div class="row">
        <a href="/Web_User_Interface/">
            <div class="col-md-5 centered mb">
                <img src="/images/macbook.png" alt="The Web User Interface" class="img-fluid">
            </div>

            <div class="col-xs-12 col-md-7 centered">
                <h3 class="subheader">The Web User Interface</h3>
                <p>Control your camera from your default web browser. Click here to find a detailed description of your HD cameras web user interface.</p>
                <a href="/Web_User_Interface/1080p_Series/"><button type="button" class="btn btn-primary">1080p Series</button></a>
                <a href="/Web_User_Interface/720p_Series/"><button type="button" class="btn btn-primary">720p Series</button></a>
                <a href="/Web_User_Interface/"><button type="button" class="btn btn-primary">VGA Series</button></a>
            </div>
        </a>
    </div>
</div>
