/param.cgi?cmd=set_instar_guest&-index=47&-value=6014
/param.cgi?cmd=set_instar_guest&-index=48&-value=false


<body class="home amp-mode-mouse" style="overflow: visible; position: relative; opacity: 1; visibility: visible; animation: 0s ease 0s normal none 1 running none;">

    <form class="menu-layer primary -amp-form" action="/" target="_top" novalidate="">
        <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
        <div class="items">
            <label class="menu-item item-layer-1 has-sub-level"><input type="checkbox">
          About
            <div class="submenu menu-layer secondary" i-amp-fixedid="F1" style="">
              <div class="return-button">Back</div>
              <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
              <div class="items">
                  <a class="menu-item item-layer-2" href="/learn/overview/">What is AMP?</a>
                  <a class="menu-item item-layer-2" href="/learn/about-how/">How AMP Works</a>
                  <a class="menu-item item-layer-2" href="/learn/amp-design-principles/">Design Principles</a>
                  <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">Who is AMP for?
                    <div class="submenu menu-layer tertiary" i-amp-fixedid="F2" style="">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/learn/who-uses-amp/">Who is AMP for?</a>
                        <a class="menu-item item-layer-3" href="/learn/who-uses-amp/publishers/">AMP for Publishers</a>
                        <a class="menu-item item-layer-3" href="/learn/who-uses-amp/ad-tech-platforms/">AMP for Ad Tech Platforms</a>
                        <a class="menu-item item-layer-3" href="/learn/who-uses-amp/advertisers/">AMP for Advertisers</a>
                      </div>
                    </div>
                  </label>
            <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">Case Studies
                    <div class="submenu menu-layer tertiary" i-amp-fixedid="F3" style="">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/case-studies/">Case Studies</a>
                        <a class="menu-item item-layer-3" href="/case-studies/washingtonpost/">Washington Post</a>
                        <a class="menu-item item-layer-3" href="/case-studies/gizmodo/">Gizmodo</a>
                        <a class="menu-item item-layer-3" href="/case-studies/wired/">Wired</a>
                        <a class="menu-item item-layer-3" href="/case-studies/slate/">Slate</a>
                        <a class="menu-item item-layer-3" href="/case-studies/plista/">plista</a>
                        <a class="menu-item item-layer-3" href="/case-studies/relay_media/">Relay Media</a>
                        <a class="menu-item item-layer-3" href="/case-studies/teads/">Teads</a>
                        <a class="menu-item item-layer-3" href="/case-studies/hearst/">Hearst</a>
                        <a class="menu-item item-layer-3" href="/case-studies/milestone/">Milestone</a>
                        <a class="menu-item item-layer-3" href="/case-studies/terra/">Terra</a>
                      </div>
                    </div>
                  </label>
        </div>
        </div>
        </label>
        <label class="menu-item item-layer-1 has-sub-level"><input type="checkbox">
          Docs
            <div class="submenu menu-layer secondary" i-amp-fixedid="F4" style="">
              <div class="return-button">Back</div>
              <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
              <div class="items">
                  <a class="menu-item item-layer-2" href="/docs/get_started/create.html">Getting started</a>
                  <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">Tutorials
                    <div class="submenu menu-layer tertiary" i-amp-fixedid="F5" style="">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/docs/get_started/create.html">Tutorials</a>
                        <a class="menu-item item-layer-3" href="/docs/get_started/create.html">Create Your First AMP Page</a>
                        <a class="menu-item item-layer-3" href="/docs/get_started/login_requiring.html">Create a login-requiring AMP page</a>
                        <a class="menu-item item-layer-3" href="/docs/get_started/live_blog.html">Create a Live Blog</a>
                      </div>
                    </div>
                  </label>
        <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">Guides
                    <div class="submenu menu-layer tertiary" i-amp-fixedid="F6" style="">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/docs/guides/author-develop/responsive_amp.html">Guides</a>
                        <a class="menu-item item-layer-3" href="/docs/guides/author_develop.html">Author / Develop</a>
                        <a class="menu-item item-layer-3" href="/docs/guides/debug.html">Debug</a>
                        <a class="menu-item item-layer-3" href="/docs/guides/deploy.html">Deploy</a>
                      </div>
                    </div>
                  </label>
        <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">Reference
                    <div class="submenu menu-layer tertiary" i-amp-fixedid="F7" style="">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/docs/reference/components.html">Reference</a>
                        <a class="menu-item item-layer-3" href="/docs/reference/components.html">Components / Tags</a>
                        <a class="menu-item item-layer-3" href="/docs/reference/spec.html">AMP HTML Specification</a>
                        <a class="menu-item item-layer-3" href="/docs/reference/common_attributes.html">Common Attributes</a>
                        <a class="menu-item item-layer-3" href="/docs/reference/experimental.html">Experimental features</a>
                        <a class="menu-item item-layer-3" href="/docs/reference/validation_errors.html">AMP Validation Errors</a>
                      </div>
                    </div>
                  </label>
        <a class="menu-item item-layer-2 external" href="https://ampbyexample.com/">Examples</a>
        <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">Contribute
                    <div class="submenu menu-layer tertiary" i-amp-fixedid="F8" style="">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/contribute/">Contribute</a>
                        <a class="menu-item item-layer-3" href="/contribute/">How to Contribute</a>
                        <a class="menu-item item-layer-3 external" href="https://github.com/ampproject/amphtml/issues/new">File a bug</a>
                        <a class="menu-item item-layer-3 external" href="https://github.com/ampproject/amphtml">GitHub</a>
                        <a class="menu-item item-layer-3" href="/docs/contribute/governance/">Open Source Governance</a>
                      </div>
                    </div>
                  </label>
        </div>
        </div>
        </label>
        <label class="menu-item item-layer-1 has-sub-level"><input type="checkbox">
          The Latest
            <div class="submenu menu-layer secondary" i-amp-fixedid="F9" style="">
              <div class="return-button">Back</div>
              <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
              <div class="items">
                  <a class="menu-item item-layer-2" href="/latest/">What's New</a>
                  <a class="menu-item item-layer-2" href="/latest/blog">News</a>
                  <a class="menu-item item-layer-2" href="/latest/event/">Events</a>
                  <a class="menu-item item-layer-2" href="/roadmap/">Roadmap</a>
              </div>
            </div>
          </label>
        <label class="menu-item item-layer-1 has-sub-level"><input type="checkbox">
          Support
            <div class="submenu menu-layer secondary" i-amp-fixedid="F10" style="">
              <div class="return-button">Back</div>
              <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
              <div class="items">
                  <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">FAQs
                    <div class="submenu menu-layer tertiary" i-amp-fixedid="F11" style="">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/support/faqs/">FAQs</a>
                        <a class="menu-item item-layer-3" href="/support/faqs/overview.html">AMP Overview</a>
                        <a class="menu-item item-layer-3" href="/support/faqs/platform-involvement.html">Platform and Technology Company Involvement</a>
                        <a class="menu-item item-layer-3" href="/support/faqs/publisher-monetization.html">Publisher Monetization</a>
                        <a class="menu-item item-layer-3" href="/support/faqs/supported-platforms.html">Supported Platforms, Vendors and Partners</a>
                      </div>
                    </div>
                  </label>
        <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">Developer Support
                    <div class="submenu menu-layer tertiary">
                      <div class="return-button">Back</div>
                      <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
                      <div class="items">
                        <a class="menu-item item-layer-3" href="/support/developer/">Developer Support</a>
                        <a class="menu-item item-layer-3 external" href="https://stackoverflow.com/questions/tagged/amp-html">Stack Overflow Community</a>
                        <a class="menu-item item-layer-3 external" href="https://groups.google.com/forum/#!forum/amphtml-discuss">Support Forum</a>
                        <a class="menu-item item-layer-3 external" href="https://docs.google.com/a/google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=4406980310789882877">Slack Channel</a>
                        <a class="menu-item item-layer-3 external" href="https://github.com/ampproject/amphtml/issues/new">Report a platform bug on Github</a>
                        <a class="menu-item item-layer-3 external" href="https://github.com/ampproject/docs/issues/new">Report a documentation bug on Github</a>
                      </div>
                    </div>
                  </label>
        <a class="menu-item item-layer-2" href="/static/img/brand-guidelines.pdf">Brand Guidelines</a>
        </div>
        </div>
        </label>
        </div>
        <div class="language desktop">
            <amp-accordion class="i-amphtml-element i-amphtml-layout-container" role="tablist">
                <section>
                    <h6 class="current -amp-accordion-header" role="tab" aria-controls="_AMP_content_0" aria-expanded="false">
          <a class="flag-en"><span>English</span></a>
        </h6>
                    <div class="others -amp-accordion-content" role="tabpanel" id="_AMP_content_0">
                        <div class="others-inner">
                            <div><a href="/ar/" class="flag-ar"><span>العربية</span></a></div>
                            <div><a href="/de/" class="flag-de"><span>Deutsch</span></a></div>
                            <div><a href="/es/" class="flag-es"><span>español</span></a></div>
                            <div><a href="/fr/" class="flag-fr"><span>français</span></a></div>
                            <div><a href="/id/" class="flag-id"><span>Indonesia</span></a></div>
                            <div><a href="/it/" class="flag-it"><span>italiano</span></a></div>
                            <div><a href="/ja/" class="flag-ja"><span>日本語</span></a></div>
                            <div><a href="/ko/" class="flag-ko"><span>한국어</span></a></div>
                            <div><a href="/pl/" class="flag-pl"><span>polski</span></a></div>
                            <div><a href="/pt_br/" class="flag-pt_BR"><span>português</span></a></div>
                            <div><a href="/ru/" class="flag-ru"><span>русский</span></a></div>
                            <div><a href="/th/" class="flag-th"><span>ไทย</span></a></div>
                            <div><a href="/tr/" class="flag-tr"><span>Türkçe</span></a></div>
                            <div><a href="/zh_cn/" class="flag-zh_CN"><span>中文</span></a></div>
                        </div>
                    </div>
                </section>
            </amp-accordion>
        </div>
    </form>
    <button class="-amp-screen-reader" tabindex="-1">Close the sidebar</button>

    <header class="header">
        <div class="nav-container">
            <div class="left-nav alt">
                <a href="/" class="tab header-title"><span></span></a>

                <div class="tabs">
                    <div class="tab">
                        <a href="/learn/overview/">About</a>
                        <div class="list-container">
                            <div class="list-shadow"></div>
                            <ul>
                                <li>
                                    <a href="/learn/overview/">What is AMP?</a>
                                </li>
                                <li>
                                    <a href="/learn/about-how/">How AMP Works</a>
                                </li>
                                <li>
                                    <a href="/learn/amp-design-principles/">Design Principles</a>
                                </li>
                                <li class="has-sublist">
                                    <a href="/learn/who-uses-amp/">Who is AMP for?</a>
                                    <ul class="sublist">
                                        <li>
                                            <a href="/learn/who-uses-amp/publishers/">AMP for Publishers</a>
                                        </li>
                                        <li>
                                            <a href="/learn/who-uses-amp/ad-tech-platforms/">AMP for Ad Tech Platforms</a>
                                        </li>
                                        <li>
                                            <a href="/learn/who-uses-amp/advertisers/">AMP for Advertisers</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sublist">
                                    <a href="/case-studies/">Case Studies</a>
                                    <ul class="sublist">
                                        <li>
                                            <a href="/case-studies/washingtonpost/">Washington Post</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/gizmodo/">Gizmodo</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/wired/">Wired</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/slate/">Slate</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/plista/">plista</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/relay_media/">Relay Media</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/teads/">Teads</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/hearst/">Hearst</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/milestone/">Milestone</a>
                                        </li>
                                        <li>
                                            <a href="/case-studies/terra/">Terra</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab">
                        <a href="/docs/get_started/create.html">Docs</a>
                        <div class="list-container">
                            <div class="list-shadow"></div>
                            <ul>
                                <li>
                                    <a href="/docs/get_started/create.html">Getting started</a>
                                </li>
                                <li class="has-sublist">
                                    <a href="/docs/get_started/create.html">Tutorials</a>
                                    <ul class="sublist">
                                        <li>
                                            <a href="/docs/get_started/create.html">Create Your First AMP Page</a>
                                        </li>
                                        <li>
                                            <a href="/docs/get_started/login_requiring.html">Create a login-requiring AMP page</a>
                                        </li>
                                        <li>
                                            <a href="/docs/get_started/live_blog.html">Create a Live Blog</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sublist">
                                    <a href="/docs/guides/author-develop/responsive_amp.html">Guides</a>
                                    <ul class="sublist">
                                        <li>
                                            <a href="/docs/guides/author-develop/responsive_amp.html">Author / Develop</a>
                                        </li>
                                        <li>
                                            <a href="/docs/guides/debug/validate.html">Debug</a>
                                        </li>
                                        <li>
                                            <a href="/docs/guides/deploy/analytics_amp.html">Deploy</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sublist">
                                    <a href="/docs/reference/components.html">Reference</a>
                                    <ul class="sublist">
                                        <li>
                                            <a href="/docs/reference/components.html">Components / Tags</a>
                                        </li>
                                        <li>
                                            <a href="/docs/reference/spec.html">AMP HTML Specification</a>
                                        </li>
                                        <li>
                                            <a href="/docs/reference/common_attributes.html">Common Attributes</a>
                                        </li>
                                        <li>
                                            <a href="/docs/reference/experimental.html">Experimental features</a>
                                        </li>
                                        <li>
                                            <a href="/docs/reference/validation_errors.html">AMP Validation Errors</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="external">
                                    <a href="https://ampbyexample.com/" target="_blank">Examples</a>
                                </li>
                                <li class="has-sublist">
                                    <a href="/contribute/">Contribute</a>
                                    <ul class="sublist">
                                        <li>
                                            <a href="/contribute/">How to Contribute</a>
                                        </li>
                                        <li class="external">
                                            <a href="https://github.com/ampproject/amphtml/issues/new" target="_blank">File a bug</a>
                                        </li>
                                        <li class="external">
                                            <a href="https://github.com/ampproject/amphtml" target="_blank">GitHub</a>
                                        </li>
                                        <li>
                                            <a href="/docs/contribute/governance/">Open Source Governance</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab">
                        <a href="/latest/">The Latest</a>
                        <div class="list-container">
                            <div class="list-shadow"></div>
                            <ul>
                                <li>
                                    <a href="/latest/">What's New</a>
                                </li>
                                <li>
                                    <a href="/latest/blog">News</a>
                                </li>
                                <li>
                                    <a href="/latest/event/">Events</a>
                                </li>
                                <li>
                                    <a href="/roadmap/">Roadmap</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab">
                        <a href="/support/">Support</a>
                        <div class="list-container">
                            <div class="list-shadow"></div>
                            <ul>
                                <li class="has-sublist">
                                    <a href="/support/faqs/">FAQs</a>
                                    <ul class="sublist">
                                        <li>
                                            <a href="/support/faqs/overview.html">AMP Overview</a>
                                        </li>
                                        <li>
                                            <a href="/support/faqs/platform-involvement.html">Platform and Technology Company Involvement</a>
                                        </li>
                                        <li>
                                            <a href="/support/faqs/publisher-monetization.html">Publisher Monetization</a>
                                        </li>
                                        <li>
                                            <a href="/support/faqs/supported-platforms.html">Supported Platforms, Vendors and Partners</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sublist">
                                    <a href="/support/developer/">Developer Support</a>
                                    <ul class="sublist">
                                        <li class="external">
                                            <a href="https://stackoverflow.com/questions/tagged/amp-html" target="_blank">Stack Overflow Community</a>
                                        </li>
                                        <li class="external">
                                            <a href="https://groups.google.com/forum/#!forum/amphtml-discuss" target="_blank">Support Forum</a>
                                        </li>
                                        <li class="external">
                                            <a href="https://docs.google.com/a/google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=4406980310789882877" target="_blank">Slack Channel</a>
                                        </li>
                                        <li class="external">
                                            <a href="https://github.com/ampproject/amphtml/issues/new" target="_blank">Report a platform bug on Github</a>
                                        </li>
                                        <li class="external">
                                            <a href="https://github.com/ampproject/docs/issues/new" target="_blank">Report a documentation bug on Github</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/static/img/brand-guidelines.pdf">Brand Guidelines</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right alt">
                <form action="//www.google.com/search" method="get" class="searchbar -amp-form" target="_top" novalidate="">
                    <input class="query" name="q" type="text">
                    <input name="as_sitesearch" value="www.ampproject.org" type="hidden">
                    <button name="search" type="submit"></button>
                </form>
                <div class="language desktop">
                    <amp-accordion class="i-amphtml-element i-amphtml-layout-container" role="tablist">
                        <section>
                            <h6 class="current -amp-accordion-header" role="tab" aria-controls="_AMP_content_0" aria-expanded="false">
                          <a class="flag-en"><span>English</span></a>
                        </h6>
                            <div class="others -amp-accordion-content" role="tabpanel" id="_AMP_content_0">
                                <div class="others-inner">
                                    <div><a href="/ar/" class="flag-ar"><span>العربية</span></a></div>
                                    <div><a href="/de/" class="flag-de"><span>Deutsch</span></a></div>
                                    <div><a href="/es/" class="flag-es"><span>español</span></a></div>
                                    <div><a href="/fr/" class="flag-fr"><span>français</span></a></div>
                                    <div><a href="/id/" class="flag-id"><span>Indonesia</span></a></div>
                                    <div><a href="/it/" class="flag-it"><span>italiano</span></a></div>
                                    <div><a href="/ja/" class="flag-ja"><span>日本語</span></a></div>
                                    <div><a href="/ko/" class="flag-ko"><span>한국어</span></a></div>
                                    <div><a href="/pl/" class="flag-pl"><span>polski</span></a></div>
                                    <div><a href="/pt_br/" class="flag-pt_BR"><span>português</span></a></div>
                                    <div><a href="/ru/" class="flag-ru"><span>русский</span></a></div>
                                    <div><a href="/th/" class="flag-th"><span>ไทย</span></a></div>
                                    <div><a href="/tr/" class="flag-tr"><span>Türkçe</span></a></div>
                                    <div><a href="/zh_cn/" class="flag-zh_CN"><span>中文</span></a></div>
                                </div>
                            </div>
                        </section>
                    </amp-accordion>
                </div>
                <button class="tab hamburger" id="menu-button" on="tap:sidebar.toggle"></button>
            </div>
        </div>
        </header
