<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick_Installation/AMP_Gallery/">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Quick_Installation/DEV/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="blade blade--contributors">
            <div class="container">

                <div>
                    <h1>What contributors are saying</h1>
                </div>

                <amp-carousel class="desktop-up" height="500" layout="flex-item" type="slides">

                    <div class="boxes">
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “This is a project of real ambition. It seeks simultaneously to create a great user experience, to give more autonomy to publishers to deliver that and to develop effective advertising for the mobile web. Achieving these in tandem will be vital to
                                    building a more sustainable ecosystem where great journalism can flourish. We are keen to see it succeed.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Tony Danker"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Tony Danker</h5>
                                        <div class="box__subtitle">Chief Strategy Officer, Guardian News &amp; Media</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “Speed has always been a cornerstone of Google Search and we're thrilled to be working alongside others in the tech industry and publishers around the world to bring the Accelerated Mobile Pages Project to life. An open content ecosystem will give
                                    publishers maximum reach and allow users to get the best content no matter which app they are using. AMP HTML will make it all blazing fast, so we can't wait to use it!”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="David Besbris"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">David Besbris</h5>
                                        <div class="box__subtitle">VP Engineering, Google Search</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="boxes">
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “At Vox Media, we want our users to have the best experience possible on whatever device or platform they choose, and we have always believed in benefiting and contributing to open web projects. We’re proud to partner with other media and technology
                                    companies to create a standardized approach to web publishing that allows our mobile users the most consistent, fast, accessible, and high-quality experience possible.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Melissa Bell"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Melissa Bell</h5>
                                        <div class="box__subtitle">VP, Growth and Analytics, Vox Media and co-founder of Vox.com</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “Speed is a key part of delivering great mobile experiences for Hearst’s premium content — this initiative is a way to improve the mobile experience for users while allowing publishers the flexibility to design the experience and the product in a way
                                    that supports its business requirements for data, analytics and monetization.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Phil Wiser"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Phil Wiser</h5>
                                        <div class="box__subtitle">CTO, Hearst</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="boxes">
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “We are thrilled to be working alongside Google and other industry leaders to create a better mobile web experience inside of all apps, by partnering with publishers, we are helping them achieve their goals and tell stories with Tweets.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Michael Ducker"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Michael Ducker</h5>
                                        <div class="box__subtitle">Product Manager, Twitter</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “As third party mobile platforms become increasingly important, this initiative has the potential to reduce the effort required to distribute content to those platforms, deliver a better user experience and keep economic control in the hands of
                                    publishers.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Kinsey Wilson"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Kinsey Wilson</h5>
                                        <div class="box__subtitle">EVP, Product &amp; Technology, The New York Times</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="boxes">
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “On mobile devices, the display of news articles listed by Google shall improve significantly. That’s one of the first results of the Digital News Initiative instigated by Google and eight European publishing companies. We expect this project to
                                    considerably boost usage of our mobile pages. We will carefully watch how the initiative can contribute toward increasing advertising revenues. The key will be to improve the publishing business in the context of the digital world.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Mathias Müller von Blumencron"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Mathias Müller von Blumencron</h5>
                                        <div class="box__subtitle">Editor in Chief, FAZ.NET</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “The mobile open web experience is terrible and some have suggested it's too slow to compete. We can choose to see the mobile open web as a relic of its time and flee to the warm embrace of closed platforms and apps. Or we can say that the open web
                                    means something important to the world and if it’s broken it’s our job to fix it. I think we should fix it. That’s why Chartbeat is proud to be a part of the Accelerated Mobile Pages Project. It’s our attempt to fix the mobile experience, make it
                                    fast and beautiful, and ensure the future of an open web.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Tony Haile"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Tony Haile</h5>
                                        <div class="box__subtitle">CEO, Chartbeat</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="boxes">
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “Once we used to talk about digital first, or mobile first. This was the past. Today legacy media need to bring their journalism outside their websites, on the platforms and on the devices where people are. La Stampa is almost 150 years old. We
                                    believe in quality and trust. Combining them with a great user experience will make our journalism thrive for the next 150 years. This is why we are part of the project.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Mario Calabresi"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Mario Calabresi</h5>
                                        <div class="box__subtitle">Editor in Chief, La Stampa</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="box">

                            <div class="box__inner">

                                <div class="box__content">
                                    “We welcome this project because it accelerates the consumption of mobile content and preserves the business model that finances quality journalism.”
                                </div>

                                <div class="box__footer">
                                    <div class="box__image">
                                        <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Antonio Manuel Teixeira Mendes"></amp-img>
                                    </div>
                                    <div class="box__credit">
                                        <h5 class="box__title">Antonio Manuel Teixeira Mendes</h5>
                                        <div class="box__subtitle">Director-Superintendent, Folha de S.Paulo</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </amp-carousel>

                <amp-carousel class="single mobile-down" width="400" height="550" type="slides" layout="flex-item">
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “This is a project of real ambition. It seeks simultaneously to create a great user experience, to give more autonomy to publishers to deliver that and to develop effective advertising for the mobile web. Achieving these in tandem will be vital to
                                building a more sustainable ecosystem where great journalism can flourish. We are keen to see it succeed.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Tony Danker"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Tony Danker</h5>
                                    <div class="box__subtitle">Chief Strategy Officer, Guardian News &amp; Media</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “Speed has always been a cornerstone of Google Search and we're thrilled to be working alongside others in the tech industry and publishers around the world to bring the Accelerated Mobile Pages Project to life. An open content ecosystem will give
                                publishers maximum reach and allow users to get the best content no matter which app they are using. AMP HTML will make it all blazing fast, so we can't wait to use it!”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="David Besbris"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">David Besbris</h5>
                                    <div class="box__subtitle">VP Engineering, Google Search</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “At Vox Media, we want our users to have the best experience possible on whatever device or platform they choose, and we have always believed in benefiting and contributing to open web projects. We’re proud to partner with other media and technology
                                companies to create a standardized approach to web publishing that allows our mobile users the most consistent, fast, accessible, and high-quality experience possible.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Melissa Bell"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Melissa Bell</h5>
                                    <div class="box__subtitle">VP, Growth and Analytics, Vox Media and co-founder of Vox.com</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “Speed is a key part of delivering great mobile experiences for Hearst’s premium content — this initiative is a way to improve the mobile experience for users while allowing publishers the flexibility to design the experience and the product in a way
                                that supports its business requirements for data, analytics and monetization.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Phil Wiser"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Phil Wiser</h5>
                                    <div class="box__subtitle">CTO, Hearst</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “We are thrilled to be working alongside Google and other industry leaders to create a better mobile web experience inside of all apps, by partnering with publishers, we are helping them achieve their goals and tell stories with Tweets.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Michael Ducker"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Michael Ducker</h5>
                                    <div class="box__subtitle">Product Manager, Twitter</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “As third party mobile platforms become increasingly important, this initiative has the potential to reduce the effort required to distribute content to those platforms, deliver a better user experience and keep economic control in the hands of
                                publishers.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Kinsey Wilson"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Kinsey Wilson</h5>
                                    <div class="box__subtitle">EVP, Product &amp; Technology, The New York Times</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “On mobile devices, the display of news articles listed by Google shall improve significantly. That’s one of the first results of the Digital News Initiative instigated by Google and eight European publishing companies. We expect this project to
                                considerably boost usage of our mobile pages. We will carefully watch how the initiative can contribute toward increasing advertising revenues. The key will be to improve the publishing business in the context of the digital world.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Mathias Müller von Blumencron"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Mathias Müller von Blumencron</h5>
                                    <div class="box__subtitle">Editor in Chief, FAZ.NET</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “The mobile open web experience is terrible and some have suggested it's too slow to compete. We can choose to see the mobile open web as a relic of its time and flee to the warm embrace of closed platforms and apps. Or we can say that the open web
                                means something important to the world and if it’s broken it’s our job to fix it. I think we should fix it. That’s why Chartbeat is proud to be a part of the Accelerated Mobile Pages Project. It’s our attempt to fix the mobile experience, make it
                                fast and beautiful, and ensure the future of an open web.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Tony Haile"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Tony Haile</h5>
                                    <div class="box__subtitle">CEO, Chartbeat</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “Once we used to talk about digital first, or mobile first. This was the past. Today legacy media need to bring their journalism outside their websites, on the platforms and on the devices where people are. La Stampa is almost 150 years old. We
                                believe in quality and trust. Combining them with a great user experience will make our journalism thrive for the next 150 years. This is why we are part of the project.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Mario Calabresi"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Mario Calabresi</h5>
                                    <div class="box__subtitle">Editor in Chief, La Stampa</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box">

                        <div class="box__inner">

                            <div class="box__content">
                                “We welcome this project because it accelerates the consumption of mobile content and preserves the business model that finances quality journalism.”
                            </div>

                            <div class="box__footer">
                                <div class="box__image">
                                    <amp-img src="/amp/twitter.jpg" width="90" height="90" noloading alt="Antonio Manuel Teixeira Mendes"></amp-img>
                                </div>
                                <div class="box__credit">
                                    <h5 class="box__title">Antonio Manuel Teixeira Mendes</h5>
                                    <div class="box__subtitle">Director-Superintendent, Folha de S.Paulo</div>
                                </div>
                            </div>

                        </div>

                    </div>
                </amp-carousel>

            </div>
        </section>

        <footer>
          <div class="card-container desktop-up bevel">
           <div class="footer-all">

             <div class="footer-card card-view">
                 <div class="footer-card-content">
                     <p class="footer-heading">INFORMATION</p><hr>
                     <p><a class="footer-link" href="http://www.instar.de/downloads/">DOWNLOADS</a></p>
                     <p><a class="footer-link" href="http://forum.instar.de/">CUSTOMER FORUM</a></p>
                     <p><a class="footer-link" href="http://www.instar.de/faq/">FREQUENTLY ASKED QUESTIONS</a></p>
                 </div>
             </div>

              <div class="footer-card card-view">
                  <div class="footer-card-content">
                      <p class="footer-heading">LEGAL</p><hr>
                      <p><a class="footer-link" href="http://www.instar.de/shipping">INTERNATIONAL SHIPPING</a></p>
                      <p><a class="footer-link" href="http://www.instar.de/impressum">LEGAL NOTICE</a></p>
                      <p><a class="footer-link" href="http://www.instar.de/agb">TERMS &amp; CONDITIONS</a></p>
                      <p><a class="footer-link" href="http://www.instar.de/affiliates">AFFILIATES &amp; RESELLERS</a></p>
                  </div>
              </div>

              <div class="footer-card card-view">
                  <div class="footer-card-content">
                      <p class="footer-heading" class="card__title">CONTACT</h></p><hr>
                      <p><a class="footer-link" href="#">RAIFFEISENSTRASSE 12</a></p>
                      <p><a class="footer-link" href="#">65510 HÜNSTETTEN</a></p>
                      <p><a class="footer-link" href="#">GERMANY</a></p>
                      <p><a class="footer-link" href="#">TEL: +49 (6438) 9198992</a></p>
                  </div>
              </div>

              <div class="footer-card card-view">
                  <div class="footer-card-content">
                      <p class="footer-heading" class="card__title">APPS</h></p><hr>
                      <p>
                        <a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8" target="_blank"><amp-img src="/images/appstore_iphone_white.png" width="86" height="31" class="footer-image"></amp-img></a>
                        <a href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de" target="_blank"><amp-img src="/images/appstore_android_white.png" width="86" height="31" class="footer-image"></amp-img>
                      </p>
                      <p>
                        <a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank"><amp-img src="/images/appstore_windows_white.png" width="86" height="31" class="footer-image"></amp-img></a>
                        <a href="https://appworld.blackberry.com/webstore/content/59960469/?countrycode=US&lang=en" target="_blank"><amp-img src="/images/appstore_blackberry_white.png" width="86" height="31" class="footer-image"></amp-img></a>
                      </p>
                  </div>
              </div>

            </div>
          </div>

        </footer>
    </body>
</html>
