<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">

    <title>INSTAR Wiki - The IP Camera Knowledgebase</title>
    <link rel="shortcut icon" href="/teststatic/amp_favicon.png">
    <link rel="canonical" href="/Test/ampHome/">

    <link rel="manifest" href="/teststatic/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="120x120" href="/teststatic/icons/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/teststatic/icons/152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/teststatic/icons/180.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

    <style amp-custom>
        <% include ./_ampCustom.css %>
    </style>

    <style amp-boilerplate>
        <% include ./_amp-boilerplate.css %>
    </style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>

<body class="home">

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ./_ampSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">

        <div class="container">
            <div class="nav-container">
                <div class="left-nav alt">
                    <a href="/" class="tab header-title"><span></span></a>
                    <% include ./_ampNavTabs.ejs %>
                </div>
                <div class="right alt">
                    <form action="https://46.4.116.112/Search/Results" method="get" class="searchbar" target="_blank">
                        <input class="query" name="q" type="text">
                        <button type="submit"></button>
                    </form>
                    <div class="language desktop">
                        <amp-accordion>
                            <section>
                                <h6 class="current">
                                  <a class="flag-en"><span>English&nbsp;</span></a>
                                </h6>
                                <div class="others">
                                    <div class="others-inner">
                                        <div><a href="#" class="flag-de"><span>Deutsch</span></a></div>
                                        <div><a href="#" class="flag-fr"><span>Français</span></a></div>
                                        <div><a href="#" class="flag-zh_CN"><span>中文</span></a></div>
                                    </div>
                                </div>
                            </section>
                        </amp-accordion>
                    </div> <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
                </div>
            </div>
        </div>
    </header>

    <div class="wrap">
        <div class="content">

          <!-- ########################## Hero ############################### -->

            <section class="hero">
                <div class="container">
                    <div class="hero-image">

                        <div class="lines tablet-up">
                            <div class="blueTriangle">
                                <amp-img noloading height=900 src="/teststatic/blueTriangle.png">
                                </amp-img>
                            </div>
                        </div>
                        <!-- /lines -->

                        <div class="phone tablet-up">
                            <amp-img noloading height=1423 width=1200 layout=responsive
                                srcset="/teststatic/home_hero_phone.png 750w,
                                /teststatic/home_hero_phone@1_5x.png 600w,
                                /teststatic/home_hero_phone@1x.png 400w"
                                src="/teststatic/home_hero_phone.png">
                            </amp-img>
                        </div>
                        <!-- /phone -->

                    </div>
                    <!-- /hero image -->

                    <div class="hero-content">
                        <div class="intro-container">
                            <h1>INSTAR Wiki 2.0</h1>
                            <h4>Knowledgebase for IP Cameras and Surveillance Networks</h4>
                            <p class="intro">
                              This Database is maintained by INSTAR Germany GmbH and aims to guide you through the process of installing IP cameras and network surveillance Hardware and Software. Use the Wiki Search function to find answers to your questions. Or visit our customer Forum to exchange your experiences with like-minded INSTAR customers.
                            </p>
                            <a class="button" href="https://forum.instar.de" target="_blank">Customer Forum</a>
                            <br class="tablet-down">
                            <span class="cta_connector light">or</span>
                            <a class="underlined cta" href="https://instar.de" target="_blank">Visit our Shop</a>
                        </div>
                        <!-- /intro container -->

                    </div>
                    <!-- /hero content-->

                </div>
                <!-- /container -->
            </section>
            <!-- /hero -->

            <!-- ########################## TOC ############################### -->

            <section class="introductions desktop-up">
                <h2>Table of Content</h2>
                <div class="introductions-row">

                    <div class="introduction">
                        <div class="introduction-image">
                            <amp-img noloading height=103 width=56 layout=responsive src="/teststatic/home_icon_performance.svg">
                            </amp-img>
                        </div>
                        <div class="introduction-content">
                            <h3 class="title">Product Documentation</h3>
                            <div class="desc">The product section of this database contains detailed product descriptions, technical specifications, usermanuals, quick installation guides as well as software downloads.</div>
                        </div>
                    </div>

                    <div class="introduction">
                        <div class="introduction-image">
                            <amp-img noloading height=92 width=77 layout=responsive src="/teststatic/home_icon_flexibility.svg">
                            </amp-img>
                        </div>
                        <div class="introduction-content">
                            <h3 class="title">Setup Guides</h3>
                            <div class="desc">Setting up an IP camera can be a daunting task. Our wiki offers an easy to follow step by step instruction for each part of the installation.</div>
                        </div>
                    </div>

                    <div class="introduction">
                        <div class="introduction-image">
                            <amp-img noloading height=92 width=77 layout=responsive src="/teststatic/home_icon_flexibility.svg">
                            </amp-img>
                        </div>
                        <div class="introduction-content">
                            <h3 class="title">For Developers</h3>
                            <div class="desc">Do you want to take your IP camera to the next step? Embedd your camera image into your website or programm your home automation to control your camera.</div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- ########################## InstarVision ############################### -->

            <section class="large-cta">
                <h1>InstarVision Surveillance Solution</h1>
                <p>INSTAR offers a solution for every sureveillance task and supports a variety of third-party solutions.</p>
                <a href="/Software/Windows/" class="button light"><span>Windows</span></a>
                <a href="/Software/macOS/" class="button light"><span>macOS</span></a>
                <a href="/Software/Android/" class="button light"><span>Android</span></a>
                <a href="/Software/iOS/" class="button light"><span>iOS</span></a>
            </section>

            <!-- ########################## Quick Installation I ############################### -->

            <section class="tile-wall">
                <h1>Quick Installation</h1>
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <amp-carousel class="success-carousel desktop-up" height="400" layout="flex-item" type="slides">

                                <div class="card-container">
                                    <a class="card centered tile" href="/Quick_Installation/">
                                        <div class="card-inner">
                                            <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-Overview.jpg">
                                            </amp-img>
                                        </div>
                                    </a>
                                    <a class="card centered tile" href="/Quick_Installation/First_Steps/">
                                        <div class="card-inner">
                                            <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-First_Steps.jpg">
                                            </amp-img>
                                        </div>
                                    </a>
                                    <a class="card centered tile" href="/Quick_Installation/Direct_Connection/">
                                        <div class="card-inner">
                                            <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-Direct_Connection.jpg">
                                            </amp-img>
                                        </div>
                                    </a>
                                </div>
                            </amp-carousel>

                            <amp-carousel class="success-carousel mobile-down" height="400" layout="flex-item" type="slides">

                                <div class="card-container">
                                  <div class="card centered tile">
                                      <div class="card-inner">
                                        <a href="/Quick_Installation/">
                                          <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-Overview.jpg">
                                          </amp-img>
                                        </a>
                                      </div>
                                  </div>
                                </div>
                                <!-- /card-container -->
                                <div class="card-container">
                                  <div class="card centered tile">
                                      <div class="card-inner">
                                        <a href="/Quick_Installation/First_Steps/">
                                          <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-First_Steps.jpg">
                                          </amp-img>
                                        </a>
                                      </div>
                                  </div>
                                </div>
                                <!-- /card-container -->
                                <div class="card-container">
                                  <div class="card centered tile">
                                      <div class="card-inner">
                                        <a href="/Quick_Installation/Direct_Connection/">
                                          <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-Direct_Connection.jpg">
                                          </amp-img>
                                        </a>
                                      </div>
                                  </div>
                                </div>
                                <!-- /card-container -->

                            </amp-carousel>
                        </div>
                        <!-- /twelve columns -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </section>
            <!-- /Quick Installation I -->

            <!-- ########################## Quick Installation II ############################### -->

            <section class="tile-wall">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <amp-carousel class="success-carousel desktop-up" height="400" layout="flex-item" type="slides">

                                <div class="card-container">
                                    <a class="card centered tile" href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">
                                        <div class="card-inner">
                                            <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-WebUI_And_Firmware_Upgrade.jpg">
                                            </amp-img>
                                        </div>
                                    </a>
                                    <a class="card centered tile" href="/Quick_Installation/Creating_User_Accounts/">
                                        <div class="card-inner">
                                            <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-Creating_User_Accounts.jpg">
                                            </amp-img>
                                        </div>
                                    </a>
                                    <a class="card centered tile" href="/Quick_Installation/Set_Up_A_Wireless_Connection/">
                                        <div class="card-inner">
                                            <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Wiki_Tiles_QI-Wireless_Connection.jpg">
                                            </amp-img>
                                        </div>
                                    </a>
                                </div>
                            </amp-carousel>

                        </div>
                        <!-- /twelve columns -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </section>
            <!-- /Quick Installation II -->

            <section class="large-cta orange">
                <h1>The Web User Interface</h1>
                <a href="/Web_User_Interface/1080p_Series/" class="button"><span>1080p Series</span></a>
                <a href="/Web_User_Interface/720p_Series/" class="button"><span>720p Series</span></a>
                <a href="/Web_User_Interface/1080p_Series/Overview/" class="button"><span>VGA Series</span></a>
            </section>

            <footer class="twelve columns">
                <% include ../_partials/amp/_amp-footer.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
