<!DOCTYPE html>
<html ⚡ lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">

    <title>INSTAR Wiki - The IP Camera Knowledgebase</title>
    <link rel="shortcut icon" href="/teststatic/amp_favicon.png">
    <link rel="canonical" href="/Test/ampHome/">

    <link rel="manifest" href="/teststatic/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="120x120" href="/teststatic/icons/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/teststatic/icons/152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/teststatic/icons/180.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

    <style amp-custom>
        <% include ./_ampCustom.css %>
    </style>

    <style amp-boilerplate>
        <% include ./_amp-boilerplate.css %>
    </style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>

<body class="home">

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ./_ampSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">

        <div class="container">
            <div class="nav-container">
                <div class="left-nav alt">
                    <a href="/" class="tab header-title"><span></span></a>

                    <div class="tabs">
                        <div class="tab">
                            <a href="/learn/overview/">About</a>
                            <div class="list-container">
                                <div class="list-shadow"></div>
                                <ul>
                                    <li>
                                        <a href="/learn/overview/">What is AMP?</a>
                                    </li>
                                    <li>
                                        <a href="/learn/about-how/">How AMP Works</a>
                                    </li>
                                    <li>
                                        <a href="/learn/amp-design-principles/">Design Principles</a>
                                    </li>
                                    <li class="has-sublist">
                                        <a href="/learn/who-uses-amp/">Who is AMP for?</a>
                                        <ul class="sublist">
                                            <li>
                                                <a href="/learn/who-uses-amp/publishers/">AMP for Publishers</a>
                                            </li>
                                            <li>
                                                <a href="/learn/who-uses-amp/ad-tech-platforms/">AMP for Ad Tech Platforms</a>
                                            </li>
                                            <li>
                                                <a href="/learn/who-uses-amp/advertisers/">AMP for Advertisers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sublist">
                                        <a href="/case-studies/">Case Studies</a>
                                        <ul class="sublist">
                                            <li>
                                                <a href="/case-studies/washingtonpost/">Washington Post</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/gizmodo/">Gizmodo</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/wired/">Wired</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/slate/">Slate</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/plista/">plista</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/relay_media/">Relay Media</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/teads/">Teads</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/hearst/">Hearst</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/milestone/">Milestone</a>
                                            </li>
                                            <li>
                                                <a href="/case-studies/terra/">Terra</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab">
                            <a href="/docs/get_started/create.html">Docs</a>
                            <div class="list-container">
                                <div class="list-shadow"></div>
                                <ul>
                                    <li>
                                        <a href="/docs/get_started/create.html">Getting started</a>
                                    </li>
                                    <li class="has-sublist">
                                        <a href="/docs/get_started/create.html">Tutorials</a>
                                        <ul class="sublist">
                                            <li>
                                                <a href="/docs/get_started/create.html">Create Your First AMP Page</a>
                                            </li>
                                            <li>
                                                <a href="/docs/get_started/login_requiring.html">Create a login-requiring AMP page</a>
                                            </li>
                                            <li>
                                                <a href="/docs/get_started/live_blog.html">Create a Live Blog</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sublist">
                                        <a href="/docs/guides/author-develop/responsive_amp.html">Guides</a>
                                        <ul class="sublist">
                                            <li>
                                                <a href="/docs/guides/author-develop/responsive_amp.html">Author / Develop</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guides/debug/validate.html">Debug</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guides/deploy/analytics_amp.html">Deploy</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sublist">
                                        <a href="/docs/reference/components.html">Reference</a>
                                        <ul class="sublist">
                                            <li>
                                                <a href="/docs/reference/components.html">Components / Tags</a>
                                            </li>
                                            <li>
                                                <a href="/docs/reference/spec.html">AMP HTML Specification</a>
                                            </li>
                                            <li>
                                                <a href="/docs/reference/common_attributes.html">Common Attributes</a>
                                            </li>
                                            <li>
                                                <a href="/docs/reference/experimental.html">Experimental features</a>
                                            </li>
                                            <li>
                                                <a href="/docs/reference/validation_errors.html">AMP Validation Errors</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="external">
                                        <a href="https://ampbyexample.com/" target="_blank">Examples</a>
                                    </li>
                                    <li class="has-sublist">
                                        <a href="/contribute/">Contribute</a>
                                        <ul class="sublist">
                                            <li>
                                                <a href="/contribute/">How to Contribute</a>
                                            </li>
                                            <li class="external">
                                                <a href="https://github.com/ampproject/amphtml/issues/new" target="_blank">File a bug</a>
                                            </li>
                                            <li class="external">
                                                <a href="https://github.com/ampproject/amphtml" target="_blank">GitHub</a>
                                            </li>
                                            <li>
                                                <a href="/docs/contribute/governance/">Open Source Governance</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab">
                            <a href="/latest/">The Latest</a>
                            <div class="list-container">
                                <div class="list-shadow"></div>
                                <ul>
                                    <li>
                                        <a href="/latest/">What's New</a>
                                    </li>
                                    <li>
                                        <a href="/latest/blog">News</a>
                                    </li>
                                    <li>
                                        <a href="/latest/event/">Events</a>
                                    </li>
                                    <li>
                                        <a href="/roadmap/">Roadmap</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab">
                            <a href="/support/">Support</a>
                            <div class="list-container">
                                <div class="list-shadow"></div>
                                <ul>
                                    <li class="has-sublist">
                                        <a href="/support/faqs/">FAQs</a>
                                        <ul class="sublist">
                                            <li>
                                                <a href="/support/faqs/overview.html">AMP Overview</a>
                                            </li>
                                            <li>
                                                <a href="/support/faqs/platform-involvement.html">Platform and Technology Company Involvement</a>
                                            </li>
                                            <li>
                                                <a href="/support/faqs/publisher-monetization.html">Publisher Monetization</a>
                                            </li>
                                            <li>
                                                <a href="/support/faqs/supported-platforms.html">Supported Platforms, Vendors and Partners</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sublist">
                                        <a href="/support/developer/">Developer Support</a>
                                        <ul class="sublist">
                                            <li class="external">
                                                <a href="https://stackoverflow.com/questions/tagged/amp-html" target="_blank">Stack Overflow Community</a>
                                            </li>
                                            <li class="external">
                                                <a href="https://groups.google.com/forum/#!forum/amphtml-discuss" target="_blank">Support Forum</a>
                                            </li>
                                            <li class="external">
                                                <a href="https://docs.google.com/a/google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=4406980310789882877" target="_blank">Slack Channel</a>
                                            </li>
                                            <li class="external">
                                                <a href="https://github.com/ampproject/amphtml/issues/new" target="_blank">Report a platform bug on GitHub</a>
                                            </li>
                                            <li class="external">
                                                <a href="https://github.com/ampproject/docs/issues/new" target="_blank">Report a documentation bug on GitHub</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/teststatic/brand-guidelines.pdf">Brand Guidelines</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right alt">
                    <form action="//www.google.com/search" method="get" class="searchbar" target="_top">
                        <input class="query" name="q" type="text">
                        <input name="as_sitesearch" type="hidden" value="www.ampproject.org">
                        <button name="search" type="submit"></button>
                    </form>
                    <div class="language desktop">
                        <amp-accordion>
                            <section>
                                <h6 class="current">
        <a class="flag-en"><span>English</span></a>
      </h6>
                                <div class="others">
                                    <div class="others-inner">
                                        <div><a href="#" class="flag-de"><span>Deutsch</span></a></div>
                                        <div><a href="#" class="flag-fr"><span>Français</span></a></div>
                                        <div><a href="#" class="flag-zh_CN"><span>中文</span></a></div>
                                    </div>
                                </div>
                            </section>
                        </amp-accordion>
                    </div> <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
                </div>
            </div>
        </div>
    </header>

    <div class="wrap">
        <div class="content">


            <section class="hero">
                <div class="container">
                    <div class="hero-image">
                        <div class="lines">
                            <div class="animated-lines-big">
                                <amp-img noloading height=224 src="/teststatic/amp-lines-motions.png">
                                </amp-img>
                                <div class="line-pos pos-306-75-delay--1050">
                                    <div class="line line-a"></div>
                                </div>
                                <div class="line-pos pos-155-101-delay--5100">
                                    <div class="line line-b"></div>
                                </div>
                                <div class="line-pos pos-282-62-delay--5090">
                                    <div class="line line-c"></div>
                                </div>
                                <div class="line-pos pos-255-559-delay--4150">
                                    <div class="line line-d"></div>
                                </div>
                                <div class="line-pos pos-318-0-delay--4120">
                                    <div class="line line-a"></div>
                                </div>
                                <div class="line-pos pos-297-268-delay--4050">
                                    <div class="line line-e"></div>
                                </div>
                                <div class="line-pos pos-353-107-delay--3160">
                                    <div class="line line-f"></div>
                                </div>
                                <div class="line-pos pos-74-0-delay--3150">
                                    <div class="line line-a"></div>
                                </div>
                                <div class="line-pos pos-257-312-delay--3120">
                                    <div class="line line-d"></div>
                                </div>
                                <div class="line-pos pos-207-435-delay--3090">
                                    <div class="line line-g"></div>
                                </div>
                                <div class="line-pos pos-294-244-delay--2150">
                                    <div class="line line-e"></div>
                                </div>
                                <div class="line-pos pos-251-401-delay--2120">
                                    <div class="line line-g"></div>
                                </div>
                                <div class="line-pos pos-52-69-delay--2100">
                                    <div class="line line-c"></div>
                                </div>
                                <div class="line-pos pos-203-164-delay--1940">
                                    <div class="line line-g"></div>
                                </div>
                                <div class="line-pos pos-0-184-delay--1130">
                                    <div class="line line-b"></div>
                                </div>
                                <div class="line-pos pos-76-553-delay--1110">
                                    <div class="line line-d"></div>
                                </div>
                                <div class="line-pos pos-306-75-delay--1010">
                                    <div class="line line-a"></div>
                                </div>
                                <div class="line-pos pos-280-322-delay--950">
                                    <div class="line line-b"></div>
                                </div>
                            </div>
                        </div>

                        <div class="phone">
                            <amp-img noloading height=1423 width=1200 layout=responsive srcset="/teststatic/home_hero_phone.png 750w,
                    /teststatic/home_hero_phone@1_5x.png 600w,
                    /teststatic/home_hero_phone@1x.png 400w" src="/teststatic/home_hero_phone.png">
                                </amp-img>
                        </div>
                        <div class="latest-mobile tablet-down">
                            <h2 class="latest-label">The Latest</h2>
                            <amp-carousel class="latest-carousel" height="200" layout="flex-item" type="slides">

                                <div class="card-container">
                                    <a href="/latest/blog/amp-grows-its-footprint/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                AMP grows its footprint
                                            </div>
                                            <div class="card-date light">
                                                March 7, 2017
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-container">
                                    <a href="/latest/blog/new-industry-benchmarks-for-mobile-page-speed/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                New Industry Benchmarks for Mobile Page Speed
                                            </div>
                                            <div class="card-date light">
                                                February 28, 2017
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-container">
                                    <a href="/latest/blog/grow-your-business-with-ads-on-amp/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                Grow Your Business with Ads on AMP
                                            </div>
                                            <div class="card-date light">
                                                February 27, 2017
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-container">
                                    <a href="/latest/blog/amp-roadmap-update-for-mid-q1-2017/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                AMP Roadmap Update for Mid-Q1 2017
                                            </div>
                                            <div class="card-date light">
                                                February 18, 2017
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-container">
                                    <a href="/latest/blog/1056/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                Better galleries and forms in AMP
                                            </div>
                                            <div class="card-date light">
                                                February 15, 2017
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </amp-carousel>
                        </div>
                    </div>
                    <div class="hero-content">
                        <div class="intro-container">
                            <h1>Building the future web, together.</h1>
                            <p class="intro">The AMP Project is an open-source initiative aiming to make the web better for all. The project enables the creation of websites and ads that are consistently fast, beautiful and high-performing across devices and distribution
                                platforms.
                            </p>
                            <a class="button" href="/learn/overview/">
          Learn about AMP
        </a>
                            <br class="tablet-down">
                            <span class="cta_connector light">or</span>
                            <a class="underlined cta" href="/docs/get_started/create.html">Start Building</a>
                        </div>
                        <div class="latest tablet-up">
                            <h3 class="latest-label light">The Latest</h3>

                            <amp-carousel class="latest-carousel tablet-up" height="255" layout="flex-item" type="slides">

                                <div class="card-container">
                                    <a href="/latest/blog/amp-grows-its-footprint/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                AMP grows its footprint
                                            </div>
                                            <div class="card-date light">
                                                March 7, 2017
                                            </div>
                                        </div>
                                    </a>


                                    <a href="/latest/blog/new-industry-benchmarks-for-mobile-page-speed/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                New Industry Benchmarks for Mobile Page Speed
                                            </div>
                                            <div class="card-date light">
                                                February 28, 2017
                                            </div>
                                        </div>
                                    </a>


                                    <a href="/latest/blog/grow-your-business-with-ads-on-amp/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                Grow Your Business with Ads on AMP
                                            </div>
                                            <div class="card-date light">
                                                February 27, 2017
                                            </div>
                                        </div>
                                    </a>


                                </div>
                                <div class="card-container">
                                    <a href="/latest/blog/amp-roadmap-update-for-mid-q1-2017/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                AMP Roadmap Update for Mid-Q1 2017
                                            </div>
                                            <div class="card-date light">
                                                February 18, 2017
                                            </div>
                                        </div>
                                    </a>


                                    <a href="/latest/blog/1056/" class="card">
                                        <div class="card-inner">
                                            <div class="card-type text-label news">
                                                News
                                            </div>
                                            <div class="card-content small">
                                                Better galleries and forms in AMP
                                            </div>
                                            <div class="card-date light">
                                                February 15, 2017
                                            </div>
                                        </div>
                                    </a>

                                    <div class="card card--spacer"></div>

                                </div>
                            </amp-carousel>
                        </div>
                    </div>
                </div>
            </section>

            <section class="benefits">
                <h1>What AMP Provides</h1>
                <div class="benefits-row">
                    <div class="benefit">
                        <div class="benefit-image">
                            <amp-img noloading height=103 width=56 layout=responsive src="/teststatic/home_icon_performance.svg">
                            </amp-img>
                        </div>
                        <div class="benefit-content">
                            <h3 class="title">Higher Performance and Engagement</h3>
                            <div class="desc">Web pages and ads published in the AMP open-source format load near instantly, giving users a smooth, more engaging experience on mobile and desktop.</div>
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit-image">
                            <amp-img noloading height=92 width=77 layout=responsive src="/teststatic/home_icon_flexibility.svg">
                            </amp-img>
                        </div>
                        <div class="benefit-content">
                            <h3 class="title">Flexibility and Results</h3>
                            <div class="desc">Publishers and advertisers can decide how to present their content and what technology vendors to use, all while maintaining and improving key performance indicators.</div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="experience">
                <div class="experience-content">
                    <h1>A collaborative effort</h1>
                    <p>AMP is built thanks to a deep collaboration with thousands of developers, publishers and websites, distribution platforms and tech companies. More than 1.5B AMP pages have been published to date and 100+ leading analytics, ad tech
                        and CMS providers support the AMP format.</p>
                </div>

                <div class="experience-image">
                    <div class="bg">
                        <amp-img noloading height=2095 width=1424 layout=responsive src="/teststatic/bg_experience.png">
                        </amp-img>
                    </div>
                    <div class="lines">
                        <amp-img noloading height=956 width=781 layout=responsive src="/teststatic/lines2.svg">
                        </amp-img>
                    </div>
                    <div class="phone">
                        <amp-img noloading height=1316 width=1079 layout=responsive srcset="/teststatic/home_phone_ebay.png 1079w,
                  /teststatic/home_phone_ebay@1_5x.png 719w,
                  /teststatic/home_phone_ebay@1x.png 540w" src="/teststatic/home_phone_ebay.png">
                            </amp-img>
                    </div>
                </div>
            </section>

            <section class="success-stories">
                <h1>A path to success</h1>
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <amp-carousel class="success-carousel desktop-up" height="400" layout="flex-item" type="slides">

                                <div class="card-container">
                                    <a class="card centered wapo" href="/case-studies/washingtonpost/">
                                        <div class="card-inner">
                                            <div class="card-content">
                                                <p>“If our site takes a long time to load, it doesn’t matter how great our journalism is, some people will leave the page before they see what’s there.”</p>
                                            </div>
                                            <amp-img class="card-icon" noloading height="197" width="1280" layout=responsive src="/teststatic/wapo_logo.png">
                                            </amp-img>
                                        </div>
                                    </a>


                                    <a class="card centered wired" href="/case-studies/wired/">
                                        <div class="card-inner">
                                            <div class="card-content">
                                                <p>“We see our work on AMP as furthering the business need of providing a fast, clean user experience to our audience.”</p>
                                            </div>
                                            <amp-img class="card-icon" noloading height="263" width="1298" layout=responsive src="/teststatic/wired_logo.png">
                                            </amp-img>
                                        </div>
                                    </a>


                                    <a class="card centered teads" href="/case-studies/teads/">
                                        <div class="card-inner">
                                            <div class="card-content">
                                                <p>“Across Teads’ publisher portfolio, video ads perform significantly better on AMP pages than on the traditional mobile web.”</p>
                                            </div>
                                            <amp-img class="card-icon" noloading height="28" width="75" layout=responsive src="/teststatic/teads_logo.svg">
                                            </amp-img>
                                        </div>
                                    </a>


                                </div>
                            </amp-carousel>

                            <amp-carousel class="success-carousel mobile-down" height="400" layout="flex-item" type="slides">

                                <div class="card-container">
                                    <div class="card centered wapo">
                                        <div class="card-inner">
                                            <div class="card-content">
                                                <h2>“If our site takes a long time to load, it doesn’t matter how great our journalism is, some people will leave the page before they see what’s there.”</h2>
                                            </div>
                                            <amp-img class="card-icon" noloading height="197" width="1280" layout=responsive src="/teststatic/wapo_logo.png">
                                            </amp-img>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-container">
                                    <div class="card centered wired">
                                        <div class="card-inner">
                                            <div class="card-content">
                                                <h2>“We see our work on AMP as furthering the business need of providing a fast, clean user experience to our audience.”</h2>
                                            </div>
                                            <amp-img class="card-icon" noloading height="263" width="1298" layout=responsive src="/teststatic/wired_logo.png">
                                            </amp-img>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-container">
                                    <div class="card centered teads">
                                        <div class="card-inner">
                                            <div class="card-content">
                                                <h2>“Across Teads’ publisher portfolio, video ads perform significantly better on AMP pages than on the traditional mobile web.”</h2>
                                            </div>
                                            <amp-img class="card-icon" noloading height="28" width="75" layout=responsive src="/teststatic/teads_logo.svg">
                                            </amp-img>
                                        </div>
                                    </div>
                                </div>
                            </amp-carousel>
                        </div>
                    </div>
                </div>
            </section>

            <section class="large-cta">
                <amp-img class="large-cta-lines left desktop-up" noloading height=377 width=360 layout=fixed src="/teststatic/lines3.svg">
                </amp-img>
                <amp-img class="large-cta-lines right desktop-up" noloading height=377 width=360 layout=fixed src="/teststatic/lines3.svg">
                </amp-img>
                <h1>Learn how to build AMP pages and AMP Ads</h1>
                <a href="/docs/get_started/create.html" class="button light"><span>Start Building</span></a>
            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="twelve columns footer-icons">
                            <a class="footer-privacy" href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
                            <a href="//twitter.com/amphtml">
                                <div class="footer-image twitter"></div>
                            </a>
                            <a href="//amphtml.wordpress.com/">
                                <div class="footer-image wordpress"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>

</body>

</html>
