<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
        <meta name="author" content="Mike Polinowski">
        <title>
            <%= title %>
        </title>
        <script src="/javascripts/pace.min.js"></script>
        <script src="/javascripts/modernizr-2.8.3.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"/>
        <link rel="stylesheet" href="/stylesheets/pace.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/glide.core.min.css">
        <link rel="stylesheet" href="/stylesheets/glide.theme.css">
        <style media="screen">
            #wrapper {
                display: none;
            }

        </style>
        <!-- Hide Content until loaded /PACE -->
        <script type="text/javascript">
            $(document).on('click', '.navbar-collapse.in', function(e) {
                if ($(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle') {
                    $(this).collapse('hide');
                }
            });
        </script>
        <!-- Close Collapsing Bootstrap NAVBAR on Click -->
    </head>

    <body>

    <!-- ################################# HEADER ###################################### -->

      <header>
        <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse shadow">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
              <img src="/images/INSTAR-Logo.png" class="img-fluid" style="max-height: 40px;" alt="INSTAR Deutschland GmbH"/>
          </a>

          <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav mr-auto impact hidden-md-down">
              <li class="nav-item active">
                  <a class="nav-link" href="/"><h4 class="logo-text" style="margin-top: -4px;">INSTAR</h4></a>
              </li>
              <li class="nav-item hidden-lg-down" style="padding-left: 15px;">
                  <a class="nav-link" href="/Products"><h6><i class="fa fa-shield" aria-hidden="true"></i>&nbsp; Products</h6></a>
              </li>
              <li class="nav-item" style="padding-left: 10px;">
                  <a class="nav-link" href="/Quick_Installation"><h6><i class="fa fa-bolt" aria-hidden="true"></i>&nbsp; Installation</h6></a>
              </li>
              <li class="nav-item" style="padding-left: 10px;">
                  <a class="nav-link" href="/Internet_Access"><h6><i class="fa fa-cloud" aria-hidden="true"></i>&nbsp; Internet Access</h6></a>
              </li>
              <li class="nav-item" style="padding-left: 10px;">
                  <a class="nav-link" href="/Motion_Detection"><h6><i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp; Motion Detection</h6></a>
              </li>
              <li class="nav-item hidden-lg-down" style="padding-left: 10px;">
                  <a class="nav-link" href="/Advanced_User"><h6><i class="fa fa-code" aria-hidden="true"></i>&nbsp; Advanced</h6></a>
              </li>
            </ul>
            <!-- Button Navigation for Mobile -->
            <div class="container hidden-lg-up mt">
                <a href="/">
                    <button class="btn btn-primary btn-lg btn-block" type="button">Home</button>
                </a>
                <br/>
                <a href="/Search">
                    <button class="btn btn-primary btn-lg btn-block" type="button">Search</button>
                </a>
                <br/>
                <a href="/Products">
                    <button class="btn btn-primary btn-lg btn-block" type="button">Products</button>
                </a>
                <br/>
                <a href="/Quick_Installation">
                    <button class="btn btn-primary btn-lg btn-block" type="button">Quick-Installation</button>
                </a>
                <br/>
                <a href="/Internet_Access">
                    <button class="btn btn-primary btn-lg btn-block" type="button">Internet Access</button>
                </a>
                <br/>
                <a href="/Motion_Detection">
                    <button class="btn btn-primary btn-lg btn-block" type="button">Motion Detection</button>
                </a>
                <br/>
                <a href="/Advanced_User">
                    <button class="btn btn-primary btn-lg btn-block" type="button">Advanced User</button>
                </a>
                <br/>
            </div>
            <form method="get" action="/Search/Results" class="form-inline my-2 my-lg-0 hidden-md-down">
              <input type="text" name="q" autocomplete="off" class="form-control mr-sm-2" placeholder="Search Query">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <!-- Navbar-->

    </header>

        <!-- #############################################  Landing ############################################# -->

        <div class="wrapper">

            <section class="slanding">
                <div class="container">
                    <div class="row">
                        <h1 class="headline">Results</h1>
                        <hr>
                        <br/>
                        <h2 class="subheader">took 119 milliseconds</h2>
                        <h5 class="text-muted">search score: "0.9936"</h5>
                        <h2 class="subheader"><i class="fa fa-angle-double-down" aria-hidden="true"></i></h2><br/>
                    </div>
                    <!-- /Row -->
                </div>
                <!-- /Container -->
            </section>
            <!-- /Landing -->

<!-- #############################################  Glide ############################################# -->

<div class="section__row">
    <div class="section__part">
        <div id="Glide" class="slider glide">

            <div class="slider__arrows glide__arrows">
                <button class="slider__arrow glide__arrow next" data-glide-dir=">">next</button>
                <button class="slider__arrow glide__arrow prev" data-glide-dir="<">prev</button>
            </div>

            <div class="slider__wrapper glide__wrapper">
                <ul class="slider__track glide__track">

                    <li class="slider__slide glide__slide">
                        <div class="bg i-1"></div>
                    </li>

                    <li class="slider__slide glide__slide">
                        <div class="bg i-2"></div>
                    </li>

                    <li class="slider__slide glide__slide">
                        <div class="bg i-3"></div>
                    </li>

                    <li class="slider__slide glide__slide">
                        <div class="bg i-4"></div>
                    </li>

                    <li class="slider__slide glide__slide">
                        <div class="bg i-5"></div>
                    </li>

                </ul>
            </div>

            <div class="slider__bullets glide__bullets"></div>

        </div>

    </div>
</div>

<!-- ############################################# Footer ############################################# -->

<section class="footer">

    <div class="container">
        <div class="row">
            <div class="pull-xs-right">
                <p class="text-muted">
                    <small>
                        <i class="fa fa-copyright"></i>
                        2016 INSTAR Deutschland GmbH</small>
                </p>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /wrapper -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/javascripts/script.js"></script>

<script src="/javascripts/glide.min.js"></script>
<script>

    var carousel = $('#Glide').glide({type: 'carousel', paddings: '25%'});
</script>

</section>
<!-- /footer -->

</body>

</html>
