<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/System/Reset/">
    </head>

    <body class="home">

      <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="shadow" src="/images/instar_245x77.png" height="40px" width="127px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">
                        <a href="/Search/"><button class="navGo desktop-up">Search</button></a>
                        <a href="/Web_User_Interface/1080p_Series/System/"><button class="navGo">Up</button></a>
                      </div>
                  </div>
              </div>
          </div>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Backup Overlay</h1>
                                    <p class="intro">
                                      You can backup your camera configuration after setting everything up. Download the file and name it appropriately for a later restore. Please be aware that software updates sometimes add new variables / functions to the camera and you won´t be able to use your old backup files anymore. Always create a new backup after an software update to be sure.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>1080p</h2>
                        </li>
                        <li>
                            <h3><a href="/Web_User_Interface/1080p_Series/">Web User Interface</a></h3>
                        </li>
                        <hr>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Live_Video/">Live Video</a></h4>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Multimedia/">Multimedia</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Audio</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">Video</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">Image</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">Privacy Mask</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Alarm/">Alarm</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Actions</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Areas</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Schedule</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Service</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Recording/">Recording Task</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Photoseries</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Video</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Network/">Network</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">IP Configuration</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Remote Access</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/FTP/">FTP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/ONVIF/">ONVIF</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Features/">Features</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/IR_LEDs/">IR LEDs</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ/">PTZ</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Card</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">Status LED</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">PTZ Tour</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/System/">System</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Info/">Info</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Email/">Email</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/User/">User</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">Date &amp; Time</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Language/">Language</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Log/">System Log</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Update/">Update</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reboot/">Reboot</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reset/">Reset</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Cloud/">Cloud</a></h4>
                        </li>
                    </ul>
                </nav>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Backup your Camera Configuration</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_System_Reset.jpg 100w, /images/1080p_webUI/1080p_Settings_System_Reset.png 1500w" width="1371" height="949" layout="responsive" class="shadow"></amp-img>

                          <p>To save your camera settings please check the corresponding box, click <strong>submit</strong> and you will be asked for a file path and name. The default is <em>config_backup.bin</em> and the file path is the download folder of your browser. To restore the settings check <em>Load Backup Copy</em>, browse for the backup file and click <strong>submit</strong>.</p>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Save Backup Copy</strong>
                                </td>
                                <td>Save you settings in a config_backup.bin file after you configured up your camera. Simply check the save backup box and submit.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Load Backup Copy</strong>
                                </td>
                                <td>To restore your settings, e.g. after a reset, check the load backup box, browse for the backup file and submit.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Browse</strong>
                                </td>
                                <td>Click here to search for your config_backup.bin backup file. Just submit the file to restore your settings.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Web_User_Interface/1080p_Series/System/">
                        <h3>The HD Web User Interface Software Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series/">
                        <h3>The HD Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="#">
                        <h3>Control your camera directly over CGI commands</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
