<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Features/Status_LED/">
    </head>

    <body class="home">

      <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="shadow" src="/images/instar_245x77.png" height="40px" width="127px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">
                        <a href="/Search/"><button class="navGo desktop-up">Search</button></a>
                        <a href="/Web_User_Interface/1080p_Series/Features/"><button class="navGo">Up</button></a>
                      </div>
                  </div>
              </div>
          </div>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Status LED Overlay</h1>
                                    <p class="intro">
                                      Did you notice the blue and blinking LED on the camera? It can be very annoying in a dark room. But it can be used to troubleshoot your network connection or to make people aware that they are being recorded. For all other purposes come here to deactivate it.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>1080p</h2>
                        </li>
                        <li>
                            <h3><a href="/Web_User_Interface/1080p_Series/">Web User Interface</a></h3>
                        </li>
                        <hr>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Live_Video/">Live Video</a></h4>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Multimedia/">Multimedia</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Audio</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">Video</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">Image</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">Privacy Mask</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Alarm/">Alarm</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Actions</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Areas</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Schedule</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Service</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Recording/">Recording Task</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Photoseries</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Video</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Network/">Network</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">IP Configuration</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Remote Access</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/FTP/">FTP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/ONVIF/">ONVIF</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Features/">Features</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/IR_LEDs/">IR LEDs</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ/">PTZ</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Card</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">Status LED</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">PTZ Tour</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/System/">System</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Info/">Info</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Email/">Email</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/User/">User</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">Date &amp; Time</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Language/">Language</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Log/">System Log</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Update/">Update</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reboot/">Reboot</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reset/">Reset</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Cloud/">Cloud</a></h4>
                        </li>
                    </ul>
                </nav>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Deactivate your Camera´s Network LED (if available)</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_Status_LED.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_Status_LED.png 1500w" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Status LED</strong>
                                </td>
                                <td>Aktivate or deactivate the network status LED of your camera (only for cameras with Staus LEDs).</td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can adjust the behaviour of the red Status LED at the power connector of the camera. Enable it to have it display camera activity - which is especially helpful during the installation process. Or deactivate it for normal operation.</p>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Multimedia/">
                      <h3>Multimedia Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Alarm/">
                      <h3>Alarm Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Recording/">
                      <h3>Recording Tasks Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Network/">
                      <h3>Network Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Features/">
                      <h3>Features Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/System/">
                      <h3>System Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Cloud/">
                      <h3>Cloud Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>
              </div>

              <a href="/Web_User_Interface/1080p_Series/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
