<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/System/Reboot_Reset/">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Web_User_Interface/1080p_Series/System/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Reboot &amp; Reset Overlay</h1>
                                    <p class="intro">
                                      Use this function to reboot or reset your camera safely. It is not recommended to simply unplug/replug your camera or use the hardware reset unnecessarily (those actions can be harmful to running operations as well as causing hardware defects on the internal SD card). Please always use the soft- restart and reset via the web user interface. Use the hardware reset in case that you have lost access to the interface.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Reboot or Reset your Camera</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_System_Restart.jpg 100w, /images/1080p_webUI/1080p_Settings_System_Restart.png 1500w" width="1371" height="949" layout="responsive" class="shadow"></amp-img>

                          <p>You can download regular software updates for your camera from <a href="http://download.instar.de">download.instar.com</a>. Please use the browse button to set the file path once you downloaded and unzipped the update BIN and click Submit to upload the file to your camera. Use the update function only when the camera is connected to the router by LAN cable!</p>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Camera Model</strong>
                                </td>
                                <td>Displays your camera model number - For more information on your camera model check our <a href="http://wiki.instar.com/index.php/IP_Cameras">complete list</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Firmware Version</strong>
                                </td>
                                <td>Version of the operating system of your camera. Information about a software update can be found <a href="http://wiki.instar.com/index.php/Wie_spiele_ich_eine_neue_WebUI_bzw._Firmware_auf_%28HD_Kameras%29">here</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>WebUI Version</strong>
                                </td>
                                <td>Version of the web user interface of your camera. Information about a software update can be found <a href="http://wiki.instar.com/index.php/Wie_spiele_ich_eine_neue_WebUI_bzw._Firmware_auf_%28HD_Kameras%29">here</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Reboot Camera</strong>
                                </td>
                                <td>Check the reboot box and submit to restart your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Reset Camera</strong>
                                </td>
                                <td>Check the reset box and submit to reset your camera to it´s factory defaults. Please be aware that you will have to set up your camera again via an Ethernet cable after a factory reset.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
        </div>

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Web_User_Interface/1080p_Series/System/">
                        <h3>The HD Web User Interface Software Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series/">
                        <h3>The HD Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="#">
                        <h3>Control your camera directly over CGI commands</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
