<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/System/System_Log/">
    </head>

    <body class="home">

      <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="shadow" src="/images/instar_245x77.png" height="40px" width="127px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">
                        <a href="/Search/"><button class="navGo desktop-up">Search</button></a>
                        <a href="/Web_User_Interface/1080p_Series/System/"><button class="navGo">Up</button></a>
                      </div>
                  </div>
              </div>
          </div>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>System Log Overlay</h1>
                                    <p class="intro">
                                      Something doesn´t work anymore? Check the system log file for information. You don´t receive Alarm Emails anymore but your SMTP settings look fine? Check the log if there are still motion trigger events. Or you get spammed with Alarm Emails but motion detection is already deactivated? Check your log - maybe the events are triggered by the <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a> or an <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">external trigger</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>1080p</h2>
                        </li>
                        <li>
                            <h3><a href="/Web_User_Interface/1080p_Series/">Web User Interface</a></h3>
                        </li>
                        <hr>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Live_Video/">Live Video</a></h4>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Multimedia/">Multimedia</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Audio</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">Video</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">Image</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">Privacy Mask</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Alarm/">Alarm</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Actions</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Areas</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Schedule</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Service</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Recording/">Recording Task</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Photoseries</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Video</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Network/">Network</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">IP Configuration</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Remote Access</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/FTP/">FTP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/ONVIF/">ONVIF</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Features/">Features</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/IR_LEDs/">IR LEDs</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ/">PTZ</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Card</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">Status LED</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">PTZ Tour</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/System/">System</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Info/">Info</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Email/">Email</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/User/">User</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">Date &amp; Time</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Language/">Language</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Log/">System Log</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Update/">Update</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reboot/">Reboot</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reset/">Reset</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Cloud/">Cloud</a></h4>
                        </li>
                    </ul>
                </nav>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Keep an eye on your Camera´s Operation</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_System_Log.jpg 100w, /images/1080p_webUI/1080p_Settings_System_Log.png 1500w" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>ipc_server start</strong>
                                </td>
                                <td>Time of the last system boot process. Be aware, that the system log will be deleted with every restart.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>-- empty entyry --</strong>
                                </td>
                                <td>Login to the live video via the <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Flash Video Plugin</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>user(admin, user or guest) login for live stream</strong>
                                </td>
                                <td>Login of the admin, user or guest to the live video stream (unless logged in over the Flash Plugin s. above).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>motion detection(area= 1,2,3 or 4) alarm</strong>
                                </td>
                                <td>Time of a motion detection event in <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">alarm area</a> 1, 2, 3 or 4.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>input alarm</strong>
                                </td>
                                <td>Time of the trigger alert by the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">alarm input</a> - e.g. by an <a href="/Products/IN-Motion">external sensor</a> or the internal PIR sensor (in case of the <a href="/Products/IN-6014_HD">IN-6014 HD</a>).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>audio alarm</strong>
                                </td>
                                <td>Time of an alarm event by the <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">audio alarm</a> of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to email (snap)</strong>
                                </td>
                                <td>The alarm event triggered an alarm notification by email, according to your settings in the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Actions Menu</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to ftp (snap oder video)</strong>
                                </td>
                                <td>The alarm event triggered a video or snapshot upload by FTP, according to your settings in the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Actions Menu</a>, to your <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Server</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to SD (snap oder video)</strong>
                                </td>
                                <td>The alarm event triggered a video or snapshot recording on your <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Card</a>, according to your settings in the <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Actions Menu</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Delete</strong>
                                </td>
                                <td>Delete the system log. Be aware, that the system log will be deleted with every restart.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Refresh</strong>
                                </td>
                                <td>The log does not refresh as long as the menu is kept open. Click refresh to do it manually.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Multimedia/">
                      <h3>Multimedia Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Alarm/">
                      <h3>Alarm Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Recording/">
                      <h3>Recording Tasks Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Network/">
                      <h3>Network Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Features/">
                      <h3>Features Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/System/">
                      <h3>System Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Cloud/">
                      <h3>Cloud Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>
              </div>

              <a href="/Web_User_Interface/1080p_Series/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
