<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">
    </head>

    <body class="home">

      <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="shadow" src="/images/instar_245x77.png" height="40px" width="127px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">
                        <a href="/Search/"><button class="navGo desktop-up">Search</button></a>
                        <a href="/Web_User_Interface/1080p_Series/Network/"><button class="navGo">Up</button></a>
                      </div>
                  </div>
              </div>
          </div>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>DDNS Overlay</h1>
                                    <p class="intro">
                                      You have two ways to access your camera over the internet - the easy way is called <a href="/Web_User_Interface/1080p_Series/Network/P2P/">P2P</a>. The only way to get complete access to all your camera´s functions is called DDNS. The DDNS or Internet Address gives you access to your cameras web user interface.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>1080p</h2>
                        </li>
                        <li>
                            <h3><a href="/Web_User_Interface/1080p_Series/">Web User Interface</a></h3>
                        </li>
                        <hr>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Live_Video/">Live Video</a></h4>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Multimedia/">Multimedia</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Audio</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">Video</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">Image</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">Privacy Mask</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Alarm/">Alarm</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Actions</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Areas</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Schedule</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Service</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Recording/">Recording Task</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Photoseries</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Video</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Network/">Network</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">IP Configuration</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Remote Access</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/FTP/">FTP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Network/ONVIF/">ONVIF</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Features/">Features</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/IR_LEDs/">IR LEDs</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ/">PTZ</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Card</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">Status LED</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">PTZ Tour</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/System/">System</a></h4>
                        </li>
                        <ul>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Info/">Info</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Email/">Email</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/User/">User</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">Date &amp; Time</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Language/">Language</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Log/">System Log</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Update/">Update</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reboot/">Reboot</a>
                            </li>
                            <li>
                                <a href="/Web_User_Interface/1080p_Series/System/Reset/">Reset</a>
                            </li>
                        </ul>
                        <li>
                            <h4><a href="/Web_User_Interface/1080p_Series/Cloud/">Cloud</a></h4>
                        </li>
                    </ul>
                </nav>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Connect over the Internet</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Your camera comes with a personal <a href="/Internet_Access/The_DDNS_Service">DDNS address</a> - e.g. http://xxxx77.ddns-instar.de. Everything you need for a remote access to your camera is a <a href="/Internet_Access/Port_Forwarding">port forwarding rule</a> in your router. You can access your camera afterwards through the internet using this http address. Please visit the DDNS section for detailed information on the <a href="/Internet_Access/Port_Forwarding">port forwarding</a> setup as well as video instruction for many common routers. Or refer to your router’s user manual for further guidelines on how to set up a port forwarding rule.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Network_Remote_Access.jpg 100w, /images/1080p_webUI/1080p_Settings_Network_Remote_Access.png 1500w" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>

                      <div>
                          <p>The DDNS Menu - Use your personal Internet Address to connect to your camera over the internet.</p>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Activate INSTAR DDNS</strong>
                                </td>
                                <td>To access your camera´s WebUI over the internet you have to activate your <a href="/Internet_Access/The_DDNS_Service">INSTAR DDNS Address</a>. Please be aware that your camera might still be available over the DDNS address for a while, after you deactivated it. The access will be blocked once your internet service provider changes your WAN IP address - this usually happens once every 24hrs (and in some cases once you restarted your internet router).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>INSTAR DDNS Adress</strong>
                                </td>
                                <td>This is your personal <a href="/Internet_Access/The_DDNS_Service">Internet Adsress</a>. You will be able to access your camera over this address once you <a href="/Internet_Access/Port_Forwarding">forwarded your camera´s http port</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>QR Code</strong>
                                </td>
                                <td>To add your camera to our <a href="/Products/Software/iOS">iPhone</a> or <a href="/Products/Software/Android">Android</a> app, you simply have to scan the QR code.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Activate Third Party DDNS (optional)</strong>
                                </td>
                                <td>If you don´t want to use your INSTAR DDNS Address, just add a Thirdparty DDNS Address. Please contact your Third-party provider for details.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="dangercard">
                        <p><strong>Be Aware</strong><br/><br/>Your camera will be accessible for everyone after you forwarded it inside your router. To prevent unwanted access, please make sure to change the user logins before you start forwarding the camera! The user logins can be adjusted in the <a href="/Web_User_Interface/720p_Series/System/User/">User Menu</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>In case you want to use an account from <a href="http://dyn.com/dns/">DynDNS</a> simply choose the third party service and type in your personal login credentials. By doing so you will temporarily <strong>deactivate your INSTAR DDNS address</strong>. In case you are using several cameras behind a single internet access point, please set up the third party address in <strong>only one</strong> of the cameras. Or if possible directly inside your router! All your cameras will be accessible through this address - just assign a unique HTTP port to every camera. For example if camera 1 is assigned the HTTP port 85 and camera 2 the HTTP port 86, use myaddress.dyndns.org:85 to reach camera 1 and myaddresse.dyndns.org:86 to be forwarded to camera 2.</p>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Multimedia/">
                      <h3>Multimedia Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Alarm/">
                      <h3>Alarm Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Recording/">
                      <h3>Recording Tasks Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Network/">
                      <h3>Network Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Features/">
                      <h3>Features Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/System/">
                      <h3>System Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>

                  <a class="tab" href="/Web_User_Interface/1080p_Series/Cloud/">
                      <h3>Cloud Menu</h3>
                      <div class="subtitle">1080p Web User Interface</div>
                  </a>
              </div>

              <a href="/Web_User_Interface/1080p_Series/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
