<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Alarm">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Web_User_Interface/720p_Series/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">

            <section class="blade get-started">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>Alarm Menu</h1>
                        </div>
                    </div>

                    <!-- ##################################### Areas ############################################ -->



                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:areas-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Areas_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="areas"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Areas Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="areas-lightbox" layout="nodisplay">
                            <div class="lightbox" tabindex="0">
                              <div class="twocard cardbox">
                                  <div class="image"on=" tap:areas-lightbox.close">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Areas_mouseOver.png"></amp-img>
                                  </div>
                                  <div class="content" tabindex="0">
                                      <hr>
                                      <p class="areas2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var areas = document.querySelectorAll('.areas, .areas2');
                            for(var i = 0; i < areas.length; i++) {
                              areas[i].innerHTML="The alarm areas detect motion by a picture analysis that is sensitive to every change inside the video frame instead of employing an infrared or microwave sensor. You can setup up to 4 detection areas - just activate an area and draw it’s shape onto the image - and adjusts it´s sensitivity to set a threshold for trigger events. Once the motion detection in an area is activated, its sensitivity can be adjusted from very insensitive (value=0) to very sensitive (value=100).";
                            }
                        </script>

                        <!-- ##################################### Privacy ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:privacy-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Privacy_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="privacy"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">Privacy Mask Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <!-- lightbox -->
                        <amp-lightbox id="privacy-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:privacy-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Privacy_mouseOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:privacy-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="privacy2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var privacy = document.querySelectorAll('.privacy, .privacy2');
                          for(var i = 0; i < privacy.length; i++) {
                            privacy[i].innerHTML="The Privacy Mask Menu allows you to black out areas from your surveillance. E.g. you can still see a part of the public street in front of your house on your surveillance videos. But you can not adjust the camera angle any more. Now you can setup up to 4 masks to prevent the street from showing up in your surveillance footage - just activate an area and draw it’s shape onto the image.";
                          }
                      </script>

                      <!-- ##################################### Actions ############################################ -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:actions-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Actions_mouseOver.png"></amp-img>
                              </div>
                            <div class="content">
                                <hr>
                                <p class="actions"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Actions Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="actions-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:actions-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Actions_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:actions-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="actions"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var actions = document.querySelectorAll('.actions, .actions2');
                            for(var i = 0; i < actions.length; i++) {
                              actions[i].innerHTML="Adjust the cameras behaviour in case of a motion alert trigger event. You can set the camera to send you an email and to save snapshots or videos on your SD card. Please make sure you set your SMTP Server settings before activating the email notification and that you have a SD card in your cameras SDHC card slot (max. 32 GB) to use the video recording and send-to-FTP function - a 4 GB SD card is included in the delivery.";
                            }
                        </script>

                        <!-- ##################################### Schedule ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:schedule-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Schedule_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="schedule"></p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">Schedule Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                      <!-- lightbox -->
                        <amp-lightbox id="schedule-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:schedule-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Schedule_mouseOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:schedule-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="schedule2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var schedule = document.querySelectorAll('.schedule, .schedule2');
                          for(var i = 0; i < schedule.length; i++) {
                            schedule[i].innerHTML="Here you can define a time schedule in which the motion detection should be active for the active detection areas. Every blue square represents 30 minutes of armed motion detection. Please make sure to set the correct time zone as it will be used by the camera. Remember Daylight-Saving-Time!";
                          }
                      </script>

                      <!-- ##################################### SMTP ############################################ -->

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:smtp-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_SMTP_mouseOver.png"></amp-img>
                              </div>
                            </a>
                            <div class="content">
                                <hr>
                                <p class="smtp"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                        <!-- lightbox -->
                          <amp-lightbox id="smtp-lightbox" layout="nodisplay">
                            <div class="lightbox" on="tap:smtp-lightbox.close" tabindex="0">
                              <div class="twocard cardbox">
                                  <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">
                                  <div class="image">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_SMTP_mouseOver.png"></amp-img>
                                  </div>
                                  </a>
                                  <div class="content" on="tap:smtp-lightbox.close" tabindex="0">
                                      <hr>
                                      <p class="smtp2"></p> <!-- innerHTML Added by script below -->
                                  </div>
                                  <div class="action">
                                      <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">Click of more Information</a>
                                  </div>
                              </div>
                            </div>
                          </amp-lightbox>
                        <!-- /lightbox -->
                        <!-- Add Pragraph Text -->
                        <script>
                            var smtp = document.querySelectorAll('.smtp, .smtp2');
                            for(var i = 0; i < smtp.length; i++) {
                              smtp[i].innerHTML="Simply use the INSTAR Preset if you don´t know the SMTP information of your Email provider. Choose the preset from the drop down menu and confirm. The Email recipient can be set in the Email Menu. Set-up this way, your camera will use an INSTAR Server to send alarm mails to your personal Email address. This transfer will be TLS encrypted and INSTAR does not store any copies of your Emails!";
                            }
                        </script>

                        <!-- ##################################### Email ############################################ -->

                        <div class="twocard">
                            <div class="image" on="tap:email-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Email_mouseOver.png"></amp-img>
                            </div>
                            <div class="content">
                                <hr>
                                <p class="email"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email Menu</a>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- /Card Container -->
                    <!-- lightbox -->
                      <amp-lightbox id="email-lightbox" layout="nodisplay">
                        <div class="lightbox" on="tap:email-lightbox.close" tabindex="0">
                          <div class="twocard cardbox">
                              <a href="/Web_User_Interface/720p_Series/Alarm/Email/">
                              <div class="image">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Email_mouseOver.png"></amp-img>
                              </div>
                              </a>
                              <div class="content" on="tap:email-lightbox.close" tabindex="0">
                                  <hr>
                                  <p class="email2"></p> <!-- innerHTML Added by script below -->
                              </div>
                              <div class="action">
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Click of more Information</a>
                              </div>
                          </div>
                        </div>
                      </amp-lightbox>
                    <!-- /lightbox -->
                    <!-- Add Pragraph Text -->
                    <script>
                        var email = document.querySelectorAll('.email, .email2');
                        for(var i = 0; i < email.length; i++) {
                          email[i].innerHTML="Here you need to input the sender, the receivers, the subject as well as optional a short email text with a maximum 64 characters. The sender address should be in accordance with the SMTP server settings, though some email provider let you choose this field freely. If you want to send the email to more than one address, simply separate the addresses with a semicolon ;. E.g. max.mustermann@instar.de ; franz.fingerhut@instar.de. It is recommended to fill out the subject line and the email text body to avoid the mail to be caught by any spam guards in place.";
                        }
                    </script>

                    <!-- ##################################### FTP ############################################ -->

                    <div class="card-container margin">
                      <div class="twocard">
                          <div class="image" on="tap:ftp-lightbox" role="button" tabindex="0">
                              <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_FTP_mouseOver.png"></amp-img>
                          </div>
                          <div class="content">
                              <hr>
                              <p class="ftp"></p>
                          </div>
                          <div class="action">
                              <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Menu</a>
                          </div>
                      </div>
                      <!-- /Card -->
                      <!-- lightbox -->
                        <amp-lightbox id="ftp-lightbox" layout="nodisplay">
                          <div class="lightbox" on="tap:ftp-lightbox.close" tabindex="0">
                            <div class="twocard cardbox">
                                <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">
                                <div class="image">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_FTP_mouseOver.png"></amp-img>
                                </div>
                                </a>
                                <div class="content" on="tap:ftp-lightbox.close" tabindex="0">
                                    <hr>
                                    <p class="ftp2"></p> <!-- innerHTML Added by script below -->
                                </div>
                                <div class="action">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">Click of more Information</a>
                                </div>
                            </div>
                          </div>
                        </amp-lightbox>
                      <!-- /lightbox -->
                      <!-- Add Pragraph Text -->
                      <script>
                          var ftp = document.querySelectorAll('.ftp, .ftp2');
                          for(var i = 0; i < ftp.length; i++) {
                            ftp[i].innerHTML="To use the video FTP Upload you first have to set your ftp server address and login credentials. E.g. you can use your routers FTP service as FTP Server - in this case simply put in your routers IP as the FTP Server address. If you set up a FTP server on a local PC (for example with Filezilla Server), use the PC’s local IP address. Of course you can use webservers URL’s as well. The standard FTP port is 21.";
                          }
                      </script>

                      <!-- ##################################### Audio Alarm ############################################ -->

                      <div class="twocard">
                          <div class="image" on="tap:audio-lightbox" role="button" tabindex="0">
                              <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Audio_mouseOver.png"></amp-img>
                          </div>
                          <div class="content">
                              <hr>
                              <p class="audio"></p> <!-- innerHTML Added by script below -->
                          </div>
                          <div class="action">
                              <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm Menu</a>
                          </div>
                      </div>
                      <!-- /Card -->
                  </div>
                  <!-- /Card Container -->
                  <!-- lightbox -->
                    <amp-lightbox id="audio-lightbox" layout="nodisplay">
                      <div class="lightbox" on="tap:audio-lightbox.close" tabindex="0">
                        <div class="twocard cardbox">
                            <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_Audio_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="content" on="tap:audio-lightbox.close" tabindex="0">
                                <hr>
                                <p class="audio2"></p> <!-- innerHTML Added by script below -->
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Click of more Information</a>
                            </div>
                        </div>
                      </div>
                    </amp-lightbox>
                  <!-- /lightbox -->
                  <!-- Add Pragraph Text -->
                  <script>
                      var audio = document.querySelectorAll('.audio, .audio2');
                      for(var i = 0; i < audio.length; i++) {
                        audio[i].innerHTML="The camera’s Audio Alarm uses the integrated microphone to detect noises and trigger alarm events. These events are handled just like motion detection events and will trigger the activated Alarm Actions. Please be aware that the sensitivity of the detection is both influenced by the sensitivity slider here, as well as by the overall volume of the microphone signal. You can adjust the amplification of the signal in the Multimedia Section.";
                      }
                  </script>

                  <!-- ##################################### SD Card ############################################ -->

                  <div class="card-container margin">
                    <div class="twocard">
                        <div class="image" on="tap:sd-lightbox" role="button" tabindex="0">
                            <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_SD_mouseOver.png"></amp-img>
                        </div>
                        <div class="content">
                            <hr>
                            <p class="sd"></p> <!-- innerHTML Added by script below -->
                        </div>
                        <div class="action">
                            <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Card Menu</a>
                        </div>
                    </div>
                    <!-- /Card -->
                    <!-- lightbox -->
                      <amp-lightbox id="sd-lightbox" layout="nodisplay">
                        <div class="lightbox" on="tap:sd-lightbox.close" tabindex="0">
                          <div class="twocard cardbox">
                              <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">
                              <div class="image">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_WebUI_Alarm_SD_mouseOver.png"></amp-img>
                              </div>
                              </a>
                              <div class="content" on="tap:sd-lightbox.close" tabindex="0">
                                  <hr>
                                  <p class="sd2"></p> <!-- innerHTML Added by script below -->
                              </div>
                              <div class="action">
                                  <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">Click of more Information</a>
                              </div>
                          </div>
                        </div>
                      </amp-lightbox>
                    <!-- /lightbox -->
                    <!-- Add Pragraph Text -->
                    <script>
                        var sd = document.querySelectorAll('.sd, .sd2');
                        for(var i = 0; i < sd.length; i++) {
                          sd[i].innerHTML="Please check the corresponding box and click submit to either format or unmount your SD card. It is recommended to always unmount your SD card before removing it from your camera! Your SD card might be unavailable after an unexpected restart. Please wait for the operating system to check the file system for errors. The SD card will show up again once it was successfuly mounted by the system.";
                        }
                    </script>
                    <div class="twocard invisible"></div>
                    <!-- /Card -->
                </div>
                <!-- /Card Container -->
                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->
        </div>
        <!-- /Wrapper -->

        <!-- ------------------------------------ Related ------------------------------------------------------ -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Web_User_Interface/720p_Series/Network/Push_Service/">
                        <h3>Activate the Alarm Push Notification for your Smartphone</h3>
                        <div class="subtitle">Push Service</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series/System/User/">
                        <h3>Secure Access to your Camera</h3>
                        <div class="subtitle">User Management</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series/Multimedia/Image/">
                        <h3>Change the displayed Name of your Cammera</h3>
                        <div class="subtitle">Multimedia Image Settings</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series/Alarm/Actions/">
                        <h3>Define Actions to be taken by your Camera in case of an Alarm</h3>
                        <div class="subtitle">Alarm Actions</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series/Network/DDNS/">
                        <h3>Scan the QR Code to add your Camera to our Smartphone App</h3>
                        <div class="subtitle">DDNS Settings</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series/Network/Update/">
                        <h3>Check if an Update for your Camera is available</h3>
                        <div class="subtitle">Software Update</div>
                    </a>
                </div>

                <a href="/Web_User_Interface/720p_Series/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
