<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Push Service Overlay</h1>
                                    <p class="intro">
                                      Your camera can notify you by Email every time a motion detection is triggered. A push notification serves the same purpose but is a lot faster! Activate Push if you want to be notified right away when something is happening in front of your camera. The push notification only works with our InstarVision app for <a href="/Products/Software/iOS">iOS</a> or <a href="/Products/Software/Android">Android</a> devices.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Push Alarm Notifications</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Alarm_Push.jpg 100w, /images/1080p_webUI/1080p_Settings_Alarm_Push.png 1500w" width="1371" height="949" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Activate Push Service</strong>
                                </td>
                                <td>Activate or deactivate the Push Notification for our InstarVision Smartphone App. Open the Multiview Menu in our <a href="/Products/Software/Android">Android</a> or <a href="/Products/Software/iOS">iOS</a> App, activate the Push Button and scan the QR Code displayed below.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
