<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/SD_Card_Access">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">
                            <a href="/Search/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/search.png" height="30px" width="30px" alt="Search"></amp-img>
                            </a>
                            <a href="/Motion_Detection/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">

                <section class="hero altIP">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>How to access the SD Card</h1>
                                    <p class="intro">
                                        The HD camera models allow you to record videos and snapshots to the internal SD card. To quickly access your recordings, click on the SD Card link inside your cameras web user interface. Or use a third-party Software to download the video.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <article class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns margin">
                                <h2>SD Card Access</h2>
                                <p>The HD camera models use an internal (removable) SD card to record videos, alarm snapshots and whole photo series that can be used for later time lapse conversions. You can access the recorded files directly via the cameras web user interface or with
                                an FTP client. The webUI is the quickest way to download files and screen them on your computer, tablet or smartphone from your default web browser. But FTP clients offer a few features that will be more convenient if you have to go through a large
                                number of files from your SD card. Please be aware that the FTP client has to support the hyper text transfer protocol (HTTP) to access the SD card. Please be aware that you will only be able to download files - the FTP clients will not offer your
                                WRITE rights on the SD storage! Below you can find a short selection of clients that will work with your INSTAR camera.</p>
                                <p>For indoor models you can always remove the SD card and use it with a card reader on your computer or mobile device for easy access.</p>
                            </div>
                        </div>

                        <div class="margin">
                            <h3>Web User Interface</h3>
                        </div>
                         <!-- /margin -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img class="shadow" noloading height=232 width=335 layout=responsive src="/images/WebUI-SD_01.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p>The HD camera models allow you to record videos and snapshots to the internal SD card. To quickly access your recordings, click on the SD Card link inside your cameras web user interface.</p>
                                    <p>Click on the SD Card link above your cameras live video.</p>
                                </div>
                                <div class="action">
                                    Web User Interface
                                </div>
                            </div>
                             <!-- /Twocard -->
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=232 width=335 layout=responsive src="/images/WebUI-SD_02.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p>The SD cards file directory will open in a new tab. Please type in your camera login to access your recorded files. If the link is not displayed the SD is no longer mounted by the cameras operating system - please remove the SD card and push it back into the SD card slot.</p>
                                    <p>You are able to screen and download your recordings after confirming your camera login.</p>
                                </div>
                                <div class="action">
                                    SD Card Index
                                </div>
                            </div>
                             <!-- /Twocard -->
                        </div>
                         <!-- /Card-Container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=232 width=335 layout=responsive src="/images/WebUI-SD_03.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p>Your camera generates a new directory for each new day and a new recordXXX directory for every 200 recordings of that day. Every alarm event creates an *.avi file that starts with the capital letter A - planned recordings with the letter P and so on - followed by a timecode for the alarm trigger.</p>
                                </div>
                                <div class="action">
                                    File System
                                </div>
                            </div>
                             <!-- /Twocard -->
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=232 width=335 layout=responsive src="/images/WebUI-SD_04.png"></amp-img>
                                </div>
                                <div class="content">
                                    <p>The default behavior of most internet browsers is to download the video after you clicked on it. Browsers like the Mozilla Firefox off you support for the VLC plugin to display the video directly inside the browser window. Please make sure that you activate the Firefox plugin during the installation process of the VLC player and restart your browser after the installation. The VLC Web Plugin should now be listed inside the Addons window under Plugins.</p>
                                </div>
                                <div class="action">
                                    Video Player Plugin
                                </div>
                            </div>
                             <!-- /Twocard -->
                        </div>
                         <!-- /Card-Container -->

                        <div class="margin">
                            <h3>Windows Software to Access your SD Card</h3>
                            <ul>
                              <li><a href="/Motion_Detection/SD_Card_Access/Bitkinex">Bitkinex</a></li>
                              <li><a href="/Motion_Detection/SD_Card_Access/CuteFTP">CuteFTP</a></li>
                              <li><a href="/Motion_Detection/SD_Card_Access/DownThemAll">DownThemAll! (Firefox Addon)</a></li>
                            </ul>
                        </div>
                        <!-- /Margin -->

                       <div class="margin">
                           <h3>macOS Software to Access your SD Card</h3>
                           <ul>
                             <li><a href="/Motion_Detection/SD_Card_Access/Interachy">Interachy</a></li>
                             <li><a href="/Motion_Detection/SD_Card_Access/DeepVacuum">DeepVacuum</a></li>
                             <li><a href="/Motion_Detection/SD_Card_Access/SiteSucker">SiteSucker</a></li>
                             <li><a href="/Motion_Detection/SD_Card_Access/SimpleWget">SimpleWget</a></li>
                             <li><a href="/Motion_Detection/SD_Card_Access/DownThemAll">DownThemAll! (Firefox Addon)</a></li>
                           </ul>
                       </div>
                       <!-- /Margin -->

                    </div>
                    <!-- /Container -->
                </article>
                <!-- /Article -->

            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>First Steps to Install your INSTAR IP Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>What to do After Umpacking your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Connect your Camera with Computer Directly</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
