<% include _partials/template/_head.ejs %>

    <body>
      <% include _partials/template/_outdated.ejs %>

        <div id="wrapper">

          <header><% include _partials/template/_header.ejs %></header>
          <!-- Navbar-->

          <!-- #############################################  Search ############################################# -->

          <section class="container search mb">
              <div class="row">

                  <div class="col-xs-12 col-sm-8 offset-sm-2 mb">
                    <div class="mb">
                      <img src="/images/instar_logo.png" class="img-rounded mx-auto d-block img-fluid shadow" alt="INSTAR Deutschland GmbH">
                    </div>
                    <br><br><hr><br>
                    <h2 class="subheader">Knowledge Database Search</h2>
                  </div>

                  <div class="clearfix mb"></div>

                  <form  method="get" action="/Search/Results" class="form-inline text-xs-center">
                      <br><br><br>
                      <div class="form-group has-primary">
                        <label for="inputSearch" class="sr-only">Search Query</label>
                        <input type="search" autofocus class="form-control" placeholder="Search Query" name="q" autocomplete="off" class="form-control">
                      </div>
                      <button class="btn btn-primary" type="submit">Search</button>
                  </form>

              </div>
               <!-- /row -->
        </section>
        <!-- /search -->

        <section class="instarvision"><% include _partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include _partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include _partials/template/_footer.ejs %></footer>

        <% include _partials/template/_jsdefaults.ejs %>

     </div>
     <!-- /wrapper -->

    </div>

</body>

</html>
