<% include _partials/template/_head.ejs %>

    <body>
      <% include _partials/template/_outdated.ejs %>

        <div id="wrapper">

          <header><% include _partials/template/_header.ejs %></header>
          <!-- Navbar-->

          <!-- #############################################  Search ############################################# -->

          <section class="container search mb">
            <div class="row justify-content-center">
                <div class="mb">
                  <img src="/images/instar_logo.png" class="img-rounded img-fluid shadow mb" alt="INSTAR Deutschland GmbH">
                  <br><br><hr><br>
                  <h2 class="subheader">Knowledge Database Search</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                  <form  method="get" action="/Search/Results" class="form-inline text-xs-center">
                      <br><br><br>
                      <div class="form-group has-primary">
                        <label for="inputSearch" class="sr-only">Search Query</label>
                        <input type="search" autofocus class="form-control" placeholder="Search Query" name="q" autocomplete="off" class="form-control">
                      </div>
                      <button class="btn btn-primary" type="submit">Search</button>
                  </form>
              </div>
              <!-- /row -->
        </section>
        <!-- /search -->

        <section class="instarvision"><% include _partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include _partials/content/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include _partials/template/_footer.ejs %></footer>

        <% include _partials/template/_jsdefaults.ejs %>

     </div>
     <!-- /wrapper -->

    </div>

</body>

</html>
