<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick_Installation/Live_Video/F-Secure">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

    <div class="wrap">
        <div class="container main">

            <% include ../_partials/content/_bluenav-qi.ejs %>

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>F-Secure Internet Security</h1>
                                <h2>Set an Exception for your IP Camera</h2>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  In some cases it can be that the F-Secure firewall is blocking the video stream of the camera. Actually it blocks the ActiveX and Quicktime Plugin as well as our InstarVision Surveillance Center from receiving the cameras video stream. In this case you will need to deactivate the Advanced Network Protection in F-Secure so it does not block the camera anymore.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  <strong>Step 1</strong>: Please open the F-Secure program window by clicking the F-Secure symbol on the right side of the windows task bar. Another way is to open the start menu and to click on the program shortcut. Once opened please click Settings on the right side of the window.
                                </p>
                            </div>
                            <div>
                                <amp-img src="/images/F-Secure_01.png" width="600" height="426" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Step 2</strong>: Go to the Firewall section in the Security Settings and un-check the option to not allow applications to download harmful files under the Advanced Network Protection.
                                </p>
                            </div>
                            <div>
                                <amp-img src="/images/F-Secure_02.png" width="600" height="435" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Step 3</strong>: Finally, please reload the web interface of your IP camera. This can be done by either clicking the refresh button next to the address bar of your web browser or you can close your web browser and re-type the IP address of your camera in the browsers address bar. Or restart the Instarvision Surveillance Center.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>First Steps to Install your INSTAR IP Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>What to do After Umpacking your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Connect your Camera with Computer Directly</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
