<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/Alternative_IP_Scanner">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero altIP">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Use an Alternative Scanner to Find your Camera</h1>
                                    <p class="intro desktop-only">
                                      <br/><br/>The most convenient way to connect to find your camera on your local network, is the <a href="http://wiki.instar.de/index.php/INSTAR_Camera_Tool">INSTAR Camera Tool</a>. The following alternatives should only be used if the default tool fails.
                                    </p>
                                    <p class="intro mobile-only"><br/><br/>Use one of the following tools, if the <a href="http://wiki.instar.de/index.php/INSTAR_Camera_Tool">INSTAR Camera Tool</a> fails you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
            </div>

              <div class="wrap">
                  <div class="container main">

                      <% include ../_partials/content/_bluenav-qi.ejs %>

                      <!-- ########################### Mobile Down ###################################### -->

                      <section class="blade get-started">
                          <div class="container mobile-down">
                              <div class="row">
                                  <div class="twelve columns">
                                      <h1>Alternative IP Scanner</h1>
                                  </div>
                              </div>

                              <div class="card-container">
                                  <div class="twocard">
                                      <div class="image">
                                          <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/angryIP.jpg"></amp-img>
                                          <span class="title">Angry IP Scanner</span>
                                      </div>
                                      <div class="content">
                                          <p>Angry IP scanner is a very fast open-source IP address and port scanner. It is available for Windows, MacOSX as well as Linux.</p>
                                      </div>
                                      <div class="action">
                                          <a href="/Quick_Installation/Alternative_IP_Scanner/Angry_IP_Scanner">Read More</a>
                                      </div>
                                  </div>
                                  <div class="twocard">
                                      <div class="image">
                                          <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingCLI.jpg"></amp-img>
                                          <span class="title">Fing CLI</span>
                                      </div>
                                      <div class="content">
                                          <p>Fing is an easy-to-use command line tool to keep an eye on your local IP network. The software is available for Windows, macOS and LINUX.</p>
                                      </div>
                                      <div class="action">
                                          <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_CLI">Read More</a>
                                      </div>
                                  </div>
                              </div>

                              <div class="card-container">
                                  <div class="twocard">
                                      <div class="image">
                                          <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/fingAndroid.jpg"></amp-img>
                                          <span class="title">Fing Mobile</span>
                                      </div>
                                      <div class="content">
                                          <p>Easily discover all the devices on your personal and professional networks from your mobile phone. Available for Android and iOS.</p>
                                      </div>
                                      <div class="action">
                                          <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_Mobile">Read More</a>
                                      </div>
                                  </div>
                                  <div class="twocard invisible">
                                  </div>
                              </div>

                            </div>
                            <!-- /Container Mobile-down -->

                              <!-- ########################### DESKTOP UP ###################################### -->

                            <section class="hero altIP desktop-up shadow">
                                <div class="container">
                                    <div class="row">
                                        <div class="six columns">
                                            <div class="intro-container">
                                                <h1>Use an Alternative Scanner to Find your Camera</h1>
                                                <p class="intro desktop-only">
                                                  <br/><br/>The most convenient way to connect to find your camera on your local network, is the <a href="http://wiki.instar.de/index.php/INSTAR_Camera_Tool">INSTAR Camera Tool</a>. The following alternatives should only be used if the default tool fails.
                                                </p>
                                                <p class="intro mobile-only"><br/><br/>Use one of the following tools, if the <a href="http://wiki.instar.de/index.php/INSTAR_Camera_Tool">INSTAR Camera Tool</a> fails you.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="desktop-up">

                                  <div class="margin">
                                      <h1>Alternative IP Scanner</h1>
                                  </div>

                                <amp-carousel height="480" layout="flex-item" type="slides">

                                  <div class="box-one">
                                    <div class="box__inner shadow">
                                      <div class="box__image">
                                        <amp-img class="shadow" noloading height=95 width=297 layout=responsive src="/images/angryIP_s.jpg"></amp-img>
                                      </div>
                                      <div class="box__content">
                                         <p>Angry IP scanner is a very fast open-source IP address and port scanner. It is available for Windows, macOS as well as Linux.</p>
                                      </div>
                                      <div class="box__footer">
                                        <div class="box__credit">
                                          <div class="box__subtitle">Windows / macOS / LINUX</div>
                                          <h2 class="box__title">Angry IP Scanner</h2>
                                        </div>
                                        <div class="box__image box-image-button">
                                          <a href="/Quick_Installation/Alternative_IP_Scanner/Angry_IP_Scanner">
                                            <button class="navGo">More</button>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="box-one">
                                    <div class="box__inner shadow">
                                      <div class="box__image">
                                        <amp-img class="shadow" noloading height=95 width=297 layout=responsive src="/images/fingCLI_s.jpg"></amp-img>
                                      </div>
                                      <div class="box__content">
                                         <p>Fing is an easy-to-use command line tool to keep an eye on your local IP network. The software is available for Windows, macOS and LINUX.</p>
                                      </div>
                                      <div class="box__footer">
                                        <div class="box__credit">
                                          <div class="box__subtitle">Windows / macOS / LINUX</div>
                                          <h2 class="box__title">Fing CLI</h2>
                                        </div>
                                        <div class="box__image box-image-button">
                                          <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_CLI">
                                            <button class="navGo">More</button>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="box-one">
                                    <div class="box__inner shadow">
                                      <div class="box__image">
                                        <amp-img class="shadow" noloading height=95 width=297 layout=responsive src="/images/fingAndroid_s.jpg"></amp-img>
                                      </div>
                                      <div class="box__content">
                                         <p>Easily discover all the devices on your personal and professional networks from your mobile phone. Available for Android and iOS.</p>
                                      </div>
                                      <div class="box__footer">
                                        <div class="box__credit">
                                          <div class="box__subtitle">Android / iOS</div>
                                          <h2 class="box__title">Fing Mobile</h2>
                                        </div>
                                        <div class="box__image box-image-button">
                                          <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_Mobile">
                                            <button class="navGo">More</button>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </amp-carousel>

                            </div>
                            <!-- /margin Desktop-up -->

                      </section>

                  </div>
                  <!-- /Container -->
                </div>
                <!-- /Wrap -->

                <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
