<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/Angry_IP_Scanner">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>The Angry IP Scanner</h1>
                                    <p class="intro desktop-only">
                                        Angry IP scanner is a very fast IP address and port scanner.<br/><br/>
                                        It is cross-platform and lightweight. Not requiring any installations, it can be freely copied and used anywhere.<br/>
                                        Angry IP scanner simply pings each IP address to check if it’s alive, then optionally it is resolving its hostname, determines the MAC address, scans ports, etc.
                                    </p>
                                    <p class="intro mobile-only"><br/><br/>Angry IP scanner is a very fast IP address and port scanner.</p>
                                    <a href="http://angryip.org/download/" target="_blank">
                                        <button type="button" class="btn">DOWNLOAD</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
            </div>

              <div class="wrap">
                  <div class="container main">

                      <% include ../_partials/content/_bluenav-qi.ejs %>

                        <article>
                            <!-- article -->

                            <div class="margin">
                                <h1>Alternative IP Scanner</h1>
                                <h4>How to find your IP Camera in the network with an alternative IP Scanner</h4>
                                <p class="justify">
                                    The
                                    <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.5.msi.zip" target="_blank">IP Camera Tool (Windows)</a>,
                                    <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">IP Camera Tool (MacOSX)</a>
                                    or
                                    <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">IP Camera Tool (Linux)</a>
                                    is for sure the most comfortable way to find your IP camera inside your network. Instructions on how to set up your INSTAR IP camera with the Camera Tool can be found here.
                                </p>
                                <p class="justify">
                                    If, for some reason, the IP Camera Tool does not work on your computer, here are a few other options to discover the IP address. The camera will try to receive an IP address automatically (DHCP) during the first installation. Most routers will give
                                    you a log file of fresh DHCP requests, in which you should be able to find the camera´s IP address. You should reach the cameras login portal by typing this address into the web browser´s address bar.
                                </p>
                                <p class="justify">
                                    If you do not have access to your router or if your router does not have any log files please refer to alternative IP scanners - an examples is:
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <h2 class="post-title">Angry IP Scanner (Windows/MacOSX/Linux)</h2>
                                <p class="justify">
                                    You can find the newest Version
                                    <a href="http://angryip.org/w/Download" target="_blank">here for Windows/MacOSX/Linux</a>
                                    - install and start the application, type in the IP range and start the search.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox1"
                                  role="button"
                                  tabindex="0"
                                  src="/images/IPScanner_Windows_01.jpg" width=450 height=328 layout="responsive" class="shadow">
                              </amp-img>
                              <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>

                                <p>Please fill out the field IP Range with the IP range that your router´s DHCP service is set to.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    If you do not know the IP range, then simply use the command line on Windows, type in "ipconfig" and check your computers IPv4 address (see screenshot below). Use this IP address in Angry IP Scanner and just change the last octet to 1 for the start
                                    IP address and 254 for the last IP address to search the complete /24 subnet. Make sure your camera is disconnected from your network and then press Start to begin the scan.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox2"
                                  role="button"
                                  tabindex="0"
                                  src="/images/IPScanner_Windows_02.jpg" width=450 height=250 layout="responsive" class="shadow">
                              </amp-img>
                              <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                                <p>You can use the ipconfig command to confirm the IP range of your network.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    The scanner will now display all active devices in your network (marked in blue as shown below). In the case below we have 5 active devices.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox3"
                                  role="button"
                                  tabindex="0"
                                  src="/images/IPScanner_Windows_03.jpg" width=450 height=325 layout="responsive" class="shadow">
                              </amp-img>
                              <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                                <p>The scan reveals that there are 5 active devices inside the given IP range.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    Now connect your camera to your router and re-run the scan. The scanner will display a new network device with the hostname "ipcamera" (only VGA cameras). If the Angry IP scanner does not resolve the hostname, it under Tools - Fetchers. If you are
                                    using more then one camera in your network we recommend, you only connect one camera at a time in order to differentiate them.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox4"
                                  role="button"
                                  tabindex="0"
                                  src="/images/IPScanner_Windows_04.jpg" width=450 height=328 layout="responsive" class="shadow">
                              </amp-img>
                              <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                                <p>If you are unsure which host is the camera, unplug the camera and re-scan the network. The now missing entry will reveal the cameras IP address.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    Once you discovered your camera´s IP address, simply copy the address by right-clicking on it and paste it into your web browsers address bar and press the Return button.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox5"
                                  role="button"
                                  tabindex="0"
                                  src="/images/IPScanner_Windows_05.jpg" width=450 height=330 layout="responsive" class="shadow">
                              </amp-img>
                              <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                                <p>Copy the IP address and paste it into your browsers address bar to load the cameras web user interface.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    You will now be greeted by the camera´s login page - the default credentials are username
                                    <strong>admin</strong>
                                    and the password can be left
                                    <strong>blank</strong>
                                    (or type in
                                    <strong>instar</strong>
                                    in case of a HD camera model). Congratulations! You now entered the cameras
                                    <a href="/Web_User_Interface/">Web User Interface</a>.
                                </p>
                            </div>
                            <!-- /margin -->

                        </article>
                        <!-- /article -->
                    </div>
                </div>

                <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
            </body>
        </html>
