<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/Fing_Mobile">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>The Fing Mobile App</h1>
                                    <p class="intro desktop-only">
                                        Fing is the super-fast and reliable network scanning App. Easily discover all the devices on your personal and professional networks from your mobile phone.<br/><br/>
                                        Find out which devices are connected to your Wi-Fi network, in just a few seconds. Fast and accurate, Fing is a professional App for network analysis. A simple and intuitive interface helps you evaluate security levels, detect intruders and resolve network issues.
                                    </p>
                                    <p class="intro mobile-only"><br/><br/>IP Scanner for your iPhone, iPad and Android Smartphone</p>
                                    <a href="https://www.fingbox.com/download" target="_blank">
                                        <button type="button" class="btn">DOWNLOAD</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
            </div>

              <div class="wrap">
                  <div class="container main">

                    <% include ../_partials/content/_bluenav-general.ejs %>

                      <article class="blade wrapper">
                          <!-- article -->

                          <div class="margin">
                              <h1>Alternative IP Scanner</h1>
                              <h4>How to find your IP Camera in the network with an alternative IP Scanner</h4>
                              <p class="justify">
                                  The
                                  <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.5.msi.zip" target="_blank">IP Camera Tool (Windows)</a>,
                                  <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">IP Camera Tool (MacOSX)</a>
                                  or
                                  <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">IP Camera Tool (Linux)</a>
                                  is for sure the most comfortable way to find your IP camera inside your network. Instructions on how to set up your INSTAR IP camera with the Camera Tool can be found here.
                              </p>
                              <p class="justify">
                                  If, for some reason, the IP Camera Tool does not work on your computer, here are a few other options to discover the IP address. The camera will try to receive an IP address automatically (DHCP) during the first installation. Most routers will give
                                  you a log file of fresh DHCP requests, in which you should be able to find the camera´s IP address. You should reach the cameras login portal by typing this address into the web browser´s address bar.
                              </p>
                              <p class="justify">
                                  If you do not have access to your router or if your router does not have any log files please refer to alternative IP scanners - an examples is:
                              </p>
                          </div>
                          <!-- /margin -->

                          <div class="margin">

                              <h2 class="post-title">Fing Mobile (Android/iOS)</h2>

                              <% include ../_partials/content/_Fing_Mobile_Android.ejs %>

                              <% include ../_partials/content/_Fing_Mobile_iOS.ejs %>

                          </div>
                          <!-- /margin -->


                        </article>
                        <!-- /article -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /wrap -->

                <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
            </body>
        </html>
