<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="content blade wrapper">
                    <!-- article -->

                    <div>
                      <table class="twelve columns no-highlight">
                        <tr>
                          <td>
                            <h1 class="inlineHeader">Quick Installation Wizard&nbsp;&nbsp;&nbsp;</h1>
                          </td>
                          <td class="align-right">
                            <a href="http://install.instar.de" target="_blank"><button class="navGo navGoRed">Get Started</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="card-container margin">
                      <div class="onecard twelve columns">
                        <amp-youtube data-videoid="ByMkfVgjl3c" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="margin">
                        <h1>First Steps</h1>

                        <p class="text-justify">This video contains a quick overview over the first steps involved in setting up your IP camera. Please go to the website
                            <a href="http://install.instar.de">Installation Wizard</a>
                            and follow the step by step instructions in order to set up your ip camera. Your will have your camera connected to your LAN or WiFi network in no-time. The following steps will help you to get access to the more advanced features of your camera.<br/><br/></p>
                        <ul>
                            <li>Check out our <a href="/Quick_Installation/After_Unpacking">After Unpacking</a> guide.<br/><br/></li>

                            <li>You cannot find your camera with our Camera Tool for <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.6.msi.zip" target="_blank">Windows</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">macOS</a> or <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">LINUX</a>? Use an <a href="/Quick_Installation/Alternative_IP_Scanner">Alternative IP Scanner</a> or connect your camera <a href="/Quick_Installation/Direct_LAN_Connection">directly with your computer</a>.<br/><br/></li>

                            <li>All camera functions are accessible through the <strong>web user interface</strong>. Click here to access the user guide for the <a href="/Web_User_Interface/1080p_Series/">1080p Series</a> or <a href="/Web_User_Interface/720p_Series/">720p Series</a> Web UI. You can change the language of the UI <a href="/Quick_Installation/Language_Selection">here</a>.<br/><br/></li>
                            <li>If you cannot access your camera´s <strong>live video stream</strong>, take a look <a href="/Quick_Installation/Live_Video">here</a>.<br/><br/></li>

                            <li>The installation wizard already guided you through the generation of an administrator user. If you want to <strong>change your login</strong>, or add user or visitor accounts, click <a href="/Quick_Installation/Creating_User_Accounts">here</a>.<br/><br/></li>

                            <li>It is always <strong>recommended to update</strong> your camera´s web user interface and firmware before you start using it. Get information about updates <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">here</a>.<br/><br/></li>

                            <li>You want to have full access to your camera when on the road? Learn everything about our <a href="/Internet_Access/The_DDNS_Service">DDNS Servcie</a> and how to set a <a href="/Internet_Access/Port_Forwarding">Port Forwarding</a> inside your router.<br/><br/></li>

                            <li>Set up the <a href="/Motion_Detection/Setup">Motion Detection</a> and <a href="/Motion_Detection/Alarm_Notification">Alarm Notification</a>.<br/><br/></li>

                            <li>It is always <strong>recommended to update</strong> your camera´s web user interface and firmware before you start using it. Get information about updates <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">here</a>.<br/><br/></li>

                            <li><p class="text-justify">Please go to the website <a href="http://install.instar.de" target="_blank">www.install.instar.de</a> and follow the step by step instructions in order to set up your IP camera. If you need further information, check our user manuals for the camera models <a href="/Outdoor_Cameras/IN-5905_HD/Usermanual">IN-5905 HD</a>, <a href="/Outdoor_Cameras/IN-5907_HD/Usermanual">IN-5907 HD</a>, <a href="/Indoor_Cameras/IN-6001_HD/Usermanual">IN-6001 HD</a>, <a href="/Indoor_Cameras/IN-6012_HD/Usermanual">IN-6012 HD</a>, <a href="/Indoor_Cameras/IN-6014_HD/Usermanual">IN-6014 HD</a>, <a href="/Outdoor_Cameras/IN-7011_HD/Usermanual">IN-7011 HD</a> and <a href="/Indoor_Cameras/IN-8015_HD/Usermanual">IN-8015 HD</a>.</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <br><br><br>

                    <h1>FAQ's to start with:</h1>
                    <i>Click on a topic to display the information:</i>

                    <amp-accordion disable-session-states class="margin">
                      <section>
                        <h3 class="cgi-accordion-header">+ How to record videos?</h3>
                        <p class="content">INSTAR cameras offer <strong>five</strong> different ways to <a href="/Motion_Detection/Alarm_Recording/">record videos</a>:
                        <br><br>
                        <b><u>1st</u></b> All our HD camera models come with an integrated (expandable) <strong>SD Card</strong> with 4GB, 8GB or 16GB. To calculate how many alarm videos can be recorded on a given capacity, please follw the link to our <a href="http://www.instar.de/tools/calc_sdcapacity">SD Card Calculator</a>.
                        Old recordings will be deleted automatically, once the storage capacity is reached (<strong>Ring Storage</strong>). You can use our <a href="/Software/Android/InstarVision/Recording/">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/Recording">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/Recording">iPad</a>, <a href="/Software/Other_Platforms/InstarVision_Blackberry/">Blackberry</a>, <a href="/Software//Windows/InstarVision/Windows_Phone/Recording">Windows Phone</a> or <a href="/Software/Windows/InstarVision/Metro/Recording">Windows 8/10</a> App to <a href="/Motion_Detection/SD_Card_Access/">Access your Video Recordings</a>.
                        <br><br>
                        <b><u>2nd</u></b> We offer a <strong>Cloud</strong> solution to manage your alarm video recordings. The <a href="/Motion_Detection/INSTAR_Cloud/">INSTAR Cloud</a> offers a simple to use UI to help you to keep an eye on your surveillance. Beside convenience this allows you to store alarm recordings securely off-site - which will be important if your camera is destroyed or it's SD card stolen. The INSTAR Cloud also reduces false-positive alerts by employing a powerful video analysis algorithm, that <strong>sorts out false alarms</strong>.
                        <br><br>
                        <b><u>3rd</u></b> You can use our <strong>Windows Software</strong> <a href="/Software/Windows/InstarVision/">InstarVision 2.0</a> to administrate up to 64 cameras. Use the software for continuous 24/4 recordings or use the advanced motion detection feature to record videos in case of alarm events. The software works independent from your camera - you can still use all the function your camera offers independently. But be aware that the InstarVision 2 Server has to run continuously to use any of it's features.
                        <br><br>
                        <b><u>4th</u></b> You can also use the camera's <strong>FTP Function</strong> (File Transfer Protocol) to send alarm videos to internet or a local FTP server, e.g. a <a href="/Motion_Detection/Router_as_a_FTP_Server/">USB Stick on your Internet Router</a>.
                        <br><br>
                        <b><u>5th</u></b> If you dont want to keep a PC running 24/7, but you still need functions that are only offered by our InstarVision 2 Windows software, consider employing a <strong>NAS System</strong>, e.g. from <a href="/Software/Other_Platforms/Synology/">Synology</a> or <a href="/Software/Other_Platforms/QNAP/">QNAP</a>. Both offer a video surveillance software that supports INSTAR IP cameras and allows you to record videos continuously as well as motion detection triggered alarm recording. All our VGA, HD and FullHD cameras are compatible.
                        <br><br>
                        <b><u>Addition</u>:</b> You can also setup your camera to notify you in case of an alert with an <a href="/Motion_Detection/Alarm_Notification/">Alarm Email</a>. You will be informed about every alarm event and have alarm snapshots stored in your email inbox.
                        </p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ How to Access your Camera with our Smartphone App?</h3>
                        <p class="content">You can use our free App <strong>InstarVision</strong> for <a href="/Software/Android/InstarVision/">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/">iPad</a>, <a href="/Software/Other_Platforms/InstarVision_Blackberry/">Blackberry</a>, <a href="/Software//Windows/InstarVision/Windows_Phone/">Windows Phone</a> and <a href="/Software/Windows/InstarVision/Metro/">Windows 8/10</a> to control your INSTAR IP camera. You can use our app to keep an eye on your camera's live stream, record videos on your phone and screen alarm recordings on your camera's internal SD card. Switch camera function - like the motion detection, alarm output and IR nightvision, or start a two-way communication.</p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ Connection Cable for Outdoor Cameras?</h3>
                        <p class="content">All our outdoor cameras but for the FullHD models, e.g. <a href="/Outdoor_Cameras/IN-9008_HD/">IN-9008 Full HD</a>, have to be installed over a fixed connection cable, that breaks out all the camera ports (Ethernet, Audio-In/Out, Alarm-In/Out, dc Power, Camera Reset). This cable is 80cm in length and difficult to fit through a hole in a wall. To reduce the necessary size of the wall breakthrough, simply <strong>unplug the cable inside the camera</strong> and lead the thin side through the the hole. Instruction videos for the models <a href="https://www.youtube.com/watch?v=boee4eFuJSw" target="_blank">IN-5905 HD</a> and <a href="https://www.youtube.com/watch?v=UxnCqE1YU0k" target="_blank">IN-5907 HD</a> can be found in our <a href="https://www.youtube.com/user/instartv/videos" target="_blank">Youtube Cannel</a>.
                        <br><br>
                        Please do not cut off the cable - this would void your warranty and might damage your cameras internals. The cable can be put into a weatherproof cable box - available at your local hardware store. We also offer <a href="https://www.instar.de/accessories/power-supply-cables.html">extension cables</a> between 3 - 5m.</p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ Heating Element for Outdoor Cameras</h3>
                        <p class="content">In most cases it is not necessary to install a heater inside your camera. But if you want to install your camera in an exposed position - or fear electricity outages (that allow your camera to cool down) - please check our web shop for heating elements for the models <a href="https://www.instar.de/accessories/heaters/heater-for-in-7011hd-1436.html">IN-7011 HD</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-5907hd-1551.html">IN-5907 HD</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-5905hd.html">IN-5905 HD</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-4010v2.html">IN-4010 V2</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-4132.html">IN-4010/11</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-4133.html">IN-2908</a> and <a href="https://www.instar.de/accessories/heaters/heater-for-in-2904-in-2905-in-2969.html">IN-2904/5/7</a>.</p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ Zoom Lenses</h3>
                        <p class="content">All our HD and FullHD Surveillance Cameras don't have an optical zoom, but can use a digital Zoom. A digital Zoom just magnifies a part of the video image, degrading the image quality. But keep in mind that the resolution is much higher then the VGA resolution of older camera models with Zoom lense. The image of an HD or Full HD camera will still look better with a 3-times digital zoom, then the image of a VGA camera with a 3-time optical zoom.</p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ Battery and SIM Card</h3>
                        <p class="content">Our cameras <strong>don't have batteries</strong>, this means that they have to be connected to the included power supply or be powered by an Power-over-Ethernet switch or injector. More information for PoE cameras can be found <a href="https://www.instar.de/poe-netzwerkkameras.html" target="_blank">here</a>..
                        <br><br>
                        Also, our cameras <strong>don't have a SIM Card slot</strong>. You will need a 3G or LTE router to use your cameras notification services, if you want to use your camera in a place without cable internet access. Of course, all function that do not require an internet connection (motion detection, alarm video recording, etc.) are available to you without connecting your camera to an internet router - you can either set up the camera <a href="/Quick_Installation/Direct_LAN_Connection/">Connected Directly</a> to your computer, or, much easier, connect it to an old WiFi router (without internet access).</p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ Length of Alarm Videos</h3>
                        <p class="content">Alarm videos are fixed to a length of 15s + 3s pre-recording. If the movement in front of the camera continuous, a new 15s video will be started after the recording finishes. The settings inside the recording menu (<a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">1080p Models</a> / <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">720p Models</a>) only apply to the file length of planned recordings.</p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ Timelapse Recordings</h3>
                        <p class="content">You can use your camera to record photo series. Those can be configured via the web user interface (<a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">1080p Models</a> / <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">720p Models</a>).The smalles time interval is 1 minute and the biggest is 24 hours. You will need an external software to create a video from those images - how to do this with a free Windows Software is explained in detail <a href="/Software/Windows/InstarVision/Record/Photoseries">here</a>.</p>
                      </section>
                      <section>
                        <h3 class="cgi-accordion-header">+ Synology Surveillance Station or QNAP NAS</h3>
                        <p class="content"><a href="/Software/Other_Platforms/Synology/">Synology</a> and <a href="/Software/Other_Platforms/QNAP/">QNAP</a> offer their own Surveillance Software that is compatible with all of our cameras. You can check out our <a href="/Software/Other_Platforms/Synology/">instruction video</a> on how to setup a Synology NAS to work with our cameras.</p>
                      </section>
                    </amp-accordion>
                    <!-- /margin -->

                </article>
            </div>
        </div>

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
