<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

            <article class="content blade wrapper">
              <!-- article -->
              <h1>First Steps with your new Camera:</h1>
              <div class="margin">
                <p>In the following, we will give you a short introduction to the basic functions of our IP-cameras and the first steps of installation. We will discuss common problems and answer frequently asked questions.</p>
                <p>Please feel free to follow our Installation Guide to guide you through the installation process:</p>
              </div>

              <div class="margin">
                <table class="no-highlight twelve columns">
                  <tr>
                    <td>
                      <h2 class="inlineHeader">Installation Wizard</h2>
                    </td>
                    <td>
                      <a href="http://install.instar.de" target="_blank"><button class="navGo navGoRed">Start!</button></a>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- /margin -->
              <br><br><br><br>
              <div class="margin">
                <h1>Advice for Beginners:</h1>

                <ul>
                  <li>The <a href="https://install.instar.de/">Quick-Installation-Guide</a> already guided you through the installation of your camera and showed you how to set up an user account. If you you want to change the <strong>login data</strong> afterwards, or if you want to add an additional visitor account, click <a href="/Quick_Installation/Creating_User_Accounts">here</a>.<br/><br/></li>
                  <li>If you cannot find your camera with our Instar Camera Tool for <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.6.msi.zip" target="_blank">Windows</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#"
                      target="_blank">macOS</a> and <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">LINUX</a>, you can try using an <a href="/Quick_Installation/Alternative_IP_Scanner">Alternative IP Scanner</a> or you <a href="/Quick_Installation/Direct_LAN_Connection">directly connect</a> your camera with your computer.<br/><br/></li>
                  <li>All camera settings can be adjusted in the <strong>WebUI</strong>. We have a manual about all the functions of our <a href="/Web_User_Interface/1080p_Series/">1080p Series</a> and <a href="/Web_User_Interface/720p_Series/">720p Series</a> WebUI. If the WebUI is not using your preferred language, you will find the manual to change the lagnuage <a href="/Quick_Installation/Language_Selection">hier</a>.<br/><br/></li>
                  <li>We recommend to always use the latest update for your camera. Informations about how to <strong>Update the Camera-Software</strong> can be found <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">here</a>.<br/><br/></li>
                  <li>If you want to <strong>remotely access</strong> your camera thorugh the <strong>Internet</strong>, you can check out our <a href="/Internet_Access/The_DDNS_Service">DDNS Service</a>.<br/><br/></li>
                  <li>If your browser is not playing the <strong>Live Video</strong>, you can find a manual for changing the video mode <a href="/Quick_Installation/Live_Video">here</a>.<br/><br/></li>
                  <li>You can configure the <a href="/Motion_Detection/Setup">Motion Detection</a> and activate the <a href="/Motion_Detection/Alarm_Notification">Alarm Notifications</a>.<br/><br/></li>
                  <li>For further infomration on our cameras you can check out the respective online-manuals: <a href="/Outdoor_Cameras/IN-5905_HD/Usermanual">IN-5905 HD</a>, <a href="/Outdoor_Cameras/IN-5907_HD/Usermanual">IN-5907 HD</a>, <a href="/Indoor_Cameras/IN-6001_HD/Usermanual">IN-6001 HD</a>,
                    <a href="/Indoor_Cameras/IN-6012_HD/Usermanual">IN-6012 HD</a>, <a href="/Indoor_Cameras/IN-6014_HD/Usermanual">IN-6014 HD</a>, <a href="/Outdoor_Cameras/IN-7011_HD/Usermanual">IN-7011 HD</a>, <a href="/Indoor_Cameras/IN-8015_HD/Usermanual">IN-8015 HD</a> und <a href="/Outdoor_Cameras/IN-9008_HD/Usermanual">IN-9008 HD</a>.</li>
                </ul>
              </div>

              <br><br><br>

              <h1>Frequently Asked Questions:</h1>
              <i>To see the answer just click on the topic:</i>

              <amp-accordion disable-session-states class="margin">
                <section>
                  <h3 class="cgi-accordion-header">+ How to save Camera Recordings</h3>
                  <p class="content">In total there are <strong>five</strong> different ways to save the <a href="/Motion_Detection/Alarm_Recording/">video recordings</a> of your camera:<br><br>
                    <b>1.</b> All of our HD IP Cameras have a <strong>SD-Card</strong> with a capacity of 4GB, 8GB oder 16GB, depending on the camera model. <a href="http://www.instar.de/tools/calc_sdcapacity" target="_blank">Here</a> you can calculate how long it takes until the storage of the SD-Card is full.
                    The oldest recordings on the camera will be overwritten by default (<strong>Ring Storage</strong>). <a href="/Motion_Detection/SD_Card_Access/">Access your SD card</a> with our smartphone app InstarVision for <a href="/Software/Android/InstarVision/Recording/">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/Recording">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/Recording">iPad</a>, <a href="/Software/Other_Platforms/InstarVision_Blackberry/">Blackberry</a>, <a href="/Software//Windows/InstarVision/Windows_Phone/Recording">Windows Phone</a> and <a href="/Software/Windows/InstarVision/Metro/Recording">Windows 8/10</a>.<br><br>
                    <b>2.</b> We offer a <strong>Cloud</strong>-solution to easily store recordings of your INSTAR Cameras. The <a href="/Motion_Detection/INSTAR_Cloud/">INSTAR Cloud</a> offers an easy-to-access interface and a good way to manage your recordings. If you are afraid that your camera and SD-Card could be destroyed, the INSTAR Cloud will give you the means to secure your recordings.<br><br>
                    <b>3.</b> You can use the <a href="/Software/Windows/InstarVision/">InstarVision 2.0 Surveillance Center</a>, a <strong>Windows PC Software</strong> made by us. With this Software it is not only possible to show the live video of all your cameras at the same time, you can also start recordings and save them on your computer.<br><br>
                    <b>4.</b> It is also possible to use the <strong>FTP</strong> (File Transfer Protocol) service to send your recordings to other devices, for example to an <a href="/Motion_Detection/Router_as_a_FTP_Server/">USB-Stick connected to your router</a> or a hard-drive in your network.<br><br>
                    <b>5.</b> If you want to make permanent recordings you can also use <strong>NAS Systems</strong>, e.g. <a href="/Software/Other_Platforms/Synology/">Synology</a> or <a href="/Software/Other_Platforms/QNAP/">QNAP</a>. These have their own surveilance software and support all our camera models.<br><br>
                    <b>Addition:</b> You can also activate the <a href="/Motion_Detection/Alarm_Notification/">E-Mail Service</a>, to receive snapshots by email after an alarm was triggered.
                  </p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ Camera-Access via Smartphone-App</h3>
                  <p class="content">Use our free App <strong>InstarVision</strong> für <a href="/Software/Android/InstarVision/">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/">iPad</a>, <a href="/Software/Other_Platforms/InstarVision_Blackberry/">Blackberry</a>, <a href="/Software//Windows/InstarVision/Windows_Phone/">Windows Phone</a> und <a href="/Software/Windows/InstarVision/Metro/">Windows 8/10</a> to access the live video of your IP Camera. Moreover, you can access your SD Card and check alarm recordings and use functions such as activating-/ deactivating the motion detection or use the camera and smartphone as an intercommunication system.</p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ External Cables of the Outdoor-Cameras</h3>
                  <p class="content">Except for our FullHD-models, all of our cameras have a so called <strong>cable-tree</strong>, which consists of all cable-connectors for the camera. This cable tree is 80cm long and relatively thick. If you don´t want to drill a big hole through your wall, you can <strong>remove those cables</strong> from your camera and then put the "thin end" through the wall. A video manual can be found in our <a href="https://www.youtube.com/user/instartv/videos" target="_blank">Youtube Channel</a> - <a href="https://www.youtube.com/watch?v=boee4eFuJSw" target="_blank">IN-5905 HD</a> and <a href="https://www.youtube.com/watch?v=UxnCqE1YU0k" target="_blank">IN-5907 HD</a>.<br> We strongly advice against cutting the cables, as you will not only lose the guarantee for your camera, you also risk damaging of your camera. A solution would be to use a weatherproof cable-box to store the cable-tree.</p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ Heater for the Outdoor-Cameras</h3>
                  <p class="content">Whether a heater is neceessary for your camera depends on the location you want to install it in. Our cameras can be used down to -5 Degree Celsius. If the temperatures get even lower, the camera might not be damaged. However, it is poosible that the camera will turn off and can not be accessed until normal operating temperatures are reached again. The installation of a heater would guarantee the permanent operation of the camera. You can find heaters for the camera models <a href="https://www.instar.de/accessories/heaters/heater-for-in-7011hd-1436.html">IN-7011 HD</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-5907hd-1551.html">IN-5907 HD</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-5905hd.html">IN-5905 HD</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-4010v2.html">IN-4010 V2</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-4132.html">IN-4010/11</a>, <a href="https://www.instar.de/accessories/heaters/heater-for-in-4133.html">IN-2908</a> and <a href="https://www.instar.de/accessories/heaters/heater-for-in-2904-in-2905-in-2969.html">IN-2904/5/7</a> in our shop.</p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ Zoom-Lens</h3>
                  <p class="content">All of our HD- and FullHD-Cameras do not have optical zoom lenses, but do offer digital zoom. Due to their resolution our HD cameras still offer a better quality with their 3-times digital zoom than our VGA-cameras with their "lossless" optical zoom.</p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ Battery and/or SIM-Card</h3>
                  <p class="content">Our cameras do not have an internal <strong>Battery</strong>, therefore they must constantly be connected via power adapter.
                  <br>Our cameras do not have a <strong>SIM-Card-Slot</strong>. If you want to use the camera at a location without internet access, you can use a mobile LTE-Router. The camera can then be connected to the router and will have access to the internet.</p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ Length of the Alarm-Videos</h3>
                  <p class="content">The alarm video starts 3 seconds before the alarm event and ends 15 seconds after - in total the alarm video is 17-18s. If the movement continues after the recording, a new alarm event will be triggered and a new 15s video will be recorded.</p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ Time Lapse Recordings</h3>
                  <p class="content">With all of our cameras you can create timelapse videos, for example if you want to document the progress fo a construction site. Activate the photo series inside the WebUI (<a href="/Web_User_Interface/1080p_Serie/Aufnahme_Aufgaben/Video/">1080p Models</a> / <a href="/Web_User_Interface/720p_Series/Recording/Video/">720p Models</a>) to take a snapshot in scheduled intervals, which you can afterwards combine to a timelapse video. Check our <a href="/Software/Windows/InstarVision/Record/Photoseries">Timelapse Guide</a> for detailed information on how to create a timelapse video.</p>
                </section>
                <section>
                  <h3 class="cgi-accordion-header">+ Synology Surveillance Station and QNAP NAS</h3>
                  <p class="content">Synology and QNAP have their own surveilance software and can use the live video of our cameras. All of our HD- and FullHD Cameras are comaptible. For the implementation of our cameras into their surveilance station you can follow our <a href="/Software/Other_Platforms/Synology/">manual</a>.</p>
                </section>
              </amp-accordion>

              <!-- /margin -->

            </article>
            <!-- /article -->
            </div>
        </div>

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
