<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/How_Does_An_IP_Camera_Work">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

      <div class="wrap">
          <div class="container main">

              <% include ../_partials/content/_bluenav-qi.ejs %>

                <article class="content">
                    <!-- article -->
                    <div class="margin">
                        <amp-youtube data-videoid="ByMkfVgjl3c" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                    </div>

                    <div class="margin">
                        <h1>First Steps</h1>
                        <p class="text-justify">This video contains a quick overview over the first steps involved in setting up your IP camera. Please go to the website
                            <a href="http://install.instar.de">Installation Wizard</a>
                            and follow the step by step instructions in order to set up your ip camera.</p>
                        <ul>
                            <li>Initial setup - Power supply, Wifi Antenna and camera boot up</li>
                            <li><a href="http://wiki.instar.com/index.php/LAN_Connection">Network integration</a>
                                (<a href="http://wiki.instar.com/index.php/Local_Area_Network">LAN</a>)</li>
                            <li>The INSTAR search tool (<a href="http://wiki.instar.com/index.php/INSTAR_Camera_Tool">Search Tool</a>) and web user interface (<a href="http://wiki.instar.com/index.php/Web_User_Interface">webUI</a>)</li>
                            <li>How to set a static IP address (<a href="http://wiki.instar.com/index.php/IP_Address">TCP/IP</a>)</li>
                            <li>Camera login and standard passwords (<a href="http://wiki.instar.com/index.php/Creating_User_Accounts#Default_Logins">Default Passwords</a>)</li>
                            <li><a href="http://wiki.instar.com/index.php/First_steps_to_set_up_a_Wifi_connection">Wifi integration</a> (<a href="http://wiki.instar.com/index.php/Wireless_Local_Area_Network">WLAN</a>)</li>
                            <li>Image quality settings (<a href="http://wiki.instar.com/index.php/Web_User_Interface#Multimedia">Image Settings</a>)</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                </article>
            </div>
        </div>

        <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
