<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

            <article class="blade wrapper content">
                <!-- article -->

                <h1>How does an IP-Camera work?</h1>
                <div class="margin">
                  <p>An IP camera is a complex product. However, it is not complicated to operate a INSTAR product. In the following we want to give you an introduction to the basic functions of an IP camera. For more information about our cameras you can continue reading the <a href="/Quick_Installation/First_Steps/">First Steps</a>, where we will dive a little deeper.</p>
                </div>


                  <div class="card-container margin">
                    <div class="onecard">
                      <amp-youtube data-videoid="JWa1L_rBRW4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                    </div>
                  </div>

                    <div class="margin">
                      <h4>What is an IP camera and how does it work?</h4>
                      <p>The "IP" in IP-camera stands for "Internet Protocol". This implies that the camera is being connected with a network, from which it can be accessed by other devices. The access is not only possible within the same network, but even through the internet.<br>
                      Using our IP cameras works like this:
                    <ul>
                      <li>You connect your IP camera via LAN cable or wireless with your router. When your computer or smartphone is connected to the same router, you just type the camera´s IP address into your browsers  address bar to access the web user interface (<a href="/Web_User_Interface/1080p_Series/">1080p models</a> / <a href="/Web_User_Interface/720p_Series/">720p models</a>).</li>
                      <li>You can also remotely access your camera through the internet. This is possible via <a href="/Internet_Access/The_DDNS_Service/">DDNS address</a> or via a <a href="/Internet_Access/Point_to_Point/">Point-to-Point</a> connection.</li>
                      <li>When you access your camera, you will enter its Web User Interface <a href="/Web_User_Interface/1080p_Series/">1080p models</a> / <a href="/Web_User_Interface/720p_Series/">720p models</a>. There you can see the current live video and adjust settings such as alarms, schedules or video configuration. Those settings will be saved on the camera.</li>
                      <li>The camera is operating 24/7 and will notify you if something moves within the camera´s field of view. How sensitive the camera´s <a href="/Motion_Detection/Setup/">motion detection</a> is, and what happens after the alarm was triggered, can be set individually for each camera. Manual or planned recordings following a <a href="/Motion_Detection/Alarm_Recording/">schedule</a> are possible as well.</li>
                    </ul>
                  <p>This is the basic concept of our cameras. For further information, you can check out the  <a href="/Quick_Installation/First_Steps/">First Steps</a> or you browse our Wiki. Of course you can ask us your unanswered questions <a href="https://www.instar.de/contact_us/">personally</a> as well.</p>
                  </p><br>
                    </div>
                    <!-- /margin -->
            </article>
            </div>
        </div>

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
