<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Language Selection</h1>
                        <h4>How to set the Language in the Web User Interface?</h4>
                        <p class="justify">
                            The new INSTAR web interface for your ip camera detects automatically what default language your web browser is using. By default the web interface will be loaded in the language which is used by your web browser. You can also click <a href="/Web_User_Interface/1080p_Series/System/Language/">System / Language</a> for <strong>1080p cameras</strong>, or
                            <a href="/Web_User_Interface/720p_Series/Software/Language/">Software / Language</a>
                            on the left side navigation of your <strong>720p camera</strong>, in order to select the language you would like to use.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>1080p Cameras</h2>
                      <amp-img
                          on="tap:Spracheinstellung_fullHD_EN1"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Spracheinstellung_fullHD_EN1.png" width=1115 height=599 layout="responsive" class="shadow">
                      </amp-img>

                        <p>Go to <a href="/Web_User_Interface/1080p_Series/System/Language/">System / Language</a> and choose the language you want to load the user interface in.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>720p Cameras</h2>
                      <amp-img
                          on="tap:Spracheinstellung_HD_EN1"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Spracheinstellung_HD_EN1.jpg" width=700 height=378 layout="responsive" class="shadow">
                      </amp-img>

                        <p>Go to <a href="/Web_User_Interface/720p_Series/Software/Language/">Software / Language</a> ...</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Spracheinstellung_HD_EN2"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Spracheinstellung_HD_EN2.jpg" width=700 height=378 layout="responsive" class="shadow">
                      </amp-img>

                        <p>... and choose the language you want to load the user interface in.</p>
                    </div>
                    <!-- /margin -->

                  </article>
                        <!-- article -->

                        <!-- ###################### Lightboxes ######################## -->

                        <amp-image-lightbox id="Spracheinstellung_fullHD_EN1" layout="nodisplay"></amp-image-lightbox>
                        <amp-image-lightbox id="Spracheinstellung_HD_EN1" layout="nodisplay"></amp-image-lightbox>
                        <amp-image-lightbox id="Spracheinstellung_HD_EN2" layout="nodisplay"></amp-image-lightbox>


                    </div>
                    <!-- wrap -->
                </div>
                <!-- container -->

                <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
            </body>
        </html>
