<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick_Installation/Live_Video/Kaspersky_2013">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Kaspersky Internet Security 2013</h1>
                                <h2>Set an Exception for your IP Camera</h2>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  In some cases it can be that the virus scanner Kaspersky is blocking the video stream of the camera. Actually it blocks the ActiveX and Quicktime Plugin from receiving the cameras video stream. In this case you will need to set an exception in Kaspersky so it does not block the camera any more.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_01_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_01_EN.jpg" width="650" height="487" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Step 1</strong>: Please open the program Kaspersky by clicking the Kaspersky symbol on the right side of the windows task bar. Another way is to open the start menu and to choose the program directly. Once opened please click Settings on the upper right side.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_02_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_02_EN.jpg" width="650" height="474" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 2</strong>: In the window General protection settings please select the setting Web Anti-Virus on the left side.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_03_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_03_EN.jpg" width="650" height="603" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 3</strong>: In the Web Anti-Virus settings please click on Settings.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_04_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_04_EN.jpg" width="500" height="460" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 4</strong>: Please click on Trusted URLs on the upper right and then select Add as shown below.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_05_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_05_EN.jpg" width="350" height="138" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 5</strong>: Please type in the IP address of your camera. It is very important to set a star character (*) before and after the IP address.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_06_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_06_EN.jpg" width="500" height="460" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 6</strong>: If you done correctly you should be able to see your cameras IP in the list of trusted URLs. Next please confirm all settings with OK.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Step 7</strong>: Finally please reload the web interface of your IP camera. This can be done by either clicking the refresh button next to the address bar of your web browser or you can close your web browser and type in the IP address of your IP camera again.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Kaspersky_Internet_Security_01_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_02_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_03_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_04_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_05_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_06_EN" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
