<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <link rel="canonical" href="/Quick_Installation/Live_Video/AVG">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>GDATA Internet Security</h1>
                                <h2>Set an Exception for your IP Camera</h2>
                            </div>
                        </div>

                        <div class="card-container">
                          <div class="onecard twelve columns">
                            <amp-youtube data-videoid="f8_yPDpo5hE" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  Es kann leider vorkommen das Ihr Virenscanner GDATA den Videostream der Kamera blockiert bzw. das ActiveX Steuerelement oder das Quicktime Plugin daran hindert entsprechend den Stream wiederzugeben. In diesem Fall ist es nötig eine Ausnahmeregel im Kaspersky zu setzen um so die Kamera nicht zu blockieren.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:GDATA_01"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/GDATA_01.png" width="879" height="502" layout="responsive" class="shadow">
                          </amp-img>
                              <div>
                                  <p class="justify">
                                    <strong>Step 1</strong>: Wenn GDATA den Videostream blockiert, muss die IP Adresse der Kamera zu den vertrauenswürdigen Seiten hinzugefügt werden.
                                  </p>
                              </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:GDATA_02"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/GDATA_02.png" width="879" height="552" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 2</strong>: Öffnen Sie das Programm GDATA indem Sie unten rechts in der Taskleiste auf das GDATA Symbol klicken oder über das Start Menü entsprechend das Programm auswählen. Bitte klicken Sie dann in GDATA Webschutz.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:GDATA_03"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/GDATA_03.png" width="879" height="550" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 3</strong>: Wählen Sie dort eine Ausnahme festlegen aus.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:GDATA_04"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/GDATA_04.png" width="877" height="550" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 4</strong>: Klicken Sie auf Neu um eine neue Ausnahme festzulegen.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:GDATA_05"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/GDATA_05.png" width="880" height="551" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 5</strong>: Geben Sie hier die IP Adresse Ihrer INSTAR IP Kamera ein.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:GDATA_06"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/GDATA_06.png" width="879" height="545" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Step 6</strong>: Und bestätigen Sie die Eingabe und laden Sie die Weboberfläche der Kamera erneut.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  Starten Sie zum Schluss die Weboberfläche der Kamera erneut. Dies können Sie tuen indem Sie die Adresse im Webbrowser aktualisieren oder den Webbrowser einmal komplett schließen und anschließend die IP Adresse erneut im Webbrowser eingeben.<br><br>
                                  Sollten Sie Fragen oder Probleme bei den Einstellungen haben, so können Sie uns jederzeit innerhalb unserer Bürozeiten erreichen. Wir werden alles tun um Ihre Probleme schnellstmöglich zu lösen.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="GDATA_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="GDATA_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="GDATA_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="GDATA_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="GDATA_05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="GDATA_06" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
