<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick_Installation/Live_Video/MJPEG">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <section class="blade wrapper content">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>The MJPEG Videostream</h1>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <h2>How to get a live video stream in Edge?</h2>
                                <p class="justify">
                                    With Windows 10 Microsoft offers a new web browser to substitute the old Internet Explorer. Due to the omission of plugin support, using your HD IP camera becomes a little bit more challenging. But fear not, your camera is still going to work under
                                    Windows 10 and the following paragraphs will show you how.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox1"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_00.png" width="1000" height="328" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    The MJPEG stream does not rely on plugins and runs without problems inside Microsoft Edge. Please be aware that the MJPEG stream uses more bandwith resources on your network then the h.264 stream. If images from your camera arrive too late, due to
                                    this Ethernet traffic jam, you might experience a flicker inside the live video. Please go to Multimedia / Video and reduce the streams resolution to prevent this effect.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox2"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_01.png" width="1000" height="595" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Start the Microsoft Edge browser and type in your camera´s IP address into the address bar. If Edge is your default browser, simply use the INSTAR camera tool and double click on your camera.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox3"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_02.png" width="1000" height="608" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Now click on the h.264 / MJPEG toggle to activate the MJPEG stream.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox4"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_03.png" width="1000" height="605" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    The MJPEG stream is now active (MJPEG has to be red) and should display a video. You can adjust the quality of the MJPEG stream under Multimedia/Video - Choose a smaller resolution if you experience a image flicker due to bandwidth restrictions.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <h3>The h.264 Stream</h3>
                                <p class="justify">
                                    The h.264 stream is a lot more efficient compared to the MJPEG stream and can usually be displayed in a higher quality without overly affecting your network. But as mentioned above, the necessary plugin for the h.264 stream is no longer supported by
                                    Microsofts new browser. Here is how to use it anyway:
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox5"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_04.png" width="1000" height="607" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Click on the 3 dots in the top right corner of the Edge browser and select Open with Internet Explorer.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox6"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_05.png" width="1000" height="612" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Your camera´s web user interface will now be loaded inside Internet Explorer 11. Type in your username and password to login.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox7"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_06.png" width="1000" height="612" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    If you have activated the MJPEG stream before, please click on the h.264 / MJPEG toggle again to go back to the h.264 mode (h.264 has to be red).
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox8"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_07.png" width="1000" height="589" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Now simply follow the instruction inside the webUI. First click on ActiveX Plugin to download the control element.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox9"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_08.png" width="1000" height="710" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Confirm it´s installation by clicking on Run.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox10"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_09.png" width="1000" height="751" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Click Yes to start the installation routine.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox11"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_10.png" width="1000" height="681" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox11" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Click Next to start the installation wizard.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox12"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_11.png" width="1000" height="589" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox12" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Click Install to continue.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox13"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_12.png" width="1000" height="590" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox13" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Click Finish to to finalize the installation.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox14"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_13.png" width="1000" height="716" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox14" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    Now reload the page and confirm the execution of the plugin by clicking on Allow.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox15"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_14.png" width="1000" height="709" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox15" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    The plugin should now load and display the live video. You right-click the Internet Explorer icon in your taskbar to pin it and make it available for you in the future.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <h3>What if your video does not show?</h3>
                                <p class="justify">
                                    If the plugin tells you that it is connected, but the video still stays black, you might have to switch the Display Mode of the ActiveX plugin. Simply right-click the black video area and choose the Direct Draw method! If the video still fails to
                                    load, please check your virus scanner, firewall or web guard (see related topics below).
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox16"
                              role="button"
                              tabindex="0"
                              src="/images/Microsoft-Edge_15.png" width="1000" height="623" layout="responsive" class="shadow">
                          </amp-img>
                          <amp-image-lightbox id="lightbox16" layout="nodisplay"></amp-image-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    If the plugin tells you that it is connected, but the video still stays black, you might have to switch the Display Mode of the ActiveX plugin. Simply right-click the black video area and choose the Direct Draw method!
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
