<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/The_DDNS_Service/">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

                <section class="hero mobile-down">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>The ONVIF Service</h1>
                                    <p class="intro">
                                      The surveillance industry has created an open standard protocol <a href="http://www.onvif.org/Home.aspx" target="_blank">called ONVIF</a> that allows cameras to communicate with each other and with network recording devices. ONVIF has different versions of compatibility that dictate which features can be integrated into the system. In some cases a camera can have basic video compatibility but lack the ability to do more advanced features, such as motion detection. All our IP product are 100% ONVIF compatible with version 2.0.1 of Profile S for IP security cameras.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-qi.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h4 class="post-title">All current INSTAR 720p IP cameras are compliant with the ONVIF Provile S Version 2.0.1</h4>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>The ONVIF Service</h3>
                        <p>The surveillance industry has created an open standard protocol <a href="http://www.onvif.org/Home.aspx" target="_blank">called ONVIF</a> that allows cameras to communicate with each other and with network recording devices. ONVIF has different versions of compatibility that dictate which features can be integrated into the system. In some cases a camera can have basic video compatibility but lack the ability to do more advanced features, such as motion detection. All our IP product are 100% ONVIF compatible with version 2.0.1 of Profile S for IP security cameras.<br><br>ONVIF does no policing of its standards. Sometimes companies say that a device is ONVIF compliant when it is not.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                        <a href="http://www.onvif.org/Documents/Specifications.aspx" target="_blank">
                          <amp-img src="/images/ONVIF_Device_Manager_00.png" width="1000" height="437" layout="responsive" class="shadow"></amp-img>
                        </a>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>How to check your ONVIF version?</h2>
                        <p>If you want to use your INSTAR camera with an ONVIF recording device (NVR, NAS, etc.), you will need to contact the manufacturer or retailer of the device and ask them what version of ONVIF they support. If they do not give you a version number and instead just say "Profile S" or "ONVIF compliance" with no version number, they have dodged your question. You can check the ONVIF Version of your IP camera with a Windows tool called <strong>ONVIF Device Manager</strong>. You can download it from <a href="http://sourceforge.net/projects/onvifdm/" target="_blank">HERE</a></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                        <a href="http://sourceforge.net/projects/onvifdm/" target="_blank">
                          <amp-img src="/images/ONVIF_Device_Manager_01.png" width="1000" height="535" layout="responsive" class="shadow"></amp-img>
                        </a>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>The ONVIF Device Manager</h3>
                        <p>Start the ONVIF Device Manager and type in your camera login. Select your camera from the list of discovered ONVIF devices inside your local network.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/ONVIF_Device_Manager_02.png" width="1000" height="706" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Click on Identification and check your camera´s ONVIF Version. Make sure that all your ONVIF devices support the same standard.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/ONVIF_Device_Manager_03.png" width="1000" height="687" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><strong>All current INSTAR HD IP cameras are compliant with the ONVIF Provile S version 2.0.1</strong></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/ONVIF_Device_Manager_04.png" width="1000" height="396" layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>The supported ONVIF version dictates the available functions. Be aware that, due to this restriction, the amount of functions can be reduced if your INSTAR camera is not suported natively by your recording device.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
        </div>

        <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
