<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article ü ä ö  -->

                    <h1>Power over Ethernet</h1>
                    <div class="margin">
                      <h3>PoE Requirements</h3>
                      <p>Power over Ethernet or PoE describes systems which pass electric power along with data on twisted pair Ethernet cabling. This allows a single cable to provide both data connection and electric power to devices such as IP cameras.</p>
                      <p>You either need a <strong>PoE Injector</strong>, to add power to the Ethernet cable for a single camera, or a centrally installed <strong>PoE Switch</strong>, that supplies a larger number of cameras.</p>
                      <p>The injector or switch has to be connected to your router. And your PoE camera is connected to the switch or injector:</p>
                    </div>

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                  on="tap:PoE_Setup"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Quick_Installation/anschlussplan-poe8000-switch.jpg" width=600 height=600 layout="responsive">
                              </amp-img>
                            </div>
                            <div class="action">
                              <h3>PoE Setup</h3>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <amp-img
                                  on="tap:PoE_Splitter"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Quick_Installation/poe-splitter-12v.png" width=600 height=600 layout="responsive">
                              </amp-img>
                            </div>
                            <div class="action">
                              <h3>PoE Splitter</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="primarycard">
                      <h4>Can I connect my WiFi camera over PoE?</h4>
                      <p><strong>Yes!</strong> None-PoE cameras, like the models <a href="/Outdoor_Cameras/IN-5905_HD/">IN-5905 HD</a> or <a href="/Indoor_Cameras/IN-6001_HD/">IN-6001 HD</a> can be connected to your network and powered by PoE using a <strong>PoE Splitter</strong>.</p>
                      <p>Make sure to use a <a href="https://www.instar.de/accessories/poe-accessories/poe-splitter-5v.html" target="_blank">5V Splitter</a> or a 5V camera model, like the IN-6001 HD, while models like the IN-5905 HD need a <a href="https://www.instar.de/accessories/poe-accessories/poe-splitter-12v.html" target="_blank">12V Splitter</a>.</p>
                    </div>

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=367 width=500 layout=responsive src="/images/Products/IN-PoE_Splitter.jpg"></amp-img>
                            </div>
                            <div class="action">
                              <h3>IN-PoE Splitter</h3>
                              <br>
                              <p>Use a PoE Splitter to power your WiFi camera. Available for <a href="https://www.instar.de/accessories/poe-accessories/poe-splitter-5v.html">5V camera models</a> and <a href="https://www.instar.de/accessories/poe-accessories/poe-splitter-12v.html">12V camera models</a>.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=367 width=500 layout=responsive src="/images/Products/IN-PoE_1000_web.png"></amp-img>
                            </div>
                            <div class="action">
                              <h3>IN-PoE 1000</h3>
                              <br>
                              <p>Our IN-PoE 1000 Power-over-Ethernet Injector powers a single PoE device and is available in <a href="http://www.instar.de/accessories/poe-accessories/in-poe1000-poe-injector-black.html" target="_blank">black</a> and <a href="http://www.instar.de/accessories/poe-accessories/in-poe1000-poe-injector-white.html" target="_blank">white</a>.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=367 width=500 layout=responsive src="/images/Products/IN-PoE_8000_web.png"></amp-img>
                            </div>
                            <div class="action">
                              <h3>IN-PoE 8000</h3>
                              <br>
                              <p>The <a href="http://www.instar.de/accessories/poe-accessories/in-poe-8000-poe-switch.html" target="_blank">IN-PoE 8000</a> Power-over-Ethernet Switch for up to 7 INSTAR PoE Cameras.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=367 width=500 layout=responsive src="/images/Products/IN-PoE_4000_web.png"></amp-img>
                            </div>
                            <div class="action">
                              <h3>IN-PoE 4000</h3>
                              <br>
                              <p>The <a href="http://www.instar.de/accessories/poe-accessories/in-poe-4000-poe-switch.html" target="_blank">IN-PoE 4000</a> Power-over-Ethernet Switch for up to 4 INSTAR PoE Cameras.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="margin">
                      <h3>PoE Camera Models</h3>
                      <p>INSTAR offers a range of PoE camera models. Please be aware that in this case the WiFi module is replaced by a PoE module. Those cameras don't have WiFi antenna and cannot be connected to your network wirelessly. But every PoE camera is delivered with a regular power supply and can be powered without the need of a PoE switch or injector.</p>
                      <ul>
                        <li>IN-6014 HD PoE (<a href="https://www.instar.de/poe-netzwerkkameras/in-6014hd-poe-black-power-over-ethernet-innenkamera-hd-ip-kamera.html" target="_blank">black</a> / <a href="https://www.instar.de/poe-netzwerkkameras/in-6014hd-poe-white-power-over-ethernet-innenkamera-hd-ip-kamera.html" target="_blank">white</a>)</li>
                        <li>IN-3011 PoE (<a href="https://www.instar.de/poe-netzwerkkameras/in-3011-poe-black.html" target="_blank">black</a> / <a href="https://www.instar.de/poe-netzwerkkameras/in-3011-poe-white.html" target="_blank">white</a>)</li>
                        <li>IN-5907 HD PoE (<a href="https://www.instar.de/poe-netzwerkkameras/in-5907hd-poe-silver.html" target="_blank">silver</a> / <a href="https://www.instar.de/poe-netzwerkkameras/in-5907hd-poe-black.html" target="_blank">black</a>)</li>
                      </ul>
                    </div>

                </article>

                <amp-image-lightbox id="PoE_Setup" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="PoE_Splitter" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
