<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article ü ä ö  -->

                    <h1>Powerline <a href="/Products/IN-LAN/" target="_blank"><button type="button" name="button" class="btn float-right">Installation</button></a></h1>
                    <h2>Network over your Power Grid</h2>
                    <div class="margin">
                      <amp-youtube data-videoid="q3yBixX9UmI" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      <p class="justify"><strong>IN-LAN</strong> is an intelligent and secure technology that lets you set up a home network easily via your household power grid - without the need of complex and expensive dedicated cabling. IN-LAN communication now attains speeds you would expect from other LAN technologies. IN-LAN uses the household power grid to transfer data between computers equipped with suitable adapters and other network components. As a result, any power outlet can be used as a network access point. State-of-the-art technology ensures that the power and data networks do not interfere with one another.</p>
                    </div>

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                                <amp-img noloading height=281 width=694 layout=responsive src="/images/Products/IN-LAN500-Installation.png"></amp-img>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container -->

                    <div class="primarycard margin">
                      <h4>Powerline vs Power-over-Ethernet</h4>
                      <p class="justify"><strong>Powerline</strong> allows you to connect your camera to your local network over the power grid. The camera still needs to be powered by the included power supply. <strong>Power-over-Ethernet</strong> combines both the network as well as the power supply in a regular Ethernet cable. You only need a <a href="/Quick_Installation/Power_over_Ethernet/">PoE Injector</a> or <a href="/Quick_Installation/Power_over_Ethernet/">PoE Switch</a> to add the voltage to the Ethernet cable.</p>
                    </div>

                    <div class="margin">
                      <h4>What is the difference between IN-LAN 500 &amp; IN-LAN 500p?</h4>
                      <p class="justify">The <strong>P</strong> in IN-LAN 500p stands for pass-through. Unlike the base model the 500p will block your power outlet but pass through the existing one. Both models offer the same advantages otherwise::</p>
                      <ul>
                        <li>Use existing power lines to implement a network with IN-LAN.</li>
                        <li>Very simple plug&amp;play technology. Just plug into the wall socket and you're done.</li>
                        <li>Ultra-fast data transfer up to 500Mbps.</li>
                        <li>Expand your network with for e.g. IP cameras without laying network cables.</li>
                        <li>A very detailed instruction will make the installation very easy.</li>
                      </ul>
                    </div>

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=300 width=300 layout=responsive src="/images/Products/In-lan_500.jpg"></amp-img>
                            </div>
                            <div class="action">
                              <h3>IN-LAN 500</h3>
                              <br>
                              <p>Available in <a href="https://www.instar.de/accessories/netzwerk-ueber-die-steckdose-powerline-dlan/in-lan-500.html">white</a>.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                                <amp-img noloading height=300 width=300 layout=responsive src="/images/Products/In-lan_500p_white.jpg"></amp-img>
                            </div>
                            <div class="action">
                              <h3>IN-LAN 500p</h3>
                              <br>
                              <p>Available in <a href="https://www.instar.de/accessories/netzwerk-ueber-die-steckdose-powerline-dlan/in-lan-500p-black.html" target="_blank">black</a> and <a href="https://www.instar.de/accessories/netzwerk-ueber-die-steckdose-powerline-dlan/in-lan-500p-white.html" target="_blank">white</a>.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Card Container ä ö ü -->

                    <div class="dangercard margin">
                      <h4>Installation Warnings</h4>
                      <ul>
                        <li><p>Powerline communication will fail. if both adaptors (one at your router / the other for your camera) are not connected to the same phase on your powergrid.</p></li>
                        <li><p>The Powerline network can suffer quality issues, if the cables, used in your power grid are old.</p></li>
                        <li><p>Always directly plug in your IN-LAN adaptors into a wall socket. Don't use extensions cords.</p></li>
                      </ul>
                    </div>

                </article>
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
