<!DOCTYPE html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="/Quick_Installation/">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "<%= headline %>",
        "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
  </script>

  <% include ../_partials/amp/_amp-boilerplate.css %>
  <% include ../_partials/amp/_ampLandingCustom.css %>

</head>

<body>

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ../_partials/amp/_ampLandingSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">
        <% include ../_partials/amp/_ampLandingHeader.ejs %>
    </header>

    <div class="wrap">
        <div class="content">

            <section class="large-cta">
              <div class="cta-container">
                <h1>INSTAR Wiki 2.0</h1>
                <h2>Quick Installation Guides</h2>
              </div>
            </section>

            <!-- ########################## Quick Installation ############################### -->

            <section class="tile-wall">
                <h1>Quick Installation</h1>
                <div class="container">

                  <!-- ################################ desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Quick_Installation/How_Does_An_IP_Camera_Work/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-How_Does_An_IP_Camera_Work_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Quick_Installation/First_Steps/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-First_Steps_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Quick_Installation/After_Unpacking/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-After_Unpacking_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Quick_Installation/Direct_LAN_Connection/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Direct_Connection_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Quick_Installation/Alternative_IP_Scanner/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Alternative_IP_Scanner_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Quick_Installation/Language_Selection/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Language_Selection_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Quick_Installation/Live_Video/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Live_Video_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Quick_Installation/Creating_User_Accounts/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Creating_User_Accounts_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-WebUI_And_Firmware_Upgrade_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container">
                              <a class="card centered tile" href="/Quick_Installation/How_To_Clear_Your_Browsing_History/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Clear_History_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                              <a class="card centered tile" href="/Quick_Installation/Set_Up_A_Wireless_Connection/">
                                  <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Wireless_Connection_white.png">
                                      </amp-img>
                                  </div>
                              </a>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Quick_Installation/How_Does_An_IP_Camera_Work/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-How_Does_An_IP_Camera_Work_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>LAN or Wifi connectivity - Remote access to your camera via DDNS - Internal IP address vs internet address - What is the difference between the internal IP (LAN) and the external IP address (WAN) - Internal port / external port - How to open a door to the internet (Port Forwarding)</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/First_Steps/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-First_Steps_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>This video contains a quick overview over the first steps involved in setting up your IP camera. Please go to the website Installation Wizard and follow the step by step instructions in order to set up your ip camera. The following steps will help you to get access to the more advanced features of your camera...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/After_Unpacking/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-After_Unpacking_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The following video contains a quick overview over the necessary steps of the network integration. Please go to the website www.install.instar.de and follow the step by step instructions in order to set up your IP camera. If you need further information, check our user manuals for your camera model...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Direct_LAN_Connection/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Direct_Connection_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The following instructions will explain to you step by step how you can create a direct LAN connection between your computer and an INSTAR IP camera. Use this approach if you want to use the camera in an area, that does not provide a network infrastructure...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Alternative_IP_Scanner/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Alternative_IP_Scanner_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The easiest way to search our camera inside your local network is our INSTAR Camera Tool for Windows, macOS und LINUX. Or use an alternate IP Scanner to easily discover all the devices on your personal and professional networks from your mobile phone. Available for Android and iOS.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Language_Selection/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Language_Selection_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>The new INSTAR web interface for your ip camera detects automatically what default language your web browser is using. By default the web interface will be loaded in the language which is used by your web browser. You can also click System / Language for 1080p cameras, or Software / Language ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Live_Video/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Live_Video_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>All INSTAR HD cameras can display their video stream inside a modern web browser (like Firefox, Chrome or Edge) without the need for a video plugin. Just activate the MJPEG mode for this - e.g. in the Multimedia/Video Menu of your 720p camera or 1080p camera. But you will loose the h.264 video compression.</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Creating_User_Accounts/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Creating_User_Accounts_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>In order to access the user menu please click <strong>System</strong> in the web interface of your IP camera and then choose the sub menu <strong>Users</strong> as shown below. We always recommend that you to set a personal password after setting up your camera...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-WebUI_And_Firmware_Upgrade_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Please download the newest version of the WebUI or Firmware from our website. Go to the Download section on our website. Please read the instructions carefully to make an informed decision on which Software you have to download...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Clear_History_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Sometimes your camera´s WebUI might not behave the way you want. You updated your camera´s software, but it still shows you the old version? An update should bring new functions to the user interface - but they are nowhere to be seen? Or you simply cannot change a setting?...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Set_Up_A_Wireless_Connection/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Wireless_Connection_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Please be aware it is best to install your camera via LAN cable first before it can be used in your wireless network - see First Steps and After Unpacking. Our 720p and 1080p cameras allow you to use your router´s WPS function instead, to connect them directly to your WiFi network...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->

                </div>
                <!-- /container -->
            </section>
            <!-- /Quick Installation I -->

            <!-- ########################## WebUI ############################### -->

            <% include ../_partials/amp/_ampWebUI.ejs %>

            <!-- ########################## Related ############################### -->

            <section class="social mobile-down">
                <h1>Related Chapters</h1>
                <div class="socialBox">
                  <a href="/Products/" class="btn btnWhite btnChapter btnProduct"></a>
                  <a href="/Motion_Detection/" class="btn btnWhite btnChapter btnMotion"></a>
                  <a href="/Internet_Access/" class="btn btnWhite btnChapter btnRemote"></a>
                  <a href="/Advanced_User/" class="btn btnWhite btnChapter btnDev"></a>
                </div>
            </section>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ../_partials/amp/_amp-footer2.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
