<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <link rel="canonical" href="/Quick-Installation/WebUI_And_Firmware_Upgrade">
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Software Update</h1>
                        <h4>Install the newest Firmware and Web User Interface on your IP Camera</h4>
                        <p class="text-justify">
                            Please download the newest version of the WebUI or Firmware from our website. Go to the <a href="http://download.instar.de">Download</a> section on our website. For older Version, please check out our <a href="/Downloads/">legacy Software</a> (<strong>only for advanced users</strong>). Please select your camera model and scroll to the end of the page for the corresponding download links. <strong>Please read the instructions carefully</strong> to make an informed decision on which Software you have to download. Both updates - web user interface and firmware - can either be done through the INSTAR camera tool or the camera´s webUI and the update procedure is the same for <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.6.msi.zip" target="_blank">Windows</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">MacOSX</a>
                            and <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">LINUX</a> respectively.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>1080p Cameras</h2>
                      <amp-img
                          on="tap:Software_Update_1080p"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Software_Update_1080p.png" width=1116 height=553 layout="responsive" class="shadow">
                      </amp-img>

                        <p>Go to <a href="/Web_User_Interface/1080p_Series/System/Update/">System / Update</a> and choose the updated file - you have to <u>unzip the *.pkg file</u> downloaded from our <a href="http://download.instar.de">Download Area</a> - and click <strong>Update</strong> to start the process.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="text-justify">
                            Sometimes your camera´s WebUI might not behave the way you want. You updated your camera´s software, but it still shows you the old version ? An update should bring new functions to the user interface - but they are nowhere to be seen? Or you simply cannot change a setting? Your Browser might have cached old parts of the user interface and refuses to reload the new or updated files. <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History">Here</a> is how you can get rid of your browsers browsing history in several common browsers.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>720p Series</h2>
                        <h3><a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/HD_Cameras">Firmware/WebUI Update</a></h3>
                        <ul>
                          <li>Download the newest Firmware/WebUI from the INSTAR <a href="http://download.instar.com">download page</a>.</li>
                          <li>Open the cameras <a href="/Web_User_Interface/720p_Series/Software/Update/">web user interface</a> and navigate to Software/Update.</li>
                          <li>Click on <em>Choose File</em> and select the downloaded <em>pkg</em> file from step 1 and submit.</li>
                          <li>Wait for the camera to apply the update and reload - <em>do not unplug the camera until the update is installed!</em></li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-youtube data-videoid="LpUmXYdfnvY" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                    </div>

                    <div class="margin">
                        <h2>VGA Series</h2>
                        <h3><a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/VGA_Cameras">Firmware Update</a></h3>
                        <ul>
                          <li>Download the newest Firmware from the INSTAR <a href="http://download.instar.com">download page</a>.</li>
                          <li>Open the cameras web user interface and navigate to Software/Update.</li>
                          <li>Click on <em>Choose File</em> next to <em>Upgrade Firmware</em> and select the downloaded <em>bin</em> file from step 1 and submit.</li>
                          <li>Wait for the camera to apply the update and reload - <em>do not unplug the camera until the update is installed!</em></li>
                        </ul>
                        <h3><a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/VGA_Cameras">WebUI Update</a></h3>
                        <ul>
                          <li>Download the newest WebUI from the INSTAR <a href="http://download.instar.com">download page</a>.</li>
                          <li>Open the cameras web user interface and navigate to Software/Update.</li>
                          <li>Click on <em>Choose File</em> next to <em>Upgrade WebUI</em> and select the downloaded <em>bin</em> file from step 1 and submit.</li>
                          <li>Wait for the camera to apply the update and reload - <em>do not unplug the camera until the update is installed!</em></li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div class="dangercard">
                        <p class="text-justify">
                          <strong>VERY IMPORTANT! For VGA Cameras!</strong> Please make sure that you are selecting the correct firmware version. You can confirm your firmware version via the web user interface (system/info) or with the INSTAR camera tool. If you are currently using the firmware version starting with xx.25 or xx.22 please make sure you are only downloading updated versions that also start with xx.25 or xx.22. Never install the versions xx.35. or xx.37.!!! If your firmware is currently starting with xx.35 or xx.37 please make sure that you are using the firmware updates starting with xx.35 or xx.37. Always update the Firmware first before updating the web user interface.
                        </p>
                      </div>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Software_Update_1080p" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
