<section class="large-cta">
  <div class="cta-iPhone">
    <amp-img width=208 height=295 layout=responsive src="/images/iphone.png">
    </amp-img>
  </div>
  <div class="cta-container">
    <h1>InstarVision Surveillance Solution</h1>
    <p>INSTAR offers a solution for every sureveillance task and supports a variety of third-party solutions.</p>
    <a href="/Software/Windows/" class="btn btnWhite"><span>Windows</span></a>
    <a href="/Software/macOS/" class="btn btnWhite"><span>macOS</span></a>
    <a href="/Software/Android/" class="btn btnWhite"><span>Android</span></a>
    <a href="/Software/iOS/" class="btn btnWhite"><span>iOS</span></a>
  </div>
</section>
