<section class="large-cta">
  <div class="cta-container">
    <h1>INSTAR Product Portfolio</h1>
    <p>We are proud to say that we are a real customer-oriented and quality supplier for IP cameras - we don’t just advertise ourselves <em>customer-oriented</em>, but take actions to ensure each customer’s genuine satisfaction.</p>
    <a href="/Indoor_Cameras/" class="btn btnWhite">Indoor Cameras</a>
    <a href="/Outdoor_Cameras/" class="btn btnWhite">Outdoor Cameras</a>
    <a href="/Products/" class="btn btnWhite">All Products</a>
  </div>
  <div class="cta-camera desktop-up">
    <amp-img width=557 height=662 layout=responsive src="/images/IN-8015HD2.png">
    </amp-img>
  </div>
</section>
