<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta content="IE=Edge" http-equiv="X-UA-Compatible">
<meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
<meta name="author" content="Mike Polinowski">
<title>
    <%= title %>
</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
<script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>

<!-- http://schema.org/TechArticle -->
<script type="application/ld+json">
    { "@context": "http://schema.org",
      "@type": "TechArticle",
      "headline": "<%= headline %>",
      "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
</script>

<% include _amp-boilerplate.css %>

<style amp-custom><% include _amp.min.css %></style>
