<span itemprop="author" itemscope itemtype="https://schema.org/Person">
  <meta itemprop="name" content="Mike Polinowski">
</span>
<meta itemprop="datePublished" content="2017-08-14">
<meta itemprop="headline" content="<%= headline %>">
<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="INSTAR Deutschland GmbH">
  <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <noscript>
      <img itemprop="url" src="https://wiki.instar.de/images/instar_245x77.png" class="hidden">
    </noscript>
     <meta itemprop="width" content="245">
     <meta itemprop="height" content="77">
  </span>
  <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <noscript>
      <img itemprop="url" src="https://wiki.instar.de<%= ampimg %>" class="hidden">
    </noscript>
     <meta itemprop="width" content="597">
     <meta itemprop="height" content="352">
  </span>
</span>
