<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Software/Android/IP_Cam_Viewer">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">
                            <a href="/Search/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/search.png" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                            <a href="/Products/Software/Android/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="container main">

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Android &amp; iOS Software</h1>
                        <h2>IP Cam Viewer</h2>
                        <p>
                          To access your IP camera with the Android App IP Cam Viewer we recommend that you first download the newest version from the app market. Use the search word <a href="https://play.google.com/store/apps/details?id=com.rcreations.WebCamViewerPaid&hl=en">IP Cam Viewer</a> to find our app inside the Play Store.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add Cameras</h3>
                      <p>After you have installed the newest version please start the App and click the + button in the lower left to enter the Add Camera Wizard.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/IP-Cam-Viewer_Android_(1).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <p><strong>Fig1.</strong> Click on the + button to add a new camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/IP-Cam-Viewer_Android_(2).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <p><strong>Fig2.</strong> Choose to add a new IP Camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Camera Setup</h3>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/TinyCam-Monitor_(4).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p class="justify"><strong>Fig3.</strong> <strong>HD Camera</strong>: Choose the correct INSTAR camera profile, type in your camera´s IP or <a href="/Internet_Access/The_DDNS_Service">DDNS address</a> and web port and add your personal camera login. Your HD camera offers you three video channels with different resolutions - 11, 12 and 13. We recommend using the channel 12 when accessing your camera via the internet (you can lower it to channel 13 if you have troubles connecting to your camera).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/IP-Cam-Viewer_Android_(4).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig4.</strong> <strong>VGA Camera</strong>: Choose the correct INSTAR camera profile, type in your camera´s IP or <a href="/Internet_Access/The_DDNS_Service">DDNS address</a> and web port and add your personal camera login.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>Please provide the following data to add your camera:</p>
                      <ul>
                        <li><strong>Camera Name</strong>: You can choose a name for your camera - the name does not have to be identical with the camera name inside the web user interface.</li>
                        <li><strong>Camera Model</strong>: IP Cam Viewer allows you to add cameras from different manufacturers beside INSTAR. Please choose the correct brand and model of your camera.</li>
                        <li><strong>Hostname/IP Address</strong>:  Type your camera's local IP address (e.g. 192.168.178.26) to access your camera at home or use your <a href="/Internet_Access/The_DDNS_Service">DDNS address</a> (e.g. abcd12.ddns-instar.de) when you want to be able to access your camera from the road. Please be aware that you will need a <a href="/Internet_Access/Port_Forwarding">Portforwarding rule</a> inside your internet router to use the DDNS service! You do not need to add the camera's port here if your camera uses a http port different than the default 80.</li>
                        <li><strong>Port</strong>: Type in the camera's http port, that can be found and set in the camera's web user interface under Network/IP Configuration. The default value is 80.</li>
                        <li><strong>Username</strong>: To access your camera you will need to provide the username you use to log in to your camera's web user interface. The default username for both HD and VGA cameras is admin.</li>
                        <li><strong>Password</strong>: Provide the password you use to log in to your camera's web user interface. The default password is instar for HD cameras and no password for VGA cameras.</li>
                      </ul>
                      <br>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Advanced Settings</h3>
                      <p>Use the More Options button in the Add Camera wizard to activated more functions in the Advanced Settings menu.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/IP-Cam-Viewer_Android_(5).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig5.</strong> Activate advanced features.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>The Live View Window</h3>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/IP-Cam-Viewer_Android_(14).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig6.</strong> After adding your camera you can enter the Multiview window. The Multiview window allows you to keep an eye on all your cameras.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>The Camera View Window</h3>
                      <p>You can access the Camera View by clicking on a camera video in the Multiview window. You will have access to different button layouts depending on the available camera functions of your camera model.</p>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/IP-Cam-Viewer_Android_(16).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig7.</strong> Selecting one camera in the Multiview window leads you to the Camera View which allows you to control your camera.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
