<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Outdoor_Cameras/IN-5907_HD/Point2Point">
</head>

<body class="home">

    <header class="fixed">
        <div class="wrap">
            <div class="container">
                <div class="clearfix">
                    <div class="left-nav">
                        <a href="/" class="tab header-title">
                            <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                        </a>
                    </div>
                    <div class="right alt">
                        <a href="/Search/" class="tab header-title">
                          <amp-img class="placeholder shadow" src="/images/search.png" height="30px" width="30px" alt="Go Back"></amp-img>
                        </a>
                        <a href="/Products/Outdoor_Cameras/IN-5907_HD/Usermanual/" class="tab header-title">
                            <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>Introduction</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Safety_Warnings">Safety Warnings</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Product_Features">Product Features</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Quick_Installation">Quick Installation</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Point2Point">P2P &amp; WPS</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series">Web User Interface</a>
                        </li>
                        <li>
                            <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Video_Streaming">Video Streaming</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Camera_Reset">Reset your Camera</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Lense_Adjustment">Lense Adjustment</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Technical_Specifications">Technical Specifications</a>
                        </li>
                        <li>
                            <a href="/Products/Outdoor_Cameras/IN-5907_HD/Warranty">Warranty &amp; Disposal</a>
                        </li>
                    </ul>
                    <ul class="margin">
                        <li>
                            <h2>Web User Interface</h2>
                        </li>
                        <hr>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/Software/">Software</a></h4>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Software/Language/">Language</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Software/Reboot_Reset/">Reboot &amp; Reset</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Software/Backup/">Backup</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Software/Update/">Update</a>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/Network/">Network</a></h4>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">IP Configuration</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Network/WiFi/">WiFi</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Network/UPnP/">UPnP</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push Service</a>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/System/">System</a></h4>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/Info/">Info</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/Date_Time/">Date &amp; Time</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/User/">User</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/Status_LED/">Status LED</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/IR_LED/">IR LEDs</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/ONVIF/">ONVIF</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/PTZ/">PTZ</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/PTZ_Tour/">PTZ Tour</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/System/System_Log/">System Log</a>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/Multimedia/">Multimedia</a></h4>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Audio</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Video</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Multimedia/Image/">Image</a>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/Alarm/">Alarm</a></h4>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Areas</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">Privacy Mask</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Actions</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">Schedule</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Card</a>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/Recording/">Recording</a></h4>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Audio</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Recording/Video/">Video</a>
                        </li>
                        <li>
                            <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">Image</a>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/Menu_Bar/">Menu Bar</a></h4>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Video Menu Bar</a></h4>
                        </li>
                        <li>
                            <h4><a href="/Web_User_Interface/720p_Series/PTZ_Control/">PTZ Controls</a></h4>
                        </li>
                    </ul>
                </nav>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-5907 HD Lense Adjustment</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                  <div class="action">
                                    <h3>Manual focus adjustment for your IN-5907 HD<br><br></h3>
                                    <p class="justify">When you receive your camera, we already adjusted the focus for the camera to be operational in a general surveillance scenario. For your IN-5907 HD this means, that they give you an sharp image for distances between 5 and 10m. If you need a different focus distance, just turn the camera lense clockwise or counterclockwise, until you have your scene in focus.</p>
                                  </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>I.</strong> First remove the top cover by gently pushing it to the back. Hold the camera case and remove the front cover by turning it counter clockwise.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>II.</strong> Then only remove the 3 outer screws (not the 2 inner screws).<br><br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>III.</strong> Gently pull out the inner parts. Then loosen the screw on the side of the lense which fastens the lense to it outer mount.<br><br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>IV.</strong> Launch the WebUI on your computer. While keeping an eye on the camera screen, turn the top part of the lense (be careful not to loosen the lenses lower part from the sensor mount) until the area under surveillance becomes clear. Tighten the screw from Fig.3 to fix the lense and reassemble the camera.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <p>
                                        <amp-youtube data-videoid="c136CT0SypU" layout="responsive" width="480" height="270"></amp-youtube>
                                    </p>
                                    <div class="action">
                                        <p>Lense Adjustment INSTAR IN-5907 HD.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Table of Topics</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Safety_Warnings">
                        <h3>Safety Warnings</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Product_Features">
                        <h3>Product Features</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Quick_Installation">
                        <h3>Quick Installation</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Camera_Reset">
                        <h3>Camera Reset</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Lense_Adjustment">
                        <h3>Lense Adjustment</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Technical_Specifications">
                        <h3>Technical Specifications</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Outdoor_Cameras/IN-5907_HD/Warranty">
                        <h3>Warranty &amp; Disposal</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
