<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Motion">
    </head>

    <body class="home">

        <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">

                          <a href="/Products/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        </header>

        <div class="wrap">
            <div class="content">

                <section class="blade get-started">
                    <div class="container">

                        <div class="row">
                            <div class="twelve columns">
                                <h1>INSTAR IN-Motion</h1>
                                <h3>Passive Infrared and Microwave Motion Detection</h3>
                                <h4>What is the difference between IN-Motion 300 &amp; IN-Motion 500?</h4>
                                <p>
                                  The IN-Motion 500 comes with a microwave and a passive infrared motion sensor. It is the perfectly suited for outdoor detection. The IN-Motion 300 is the perfect extension for your ip camera in order to minimize false alarms. It can only be used for your indoor surveillance.
                                </p>
                            </div>
                        </div>

                        <div class="margin">
                            <div class="boxes">
                              <div class="box shadow">
                                <a href="/Products/IN-Motion/300"><div class="box__inner">
                                  <div class="box__content">
                                      <h2>IN-Motion 300</h2>
                                      <p>External infrared motion detector</p>
                                      <br><br>
                                      <amp-img src="/images/IN-Motion300_00.png"
                                          width="300"
                                          height="300"
                                          noloading
                                          alt="IN-Motion 500">
                                      </amp-img>
                                  </div>
                                  <!-- /box__content -->
                                </div></a>
                                <!-- /box__inner -->
                              </div>
                              <!-- /box -->
                              <div class="box shadow">
                                <a href="/Products/IN-Motion/500"><div class="box__inner">
                                  <div class="box__content">
                                      <h2>IN-Motion 500</h2>
                                      <p>Weather proof infrared &amp; microwave motion detector</p>
                                      <br><br>
                                        <amp-img src="/images/IN-Motion500_02.png"
                                            width="300"
                                            height="300"
                                            noloading
                                            alt="IN-Motion 500">
                                        </amp-img>
                                    </div>
                                    <!-- /box__content -->
                                </div></a>
                                <!-- /box__inner -->
                              </div>
                              <!-- /box -->
                            </div>
                            <!-- /boxes -->
                        </div>
                        <!-- /margin -->


                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->

                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>How to Update your Cameras Firmware and User Interface</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>How to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
