<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/Network">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

        <div class="wrap">
            <div class="content">

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Web User Interface</h2>
                                <h3>Network</h3>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/LAN">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_LAN.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>LAN</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/LAN">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/WiFi_Settings">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_WiFi.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>WiFi Settings</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/WiFi_Settings">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/Repeater_Settings">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_Repeater.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>Repeater Settings</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/Repeater_Settings">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/3G_Settings">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_3G.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>3G Settings</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/3G_Settings">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/Router_Mode">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_Router_Modes.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>Router Mode</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/Router_Mode">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/DHCP">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_DHCP.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>DHCP</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/DHCP">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/DDNS">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_DDNS.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>DDNS</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/DDNS">Read More</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Products/IN-Route/Network/FTP">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/IN-Route_Card_FTP.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>FTP</h3>
                                </div>
                                <div class="action">
                                    <a href="/Products/IN-Route/Network/FTP">Read More</a>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

                    </article>
                    <!-- /article -->
                </div>
                <!-- /Container -->

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>How to Update your Cameras Firmware and User Interface</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>How to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
