<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/First_Steps/Charging">
    </head>

    <body class="home">

        <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">

                          <a href="/Products/IN-Route/First_Steps/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        </header>

        <div class="wrap">
            <div class="content">

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Charging</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <p class="justify">When you press the battery button (<a href="http://localhost:3000/Products/IN-Route/First_Steps/Introduction">see #6</a>) and the battery indicator (<a href="http://localhost:3000/Products/IN-Route/First_Steps/Introduction">see #7</a>) shows a low charge, use the USB charging cable (above) in the charging port (<a href="http://localhost:3000/Products/IN-Route/First_Steps/Introduction">see #2</a>) to connect your IN-Route P52 with a USB power source. The power bank capacity is 5200 mAh which is - depending on the phone model you are using - about 2 complete charges for your smart phone, when the IN-Route is used as a pure power bank. The charging time for the batteries is about 6hrs on a standard USB port - like from your laptop. It can be quicker on special charging USB ports. Four Battery Indicator LEDs will light up once your power bank is fully charged (press the Indicator Button to check):</p>
                          <br>
                          <div>
                              <amp-img src="/images/IN-Route_P52_Charging_01.png" width="394" height="100" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>The IN-Route P52 Powerbank is charged by the MicroUSB port with the USB cable that came in the box.</p>
                            <br>
                            <ul>
                              <li>1 LED = 0~25%</li>
                              <li>2 LED = 26~50%</li>
                              <li>3 LED = 51~75%</li>
                              <li>4 LED = 76~100%</li>
                            </ul>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Powerbank</h3>
                          <br>
                          <div>
                              <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/IN-Route_P52_Charging_02.png" width="1000" height="729" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox3" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                                    <amp-img role="button" tabindex="0" src="/images/IN-Route_P52_Charging_02.png" width="1000" height="729" layout="responsive" class="shadow"></amp-img>
                                </div>
                            </amp-lightbox>
                            <p>The IN-Route P52 Powerbank can charge mobile devices that can be charged by USB cable via USB charging ports.</p>
                            <br>
                            <p class="justify">
                              More and more mobile devices are compatible to USB charging devices like the IN-Route P52. Carrying your own small power bank with you can often double your mobiles battery life. Every mobile device that can be charged via a USB cable on your Laptops USB ports can be charged by the IN-Route P52 Powerbank. Besides the obvious smart phone even devices like compact cameras, GPS tracker or smart watches are often compatible. Now you just have to carry the USB cable that came with your device and use the IN-Route P52 as your power outlet to keep you going.
                            </p>
                            <br>
                            <ol>
                              <li>Plug the USB charging cable that came with your mobile device into the IN-Route´s USB port (<a href="http://localhost:3000/Products/IN-Route/First_Steps/Introduction">see #9</a>).</li>
                              <li>Slide the devices Power button to the 2nd position (Flash Symbol) to activate the Charging mode of the Power Bank. The attached mobile device should start charging automatically. Press the battery button (<a href="http://localhost:3000/Products/IN-Route/First_Steps/Introduction">see #6</a>) to check the power banks remaining battery level from time to time.</li>
                            </ol>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>How to Update your Cameras Firmware and User Interface</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>How to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
