<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/First_Steps/Introduction">
    </head>

    <body class="home">

        <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">
                          <a href="/Search/" class="tab header-title">
                            <amp-img class="placeholder shadow" src="/images/search.png" height="30px" width="30px" alt="Go Back"></amp-img>
                          </a>
                          <a href="/Products/IN-Route/First_Steps/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        </header>

        <div class="wrap">
            <div class="content">

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Introduction</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>Interface Elements</h3>
                          <br>
                          <div>
                              <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/IN-Route_Overview.jpg" width="1000" height="667" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox1" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                    <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/IN-Route_Overview.jpg" width="1000" height="667" layout="responsive" class="shadow"></amp-img>
                                </div>
                            </amp-lightbox>
                            <p>The IN-Route P52 Wireless Access Point and Spare Battery in One - The Perfect Travel Companion.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/IN-Route_Diagram_01.png" width="1000" height="498" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox2" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                                    <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/IN-Route_Diagram_01.png" width="1000" height="498" layout="responsive" class="shadow"></amp-img>
                                </div>
                            </amp-lightbox>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <table>
                              <tr>
                                  <td><strong>IN-Route Model</strong></td>
                                  <td><strong>INSTAR IN-Route P52 Powerbank &amp; Wireless AP</strong></td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>1a Power Indicator BLUE</strong>
                                    </td>
                                    <td>The blue LED indicates that the device is powered on and ready for operation.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>1b Network Indicator TURQUOISE</strong>
                                    </td>
                                    <td>The green LED will start flashing when the router operates in AP or Bridge Mode - turning the constant blue light turquoise.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>1c Storage Indicator GREEN</strong>
                                    </td>
                                    <td>The blue LED will start flashing when the router detects a USB storage device and will switch on the NAS function. The constant green light will be overlain by the flashing blue LED.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>2 Micro USB Charging Port</strong>
                                    </td>
                                    <td>Use the cable that came with the device to recharge it (Charging time approx. 6h).</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>3 Charging Indicator</strong>
                                    </td>
                                    <td>Lights up when the device is being charged.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>4 USB-Port</strong>
                                    </td>
                                    <td>Use this port to charge your mobile device or plug in a mass storage for use as a NAS.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>5 Power Button</strong>
                                    </td>
                                    <td>Choose to deactivate the device (PowerOff Symbol), activate the charging service (Flash Symbol) or activate both the charging and the router (WiFi Symbol).</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>6 Network Connector</strong>
                                    </td>
                                    <td>RJ45 connector to connect the device with a router or modem via a LAN cable.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>7 Reset</strong>
                                    </td>
                                    <td>Keep the reset pressed for 10s to go back to the factory defaults.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>8 Charge Level</strong>
                                    </td>
                                    <td>Lights up when the Battery Button (see #9) is pressed - 1 LED = 0%-25%, 2 LEDs = 26%-50%, 3 LEDs = 51%-75% and 4 LEDs = 76%-100% of max. charge.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>9 Battery Button</strong>
                                    </td>
                                    <td>Press to display the charge level.</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Connect Wireless Devices</h3>
                          <br>
                          <div>
                              <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/IN-Route_Modes_01.png" width="1000" height="359" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox3" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                                  <a href="/Products/IN-Route/First_Steps/Quick_Access">
                                    <amp-img role="button" tabindex="0" src="/images/IN-Route_Modes_01.png" width="1000" height="359" layout="responsive" class="shadow"></amp-img>
                                  </a>
                                </div>
                            </amp-lightbox>
                            <p>Use your IN-Route P52 to connect WiFi devices and exchange information wirelessly.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Wireless Access Point</h3>
                          <br>
                          <div>
                              <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/IN-Route_Modes_02.png" width="1000" height="353" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox4" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox4.close" tabindex="0" class="centered">
                                  <a href="/Products/IN-Route/First_Steps/Quick_Access">
                                    <amp-img role="button" tabindex="0" src="/images/IN-Route_Modes_02.png" width="1000" height="353" layout="responsive" class="shadow"></amp-img>
                                  </a>
                                </div>
                            </amp-lightbox>
                            <p>Use your IN-Route P52 to create a wireless access point for your WiFi devices.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Network Attached Storage</h3>
                          <br>
                          <div>
                              <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/IN-Route_Modes_03.png" width="1000" height="344" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox5" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox5.close" tabindex="0" class="centered">
                                  <a href="/Products/IN-Route/Overview/File_Explorer">
                                    <amp-img role="button" tabindex="0" src="/images/IN-Route_Modes_03.png" width="1000" height="344" layout="responsive" class="shadow"></amp-img>
                                  </a>
                                </div>
                            </amp-lightbox>
                            <p>Use your IN-Route P52 as a Network Attached Storage to exchange files between your WiFi devices.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Powerbank</h3>
                          <br>
                          <div>
                              <amp-img on="tap:lightbox6" role="button" tabindex="0" src="/images/IN-Route_Modes_04.png" width="1000" height="366" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox6" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox6.close" tabindex="0" class="centered">
                                  <a href="/Products/IN-Route/First_Steps/Charging">
                                    <amp-img role="button" tabindex="0" src="/images/IN-Route_Modes_04.png" width="1000" height="354" layout="responsive" class="shadow"></amp-img>
                                  </a>
                                </div>
                            </amp-lightbox>
                            <p>Use your IN-Route P52 as your power bank to recharge your mobile devices.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>3G Mobile Access Point</h3>
                          <br>
                          <div>
                              <amp-img on="tap:lightbox7" role="button" tabindex="0" src="/images/IN-Route_Modes_05.png" width="1000" height="366" layout="responsive" class="shadow"></amp-img>
                          </div>

                            <amp-lightbox id="lightbox7" layout="nodisplay">
                                <div class="lightbox" on="tap:lightbox7.close" tabindex="0" class="centered">
                                  <a href="/Products/IN-Route/First_Steps/Quick_Access">
                                    <amp-img role="button" tabindex="0" src="/images/IN-Route_Modes_05.png" width="1000" height="354" layout="responsive" class="shadow"></amp-img>
                                  </a>
                                </div>
                            </amp-lightbox>
                            <p>Use your IN-Route P52 in combination with a 3G dongle to create a mobile access point.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>How to Update your Cameras Firmware and User Interface</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>How to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
