<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Software/iOS/ICCAM">
    </head>

    <body class="home">

      <% include ../_partials/amp/_amp-header.ejs %>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-p.ejs %>

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>iOS Software</h1>
                        <h2>ICCAM</h2>
                        <p>
                          To access your IP camera with the <a href="https://itunes.apple.com/us/app/iccam/id883484539?mt=8">iOS App ICCAM</a> we recommend that you first download the newest version from the app store. Use the search word "<a href="</a>">ICCAM</a>" to find the app inside the app store.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a P2P Camera to ICCAM (iOS)</h3>
                      <p class="justify">Launch ICCAM on your iPhone or iPad and press Add a new camera. Choose Search in LAN to scan for P2P cameras in your local network. Finalize the setup by giving your camera a name and add the password for your administrator account - then click Save.</p>
                      <br>

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=960 width=640 layout=responsive src="/images/ICCAM_(1).jpg"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig1.</strong> Press Add a new camera to add your INSTAR P2P camera.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=960 width=640 layout=responsive src="/images/ICCAM_(2).jpg"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig2.</strong> Press Search in LAN to let the app find your P2P camera inside your local network.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=960 width=640 layout=responsive src="/images/ICCAM_(3).jpg"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig3.</strong> Select your camera from the list.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=960 width=640 layout=responsive src="/images/ICCAM_(4).jpg"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig4.</strong> And add your camera name and administrator login.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Access your P2P cameras live stream and advanced P2P functions</h3>
                      <p>The camera list will show you all connected cameras. Click on a camera to access the live video and advanced functions, like video or snapshot recording and audio streams.</p>
                      <br>
                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=960 width=640 layout=responsive src="/images/IP_Vision_Pro_(5).jpg"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig5.</strong> First select your camera from the list view.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=960 width=640 layout=responsive src="/images/IP_Vision_Pro_(6).jpg"></amp-img>
                              </div>
                              <div class="action">
                                  <p><strong>Fig6.</strong> You will see your camera´s live stream. Use the buttons below to access advanced functions like video recordings.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
