<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Lenses/S-Mount/IN-0180">
    </head>

    <body class="home">

        <header class="fixed">
          <div class="wrap">
              <div class="container">
                  <div class="clearfix">
                      <div class="left-nav">
                          <a href="/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                          </a>
                      </div>
                      <div class="right alt">

                          <a href="/Products/Lenses/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        </header>

        <div class="wrap">
            <div class="content">

              <section class="blade get-started">
                  <div class="container">

                    <div class="inlineContainer margin clear">
                        <div class="inlineLeft">
                          <h1>S-Mount Lenses</h1>
                          <h2>Comparison List</h2>
                        </div>
                        <div class="inlineRight">
                          <a href="http://www.instar.de/lens_compatibility" target="_blank"><button class="button shadow"   style="vertical-align:middle"><span>Compatibility</span></button></a>
                        </div>
                        <br class="clear">
                    </div>
                    <!-- /margin -->
                    
                  </div>
                  <!-- /Container -->
                </section>
                <!-- /blade -->

                <section class="blade get-started">
                    <div class="container">

                        <div class="card-container margin">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_Lense_1.8mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>The angle of view of the 1.8mm wideangle lense. Field Angle (D x H x V): 109.4° x 87.7° x 67.6°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_1.8mm_with_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>Test image of the 1.8mm wideangle lense on a 1/5" CMOS sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/1,8mm_with_IRfilter_(940nm).jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>Test shot of the 1.8mm wideangle lense with 940nm IR filter on a 1/4" CMOS sensor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_Lense_2.2mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0220 Wideangle</h3>
                                    <p>The angle of view of the 2.2mm wideangle lense. Field Angle (D x H x V): 98.2° x 78.7° x 60.7°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_2.2mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0220 Wideangle</h3>
                                    <p>Test image of the 2.2mm wideangle lense on a 1/5" CMOS sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Tagsicht_2,2mm_with_IRfilter_(940nm).jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0220 Wideangle</h3>
                                    <p>Test shot of the 2.2mm wideangle lense on a 1/4" CMOS sensor during the day.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_Lense_2.9mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0290 Wideangle</h3>
                                    <p>The angle of view of the 2.9mm wideangle lense. Field Angle (D x H x V): 82.4° x 66.1° x 50.9°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_2.2mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0290 Wideangle</h3>
                                    <p>Test image of the 2.9mm wideangle lense on a 1/5" CMOS sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Lense_3.6mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0360 Wideangle</h3>
                                    <p>The angle of view of the 3.6mm lense. Field Angle (D x H x V): 70.4° x 56.4° x 43.5°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/09_3.6mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0360 Wideangle</h3>
                                    <p>Test image of the 3.6mm lense on a 1/5" CMOS wideangle sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Lense_4.3mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0430 Standard</h3>
                                    <p>The angle of view of the 4.3mm lense. Field Angle (D x H x V): 61.1° x 49.0° x 37.8°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/4.3mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0430 Standard</h3>
                                    <p>Test image of the 4.3mm lense on a 1/5" CMOS wideangle sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Angle_of_View_6mm_Lense.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0600 Default</h3>
                                    <p>The angle of view of the 6.0mm default lense. Field Angle (D x H x V): 45.9° x 36.8° x 28.4°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/6mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0600 Default</h3>
                                    <p>Test image of the 6mm default lense on a 1/5" CMOS sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Angle_of_View_12mm-Lense.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1200 Tele</h3>
                                    <p>The angle of view of the 12.0mm lense. Field Angle (D x H x V): 23.9° x 19.2° x 14.8°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Tele_Lense_12mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1200 Tele</h3>
                                    <p>Test image of the 12.0mm tele lense on a 1/5" CMOS sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Lense_16mm_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1600 Tele</h3>
                                    <p>The angle of view of the 16.0mm lense. Field Angle (D x H x V): 18.0° x 14.5° x 11.2°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Tele_Lense_16mm_IRcut.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1600 Tele</h3>
                                    <p>Test image of the 16mm tele lense on a 1/5" CMOS sensor with IRcut filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

                <section class="blade blog">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Related Topics:</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Quick_Installation/First_Steps">
                                <h3>First Steps to Install your INSTAR IP Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/After_Unpacking">
                                <h3>What to do After Umpacking your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                                <h3>Connect your Camera with Computer Directly</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>How to Update your Cameras Firmware and User Interface</h3>
                                <div class="subtitle">Intermediate</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                                <h3>How to Connect your Camera via WiFi</h3>
                                <div class="subtitle">Easy</div>
                            </a>

                            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                                <h3>Change the Default Login of your Camera</h3>
                                <div class="subtitle">Easy</div>
                            </a>
                        </div>

                        <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

                    </div>
                </section>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
