<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Software/Other_Platforms/QNAP">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Products/Software/Other_Platforms/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="container main">

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Other Platforms</h1>
                        <h2>QNAP Surveillance Station</h2>
                        <p class="text-justify">The Surveillance Station is professional network surveillance Video Management System (VMS). Being one of the Turbo NAS standard applications, the Surveillance Station can be activated on the QTS App Center to turn the Turbo NAS into a professional Network Video Recorder (NVR) system for real-time monitoring, recording, playback, alarm notifications, Intelligent Video Analytics (IVA), and management to safeguard your assets and property when used with supported IP cameras.<br><br>In order to integrate your INSTAR IP camera in the <a href="http://www.qnap.com/i/station/en/surveillance-overview-s.php">QNAP Surveillance Station</a> we recommend you to download the latest version from QNAP app store.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a HD Camera</h3>
                      <p>Start the Surveillance App from the QNAP web interface and click on the <strong>Add</strong> button. Now choose type in the address for your local HD camera, the HTTP &amp; RTSP port and your login credentials.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Start the Surveillance App from the QNAP web interface and click on the Add button.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_03.png" width="1150" height="608" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Type in the camera´s local IP address and your login credentials.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_04.png" width="1150" height="608" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Adjust the video quality of the camera´s live stream to fit your needs.</p>
                      <br>
                      <h4>What to do in case of a model mismatch?</h4>
                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=411 width=770 layout=responsive src="/images/QNAP_Surveillance_Station_X1.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p>If you want to integrate a model that is not supported by the Surveillance Station yet, you will be faced with a Model Mismatch error.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=411 width=770 layout=responsive src="/images/QNAP_Surveillance_Station_X2.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p>Simply change the camera name under Multimedia/Image to a supported camera model and retry.</p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->
                    </div>
                    <!-- /margin -->



                    <div class="margin">
                      <h3>Add a VGA Camera</h3>
                      <p>Start the Surveillance App from the QNAP web interface and click on the '''Add''' button. Now choose type in the address for your local VGA camera, the HTTP port and your login credentials.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Start the Surveillance App from the QNAP web interface and click on the Add button.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_06.png" width="1150" height="613" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Type in the camera´s local IP address and your login credentials.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_07.png" width="1150" height="612" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Adjust the video quality of the camera´s live stream to fit your needs.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <br>
                        <p>Both cameras are now available after confirming your settings.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Event Management</h3>
                      <p>Open the event manager to activate the alarm recording in case of an motion detection event or bind the recording function to the external alarm input - so that an external sensor (e.g. a PIR motion detector) can trigger an alarm recording. Go to Advanced settings to adjust the length of the alarm recording and for a simple storage management.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_08.png" width="1150" height="613" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Set your camera to record a video in case of an alarm trigger event.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Monitor and Playback</h3>
                      <p>Use the Monitor window to keep an eye on your cameras real-time feeds from your INSTAR cameras. Whenever a suspicious event is found, take a snapshot to keep a record and take immediate actions accordingly. The Playback window allows you to quickly find videos of suspicious incidents on the Surveillance Station with the support of an intuitive timeline, image preview, Intelligent Video Analytics (IVA), and more.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_10.png" width="1150" height="615" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Use live-view to watch real-time feeds from the IP cameras.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_11.png" width="1150" height="612" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Quickly find videos of suspicious incidents on the Surveillance Station with the support of an intuitive timeline.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
