<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Software/Other_Platforms/Synology">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Products/Software/Other_Platforms/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="container main">

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Other Platforms</h1>
                        <h2>Synology Surveillance Station</h2>
                        <p class="text-justify">Use your INSTAR IP cam with multiple chat applications at the same time. Use Skype, MSN, and Youtube at the same time with ManyCam's virtual webcam driver software. Moreover, you can directly upload your recorded videos to YouTube from ManyCam with the YouTube Uploader feature. Full feature available for free for a limited time only. Make your video productions more professional with our new Lower Thirds feature. Use this feature to add your name to your video screen, highlight news, or even identify your location.</p>
                        <p class="text-justify">In order to integrate your INSTAR IP camera in <a href="https://www.synology.com/en-uk/surveillance/7.2/overview">Synology</a> DSM we recommend you to download the <a href="http://www.synology.com/en-global/dsm/">latest DSM version from HERE</a> or check the system update in the Synology web user interface if your operating system is up-to-date. The Surveillance Station is available from the App Center in the Synology web user interface.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a HD Camera</h3>
                      <p>After you have upgraded your Synology to the newest DSM Version please access the web interface of your Synology station and start the Surveillance Station as shown below.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><a href="http://techtest.org/die-synology-surveillance-station-eine-kamera-empfehlung/" target="_blank">German Guide</a></p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
