<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <!-- ######################### Breadcrumbs ############################ -->

        <div class="container">
          <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
            <li class="breadcrumb-item"><a href="/Products/">Products</a></li>
            <li class="breadcrumb-item"><a href="/Products/Outdoor_Cameras/">Outdoor Cameras</a></li>
            <li class="breadcrumb-item"><a href="/Products/IN-5905_HD/">IN-5905 HD</a></li>
            <li class="breadcrumb-item active">Technical Specifications</li>
            <li class="breadcrumb-item"><a href="http://www.instar.de/downloads/outdoor/dl_5905hd">Downloads</a></li>
          </ol>
        </div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">


            <!-- ############################################# Table ############################################# -->
                <div class="mb col-md-4">
                    <table class="table table-responsive table-hover">
                      <thead>
                          <tr>
                            <th><strong>Camera Model</strong></th>
                            <th><strong>Antenna Connector </strong></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">IN-2904</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-2905</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-2905 V2</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-2907</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-2908</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-3001</th>
                            <td>Integrated Antenna</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-3003</th>
                            <td>Integrated Antenna</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-3005</th>
                            <td>RP-SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-3010</th>
                            <td>RP-SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-3011</th>
                            <td>RP-SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-4009</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-4010</th>
                            <td>RP-SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-4010 V2</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-4011</th>
                            <td>RP-SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-5907 HD</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-6012 HD</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-6014 HD</th>
                            <td>SMA</td>
                          </tr>
                          <tr>
                            <th scope="row">IN-7011 HD</th>
                            <td>SMA</td>
                          </tr>
                        </tbody>
                    </table>
                </div>

              <!-- ############################################# Text ############################################# -->
              <div class="col-md-8"

                <div class="mb col-xs-12">
                    <h1>Antenna Connector</h1>
                    <p class="justify">
                      All INSTAR WLAN IP cameras use either SMA or RP-SMA default antenna connectors with a screw type coupling mechanism. SMA (SubMiniature version A) And RP-SMA (Reversed Polarity SubMiniature version A) have a 50 Ω impedance and are designed for use with frequencies up to 18 GHz. The SMA connector employs a 1/4"-36 thread and the male is equipped with a 5/16" hex nut and are one of the most commonly used RF/microwave connectors.
                    </p>
                </div>

                <div class="mt col-md-3">
                    <img src="/images/SMA_Connector.jpg" alt="SMA Antenna Connector" class="img-fluid shadow" />
                    <p class="justify">
                      A RP-SMA antenna (IN-3010) on the left and a SMA antenna (IN-2904) on the right.
                    </p>
                </div>

                <div class="mb col-md-8">
                    <h2>SMA or RP-SMA</h2>
                    <p class="justify">
                      In SMA connectors, the terms male and female refer to the male center pin and its female sleeve counterpart. An example of a SMA Antenna is our camera model IN-2904, that has the center pin is on the antenna side - the camera has a "male antenna".
                    </p>
                    <p class="justify">
                      Reverse polarity SMA (RP-SMA) is a variation of the SMA connector specification which reverses the gender of the interface. The female RP-SMA connector has the same external housing as a standard or conventional female SMA connector, which consists of an outer shell with the threads on the outside BUT the center receptacle is replaced by a male pin. An example for a RP-SMA connector is the Antenna of the camera model IN-3010 - the camera has a "female antenna". The image below shows the (female) RP-SMA antenna of a IN-3010 camera on the left and a (male) SMA antenna of a IN-2904 camera on the right.
                    </p>
                </div>

                <div class="mb col-xs-12">
                    <p class="justify">
                      It is advisable to inspect and clean out loose debris from the internal surfaces with compressed air or a gas duster can before mating. A few hundred interconnect cycles are possible if performed carefully. Care should be taken to join connectors straight-on. Prior to making a connection it is wise to inspect the female end to assure that the center socket is in good condition.
                    </p>
                </div>

            </div>

            </div>
            <!-- /row -->

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

    </body>

</html>
