<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Indoor_Cameras/<%= model %>/Camera_Reset">
</head>

<body class="home">

    <header class="fixed">
        <div class="wrap">
            <div class="container">
                <div class="clearfix">
                    <div class="left-nav">
                        <a href="/" class="tab header-title">
                            <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                        </a>
                    </div>
                    <div class="right alt">
                        <a href="/Search/" class="tab header-title">
                          <amp-img class="placeholder shadow" src="/images/search.png" height="30px" width="30px" alt="Go Back"></amp-img>
                        </a>
                        <a href="/Products/<%= type %>_Cameras/<%= model %>/Usermanual/" class="tab header-title">
                            <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <nav class="desktop-up">
                    <ul class="margin">
                        <li>
                            <h2>Advanced User</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Advanced_User/Website_Integration">Website Integration</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/CGI_Commands">CGI Commands</a>
                        </li>
                        <li>
                            <a href="/Products/Indoor_Cameras/IN-6014_HD/Quick_Installation">Quick Installation</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/Restore_WebUI">Restore WebUI</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/Restore_Firmware">Restore Firmware</a>
                        </li>
                        <li>
                            <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
                        </li>
                        <li>
                            <a href="/Advanced_User/CCTV_vs_IP">CCTV vs IP</a>
                        </li>
                    </ul>
                    <ul class="margin">
                        <li>
                            <h2>InstarVision Surveillance Solution</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Products/Software/Windows/InstarVision">Windows</a>
                        </li>
                        <li>
                            <a href="/Products/Software/Windows/InstarVision_Metro">Metro Tile App</a>
                        </li>
                        <li>
                            <a href="/Products/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a>
                        </li>
                        <li>
                            <a href="/Products/Software/Android/InstarVision">Android App</a>
                        </li>
                        <li>
                            <a href="/Products/Software/iOS/InstarVision">iOS App</a>
                        </li>
                    </ul>
                    <ul class="margin">
                        <li>
                            <h2>Thirdparty Software</h2>
                        </li>
                        <hr>
                        <li>
                            <a href="/Products/Software/Windows/InstarVision">Windows</a>
                        </li>
                        <li>
                            <a href="/Products/Software/Windows/InstarVision_Metro">macOS</a>
                        </li>
                        <li>
                            <a href="/Products/Software/Android/InstarVision">Android App</a>
                        </li>
                        <li>
                            <a href="/Products/Software/iOS/InstarVision">iOS App</a>
                        </li>
                        <li>
                            <a href="/Products/Software/Windows/InstarVision_Windows-Phone">Other</a>
                        </li>
                    </ul>
                </nav>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">INSTAR HD Camera Hardware Reset</h1>

                        <div class="row margin">
                          <h2>Restore your Camera´s Factory Settings</h2>
                          <p class="justify">
                            In order to reset your camera (if you have lost your password), please hold the small reset button in bottom part of the cameras casing - for outdoor cameras, the reset is located on the end of the camera cable - for min. 15 seconds. Please make sure the camera is connected to the power supply and disconnected from the LAN cable. In case the reset was incomplete the camera might become unresponsive. Please repeat the reset for min. 15 s and unplug it over night from the power supply before trying to restart it again.
                          </p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Advanced User</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Advanced_User/Website_Integration">
                        <h3>Website Integration</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Advanced_User/CGI_Commands">
                        <h3>CGI Commands</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Indoor_Cameras/IN-6014_HD/Quick_Installation">
                        <h3>Quick Installation</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Advanced_User/Restore_WebUI">
                        <h3>Restore the Web User Interface of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Advanced_User/Restore_Firmware">
                        <h3>Restore the Firmware of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Products/Indoor_Cameras/IN-6014_HD/Camera_Reset">
                        <h3>Camera Reset</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Advanced_User/CCTV_vs_IP">
                        <h3>CCTV vs IP</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
