<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Software/Windows/Zone_Trigger">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">
                            <a href="/Search/" class="tab header-title">
                              <amp-img class="placeholder shadow" src="/images/search.png" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                            <a href="/Products/Software/Windows/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="container main">

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Windows Software</h1>
                        <h2>ZoneTrigger</h2>
                        <p class="justify">The Zone Trigger software series is all about enabling anyone to incorporate motion or sound detection in their custom projects. On detecting motion, Zone Trigger can do a multitude of tasks, such as play sounds, run programs or commands, take control of other software or hardware, send email and files over the internet. Plus it has many extra features such as archive services and a built in HTTP server for remote viewing.</p>
                        <p>
                          In order to integrate your INSTAR IP camera in <a href="http://www.zonetrigger.com/">ZoneTrigger</a> we recommend you to download the latest version from <a href="http://www.zonetrigger.com/">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a Camera</h3>
                      <p>After you installed the newest version of ZoneTrigger please open the program and open the <strong>Add a New Video Source</strong> and choose to add an IP camera by URL. Type in the cameras IP address HTTP port but leave the username and password free. Now click on <strong>Specify Path</strong> and add the line <span class="code">videostream.cgi?user=admin&pwd=</span> if your camera still has the default login <em>user = admin</em> and <em>password = &lt;empty&gt;</em> - modify the video path accordingly if you changed something. </p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Webcam-ZoneTrigger_01.png" width="918" height="468" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Add a new video source by URL.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Motion Detection</h3>
                      <p>ZoneTrigger, as the softwares name might suggest, employs trigger zones that you can freely position on top of the video. The default is a round shaped hot spot that uses a software based motion detection to trigger an alarm event. This is the simplest and most versatile technique. The software looks for any difference between frames by comparing pixel color and brightness without trying to identify anything. These differences can be caused by moving objects, lights on/off, shadows, and even vibrations. You can quickly assign an action to an event like recording a video, uploading a snapshot to an FTP server or sending a notification email.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Webcam-ZoneTrigger_02.png" width="915" height="478" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Add a new video source by URL.</p>
                      <p>There are a lot more Triggers, beside the simple Motion Detection that can be employed to your surveillance task. Like Flow Control which determines in which direction people are travelling, a Level Measure or a Pattern Matching that tries to match the input image to a reference image to figure out the state of certain objects.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Webcam-ZoneTrigger_03.png" width="915" height="465" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>You have a variety of advanced triggers available beside the standard motion detection.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
