<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Software/Windows/YAW_Cam">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Products/Software/Windows/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="container main">

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Windows Software</h1>
                        <h2>Yet Another Webcam Viewer</h2>
                        <p class="text-justify">Yet Another Webcam Software ? Maybe. But Yawcam delivers a punch in a small package. Yawcam is a webcam software for windows written in java. The main ideas for Yawcam are to keep it simple and easy to use but to include all the usual features. And Yawcam is completely free to use.</p>
                        <p>
                          In order to integrate your INSTAR IP camera in the <a href="http://www.yawcam.com/">Yawcam</a> we recommend you to download the latest version from <a href="http://www.yawcam.com/download.php">HERE</a>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Add a Camera</h3>
                      <p>Start the software and go to <strong>Settings / Device / Change to / IP Camera</strong>. Now type in the address for your local camera. The video path would be:<br><br><strong>VGA Video Path</strong>: <span class="code">http://192.168.1.237:80?user=admin&pwd=</span> </p>
                      <p>for a camera with the default login <em>user = admin, password = &lt;empty&gt;</em>, the <em>local IP address 192.168.1.237</em> and the <em>HTTP port 80</em>. Please adjust the path if you changed the default login or the default web port accordingly. Usually you should be able to just type in the IP address and use the login mask below for your username and password - but this did not seem to work for me.</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/YAWcam_01.png" width="515" height="273" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Open the dialogue to add a new IP camera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/YAWcam_02.png" width="468" height="328" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Add a new IP camera and type in the video path + login credentials.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/YAWcam_03.png" width="657" height="513" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Confirm the camera address to start the video stream.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Advanced Settings</h3>
                      <p>Yawcam offers you a surprisingly wide variety of functions for such a small program - motion detection, email notification, ftp alarm upload and a web server to stream your cameras video to the internet. The following screenshots just give you a small overview over the available settings. Please refer to the Yawcam website for detailed information on every available function.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/YAWcam_05.png" width="654" height="518" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Let the software upload snapshots to an FTP server in case of an alarm event.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/YAWcam_06.png" width="658" height="514" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Activate an webserver to stream your cameras live video to the internet - don´t forget to forward the port to your workstation!</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/YAWcam_08.png" width="656" height="510" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Use the scheduler to automate the motion detection, web streaming, video recording or an FTP upload to generate a timelapse video.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img role="button" tabindex="0" src="/images/YAWcam_09.png" width="701" height="465" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <br>
                        <p>Use the motion detection to trigger actions like email notifications, FTP uploads or video recordings.</p>
                    </div>

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/The_DDNS_Service">
                        <h3>The INSTAR DDNS Service</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/HD_Series/Network/">
                        <h3>The HD Web User Interface Network Overlay</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Third_Party_DDNS_Addresses">
                        <h3>Third-Party DDNS Provider</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
