<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ------------------------------------------ SMTP ----------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">The SMTP Server Overlay</a><br><small>param.cgi?cmd=setsmtpattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set SMTP Server Parameters for the Email Notification</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>ma_server: SMTP Server Address e.g. smtp.strato.de<br/>ma_port：SMTP Server Port e.g. 25, 587 or 465<br/>ma_ssl: SSL Encryption 0 (Disabled), 1 (SSL), 2 (TLS) or 3 (STARTTLS)<br/>ma_logintype：Enable (1) or Disable (3) Authentication<br/>ma_username：SMTP Server Username<br/>ma_username：SMTP Server Password</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_SMTP_Attributes">Param.cgi?cmd=getsmtpattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_SMTP_Attributes">Param.cgi?cmd=setsmtpattr</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getsmtpattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setsmtpattr&-ma_server=my.smtpserver.com&-ma_port=587&-ma_ssl=3&-ma_logintype=1&-ma_username=my@email.com&-ma_password=mypassword</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
