<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>720p CGI Commands - Set FTP Attributes</h1>
                <hr>
            </div>

            <div class="clearfix"></div>

        <!-- #############################################  Body ############################################# -->

            <div class="container main">

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                <div class="col-12">

                  <h2>FTP :: Set FTP Attribute</h2>
                  <h3>param.cgi?cmd=setftpattr</h3>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Set FTP Parameter</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>/cgi-bin/hi3510/param.cgi[?cmd=setftpattr&amp;-ft_server=&amp;-ft_port=&amp;-ft_username=&amp;-ft_password=&amp;-ft_dirname=&amp;-ft_mode=]</code></td>
                      </tr>
                      <tr>
                        <th rowspan="6">Parameter</th>
                        <td>ft_server: FTP Server Address</td>
                      </tr>
                      <tr>
                        <td>ft_port: FTP Server Port</td>
                      </tr>
                      <tr>
                        <td>ft_username: FTP Username</td>
                      </tr>
                      <tr>
                        <td>ft_password: FTP Password</td>
                      </tr>
                      <tr>
                        <td>ft_dirname: FTP Directory</td>
                      </tr>
                      <tr>
                        <td>ft_mode: FTP Mode Port (0) or Passive (1)</td>
                      </tr>
                      <tr>
                        <th>Return</th>
                        <td>Success, Error</td>
                      </tr>
                      <tr>
                        <th>Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setftpattr&-ft_server=220.112.14.173&-ft_port=21&amp;-ft_username=FTPUsername&amp;-ft_password=FTPPassword&amp;-ft_dirname=ProgramFiles&amp;-ft_mode=1</code></td>
                      </tr>
                    </table>
                  </div>

                </div>

                </section>  <!-- Close Media Container -->

                <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>
          <!-- /Container -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
