<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ----------------------------------------- Video ---------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row">
                <h2><a href="/Web_User_Interface/720p_Series/Multimedia/Video/">The Video Overlay</a><br><small>param.cgi?cmd=setvencattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set the Video Encoder Attributes</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th rowspan="6">Parameter</th>
                      <td>Stream:<br/>chn=11 1st Stream<br/>chn=12 2nd Stream<br/>chn=13 3rd Stream</td>
                    </tr>
                    <tr>
                      <td>Bitrate:<br/>720P：Range [32 ~ 4096 kbps]<br/>D1：Range [32 ~ 2048 kbps]<br/>CIF：Range [32 ~ 512 kbps]<br/>QCIF：Range [32 ~ 256 kbps]<br/>VGA：Range [32 ~ 2048 kbps]<br/>QVGA：Range [32 ~ 512 kbps]<br/>QQVGA：Range [32 ~ 256 kbps]</td>
                    </tr>
                    <tr>
                      <td>Framerate:<br/>PAL：Range [1 ~ 25]<br/>NTSC：Range [1 ~ 30]</td>
                    </tr>
                    <tr>
                      <td>Keyframe Interval: gop Range [2 ~ 150]</td>
                    </tr>
                    <tr>
                      <td>Video Encode Control: 0: fixed bit rate 1: variable bit rate</td>
                    </tr>
                    <tr>
                      <td>Video Encode Quality: imagegrade Range [1 ~ 6]<br/><small>The smaller the value, the better the image quality</small></td>
                    </tr>
                    <tr>
                      <th>Remarks</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Video_Encoder_Attribute">Param.cgi?cmd=getvencattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Video_Encoder_Attribute">Param.cgi?cmd=setvencattr</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setvencattr&-chn=11&-bps=1536&-fps=25&-brmode=1&-imagegrade=1&-gop=50</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510//param.cgi?cmd=getvideoattr&cmd=getvencattr&-chn=11&cmd=getvencattr&-chn=12&cmd=getvencattr&-chn=13</code></td>
                    </tr>
                  </table>
                </div>

            </div>
            <!-- /Row -->

            <div class="row">
              <h2><a href="/Web_User_Interface/720p_Series/Multimedia/Video/">The Video Overlay</a><br><small>param.cgi?cmd=setvideoattr</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Set the Video Attributes</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Parameter</th>
                    <td>vinorm: P: 50Hz(PAL) | N: 60Hz(NTSC)</td>
                  </tr>
                  <tr>
                    <td>videomode: 11 <small>HD720P Resolution: 1280x720</small>, 12 <small>HDQ720P Resolution: 640x352</small>, 13 <small>HDQQ720P Resolution: 320x176</small></td>
                  </tr>
                  <tr>
                    <th>Remarks</th>
                    <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Video_Attribute/">Param.cgi?cmd=getvideoattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Video_Attribute">Param.cgi?cmd=setvideoattr</a></td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getvideoattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setvideoattr&-vinorm=N</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setvideoattr&-videomode=11</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            <div class="row">
              <h2><a href="/Web_User_Interface/720p_Series/Multimedia/Video/">The Video Overlay</a><br><small>param.cgi?cmd=set_instar_admin</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Set Video Plugin and Video Resolution</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>index=33&amp;-value=11:11:0:3 (see <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Admin_Variables">Param.cgi?cmd=set_instar_admin</a>) <br/>index=43&amp;-value=[flash, activeX,quicktime]</td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=get_instar_admin</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=set_instar_admin&-index=43&-value=flash</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=set_instar_admin&-index=33&-value=11:11:0:3</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setvideoattr&-videomode=11&cmd=setvencattr&-chn=11&-bps=2048&-fps=15&-brmode=1&-imagegrade=3&-gop=20&cmd=set_instar_admin&-index=36&-value=false</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getvideoattr&cmd=getvencattr&-chn=11&cmd=getvencattr&-chn=12&cmd=getvencattr&-chn=13&cmd=get_instar_admin&-index=36&cmd=get_instar_admin&-index=43</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
