<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ------------------------------------------------------------ Reboot ----------------------------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/index.php/HD_Manual_WebUI_System_PTZ">The PTZ Overlay</a></h2>
                <h3>param.cgi?cmd=setmotorattr</h3>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set Pan&amp;Tilt Settings</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>var panspeed: [fast (0) - slow (2)];<br/>var tiltspeed: [fast (0) - slow (2)];<br/>var panscan: [1-50] - Number of hscans;<br/>var tiltscan: [1-50] - Number of vscans;<br/>var movehome: [on, off] - Go to Center or Postion [initpresetindex] after Restart;<br/>var ptzalarmmask: [on, off] - Deactivate Motion Detection during Pan&amp;Tilt;<br/>var selfdet: [on, off] - De/Activate Calibration (Required for <a href="/index.php/HD_CGI_Commands_-_PTZ_Preset">Preset Postions</a> and <a href="/index.php/HD_Kamera_CGIs_System_PTZ-Tour">PTZ Tour</a>);<br/>var alarmpresetindex: [1-8]; - Alarmposition<br/>var initpresetindex: [1-8]; - Position after Restart</td>
                    </tr>
                    <tr>
                      <th>Remarks</th>
                      <td>See <a href="#">Param.cgi?cmd=getmotorattr</a> and <a href="#">Param.cgi?cmd=setmotorattr</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setmotorattr&-selfdet=on&-movehome=off&-ptzalarmmask=on&-tiltspeed=0&-panspeed=0&-tiltscan=50&-panscan=50&-value=0&-alarmpresetindex=3</code></td>
                    </tr>
                  </table>
                </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/index.php/HD_Manual_WebUI_System_PTZ">The PTZ Overlay</a></h2>
              <h3>param.cgi?cmd=settimerpreset</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Set Pan&amp;Tilt Settings</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>var timerpreset_enable [1, 0]; Enable/Disable Parking Position<br/>var timerpreset_interval [15 - 900]s Wait before going back to Parking Position<br/>var timerpreset_index [1undefined - 8undefined] Assign Parking Position from saved Positions</td>
                  </tr>
                  <tr>
                    <th>Remarks</th>
                    <td>See <a href="#">Param.cgi?cmd=gettimerpreset</a> and <a href="#">Param.cgi?cmd=settimerpreset</a></td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=settimerpreset&-timerpreset_enable=1&-timerpreset_interval=600&-timerpreset_index=1undefined</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/index.php/HD_Manual_WebUI_System_PTZ">The PTZ Overlay</a></h2>
              <h3>param.cgi?cmd=setmdalarm&amp;-aname=preset</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Activate/Deactivate Alarmpostion</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>switch: [on, off]</td>
                  </tr>
                  <tr>
                    <th>Remarks</th>
                    <td>The alarmposition is set by the variable alarmpresetindex (see above). When activated, the <a href="/720p_Series_CGI_List/System_Menu/PTZ_Tour">PTZ Tour</a> has to be deactivated!</a></td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setmdalarm&-aname=preset&-switch=on</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/index.php/HD_Manual_WebUI_System_PTZ">The PTZ Overlay</a></h2>
              <h3>param.cgi?cmd=set_instar_admin&amp;-index=46</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Switch One-Step and Continuous Pan&amp;Tilt</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>value: [0, 1]</td>
                  </tr>
                  <tr>
                    <th>Remarks</th>
                    <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Admin_Variables">Param.cgi?cmd=get_instar_admin</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Admin_Variables">Param.cgi?cmd=set_instar_admin</a></td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=set_instar_admin&-index=46&-value=0</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
