<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ------------------------------------------------------------ Reboot ----------------------------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/index.php/HD_Manual_WebUI_Software_Update">The Update Overlay</a></h2>
                <h3>upgrade.cgi</h3>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Upgrade your camera´s Firmware and WebUI</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>

                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/System_Upgrade">Upgrade.cgi</a></td>
                    </tr>
                  </table>
                </div>

                </div>
                <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
