<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>720p CGI Commands - Get Motion Detection Attribute</h1>
                <hr>
            </div>

            <!-- ######################### Breadcrumbs ############################ -->

            <div class="container">
              <ol class="breadcrumb" style="padding: 5px; margin: 0 0 10px 0;">
                <li class="breadcrumb-item"><a href="/Advanced_User/">For Developers</a></li>
                <li class="breadcrumb-item"><a href="/Advanced_User/CGI_Commands/">CGI Commands</a></li>
                <li class="breadcrumb-item"><a href="/Advanced_User/CGI_Commands/720p_Series_CGI_List/">720p Series</a></li>
                <li class="breadcrumb-item"><a href="/720p_Series_CGI_List/Complete_CGI_List/">Complete CGI List</a></li>
                <li class="breadcrumb-item active">Get Motion Detection Attribute</li>
                <li class="breadcrumb-item"><a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Motion_Detection_Attribute/">Set Motion Detection Attribute</a></li>
              </ol>
            </div>

            <div class="clearfix"></div>

            <div class="container main">

              <!-- ######################################## Body ####################################### -->

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                <div class="col-12">

                  <h2>Alarm :: Get Motion Detection Area Parameter</h2>
                  <h3>param.cgi?cmd=getmdattr</h3>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Get Motion Detection Parameter</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>cgi-bin/hi3510/param.cgi[?cmd=getmdattr]</code></td>
                      </tr>
                      <tr>
                        <th rowspan="28">Return</th>
                        <td>m1_enable: Enable or Disable Motion Detection Area 1 (1,0)</td>
                      </tr>
                      <tr>
                        <td>m1_x: Area 1 x-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m1_y: Area 1 y-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m1_w: Area 1 Width</td>
                      </tr>
                      <tr>
                        <td>m1_h: Area 1 Height</td>
                      </tr>
                      <tr>
                        <td>m1_sensitivity: Area 1 Motion Detection Sensitivity</td>
                      </tr>
                      <tr>
                        <td>m1_threshold: Area 1 Threshold</td>
                      </tr>
                      <tr>
                        <td>m2_enable: Enable or Disable Motion Detection Area 2 (1,0)</td>
                      </tr>
                      <tr>
                        <td>m2_x: Area 2 x-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m2_y: Area 2 y-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m2_w: Area 2 Width</td>
                      </tr>
                      <tr>
                        <td>m2_h: Area 2 Height</td>
                      </tr>
                      <tr>
                        <td>m2_sensitivity: Area 2 Motion Detection Sensitivity</td>
                      </tr>
                      <tr>
                        <td>m2_threshold: Area 2 Threshold</td>
                      </tr>
                      <tr>
                        <td>m3_enable: Enable or Disable Motion Detection Area 3 (1,0)</td>
                      </tr>
                      <tr>
                        <td>m3_x: Area 3 x-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m3_y: Area 3 y-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m3_w: Area 3 Width</td>
                      </tr>
                      <tr>
                        <td>m3_h: Area 3 Height</td>
                      </tr>
                      <tr>
                        <td>m3_sensitivity: Area 3 Motion Detection Sensitivity</td>
                      </tr>
                      <tr>
                        <td>m3_threshold: Area 3 Threshold</td>
                      </tr>
                      <tr>
                        <td>m4_enable: Enable or Disable Motion Detection Area 4 (1,0)</td>
                      </tr>
                      <tr>
                        <td>m4_x: Area 4 x-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m4_y: Area 4 y-Coordinate</td>
                      </tr>
                      <tr>
                        <td>m4_w: Area 4 Width</td>
                      </tr>
                      <tr>
                        <td>m4_h: Area 4 Height</td>
                      </tr>
                      <tr>
                        <td>m4_sensitivity: Area 4 Motion Detection Sensitivity</td>
                      </tr>
                      <tr>
                        <td>m4_threshold: Area 4 Threshold</td>
                      </tr>
                      <tr>
                        <th>Remarks</th>
                        <td>The max coordinate and height and width are based on the max resolution</td>
                      </tr>
                      <tr>
                        <th>Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getmdattr</code></td>
                      </tr>
                    </table>
                  </div>

                </div>

                </section>  <!-- Close Media Container -->

                <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
