<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- --------------------------------- Body -------------------------------------------- -->

            <section class="row" style="margin-bottom: 50px;">

              <div  class="col-12 mt mb">
                  <h2>CGI Commands used in the HD Web User Interface</h2>

                  <p class="text-justify mb">For all developers that want to integrate our cameras in their software or for everyone that wants to experiment a little, we now offer a <a href="/720p_Series_CGI_List/Complete_CGI_List">full list of all CGI commands</a> that can be used with our IP cameras. Please understand that this list is only for advanced users who know what they are doing. We can not give any technical support regarding our CGI commands.</p>
              </div>

                <!-- -------------------------------------------- Card Decks --------------------------------------------  -->

                <div class="col-12">
                <!-- deck-container -->

                  <h1>CGI commands used in the Alarm menu</h1>

                    <div class="card-deck-wrapper mt mb">
                        <div class="card-deck">
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_Areas_square.png" alt="WebUI Alarm CGI Commands">
                                <div class="card-block text-xs-center">
                                    <h4 class="card-title">Areas</h4>
                                    <a href="/720p_Series_CGI_List/Alarm_Menu/Areas" class="btn btn-primary">More</a>
                                </div>
                            </div>
                            <!-- /card -->
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_Privacy_square.png" alt="WebUI Alarm CGI Commands">
                                <div class="card-block text-xs-center">
                                    <h4 class="card-title">Privacy Mask</h4>
                                    <a href="/720p_Series_CGI_List/Alarm_Menu/Privacy_Mask" class="btn btn-primary">More</a>
                                </div>
                            </div>
                            <!-- /card -->
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_Actions_square.png" alt="WebUI Alarm CGI Commands">
                                <div class="card-block text-xs-center">
                                    <h4 class="card-title">Actions</h4>
                                    <a href="/720p_Series_CGI_List/Alarm_Menu/Actions" class="btn btn-primary">More</a>
                                </div>
                            </div>
                            <!-- /card -->
                                <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                    <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_Schedule_square.png" alt="WebUI Alarm CGI Commands">
                                    <div class="card-block text-xs-center">
                                        <h4 class="card-title">Schedule</h4>
                                        <a href="/720p_Series_CGI_List/Alarm_Menu/Schedule" class="btn btn-primary">More</a>
                                    </div>
                                </div>
                                <!-- /card -->
                        </div>
                        <!-- /card-deck -->
                    </div>
                    <!-- /deck-wrapper -->

                      <div class="card-deck-wrapper mt mb">
                          <div class="card-deck">
                              <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                  <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_SMTP_square.png" alt="WebUI Alarm CGI Commands">
                                  <div class="card-block text-xs-center">
                                      <h4 class="card-title">SMTP Server</h4>
                                      <a href="/720p_Series_CGI_List/Alarm_Menu/SMTP_Server" class="btn btn-primary">More</a>
                                  </div>
                              </div>
                              <!-- /card -->
                              <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                  <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_Email_square.png" alt="WebUI Alarm CGI Commands">
                                  <div class="card-block text-xs-center">
                                      <h4 class="card-title">Email</h4>
                                      <a href="/720p_Series_CGI_List/Alarm_Menu/Email" class="btn btn-primary">More</a>
                                  </div>
                              </div>
                              <!-- /card -->
                              <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                  <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_FTP_square.png" alt="WebUI Alarm CGI Commands">
                                  <div class="card-block text-xs-center">
                                      <h4 class="card-title">FTP</h4>
                                      <a href="/720p_Series_CGI_List/Alarm_Menu/FTP" class="btn btn-primary">More</a>
                                  </div>
                              </div>
                              <!-- /card -->
                                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                      <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_Alarmserver_square.png" alt="WebUI Alarm CGI Commands">
                                      <div class="card-block text-xs-center">
                                          <h4 class="card-title">Alarm Server</h4>
                                          <a href="/720p_Series_CGI_List/Alarm_Menu/Alarm_Server" class="btn btn-primary">More</a>
                                      </div>
                                  </div>
                                  <!-- /card -->
                          </div>
                          <!-- /card-deck -->
                      </div>
                      <!-- /deck-wrapper -->

                        <div class="card-deck-wrapper mt mb">
                            <div class="card-deck">
                                <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                    <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_Audio_square.png" alt="WebUI Alarm CGI Commands">
                                    <div class="card-block text-xs-center">
                                        <h4 class="card-title">Audio Alarm</h4>
                                        <a href="/720p_Series_CGI_List/Alarm_Menu/Audio_Alarm" class="btn btn-primary">More</a>
                                    </div>
                                </div>
                                <!-- /card -->
                                <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                                    <img class="card-img-top img-fluid" src="/images/WebUI-Alarm_SD_square.png" alt="WebUI Alarm CGI Commands">
                                    <div class="card-block text-xs-center">
                                        <h4 class="card-title">SD Card</h4>
                                        <a href="/720p_Series_CGI_List/Alarm_Menu/SD_Card" class="btn btn-primary">More</a>
                                    </div>
                                </div>
                                <!-- /card -->
                                <div class="card card-inverse invisible" style="background-color: #333; border-color: #333;">
                                </div>
                                <!-- /card -->
                                <div class="card card-inverse invisible" style="background-color: #333; border-color: #333;">
                                </div>
                                <!-- /card -->
                            </div>
                            <!-- /card-deck -->
                        </div>
                        <!-- /deck-wrapper -->

                </div>
                <!-- /deck-container -->

            </section>
            <!-- /Row -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
