<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ------------------------------------------------------------ Reboot ----------------------------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2>The Info Overlay</h2>
                <h3>param.cgi?cmd=getserverinfo</h3>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Get Server Info</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>var model: Device ID;<br/>var hardVersion: Hardware Version;<br/>var softVersion: Firmware Version;<br/>var webVersion: Web User Interface Version;<br/>var name: Device Name;<br/>var startdate: System Start Time;<br/>var upnpstatus: Upnp Status ok, off, failed;<br/>var facddnsstatus: Factory DDNS Status ok, off, failed;<br/>var th3ddnsstatus: 3rd party DDNS Status ok, off, failed;<br/>var sdstatus: SD Card Status out, ready, read-only;<br/>var sdfreespace: SD free space，KB;<br/>var sdtotalspace: SD total space，KB;<br/></td>
                    </tr>

                    <tr>
                      <th>Remarks</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Device_Info">Param.cgi?cmd=getserverinfo</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getserverinfo</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getserverinfo&amp;cmd=getsysinfo&amp;cmd=getnetinfo&amp;cmd=getinfrared</code></td>
                    </tr>
                  </table>
                </div>
            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2>The Info Overlay</h2>
              <h3>param.cgi?cmd=getsysinfo</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Get INSTAR Camera Model</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Return</th>
                    <td>var devid: INSTAR Camera Model</td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getsysinfo</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getserverinfo&amp;cmd=getsysinfo&amp;cmd=getnetinfo&amp;cmd=getinfrared</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2>The Info Overlay</h2>
              <h3>param.cgi?cmd=getnetinfo</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Get Network Configuration</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Return</th>
                    <td>var dhcpflag: DHCP [on, off];<br/>var ip: LAN IP Address;<br/>var netmask: LAN Network Mask;<br/>var gateway: LAN Gateway;<br/>var dnsstat: DNS Status: 0 (manually), 1 (auto);<br/>var fdnsip: Primary DNS Server;<br/>var sdnsip: Secondary DNS Server;<br/>var macaddress: MAC (LAN or WLAN);<br/>var networktype: [LAN, WLAN];</td>
                  </tr>
                  <tr>
                    <th>Remarks:</th>
                    <td>See also <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Network_Attribute">Param.cgi?cmd=getnetattr</a> and  <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Network_Attribute">Param.cgi?cmd=setnetattr.</a></td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getnetinfo</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getserverinfo&amp;cmd=getsysinfo&amp;cmd=getnetinfo&amp;cmd=getinfrared</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2>The Info Overlay</h2>
              <h3>param.cgi?cmd=getinfrared</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Get IR Light Parameter</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Return</th>
                    <td>infraredstat: IR Status - auto, open or close;</td>
                  </tr>
                  <tr>
                    <th>Remarks:</th>
                    <td>See also <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Infrared_Attribute">Param.cgi?cmd=getinfrared</a> and  <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Infrared_Attribute">Param.cgi?cmd=setinfrared.</a></td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getnetinfo</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getserverinfo&amp;cmd=getsysinfo&amp;cmd=getnetinfo&amp;cmd=getinfrared</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
