<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ------------------------------------------------------------ Reboot ----------------------------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="HD_Manual_WebUI_Alarm_Privacy_Mask">The Privacy Mask Overlay</a></h2>
                <h3>param.cgi?cmd=setcover</h3>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set Privacy Masks</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>region: Privacy Mask [1-4]<br/>show: [0, 1] De/Activate Mask<br/>x: X-Coordinate Origin [0-(1280-w)]<br/>y: Y-Coordinate Origin [0-(720-h)]<br/>w: Mask Width [1-1280] Pixel<br/>h: Mask Height [1-720] Pixel</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="#">Param.cgi?cmd=getcover</a> and <a href="#">Param.cgi?cmd=setcover</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getcover</code><br/><code>http://admin:instar@192.168.178.88/param.cgi?cmd=setcover&-region=1&-show=1&-x=379&-y=231&-w=588&-h=275&cmd=setcover&-region=2&-show=0&-x=1120&-y=0&-w=160&-h=160&cmd=setcover&-region=3&-show=0&-x=0&-y=560&-w=160&-h=160&cmd=setcover&-region=4&-show=0&-x=1120&-y=560&-w=160&-h=160</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
