<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- -------------------------------------------- Reboot ------------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">The IP Configuration Overlay</a><br><small>param.cgi?cmd=setnetattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set your Camera´s Network Configuration</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>dhcp: on (DHCP enabled), off: (DHCP disabled)<br/>ipaddr: LAN IP Address<br/>netmask: LAN Subnet Mask<br/>gateway: LAN Gateway<br/>dnsstat: DNS Status: 0 (manually), 1 (from DHCP Server)<br/>fdnsip: Primary DNS<br/>sdnsip: Secondary DNS<br/>sethttpport: HTTP Port<br/>setrtspport: RTSP Port<br/>setrtspauth&amp;-rtsp_aenable: RTSP Authentication</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Network_Attribute">Param.cgi?cmd=getnetattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Network_Attribute">Param.cgi?cmd=setnetattr</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getnetattr</code><br/><code>http://admin:instar@192.168.178.88/param.cgi?cmd=setnetattr&-dhcp=off&-ipaddr=192.168.1.115&-netmask=255.255.255.0&-gateway=192.168.1.1&-fdnsip=8.8.8.8&cmd=sethttpport&-httpport=80&cmd=setrtspport&-rtspport=554&cmd=setrtspauth&-rtsp_aenable=1</code></td>
                    </tr>
                  </table>
                </div>
            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">The IP Configuration Overlay</a><br><small>param.cgi?cmd=getnetattr</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Set your Camera´s Network Configuration (Without Ports /changing a ports needs a camera restart)</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>dhcp: on (DHCP enabled), off: (DHCP disabled)<br/>ipaddr: LAN IP Address<br/>netmask: LAN Subnet Mask<br/>gateway: LAN Gateway<br/>dnsstat: DNS Status: 0 (manually), 1 (from DHCP Server)<br/>fdnsip: Primary DNS<br/>sdnsip: Secondary DNS</td>
                  </tr>
                  <tr>
                    <th>Return</th>
                    <td>Success, Error</td>
                  </tr>
                  <tr>
                    <th>Remark</th>
                    <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Network_Attribute">Param.cgi?cmd=getnetattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Network_Attribute">Param.cgi?cmd=setnetattr</a></td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getnetattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setnetattr&-dhcp=off&-ipaddr=192.168.1.88&-netmask=255.255.255.0&-gateway=192.168.1.1&-dnsstat=0&-fdnsip=192.168.1.1&-sdnsip=</code></td>
                  </tr>
                </table>
              </div>

              </div>
              <!-- /Row -->

              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">The IP Configuration Overlay</a><br><small>param.cgi?cmd=gethttpport</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set your Camera´s HTTP Port</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_HTTP_Port">Param.cgi?cmd=gethttpport</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_HTTP_Port">Param.cgi?cmd=sethttpport</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=gethttpport</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=sethttpport&-httpport=80</code></td>
                    </tr>
                  </table>
                </div>

                </div>
                <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
