<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- -------------------------------------- IR LEDs ------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/System/IR_LED/">The IR LEDs Overlay</a><br><small>param.cgi?cmd=setinfrared</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set IR Light Parameter</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>infraredstat: IR Status - auto, open and close</td>
                    </tr>
                    <tr>
                      <th>Remarks</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Infrared_Attribute">Param.cgi?cmd=getinfrared</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Infrared_Attribute">Param.cgi?cmd=setinfrared</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setinfrared&-infraredstat=auto</code></td>
                    </tr>
                  </table>
                </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/Web_User_Interface/720p_Series/System/IR_LED/">The IR LEDs Overlay</a><br><small>param.cgi?cmd=setplancgi</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Define a Time Window to Switch IR LEDs from close to auto</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>plancgi_enable_0, plancgi_enable_1: [0,1]<br/>plancgi_time_0, plancgi_time_1: [0 - 86399] in seconds = 0:00:00 - 23:59:59 o´clock</td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setplancgi&-plancgi_enable_0=0&-plancgi_enable_1=0</code><br/>
                    <code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setplancgi&-plancgi_enable_0=1&-plancgi_enable_1=1&-plancgi_time_0=21600&-plancgi_time_1=64800</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
