<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ---------------------------------------- Actions --------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Alarm/Actions/">The Actions Overlay</a><br><small>param.cgi?cmd=setmdalarm</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set Alarm Action Parameter</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>aname:<br/>type：Link Alarm Areas and Alarm-Input [on, off]<br/>email E-mail Alarm / Send Snapshot [on, off]<br/>snap： Save Snapshot to SD [on, off]<br/>ftpsnap：Send Snapshot to FTP Server [on, off]<br/>record：Save Video to SD [on, off]<br/>ftprec：Send Video to FTP Server [on, off]<br/>relay：Alarm Out Relay [on, off]</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Motion_Detection_Alarm_Status">Param.cgi?cmd=getmdalarm</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Motion_Detection_Alarm_Status">Param.cgi?cmd=setmdalarm</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getmdalarm&-aname=email&cmd=getmdalarm&-aname=emailsnap&cmd=getmdalarm&-aname=ftpsnap&cmd=getmdalarm&-aname=snap&cmd=getmdalarm&-aname=emailrec&cmd=getmdalarm&-aname=record&cmd=getmdalarm&-aname=ftprec&cmd=getmdalarm&-aname=relay&-aname=server</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setmdalarm&-aname=type&-switch=on&cmd=setmdalarm&-aname=email&-switch=on&cmd=setmdalarm&-aname=snap&-switch=on&cmd=setmdalarm&-aname=record&-switch=on&cmd=setmdalarm&-aname=ftprec&-switch=on&cmd=setmdalarm&-aname=relay&-switch=on&cmd=setmdalarm&-aname=ftpsnap&-switch=on</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Alarm/Actions/">The Actions Overlay</a><br><small>param.cgi?cmd=setmdalarm</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set Alarm Action Parameter</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>aname:<br/>type：Link Alarm Areas and Alarm-Input [on, off]<br/>email E-mail Alarm / Send Snapshot [on, off]<br/>snap： Save Snapshot to SD [on, off]<br/>ftpsnap：Send Snapshot to FTP Server [on, off]<br/>record：Save Video to SD [on, off]<br/>ftprec：Send Video to FTP Server [on, off]<br/>relay：Alarm Out Relay [on, off]</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Motion_Detection_Alarm_Status">Param.cgi?cmd=getmdalarm</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Motion_Detection_Alarm_Status">Param.cgi?cmd=setmdalarm</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getmdalarm&-aname=email&cmd=getmdalarm&-aname=emailsnap&cmd=getmdalarm&-aname=ftpsnap&cmd=getmdalarm&-aname=snap&cmd=getmdalarm&-aname=emailrec&cmd=getmdalarm&-aname=record&cmd=getmdalarm&-aname=ftprec&cmd=getmdalarm&-aname=relay&-aname=server</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setmdalarm&-aname=type&-switch=on&cmd=setmdalarm&-aname=email&-switch=on&cmd=setmdalarm&-aname=snap&-switch=on&cmd=setmdalarm&-aname=record&-switch=on&cmd=setmdalarm&-aname=ftprec&-switch=on&cmd=setmdalarm&-aname=relay&-switch=on&cmd=setmdalarm&-aname=ftpsnap&-switch=on</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Alarm/Actions/">The Actions Overlay</a><br><small>param.cgi?cmd=setioattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set Input Alarm Parameter</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>io_enable: Enable or Disable Alarm-Input [0,1]<br/>io_flag: Alarm-Input Relais 0 (N.C.) or 1 (N.O.)</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Input_Output_Attribute">Param.cgi?cmd=getioattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Input_Output_Attribute">Param.cgi?cmd=setioattr</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getioattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setioattr&-io_enable=1&-io_flag=0</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Alarm/Actions/">The Actions Overlay</a><br><small>param.cgi?cmd=setrelayattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set Alarm-Out Relay Time-out</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>time: [5,10,20,30] Seconds</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Relay_Delay_Attribute">Param.cgi?cmd=getrelayattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Relay_Delay_Attribute">Param.cgi?cmd=setrelayattr</a>. Use <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Motion_Detection_Alarm_Status">Param.cgi?cmd=setmdalarm&amp;-aname=relay&amp;-switch=[on,off]</a> to De/Activate the Alarm-Out Relay.</td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getrelayattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setrelayattr&-time=5</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Alarm/Actions/">The Actions Overlay</a><br><small>param.cgi?cmd=setalarmsnapattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set Alarm Snapshot Quantity</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>email_snap_count: Alarm Snapshot Quantity by Email [1-8]<br/>snap_count: Alarm Snapshot Quantity to SD Card [1-8]<br/>ftp_snap_count: Alarm Snapshot Quantity to FTP Server [1-8]<br/>snap_chn: Take Snapshot from Channel [11, 12, 13]</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Snap_Quantity_Attribute">Param.cgi?cmd=getalarmsnapattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Snap_Quantity_Attribute">Param.cgi?cmd=setalarmsnapattr</a></a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getalarmsnapattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setalarmsnapattr&-email_snap_count=8&-snap_count=8&-ftp_snap_count=8&-snap_chn=11</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
