<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- --------------------------------------------- Wifi -------------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Network/WiFi/">The WiFi Overlay</a><br><small>param.cgi?cmd=setwirelessattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Configure your Camera´s WiFi</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>wf_enable: 1 (WiFi enabled), 0 (WiFi disabled)<br/>wf_ssid: SSID (max. 32 Characters)<br/>wf_auth: 0 (no encryption), 1 (WEP), 2 (WPA-PSK), 3 (WPA2-PSK)<br/>wf_key: Key max. 63 Characters (Allowed special characters: &amp;="`\)<br/>wf_enc: Key type 0 (TKIP), 1 (AES)<br/>wf_mode: 0 (infra), 1 (ad-hoc)</td>
                    </tr>
                    <tr>
                      <th>Return</th>
                      <td>Success, Error</td>
                    </tr>
                    <tr>
                      <th>Remark</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Wireless_Attribute">Param.cgi?cmd=getwirelessattr</a>, <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Wireless_Attribute">Param.cgi?cmd=setwirelessattr</a>, <a href="/720p_Series_CGI_List/Complete_CGI_List/Search_Wireless">Param.cgi?cmd=searchwireless</a>, <a href="/720p_Series_CGI_List/Complete_CGI_List/Check_Wireless_Attribute">Param.cgi?cmd=chkwirelessattr</a>, <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Check_Wireless_Attribute">Param.cgi?cmd=getchkwireless</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getwirelessattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setwirelessattr&-wf_ssid=linksys&-wf_enable=1&-wf_auth=2&-wf_key=1234567890&-wf_enc=0&-wf_mode=0</code></td>
                    </tr>
                  </table>
                </div>
            </div>
            <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
