<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- ----------------------------------------- Photoseries ---------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">The Photoseries Overlay</a><br><small>param.cgi?cmd=setsnaptimerattrex</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Setup a Interval Snapshot Series</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th rowspan="3">Parameter</th>
                      <td>as_enable: 1 (enable photoseries), 0 (disable photoseries)</td>
                    </tr>
                    <tr>
                      <td>as_interval: Time Interval between Snapshots (1-86400 seconds)</td>
                    </tr>
                    <tr>
                      <td>as_type: snap (Snapshot to SD), email (Snapshot by Email), ftp (Snapshot to FTP Server)</small></td>
                    </tr>
                    <tr>
                      <th>Remarks</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Snapshot_Attributes">Param.cgi?cmd=getsnaptimerattrex</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Snapshot_Attributes">Param.cgi?cmd=setsnaptimerattrex</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getsnaptimerattrex</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setsnaptimerattrex&-as_enable=1&-as_interval=60&-as_type=snap&cmd=setsnaptimerattrex&-as_enable=1&-as_interval=60&-as_type=email&cmd=setsnaptimerattrex&-as_enable=1&-as_interval=60&-as_type=ftp</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">The Photoseries Overlay</a><br><small>param.cgi?cmd=setalarmsnapattr</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Create Snapshots with a fixed Name or Generate it from a Timestamp</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>snap_timer_name: Snapshot Name for Photoseries - leave Empty for Timestamp</td>
                    </tr>
                    <tr>
                      <th>Remarks</th>
                      <td>See <a href="/720p_Series_CGI_List/Complete_CGI_List/Get_Alarm_Snap_Quantity_Attribute">Param.cgi?cmd=getalarmsnapattr</a> and <a href="/720p_Series_CGI_List/Complete_CGI_List/Set_Alarm_Snap_Quantity_Attribute">Param.cgi?cmd=setalarmsnapattr</a></td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getalarmsnapattr</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setalarmsnapattr&-snap_timer_name=snapshot</code></td>
                    </tr>
                  </table>
                </div>

              </div>
              <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
