<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- -------------------------------------- Reboot ------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row">
                  <h2><a href="/Web_User_Interface/720p_Series/System/System_Log/">The System Log Overlay</a><br><small>param.cgi?cmd=logsync</small></h2>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Get Login Data</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>/cgi-bin/hi3510/param.cgi[?cmd=logsync]</code></td>
                      </tr>
                      <tr>
                        <th>Remarks</th>
                        <td>The CGI refreshes the log information after implementation, through the access / log / accesslog.txt.<br/>Note: When device restarts login will be cleared.</td>
                      </tr>
                      <tr>
                        <th>Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=logsync</code><br/><code>http://admin:instar@192.168.178.88/log/syslog.txt</code></td>
                      </tr>
                    </table>
                  </div>

            </div>
            <!-- /Row -->

            <div class="row">
              <h2><a href="/Web_User_Interface/720p_Series/System/System_Log/">The System Log Overlay</a><br><small>param.cgi?cmd=cleanlog</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Clear Login Data</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Syntax</th>
                    <td><code>/cgi-bin/hi3510/param.cgi[?cmd=cleanlog&amp;-name=]</code></td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>name: clean log in info command name access</td>
                  </tr>
                  <tr>
                    <th>Return</th>
                    <td>Success, Error</td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=cleanlog&amp;-name=sys</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
