<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="wrap">
            <div class="container main">

            <!-- -------------------------------------------- Audio ------------------------------------- -->

            <section class="container mt mb"> <!-- Media Container -->
              <div class="row mb">
                <h2><a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">The Audio Overlay</a><br><small>param.cgi?cmd=setaudioinvolume</small></h2>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Function</th>
                      <td>Set the Volume the Audio Input</td>
                    </tr>
                    <tr>
                      <th>Authority</th>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <th>Parameter</th>
                      <td>volume: [1-100]</td>
                    </tr>
                    <tr>
                      <th>Example</th>
                      <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getaudioinvolume</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getaudioinvolume&cmd=getaudiooutvolume&cmd=getmdalarm&-aname=sound</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaudioinvolume&-volume=70</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaudioinvolume&-volume=70&cmd=setaudiooutvolume&-volume=70&cmd=setmdalarm&-aname=sound&-switch=off</code></td>
                    </tr>
                  </table>
                </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">The Audio Overlay</a><br><small>param.cgi?cmd=setaudiooutvolume</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Set the Volume the Audio Output</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>volume: [1-100]</td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getaudiooutvolume</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getaudioinvolume&cmd=getaudiooutvolume&cmd=getmdalarm&-aname=sound</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaudiooutvolume&-volume=70</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaudioinvolume&-volume=70&cmd=setaudiooutvolume&-volume=70&cmd=setmdalarm&-aname=sound&-switch=off</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">The Audio Overlay</a><br><small>param.cgi?cmd=setmdalarm&amp;-aname=sound</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>De/Activate Audioalarm ("Noise Detection")</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th>Parameter</th>
                    <td>switch: [on, off]</td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getmdalarm&-aname=sound</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getaudioinvolume&cmd=getaudiooutvolume&cmd=getmdalarm&-aname=sound</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setmdalarm&-aname=sound&-switch=on</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaudioinvolume&-volume=70&cmd=setaudiooutvolume&-volume=70&cmd=setmdalarm&-aname=sound&-switch=on</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            <div class="row mb">
              <h2><a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">The Audio Overlay</a><br><small>param.cgi?cmd=setaencattr</small></h2>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th>Function</th>
                    <td>Set the Audio Encoder for each Channel</td>
                  </tr>
                  <tr>
                    <th>Authority</th>
                    <td>admin</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Parameter</th>
                    <td>chn: [11, 12, 13] (first, second or third video channel)</td>
                  </tr>
                  <tr>
                    <td>aeformat: [g711a, g726] (<strong>Be aware:</strong> the g726 audio format is not widely supported. It is recommend to leave everything at g711a.)</td>
                  </tr>
                  <tr>
                    <th>Example</th>
                    <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getaencattr&-chn=11</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=getaudioinvolume&cmd=getaudiooutvolume&cmd=getmdalarm&-aname=sound&cmd=getaencattr&-chn=11&cmd=getaencattr&-chn=12&cmd=getaencattr&-chn=13</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaencattr&-chn=11&-aeformat=g711a</code><br/><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=setaudioinvolume&-volume=70&cmd=setaudiooutvolume&-volume=70&cmd=setmdalarm&-aname=sound&-switch=on&cmd=setaencattr&cmd=setaencattr&-chn=11&-aeformat=g711a&cmd=setaencattr&-chn=12&-aeformat=g711a&-chn=13&-aeformat=g726</code></td>
                  </tr>
                </table>
              </div>

            </div>
            <!-- /Row -->

            </section>
             <!-- /Media Container -->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrap -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/content/_social.ejs %></section>
              <!-- /social -->

    <!-- -------------------------------------------- Footer -------------------------------------------- -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
