<% include ../../_partials/template/_head.ejs %>

<body>
    <% include ../../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="container mb">
                <h1>720p CGI Commands - Set Thirdparty DDNS Attribute</h1>
                <hr>
            </div>

            <div class="clearfix"></div>

        <!-- #############################################  Body ############################################# -->

            <div class="container main">

              <section class="row" style="margin-top: 15px;">
                <!-- Media Container -->

                <div class="col-12">

                  <h2>DDNS :: Set Thirdparty DDNS Attribute</h2>
                  <h3>param.cgi?cmd=set3thddnsattr</h3>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Function</th>
                        <td>Set 3rd party DDNSParameter</td>
                      </tr>
                      <tr>
                        <th>Authority</th>
                        <td>admin</td>
                      </tr>
                      <tr>
                        <th>Syntax</th>
                        <td><code>/cgi-bin/hi3510/param.cgi[?cmd=set3thddnsattr.&amp;-d3th_enable=&amp;-d3th_service=&amp;-d3th_uname=&amp;-d3th_passwd=&amp;-d3th_domain=]</code></td>
                      </tr>
                      <tr>
                        <th rowspan="5">Parameter</th>
                        <td>d3th_enable: Enable or Diable 3rd Party DDNS (0, 1)</td>
                      </tr>
                      <tr>
                        <td>d3th_service: DDNS Provider 0 (DynDNS), 1 (NoIP)</td>
                      </tr>
                      <tr>
                        <td>d3th_uname: DDNS Username</td>
                      </tr>
                      <tr>
                        <td>d3th_passwd: DDNS Password</td>
                      </tr>
                      <tr>
                        <td>d3th_domain: DDNS Domain</td>
                      </tr>
                      <tr>
                        <th>Return</th>
                        <td>Success, Error</td>
                      </tr>
                      <tr>
                        <th>Example</th>
                        <td><code>http://admin:instar@192.168.178.88/cgi-bin/hi3510/param.cgi?cmd=set3thddnsattr&-d3th_enable=1&-d3th_service=1&amp;-d3th_uname=sample&amp;-d3th_passwd=1234&amp;-d3th_domain=sample.dyndns.org</code></td>
                      </tr>
                    </table>
                  </div>

                </div>

                </section>  <!-- Close Media Container -->

                <div class="clearfix" style="margin-bottom: 50px;"></div>

          </div>
          <!-- /Container -->

          <section class="webui mb"><% include ../../_partials/content/_webui.ejs %></section>
              <!-- /webui -->

          <section class="social"><% include ../../_partials/template/_social.ejs %></section>
              <!-- /social -->

    <!-- ############################################# Footer ############################################# -->

    <footer><% include ../../_partials/template/_footer.ejs %></footer>

    <% include ../../_partials/template/_jsdefaults.ejs %>

  </div>
  <!-- /Wrapper -->

</body>

</html>
